In [1]:
# Steps below:
'''
1. Verify store location and find the lat/lng, QC with POI and Google
2. Find the zips by store within certain X miles, and label P/S
3. Combine stores into TA based on the overlap
4. Summarize to output
'''

'\n1. Verify store location and find the lat/lng, QC with POI and Google\n2. Find the zips by store within certain X miles, and label P/S\n3. Combine stores into TA based on the overlap\n4. Summarize to output\n'

In [1]:
import pandas as pd
import numpy as np
import datetime
from haversine import haversine
import googlemaps
from fuzzywuzzy import fuzz
import glob
import json
import os
from tqdm import tqdm
import gc

zip_centers=json.load(open("updated_zip_centers_JL_2019-05-23.json","r"))
GoogleMap_key='AIzaSyDxp8O8JKOvbuB6F5DfqyyJMYPPKwIXLdY'
gmaps = googlemaps.Client(key=GoogleMap_key)

/usr/local/lib/python3.6/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

# 1. Store locations

In [2]:
# FW: Merkle Local Demand Toolkit Pilot for Ashley HomeStore
# From: Yoram Greener 2020-11-30 at 5:15 PM
'''
Hey Yoram and Lauren,

This list is actually from last week.  Filter to US locations and make sure they’re not labeled in M as a corporate office or warehouse and we should be good to go.
 
Thanks,
Brad
'''

df_all_stores=pd.ExcelFile("Ashley GMB 11-22-2020.xlsx")
print(df_all_stores.sheet_names)
df_all_stores=df_all_stores.parse("Ungrouped locations-20201122-15",dtype=str)
df_all_stores=df_all_stores[df_all_stores['Country / Region']=="US"]
df_all_stores=df_all_stores[~df_all_stores['Primary category'].isin(['Warehouse','Corporate office'])]

print(df_all_stores.shape)
df_all_stores.head(2)

['Ungrouped locations-20201122-15']
(662, 26)

,Store code,Business name,Address line 1,Address line 2,Address line 3,Locality,Administrative area,Country / Region,Postal code,Primary phone,...,Tuesday hours,Wednesday hours,Thursday hours,Friday hours,Saturday hours,Special hours,From the business,Opening date,Labels,AdWords location extensions phone
0,40,Ashley HomeStore,19820 West Rd,NaN,NaN,Woodhaven,MI,US,48183,(734) 589-1200,...,10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00,"2020-11-25: 10:00-00:00, 2020-11-26: x, 2020-1...",Retail chain with a variety of signature home ...,NaN,"PaidSearch, DSGLocation",+1 734-725-2144
1,39,Ashley HomeStore,35120 Central City Pkwy,NaN,NaN,Westland,MI,US,48185,(734) 589-0700,...,10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00,10:00-21:00,"2020-11-25: 10:00-00:00, 2020-11-26: x, 2020-1...",Retail chain with a variety of signature home ...,NaN,"PaidSearch, DSGLocation",+1 734-672-3511

In [3]:
df_all_stores_1=df_all_stores[pd.notnull(df_all_stores['Store code'])]
# Fill stores without code
df_all_stores_2=df_all_stores[pd.isnull(df_all_stores['Store code'])]
df_all_stores_2['Store code']=range(1,len(df_all_stores_2)+1)
df_all_stores_2['Store code']=df_all_stores_2['Store code'].apply(lambda x: "jubafilled_"+str(x))
df_all_stores = df_all_stores_1.append(df_all_stores_2)
df_all_stores[pd.isnull(df_all_stores['Store code'])]

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Empty DataFrame
Columns: [Store code, Business name, Address line 1, Address line 2, Address line 3, Locality, Administrative area, Country / Region, Postal code, Primary phone, Additional phones, Website, Primary category, Additional categories, Sunday hours, Monday hours, Tuesday hours, Wednesday hours, Thursday hours, Friday hours, Saturday hours, Special hours, From the business, Opening date, Labels, AdWords location extensions phone]
Index: []

[0 rows x 26 columns]

In [10]:
list_dup_store_code = list(df_all_stores[df_all_stores['Store code'].duplicated()]['Store code'])

In [12]:
print(df_all_stores.shape,df_all_stores['Store code'].nunique())
for i in list_dup_store_code:
    df_rest=df_all_stores[df_all_stores['Store code']!=i]
    df_revise=df_all_stores[df_all_stores['Store code']==i]
    df_revise['i']=[str(x) for x in range(len(df_revise))]
    df_revise['Store code']=df_revise['Store code']+"_dupassigned_"+df_revise['i']
    df_all_stores=df_rest.append(df_revise)
    print("original store code is duplicated: %s, so seperated into %i codes and assigned new names"%(i,len(df_revise)))
    
print(df_all_stores.shape,df_all_stores['Store code'].nunique())

(662, 26) 647
original store code is duplicated: 25, so seperated into 2 codes and assigned new names
original store code is duplicated: 24, so seperated into 2 codes and assigned new names
original store code is duplicated: 23, so seperated into 2 codes and assigned new names
original store code is duplicated: 51, so seperated into 2 codes and assigned new names
original store code is duplicated: 59, so seperated into 2 codes and assigned new names
original store code is duplicated: 35, so seperated into 2 codes and assigned new names
original store code is duplicated: 33, so seperated into 2 codes and assigned new names
original store code is duplicated: 44, so seperated into 2 codes and assigned new names
original store code is duplicated: 42, so seperated into 2 codes and assigned new names

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib64/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

original store code is duplicated: 84, so seperated into 2 codes and assigned new names
original store code is duplicated: 50, so seperated into 2 codes and assigned new names
original store code is duplicated: 3, so seperated into 2 codes and assigned new names
original store code is duplicated: 55, so seperated into 2 codes and assigned new names
original store code is duplicated: 34, so seperated into 2 codes and assigned new names
original store code is duplicated: 577, so seperated into 2 codes and assigned new names
(662, 27) 662

In [13]:
df_all_stores=df_all_stores[['Store code','Business name','Address line 1', 'Locality', 'Administrative area',
                             'Postal code','Country / Region']]
df_all_stores['Postal code']=df_all_stores['Postal code'].apply(lambda x: x.split("-")[0].split(" ")[0].zfill(5))
for col in df_all_stores.columns.tolist()[2:-1]:
    print(col)
    df_all_stores[col]=df_all_stores[col].apply(lambda x: x.strip().lower())
df_all_stores['client_address']=df_all_stores[df_all_stores.columns.tolist()[2:-1]].values.tolist()
df_all_stores['client_address']=df_all_stores['client_address'].apply(lambda x: ", ".join(x))

Address line 1
Locality
Administrative area
Postal code

In [14]:
df_all_stores['Postal code'].apply(len).unique()

array([5])

In [15]:
# QC with POI
df_brand_POI=pd.read_csv("/home/safegraph/downloads/places/brand_info/2020/11/06/11/brand_info.csv",dtype=str)
[x for x in df_brand_POI['brand_name'].tolist() if "ashley" in x.lower()]

['Ashley Furniture HomeStore', 'Ashley Stewart']

In [16]:
brand_name='Ashley Furniture HomeStore'

list_poi_files=glob.glob("/home/safegraph/downloads/places/core_poi-geometry/2020/11/06/11/*.csv.gz")
df_POI=pd.DataFrame()
for f in tqdm(list_poi_files):
    df=pd.read_csv(f,dtype=str,nrows=None,compression="gzip")
    df=df[df['brands']==brand_name]
    df_POI=df_POI.append(df)
print(df_POI.shape)
df_POI.head(2)

100%|██████████| 11/11 [02:45<00:00, 15.01s/it]

(693, 29)

,placekey,safegraph_place_id,parent_safegraph_place_id,safegraph_brand_ids,location_name,brands,top_category,sub_category,naics_code,latitude,...,tracking_opened_since,tracking_closed_since,polygon_wkt,polygon_class,building_height,enclosed,phone_number,is_synthetic,includes_parking_lot,iso_country_code
2179,zzy-222@8fy-85t-ch5,sg:95abc95b0aa344eebbb89d023be520fa,sg:07cebdb8f30747c8815a4121e4aff6d9,SG_BRAND_46f27ef73712065fc801247705bf2f3b,Ashley Furniture HomeStore,Ashley Furniture HomeStore,Furniture Stores,Furniture Stores,442110,28.557151,...,2020-01,2019-07,POLYGON ((-81.20346620122336 28.55670539843534...,OWNED_POLYGON,NaN,false,+14073821505,false,NaN,US
5244,zzw-222@8dy-rdc-b6k,sg:662adc68968141a8834b4d3124022e01,NaN,SG_BRAND_46f27ef73712065fc801247705bf2f3b,Ashley Furniture HomeStore,Ashley Furniture HomeStore,Furniture Stores,Furniture Stores,442110,29.966234,...,2020-01,2020-01,POLYGON ((-90.18735498198112 29.96634088975019...,OWNED_POLYGON,NaN,false,+15047338722,false,NaN,US

In [17]:
df_POI.columns.tolist()

['placekey',
 'safegraph_place_id',
 'parent_safegraph_place_id',
 'safegraph_brand_ids',
 'location_name',
 'brands',
 'top_category',
 'sub_category',
 'naics_code',
 'latitude',
 'longitude',
 'street_address',
 'city',
 'region',
 'postal_code',
 'open_hours',
 'category_tags',
 'opened_on',
 'closed_on',
 'tracking_opened_since',
 'tracking_closed_since',
 'polygon_wkt',
 'polygon_class',
 'building_height',
 'enclosed',
 'phone_number',
 'is_synthetic',
 'includes_parking_lot',
 'iso_country_code']

In [18]:
df_POI=df_POI[['safegraph_place_id','location_name','brands','latitude','longitude',
               'street_address','city','region', 'postal_code']]
print(df_POI['postal_code'].apply(len).unique())
list_add_poi=['street_address','city','region', 'postal_code']
df_POI['poi_address']=df_POI[list_add_poi].values.tolist()
df_POI['poi_address']=df_POI['poi_address'].apply(lambda x: ", ".join(x))
df_POI['poi_address']=df_POI['poi_address'].str.lower()
df_POI.head(3)

[5]

,safegraph_place_id,location_name,brands,latitude,longitude,street_address,city,region,postal_code,poi_address
2179,sg:95abc95b0aa344eebbb89d023be520fa,Ashley Furniture HomeStore,Ashley Furniture HomeStore,28.557151,-81.203762,829 N Alafaya Trl Waterford Lakes Mall,Orlando,FL,32828,"829 n alafaya trl waterford lakes mall, orland..."
5244,sg:662adc68968141a8834b4d3124022e01,Ashley Furniture HomeStore,Ashley Furniture HomeStore,29.966234,-90.18705,5151 Citrus Blvd,Elmwood,LA,70123,"5151 citrus blvd, elmwood, la, 70123"
22735,sg:2299f49a196e49a5b95f5e6ef6dee7b3,Ashley Furniture HomeStore,Ashley Furniture HomeStore,41.955596,-91.723678,3750 Williams Blvd SW Ste 400,Cedar Rapids,IA,52404,"3750 williams blvd sw ste 400, cedar rapids, i..."

In [19]:
df_POI.shape,df_POI['poi_address'].nunique()

((693, 10), 693)

In [20]:
dict_add_id=df_POI.set_index("poi_address").to_dict()['safegraph_place_id']
dict_add_lat=df_POI.set_index("poi_address").to_dict()['latitude']
dict_add_lng=df_POI.set_index("poi_address").to_dict()['longitude']

list_keys=df_POI['poi_address'].tolist()

df_all_stores['poi_match_add']=np.nan
df_all_stores['fuzzyratio']=np.nan
df_all_stores['poi_id']=np.nan
df_all_stores['poi_lat']=np.nan
df_all_stores['poi_lng']=np.nan

for ind, row in tqdm(df_all_stores.iterrows()):
    row_add=row['client_address']
    best_r=0
    best_match=""
    for poi_add in list_keys:
        r=fuzz.partial_ratio(row_add,poi_add)
        if r > best_r:
            best_r=r
            best_match=poi_add
    df_all_stores.loc[ind,'poi_match_add']=best_match
    df_all_stores.loc[ind,'fuzzyratio']=best_r
    df_all_stores.loc[ind,'poi_id']=dict_add_id[best_match]
    df_all_stores.loc[ind,'poi_lat']=dict_add_lat[best_match]
    df_all_stores.loc[ind,'poi_lng']=dict_add_lng[best_match]
    
df_all_stores.head(3)

662it [36:48,  3.34s/it]

,Store code,Business name,Address line 1,Locality,Administrative area,Postal code,Country / Region,client_address,poi_match_add,fuzzyratio,poi_id,poi_lat,poi_lng
0,40,Ashley HomeStore,19820 west rd,woodhaven,mi,48183,US,"19820 west rd, woodhaven, mi, 48183","19820 west rd, woodhaven, mi, 48183",100.0,sg:06159e1a322e47d8821a931e841796da,42.14252,-83.224249
1,39,Ashley HomeStore,35120 central city pkwy,westland,mi,48185,US,"35120 central city pkwy, westland, mi, 48185","35120 central city pkwy, westland, mi, 48185",100.0,sg:7a521ee0a2ee49edb5d0058ca08d7924,42.34453,-83.387354
2,9000069082,Ashley HomeStore,1401 golden gate blvd,mayfield heights,oh,44124,US,"1401 golden gate blvd, mayfield heights, oh, 4...","1401 golden gate blvd, mayfield heights, oh, 4...",100.0,sg:03006a11f70c4f16bb3026b0e64efe0f,41.526834,-81.446989

In [21]:
pd.options.display.max_rows=500
df_qc=df_all_stores[df_all_stores['fuzzyratio']>=90]
print(df_qc.shape)
df_qc

(514, 13)

,Store code,Business name,Address line 1,Locality,Administrative area,Postal code,Country / Region,client_address,poi_match_add,fuzzyratio,poi_id,poi_lat,poi_lng
0,40,Ashley HomeStore,19820 west rd,woodhaven,mi,48183,US,"19820 west rd, woodhaven, mi, 48183","19820 west rd, woodhaven, mi, 48183",100.0,sg:06159e1a322e47d8821a931e841796da,42.14252,-83.224249
1,39,Ashley HomeStore,35120 central city pkwy,westland,mi,48185,US,"35120 central city pkwy, westland, mi, 48185","35120 central city pkwy, westland, mi, 48185",100.0,sg:7a521ee0a2ee49edb5d0058ca08d7924,42.34453,-83.387354
2,9000069082,Ashley HomeStore,1401 golden gate blvd,mayfield heights,oh,44124,US,"1401 golden gate blvd, mayfield heights, oh, 4...","1401 golden gate blvd, mayfield heights, oh, 4...",100.0,sg:03006a11f70c4f16bb3026b0e64efe0f,41.526834,-81.446989
3,7710000477,Ashley HomeStore,1340 tapteal dr,richland,wa,99352,US,"1340 tapteal dr, richland, wa, 99352","1340 tapteal dr, richland, wa, 99352",100.0,sg:3a2371ef674943209f227fd7d57f5dd5,46.232317,-119.230554
4,7710000177,Ashley HomeStore,2534 s 9th st,salina,ks,67401,US,"2534 s 9th st, salina, ks, 67401","2534 s 9th st, salina, ks, 67401",100.0,sg:70339e7ec67b47ad847052a44fba4a15,38.794549,-97.614512
...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,55_dupassigned_1,Ashley HomeStore,1584 s route 59,naperville,il,60564,US,"1584 s route 59, naperville, il, 60564","1584 s route 59, naperville, il, 60564",100.0,sg:15b4f72424e64b578fa90e08f3191047,41.740245,-88.204991
226,34_dupassigned_0,Ashley HomeStore,9027 e 71st st,tulsa,ok,74133,US,"9027 e 71st st, tulsa, ok, 74133","9027 e 71st st, tulsa, ok, 74133",100.0,sg:2b32cbcb6d6c493aa11a576788b09f3c,36.061589,-95.876267
717,34_dupassigned_1,Ashley HomeStore,530 s range line rd,joplin,mo,64801,US,"530 s range line rd, joplin, mo, 64801","530 s range line rd, joplin, mo, 64801",100.0,sg:09b0ed4b95334da6a02b35554ffd01f9,37.085276,-94.480089
70,577_dupassigned_0,Ashley HomeStore Outlet,5301 hickory hollow pkwy,antioch,tn,37013,US,"5301 hickory hollow pkwy, antioch, tn, 37013","5301 hickory hollow pkwy, antioch, tn, 37013",100.0,sg:5b5010c4ff8040ab819db69be9426687,36.046446,-86.656352
725,577_dupassigned_1,Ashley HomeStore Outlet,5301 hickory hollow pkwy,antioch,tn,37013,US,"5301 hickory hollow pkwy, antioch, tn, 37013","5301 hickory hollow pkwy, antioch, tn, 37013",100.0,sg:5b5010c4ff8040ab819db69be9426687,36.046446,-86.656352

In [22]:
df_qc=df_all_stores[df_all_stores['fuzzyratio']>=80]
df_qc=df_qc[df_qc['fuzzyratio']<90]
print(df_qc.shape)
df_qc

(65, 13)

,Store code,Business name,Address line 1,Locality,Administrative area,Postal code,Country / Region,client_address,poi_match_add,fuzzyratio,poi_id,poi_lat,poi_lng
23,74,Ashley HomeStore,1722 veterans blvd,mccomb,ms,39648,US,"1722 veterans blvd, mccomb, ms, 39648","1722 veterans blvd ste f1, mccomb, ms, 39648",81.0,sg:095fa341b02a42269a8cb8e4ea48af99,31.262958,-90.47637
27,7710000128,Ashley HomeStore,98-107 kamehameha hwy,aiea,hi,96701,US,"98-107 kamehameha hwy, aiea, hi, 96701","98 107 kamehameha hwy, waimalu, hi, 96701",89.0,sg:17fcf796b9de49179c14f6df2145fd13,21.383077,-157.946486
32,9000348259,Ashley HomeStore Outlet,9791 green park industrial dr,st. louis,mo,63123,US,"9791 green park industrial dr, st. louis, mo, ...","9791 green park industrial dr, green park, mo,...",82.0,sg:e7629f94d7034eefa5b67bee76435c83,38.52495,-90.330832
38,7710000348,Ashley HomeStore,1130 boardman poland rd,youngstown,oh,44514,US,"1130 boardman poland rd, youngstown, oh, 44514","1130 boardman poland rd, boardman, oh, 44514",82.0,sg:1fd4b9f322a34d3780ceee8a0b569992,41.026124,-80.633238
43,7710000394,Ashley HomeStore,2003 n eastman rd,kingsport,tn,37660,US,"2003 n eastman rd, kingsport, tn, 37660","2003 n eastman rd ste 50, kingsport, tn, 37660",82.0,sg:3d2dbca0bb8c4d6688c845c223a5db64,36.543184,-82.516794
48,9000109142,Ashley HomeStore,5503 w saginaw hwy,lansing,mi,48917,US,"5503 w saginaw hwy, lansing, mi, 48917","5503 w saginaw hwy, waverly, mi, 48917",84.0,sg:d4b0572443d74f94a0857360c9bdb502,42.73826,-84.627868
52,7710000501,Ashley HomeStore,230 gihon village,parkersburg,wv,26101,US,"230 gihon village, parkersburg, wv, 26101","230 gihon vlg, parkersburg, wv, 26101",89.0,sg:96d90948272b423dbb7ef3386cb9d22e,39.231562,-81.542965
61,7710000009,Ashley HomeStore,1310 tingle cir e,mobile,al,36606,US,"1310 tingle cir e, mobile, al, 36606","1310 tingle cir e ste h, mobile, al, 36606",83.0,sg:099f173708a245db8c2dd8dd1d69c47c,30.651478,-88.115
73,7710000316,Ashley HomeStore,400 route 211 e,middletown,ny,10940,US,"400 route 211 e, middletown, ny, 10940","400 route 211 e, mechanicstown, ny, 10940",82.0,sg:291818c6c85549ad83c6344bab2ced7a,41.454309,-74.385056
84,9000169172,Ashley HomeStore,101 wyoming valley mall,wilkes barre,pa,18702,US,"101 wyoming valley mall, wilkes barre, pa, 18702","101 wyoming valley mall # 900, wilkes-barre, p...",85.0,sg:d3ea1789062d4c5db99bd6e45f486bb2,41.249902,-75.842815
88,7710000089,Ashley HomeStore,4360 w new haven ave,melbourne,fl,32904,US,"4360 w new haven ave, melbourne, fl, 32904","4360 w new haven ave, june park, fl, 32904",86.0,sg:a7bb976d12804ae9a2f12f3c00e714fd,28.079841,-80.698891
104,7710000091,Ashley HomeStore,14250 tamiami trail north #1,naples,fl,34110,US,"14250 tamiami trail north #1, naples, fl, 34110","14250 tamiami trl n ste 1, naples, fl, 34110",84.0,sg:daf12001dbed48cd9e0fdca05bbc20be,26.300647,-81.802083
106,7710000199,Ashley HomeStore,6610 baltimore national pike,catonsville,md,21228,US,"6610 baltimore national pike, catonsville, md,...","6610 baltimore national pike, woodlawn, md, 21228",82.0,sg:32e49d9956a84886a79ac414d0f94850,39.287783,-76.766069
135,7710000131,Ashley HomeStore,3750 williams blvd sw,cedar rapids,ia,52404,US,"3750 williams blvd sw, cedar rapids, ia, 52404","3750 williams blvd sw ste 400, cedar rapids, i...",83.0,sg:2299f49a196e49a5b95f5e6ef6dee7b3,41.955596,-91.723678
141,9000343876,Ashley HomeStore,297 route 72 w,manahawkin,new jersey,08050,US,"297 route 72 w, manahawkin, new jersey, 08050","297 route 72 w, manahawkin, nj, 08050",81.0,sg:5dada4196adb44e49ec78ab7e9b1e121,39.69749,-74.269118
142,9000037221,Ashley HomeStore,3964 plaza blvd,gainesville,fl,32608,US,"3964 plaza blvd, gainesville, fl, 32608","3964 plaza blvd ste 10, gainesville, fl, 32608",82.0,sg:cbe74c20fb47463f80599f1d73fa74ec,29.628878,-82.383402
156,7710000309,Ashley HomeStore,1648 broadhollow rd,farmingdale,ny,11735,US,"1648 broadhollow rd, farmingdale, ny, 11735","1648 broadhollow rd, east farmingdale, ny, 11735",88.0,sg:b3ab0b512b754e29acbb0b3c44c576d6,40.743879,-73.423519
158,7710000500,Ashley HomeStore,5010 university town centre dr,morgantown,wv,26501,US,"5010 university town centre dr, morgantown, wv...","5010 university town centre dr, granville, wv,...",87.0,sg:b93e8cc52887421590518ce2a9be71ad,39.648256,-80.003823
173,9000117944,Ashley HomeStore,1418 westpark plz,ontario,or,97914,US,"1418 westpark plz, ontario, or, 97914","1418 westpark plz ste 2, ontario, or, 97914",84.0,sg:eab91c89813b42979d07a1541d851725,44.023373,-116.984558
178,7710000465,Ashley HomeStore,4410 s laburnum ave,richmond,va,23231,US,"4410 s laburnum ave, richmond, va, 23231","4410 s laburnum ave, montrose, va, 23231",88.0,sg:2c7bec6ec41a4a5eb92d56456066f6f5,37.527713,-77.358668
191,9000187561,Ashley HomeStore Outlet,1821 ny-110,farmingdale,ny,11735,US,"1821 ny-110, farmingdale, ny, 11735","1821 ny 110, east farmingdale, ny, 11735",83.0,sg:15789f67e3fa476685e33fb762edf4b2,40.745377,-73.421818
205,7710000423,Ashley HomeStore,4520 san bernardo ave,laredo,tx,78041,US,"4520 san bernardo ave, laredo, tx, 78041","4520 san bernardo ave ste 1a, laredo, tx, 78041",82.0,sg:04d96ae7294d4f9289bc51a1700a7401,27.541917,-99.504793
229,47,Ashley HomeStore,5151 citrus blvd,harahan,la,70123,US,"5151 citrus blvd, harahan, la, 70123","5151 citrus blvd, elmwood, la, 70123",81.0,sg:662adc68968141a8834b4d3124022e01,29.966234,-90.18705
239,7710000272,Ashley HomeStore,1001 church rd,cherry hill,nj,08034,US,"1001 church rd, cherry hill, nj, 08034","1001 church rd, cherry hill mall, nj, 08002",87.0,sg:3ae37fd43e054dd389c760aa64e04ee1,39.944433,-75.018775
241,7710000476,Ashley HomeStore,1200 cooper point rd sw,olympia,wa,98502,US,"1200 cooper point rd sw, olympia, wa, 98502","1200 cooper point rd sw ste 518, olympia, wa, ...",81.0,sg:21d93c15f498451d86fe786b3196308a,47.037714,-122.938246
263,7710000472,Ashley HomeStore,14250 smoketown rd,woodbridge,va,22192,US,"14250 smoketown rd, woodbridge, va, 22192","14250 smoketown rd, dale city, va, 22192",80.0,sg:9b300051f21e415caf10a94c92fcad83,38.639368,-77.302047
270,7710000072,Ashley HomeStore,1165 n dupont hwy,dover,de,19901,US,"1165 n dupont hwy, dover, de, 19901","1165 n dupont hwy ste 3, dover, de, 19901",83.0,sg:325b439b22044dcd8484847bbb61711c,39.188746,-75.537214
272,7710000450,Ashley HomeStore,2650 n main st,logan,ut,84341,US,"2650 n main st, logan, ut, 84341","1070 n main st, layton, ut, 84041",84.0,sg:0c6d752dbc654aadbb77bf860ac5a510,41.076086,-111.980293
277,9000450874,Ashley HomeStore Outlet,2215 memorial dr,waycross,ga,31501,US,"2215 memorial dr, waycross, ga, 31501","2215 memorial dr ste 22, waycross, ga, 31501",81.0,sg:5ca9a281a9f643e5a2085fad97e1aa37,31.199081,-82.325034
285,7710000342,Ashley HomeStore,919 n lexington springmill rd,mansfield,oh,44906,US,"919 n lexington springmill rd, mansfield, oh, ...","919 n lexington springmill rd, ontario, oh, 44906",86.0,sg:19ed2c9afcfa40daa1912d3f532d41a7,40.777261,-82.593171
288,9000467663,Ashley HomeStore,1400 nw 167th st,north miami,fl,33169,US,"1400 nw 167th st, north miami, fl, 33169","1400 nw 167th st, miami, fl, 33169",82.0,sg:52817b1c6f6a45279385a744d65f69fa,25.926208,-80.224302
296,7710000311,Ashley HomeStore,1960 w ridge rd,rochester,ny,14626,US,"1960 w ridge rd, rochester, ny, 14626","1960 w ridge rd, greece, ny, 14626",82.0,sg:685ea0cbfec94430aba40a59ca9b64a8,43.209028,-77.679355
299,7710000324,Ashley HomeStore,1895 south rd,poughkeepsie,ny,12601,US,"1895 south rd, poughkeepsie, ny, 12601","1895 south rd ste 90, poughkeepsie, ny, 12601",82.0,sg:2576031c9b994b31a6db581b4dadbf14,41.618062,-73.920137
300,9000451595,Ashley HomeStore,14136 baxter dr,baxter,mn,56425,US,"14136 baxter dr, baxter, mn, 56425","14136 baxter dr ste 1, baxter, mn, 56401",82.0,sg:3b1fed50efce438db6de6d536cc73aeb,46.357039,-94.225514
328,9000451592,Ashley HomeStore,200 upland square dr,pottstown,pa,19464,US,"200 upland square dr, pottstown, pa, 19464","200 upland sq dr, pottstown, pa, 19464",89.0,sg:af8c1684c5ff4654831cffb21d848bcf,40.264771,-75.653304
348,48,Ashley HomeStore,1620 martin luther king jr blvd,houma,la,70360,US,"1620 martin luther king jr blvd, houma, la, 70360","1620 martin luther king jr blvd, bayou cane, l...",86.0,sg:38ec9d8e32324219a09c51c9d0f4f25d,29.611515,-90.749849
356,7710000248,Ashley HomeStore,3932 e franklin blvd,gastonia,nc,28056,US,"3932 e franklin blvd, gastonia, nc, 28056","3932 e franklin blvd, lowell, nc, 28056",82.0,sg:1acaac80b3b94ef2baa44a3a3136403f,35.258635,-81.11064
377,81,Ashley HomeStore,1330 n town east blvd,mesquite,tx,75150,US,"1330 n town east blvd, mesquite, tx, 75150","1330 n town east blvd ste 300, mesquite, tx, 7...",81.0,sg:7e2fc71788cd44518ce2bce9c46e21a2,32.80787,-96.615824
384,7710000117,Ashley HomeStore,840 ernest w barrett pkwy nw,kennesaw,ga,30144,US,"840 ernest w barrett pkwy nw, kennesaw, ga, 30144","840 ernest w barrett pkwy nw ste 400, kennesaw...",84.0,sg:3d291c2efaeb4fda9c6aa862aa5ff9d3,34.008517,-84.576674
388,7710000099,Ashley HomeStore,4650 s tamiami trl,sarasota,fl,34231,US,"4650 s tamiami trl, sarasota, fl, 34231","4650 s tamiami trl, south sarasota, fl, 34231",85.0,sg:5aebaa5d78584e1f8eb97b5c53507435,27.286433,-82.531374
408,7710000054,Ashley HomeStore,6001 redwood dr,rohnert park,ca,94928,US,"6001 redwood dr, rohnert park, ca, 94928","6001 redwood dr # 150, rohnert park, ca, 94928",85.0,sg:a111ca2267e84778b887edc6ff738c63,38.351032,-122.717779
414,m1,Ashley HomeStore & Outlet,9687 colerain ave,cincinnati,oh,45251,US,"9687 colerain ave, cincinnati, oh, 45251","9687 colerain ave, northgate, oh, 45251",82.0,sg:5a0f13e7b21547eea28963c806b1710f,39.244413,-84.597869
415,9000141225,Ashley HomeStore,201 n berkeley blvd,goldsboro,nc,27534,US,"201 n berkeley blvd, goldsboro, nc, 27534","201 n berkeley blvd # 211a, goldsboro, nc, 27534",83.0,sg:1daca1f38db54c61813a6546a83ea051,35.373671,-77.951112
426,72,Ashley HomeStore,6143 u s highway 98,hattiesburg,ms,39402,US,"6143 u s highway 98, hattiesburg, ms, 39402","6143 u s highway 98 ste 110, hattiesburg, ms, ...",81.0,sg:19ed6ce8755e465b8b34a5634b49682f,31.323789,-89.386268
444,7710000492,Ashley HomeStore,1525 e hwy 151,platteville,wi,53818,US,"1525 e hwy 151, platteville, wi, 53818","1525 e business highway 151, platteville, wi, ...",84.0,sg:9093dfe3a44841408f098e818febc1be,42.731784,-90.452665
453,9000480518,Ashley HomeStore,125 w broadway blvd,jefferson city,tn,37760,US,"125 w broadway blvd, jefferson city, tn, 37760","125 w broadway blvd spc 1c, jefferson city, tn...",85.0,sg:4d3104008e104105a29681e17313fa67,36.113614,-83.493789
483,7710000368,Ashley HomeStore,2028 macarthur rd,whitehall,pa,18052,US,"2028 macarthur rd, whitehall, pa, 18052","2028 macarthur rd, fullerton, pa, 18052",82.0,sg:03bb66f42e4148bfa0f53d7973fe876d,40.633706,-75.488318
523,9000038393,Ashley HomeStore,2640 north reserve street,missoula,mt,59808,US,"2640 north reserve street, missoula, mt, 59808","2640 n reserve st, missoula, mt, 59808",84.0,sg:302e7f3ebe27474f8ecf18d93181f760,46.889476,-114.036591
534,7710000325,Ashley HomeStore,3529 w genesee st,syracuse,ny,13219,US,"3529 w genesee st, syracuse, ny, 13219","3529 w genesee st, fairmount, ny, 13219",82.0,sg:a206642cc41f46ccb4431fe3540be89c,43.046823,-76.232256
536,9000170173,Ashley HomeStore,8985 venice blvd,los angeles,ca,90034,US,"8985 venice blvd, los angeles, ca, 90034","8985 venice blvd ste a3, los angeles, ca, 90034",82.0,sg:91eb233197eb4e67b6083fc26cc76ea6,34.027957,-118.392529
542,7710000462,Ashley HomeStore,7378 stream walk ln,manassas,va,20109,US,"7378 stream walk ln, manassas, va, 20109","7378 stream walk ln, bull run, va, 20109",82.0,sg:383c1789a66d4dd184449dee7cb6cfd4,38.796587,-77.523812
580,7710000488,Ashley HomeStore,12185 77th st,kenosha,wi,53142,US,"12185 77th st, kenosha, wi, 53142","12185 77th st, bristol, wi, 53142",82.0,sg:7f5a44f1794c48b898e168b29f00e794,42.563776,-87.954704
610,9000340837,Ashley HomeStore,340 baychester ave,bronx,ny,10475,US,"340 baychester ave, bronx, ny, 10475","340 baychester ave fl 2, bronx, ny, 10475",86.0,sg:a2c5301fce3e4ad898c3353645616efa,40.867745,-73.828389
611,9000076428,Ashley HomeStore,4850 us highway 67,farmington,mo,63640,US,"4850 us highway 67, farmington, mo, 63640","4850 us highway 67, park hills, mo, 63640",83.0,sg:69dc0466d6b64e748f57e764118d45ed,37.821107,-90.460611
613,7710000384,Ashley HomeStore,540 s. garfield avenue,pierre,sd,57501,US,"540 s. garfield avenue, pierre, sd, 57501","540 s garfield ave ste a, pierre, sd, 57501",88.0,sg:08fc5e4329ce40c88968c2fb7e4070d0,44.358815,-100.315837
620,m4,Ashley HomeStore,4530 eastgate blvd,cincinnati,oh,45245,US,"4530 eastgate blvd, cincinnati, oh, 45245","4530 eastgate blvd ste 432, cincinnati, oh, 45245",80.0,sg:860221eeb7644ed293b5fd00d7788a43,39.103893,-84.271936
626,7710000145,Ashley HomeStore,600 east walnut street eastgate shopping center,carbondale,il,62901,US,600 east walnut street eastgate shopping cente...,"600 e. walnut st. eastgate shopping center, ca...",89.0,sg:b2d1de916866483cb75439d88f670d38,37.726608,-89.208009
657,7710000213,Ashley HomeStore,1621 e. madison ave,mankato,mn,56001,US,"1621 e. madison ave, mankato, mn, 56001","1621 madison ave ste c, mankato, mn, 56001",85.0,sg:a0c6e228934f4da1baf75c2d0afa7813,44.166006,-93.962349
660,7710000468,Ashley HomeStore,81 orchard hill cir,staunton,va,24401,US,"81 orchard hill cir, staunton, va, 24401","81 orchard hills cir, jolivue, va, 24401",82.0,sg:1e6024d9302f45349cf27dac22b13611,38.125714,-79.067778
676,7710000119,Ashley HomeStore,2900 stonecrest cir,lithonia,ga,30038,US,"2900 stonecrest cir, lithonia, ga, 30038","2900 stonecrest cir, stonecrest, ga, 30038",82.0,sg:3f166cc8940e465d9477d7114df10417,33.700224,-84.091859
727,9000473730,Ashley HomeStore Outlet,5203 bob bullock loop,laredo,tx,78041,US,"5203 bob bullock loop, laredo, tx, 78041","5203 bob bullock loop # 510, laredo, tx, 78041",85.0,sg:de15a1cd7a394056a65c9718e9746fad,27.544513,-99.449797
728,7710000263,Ashley HomeStore,3201 32nd avenue south,grand forks,nd,58201,US,"3201 32nd avenue south, grand forks, nd, 58201","3201 32nd ave s, grand forks, nd, 58201",82.0,sg:9abff45e30f34c98aab371a297ad243e,47.887197,-97.075418
35,25_dupassigned_0,Ashley HomeStore,2331 hwy k,o'fallon,mo,63368,US,"2331 hwy k, o'fallon, mo, 63368","2331 highway k, o fallon, mo, 63368",84.0,sg:9b4714f930254bcd8db9bf06f343d03d,38.777611,-90.702335
63,24_dupassigned_1,Ashley HomeStore,4432 lemay ferry rd,st louis,mo,63129,US,"4432 lemay ferry rd, st louis, mo, 63129","4432 lemay ferry rd, mehlville, mo, 63129",82.0,sg:10e401196317409eab3a1b01bc056741,38.499092,-90.331193
392,33_dupassigned_1,Ashley HomeStore,9018 n 121st east ave,owasso,ok,74055,US,"9018 n 121st east ave, owasso, ok, 74055","9018 n 121st east ave ste 300, owasso, ok, 74055",80.0,sg:46124736b46e4f40b683d4f723740b3c,36.290108,-95.84355

In [23]:
df_qc=df_all_stores[df_all_stores['fuzzyratio']>=70]
df_qc=df_qc[df_qc['fuzzyratio']<80]
print(df_qc.shape)
df_qc

(58, 13)

,Store code,Business name,Address line 1,Locality,Administrative area,Postal code,Country / Region,client_address,poi_match_add,fuzzyratio,poi_id,poi_lat,poi_lng
19,566,Ashley HomeStore Outlet,5450 highway 153,hixson,tn,37343,US,"5450 highway 153, hixson, tn, 37343","1354 highway 15 s, hutchinson, mn, 55350",71.0,sg:6d4967723edd4e36a159e67842e17051,44.868999,-94.378291
31,210,Ashley HomeStore,651 n business i-35,new braunfels,tx,78130,US,"651 n business i-35, new braunfels, tx, 78130","651 n business ih 35 ste 110, new braunfels, t...",78.0,sg:2a85d11373f549a5bf7a7475585efbc8,29.697474,-98.10013
50,27,Ashley HomeStore,14101 manchester rd,ballwin,mo,63011,US,"14101 manchester rd, ballwin, mo, 63011","14101 manchester rd, manchester, mo, 63011",79.0,sg:4f5a5f624f014031a7530809ea6c44c7,38.595628,-90.495967
55,38,Ashley HomeStore,6298 mills dr,whitestown,in,46075,US,"6298 mills dr, whitestown, in, 46075","6298 mills dr ste 400, whitestown, in, 46075",78.0,sg:e2c8e336f1d94518bca27e98163cd1d6,39.951626,-86.348222
75,7710000375,Ashley HomeStore,108 harbison blvd,columbia,sc,29212,US,"108 harbison blvd, columbia, sc, 29212","108 harbison blvd, irmo, sc, 29212",79.0,sg:e10d7f8a7d6442ca95c16ed968da5e9f,34.066273,-81.168231
80,m7,Ashley HomeStore Outlet,2800 brice rd,reynoldsburg,oh,43068,US,"2800 brice rd, reynoldsburg, oh, 43068","2800 brice rd, columbus, oh, 43068",76.0,sg:1fc3038e1d4446e7a815130734ebe536,39.923872,-82.829138
86,7710000156,Ashley HomeStore,1711 ritchie station ct,capitol heights,md,20743,US,"1711 ritchie station ct, capitol heights, md, ...","1711 ritchie station ct, forestville, md, 20743",74.0,sg:4b8339828f694bea93f4517bd264e090,38.868243,-76.854399
105,7710000318,Ashley HomeStore,80 nardozzi pl,new rochelle,ny,10805,US,"80 nardozzi pl, new rochelle, ny, 10805","80 industrial ln, new rochelle, ny, 10805",77.0,sg:2ba0c044e0414ead8c94e8aa1476ac54,40.897323,-73.796067
115,9000170254,Ashley HomeStore,1540 s main st,blacksburg,va,24060,US,"1540 s main st, blacksburg, va, 24060","1540 s main st ste 120, blacksburg, va, 24060",78.0,sg:6ee048f590a247d1963d1e2edea3c2c9,37.212481,-80.401131
123,9000473266,Ashley HomeStore Outlet,5267 bobby hicks highway,gray,tn,37615,US,"5267 bobby hicks highway, gray, tn, 37615","5267 bobby hicks hwy, johnson city, tn, 37615",73.0,sg:a3997a531e884281868596b9eca52352,36.414477,-82.471788
166,7710000031,Ashley HomeStore,8915 rosedale hwy,bakersfield,ca,93312,US,"8915 rosedale hwy, bakersfield, ca, 93312","8915 rosedale hwy, greenacres, ca, 93312",78.0,sg:12251e0549c9498b9586b383d7816063,35.382829,-119.101458
174,7710000060,Ashley HomeStore,2800 n main st,santa ana,ca,92705,US,"2800 n main st, santa ana, ca, 92705","2800 n main st unit 2100 bldg 2810, santa ana,...",75.0,sg:6b3d8781ea1548efa613aa559bc3adef,33.774283,-117.868842
177,7710000114,Ashley HomeStore,3295 buford dr,buford,ga,30519,US,"3295 buford dr, buford, ga, 30519","3295 buford dr ste 100, buford, ga, 30519",76.0,sg:aafac3bdf3f444559b3a372f887ec136,34.067964,-83.985404
186,9000035153,Ashley HomeStore,750 sunrise hwy,valley stream,ny,11581,US,"750 sunrise hwy, valley stream, ny, 11581","2034 green acres mall, south valley stream, ny...",78.0,sg:1f4c2732d64a44c6a1aed2014b2a8867,40.662451,-73.719303
208,7710000282,Ashley HomeStore,545 route 17 south,paramus,nj,07652,US,"545 route 17 south, paramus, nj, 07652","545 n state rt 17, paramus, nj, 07652",76.0,sg:2ddfbc62e65349188d6649298b50df9a,40.957929,-74.075475
213,274,Ashley HomeStore,17727 tomball parkway,houston,tx,77064,US,"17727 tomball parkway, houston, tx, 77064","17727 state highway 249, houston, tx, 77064",73.0,sg:68c8fcadb94c46e1b89c40fbe7e58684,29.957808,-95.548428
225,9000081607,Ashley HomeStore,3900 sisk rd,modesto,ca,95356,US,"3900 sisk rd, modesto, ca, 95356","3900 sisk rd ste 300, modesto, ca, 95356",75.0,sg:1722e8c3ec72449c82c022bda9e0803c,37.695957,-121.065659
233,7710000085,Ashley HomeStore,4621 river city dr,jacksonville,fl,32246,US,"4621 river city dr, jacksonville, fl, 32246","13265 city square dr, jacksonville, fl, 32218",74.0,sg:f3f2e3d0be714cf4a38b00b0e7d48ffe,30.478605,-81.637774
281,7710000380,Ashley HomeStore,1508b w o. ezell blvd,spartanburg,sc,29301,US,"1508b w o. ezell blvd, spartanburg, sc, 29301","300 w blackstock rd, spartanburg, sc, 29301",73.0,sg:405363389c5a4904858711c04dba79ab,34.941092,-81.99061
289,7710000285,Ashley HomeStore,635 bay ave,toms river,nj,08753,US,"635 bay ave, toms river, nj, 08753","635 bay ave unit 215, toms river, nj, 08753",74.0,sg:3f68694c8cd04280967e20402433f973,39.97546,-74.181104
311,9000036741,Ashley HomeStore,3839 emery st,emeryville,ca,94608,US,"3839 emery st, emeryville, ca, 94608","3839 emery st ste 300, emeryville, ca, 94608",78.0,sg:11e5375826414e208634d78dd83454cc,37.829039,-122.281754
321,m11,Ashley HomeStore,2850 centre dr,fairborn,oh,45324,US,"2850 centre dr, fairborn, oh, 45324","2850 centre dr, beavercreek, oh, 45324",77.0,sg:0c7e64a003784e4b85777d741fde7c1f,39.773165,-84.046758
322,202,Ashley HomeStore,7919 pat booker rd,san antonio,tx,78233,US,"7919 pat booker rd, san antonio, tx, 78233","7919 pat booker rd, live oak, tx, 78233",77.0,sg:2e06bf442259400ca2c6a5f8af73ffc1,29.564877,-98.332058
332,7710000023,Ashley HomeStore,100 w duval mine rd,green valley,az,85614,US,"100 w duval mine rd, green valley, az, 85614","100 w duval mine rd, sahuarita, az, 85614",73.0,sg:21bdd1f5dfec4ab0a0a8fccfb8839b53,31.906416,-110.989083
335,m10,Ashley HomeStore,161 mall woods dr,dayton,oh,45449,US,"161 mall woods dr, dayton, oh, 45449","161 mall woods dr, miamisburg, oh, 45449",75.0,sg:28fe7f67ea29407b85c258ea6cd8be84,39.641698,-84.229334
338,7710000004,Ashley HomeStore,4535 galleria blvd,birmingham,al,35244,US,"4535 galleria blvd, birmingham, al, 35244","4535 galleria blvd, hoover, al, 35244",76.0,sg:915935b12a62461ebe12206de4da5ce4,33.368583,-86.813204
370,7710000025,Ashley HomeStore,3512 lockwood dr,lakeside,az,85929,US,"3512 lockwood dr, lakeside, az, 85929","3512 lockwood dr, pinetop-lakeside, az, 85929",78.0,sg:3852288425364c6492f3c4f757a28b02,34.171655,-110.006617
374,7710000326,Ashley HomeStore,1429 olean portville rd,olean,ny,14760,US,"1429 olean portville rd, olean, ny, 14760","1429 olean portville rd, weston mills, ny, 14760",76.0,sg:53681ecdeee74ec8aaafba04666cbfc1,42.063781,-78.382099
378,7710000201,Ashley HomeStore,801 e pulaski hwy,elkton,md,21921,US,"801 e pulaski hwy, elkton, md, 21921","1174 pulaski hwy, bear, de, 19701",71.0,sg:896db6df88204a558dedb30c155484fb,39.629303,-75.664627
394,7710000048,Ashley HomeStore,9301 tampa ave,northridge,ca,91324,US,"9301 tampa ave, northridge, ca, 91324","9301 tampa ave unit 1401, northridge, ca, 91324",73.0,sg:916eb9ba21654d949586e5ef620c8ae8,34.236445,-118.554397
404,71,Ashley HomeStore,4936 baldwin rd,orion township,mi,48359,US,"4936 baldwin rd, orion township, mi, 48359","4936 s baldwin rd, lake orion, mi, 48359",78.0,sg:67fccd98093244659693d8ca6403e546,42.707377,-83.311109
421,9000187176,Ashley HomeStore,4500 16th st,moline,il,61265,US,"4500 16th st, moline, il, 61265","4500 16th st ste 600, moline, il, 61265",74.0,sg:a79c67c5e8e346709627a5080e97c933,41.467188,-90.503097
459,7710000078,Ashley HomeStore,2499 s ferdon blvd,crestview,fl,32539,US,"2499 s ferdon blvd, crestview, fl, 32539",2499 s ferdon blvd crestview corners shopping ...,75.0,sg:3a955f1036a94a8b9f332b28d20f8a68,30.734941,-86.563758
481,88,Ashley HomeStore,9100 north fwy,fort worth,tx,76177,US,"9100 north fwy, fort worth, tx, 76177","9100 north fwy ste 140, fort worth, tx, 76177",78.0,sg:0c24fa06edb840609d7c1fa2c8e56941,32.903628,-97.315003
498,205,Ashley HomeStore,9900 s ih-35,austin,tx,78748,US,"9900 s ih-35, austin, tx, 78748","9900 s interstate 35 ste c, austin, tx, 78748",71.0,sg:555d1750bb2e4d0f828a0ddebbc6a17f,30.158347,-97.792388
502,9000451583,Ashley HomeStore,590 nj 38,maple shade township,nj,08052,US,"590 nj 38, maple shade township, nj, 08052","590 nj 38, maple shade, nj, 08052",73.0,sg:60c1709ad0bd49bd91b5717e7982e6b0,39.941545,-74.969346
526,278,Ashley HomeStore,100 tx-332,lake jackson,tx,77566,US,"100 tx-332, lake jackson, tx, 77566","100 tx 332 suite 1095, lake jackson, tx, 77566",77.0,sg:4cad9a4d1d1149339a6218f45563e06e,29.04989,-95.457429
529,9000332022,Ashley HomeStore,7200 peach st,erie,pa,16509,US,"7200 peach st, erie, pa, 16509","7200 peach st unit 300, erie, pa, 16509",70.0,sg:fbf53382ff7d4023bf75064a90059ac5,42.053688,-80.089964
541,7710000262,Ashley HomeStore,1600 45th street south,fargo,nd,58103,US,"1600 45th street south, fargo, nd, 58103","1600 45th st s, fargo, nd, 58103",75.0,sg:96c29be8faa24518a21e7c306bc14763,46.85686,-96.860475
564,7710000537,Ashley HomeStore,4281 roswell rd,marietta,ga,30062,US,"4281 roswell rd, marietta, ga, 30062","4281 roswell rd ste 312, marietta, ga, 30062",78.0,sg:d88e6dd836c242f4933b5f7f8e95b29b,33.986604,-84.424899
572,7710000280,Ashley HomeStore,3730 route 1 north,north brunswick,nj,08902,US,"3730 route 1 north, north brunswick, nj, 08902","3730 us highway 1, north brunswick, nj, 08902",78.0,sg:61d49938fb844e889149e44da7590b9b,40.428399,-74.518489
583,9000480971,Ashley HomeStore Outlet,2534 berryhill rd,montgomery,al,36117,US,"2534 berryhill rd, montgomery, al, 36117","2001 eastern blvd, montgomery, al, 36117",75.0,sg:1404906c58e44448ad31a44473307d85,32.353395,-86.217746
586,9000344331,Ashley HomeStore,2600 humes rd,janesville,wi,53545,US,"2600 humes rd, janesville, wi, 53545","2600 humes rd ste 140, janesville, wi, 53545",78.0,sg:8c3054910e5a422681575023751784e8,42.717035,-88.990728
591,7710000092,Ashley HomeStore,3775 n federal hwy,fort lauderdale,fl,33308,US,"3775 n federal hwy, fort lauderdale, fl, 33308","3775 n federal hwy, oakland park, fl, 33308",77.0,sg:a94b9b166d2544a8b2e6e4bd01d52d74,26.173529,-80.120033
615,7710000457,Ashley HomeStore,5871 crossroads ctr,falls church,va,22041,US,"5871 crossroads ctr, falls church, va, 22041","5871 crossroads ctr, bailey's crossroads, va, ...",70.0,sg:eb4e2a545b62466f9bdc02c11685e9e8,38.851799,-77.130065
635,7710000245,Ashley HomeStore,6060 bayfield pkwy,concord,nc,28027,US,"6060 bayfield pkwy, concord, nc, 28027","6060 bayfield pkwy, kannapolis, nc, 28027",76.0,sg:e252a0c444b6422b988902ffd6ba166c,35.419579,-80.676879
662,7710000491,Ashley HomeStore,503 e ives st,marshfield,wi,54449,US,"503 e ives st, marshfield, wi, 54449","503 e ives st ste 300, marshfield, wi, 54449",78.0,sg:05e3fba8921c49b38053bf39859ac631,44.678194,-90.161324
675,7710000050,Ashley HomeStore,34740 monterey ave,palm desert,ca,92211,US,"34740 monterey ave, palm desert, ca, 92211","34740 monterey ave desert gateway plaza, palm ...",71.0,sg:689cef7dd6cc4d33815f444e400fbf29,33.796196,-116.384587
685,9000187971,Ashley HomeStore,3797 osage beach parkway,osage beach,mo,65065,US,"3797 osage beach parkway, osage beach, mo, 65065","3797 osage beach pkwy unit upper c, osage beac...",73.0,sg:0b73dab682dd44fbae57179bbc3abad6,38.160569,-92.60798
715,7710000047,Ashley HomeStore,25125 madison ave,murrieta,ca,92562,US,"25125 madison ave, murrieta, ca, 92562","25125 madison ave ste 106, murrieta, ca, 92562",79.0,sg:32d4bd6b4a2c4041a8cba15f4ccdec99,33.55633,-117.20169
719,7710000206,Ashley HomeStore,8823 pulaski hwy,baltimore,md,21237,US,"8823 pulaski hwy, baltimore, md, 21237","8823 pulaski hwy, middle river, md, 21237",76.0,sg:96389a4aa8e742359868775a24942677,39.33793,-76.477933
723,9000130093,Ashley Homestore,3160 28th st se,grand rapids,mi,49512,US,"3160 28th st se, grand rapids, mi, 49512","3160 28th st se, kentwood, mi, 49512",72.0,sg:284602cd5202439fbbb7c48ce61bec37,42.911848,-85.589642
16,jubafilled_1,Ashley Furniture Customer Pickup,1501 east cooley drive,colton,ca,92324,US,"1501 east cooley drive, colton, ca, 92324","855 ashley way, colton, ca, 92324",73.0,sg:8566c7c414aa43bb925e8fb3d2b440e8,34.056882,-117.299505
49,jubafilled_3,Ashley HomeStore- Distribution Center/Corporat...,12740 kenan dr,jacksonville,fl,32258,US,"12740 kenan dr, jacksonville, fl, 32258","13265 city square dr, jacksonville, fl, 32218",77.0,sg:f3f2e3d0be714cf4a38b00b0e7d48ffe,30.478605,-81.637774
54,jubafilled_4,Stoneledge Furniture LLC,1601 e cooley dr,colton,ca,92324,US,"1601 e cooley dr, colton, ca, 92324","1601 ashley way, colton, ca, 92324",79.0,sg:b655f00875fd4b60ac7088ce6424330e,34.056311,-117.301912
391,44_dupassigned_0,Ashley HomeStore Warehouse,1415 south 3200 west,salt lake city,ut,84104,US,"1415 south 3200 west, salt lake city, ut, 84104","1773 s 300 w, salt lake city, ut, 84115",79.0,sg:ae01277c7c3849289f9e1e38a68cf1e4,40.731373,-111.898985
11,50_dupassigned_0,Ashley Homestore,5029 us-130,delran,nj,08075,US,"5029 us-130, delran, nj, 08075","5029 us 130 suite 250, delran, nj, 08075",70.0,sg:dbcbd78d75dd48e6a61cde23e6d6328d,40.01792,-74.953969
637,50_dupassigned_1,Ashley HomeStore,3625 highway 14,lake charles,la,70607,US,"3625 highway 14, lake charles, la, 70607","3625 gerstner memorial blvd, lake charles, la,...",73.0,sg:491de914f8554c91aa9cd9ff47142064,30.190041,-93.178594

In [24]:
dict_POI_zip=df_POI.set_index("poi_address").to_dict()['postal_code']
df_all_stores['POI_zip']=df_all_stores['poi_match_add'].apply(lambda x: dict_POI_zip[x])
df_all_stores.head(2)

,Store code,Business name,Address line 1,Locality,Administrative area,Postal code,Country / Region,client_address,poi_match_add,fuzzyratio,poi_id,poi_lat,poi_lng,POI_zip
0,40,Ashley HomeStore,19820 west rd,woodhaven,mi,48183,US,"19820 west rd, woodhaven, mi, 48183","19820 west rd, woodhaven, mi, 48183",100.0,sg:06159e1a322e47d8821a931e841796da,42.14252,-83.224249,48183
1,39,Ashley HomeStore,35120 central city pkwy,westland,mi,48185,US,"35120 central city pkwy, westland, mi, 48185","35120 central city pkwy, westland, mi, 48185",100.0,sg:7a521ee0a2ee49edb5d0058ca08d7924,42.34453,-83.387354,48185

In [25]:
df_all_stores.head(2)

,Store code,Business name,Address line 1,Locality,Administrative area,Postal code,Country / Region,client_address,poi_match_add,fuzzyratio,poi_id,poi_lat,poi_lng,POI_zip
0,40,Ashley HomeStore,19820 west rd,woodhaven,mi,48183,US,"19820 west rd, woodhaven, mi, 48183","19820 west rd, woodhaven, mi, 48183",100.0,sg:06159e1a322e47d8821a931e841796da,42.14252,-83.224249,48183
1,39,Ashley HomeStore,35120 central city pkwy,westland,mi,48185,US,"35120 central city pkwy, westland, mi, 48185","35120 central city pkwy, westland, mi, 48185",100.0,sg:7a521ee0a2ee49edb5d0058ca08d7924,42.34453,-83.387354,48185

In [26]:
df_to_Google=df_all_stores[df_all_stores['POI_zip']!=df_all_stores['Postal code']]
df_to_Google=df_to_Google[df_to_Google['fuzzyratio']<80]
df_to_Google.shape

(20, 14)

In [27]:
list_addr_to_google=df_to_Google['client_address'].tolist()
df_all_stores['Google_Address']=np.nan
df_all_stores['Google_lat']=np.nan
df_all_stores['Google_lng']=np.nan

for i, row in df_all_stores.iterrows():
    search_kw=row['client_address']
    if search_kw in list_addr_to_google:
        response=gmaps.geocode(search_kw)[0]
        google_address=response['formatted_address']
        google_lat=response['geometry']['location']['lat']
        google_lng=response['geometry']['location']['lng']

        df_all_stores.loc[i,'Google_Address']=google_address
        df_all_stores.loc[i,'Google_lat']=google_lat
        df_all_stores.loc[i,'Google_lng']=google_lng

In [28]:
df_all_stores.head(2)

,Store code,Business name,Address line 1,Locality,Administrative area,Postal code,Country / Region,client_address,poi_match_add,fuzzyratio,poi_id,poi_lat,poi_lng,POI_zip,Google_Address,Google_lat,Google_lng
0,40,Ashley HomeStore,19820 west rd,woodhaven,mi,48183,US,"19820 west rd, woodhaven, mi, 48183","19820 west rd, woodhaven, mi, 48183",100.0,sg:06159e1a322e47d8821a931e841796da,42.14252,-83.224249,48183,NaN,NaN,NaN
1,39,Ashley HomeStore,35120 central city pkwy,westland,mi,48185,US,"35120 central city pkwy, westland, mi, 48185","35120 central city pkwy, westland, mi, 48185",100.0,sg:7a521ee0a2ee49edb5d0058ca08d7924,42.34453,-83.387354,48185,NaN,NaN,NaN

In [29]:
df_all_stores['source']=np.where(df_all_stores['client_address'].isin(list_addr_to_google),"Google","POI")
df_all_stores['assigned_lat']=np.where(df_all_stores['client_address'].isin(list_addr_to_google),df_all_stores['Google_lat'],df_all_stores["poi_lat"])
df_all_stores['assigned_lng']=np.where(df_all_stores['client_address'].isin(list_addr_to_google),df_all_stores['Google_lng'],df_all_stores["poi_lng"])

df_all_stores.head(2)

,Store code,Business name,Address line 1,Locality,Administrative area,Postal code,Country / Region,client_address,poi_match_add,fuzzyratio,poi_id,poi_lat,poi_lng,POI_zip,Google_Address,Google_lat,Google_lng,source,assigned_lat,assigned_lng
0,40,Ashley HomeStore,19820 west rd,woodhaven,mi,48183,US,"19820 west rd, woodhaven, mi, 48183","19820 west rd, woodhaven, mi, 48183",100.0,sg:06159e1a322e47d8821a931e841796da,42.14252,-83.224249,48183,NaN,NaN,NaN,POI,42.14252,-83.224249
1,39,Ashley HomeStore,35120 central city pkwy,westland,mi,48185,US,"35120 central city pkwy, westland, mi, 48185","35120 central city pkwy, westland, mi, 48185",100.0,sg:7a521ee0a2ee49edb5d0058ca08d7924,42.34453,-83.387354,48185,NaN,NaN,NaN,POI,42.34453,-83.387354

In [30]:
print(df_all_stores.shape)
df_all_stores.groupby("source")['client_address'].count()

(662, 20)

source
Google     20
POI       642
Name: client_address, dtype: int64

# 2. Zips in X miles

In [31]:
P_radius=20
S_radius=40

df_all_stores['P_zips']=np.nan
df_all_stores['S_zips']=np.nan

for ind, row in df_all_stores.iterrows():
    store_loc=(float(row['assigned_lat']),float(row['assigned_lng']))
    list_P=[]
    list_S=[]
    for z, v in zip_centers.items():
        dist=haversine(store_loc, v, unit="mi")
        if dist<=S_radius:
            if dist<=P_radius:
                list_P.append(z)
            else:
                list_S.append(z)
    df_all_stores.loc[ind,'P_zips']=str(list_P)
    df_all_stores.loc[ind,'S_zips']=str(list_S)
df_all_stores['P_zips']=df_all_stores['P_zips'].apply(eval)
df_all_stores['S_zips']=df_all_stores['S_zips'].apply(eval)

In [32]:
df_all_stores.to_csv('Ashley_all_stores.csv')

In [33]:
df_all_stores = pd.read_csv('Ashley_all_stores.csv',index_col=0)

# 3. Creating TA

In [38]:
# Please refer to the other file "TA_creation_1st_version.ipynb"
# General steps:

'''
1. Extract store_id, location, P&S zips
2. Pair up 2 stores through iteration based on interaction of zips
3. Find out single store TA, and other combinations
4. Consider zip overlap and nearest store, continously combining stores into TA (conditions in the other script)
5. With the initial TA cores, put in others 
'''

'\n1. Extract store_id, location, P&S zips\n2. Pair up 2 stores through iteration based on interaction of zips\n3. Find out single store TA, and other combinations\n4. Consider zip overlap and nearest store, continously combining stores into TA (conditions in the other script)\n5. With the initial TA cores, put in others \n'

In [34]:
pd.options.display.max_columns=70
zip_centers=json.load(open("updated_zip_centers_JL_2019-05-23.json","r"))
path_nielsen_zip="Zips by DMA by County16-17 nielsen.xlsx"
num_miles_to_create_TA=40
num_final_inclusion_dist=40

list_str_stores_to_remove=['1280','1288','3605']

print(os.getcwd())
print(datetime.datetime.now())

#client=bigquery.Client()

/home/syin/Mobile POI/to_chris
2020-12-08 11:46:03.354086

In [35]:
output_folder="./output_%s/"%str(datetime.datetime.now().date())
try:
    os.stat(output_folder)
except:
    os.mkdir(output_folder)

In [36]:
df_tmp = df_all_stores[['Store code','P_zips','S_zips']]
df_tmp['P_zips'] = df_tmp['P_zips'].apply(lambda x:x[1:-1].split(','))
df_tmp['S_zips'] = df_tmp['S_zips'].apply(lambda x:x[1:-1].split(','))
df_tmp.reset_index(drop=True,inplace=True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
df_output_PS_40_miles = pd.DataFrame(columns = ['Store code','zip','label'])
for i in range(len(df_tmp['Store code'])):
    #df.Tags.apply(lambda x: x[1:-1].split(','))
    for zip in df_tmp.iloc[i]['P_zips']:
        new_row = {'Store code':df_tmp['Store code'][i], 'zip':zip, 'label':'P'}
        df_output_PS_40_miles = df_output_PS_40_miles.append(new_row, ignore_index=True)
    for zip in df_tmp.iloc[i]['S_zips']:
        new_row = {'Store code':df_tmp['Store code'][i], 'zip':zip, 'label':'S'}
        df_output_PS_40_miles = df_output_PS_40_miles.append(new_row, ignore_index=True)   
df_output_PS_40_miles['zip'] = df_output_PS_40_miles['zip'].map(lambda x: x.strip(' ').strip("'")) 
df_output_PS_40_miles.to_csv('Ashley_PS_40_miles.csv')

In [38]:
#df_output_PS_40_miles = pd.read_csv('Ashley_PS_40_miles.csv',index_col=0,dtype=str)
df_output_PS_40_miles.head(2)

  Store code    zip label
0         40  48209     P
1         40  48208     P

In [39]:
df_all_stores.head(2)

,Store code,Business name,Address line 1,Locality,Administrative area,Postal code,Country / Region,client_address,poi_match_add,fuzzyratio,poi_id,poi_lat,poi_lng,POI_zip,Google_Address,Google_lat,Google_lng,source,assigned_lat,assigned_lng,P_zips,S_zips
0,40,Ashley HomeStore,19820 west rd,woodhaven,mi,48183,US,"19820 west rd, woodhaven, mi, 48183","19820 west rd, woodhaven, mi, 48183",100.0,sg:06159e1a322e47d8821a931e841796da,42.14252,-83.224249,48183,NaN,NaN,NaN,POI,42.14252,-83.224249,"['48209', '48208', '48201', '48207', '48204', ...","['48205', '49238', '48012', '48017', '48015', ..."
1,39,Ashley HomeStore,35120 central city pkwy,westland,mi,48185,US,"35120 central city pkwy, westland, mi, 48185","35120 central city pkwy, westland, mi, 48185",100.0,sg:7a521ee0a2ee49edb5d0058ca08d7924,42.34453,-83.387354,48185,NaN,NaN,NaN,POI,42.34453,-83.387354,"['48209', '48208', '48201', '48207', '48204', ...","['48205', '49238', '48015', '48367', '48360', ..."

In [40]:
df_output_PS_40_miles = df_output_PS_40_miles.merge(df_all_stores[['Store code','assigned_lat','assigned_lng']],
                                                    on = ['Store code'],how = 'left')

In [41]:
df_output_PS_40_miles.columns = ['store_id','zip_5','trans_label','latitude','longitude']
def add_df_dist(zip_5,lat,lng):
    try:
        return haversine(zip_centers[zip_5],(lat,lng),unit="mi")
    except:
        return np.nan
df_output_PS_40_miles['dist_miles']=df_output_PS_40_miles.apply(lambda x: add_df_dist(x['zip_5'],x['latitude'],x['longitude']),axis=1)

In [42]:
print(df_output_PS_40_miles[pd.isnull(df_output_PS_40_miles['dist_miles'])].shape)
# since only 1, drop it
df_output_PS_40_miles=df_output_PS_40_miles[pd.notnull(df_output_PS_40_miles['dist_miles'])]

(1, 6)

In [43]:
print(df_output_PS_40_miles.shape)
df_output_PS_40_miles.head()

(127250, 6)

  store_id  zip_5 trans_label  latitude  longitude  dist_miles
0       40  48209           P  42.14252 -83.224249   12.668971
1       40  48208           P  42.14252 -83.224249   15.725997
2       40  48201           P  42.14252 -83.224249   16.419021
3       40  48207           P  42.14252 -83.224249   17.537817
4       40  48204           P  42.14252 -83.224249   16.057076

In [44]:
df_store_zip_both=df_output_PS_40_miles[['store_id','trans_label','zip_5','latitude','longitude']].rename(columns={"zip_5":"zip_list_P_and_S"}).drop_duplicates()
df_store_zip_both=df_store_zip_both.groupby(["store_id",'latitude','longitude'])['zip_list_P_and_S'].apply(set).to_frame().reset_index()
df_store_zip_both['zip_list_P_and_S']=df_store_zip_both['zip_list_P_and_S'].apply(lambda x: list(x))

df_store_zip_P=df_output_PS_40_miles[df_output_PS_40_miles['trans_label']=="P"]
df_store_zip_P=df_store_zip_P[['store_id','trans_label','zip_5','latitude','longitude']].rename(columns={"zip_5":"zip_list_P"}).drop_duplicates()
df_store_zip_P=df_store_zip_P.groupby(["store_id",'latitude','longitude'])['zip_list_P'].apply(set).to_frame().reset_index()
df_store_zip_P['zip_list_P']=df_store_zip_P['zip_list_P'].apply(lambda x: list(x))

df_store_zip_S=df_output_PS_40_miles[df_output_PS_40_miles['trans_label']=="S"]
df_store_zip_S=df_store_zip_S[['store_id','trans_label','zip_5','latitude','longitude']].rename(columns={"zip_5":"zip_list_S"}).drop_duplicates()
df_store_zip_S=df_store_zip_S.groupby(["store_id",'latitude','longitude'])['zip_list_S'].apply(set).to_frame().reset_index()
df_store_zip_S['zip_list_S']=df_store_zip_S['zip_list_S'].apply(lambda x: list(x))

df_store_zip=pd.merge(df_store_zip_both,df_store_zip_P,on=["store_id",'latitude','longitude'],how="outer")
df_store_zip=pd.merge(df_store_zip,df_store_zip_S,on=["store_id",'latitude','longitude'],how="outer")

In [45]:
df_store_zip.shape

(662, 6)

In [46]:
df_store_zip_0=df_store_zip.copy()

df_store_zip.columns=["store_A_"+x for x in df_store_zip.columns.tolist()]
df_store_zip_0.columns=["store_B_"+x for x in df_store_zip_0.columns.tolist()]

df_store_zip['key']=1
df_store_zip_0['key']=1

df_store_zip=pd.merge(df_store_zip,df_store_zip_0,on="key",how="outer")
del df_store_zip_0


df_store_zip=df_store_zip[df_store_zip['store_A_store_id']!=df_store_zip['store_B_store_id']]
df_store_zip=df_store_zip.reset_index()
del df_store_zip['index']
del df_store_zip['key']

gc.collect()

833

In [47]:
def find_intersection(list_1,list_2):
    return list(set(list_1).intersection(set(list_2)))
def dist_miles(lat_1,log_1,lat_2,log_2):
    return haversine((lat_1,log_1),(lat_2,log_2),unit="mi")

In [48]:
df_store_zip['intersection_both_P_S']=df_store_zip.apply(lambda x: find_intersection(x['store_A_zip_list_P_and_S'],x['store_B_zip_list_P_and_S']),axis=1)

df_store_zip['count_of_overlap_zips']=df_store_zip['intersection_both_P_S'].apply(lambda x: len(x))
df_store_zip['count_of_A_zips']=df_store_zip['store_A_zip_list_P_and_S'].apply(lambda x: len(x))
df_store_zip['count_of_B_zips']=df_store_zip['store_B_zip_list_P_and_S'].apply(lambda x: len(x))
df_store_zip['total_zips']=df_store_zip['count_of_A_zips']+df_store_zip['count_of_B_zips']-df_store_zip['count_of_overlap_zips']

df_store_zip['overlap_pctg']=df_store_zip['count_of_overlap_zips']/df_store_zip['total_zips']

df_store_zip=df_store_zip[df_store_zip['count_of_overlap_zips']>0]

df_store_zip['dist_between_stores']=df_store_zip.apply(lambda x: dist_miles(x['store_A_latitude'],x['store_A_longitude'],x['store_B_latitude'],x['store_B_longitude']),axis=1)
df_store_zip=df_store_zip.reset_index()
del df_store_zip['index']

In [49]:
df_store_zip.to_csv("df_store_zip_"+str(datetime.datetime.now().date())+".csv",index=False)

In [50]:
def store_pair_func(store_A,store_B):
    return sorted([store_A,store_B])
df_store_zip_unique_pairs=df_store_zip.copy()
df_store_zip_unique_pairs['store_pair']=df_store_zip_unique_pairs.apply(lambda x: store_pair_func(x['store_A_store_id'],x['store_B_store_id']),axis=1)
df_store_zip_unique_pairs['store_pair_str']=df_store_zip_unique_pairs['store_pair'].astype(str)
df_store_zip_unique_pairs=df_store_zip_unique_pairs.sort_values(['store_pair_str','store_A_store_id','store_B_store_id'])
df_store_zip_unique_pairs=df_store_zip_unique_pairs.drop_duplicates("store_pair_str")
df_store_zip_unique_pairs.to_csv("df_store_zip_unique_pairs_"+str(datetime.datetime.now().date())+".csv",index=False)

In [51]:
df_store_zip_unique_pairs['overlap_group']=np.where(df_store_zip_unique_pairs['overlap_pctg']>0.2,"20%+",
                                                   np.where(df_store_zip_unique_pairs['overlap_pctg']>0.15,"15%-20%",
                                                           np.where(df_store_zip_unique_pairs['overlap_pctg']>0.1,"10%-15%",
                                                                   np.where(df_store_zip_unique_pairs['overlap_pctg']>0.05,'5%-10%',
                                                                           np.where(df_store_zip_unique_pairs['overlap_pctg']>0.03,'3%-5%',"<3%")
                                                                           )
                                                                   )
                                                           )
                                                   )

df_store_zip_unique_pairs['dist_group']=np.where(df_store_zip_unique_pairs['dist_between_stores']>28,"28+ miles",
                                                   np.where(df_store_zip_unique_pairs['dist_between_stores']>20,"20-28 miles",
                                                           np.where(df_store_zip_unique_pairs['dist_between_stores']>10,"10-20 miles","0-10 miles")
                                                           )
                                                   )
df_summary_overlap_dist_group_pair_count=df_store_zip_unique_pairs.groupby(['overlap_group','dist_group'])['store_pair_str'].count().to_frame().reset_index().rename(columns={"store_pair_str":"pairs_count"})
df_summary_overlap_dist_group_unique_stores=df_store_zip_unique_pairs.groupby(['overlap_group','dist_group'])['store_pair'].sum().to_frame().reset_index().rename(columns={"store_pair":"stores_involved"})

df_store_zip_unique_pairs['zips_P_S_40_both_stores']=df_store_zip_unique_pairs['store_B_zip_list_P_and_S']+df_store_zip_unique_pairs['store_A_zip_list_P_and_S']
df_store_zip_unique_pairs['zips_P_S_40_both_stores']=df_store_zip_unique_pairs['zips_P_S_40_both_stores'].apply(lambda x: list(set(x)))
df_summary_overlap_dist_group_unique_zips=df_store_zip_unique_pairs.groupby(['overlap_group','dist_group'])['zips_P_S_40_both_stores'].sum().to_frame().reset_index().rename(columns={"zips_P_S_40_both_stores":"zips_involved"})

In [52]:
sort_dict={"<3%":1,"3%-5%":2,"5%-10%":3,"10%-15%":4,"15%-20%":5,"20%+":6}

df_summary_pivot_pair=df_summary_overlap_dist_group_pair_count.pivot_table(index="overlap_group",columns='dist_group',values="pairs_count").reset_index()
df_summary_pivot_pair['sort']=df_summary_pivot_pair['overlap_group'].apply(lambda x: sort_dict[x])
df_summary_pivot_pair=df_summary_pivot_pair.sort_values("sort").reset_index()
del df_summary_pivot_pair['sort']
del df_summary_pivot_pair['index']


df_summary_overlap_dist_group_unique_stores['stores_involved']=df_summary_overlap_dist_group_unique_stores['stores_involved'].apply(lambda x: set(x))
df_summary_overlap_dist_group_unique_stores['store_count_involved']=df_summary_overlap_dist_group_unique_stores['stores_involved'].apply(lambda x: len(x))

df_summary_pivot_store=df_summary_overlap_dist_group_unique_stores.pivot_table(index="overlap_group",columns='dist_group',values="store_count_involved").reset_index()
df_summary_pivot_store['sort']=df_summary_pivot_store['overlap_group'].apply(lambda x: sort_dict[x])
df_summary_pivot_store=df_summary_pivot_store.sort_values("sort").reset_index()
del df_summary_pivot_store['sort']
del df_summary_pivot_store['index']

In [53]:
df_summary_overlap_dist_group_unique_zips['zips_involved']=df_summary_overlap_dist_group_unique_zips['zips_involved'].apply(lambda x: set(x))
df_summary_overlap_dist_group_unique_zips['zip_count_involved']=df_summary_overlap_dist_group_unique_zips['zips_involved'].apply(lambda x: len(x))

df_summary_pivot_zip=df_summary_overlap_dist_group_unique_zips.pivot_table(index="overlap_group",columns='dist_group',values="zip_count_involved").reset_index()
df_summary_pivot_zip['sort']=df_summary_pivot_zip['overlap_group'].apply(lambda x: sort_dict[x])
df_summary_pivot_zip=df_summary_pivot_zip.sort_values("sort").reset_index()
del df_summary_pivot_zip['sort']
del df_summary_pivot_zip['index']

In [54]:
dist_group=df_store_zip_unique_pairs.groupby(['dist_group'])['store_pair'].sum().to_frame().reset_index().rename(columns={"store_pair":"unique_store_list"})
dist_group['unique_store_list']=dist_group['unique_store_list'].apply(lambda x: list(set(x)))
dist_group['unique_store_count']=dist_group['unique_store_list'].apply(lambda x: len(x))

dist_group_pair_count=df_store_zip_unique_pairs.groupby(['dist_group'])['store_pair'].count().to_frame().reset_index().rename(columns={"store_pair":"pair_counts"})

dist_group=pd.merge(dist_group,dist_group_pair_count,on="dist_group")

In [55]:
df_output_PS_40_miles.head()

  store_id  zip_5 trans_label  latitude  longitude  dist_miles
0       40  48209           P  42.14252 -83.224249   12.668971
1       40  48208           P  42.14252 -83.224249   15.725997
2       40  48201           P  42.14252 -83.224249   16.419021
3       40  48207           P  42.14252 -83.224249   17.537817
4       40  48204           P  42.14252 -83.224249   16.057076

In [56]:
df_sales_by_zip = df_output_PS_40_miles.copy() # original store and zip id from client. ATTENTION!!!!
df_all_P_zips_by_store=df_sales_by_zip[df_sales_by_zip['trans_label']=="P"].groupby(['store_id'])['zip_5'].apply(list).to_frame().reset_index().rename(columns={"zip_5":"all_P_zips"})
df_all_S_zips_by_store=df_sales_by_zip[df_sales_by_zip['trans_label']=="S"].groupby(['store_id'])['zip_5'].apply(list).to_frame().reset_index().rename(columns={"zip_5":"all_S_zips"})

dist_mile = 40
df_40_miles_P_zips_by_store=df_sales_by_zip[(df_sales_by_zip['trans_label']=="P") & (df_sales_by_zip['dist_miles']<=dist_mile)].groupby(['store_id'])['zip_5'].apply(list).to_frame().reset_index().rename(columns={"zip_5":"40_miles_P_zips"})
df_40_miles_S_zips_by_store=df_sales_by_zip[(df_sales_by_zip['trans_label']=="S") & (df_sales_by_zip['dist_miles']<=dist_mile)].groupby(['store_id'])['zip_5'].apply(list).to_frame().reset_index().rename(columns={"zip_5":"40_miles_S_zips"})

df_P_S_zips_by_store=pd.merge(df_all_P_zips_by_store,df_all_S_zips_by_store,on="store_id",how="outer")
df_P_S_zips_by_store=pd.merge(df_P_S_zips_by_store,df_40_miles_P_zips_by_store,on="store_id",how="outer")
df_P_S_zips_by_store=pd.merge(df_P_S_zips_by_store,df_40_miles_S_zips_by_store,on="store_id",how="outer")
df_P_S_zips_by_store=df_P_S_zips_by_store.fillna("[]")
df_P_S_zips_by_store['all_P_zips']=df_P_S_zips_by_store['all_P_zips'].astype(str).apply(lambda x: eval(x))
df_P_S_zips_by_store['all_S_zips']=df_P_S_zips_by_store['all_S_zips'].astype(str).apply(lambda x: eval(x))
df_P_S_zips_by_store['40_miles_P_zips']=df_P_S_zips_by_store['40_miles_P_zips'].astype(str).apply(lambda x: eval(x))
df_P_S_zips_by_store['40_miles_S_zips']=df_P_S_zips_by_store['40_miles_S_zips'].astype(str).apply(lambda x: eval(x))

In [57]:
print(df_P_S_zips_by_store.shape)
df_P_S_zips_by_store.head(2)

(662, 5)

,store_id,all_P_zips,all_S_zips,40_miles_P_zips,40_miles_S_zips
0,1,"[38313, 38392, 38391, 38366, 38362, 38338, 383...","[38037, 38036, 38034, 38316, 38315, 38310, 383...","[38313, 38392, 38391, 38366, 38362, 38338, 383...","[38037, 38036, 38034, 38316, 38315, 38310, 383..."
1,10,"[72901, 72905, 72904, 72918, 74936, 74902, 749...","[74930, 74931, 72821, 72774, 72951, 72958, 729...","[72901, 72905, 72904, 72918, 74936, 74902, 749...","[74930, 74931, 72821, 72774, 72951, 72958, 729..."

In [58]:
df_P_S_zips_by_store['store_id'].nunique()

662

In [59]:
def dist_of_2_str_stores(pair_stores_str):
    pair_stores_str=eval(pair_stores_str)
    store_a=pair_stores_str[0]
    store_b=pair_stores_str[1]
    dist=haversine([dict_store_lat[store_a],dict_store_lng[store_a]],[dict_store_lat[store_b],dict_store_lng[store_b]],unit="mi")
    return dist

# Only used in below loop
def find_nearest_store(store_id):
    shortest_dist=99999
    nearest_store=np.nan
    for i_store in df_store_address['store_id'].tolist():
        if i_store!=store_id:
            dist=haversine([dict_store_lat[store_id],dict_store_lng[store_id]],[dict_store_lat[i_store],dict_store_lng[i_store]],unit="mi")
            if dist<shortest_dist:
                shortest_dist=dist
                nearest_store=i_store
    return nearest_store, shortest_dist

def find_overlaped_stores(store_id):
    df=df_store_zip_unique_pairs[df_store_zip_unique_pairs['store_pair'].apply(lambda x: store_id in x)]
    df=df.sort_values('overlap_pctg',ascending=True).reset_index()
    min_overlap_pctg=df.loc[0,'overlap_pctg']
    min_overlap_store_pair_str=df.loc[0,'store_pair_str']
    
    max_overlap_pctg=df.loc[len(df)-1,'overlap_pctg']
    max_overlap_store_pair_str=df.loc[len(df)-1,'store_pair_str']
    
    return min_overlap_pctg,min_overlap_store_pair_str,max_overlap_pctg,max_overlap_store_pair_str

In [60]:
dist_group.head(3)

,dist_group,unique_store_list,unique_store_count,pair_counts
0,0-10 miles,"[65, 7710000043, 9000417563, jubafilled_2, 900...",197,148
1,10-20 miles,"[7710000367, 65, 7710000043, 9000417563, 77100...",313,389
2,20-28 miles,"[9000104955, 7710000367, 65, 7710000043, 90004...",304,333

In [61]:
#df_store_included['zip_cd']=df_store_included['zip_cd'].apply(lambda x: x.split("-")[0].zfill(5))
#df_store_address=df_store_included[['store_num','address_1','city','state','zip_cd','latitude','longitude']]
#df_store_address=df_store_address.rename(columns={"store_num":"store_id"})
df_store_address = df_all_stores[['Store code','Address line 1','Locality','Administrative area','Postal code',
                                    'assigned_lat','assigned_lng']]
df_store_address.columns = ['store_id','address_1','city','state','zip_cd','latitude','longitude']

In [62]:
dict_store_lat=df_store_address.set_index("store_id").to_dict()['latitude']
dict_store_lng=df_store_address.set_index("store_id").to_dict()['longitude']

In [63]:
dist_group

,dist_group,unique_store_list,unique_store_count,pair_counts
0,0-10 miles,"[65, 7710000043, 9000417563, jubafilled_2, 900...",197,148
1,10-20 miles,"[7710000367, 65, 7710000043, 9000417563, 77100...",313,389
2,20-28 miles,"[9000104955, 7710000367, 65, 7710000043, 90004...",304,333
3,28+ miles,"[9000104955, 65, 7710000341, 9000076428, 77100...",592,2492

In [64]:
# Writer out the stores by each distance group and the overlap group
# To review the excel

nearest_store_dist_criteria_dict={"0-10 miles":0,"10-20 miles":10,"20-28 miles":20,"28+ miles":28}

writer=pd.ExcelWriter(output_folder+"Ashley_new_TA_pair_dist_table_summary_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
dist_group.to_excel(writer,"pairs_and_stores_by_pair_dist",index=False)

ordered_cols=['dist_group','store_id','address_1','city','state','zip_cd','latitude','longitude',
              'all_P_zips','all_S_zips','All_P&S_zips','40_miles_P_zips','40_miles_S_zips','All_P&S_zips_40_miles',
              'nearest_store','dist_to_nearest_store',
              'max_overlap_store','max_overlap_pctg','dist_max_overlap_pairs',
              'min_overlap_pctg','min_overlap_store','dist_min_overlap_pairs']

all_paired_group_store_df=pd.DataFrame(columns=ordered_cols)
all_single_store_df=pd.DataFrame(columns=['nearest_store_dist_criteria']+ordered_cols)
all_high_overlap_store_df=pd.DataFrame(columns=ordered_cols)

for dist,group in dist_group.groupby("dist_group"):
    store_list_in_dist_group=group['unique_store_list'].values[0]
    df_store_zip_unique_pairs_removed=df_store_zip_unique_pairs[(~df_store_zip_unique_pairs['store_A_store_id'].isin(store_list_in_dist_group)) &\
                                                                 (~df_store_zip_unique_pairs['store_B_store_id'].isin(store_list_in_dist_group))]

    df_removed_pairs_rows=df_store_zip_unique_pairs[df_store_zip_unique_pairs['dist_group']==dist]
    df_store_zip_unique_pairs_removed_stores=df_store_zip_unique_pairs[(df_store_zip_unique_pairs['store_A_store_id'].isin(store_list_in_dist_group)) |\
                                                                 (df_store_zip_unique_pairs['store_B_store_id'].isin(store_list_in_dist_group))]
    
    df_removed_stores_1=pd.DataFrame({"store_id":store_list_in_dist_group})
    df_removed_stores_1=pd.merge(df_removed_stores_1,df_store_address,on="store_id",how="left")
    df_removed_stores_1=pd.merge(df_removed_stores_1,df_P_S_zips_by_store,on="store_id",how="left")
    
    df_removed_stores_1['nearest_store']=df_removed_stores_1['store_id'].apply(lambda x: find_nearest_store(x)[0])
    df_removed_stores_1['dist_to_nearest_store']=df_removed_stores_1['store_id'].apply(lambda x: find_nearest_store(x)[1])

    df_removed_stores_1['min_overlap_pctg']=df_removed_stores_1['store_id'].apply(lambda x: find_overlaped_stores(x)[0])
    df_removed_stores_1['min_overlap_store']=df_removed_stores_1['store_id'].apply(lambda x: find_overlaped_stores(x)[1])
    df_removed_stores_1['max_overlap_pctg']=df_removed_stores_1['store_id'].apply(lambda x: find_overlaped_stores(x)[2])
    df_removed_stores_1['max_overlap_store']=df_removed_stores_1['store_id'].apply(lambda x: find_overlaped_stores(x)[3])

    df_removed_stores_1['All_P&S_zips']=df_removed_stores_1['all_P_zips']+df_removed_stores_1['all_S_zips']
    df_removed_stores_1['All_P&S_zips_40_miles']=df_removed_stores_1['40_miles_P_zips']+df_removed_stores_1['40_miles_S_zips']

    df_removed_stores_1['dist_min_overlap_pairs']=df_removed_stores_1['min_overlap_store'].apply(lambda x: dist_of_2_str_stores(x))
    df_removed_stores_1['dist_max_overlap_pairs']=df_removed_stores_1['max_overlap_store'].apply(lambda x: dist_of_2_str_stores(x))
    df_removed_stores_1['dist_group']=dist
        
    df_removed_stores_1=df_removed_stores_1[ordered_cols]
    df_removed_stores_1=df_removed_stores_1.sort_values("dist_to_nearest_store",ascending=False)
    
    
    nearest_store_dist_criteria=nearest_store_dist_criteria_dict[dist]
    single_store_df=df_removed_stores_1[(df_removed_stores_1['dist_to_nearest_store']>nearest_store_dist_criteria) &\
                                        (df_removed_stores_1['max_overlap_pctg']<=0.15)]
    single_store_df['nearest_store_dist_criteria']=nearest_store_dist_criteria
    
    # Cretio for high overlap below
    high_overlap_store_df=df_removed_stores_1[(df_removed_stores_1['dist_to_nearest_store']<=10) &\
                                        (df_removed_stores_1['max_overlap_pctg']>=0.5)]
       
    df_removed_stores_1.to_excel(writer,dist+"_all_stores",index=False)
    
    
    all_paired_group_store_df=all_paired_group_store_df.append(df_removed_stores_1)
    all_single_store_df=all_single_store_df.append(single_store_df)

    all_high_overlap_store_df=all_high_overlap_store_df.append(high_overlap_store_df)
    

def clean_list_col(df):
    for col in df.columns.tolist():
        if df[col].apply(lambda x: type(x)).unique()[0]==list:
            df[col]=df[col].astype(str)
    return df
            
all_single_store_df=clean_list_col(all_single_store_df)
all_paired_group_store_df=clean_list_col(all_paired_group_store_df)
all_high_overlap_store_df=clean_list_col(all_high_overlap_store_df)

all_single_store_df=all_single_store_df.drop_duplicates()
all_paired_group_store_df=all_paired_group_store_df.drop_duplicates()
all_high_overlap_store_df=all_high_overlap_store_df.drop_duplicates()

all_single_store_df=all_single_store_df[['nearest_store_dist_criteria']+ordered_cols]
all_single_store_df.to_excel(writer,"all_single_store_df",index=False)
all_paired_group_store_df.to_excel(writer,"all_paired_group_store_df",index=False)
all_high_overlap_store_df.to_excel(writer,"all_high_overlap_store_df",index=False)

all_unique_high_overlap_stores=all_high_overlap_store_df.copy()
del all_high_overlap_store_df['dist_group']
all_high_overlap_store_df=all_high_overlap_store_df.drop_duplicates()
all_high_overlap_store_df=all_high_overlap_store_df.sort_values(["state",'city','dist_to_nearest_store'])
all_high_overlap_store_df.to_excel(writer,"unique_all_high_overlap_store",index=False)

df_summary_high_overlap_store_st=all_high_overlap_store_df.groupby(all_high_overlap_store_df['state'])['store_id'].nunique().to_frame().reset_index()
df_summary_high_overlap_store_st.to_excel(writer,"summary_high_overlap_st_count",index=False)
writer.save()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [65]:
all_paired_group_store_df.head(2)

,dist_group,store_id,address_1,city,state,zip_cd,latitude,longitude,all_P_zips,all_S_zips,All_P&S_zips,40_miles_P_zips,40_miles_S_zips,All_P&S_zips_40_miles,nearest_store,dist_to_nearest_store,max_overlap_store,max_overlap_pctg,dist_max_overlap_pairs,min_overlap_pctg,min_overlap_store,dist_min_overlap_pairs
79,0-10 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"['08501', '08502', '07747', '07746', '08821', ...","['08505', '07740', '07748', '08827', '08826', ...","['08501', '08502', '07747', '07746', '08821', ...","['08501', '08502', '07747', '07746', '08821', ...","['08505', '07740', '07748', '08827', '08826', ...","['08501', '08502', '07747', '07746', '08821', ...",jubafilled_2,9.997452,"['7710000276', '7710000280']",0.749712,11.071683,0.002427,"['7710000280', '7710000281']",72.066484
112,0-10 miles,9000069082,1401 golden gate blvd,mayfield heights,oh,44124,41.526834,-81.446989,"['44072', '44139', '44135', '44134', '44137', ...","['44429', '44070', '44076', '44333', '44334', ...","['44072', '44139', '44135', '44134', '44137', ...","['44072', '44139', '44135', '44134', '44137', ...","['44429', '44070', '44076', '44333', '44334', ...","['44072', '44139', '44135', '44134', '44137', ...",7710000345,9.931597,"['7710000329', '9000069082']",0.753488,16.704001,0.003356,"['7710000342', '9000069082']",78.979705

In [66]:
# Format the df and add columns

def remove_the_hold_store(pair_list,hold_store):
    y=pair_list.copy()
    y.remove(hold_store)
    return y[0]

all_paired_group_store_df['min_overlap_store']=all_paired_group_store_df['min_overlap_store'].apply(lambda x: eval(x))
all_paired_group_store_df['max_overlap_store']=all_paired_group_store_df['max_overlap_store'].apply(lambda x: eval(x))

all_paired_group_store_df['all_P_zips']=all_paired_group_store_df['all_P_zips'].apply(lambda x: eval(x))
all_paired_group_store_df['all_S_zips']=all_paired_group_store_df['all_S_zips'].apply(lambda x: eval(x))
all_paired_group_store_df['All_P&S_zips']=all_paired_group_store_df['All_P&S_zips'].apply(lambda x: eval(x))
all_paired_group_store_df['40_miles_P_zips']=all_paired_group_store_df['40_miles_P_zips'].apply(lambda x: eval(x))
all_paired_group_store_df['40_miles_S_zips']=all_paired_group_store_df['40_miles_S_zips'].apply(lambda x: eval(x))
all_paired_group_store_df['All_P&S_zips_40_miles']=all_paired_group_store_df['All_P&S_zips_40_miles'].apply(lambda x: eval(x))

all_paired_group_store_df['min_paired_store']=all_paired_group_store_df.apply(lambda x: remove_the_hold_store(x['min_overlap_store'],x['store_id']),axis=1)
all_paired_group_store_df['max_paired_store']=all_paired_group_store_df.apply(lambda x: remove_the_hold_store(x['max_overlap_store'],x['store_id']),axis=1)

all_paired_group_store_df.head(3)

,dist_group,store_id,address_1,city,state,zip_cd,latitude,longitude,all_P_zips,all_S_zips,All_P&S_zips,40_miles_P_zips,40_miles_S_zips,All_P&S_zips_40_miles,nearest_store,dist_to_nearest_store,max_overlap_store,max_overlap_pctg,dist_max_overlap_pairs,min_overlap_pctg,min_overlap_store,dist_min_overlap_pairs,min_paired_store,max_paired_store
79,0-10 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...",jubafilled_2,9.997452,"[7710000276, 7710000280]",0.749712,11.071683,0.002427,"[7710000280, 7710000281]",72.066484,7710000281,7710000276
112,0-10 miles,9000069082,1401 golden gate blvd,mayfield heights,oh,44124,41.526834,-81.446989,"[44072, 44139, 44135, 44134, 44137, 44131, 441...","[44429, 44070, 44076, 44333, 44334, 44221, 442...","[44072, 44139, 44135, 44134, 44137, 44131, 441...","[44072, 44139, 44135, 44134, 44137, 44131, 441...","[44429, 44070, 44076, 44333, 44334, 44221, 442...","[44072, 44139, 44135, 44134, 44137, 44131, 441...",7710000345,9.931597,"[7710000329, 9000069082]",0.753488,16.704001,0.003356,"[7710000342, 9000069082]",78.979705,7710000342,7710000329
55,0-10 miles,7710000345,7840 plaza blvd,mentor,oh,44060,41.657611,-81.367221,"[44072, 44139, 44137, 44132, 44040, 44045, 440...","[44070, 44076, 44333, 44334, 44221, 44223, 442...","[44072, 44139, 44137, 44132, 44040, 44045, 440...","[44072, 44139, 44137, 44132, 44040, 44045, 440...","[44070, 44076, 44333, 44334, 44221, 44223, 442...","[44072, 44139, 44137, 44132, 44040, 44045, 440...",9000069082,9.931597,"[7710000345, 9000069082]",0.734375,9.931597,0.021097,"[7710000345, 9000332022]",71.199431,9000332022,9000069082

# 4. Collapse

In [67]:
df_P_S_zips_by_store.head(2)

,store_id,all_P_zips,all_S_zips,40_miles_P_zips,40_miles_S_zips
0,1,"[38313, 38392, 38391, 38366, 38362, 38338, 383...","[38037, 38036, 38034, 38316, 38315, 38310, 383...","[38313, 38392, 38391, 38366, 38362, 38338, 383...","[38037, 38036, 38034, 38316, 38315, 38310, 383..."
1,10,"[72901, 72905, 72904, 72918, 74936, 74902, 749...","[74930, 74931, 72821, 72774, 72951, 72958, 729...","[72901, 72905, 72904, 72918, 74936, 74902, 749...","[74930, 74931, 72821, 72774, 72951, 72958, 729..."

In [68]:
all_paired_group_store_df.head(2)

,dist_group,store_id,address_1,city,state,zip_cd,latitude,longitude,all_P_zips,all_S_zips,All_P&S_zips,40_miles_P_zips,40_miles_S_zips,All_P&S_zips_40_miles,nearest_store,dist_to_nearest_store,max_overlap_store,max_overlap_pctg,dist_max_overlap_pairs,min_overlap_pctg,min_overlap_store,dist_min_overlap_pairs,min_paired_store,max_paired_store
79,0-10 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...",jubafilled_2,9.997452,"[7710000276, 7710000280]",0.749712,11.071683,0.002427,"[7710000280, 7710000281]",72.066484,7710000281,7710000276
112,0-10 miles,9000069082,1401 golden gate blvd,mayfield heights,oh,44124,41.526834,-81.446989,"[44072, 44139, 44135, 44134, 44137, 44131, 441...","[44429, 44070, 44076, 44333, 44334, 44221, 442...","[44072, 44139, 44135, 44134, 44137, 44131, 441...","[44072, 44139, 44135, 44134, 44137, 44131, 441...","[44429, 44070, 44076, 44333, 44334, 44221, 442...","[44072, 44139, 44135, 44134, 44137, 44131, 441...",7710000345,9.931597,"[7710000329, 9000069082]",0.753488,16.704001,0.003356,"[7710000342, 9000069082]",78.979705,7710000342,7710000329

In [69]:
# Merge in the zip list for the max, min, nearest stores, for each holding store per row
store_PS_40=df_P_S_zips_by_store[['store_id','40_miles_P_zips','40_miles_S_zips']]
store_PS_40['all_PS_40']=store_PS_40['40_miles_P_zips']+store_PS_40['40_miles_S_zips']
store_PS_40['all_PS_40']=store_PS_40['all_PS_40'].apply(lambda x: list(set(x)))
store_PS_40=store_PS_40[['store_id','all_PS_40']]

store_PS_40_min=store_PS_40.rename(columns={"store_id":"min_paired_store","all_PS_40":"min_store_all_PS_40"})
store_PS_40_max=store_PS_40.rename(columns={"store_id":"max_paired_store","all_PS_40":"max_store_all_PS_40"})
store_PS_40_near=store_PS_40.rename(columns={"store_id":"nearest_store","all_PS_40":"near_store_all_PS_40"})

all_paired_group_store_df=pd.merge(all_paired_group_store_df,store_PS_40_min,on="min_paired_store")
all_paired_group_store_df=pd.merge(all_paired_group_store_df,store_PS_40_max,on="max_paired_store")
all_paired_group_store_df=pd.merge(all_paired_group_store_df,store_PS_40_near,on="nearest_store")

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [70]:
def intersection_2_list(list_1,list_2):
    inter_list=list(set(list_1).intersection(set(list_2)))
    inter_pctg_1=len(inter_list)/len(list_1)
    inter_pctg_2=len(inter_list)/len(list_2)
    return inter_list,inter_pctg_1,inter_pctg_2

In [71]:
all_paired_group_store_df.head(2)

,dist_group,store_id,address_1,city,state,zip_cd,latitude,longitude,all_P_zips,all_S_zips,All_P&S_zips,40_miles_P_zips,40_miles_S_zips,All_P&S_zips_40_miles,nearest_store,dist_to_nearest_store,max_overlap_store,max_overlap_pctg,dist_max_overlap_pairs,min_overlap_pctg,min_overlap_store,dist_min_overlap_pairs,min_paired_store,max_paired_store,min_store_all_PS_40,max_store_all_PS_40,near_store_all_PS_40
0,0-10 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...",jubafilled_2,9.997452,"[7710000276, 7710000280]",0.749712,11.071683,0.002427,"[7710000280, 7710000281]",72.066484,7710000281,7710000276,"[08326, 08204, 08037, 08088, 08316, 08330, 083...","[10471, 11102, 11366, 10178, 08855, 07750, 071...","[10471, 11102, 11366, 10178, 08855, 11427, 071..."
1,10-20 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...",jubafilled_2,9.997452,"[7710000276, 7710000280]",0.749712,11.071683,0.002427,"[7710000280, 7710000281]",72.066484,7710000281,7710000276,"[08326, 08204, 08037, 08088, 08316, 08330, 083...","[10471, 11102, 11366, 10178, 08855, 07750, 071...","[10471, 11102, 11366, 10178, 08855, 11427, 071..."

In [72]:
# Apply func above
all_paired_group_store_df['nearest_intersection_zips']=all_paired_group_store_df.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['near_store_all_PS_40'])[0],axis=1)
all_paired_group_store_df['nearest_pair_overlap_with_hold']=all_paired_group_store_df.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['near_store_all_PS_40'])[1],axis=1)
all_paired_group_store_df['nearest_pair_overlap_with_nearest']=all_paired_group_store_df.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['near_store_all_PS_40'])[2],axis=1)

all_paired_group_store_df['max_intersection_zips']=all_paired_group_store_df.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['max_store_all_PS_40'])[0],axis=1)
all_paired_group_store_df['max_pair_overlap_with_hold']=all_paired_group_store_df.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['max_store_all_PS_40'])[1],axis=1)
all_paired_group_store_df['max_pair_overlap_with_max']=all_paired_group_store_df.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['max_store_all_PS_40'])[2],axis=1)

all_paired_group_store_df['min_intersection_zips']=all_paired_group_store_df.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['min_store_all_PS_40'])[0],axis=1)
all_paired_group_store_df['min_pair_overlap_with_hold']=all_paired_group_store_df.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['min_store_all_PS_40'])[1],axis=1)
all_paired_group_store_df['min_pair_overlap_with_min']=all_paired_group_store_df.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['min_store_all_PS_40'])[2],axis=1)

In [73]:
# Check no empty store
all_paired_group_store_df[all_paired_group_store_df['near_store_all_PS_40'].apply(len)==0]

Empty DataFrame
Columns: [dist_group, store_id, address_1, city, state, zip_cd, latitude, longitude, all_P_zips, all_S_zips, All_P&S_zips, 40_miles_P_zips, 40_miles_S_zips, All_P&S_zips_40_miles, nearest_store, dist_to_nearest_store, max_overlap_store, max_overlap_pctg, dist_max_overlap_pairs, min_overlap_pctg, min_overlap_store, dist_min_overlap_pairs, min_paired_store, max_paired_store, min_store_all_PS_40, max_store_all_PS_40, near_store_all_PS_40, nearest_intersection_zips, nearest_pair_overlap_with_hold, nearest_pair_overlap_with_nearest, max_intersection_zips, max_pair_overlap_with_hold, max_pair_overlap_with_max, min_intersection_zips, min_pair_overlap_with_hold, min_pair_overlap_with_min]
Index: []

In [74]:
# rerange
col_list=['dist_group','store_id','address_1','city','state','zip_cd','latitude','longitude',
          'all_P_zips','all_S_zips','All_P&S_zips','40_miles_P_zips','40_miles_S_zips','All_P&S_zips_40_miles',
          'nearest_store','dist_to_nearest_store','near_store_all_PS_40','nearest_intersection_zips','nearest_pair_overlap_with_hold','nearest_pair_overlap_with_nearest',
          'max_overlap_store','max_overlap_pctg','dist_max_overlap_pairs','max_paired_store','max_store_all_PS_40',
          'max_intersection_zips','max_pair_overlap_with_hold','max_pair_overlap_with_max',
          'min_overlap_store','min_overlap_pctg','dist_min_overlap_pairs','min_paired_store','min_store_all_PS_40',
          'min_intersection_zips','min_pair_overlap_with_hold','min_pair_overlap_with_min']
all_paired_group_store_df=all_paired_group_store_df[col_list]
all_paired_group_store_df.shape

(1406, 36)

In [75]:
# Combine P & S

df_removed_stores_1['All_P&S_zips']=df_removed_stores_1['all_P_zips']+df_removed_stores_1['all_S_zips']
df_removed_stores_1['All_P&S_zips_40_miles']=df_removed_stores_1['40_miles_P_zips']+df_removed_stores_1['40_miles_S_zips']

In [76]:
all_paired_group_store_df.head(3)

,dist_group,store_id,address_1,city,state,zip_cd,latitude,longitude,all_P_zips,all_S_zips,All_P&S_zips,40_miles_P_zips,40_miles_S_zips,All_P&S_zips_40_miles,nearest_store,dist_to_nearest_store,near_store_all_PS_40,nearest_intersection_zips,nearest_pair_overlap_with_hold,nearest_pair_overlap_with_nearest,max_overlap_store,max_overlap_pctg,dist_max_overlap_pairs,max_paired_store,max_store_all_PS_40,max_intersection_zips,max_pair_overlap_with_hold,max_pair_overlap_with_max,min_overlap_store,min_overlap_pctg,dist_min_overlap_pairs,min_paired_store,min_store_all_PS_40,min_intersection_zips,min_pair_overlap_with_hold,min_pair_overlap_with_min
0,0-10 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...",jubafilled_2,9.997452,"[10471, 11102, 11366, 10178, 08855, 11427, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 086...",0.901961,0.787286,"[7710000276, 7710000280]",0.749712,11.071683,7710000276,"[10471, 11102, 11366, 10178, 08855, 07750, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 189...",0.910364,0.809465,"[7710000280, 7710000281]",0.002427,72.066484,7710000281,"[08326, 08204, 08037, 08088, 08316, 08330, 083...","[08064, 08088]",0.002801,0.017857
1,10-20 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...",jubafilled_2,9.997452,"[10471, 11102, 11366, 10178, 08855, 11427, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 086...",0.901961,0.787286,"[7710000276, 7710000280]",0.749712,11.071683,7710000276,"[10471, 11102, 11366, 10178, 08855, 07750, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 189...",0.910364,0.809465,"[7710000280, 7710000281]",0.002427,72.066484,7710000281,"[08326, 08204, 08037, 08088, 08316, 08330, 083...","[08064, 08088]",0.002801,0.017857
2,20-28 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...",jubafilled_2,9.997452,"[10471, 11102, 11366, 10178, 08855, 11427, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 086...",0.901961,0.787286,"[7710000276, 7710000280]",0.749712,11.071683,7710000276,"[10471, 11102, 11366, 10178, 08855, 07750, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 189...",0.910364,0.809465,"[7710000280, 7710000281]",0.002427,72.066484,7710000281,"[08326, 08204, 08037, 08088, 08316, 08330, 083...","[08064, 08088]",0.002801,0.017857

### Sets of the conditions below to determine the initial core of TAs

In [77]:
# A

# list_all_stores_in_single_TA_1 -- no overlap at all
list_all_stores_in_single_TA_1=df_P_S_zips_by_store[~df_P_S_zips_by_store['store_id'].isin(all_paired_group_store_df['store_id'].tolist())]
list_all_stores_in_single_TA_1=list_all_stores_in_single_TA_1['store_id'].unique().tolist()
print("list_all_stores_in_single_TA_1",len(list_all_stores_in_single_TA_1))
df_no_overlap_at_all=pd.DataFrame({"store_id":list_all_stores_in_single_TA_1})
df_no_overlap_at_all=pd.merge(df_no_overlap_at_all,df_store_address,on="store_id",how="left")
df_no_overlap_at_all=pd.merge(df_no_overlap_at_all,df_P_S_zips_by_store,on="store_id",how="left")
df_no_overlap_at_all['All_P&S_zips']=df_no_overlap_at_all['all_P_zips']+df_no_overlap_at_all['all_S_zips']
df_no_overlap_at_all['All_P&S_zips_40_miles']=df_no_overlap_at_all['40_miles_P_zips']+df_no_overlap_at_all['40_miles_S_zips']

# list_all_stores_in_single_TA_2 -- low oeverlap
list_all_stores_in_single_TA_2=all_paired_group_store_df[(all_paired_group_store_df['nearest_store']==all_paired_group_store_df['max_paired_store']) &\
                                                         (all_paired_group_store_df['nearest_store']==all_paired_group_store_df['min_paired_store']) &\
                                                         (all_paired_group_store_df['max_overlap_pctg']<0.15) &\
                                                         (all_paired_group_store_df['nearest_pair_overlap_with_hold']<0.5) &\
                                                         (all_paired_group_store_df['nearest_pair_overlap_with_nearest']<0.5) &\
                                                         (all_paired_group_store_df['max_pair_overlap_with_hold']<0.5) &\
                                                         (all_paired_group_store_df['max_pair_overlap_with_max']<0.5) &\
                                                         (all_paired_group_store_df['min_pair_overlap_with_hold']<0.5) &\
                                                         (all_paired_group_store_df['min_pair_overlap_with_min']<0.5)]['store_id'].unique().tolist()
print("list_all_stores_in_single_TA_2",len(list_all_stores_in_single_TA_2))
col_single_store_TA=all_paired_group_store_df.columns.tolist()
df_all_single_store_TA=all_paired_group_store_df[all_paired_group_store_df['store_id'].isin(list_all_stores_in_single_TA_2)]
df_all_single_store_TA=df_all_single_store_TA.append(df_no_overlap_at_all)[col_single_store_TA]

already_defined_stores=df_all_single_store_TA['store_id'].unique().tolist()
print("already_defined_stores,",len(already_defined_stores))

list_all_stores_in_single_TA_1 43
list_all_stores_in_single_TA_2 22
already_defined_stores, 65

In [78]:
# To see if any new stores that without store or in store list (not applied here for this client Ashley)
all_included_P_S_stores=df_P_S_zips_by_store['store_id'].unique().tolist()

new_stores=df_store_address[~df_store_address['store_id'].isin(all_included_P_S_stores)]

new_stores.shape

(0, 7)

In [79]:
# For next step to remove already defined stores
def identify_stores_already_asigned(stores_per_row,all_defined_list):
    # y_in_defined_list=[x for x in stores_per_row if x in all_defined_list]
    y_notin_defined_list=[x for x in stores_per_row if x not in all_defined_list]
    
    return y_notin_defined_list

In [80]:
# Format str into list

all_paired_group_store_df['original_combined_stores_4']="["+"'"+all_paired_group_store_df['store_id']+"'"+", "+"'"+all_paired_group_store_df['nearest_store']+"'"+", "+"'"+all_paired_group_store_df['max_paired_store']+"'"+", "+"'"+all_paired_group_store_df['min_paired_store']+"'"+"]"
all_paired_group_store_df['original_combined_stores_4']=all_paired_group_store_df['original_combined_stores_4'].apply(lambda x: list(set(eval(x))))

all_paired_group_store_df['original_combined_stores_3']="["+"'"+all_paired_group_store_df['store_id']+"'"+", "+"'"+all_paired_group_store_df['nearest_store']+"'"+", "+"'"+all_paired_group_store_df['max_paired_store']+"'"+"]"
all_paired_group_store_df['original_combined_stores_3']=all_paired_group_store_df['original_combined_stores_3'].apply(lambda x: list(set(eval(x))))

all_paired_group_store_df['cleaned_combined_stores_4']=all_paired_group_store_df['original_combined_stores_4']
all_paired_group_store_df['cleaned_combined_stores_3']=all_paired_group_store_df['original_combined_stores_3']

all_paired_group_store_df['cleaned_combined_stores_4']=all_paired_group_store_df['cleaned_combined_stores_4'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))
all_paired_group_store_df['cleaned_combined_stores_3']=all_paired_group_store_df['cleaned_combined_stores_3'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))

In [81]:
all_paired_group_store_df.head(3)

,dist_group,store_id,address_1,city,state,zip_cd,latitude,longitude,all_P_zips,all_S_zips,All_P&S_zips,40_miles_P_zips,40_miles_S_zips,All_P&S_zips_40_miles,nearest_store,dist_to_nearest_store,near_store_all_PS_40,nearest_intersection_zips,nearest_pair_overlap_with_hold,nearest_pair_overlap_with_nearest,max_overlap_store,max_overlap_pctg,dist_max_overlap_pairs,max_paired_store,max_store_all_PS_40,max_intersection_zips,max_pair_overlap_with_hold,max_pair_overlap_with_max,min_overlap_store,min_overlap_pctg,dist_min_overlap_pairs,min_paired_store,min_store_all_PS_40,min_intersection_zips,min_pair_overlap_with_hold,min_pair_overlap_with_min,original_combined_stores_4,original_combined_stores_3,cleaned_combined_stores_4,cleaned_combined_stores_3
0,0-10 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...",jubafilled_2,9.997452,"[10471, 11102, 11366, 10178, 08855, 11427, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 086...",0.901961,0.787286,"[7710000276, 7710000280]",0.749712,11.071683,7710000276,"[10471, 11102, 11366, 10178, 08855, 07750, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 189...",0.910364,0.809465,"[7710000280, 7710000281]",0.002427,72.066484,7710000281,"[08326, 08204, 08037, 08088, 08316, 08330, 083...","[08064, 08088]",0.002801,0.017857,"[7710000280, jubafilled_2, 7710000281, 7710000...","[7710000280, jubafilled_2, 7710000276]","[7710000280, jubafilled_2, 7710000281, 7710000...","[7710000280, jubafilled_2, 7710000276]"
1,10-20 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...",jubafilled_2,9.997452,"[10471, 11102, 11366, 10178, 08855, 11427, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 086...",0.901961,0.787286,"[7710000276, 7710000280]",0.749712,11.071683,7710000276,"[10471, 11102, 11366, 10178, 08855, 07750, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 189...",0.910364,0.809465,"[7710000280, 7710000281]",0.002427,72.066484,7710000281,"[08326, 08204, 08037, 08088, 08316, 08330, 083...","[08064, 08088]",0.002801,0.017857,"[7710000280, jubafilled_2, 7710000281, 7710000...","[7710000280, jubafilled_2, 7710000276]","[7710000280, jubafilled_2, 7710000281, 7710000...","[7710000280, jubafilled_2, 7710000276]"
2,20-28 miles,7710000280,3730 route 1 north,north brunswick,nj,8902,40.428399,-74.518489,"[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...","[08505, 07740, 07748, 08827, 08826, 08825, 088...","[08501, 08502, 07747, 07746, 08821, 08820, 088...",jubafilled_2,9.997452,"[10471, 11102, 11366, 10178, 08855, 11427, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 086...",0.901961,0.787286,"[7710000276, 7710000280]",0.749712,11.071683,7710000276,"[10471, 11102, 11366, 10178, 08855, 07750, 071...","[11102, 10178, 08855, 07193, 07750, 08808, 189...",0.910364,0.809465,"[7710000280, 7710000281]",0.002427,72.066484,7710000281,"[08326, 08204, 08037, 08088, 08316, 08330, 083...","[08064, 08088]",0.002801,0.017857,"[7710000280, jubafilled_2, 7710000281, 7710000...","[7710000280, jubafilled_2, 7710000276]","[7710000280, jubafilled_2, 7710000281, 7710000...","[7710000280, jubafilled_2, 7710000276]"

# T1- >=50% overlap

In [82]:
# B - T1 >=50%
# merge 1: 4 stores - hold, max&min, nearest 10 miles


df_B_all_merge_4_40_above=all_paired_group_store_df[(all_paired_group_store_df['dist_to_nearest_store']<=10) &\
                                         (all_paired_group_store_df['max_overlap_pctg']>=0.5) &\
                                         (all_paired_group_store_df['min_overlap_pctg']>=0.5)]
df_B_all_merge_4_40_above['result_combined_stores']=df_B_all_merge_4_40_above['cleaned_combined_stores_4']

list_df_B_all_merge_4_40_above_involved_stores=list(set(df_B_all_merge_4_40_above['result_combined_stores'].sum()))
print('list_df_B_all_merge_4_40_above_involved_stores',len(list_df_B_all_merge_4_40_above_involved_stores))
#### 
already_defined_stores=list(set(already_defined_stores+list_df_B_all_merge_4_40_above_involved_stores))
print("already_defined_stores",len(already_defined_stores))

######
# Clean
all_paired_group_store_df['cleaned_combined_stores_4']=all_paired_group_store_df['cleaned_combined_stores_4'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))
all_paired_group_store_df['cleaned_combined_stores_3']=all_paired_group_store_df['cleaned_combined_stores_3'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))

list_df_B_all_merge_4_40_above_involved_stores 19
already_defined_stores 84

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
# C - T1 >=50%
# merge 2: 3 stores - hold, max|min, nearest 10 miles

df_C_all_merge_3_40_above=all_paired_group_store_df[(all_paired_group_store_df['dist_to_nearest_store']<=10) &\
                                           ((all_paired_group_store_df['max_overlap_pctg']>=0.5) | (all_paired_group_store_df['min_overlap_pctg']>=0.5))]
df_C_all_merge_3_40_above['result_combined_stores']=df_C_all_merge_3_40_above['cleaned_combined_stores_3']

list_df_C_all_merge_3_40_above_involved_stores=list(set(df_C_all_merge_3_40_above['result_combined_stores'].sum()))
print('list_df_C_all_merge_3_40_above_involved_stores',len(list_df_C_all_merge_3_40_above_involved_stores))

####
already_defined_stores=list(set(already_defined_stores+list_df_C_all_merge_3_40_above_involved_stores))
print("already_defined_stores",len(already_defined_stores))

######
# Clean
all_paired_group_store_df['cleaned_combined_stores_4']=all_paired_group_store_df['cleaned_combined_stores_4'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))
all_paired_group_store_df['cleaned_combined_stores_3']=all_paired_group_store_df['cleaned_combined_stores_3'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))

list_df_C_all_merge_3_40_above_involved_stores 185
already_defined_stores 269

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [84]:
# D - T1 >=50%
# merge 3: 4 stores - hold, max&min, nearest 10-28 miles


df_D_all_merge_4_40_above=all_paired_group_store_df[(all_paired_group_store_df['dist_to_nearest_store']>10) &\
                                           (all_paired_group_store_df['dist_to_nearest_store']<=28) &\
                                           (all_paired_group_store_df['max_overlap_pctg']>=0.5) &\
                                           (all_paired_group_store_df['min_overlap_pctg']>=0.5)]
df_D_all_merge_4_40_above['result_combined_stores']=df_D_all_merge_4_40_above['cleaned_combined_stores_4']
if len(df_D_all_merge_4_40_above)>0:
    list_df_D_all_merge_4_40_above_involved_stores=list(set(df_D_all_merge_4_40_above['result_combined_stores'].sum()))
else:
    list_df_D_all_merge_4_40_above_involved_stores=[]
print('list_df_D_all_merge_4_40_above_involved_stores',len(list_df_D_all_merge_4_40_above_involved_stores))
#### 
already_defined_stores=list(set(already_defined_stores+list_df_D_all_merge_4_40_above_involved_stores))
print("already_defined_stores",len(already_defined_stores))

######
# Clean
all_paired_group_store_df['cleaned_combined_stores_4']=all_paired_group_store_df['cleaned_combined_stores_4'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))
all_paired_group_store_df['cleaned_combined_stores_3']=all_paired_group_store_df['cleaned_combined_stores_3'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))

list_df_D_all_merge_4_40_above_involved_stores 17
already_defined_stores 286

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [85]:
# E - T1 >=50%
# merge 4: 3 stores - hold, max|min, nearest 10-28 miles


df_E_all_merge_3_40_above=all_paired_group_store_df[(all_paired_group_store_df['dist_to_nearest_store']>10) &\
                                           (all_paired_group_store_df['dist_to_nearest_store']<=28) &\
                                           ((all_paired_group_store_df['max_overlap_pctg']>=0.5)|(all_paired_group_store_df['min_overlap_pctg']>=0.5))]
df_E_all_merge_3_40_above['result_combined_stores']=df_E_all_merge_3_40_above['cleaned_combined_stores_3']

if len(df_E_all_merge_3_40_above)>0:
    list_df_E_all_merge_3_40_above_involved_stores=list(set(df_E_all_merge_3_40_above['result_combined_stores'].sum()))
else:
    list_df_E_all_merge_3_40_above_involved_stores=[]
print('list_df_E_all_merge_3_40_above_involved_stores',len(list_df_E_all_merge_3_40_above_involved_stores))
#### 
already_defined_stores=list(set(already_defined_stores+list_df_E_all_merge_3_40_above_involved_stores))
print("already_defined_stores",len(already_defined_stores))

######
# Clean
all_paired_group_store_df['cleaned_combined_stores_4']=all_paired_group_store_df['cleaned_combined_stores_4'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))
all_paired_group_store_df['cleaned_combined_stores_3']=all_paired_group_store_df['cleaned_combined_stores_3'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))

list_df_E_all_merge_3_40_above_involved_stores 191
already_defined_stores 477

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# T2- >=35% & <50% overlap

In [86]:
# B - T2 [35%,50%)
# merge 1: 4 stores - hold, max&min, nearest without dist criteria

# nearest_always kept in the result
# whichever satisfied the cretearia, whichever should be included, max or min 

df_B_all_merge_4_35_40=all_paired_group_store_df[((all_paired_group_store_df['max_overlap_pctg']>=0.35) & (all_paired_group_store_df['max_overlap_pctg']<0.5)) &\
                                                 ((all_paired_group_store_df['min_overlap_pctg']>=0.35) & (all_paired_group_store_df['min_overlap_pctg']<0.5))]
df_B_all_merge_4_35_40['result_combined_stores']=df_B_all_merge_4_35_40['cleaned_combined_stores_4']

if len(df_B_all_merge_4_35_40)>0:
    list_df_B_all_merge_4_35_40_involved_stores=list(set(df_B_all_merge_4_35_40['result_combined_stores'].sum()))
else:
    list_df_B_all_merge_4_35_40_involved_stores=[]
    
print('list_df_B_all_merge_4_35_40_involved_stores',len(list_df_B_all_merge_4_35_40_involved_stores))
#### 
already_defined_stores=list(set(already_defined_stores+list_df_B_all_merge_4_35_40_involved_stores))
print("already_defined_stores",len(already_defined_stores))

######
# Clean
all_paired_group_store_df['cleaned_combined_stores_4']=all_paired_group_store_df['cleaned_combined_stores_4'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))
all_paired_group_store_df['cleaned_combined_stores_3']=all_paired_group_store_df['cleaned_combined_stores_3'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))

list_df_B_all_merge_4_35_40_involved_stores 4
already_defined_stores 481

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [87]:
# C - T2 [35%,50%)
# merge 2: 3 stores - hold, max|min, nearest without dist criteria

df_C_all_merge_3_35_40=all_paired_group_store_df[((all_paired_group_store_df['max_overlap_pctg']>=0.35) & (all_paired_group_store_df['max_overlap_pctg']<0.5)) |\
                                                 ((all_paired_group_store_df['min_overlap_pctg']>=0.35) & (all_paired_group_store_df['min_overlap_pctg']<0.5))]

df_C_all_merge_3_35_40_1_Max=df_C_all_merge_3_35_40[(df_C_all_merge_3_35_40['max_overlap_pctg']>=0.35) & (df_C_all_merge_3_35_40['max_overlap_pctg']<0.5)]
df_C_all_merge_3_35_40_2_Min=df_C_all_merge_3_35_40[(df_C_all_merge_3_35_40['min_overlap_pctg']>=0.35) & (df_C_all_merge_3_35_40['min_overlap_pctg']<0.5)]

df_C_all_merge_3_35_40_1_Max['result_combined_stores']="["+"'"+df_C_all_merge_3_35_40_1_Max['store_id']+"'"+", "+"'"+df_C_all_merge_3_35_40_1_Max['nearest_store']+"'"+", "+"'"+df_C_all_merge_3_35_40_1_Max['max_paired_store']+"'"+"]"
df_C_all_merge_3_35_40_1_Max['result_combined_stores']=df_C_all_merge_3_35_40_1_Max['result_combined_stores'].apply(lambda x: list(set(eval(x))))

df_C_all_merge_3_35_40_2_Min['result_combined_stores']="["+"'"+df_C_all_merge_3_35_40_2_Min['store_id']+"'"+", "+"'"+df_C_all_merge_3_35_40_2_Min['nearest_store']+"'"+", "+"'"+df_C_all_merge_3_35_40_2_Min['min_paired_store']+"'"+"]"
df_C_all_merge_3_35_40_2_Min['result_combined_stores']=df_C_all_merge_3_35_40_2_Min['result_combined_stores'].apply(lambda x: list(set(eval(x))))

df_C_all_merge_3_35_40=df_C_all_merge_3_35_40_1_Max.append(df_C_all_merge_3_35_40_2_Min)

df_C_all_merge_3_35_40['result_combined_stores']=df_C_all_merge_3_35_40['result_combined_stores'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))


list_df_C_all_merge_3_35_40_involved_stores=list(set(df_C_all_merge_3_35_40['result_combined_stores'].sum()))
print('list_df_C_all_merge_3_35_40_involved_stores',len(list_df_C_all_merge_3_35_40_involved_stores))

####
already_defined_stores=list(set(already_defined_stores+list_df_C_all_merge_3_35_40_involved_stores))
print("already_defined_stores",len(already_defined_stores))

######
# Clean
all_paired_group_store_df['cleaned_combined_stores_4']=all_paired_group_store_df['cleaned_combined_stores_4'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))
all_paired_group_store_df['cleaned_combined_stores_3']=all_paired_group_store_df['cleaned_combined_stores_3'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))

list_df_C_all_merge_3_35_40_involved_stores 66
already_defined_stores 547

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# T3- >=15% & <35% overlap

In [88]:
# B - T3 [15%,35%)
# merge 1: 4 stores - hold, max&min, nearest without dist criteria

# nearest_always kept in the result
# whichever satisfied the cretearia, whichever should be included, max or min 

df_B_all_merge_4_15_35=all_paired_group_store_df[((all_paired_group_store_df['max_overlap_pctg']>=0.15) & (all_paired_group_store_df['max_overlap_pctg']<0.35)) &\
                                                 ((all_paired_group_store_df['min_overlap_pctg']>=0.15) & (all_paired_group_store_df['min_overlap_pctg']<0.35))]
df_B_all_merge_4_15_35['result_combined_stores']=df_B_all_merge_4_15_35['cleaned_combined_stores_4']

if len(df_B_all_merge_4_15_35)>0:
    list_df_B_all_merge_4_15_35_involved_stores=list(set(df_B_all_merge_4_15_35['result_combined_stores'].sum()))
else:
    list_df_B_all_merge_4_15_35_involved_stores=[]
    
print('list_df_B_all_merge_4_15_35_involved_stores',len(list_df_B_all_merge_4_15_35_involved_stores))
#### 
already_defined_stores=list(set(already_defined_stores+list_df_B_all_merge_4_15_35_involved_stores))
print("already_defined_stores",len(already_defined_stores))

######
# Clean
all_paired_group_store_df['cleaned_combined_stores_4']=all_paired_group_store_df['cleaned_combined_stores_4'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))
all_paired_group_store_df['cleaned_combined_stores_3']=all_paired_group_store_df['cleaned_combined_stores_3'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))

list_df_B_all_merge_4_15_35_involved_stores 9
already_defined_stores 556

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [89]:
# C - T3 [15%,35%)
# merge 2: 3 stores - hold, max|min, nearest without dist criteria

df_C_all_merge_3_15_35=all_paired_group_store_df[((all_paired_group_store_df['max_overlap_pctg']>=0.15) & (all_paired_group_store_df['max_overlap_pctg']<0.35)) |\
                                                 ((all_paired_group_store_df['min_overlap_pctg']>=0.15) & (all_paired_group_store_df['min_overlap_pctg']<0.35))]

df_C_all_merge_3_15_35_1_Max=df_C_all_merge_3_15_35[(df_C_all_merge_3_15_35['max_overlap_pctg']>=0.15) & (df_C_all_merge_3_15_35['max_overlap_pctg']<0.35)]
df_C_all_merge_3_15_35_2_Min=df_C_all_merge_3_15_35[(df_C_all_merge_3_15_35['min_overlap_pctg']>=0.15) & (df_C_all_merge_3_15_35['min_overlap_pctg']<0.35)]

df_C_all_merge_3_15_35_1_Max['result_combined_stores']="["+"'"+df_C_all_merge_3_15_35_1_Max['store_id']+"'"+", "+"'"+df_C_all_merge_3_15_35_1_Max['nearest_store']+"'"+", "+"'"+df_C_all_merge_3_15_35_1_Max['max_paired_store']+"'"+"]"
df_C_all_merge_3_15_35_1_Max['result_combined_stores']=df_C_all_merge_3_15_35_1_Max['result_combined_stores'].apply(lambda x: list(set(eval(x))))

df_C_all_merge_3_15_35_2_Min['result_combined_stores']="["+"'"+df_C_all_merge_3_15_35_2_Min['store_id']+"'"+", "+"'"+df_C_all_merge_3_15_35_2_Min['nearest_store']+"'"+", "+"'"+df_C_all_merge_3_15_35_2_Min['min_paired_store']+"'"+"]"
df_C_all_merge_3_15_35_2_Min['result_combined_stores']=df_C_all_merge_3_15_35_2_Min['result_combined_stores'].apply(lambda x: list(set(eval(x))))

df_C_all_merge_3_15_35=df_C_all_merge_3_15_35_1_Max.append(df_C_all_merge_3_15_35_2_Min)

df_C_all_merge_3_15_35['result_combined_stores']=df_C_all_merge_3_15_35['result_combined_stores'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))


list_df_C_all_merge_3_15_35_involved_stores=list(set(df_C_all_merge_3_15_35['result_combined_stores'].sum()))
print('list_df_C_all_merge_3_15_35_involved_stores',len(list_df_C_all_merge_3_15_35_involved_stores))

####
already_defined_stores=list(set(already_defined_stores+list_df_C_all_merge_3_15_35_involved_stores))
print("already_defined_stores",len(already_defined_stores))

######
# Clean
all_paired_group_store_df['cleaned_combined_stores_4']=all_paired_group_store_df['cleaned_combined_stores_4'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))
all_paired_group_store_df['cleaned_combined_stores_3']=all_paired_group_store_df['cleaned_combined_stores_3'].apply(lambda x: identify_stores_already_asigned(x,already_defined_stores))

list_df_C_all_merge_3_15_35_involved_stores 61
already_defined_stores 617

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [90]:
remained_stores=all_paired_group_store_df[~all_paired_group_store_df['store_id'].isin(already_defined_stores)]

remained_stores['store_id'].nunique()

45

In [91]:
# Store list by group column

max_len_store=max(len(df_all_single_store_TA['store_id'].unique().tolist()),
                 len(list_df_B_all_merge_4_40_above_involved_stores),
                 len(list_df_C_all_merge_3_40_above_involved_stores),
                 len(list_df_D_all_merge_4_40_above_involved_stores),
                 len(list_df_E_all_merge_3_40_above_involved_stores),
                 len(list_df_B_all_merge_4_35_40_involved_stores),
                 len(list_df_C_all_merge_3_35_40_involved_stores),
                 len(list_df_B_all_merge_4_15_35_involved_stores),
                 len(list_df_C_all_merge_3_15_35_involved_stores),
                 )

df_stores_in_each_group=pd.DataFrame({"T1_A_single_store_TA":df_all_single_store_TA['store_id'].unique().tolist()+[np.nan]*(max_len_store-len(df_all_single_store_TA['store_id'].unique().tolist())),
                                      "T1_B_all_merge_4_40_above_involved_stores":list_df_B_all_merge_4_40_above_involved_stores+[np.nan]*(max_len_store-len(list_df_B_all_merge_4_40_above_involved_stores)),
                                      "T1_C_all_merge_3_40_above_involved_stores":list_df_C_all_merge_3_40_above_involved_stores+[np.nan]*(max_len_store-len(list_df_C_all_merge_3_40_above_involved_stores)),
                                      "T1_D_all_merge_4_40_above_involved_stores":list_df_D_all_merge_4_40_above_involved_stores+[np.nan]*(max_len_store-len(list_df_D_all_merge_4_40_above_involved_stores)),
                                      "T1_E_all_merge_3_40_above_involved_stores":list_df_E_all_merge_3_40_above_involved_stores+[np.nan]*(max_len_store-len(list_df_E_all_merge_3_40_above_involved_stores)),
                                      "T2_B_all_merge_4_35_40_involved_stores":list_df_B_all_merge_4_35_40_involved_stores+[np.nan]*(max_len_store-len(list_df_B_all_merge_4_35_40_involved_stores)),
                                      "T2_C_all_merge_3_35_40_involved_stores":list_df_C_all_merge_3_35_40_involved_stores+[np.nan]*(max_len_store-len(list_df_C_all_merge_3_35_40_involved_stores)),
                                      "T3_B_all_merge_4_15_35_involved_stores":list_df_B_all_merge_4_15_35_involved_stores+[np.nan]*(max_len_store-len(list_df_B_all_merge_4_15_35_involved_stores)),
                                      "T3_C_all_merge_3_15_35_involved_stores":list_df_C_all_merge_3_15_35_involved_stores+[np.nan]*(max_len_store-len(list_df_C_all_merge_3_15_35_involved_stores)),
                                     },index=[x for x in range(max_len_store)])
df_stores_in_each_group.shape

(191, 9)

In [92]:
df_stores_in_each_group

,T1_A_single_store_TA,T1_B_all_merge_4_40_above_involved_stores,T1_C_all_merge_3_40_above_involved_stores,T1_D_all_merge_4_40_above_involved_stores,T1_E_all_merge_3_40_above_involved_stores,T2_B_all_merge_4_35_40_involved_stores,T2_C_all_merge_3_35_40_involved_stores,T3_B_all_merge_4_15_35_involved_stores,T3_C_all_merge_3_15_35_involved_stores
0,9000451595,9000464694,65,7710000091,7710000367,7710000378,7710000139,83,9000109390
1,9000416178,35_dupassigned_1,7710000043,9000090614,7710000075,7710000258,7710000381,7710000267,9000187603
2,7710000112,7710000303,9000417563,25_dupassigned_1,277,7710000257,9000104955,7710000409,7710000341
3,7710000431,7710000130,jubafilled_2,7710000295,7710000037,7710000136,7710000316,7710000494,7710000013
4,9000107823,7710000128,7710000103,7710000448,7710000275,NaN,9000081605,206,7710000242
5,7710000187,7710000451,7710000165,9000416840,9000170254,NaN,261,7710000408,9000170261
6,7710000379,9000451588,9000467663,7710000019,7710000218,NaN,7710000088,212,7710000186
7,7710000383,9000473730,7710000309,7710000299,9000451592,NaN,7,7710000268,7710000063
8,7710000053,44_dupassigned_0,7710000365,9000035150,7710000077,NaN,7710000008,7710000298,9000130093
9,7710000262,7710000194,7710000156,7710000028,7710000368,NaN,7710000089,NaN,7710000049
10,7710000263,33_dupassigned_1,m5,24_dupassigned_0,27,NaN,7710000108,NaN,9000416902
11,7710000175,7710000304,9000344758,23_dupassigned_0,76,NaN,7710000205,NaN,9000076665
12,7710000173,34_dupassigned_0,7710000286,7710000082,7710000375,NaN,7710000343,NaN,9000117874
13,9000145485,7710000301,9000451583,9000109141,61,NaN,7710000498,NaN,7710000168
14,33_dupassigned_0,9000037125,7710000489,7710000022,7710000124,NaN,42_dupassigned_0,NaN,9000037221
15,10,9000418096,9000348252,7710000023,7710000056,NaN,7710000216,NaN,7710000215
16,7710000354,7710000129,4,7710000137,7710000340,NaN,7710000310,NaN,9000480827
17,7710000177,7710000423,9000035153,NaN,64,NaN,7710000069,NaN,7710000099
18,9000190773,7710000302,555,NaN,7710000059,NaN,9000343876,NaN,7710000113
19,9000200391,NaN,53,NaN,7710000372,NaN,7710000250,NaN,7710000040
20,41,NaN,9000170259,NaN,7710000116,NaN,56,NaN,9000141387
21,42_dupassigned_1,NaN,7710000460,NaN,9000471639,NaN,7710000476,NaN,7710000247
22,43,NaN,7710000132,NaN,7710000360,NaN,7710000096,NaN,7710000471
23,73,NaN,566,NaN,7710000454,NaN,7710000281,NaN,278
24,75,NaN,9000433218,NaN,7710000065,NaN,7710000125,NaN,9000182401
25,7710000002,NaN,m3,NaN,m11,NaN,7710000488,NaN,7710000491
26,7710000025,NaN,7710000357,NaN,9000036856,NaN,7710000252,NaN,9000410076
27,7710000029,NaN,7710000389,NaN,9000129466,NaN,9000451599,NaN,7710000217
28,7710000030,NaN,7710000214,NaN,9000416841,NaN,9000344331,NaN,7710000213
29,7710000052,NaN,7710000104,NaN,7710000459,NaN,7710000251,NaN,9000446280
30,7710000174,NaN,7710000090,NaN,9000069346,NaN,7710000428,NaN,48
31,7710000209,NaN,9000443488,NaN,15,NaN,9000035154,NaN,7710000500
32,7710000232,NaN,62,NaN,9000032689,NaN,7710000359,NaN,7710000461
33,7710000238,NaN,7710000070,NaN,7710000481,NaN,7710000497,NaN,7710000415
34,7710000239,NaN,9000168857,NaN,7710000485,NaN,9000340838,NaN,7710000420
35,7710000240,NaN,9000348259,NaN,204,NaN,7710000358,NaN,9
36,7710000241,NaN,7710000085,NaN,23_dupassigned_1,NaN,7710000363,NaN,9000481701
37,7710000260,NaN,9000451585,NaN,25_dupassigned_0,NaN,7710000062,NaN,7710000160
38,7710000261,NaN,63,NaN,11,NaN,9000117872,NaN,9000035155
39,7710000264,NaN,7710000456,NaN,7710000036,NaN,7710000054,NaN,3_dupassigned_0
40,7710000265,NaN,7710000469,NaN,7710000083,NaN,7710000285,NaN,7710000219
41,7710000266,NaN,7710000307,NaN,9000169172,NaN,9000035149,NaN,7710000106
42,7710000269,NaN,9000466584,NaN,7710000273,NaN,9000415971,NaN,7710000482
43,7710000353,NaN,9000113653,NaN,46,NaN,9000188745,NaN,7710000336
44,7710000382,NaN,9000342398,NaN,7710000105,NaN,7710000314,NaN,7710000110
45,7710000384,NaN,9000109026,NaN,7710000055,NaN,7710000254,NaN,7710000003
46,7710000385,NaN,9000339818,NaN,7710000270,NaN,12,NaN,7710000348
47,7710000407,NaN,9000182033,NaN,9000339288,NaN,7710000202,NaN,9000092869
48,7710000444,NaN,7710000249,NaN,7710000067,NaN,7710000118,NaN,9000106886
49,7710000477,NaN,9000187561,NaN,7710000035,NaN,9000431050,NaN,30
50,7710000479,NaN,271,NaN,7710000284,NaN,16,NaN,7710000376
51,7710000502,NaN,7710000345,NaN,7710000317,NaN,7710000445,NaN,7710000484
52,9000035086,NaN,44_dupassigned_1,NaN,7710000042,NaN,9000104956,NaN,7710000093
53,9000038393,NaN,7710000355,NaN,9000109379,NaN,51_dupassigned_0,NaN,7710000328
54,9000190751,NaN,7710000068,NaN,7710000033,NaN,7710000373,NaN,7710000126
55,9000430982,NaN,m2,NaN,7710000380,NaN,9000077601,NaN,7710000039
56,9000431057,NaN,7710000058,NaN,7710000339,NaN,7710000081,NaN,7710000455
57,9000443489,NaN,55_dupassigned_1,NaN,28,NaN,9000346094,NaN,9000193492
58,9000451591,NaN,7710000246,NaN,7710000475,NaN,7710000342,NaN,9000187971
59,lv3-390104,NaN,9000451598,NaN,7710000206,NaN,9000113454,NaN,47
60,lv3-396656,NaN,7710000197,NaN,7710000323,NaN,7710000101,NaN,9000346928
61,lv3-396657,NaN,7710000272,NaN,AHSM,NaN,7710000324,NaN,NaN
62,lv3-396662,NaN,7710000048,NaN,13,NaN,9000103258,NaN,NaN
63,lv3-396663,NaN,7710000092,NaN,71,NaN,7710000047,NaN,NaN
64,lv3-396664,NaN,7710000490,NaN,210,NaN,7710000072,NaN,NaN
65,NaN,NaN,m7,NaN,7710000259,NaN,9000190750,NaN,NaN
66,NaN,NaN,7710000060,NaN,9000451584,NaN,NaN,NaN,NaN
67,NaN,NaN,544,NaN,7710000243,NaN,NaN,NaN,NaN
68,NaN,NaN,554,NaN,9000436299,NaN,NaN,NaN,NaN
69,NaN,NaN,7710000164,NaN,7710000046,NaN,NaN,NaN,NaN
70,NaN,NaN,7710000117,NaN,7710000361,NaN,NaN,NaN,NaN
71,NaN,NaN,9000032551,NaN,262,NaN,NaN,NaN,NaN
72,NaN,NaN,50_dupassigned_0,NaN,7710000330,NaN,NaN,NaN,NaN
73,NaN,NaN,7710000305,NaN,9000191300,NaN,NaN,NaN,NaN
74,NaN,NaN,7710000394,NaN,7710000074,NaN,NaN,NaN,NaN
75,NaN,NaN,7710000280,NaN,7710000064,NaN,NaN,NaN,NaN
76,NaN,NaN,58,NaN,7710000364,NaN,NaN,NaN,NaN
77,NaN,NaN,84_dupassigned_1,NaN,7710000472,NaN,NaN,NaN,NaN
78,NaN,NaN,2,NaN,7710000005,NaN,NaN,NaN,NaN
79,NaN,NaN,70,NaN,7710000004,NaN,NaN,NaN,NaN
80,NaN,NaN,7710000470,NaN,20,NaN,NaN,NaN,NaN
81,NaN,NaN,577_dupassigned_1,NaN,7710000097,NaN,NaN,NaN,NaN
82,NaN,NaN,9000474717,NaN,9000431053,NaN,NaN,NaN,NaN
83,NaN,NaN,7710000255,NaN,9000183276,NaN,NaN,NaN,NaN
84,NaN,NaN,7710000100,NaN,m8,NaN,NaN,NaN,NaN
85,NaN,NaN,9000340837,NaN,9000183274,NaN,NaN,NaN,NaN
86,NaN,NaN,7710000220,NaN,7710000131,NaN,NaN,NaN,NaN
87,NaN,NaN,jubafilled_5,NaN,9000038162,NaN,NaN,NaN,NaN
88,NaN,NaN,7710000393,NaN,7710000492,NaN,NaN,NaN,NaN
89,NaN,NaN,9000416839,NaN,7710000061,NaN,NaN,NaN,NaN
90,NaN,NaN,7710000537,NaN,7710000006,NaN,NaN,NaN,NaN
91,NaN,NaN,7710000121,NaN,7710000084,NaN,NaN,NaN,NaN
92,NaN,NaN,7710000188,NaN,7710000098,NaN,NaN,NaN,NaN
93,NaN,NaN,59_dupassigned_0,NaN,7710000094,NaN,NaN,NaN,NaN
94,NaN,NaN,7710000312,NaN,9000141225,NaN,NaN,NaN,NaN
95,NaN,NaN,17,NaN,7710000462,NaN,NaN,NaN,NaN
96,NaN,NaN,9000344757,NaN,9000083243,NaN,NaN,NaN,NaN
97,NaN,NaN,7710000153,NaN,7710000478,NaN,NaN,NaN,NaN
98,NaN,NaN,9000339819,NaN,19,NaN,NaN,NaN,NaN
99,NaN,NaN,9000129115,NaN,86,NaN,NaN,NaN,NaN
100,NaN,NaN,7710000466,NaN,205,NaN,NaN,NaN,NaN
101,NaN,NaN,jubafilled_3,NaN,9000107104,NaN,NaN,NaN,NaN
102,NaN,NaN,7710000318,NaN,9000081607,NaN,NaN,NaN,NaN
103,NaN,NaN,9000187176,NaN,AHSD,NaN,NaN,NaN,NaN
104,NaN,NaN,9000069082,NaN,7710000474,NaN,NaN,NaN,NaN
105,NaN,NaN,7710000199,NaN,201,NaN,NaN,NaN,NaN
106,NaN,NaN,7710000210,NaN,7710000115,NaN,NaN,NaN,NaN
107,NaN,NaN,69,NaN,7710000012,NaN,NaN,NaN,NaN
108,NaN,NaN,9000451589,NaN,32,NaN,NaN,NaN,NaN
109,NaN,NaN,577_dupassigned_0,NaN,7710000319,NaN,NaN,NaN,NaN
110,NaN,NaN,7710000245,NaN,21,NaN,NaN,NaN,NaN
111,NaN,NaN,7710000278,NaN,7710000120,NaN,NaN,NaN,NaN
112,NaN,NaN,6545654812980,NaN,9000447353,NaN,NaN,NaN,NaN
113,NaN,NaN,7710000457,NaN,7710000495,NaN,NaN,NaN,NaN
114,NaN,NaN,9000128001,NaN,45,NaN,NaN,NaN,NaN
115,NaN,NaN,7710000277,NaN,7710000282,NaN,NaN,NaN,NaN
116,NaN,NaN,87,NaN,7710000338,NaN,NaN,NaN,NaN
117,NaN,NaN,263,NaN,39,NaN,NaN,NaN,NaN
118,NaN,NaN,55_dupassigned_0,NaN,7710000119,NaN,NaN,NaN,NaN
119,NaN,NaN,7710000201,NaN,7710000271,NaN,NaN,NaN,NaN
120,NaN,NaN,7710000079,NaN,7710000087,NaN,NaN,NaN,NaN
121,NaN,NaN,9000442446,NaN,264,NaN,NaN,NaN,NaN
122,NaN,NaN,9000170255,NaN,7710000009,NaN,NaN,NaN,NaN
123,NaN,NaN,9000134491,NaN,275,NaN,NaN,NaN,NaN
124,NaN,NaN,9000480971,NaN,9000451582,NaN,NaN,NaN,NaN
125,NaN,NaN,9000170173,NaN,7710000198,NaN,NaN,NaN,NaN
126,NaN,NaN,9000129633,NaN,7710000253,NaN,NaN,NaN,NaN
127,NaN,NaN,7710000458,NaN,m10,NaN,NaN,NaN,NaN
128,NaN,NaN,24_dupassigned_1,NaN,7710000480,NaN,NaN,NaN,NaN
129,NaN,NaN,9000129634,NaN,7710000010,NaN,NaN,NaN,NaN
130,NaN,NaN,9000107142,NaN,7710000362,NaN,NaN,NaN,NaN
131,NaN,NaN,9000450874,NaN,88,NaN,NaN,NaN,NaN
132,NaN,NaN,7710000109,NaN,9000035151,NaN,NaN,NaN,NaN
133,NaN,NaN,9000170262,NaN,9000028378,NaN,NaN,NaN,NaN
134,NaN,NaN,9000117944,NaN,7710000248,NaN,NaN,NaN,NaN
135,NaN,NaN,9000128005,NaN,7710000051,NaN,NaN,NaN,NaN
136,NaN,NaN,276,NaN,38,NaN,NaN,NaN,NaN
137,NaN,NaN,7710000422,NaN,84_dupassigned_0,NaN,NaN,NaN,NaN
138,NaN,NaN,7710000211,NaN,40,NaN,NaN,NaN,NaN
139,NaN,NaN,66,NaN,ASH3787,NaN,NaN,NaN,NaN
140,NaN,NaN,6,NaN,81,NaN,NaN,NaN,NaN
141,NaN,NaN,9000036741,NaN,7710000203,NaN,NaN,NaN,NaN
142,NaN,NaN,7710000449,NaN,7710000078,NaN,NaN,NaN,NaN
143,NaN,NaN,9000170256,NaN,7710000207,NaN,NaN,NaN,NaN
144,NaN,NaN,m6,NaN,7710000486,NaN,NaN,NaN,NaN
145,NaN,NaN,7710000150,NaN,9000424822,NaN,NaN,NaN,NaN
146,NaN,NaN,7710000450,NaN,7710000123,NaN,NaN,NaN,NaN
147,NaN,NaN,jubafilled_1,NaN,51_dupassigned_1,NaN,NaN,NaN,NaN
148,NaN,NaN,9000451817,NaN,7710000143,NaN,NaN,NaN,NaN
149,NaN,NaN,7710000044,NaN,m4,NaN,NaN,NaN,NaN
150,NaN,NaN,7710000276,NaN,203,NaN,NaN,NaN,NaN
151,NaN,NaN,7710000327,NaN,273,NaN,NaN,NaN,NaN
152,NaN,NaN,57,NaN,7710000377,NaN,NaN,NaN,NaN
153,NaN,NaN,m1,NaN,7710000102,NaN,NaN,NaN,NaN
154,NaN,NaN,274,NaN,54,NaN,NaN,NaN,NaN
155,NaN,NaN,7710000034,NaN,7710000306,NaN,NaN,NaN,NaN
156,NaN,NaN,7710000127,NaN,7710000468,NaN,NaN,NaN,NaN
157,NaN,NaN,7710000086,NaN,7710000283,NaN,NaN,NaN,NaN
158,NaN,NaN,9000473266,NaN,7710000321,NaN,NaN,NaN,NaN
159,NaN,NaN,7710000041,NaN,37,NaN,NaN,NaN,NaN
160,NaN,NaN,7710000329,NaN,29,NaN,NaN,NaN,NaN
161,NaN,NaN,7710000038,NaN,7710000076,NaN,NaN,NaN,NaN
162,NaN,NaN,8,NaN,7710000487,NaN,NaN,NaN,NaN
163,NaN,NaN,7710000080,NaN,9000036857,NaN,NaN,NaN,NaN
164,NaN,NaN,7710000366,NaN,26,NaN,NaN,NaN,NaN
165,NaN,NaN,7710000465,NaN,60,NaN,NaN,NaN,NaN
166,NaN,NaN,9000169553,NaN,7710000274,NaN,NaN,NaN,NaN
167,NaN,NaN,jubafilled_4,NaN,202,NaN,NaN,NaN,NaN
168,NaN,NaN,7710000453,NaN,214,NaN,NaN,NaN,NaN
169,NaN,NaN,9000109733,NaN,7710000204,NaN,NaN,NaN,NaN
170,NaN,NaN,9000434326,NaN,68,NaN,NaN,NaN,NaN
171,NaN,NaN,9000031756,NaN,14,NaN,NaN,NaN,NaN
172,NaN,NaN,7710000244,NaN,7710000111,NaN,NaN,NaN,NaN
173,NaN,NaN,7710000325,NaN,7710000464,NaN,NaN,NaN,NaN
174,NaN,NaN,9000333288,NaN,7710000403,NaN,NaN,NaN,NaN
175,NaN,NaN,7710000122,NaN,7710000315,NaN,NaN,NaN,NaN
176,NaN,NaN,7710000356,NaN,7710000374,NaN,NaN,NaN,NaN
177,NaN,NaN,49,NaN,9000339289,NaN,NaN,NaN,NaN
178,NaN,NaN,59_dupassigned_1,NaN,7710000212,NaN,NaN,NaN,NaN
179,NaN,NaN,67,NaN,7710000371,NaN,NaN,NaN,NaN
180,NaN,NaN,18,NaN,9000141216,NaN,NaN,NaN,NaN
181,NaN,NaN,3_dupassigned_1,NaN,7710000463,NaN,NaN,NaN,NaN
182,NaN,NaN,7710000311,NaN,7710000057,NaN,NaN,NaN,NaN
183,NaN,NaN,7710000256,NaN,7710000114,NaN,NaN,NaN,NaN
184,NaN,NaN,7710000370,NaN,9000344759,NaN,NaN,NaN,NaN
185,NaN,NaN,NaN,NaN,7710000467,NaN,NaN,NaN,NaN
186,NaN,NaN,NaN,NaN,7710000045,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,85,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,9000038390,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,9000117441,NaN,NaN,NaN,NaN
190,NaN,NaN,NaN,NaN,7710000073,NaN,NaN,NaN,NaN

In [93]:
# See the stores defined with each condition

df_store_count=pd.DataFrame()

for col in df_stores_in_each_group.columns.tolist():
    list_col=df_stores_in_each_group[col].unique().tolist()
    list_col=[x for x in list_col if str(x)!="nan"]
    len_col=len(list_col)
    df=pd.DataFrame({"group":col,"store_count":len_col},index=[0])
    df_store_count=df_store_count.append(df)
df_store_count

                                       group  store_count
0                       T1_A_single_store_TA           65
0  T1_B_all_merge_4_40_above_involved_stores           19
0  T1_C_all_merge_3_40_above_involved_stores          185
0  T1_D_all_merge_4_40_above_involved_stores           17
0  T1_E_all_merge_3_40_above_involved_stores          191
0     T2_B_all_merge_4_35_40_involved_stores            4
0     T2_C_all_merge_3_35_40_involved_stores           66
0     T3_B_all_merge_4_15_35_involved_stores            9
0     T3_C_all_merge_3_15_35_involved_stores           61

In [94]:
# Write out teh stores

writer=pd.ExcelWriter(output_folder+"Ashley_TA_combination_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_all_single_store_TA.to_excel(writer,"T1_df_all_single_store_TA",index=False)
df_B_all_merge_4_40_above.to_excel(writer,"T1_df_B_all_merge_4",index=False)
df_C_all_merge_3_40_above.to_excel(writer,"T1_df_C_all_merge_3",index=False)
df_D_all_merge_4_40_above.to_excel(writer,"T1_df_D_all_merge_4",index=False)
df_E_all_merge_3_40_above.to_excel(writer,"T1_df_E_all_merge_3",index=False)

df_B_all_merge_4_35_40.to_excel(writer,"T2_df_B_all_merge_4_15_35",index=False)
df_C_all_merge_3_35_40.to_excel(writer,"T2_df_C_all_merge_3_15_35",index=False)

df_B_all_merge_4_15_35.to_excel(writer,"T3_df_B_all_merge_4_15_35",index=False) # throw later
df_C_all_merge_3_15_35.to_excel(writer,"T3_df_C_all_merge_3_15_35",index=False) # throw later

df_store_count.to_excel(writer,"group_store_count",index=False)

df_stores_in_each_group.to_excel(writer,"defined_stores",index=False)

all_paired_group_store_df.to_excel(writer,"all_paired_group_store_df",index=False)
remained_stores.to_excel(writer,"remained_stores",index=False)
new_stores.to_excel(writer,"new_stores_without_P_S",index=False)
writer.save()

# Selected_N_stores_as_initial_aggregated_TA

In [95]:
DMA_nielsen=pd.read_excel(path_nielsen_zip,
                          dtype=str,skiprows=1,usecols=['CODE','NAME','NAME.1'])
DMA_nielsen=DMA_nielsen.rename(columns={"CODE":"zip_cd","NAME":"DMA","NAME.1":"CTY"})
DMA_nielsen=DMA_nielsen.drop_duplicates()
zip_DMA=DMA_nielsen.groupby("zip_cd")['DMA'].apply(set).to_frame().reset_index()
zip_CTY=DMA_nielsen.groupby("zip_cd")['CTY'].apply(set).to_frame().reset_index()
DMA_nielsen=pd.merge(zip_DMA,zip_CTY,on="zip_cd",how="left")

In [96]:
# Selected T1B - T2C
selected_groups=['T1_B_all_merge_4_40_above_involved_stores',
                 'T1_C_all_merge_3_40_above_involved_stores',
                 'T1_D_all_merge_4_40_above_involved_stores',
                 'T1_E_all_merge_3_40_above_involved_stores',
                 'T2_B_all_merge_4_35_40_involved_stores',
                 'T2_C_all_merge_3_35_40_involved_stores']

df_output_N_stores_selected=pd.DataFrame()

for group in selected_groups:
    store_list=df_stores_in_each_group[group].unique().tolist()
    store_list=[x for x in store_list if str(x)!="nan"]
    df=pd.DataFrame({"store_id":store_list},index=[group]*len(store_list)).reset_index().rename(columns={"index":"group"})
    df_output_N_stores_selected=df_output_N_stores_selected.append(df)
df_output_N_stores_selected.shape

(482, 2)

In [97]:
# Already defined

store_list=df_store_address[['store_id','address_1','zip_cd','city','state','latitude','longitude']]
store_list=store_list.rename(columns={"store_num":"store_id"})
store_list['zip_cd']=store_list['zip_cd'].apply(lambda x: str(x).split("-")[0].zfill(5))

df_output_N_stores_selected=pd.merge(df_output_N_stores_selected,store_list,on="store_id",how="left")

df_output_N_stores_selected=pd.merge(df_output_N_stores_selected,DMA_nielsen,on="zip_cd",how="left")

df_output_N_stores_selected['DMA']=df_output_N_stores_selected['DMA'].astype(str)
df_output_N_stores_selected['CTY']=df_output_N_stores_selected['CTY'].astype(str)

df_output_N_stores_selected.head(2)

,group,store_id,address_1,zip_cd,city,state,latitude,longitude,DMA,CTY
0,T1_B_all_merge_4_40_above_involved_stores,9000464694,5802 east dr,78041,laredo,tx,27.551350,-99.476048,{'LAREDO'},{'WEBB'}
1,T1_B_all_merge_4_40_above_involved_stores,35_dupassigned_1,7831 s olympia ave,74132,tulsa,ok,36.049335,-96.004310,{'TULSA'},"{'CREEK', 'TULSA'}"

In [98]:
df_P_S_zips_by_store.head(2)

,store_id,all_P_zips,all_S_zips,40_miles_P_zips,40_miles_S_zips
0,1,"[38313, 38392, 38391, 38366, 38362, 38338, 383...","[38037, 38036, 38034, 38316, 38315, 38310, 383...","[38313, 38392, 38391, 38366, 38362, 38338, 383...","[38037, 38036, 38034, 38316, 38315, 38310, 383..."
1,10,"[72901, 72905, 72904, 72918, 74936, 74902, 749...","[74930, 74931, 72821, 72774, 72951, 72958, 729...","[72901, 72905, 72904, 72918, 74936, 74902, 749...","[74930, 74931, 72821, 72774, 72951, 72958, 729..."

In [99]:
# Same above, add features to already selected stores

df_P_S_zips_by_store_copy=df_P_S_zips_by_store.copy()
df_P_S_zips_by_store_copy['All_P&S_zips']=df_P_S_zips_by_store_copy['all_P_zips']+df_P_S_zips_by_store_copy['all_S_zips']
df_P_S_zips_by_store_copy['All_P&S_zips_40_miles']=df_P_S_zips_by_store_copy['40_miles_P_zips']+df_P_S_zips_by_store_copy['40_miles_S_zips']
df_P_S_zips_by_store_copy=df_P_S_zips_by_store_copy[['store_id','all_P_zips','all_S_zips','All_P&S_zips','40_miles_P_zips','40_miles_S_zips','All_P&S_zips_40_miles']]

df_output_N_stores_selected=pd.merge(df_output_N_stores_selected,df_P_S_zips_by_store_copy,on="store_id",how="left")

df_output_N_stores_selected['nearest_store']=df_output_N_stores_selected['store_id'].apply(lambda x: find_nearest_store(x)[0])
df_output_N_stores_selected['dist_to_nearest_store']=df_output_N_stores_selected['store_id'].apply(lambda x: find_nearest_store(x)[1])

df_output_N_stores_selected=pd.merge(df_output_N_stores_selected,store_PS_40_near,on="nearest_store")
df_output_N_stores_selected['nearest_intersection_zips']=df_output_N_stores_selected.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['near_store_all_PS_40'])[0],axis=1)
df_output_N_stores_selected['nearest_pair_overlap_with_hold']=df_output_N_stores_selected.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['near_store_all_PS_40'])[1],axis=1)
df_output_N_stores_selected['nearest_pair_overlap_with_nearest']=df_output_N_stores_selected.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['near_store_all_PS_40'])[2],axis=1)

In [100]:
# Still, add columns to selected stores DF
df_output_N_stores_selected['min_overlap_pctg']=df_output_N_stores_selected['store_id'].apply(lambda x: find_overlaped_stores(x)[0])
df_output_N_stores_selected['min_overlap_store']=df_output_N_stores_selected['store_id'].apply(lambda x: find_overlaped_stores(x)[1])
df_output_N_stores_selected['max_overlap_pctg']=df_output_N_stores_selected['store_id'].apply(lambda x: find_overlaped_stores(x)[2])
df_output_N_stores_selected['max_overlap_store']=df_output_N_stores_selected['store_id'].apply(lambda x: find_overlaped_stores(x)[3])


df_output_N_stores_selected['min_overlap_store']=df_output_N_stores_selected['min_overlap_store'].apply(lambda x: eval(x))
df_output_N_stores_selected['max_overlap_store']=df_output_N_stores_selected['max_overlap_store'].apply(lambda x: eval(x))

df_output_N_stores_selected['min_paired_store']=df_output_N_stores_selected.apply(lambda x: remove_the_hold_store(x['min_overlap_store'],x['store_id']),axis=1)
df_output_N_stores_selected['max_paired_store']=df_output_N_stores_selected.apply(lambda x: remove_the_hold_store(x['max_overlap_store'],x['store_id']),axis=1)

df_output_N_stores_selected['min_overlap_store']=df_output_N_stores_selected['min_overlap_store'].astype(str)
df_output_N_stores_selected['max_overlap_store']=df_output_N_stores_selected['max_overlap_store'].astype(str)

df_output_N_stores_selected['dist_min_overlap_pairs']=df_output_N_stores_selected['min_overlap_store'].apply(lambda x: dist_of_2_str_stores(x))
df_output_N_stores_selected['dist_max_overlap_pairs']=df_output_N_stores_selected['max_overlap_store'].apply(lambda x: dist_of_2_str_stores(x))


df_output_N_stores_selected=pd.merge(df_output_N_stores_selected,store_PS_40_min,on="min_paired_store")
df_output_N_stores_selected=pd.merge(df_output_N_stores_selected,store_PS_40_max,on="max_paired_store")


df_output_N_stores_selected['max_intersection_zips']=df_output_N_stores_selected.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['max_store_all_PS_40'])[0],axis=1)
df_output_N_stores_selected['max_pair_overlap_with_hold']=df_output_N_stores_selected.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['max_store_all_PS_40'])[1],axis=1)
df_output_N_stores_selected['max_pair_overlap_with_max']=df_output_N_stores_selected.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['max_store_all_PS_40'])[2],axis=1)

df_output_N_stores_selected['min_intersection_zips']=df_output_N_stores_selected.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['min_store_all_PS_40'])[0],axis=1)
df_output_N_stores_selected['min_pair_overlap_with_hold']=df_output_N_stores_selected.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['min_store_all_PS_40'])[1],axis=1)
df_output_N_stores_selected['min_pair_overlap_with_min']=df_output_N_stores_selected.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['min_store_all_PS_40'])[2],axis=1)

In [101]:
# According to the defined conditions, summarize

df_output_N_stores_selected_with_result=pd.DataFrame()
for group,df_group in df_output_N_stores_selected.groupby("group"):
    print(group,df_group.shape[0])

    if (group in ['T1_B_all_merge_4_40_above_involved_stores','T2_B_all_merge_4_35_40_involved_stores']):
        df_1=df_group[df_group['min_overlap_pctg']>=0.35]
        df_2=df_group[df_group['min_overlap_pctg']<0.35]
        
        df_1['result_combined_store']=df_1[['store_id','nearest_store','max_paired_store','min_paired_store']].values.tolist()
        df_2['result_combined_store']=df_2[['store_id','nearest_store','max_paired_store']].values.tolist()
        
        df_group=df_1.append(df_2)
        
    elif (group in ['T1_C_all_merge_3_40_above_involved_stores','T1_D_all_merge_4_40_above_involved_stores','T1_E_all_merge_3_40_above_involved_stores']):
        df_group['result_combined_store']=df_group[['store_id','nearest_store','max_paired_store']].values.tolist()
        
    elif group=="T2_C_all_merge_3_35_40_involved_stores":
        df_group_max=df_group[(df_group['max_overlap_pctg']>=0.35) & (df_group['max_overlap_pctg']<0.5)]
        df_group_min=df_group[(df_group['min_overlap_pctg']>=0.35) & (df_group['min_overlap_pctg']<0.5)]
        list_max_group=df_group_max['store_id'].unique().tolist()
        list_min_group=df_group_min['store_id'].unique().tolist()
        list_both_group=list_max_group+list_min_group
        
        df_group_others=df_group[~df_group['store_id'].isin(list_both_group)]
        
        
        df_group_max['result_combined_store']=df_group_max[['store_id','nearest_store','max_paired_store']].values.tolist()
        df_group_min['result_combined_store']=df_group_min[['store_id','nearest_store','min_paired_store']].values.tolist()
        
        df_group=df_group_max.append(df_group_min).append(df_group_others)
        
    print(group,len(df_group))
    df_output_N_stores_selected_with_result=df_output_N_stores_selected_with_result.append(df_group)
df_output_N_stores_selected_with_result['result_combined_store']=df_output_N_stores_selected_with_result['result_combined_store'].fillna("[]")
df_output_N_stores_selected_with_result['result_combined_store']=df_output_N_stores_selected_with_result['result_combined_store'].astype(str)
df_output_N_stores_selected_with_result['result_combined_store']=df_output_N_stores_selected_with_result['result_combined_store'].apply(lambda x: sorted(list(set(eval(x)))))

T1_B_all_merge_4_40_above_involved_stores 19
T1_B_all_merge_4_40_above_involved_stores 19
T1_C_all_merge_3_40_above_involved_stores 185
T1_C_all_merge_3_40_above_involved_stores 185
T1_D_all_merge_4_40_above_involved_stores 17
T1_D_all_merge_4_40_above_involved_stores 17
T1_E_all_merge_3_40_above_involved_stores 191
T1_E_all_merge_3_40_above_involved_stores 191
T2_B_all_merge_4_35_40_involved_stores 4
T2_B_all_merge_4_35_40_involved_stores 4

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

T2_C_all_merge_3_35_40_involved_stores 66
T2_C_all_merge_3_35_40_involved_stores 66

In [102]:
print(df_output_N_stores_selected_with_result.shape,df_output_N_stores_selected_with_result['store_id'].nunique())
df_output_N_stores_selected_with_result.head(4)

(482, 39) 482

,40_miles_P_zips,40_miles_S_zips,All_P&S_zips,All_P&S_zips_40_miles,CTY,DMA,address_1,all_P_zips,all_S_zips,city,dist_max_overlap_pairs,dist_min_overlap_pairs,dist_to_nearest_store,group,latitude,longitude,max_intersection_zips,max_overlap_pctg,max_overlap_store,max_pair_overlap_with_hold,max_pair_overlap_with_max,max_paired_store,max_store_all_PS_40,min_intersection_zips,min_overlap_pctg,min_overlap_store,min_pair_overlap_with_hold,min_pair_overlap_with_min,min_paired_store,min_store_all_PS_40,near_store_all_PS_40,nearest_intersection_zips,nearest_pair_overlap_with_hold,nearest_pair_overlap_with_nearest,nearest_store,result_combined_store,state,store_id,zip_cd
0,"[78046, 78044, 78045, 78042, 78043, 78040, 78041]","[78371, 78344, 78019, 78067, 78369]","[78046, 78044, 78045, 78042, 78043, 78040, 780...","[78046, 78044, 78045, 78042, 78043, 78040, 780...",{'WEBB'},{'LAREDO'},5802 east dr,"[78046, 78044, 78045, 78042, 78043, 78040, 78041]","[78371, 78344, 78019, 78067, 78369]",laredo,1.676081,1.877681,1.602183,T1_B_all_merge_4_40_above_involved_stores,27.551350,-99.476048,"[78043, 78369, 78067, 78042, 78040, 78344, 783...",1.0,"['9000464694', '9000473730']",1.0,1.0,9000473730,"[78043, 78369, 78067, 78042, 78040, 78344, 783...","[78043, 78369, 78067, 78042, 78040, 78371, 780...",0.916667,"['7710000423', '9000464694']",0.916667,1.000000,7710000423,"[78043, 78369, 78067, 78042, 78040, 78371, 780...","[78043, 78369, 78067, 78042, 78040, 78371, 780...","[78043, 78369, 78067, 78042, 78040, 78371, 780...",0.916667,1.0,9000451588,"[7710000423, 9000451588, 9000464694, 9000473730]",tx,9000464694,78041
1,"[78046, 78044, 78045, 78042, 78043, 78040, 78041]","[78371, 78344, 78019, 78067, 78369]","[78046, 78044, 78045, 78042, 78043, 78040, 780...","[78046, 78044, 78045, 78042, 78043, 78040, 780...",{'WEBB'},{'LAREDO'},5203 bob bullock loop,"[78046, 78044, 78045, 78042, 78043, 78040, 78041]","[78371, 78344, 78019, 78067, 78369]",laredo,1.676081,3.373965,1.676081,T1_B_all_merge_4_40_above_involved_stores,27.544513,-99.449797,"[78043, 78369, 78067, 78042, 78040, 78344, 783...",1.0,"['9000464694', '9000473730']",1.0,1.0,9000464694,"[78043, 78369, 78067, 78042, 78040, 78344, 783...","[78043, 78369, 78067, 78042, 78040, 78371, 780...",0.916667,"['7710000423', '9000473730']",0.916667,1.000000,7710000423,"[78043, 78369, 78067, 78042, 78040, 78371, 780...","[78043, 78369, 78067, 78042, 78040, 78344, 783...","[78043, 78369, 78067, 78042, 78040, 78344, 783...",1.000000,1.0,9000464694,"[7710000423, 9000464694, 9000473730]",tx,9000473730,78041
2,"[78046, 78044, 78045, 78042, 78043, 78040, 78041]","[78371, 78019, 78067, 78369]","[78046, 78044, 78045, 78042, 78043, 78040, 780...","[78046, 78044, 78045, 78042, 78043, 78040, 780...",{'WEBB'},{'LAREDO'},4520 san bernardo ave,"[78046, 78044, 78045, 78042, 78043, 78040, 78041]","[78371, 78019, 78067, 78369]",laredo,0.334388,1.877681,0.334388,T1_B_all_merge_4_40_above_involved_stores,27.541917,-99.504793,"[78043, 78369, 78067, 78042, 78040, 78371, 780...",1.0,"['7710000423', '9000451588']",1.0,1.0,9000451588,"[78043, 78369, 78067, 78042, 78040, 78371, 780...","[78043, 78369, 78067, 78042, 78040, 78371, 780...",0.916667,"['7710000423', '9000464694']",1.000000,0.916667,9000464694,"[78043, 78369, 78067, 78042, 78040, 78344, 783...","[78043, 78369, 78067, 78042, 78040, 78371, 780...","[78043, 78369, 78067, 78042, 78040, 78371, 780...",1.000000,1.0,9000451588,"[7710000423, 9000451588, 9000464694]",tx,7710000423,78041
3,"[78046, 78044, 78045, 78042, 78043, 78040, 78041]","[78371, 78019, 78067, 78369]","[78046, 78044, 78045, 78042, 78043, 78040, 780...","[78046, 78044, 78045, 78042, 78043, 78040, 780...",{'WEBB'},{'LAREDO'},5001 san dario ave #b,"[78046, 78044, 78045, 78042, 78043, 78040, 78041]","[78371, 78019, 78067, 78369]",laredo,0.334388,1.602183,0.334388,T1_B_all_merge_4_40_above_involved_stores,27.545722,-99.501420,"[78043, 78369, 78067, 78042, 78040, 78371, 780...",1.0,"['7710000423', '9000451588']",1.0,1.0,7710000423,"[78043, 78369, 78067, 78042, 78040, 78371, 780...","[78043, 78369, 78067, 78042, 78040, 78371, 780...",0.916667,"['9000451588', '9000464694']",1.000000,0.916667,9000464694,"[78043, 78369, 78067, 78042, 78040, 78344, 783...","[78043, 78369, 78067, 78042, 78040, 78371, 780...","[78043, 78369, 78067, 78042, 78040, 78371, 780...",1.000000,1.0,7710000423,"[7710000423, 9000451588, 9000464694]",tx,9000451588,78041

In [103]:
# Rerange

col_list_2=col_list.copy()
col_list_2.remove("dist_group")

col_list_2=col_list_2[:6]+['CTY','DMA']+col_list_2[6:]
df_output_N_stores_selected_with_result=df_output_N_stores_selected_with_result[["group"]+col_list_2+["result_combined_store"]]

In [104]:
# Write out T1b and T2c
df_output_N_stores_selected_with_result=df_output_N_stores_selected_with_result.sort_values(["dist_to_nearest_store","state","CTY","city"])

writer=pd.ExcelWriter(output_folder+"sorted_N_stores_T1B_T2C_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_output_N_stores_selected_with_result.to_excel(writer,"sorted_N_stores",index=False)
writer.save()

In [105]:
# Name the TA number

df_data=df_output_N_stores_selected_with_result[['store_id','result_combined_store']]
df_ta_store_result_pairs=pd.DataFrame(columns=['TA','store_id'])
df_data=df_data.reset_index()
del df_data['index']

ta=0
for i,row in df_data.iterrows():
    location_hold=row['store_id']
    location_associatd=row['result_combined_store']
    intersection_existing=set(location_associatd).intersection(set(df_ta_store_result_pairs['store_id'].tolist()))
    
    if len(intersection_existing)==0:
        ta+=1
        df=pd.DataFrame({"TA":[ta]*len(location_associatd),"store_id":location_associatd},index=[ta]*len(location_associatd))
        df_ta_store_result_pairs=df_ta_store_result_pairs.append(df)
    else:
        TA_list_overlapped=df_ta_store_result_pairs[df_ta_store_result_pairs['store_id'].isin(intersection_existing)]['TA'].unique().tolist()
        grouped_ta=df_ta_store_result_pairs[df_ta_store_result_pairs['TA'].isin(TA_list_overlapped)]
        grouped_ta_others=df_ta_store_result_pairs[~df_ta_store_result_pairs['TA'].isin(TA_list_overlapped)]
        
        grouped_ta['TA']=grouped_ta['TA'].min()
        
        new_stores_added=[x for x in location_associatd if x not in grouped_ta['store_id'].tolist()]
        df=pd.DataFrame({"TA":[grouped_ta['TA'].min()]*len(new_stores_added),"store_id":new_stores_added},index=[grouped_ta['TA'].min()]*len(new_stores_added))
        grouped_ta=grouped_ta.append(df)
        df_ta_store_result_pairs=grouped_ta_others.append(grouped_ta)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [106]:
df_ta_store_result_pairs=df_ta_store_result_pairs[df_ta_store_result_pairs['store_id'].isin(df_output_N_stores_selected_with_result['store_id'].tolist())]
print(df_ta_store_result_pairs.shape,df_ta_store_result_pairs['store_id'].nunique())
df_ta_store_result_pairs.head(3)

(482, 2) 482

      TA      store_id
2.0  2.0    9000128001
2.0  2.0  jubafilled_4
9.0  9.0             4

In [107]:
df_output_N_stores_selected_with_result=pd.merge(df_output_N_stores_selected_with_result,df_ta_store_result_pairs,on="store_id",how="left")

summary_df_N_stores=df_output_N_stores_selected_with_result.groupby("TA")['store_id'].count().to_frame().reset_index().sort_values("store_id",ascending=False)

In [108]:
df_output_N_stores_selected_with_result=df_output_N_stores_selected_with_result[['TA']+[x for x in df_output_N_stores_selected_with_result.columns.tolist() if x!="TA"]]
df_output_N_stores_selected_with_result=df_output_N_stores_selected_with_result.sort_values(['TA','state','CTY'])

In [109]:
df_rename_TA=df_output_N_stores_selected_with_result[['TA']].drop_duplicates()
df_rename_TA['new_name']=[x+1 for x in range(len(df_rename_TA))]
dict_rename_TA=df_rename_TA.set_index("TA").to_dict()["new_name"]


df_output_N_stores_selected_with_result['TA']=df_output_N_stores_selected_with_result['TA'].apply(lambda x: dict_rename_TA[x])

In [110]:
# Write out initial TA

writer=pd.ExcelWriter(output_folder+"initial_TA_output.xlsx",engine="xlsxwriter")

df_output_N_stores_selected_with_result.to_excel(writer,"with_TA",index=False)
summary_df_N_stores.to_excel(writer,"summary",index=False)

writer.save()

In [111]:
df_output_N_stores_selected_with_result[df_output_N_stores_selected_with_result['TA']==3].shape

(7, 40)

In [112]:
df_rename_TA=df_output_N_stores_selected_with_result[['TA']].drop_duplicates()
df_rename_TA['new_name']=[x+1 for x in range(len(df_rename_TA))]
dict_rename_TA=df_rename_TA.set_index("TA").to_dict()["new_name"]


df_output_N_stores_selected_with_result['TA']=df_output_N_stores_selected_with_result['TA'].apply(lambda x: dict_rename_TA[x])



# Write out initial TA

writer=pd.ExcelWriter(output_folder+"initial_TA_output.xlsx",engine="xlsxwriter")

df_output_N_stores_selected_with_result.to_excel(writer,"with_TA",index=False)
summary_df_N_stores.to_excel(writer,"summary",index=False)

writer.save()

df_output_N_stores_selected_with_result[df_output_N_stores_selected_with_result['TA']==3].shape

(7, 40)

In [113]:
# Append columns of summarized into TA level

df_output_N_TA_zips=df_output_N_stores_selected_with_result.groupby("TA")['All_P&S_zips_40_miles','All_P&S_zips'].sum().reset_index()

df_output_N_TA_zips=df_output_N_TA_zips.rename(columns={"All_P&S_zips_40_miles":"zip_cd_40","All_P&S_zips":"zip_cd_all","store_id":"store_list"})
df_output_N_TA_zips['zip_cd_40']=df_output_N_TA_zips['zip_cd_40'].apply(lambda x: list(set(x)))
df_output_N_TA_zips['zip_cd_all']=df_output_N_TA_zips['zip_cd_all'].apply(lambda x: list(set(x)))

df_output_N_TA_zips_2=df_output_N_stores_selected_with_result.groupby("TA")['store_id'].apply(list).reset_index()
df_output_N_TA_zips_2=df_output_N_TA_zips_2.rename(columns={"store_id":"store_list"})
df_output_N_TA_zips_2['store_list']=df_output_N_TA_zips_2['store_list'].apply(lambda x: list(set(x)))

df_output_N_TA_zips=pd.merge(df_output_N_TA_zips,df_output_N_TA_zips_2,on="TA")
print(df_output_N_TA_zips.shape)
df_output_N_TA_zips.head(3)

(130, 4)

,TA,zip_cd_40,zip_cd_all,store_list
0,1,"[36119, 36046, 36109, 36702, 36051, 36091, 350...","[36119, 36046, 36109, 36702, 36051, 36091, 350...","[11, 9000480971, 9000333288]"
1,2,"[92373, 91706, 92385, 92604, 92806, 92371, 928...","[92373, 91706, 92385, 92604, 92806, 92371, 928...","[9000128001, jubafilled_4]"
2,3,"[92373, 91946, 92051, 91963, 92108, 92102, 925...","[92373, 91946, 92051, 91963, 92108, 92102, 925...","[7710000034, jubafilled_1, 7710000057, 7710000..."

In [114]:
a=df_output_N_TA_zips['store_list'].sum()
len(set(a))

482

# Single Store TA¶

In [115]:
# Since no new stores, skip here
new_stores=new_stores.reset_index()

df_new_store_zips=pd.DataFrame()

del new_stores['index']

for ind,row in new_stores.iterrows():
    store_num=row['store_id']
    store_center=[row['latitude'],row['longitude']]
    
    for zip_cd in zip_centers.keys():
        dist=haversine(store_center,zip_centers[zip_cd],unit="mi")
        
        if dist<=10:

            df=pd.DataFrame({"store_id":store_num,"zips_in_10":zip_cd,"dist_miles":dist},index=[store_num])
            df_new_store_zips=df_new_store_zips.append(df)
        
df_new_store_zips.shape

# No new stores!!!

(0, 0)

In [116]:
# The stores that have no overlap with others are assigned as a single store TA

df_sing_store_zips_wide=df_all_single_store_TA[['store_id','All_P&S_zips_40_miles','All_P&S_zips']]

df_sing_store_zips_wide=df_sing_store_zips_wide.sort_values("store_id")
df_sing_store_zips_wide=df_sing_store_zips_wide.rename(columns={"All_P&S_zips_40_miles":"zip_cd_40",
                                                                "All_P&S_zips":"zip_cd_all",
                                                                "store_id":"store_list"})
df_sing_store_zips_wide['store_list']=df_sing_store_zips_wide['store_list'].apply(lambda x: [x])
df_sing_store_zips_wide['TA']=[x+1+df_output_N_TA_zips['TA'].max() for x in range(len(df_sing_store_zips_wide))]

all_defined_TA=df_output_N_TA_zips.append(df_sing_store_zips_wide)
all_defined_stores=all_defined_TA['store_list'].sum()
print(len(all_defined_stores))

all_defined_TA=all_defined_TA.reset_index()
del all_defined_TA['index']

all_defined_TA.shape

547

(195, 4)

In [117]:
df_output_N_TA_zips

,TA,zip_cd_40,zip_cd_all,store_list
0,1,"[36119, 36046, 36109, 36702, 36051, 36091, 350...","[36119, 36046, 36109, 36702, 36051, 36091, 350...","[11, 9000480971, 9000333288]"
1,2,"[92373, 91706, 92385, 92604, 92806, 92371, 928...","[92373, 91706, 92385, 92604, 92806, 92371, 928...","[9000128001, jubafilled_4]"
2,3,"[92373, 91946, 92051, 91963, 92108, 92102, 925...","[92373, 91946, 92051, 91963, 92108, 92102, 925...","[7710000034, jubafilled_1, 7710000057, 7710000..."
3,4,"[95334, 94203, 95368, 95269, 94566, 95831, 953...","[95334, 94203, 95368, 95269, 94566, 95831, 953...","[6545654812980, 9000035149, 9000081607, 900016..."
4,5,"[83605, 83669, 83653, 97914, 83702, 83641, 836...","[83605, 83669, 83653, 97914, 83702, 83641, 836...","[7710000355, 9000117944, 7710000136]"
5,6,"[37057, 38401, 37082, 38552, 37119, 37118, 370...","[37057, 38401, 37082, 38552, 37119, 37118, 370...","[53, 577_dupassigned_1, 15, 577_dupassigned_0,..."
6,7,"[77292, 77535, 77471, 77224, 77287, 77013, 775...","[77292, 77535, 77471, 77224, 77287, 77013, 775...","[275, 271, 261, 273, 544, 277, 9000348252, 276..."
7,8,"[84116, 84120, 84415, 84412, 84003, 84049, 843...","[84116, 84120, 84415, 84412, 84003, 84049, 843...","[7710000449, 7710000450, 7710000448, 771000045..."
8,9,"[38863, 38827, 39776, 38828, 38879, 38868, 388...","[38863, 38827, 39776, 38828, 38879, 38868, 388...","[9000451817, 4]"
9,10,"[71238, 71213, 71229, 71212, 71268, 71418, 712...","[71238, 71213, 71229, 71212, 71268, 71418, 712...","[7710000194, 9000418096]"
10,11,"[10471, 11102, 11366, 10178, 11427, 11514, 119...","[10471, 11102, 11366, 10178, 11427, 11514, 119...","[9000187561, 9000340838, 7710000314, 771000030..."
11,12,"[78043, 78369, 78067, 78042, 78040, 78344, 783...","[78043, 78369, 78067, 78042, 78040, 78344, 783...","[9000464694, 7710000423, 9000451588, 9000473730]"
12,13,"[76526, 78626, 76692, 76645, 76544, 76703, 765...","[76526, 78626, 76692, 76645, 76544, 76703, 765...","[7710000422, 214, 9000344757, 7710000445]"
13,14,"[63110, 62009, 62021, 62258, 62084, 62295, 622...","[63110, 62009, 62021, 62258, 62084, 62295, 622...","[9000348259, 27, 24_dupassigned_1, 29, 25_dupa..."
14,15,"[43018, 43739, 43040, 43783, 43194, 43235, 433...","[43018, 43739, 43040, 43783, 43194, 43235, 433...","[9000169553, m7]"
15,16,"[96843, 96813, 96786, 96837, 96850, 96836, 967...","[96843, 96813, 96786, 96837, 96850, 96836, 967...","[7710000128, 7710000129, 7710000130]"
16,17,"[27559, 28525, 27344, 27841, 27608, 27811, 276...","[27559, 28525, 27344, 27841, 27608, 27811, 276...","[9000451582, 7710000250, 9000442446, 900033981..."
17,18,"[31513, 31556, 31560, 31553, 31542, 31563, 315...","[31513, 31556, 31560, 31553, 31542, 31563, 315...","[7710000127, 9000450874]"
18,19,"[27094, 27559, 27497, 27344, 27282, 27201, 272...","[27094, 27559, 27497, 27344, 27282, 27201, 272...","[7710000243, 9000109026, 7710000249]"
19,20,"[20407, 20901, 20878, 20818, 20788, 22712, 207...","[20407, 20901, 20878, 20818, 20788, 22712, 207...","[7710000156, 9000170259, 7710000472, 771000046..."
20,21,"[89442, 89511, 89513, 96142, 89507, 89435, 894...","[89442, 89511, 89513, 96142, 89507, 89435, 894...","[7710000305, 55_dupassigned_0]"
21,22,"[08855, 08326, 08808, 18910, 08610, 19009, 189...","[08855, 08326, 08808, 18910, 08610, 19009, 189...","[7710000365, 7710000360, 9000451583, 50_dupass..."
22,23,"[10471, 11102, 10981, 10178, 11366, 08855, 114...","[10471, 11102, 10981, 10178, 11366, 08855, 114...","[9000340837, 9000466584, 7710000274, 771000028..."
23,24,"[91610, 90264, 91221, 91107, 93011, 91401, 913...","[91610, 90264, 91221, 91107, 93011, 91401, 913...","[7710000044, 9000416839, 9000170173, 771000004..."
24,25,"[10471, 11102, 11366, 10178, 08855, 11427, 077...","[10471, 11102, 11366, 10178, 08855, 11427, 077...","[jubafilled_2, 7710000278, 7710000276, 7710000..."
25,26,"[91610, 90264, 91221, 91107, 93011, 91401, 913...","[91610, 90264, 91221, 91107, 93011, 91401, 913...","[7710000048, 9000134491, 7710000061, 7710000051]"
26,27,"[08855, 08808, 19511, 18910, 08610, 18704, 190...","[08855, 08808, 19511, 18910, 08610, 18704, 190...","[7710000366, 7710000367, 7710000368, 771000037..."
27,28,"[91610, 92373, 91221, 92051, 91107, 91401, 913...","[91610, 92373, 91221, 92051, 91107, 91401, 913...","[7710000064, 9000443488, 7710000043, 771000006..."
28,29,"[32185, 32214, 32201, 32073, 32227, 31562, 322...","[32185, 32214, 32201, 32073, 32227, 31562, 322...","[9000170255, 7710000084, 7710000085, 771000008..."
29,30,"[27559, 27344, 27608, 27201, 27231, 27620, 275...","[27559, 27344, 27608, 27201, 27231, 27620, 275...","[7710000246, 9000451598]"
30,31,"[37023, 37082, 37061, 42211, 37142, 37072, 370...","[37023, 37082, 37061, 42211, 37142, 37072, 370...","[7710000389, 9000129633]"
31,32,"[06161, 06183, 06375, 06151, 06330, 06085, 063...","[06161, 06183, 06375, 06151, 06330, 06085, 063...","[7710000068, 9000474717, 9000346094, 7710000067]"
32,33,"[08326, 08610, 19009, 18928, 08330, 19067, 082...","[08326, 08610, 19009, 18928, 08330, 19067, 082...","[7710000286, 59_dupassigned_0, 51_dupassigned_..."
33,34,"[95024, 94061, 94164, 95133, 95472, 94566, 949...","[95024, 94061, 94164, 95133, 95472, 94566, 949...","[9000032551, 7710000058, 7710000036, 900003515..."
34,35,"[60169, 60441, 60649, 60055, 60435, 60610, 605...","[60169, 60441, 60649, 60055, 60435, 60610, 605...","[59_dupassigned_1, 7710000150]"
35,36,"[72395, 38637, 38151, 72354, 38041, 38042, 386...","[72395, 38637, 38151, 72354, 38041, 38042, 386...","[555, 3_dupassigned_1]"
36,37,"[60169, 60441, 60649, 60061, 60055, 60610, 604...","[60169, 60441, 60649, 60061, 60055, 60610, 604...","[69, 57, 554, 55_dupassigned_1, 63, 68, 58, 66..."
37,38,"[28056, 28098, 28216, 28270, 28660, 28630, 280...","[28056, 28098, 28216, 28270, 28660, 28630, 280...","[7710000253, 7710000255, 9000339819, 900017026..."
38,39,"[13053, 13034, 13033, 13074, 13201, 13166, 130...","[13053, 13034, 13033, 13074, 13201, 13166, 130...","[9000129115, 7710000325]"
39,40,"[10471, 11102, 10981, 10178, 08855, 07193, 088...","[10471, 11102, 10981, 10178, 08855, 07193, 088...","[7710000277, 9000344758]"
40,41,"[24217, 24210, 24639, 37614, 28662, 37694, 286...","[24217, 24210, 24639, 37614, 28662, 37694, 286...","[7710000394, 7710000393, 9000188745, 9000473266]"
41,42,"[22404, 22546, 22446, 22729, 22712, 23102, 201...","[22404, 22546, 22446, 22729, 22712, 23102, 201...","[9000170256, 7710000458]"
42,43,"[33144, 33164, 33191, 33083, 33233, 33296, 331...","[33144, 33164, 33191, 33083, 33233, 33296, 331...","[7710000080, 7710000079, 7710000092, 771000010..."
43,44,"[23694, 23513, 23125, 23181, 23021, 23529, 230...","[23694, 23513, 23125, 23181, 23021, 23529, 230...","[7710000464, 7710000470, 7710000453]"
44,45,"[43336, 44813, 43018, 43739, 43311, 43040, 433...","[43336, 44813, 43018, 43739, 43311, 43040, 433...","[9000109733, m5, m6]"
45,46,"[46899, 46761, 45849, 46990, 46743, 46991, 469...","[46899, 46761, 45849, 46990, 46743, 46991, 469...","[7710000165, 7710000164]"
46,47,"[17401, 20407, 20901, 20878, 20818, 20788, 207...","[17401, 20407, 20901, 20878, 20818, 20788, 207...","[7710000198, 9000417563, 7710000206, 771000020..."
47,48,"[72395, 38659, 38637, 38151, 38042, 38651, 381...","[72395, 38659, 38637, 38151, 38042, 38651, 381...","[jubafilled_5, 2, 8]"
48,49,"[55038, 55391, 55349, 56330, 55454, 55305, 554...","[55038, 55391, 55349, 56330, 55454, 55305, 554...","[7710000210, 7710000212, 7710000220, 771000021..."
49,50,"[74463, 74031, 74021, 74108, 74070, 74046, 741...","[74463, 74031, 74021, 74108, 74070, 74046, 741...","[33_dupassigned_1, 34_dupassigned_0, 35_dupass..."
50,51,"[61449, 52070, 61345, 61239, 52806, 61453, 520...","[61449, 52070, 61345, 61239, 52806, 61453, 520...","[9000187176, 7710000132]"
51,52,"[45206, 47012, 41016, 45213, 45067, 45252, 454...","[45206, 47012, 41016, 45213, 45067, 45252, 454...","[m4, m2, m3, m8, m1]"
52,53,"[71130, 75672, 71046, 71080, 71108, 71061, 710...","[71130, 75672, 71046, 71080, 71108, 71061, 710...","[7710000197, 7710000188]"
53,54,"[08326, 17532, 19009, 21040, 17506, 21620, 080...","[08326, 17532, 19009, 21040, 17506, 21620, 080...","[9000451589, 7710000201, 7710000072, 771000007..."
54,55,"[89086, 89158, 89135, 89114, 89002, 89170, 891...","[89086, 89158, 89135, 89114, 89002, 89170, 891...","[7710000301, 7710000304, 7710000302, 7710000303]"
55,56,"[20901, 20407, 20878, 20818, 20788, 22712, 205...","[20901, 20407, 20878, 20818, 20788, 22712, 205...","[7710000203, 7710000460, 7710000469, 771000020..."
56,57,"[70755, 70356, 70773, 70733, 70436, 70381, 703...","[70755, 70356, 70773, 70733, 70436, 70381, 703...","[49, 44_dupassigned_1, 46]"
57,58,"[76258, 75085, 75093, 75087, 76246, 76107, 750...","[76258, 75085, 75093, 75087, 76246, 76107, 750...","[86, 84_dupassigned_1, 81, 87]"
58,59,"[34997, 33068, 33334, 33419, 33499, 33433, 333...","[34997, 33068, 33334, 33419, 33499, 33433, 333...","[7710000104, 7710000103]"
59,60,"[40289, 40061, 47106, 40108, 40159, 40621, 471...","[40289, 40061, 47106, 40108, 40159, 40621, 471...","[18, 17]"
60,61,"[61558, 61449, 61534, 61853, 61654, 61629, 616...","[61558, 61449, 61534, 61853, 61654, 61629, 616...","[7710000139, 9000113653, 7710000153]"
61,62,"[60097, 53533, 53149, 53531, 61011, 61110, 610...","[60097, 53533, 53149, 53531, 61011, 61110, 610...","[56, 9000344331, 7710000489, 7710000490]"
62,63,"[30103, 30356, 30241, 30106, 36280, 30112, 368...","[30103, 30356, 30241, 30106, 36280, 30112, 368...","[9000069346, 7710000010, 9000339289, 771000010..."
63,64,"[60478, 60441, 60164, 60625, 46347, 60690, 606...","[60478, 60441, 60164, 60625, 46347, 60690, 606...","[67, 65]"
64,65,"[37450, 37404, 30740, 37353, 37384, 30747, 307...","[37450, 37404, 30740, 37353, 37384, 30747, 307...","[566, 6]"
65,66,"[14422, 14508, 14435, 14414, 13034, 14036, 130...","[14422, 14508, 14435, 14414, 13034, 14036, 130...","[7710000311, 7710000310, 7710000312]"
66,67,"[30271, 30068, 30356, 30287, 30006, 30298, 300...","[30271, 30068, 30356, 30287, 30006, 30298, 300...","[7710000122, 7710000121]"
67,68,"[23840, 22546, 23181, 23298, 23897, 23102, 231...","[23840, 22546, 23181, 23298, 23897, 23102, 231...","[7710000465, 7710000454, 7710000466, 7710000463]"
68,69,"[97290, 97212, 97312, 98632, 98671, 97206, 972...","[97290, 97212, 97312, 98632, 98671, 97206, 972...","[7710000356, 9000182033, 7710000357]"
69,70,"[44639, 44644, 43962, 44022, 44280, 44282, 446...","[44639, 44644, 43962, 44022, 44280, 44282, 446...","[7710000345, 9000141216, 7710000338, 771000032..."
70,71,"[73072, 73014, 73173, 74834, 74831, 73172, 730...","[73072, 73014, 73173, 74834, 74831, 73172, 730...","[25_dupassigned_1, 24_dupassigned_0, 23_dupass..."
71,72,"[60169, 60441, 53149, 60649, 60061, 61110, 531...","[60169, 60441, 53149, 60649, 60061, 61110, 531...","[9000107104, 7710000495, 60, 7710000488, 54, 6..."
72,73,"[17813, 17401, 17538, 17532, 21031, 17551, 179...","[17813, 17401, 17538, 17532, 21031, 17551, 179...","[9000436299, 7710000372, 7710000364, 7710000361]"
73,74,"[34232, 32753, 34759, 32762, 34217, 34237, 337...","[34232, 32753, 34759, 32762, 34217, 34237, 337...","[7710000077, 7710000074, 7710000088, 771000009..."
74,75,"[22987, 24476, 22812, 24482, 26886, 26812, 268...","[22987, 24476, 22812, 24482, 26886, 26812, 268...","[7710000468, 7710000459, 9000451584]"
75,76,"[27094, 27497, 28660, 27282, 28676, 28138, 270...","[27094, 27497, 28660, 27282, 28676, 28138, 270...","[ASH3787, 7710000259]"
76,77,"[02117, 01966, 03280, 01503, 02150, 03447, 038...","[02117, 01966, 03280, 01503, 02150, 03447, 038...","[9000038162, 7710000271, 9000344759, 7710000270]"
77,78,"[85214, 85026, 85244, 85318, 85127, 85260, 852...","[85214, 85026, 85244, 85318, 85127, 85260, 852...","[9000416840, 7710000019, 7710000028, 900010914..."
78,79,"[94203, 95610, 95676, 95658, 95831, 95685, 959...","[94203, 95610, 95676, 95658, 95831, 95685, 959...","[7710000055, 9000083243, 7710000037]"
79,80,"[46282, 46229, 46902, 46268, 46105, 46219, 462...","[46282, 46229, 46902, 46268, 46105, 46219, 462...","[21, 38, 20, 19]"
80,81,"[45206, 45341, 45213, 43070, 45405, 45432, 453...","[45206, 45341, 45213, 43070, 45405, 45432, 453...","[m10, m11]"
81,82,"[33949, 34146, 34114, 34117, 33955, 33901, 339...","[33949, 34146, 34114, 34117, 33955, 33901, 339...","[7710000091, 7710000082]"
82,83,"[14102, 14422, 14260, 14036, 14172, 14068, 143...","[14102, 14422, 14260, 14036, 14172, 14068, 143...","[7710000319, 7710000306]"
83,84,"[31091, 31209, 31014, 31092, 31020, 31216, 310...","[31091, 31209, 31014, 31092, 31020, 31216, 310...","[7710000120, 9000117441]"
84,85,"[78152, 78292, 78622, 78736, 78284, 78640, 787...","[78152, 78292, 78622, 78736, 78284, 78640, 787...","[204, 202, 210, 203]"
85,86,"[63110, 62009, 62021, 62258, 62084, 62295, 622...","[63110, 62009, 62021, 62258, 62084, 62295, 622...","[26, 28]"
86,87,"[77705, 77575, 77657, 70645, 77597, 77615, 776...","[77705, 77575, 77657, 70645, 77597, 77615, 776...","[7710000403, 9000028378]"
87,88,"[48301, 48178, 48166, 48075, 48307, 43468, 482...","[48301, 48178, 48166, 48075, 48307, 43468, 482...","[76, 39, 71, 40]"
88,89,"[35006, 35137, 35060, 35172, 35260, 35440, 351...","[35006, 35137, 35060, 35172, 35260, 35440, 351...","[7710000004, 7710000143]"
89,90,"[32526, 36527, 36561, 36616, 39568, 36580, 365...","[32526, 36527, 36561, 36616, 39568, 36580, 365...","[7710000009, 7710000012]"
90,91,"[76258, 75060, 75085, 76066, 75093, 75217, 750...","[76258, 75060, 75085, 76066, 75093, 75217, 750...","[85, 84_dupassigned_0, 88]"
91,92,"[23426, 19968, 08204, 21664, 19939, 21863, 233...","[23426, 19968, 08204, 21664, 19939, 21863, 233...","[AHSD, AHSM]"
92,93,"[29146, 29074, 29041, 29223, 29129, 29020, 291...","[29146, 29074, 29041, 29223, 29129, 29020, 291...","[7710000381, 9000129466, 7710000375]"
93,94,"[45870, 45854, 45859, 43407, 45810, 43570, 435...","[45870, 45854, 45859, 43407, 45810, 43570, 435...","[7710000340, 7710000339, 9000036857]"
94,95,"[02117, 02072, 02047, 01503, 06375, 02150, 063...","[02117, 02072, 02047, 01503, 06375, 02150, 063...","[9000104956, 9000190750]"
95,96,"[98424, 98125, 98407, 98005, 98315, 98045, 982...","[98424, 98125, 98407, 98005, 98315, 98045, 982...","[7710000476, 7710000480, 9000447353, 771000048..."
96,97,"[79009, 88124, 88134, 79035, 79344, 88126, 881...","[79009, 88124, 88134, 79035, 79344, 88126, 881...","[7710000299, 7710000295]"
97,98,"[52301, 52211, 52314, 52227, 52223, 52351, 522...","[52301, 52211, 52314, 52227, 52223, 52351, 522...","[7710000131, 9000431053]"
98,99,"[29353, 29664, 28784, 29624, 29677, 29657, 296...","[29353, 29664, 28784, 29624, 29677, 29657, 296...","[7710000377, 7710000373, 7710000380]"
99,100,"[08738, 08875, 08901, 08326, 07704, 19054, 077...","[08738, 08875, 08901, 08326, 07704, 19054, 077...","[7710000285, 9000343876]"
100,101,"[18003, 18519, 18702, 18053, 17749, 18706, 195...","[18003, 18519, 18702, 18053, 17749, 18706, 195...","[7710000362, 9000169172]"
101,102,"[83201, 83209, 83221, 83427, 83402, 83250, 832...","[83201, 83209, 83221, 83427, 83402, 83250, 832...","[9000090614, 7710000137]"
102,103,"[52053, 53803, 52046, 53533, 52054, 61059, 520...","[52053, 53803, 52046, 53533, 52054, 61059, 520...","[9000036856, 7710000492]"
103,104,"[40577, 40481, 40442, 40434, 40423, 40448, 404...","[40577, 40481, 40442, 40434, 40423, 40448, 404...","[32, 23_dupassigned_1]"
104,105,"[32526, 36561, 32502, 32503, 36580, 32536, 325...","[32526, 36561, 32502, 32503, 36580, 32536, 325...","[7710000083, 7710000078, 7710000096]"
105,106,"[78626, 78732, 78755, 78622, 78736, 78640, 787...","[78626, 78732, 78755, 78622, 78736, 78640, 787...","[205, 201]"
106,107,"[24105, 24635, 24639, 24882, 24147, 24843, 258...","[24105, 24635, 24639, 24882, 24147, 24843, 258...","[9000104955, 9000451599]"
107,108,"[13613, 12923, 12910, 13648, 13635, 13649, 129...","[13613, 12923, 12910, 13648, 13635, 13649, 129...","[7710000323, 7710000315, 9000117872]"
108,109,"[31402, 29904, 31301, 31315, 31308, 29918, 313...","[31402, 29904, 31301, 31315, 31308, 29918, 313...","[7710000374, 7710000124]"
109,110,"[36323, 36360, 36017, 32446, 36009, 32443, 363...","[36323, 36360, 36017, 32446, 36009, 32443, 363...","[7710000005, 7710000006]"
110,111,"[70585, 70575, 70755, 70503, 70548, 70517, 705...","[70585, 70575, 70755, 70503, 70548, 70517, 705...","[45, 51_dupassigned_1]"
111,112,"[34480, 32735, 34442, 34460, 32162, 34448, 326...","[34480, 32735, 34442, 34460, 32162, 34448, 326...","[9000339288, 9000032689]"
112,113,"[05681, 05481, 12923, 05647, 05873, 12910, 054...","[05681, 05481, 12923, 05647, 05873, 12910, 054...","[9000081605, 7710000321, 7710000474]"
113,114,"[85716, 85739, 85631, 85731, 85701, 85629, 857...","[85716, 85739, 85631, 85731, 85701, 85629, 857...","[7710000023, 9000035150]"
114,115,"[75772, 75760, 75949, 75946, 75667, 75964, 756...","[75772, 75760, 75949, 75946, 75667, 75964, 756...","[9000077601, 7710000428]"
115,116,"[98275, 98222, 98292, 98340, 98243, 98261, 982...","[98275, 98222, 98292, 98340, 98243, 98261, 982...","[7710000475, 9000191300]"
116,117,"[24105, 24146, 24030, 24019, 24121, 24147, 245...","[24105, 24146, 24030, 24019, 24121, 24147, 245...","[9000170254, 7710000467]"
117,118,"[97312, 97013, 97309, 97331, 97381, 97355, 974...","[97312, 97013, 97309, 97331, 97381, 97355, 974...","[9000431050, 7710000358, 9000035154]"
118,119,"[54115, 54913, 54112, 54911, 54229, 54140, 541...","[54115, 54913, 54112, 54911, 54229, 54140, 541...","[7710000486, 7710000485]"
119,120,"[10981, 10547, 12440, 10702, 07428, 10511, 125...","[10981, 10547, 12440, 10702, 07428, 10511, 125...","[7710000316, 7710000324]"
120,121,"[15963, 16663, 15638, 15522, 15627, 16866, 156...","[15963, 16663, 15638, 15522, 15627, 16866, 156...","[7710000359, 7710000363]"
121,122,"[42755, 42370, 42320, 37119, 42219, 42726, 422...","[42755, 42370, 42320, 37119, 42219, 42726, 422...","[9000113454, 7]"
122,123,"[44887, 43336, 44813, 43311, 43040, 45859, 448...","[44887, 43336, 44813, 43311, 43040, 45859, 448...","[7710000343, 7710000342]"
123,124,"[34974, 34997, 33419, 33476, 34769, 32978, 329...","[34974, 34997, 33419, 33476, 34769, 32978, 329...","[7710000108, 7710000089, 42_dupassigned_0]"
124,125,"[41143, 25103, 25521, 25152, 25550, 25624, 251...","[41143, 25103, 25521, 25152, 25550, 25624, 251...","[7710000497, 7710000498]"
125,126,"[28433, 28405, 28467, 28459, 28420, 28436, 295...","[28433, 28405, 28467, 28459, 28420, 28436, 295...","[7710000378, 7710000258, 7710000257]"
126,127,"[32399, 32336, 31738, 32315, 31779, 32355, 323...","[32399, 32336, 31738, 32315, 31779, 32355, 323...","[7710000101, 7710000125]"
127,128,"[35812, 35776, 35746, 30738, 35754, 38488, 350...","[35812, 35776, 35746, 30738, 35754, 38488, 350...","[7710000008, 9000103258]"
128,129,"[28582, 28531, 28511, 28516, 28533, 28525, 285...","[28582, 28531, 28511, 28516, 28533, 28525, 285...","[7710000252, 7710000254]"
129,130,"[75772, 75756, 75672, 75765, 75799, 75127, 757...","[75772, 75756, 75672, 75765, 75799, 75127, 757...","[12, 16]"

In [118]:
# Remaining stores

df_remain_stores=store_list[['store_id']].drop_duplicates()

df_remain_stores=df_remain_stores[~df_remain_stores['store_id'].isin(all_defined_stores)]
df_remain_stores.shape

(115, 1)

In [119]:
# All of the rest are how to put the remaining stores into existing defined TAs

df_remain_stores=pd.merge(df_remain_stores,store_list,on="store_id",how="left")
df_remain_stores=pd.merge(df_remain_stores,DMA_nielsen,on="zip_cd",how="left")

df_remain_stores['DMA']=df_remain_stores['DMA'].astype(str)
df_remain_stores['CTY']=df_remain_stores['CTY'].astype(str)

In [120]:
# Focus on remaining only

df_remain_stores=pd.merge(df_remain_stores,df_P_S_zips_by_store_copy,on="store_id",how="inner")

df_remain_stores['nearest_store']=df_remain_stores['store_id'].apply(lambda x: find_nearest_store(x)[0])
df_remain_stores['dist_to_nearest_store']=df_remain_stores['store_id'].apply(lambda x: find_nearest_store(x)[1])

df_remain_stores=pd.merge(df_remain_stores,store_PS_40_near,on="nearest_store")

df_remain_stores['nearest_intersection_zips']=df_remain_stores.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['near_store_all_PS_40'])[0],axis=1)
df_remain_stores['nearest_pair_overlap_with_hold']=df_remain_stores.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['near_store_all_PS_40'])[1],axis=1)
df_remain_stores['nearest_pair_overlap_with_nearest']=df_remain_stores.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['near_store_all_PS_40'])[2],axis=1)

In [121]:
# Same as above steps, prepare the DF with zips and overlap cols
df_remain_stores['min_overlap_pctg']=df_remain_stores['store_id'].apply(lambda x: find_overlaped_stores(x)[0])
df_remain_stores['min_overlap_store']=df_remain_stores['store_id'].apply(lambda x: find_overlaped_stores(x)[1])
df_remain_stores['max_overlap_pctg']=df_remain_stores['store_id'].apply(lambda x: find_overlaped_stores(x)[2])
df_remain_stores['max_overlap_store']=df_remain_stores['store_id'].apply(lambda x: find_overlaped_stores(x)[3])


df_remain_stores['min_overlap_store']=df_remain_stores['min_overlap_store'].apply(lambda x: eval(x))
df_remain_stores['max_overlap_store']=df_remain_stores['max_overlap_store'].apply(lambda x: eval(x))

df_remain_stores['min_paired_store']=df_remain_stores.apply(lambda x: remove_the_hold_store(x['min_overlap_store'],x['store_id']),axis=1)
df_remain_stores['max_paired_store']=df_remain_stores.apply(lambda x: remove_the_hold_store(x['max_overlap_store'],x['store_id']),axis=1)

df_remain_stores['min_overlap_store']=df_remain_stores['min_overlap_store'].astype(str)
df_remain_stores['max_overlap_store']=df_remain_stores['max_overlap_store'].astype(str)

df_remain_stores['dist_min_overlap_pairs']=df_remain_stores['min_overlap_store'].apply(lambda x: dist_of_2_str_stores(x))
df_remain_stores['dist_max_overlap_pairs']=df_remain_stores['max_overlap_store'].apply(lambda x: dist_of_2_str_stores(x))


df_remain_stores=pd.merge(df_remain_stores,store_PS_40_min,on="min_paired_store")
df_remain_stores=pd.merge(df_remain_stores,store_PS_40_max,on="max_paired_store")


df_remain_stores['max_intersection_zips']=df_remain_stores.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['max_store_all_PS_40'])[0],axis=1)
df_remain_stores['max_pair_overlap_with_hold']=df_remain_stores.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['max_store_all_PS_40'])[1],axis=1)
df_remain_stores['max_pair_overlap_with_max']=df_remain_stores.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['max_store_all_PS_40'])[2],axis=1)

df_remain_stores['min_intersection_zips']=df_remain_stores.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['min_store_all_PS_40'])[0],axis=1)
df_remain_stores['min_pair_overlap_with_hold']=df_remain_stores.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['min_store_all_PS_40'])[1],axis=1)
df_remain_stores['min_pair_overlap_with_min']=df_remain_stores.apply(lambda x: intersection_2_list(x['All_P&S_zips_40_miles'],x['min_store_all_PS_40'])[2],axis=1)

### Because we don't have new store df
### df_remain_stores=df_remain_stores.append(df_new_store_zips_wide_copy)

In [122]:
# Fuction to see which existing TA can cover the best of each remaining store
def find_max_covered_TA(zip_list_store):
    max_intersect_count=0
    max_intersect_list=[]
    intersect_TA=0
    for ind,row in all_defined_TA.iterrows():
        ta_40_zips=row['zip_cd_40']
        intersection_zips_P_S_40=list(set(zip_list_store).intersection(set(ta_40_zips)))
        intersection_zips_P_S_40_len=len(intersection_zips_P_S_40)
        if intersection_zips_P_S_40_len>max_intersect_count:
            max_intersect_count=intersection_zips_P_S_40_len
            max_intersect_list=intersection_zips_P_S_40
            intersect_TA=row['TA']
    max_intersect_pctc=max_intersect_count/len(zip_list_store)
            
    return intersect_TA,max_intersect_list,max_intersect_count,max_intersect_pctc

In [123]:
# Apply above func

df_remain_stores['Max_overlap_TA']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[0])
df_remain_stores['Overlap_zips_with_TA_40']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[1])
df_remain_stores['Overlap_zips_count']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[2])
df_remain_stores['Overlap_zips_Pctg']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[3])

In [124]:
df_remain_stores.head(2)

,store_id,address_1,zip_cd,city,state,latitude,longitude,DMA,CTY,all_P_zips,all_S_zips,All_P&S_zips,40_miles_P_zips,40_miles_S_zips,All_P&S_zips_40_miles,nearest_store,dist_to_nearest_store,near_store_all_PS_40,nearest_intersection_zips,nearest_pair_overlap_with_hold,nearest_pair_overlap_with_nearest,min_overlap_pctg,min_overlap_store,max_overlap_pctg,max_overlap_store,min_paired_store,max_paired_store,dist_min_overlap_pairs,dist_max_overlap_pairs,min_store_all_PS_40,max_store_all_PS_40,max_intersection_zips,max_pair_overlap_with_hold,max_pair_overlap_with_max,min_intersection_zips,min_pair_overlap_with_hold,min_pair_overlap_with_min,Max_overlap_TA,Overlap_zips_with_TA_40,Overlap_zips_count,Overlap_zips_Pctg
0,212,3000 pablo kisel blvd,78526,brownsville,tx,25.962027,-97.505523,{'HARLINGEN-WSLCO-BRNSVL-MCA'},{'CAMERON'},"[78586, 78521, 78520, 78523, 78526, 78575, 785...","[78583, 78580, 78538, 78570, 78559, 78552, 785...","[78586, 78521, 78520, 78523, 78526, 78575, 785...","[78586, 78521, 78520, 78523, 78526, 78575, 785...","[78583, 78580, 78538, 78570, 78559, 78552, 785...","[78586, 78521, 78520, 78523, 78526, 78575, 785...",206,46.407809,"[78543, 78536, 78577, 78538, 78593, 78504, 785...","[78543, 78580, 78569, 78579, 78535, 78559, 785...",0.625000,0.392157,0.317460,"['206', '212']",0.317460,"['206', '212']",206,206,46.407809,46.407809,"[78543, 78536, 78577, 78538, 78593, 78504, 785...","[78543, 78536, 78577, 78538, 78593, 78504, 785...","[78543, 78580, 78569, 78579, 78535, 78559, 785...",0.625000,0.392157,"[78543, 78580, 78569, 78579, 78535, 78559, 785...",0.625000,0.392157,0,[],0,0.000000
1,74,1722 veterans blvd,39648,mccomb,ms,31.262958,-90.476370,"{'JACKSON, MS'}",{'PIKE'},"[39652, 39657, 39662, 39664, 39666, 39635, 396...","[39653, 39654, 39656, 39668, 39661, 39663, 396...","[39652, 39657, 39662, 39664, 39666, 39635, 396...","[39652, 39657, 39662, 39664, 39666, 39635, 396...","[39653, 39654, 39656, 39668, 39661, 39663, 396...","[39652, 39657, 39662, 39664, 39666, 39635, 396...",52,54.826821,"[70450, 70183, 70146, 70126, 70733, 70436, 700...","[70450, 70422, 39657, 70438, 70456, 70465, 704...",0.232558,0.069444,0.019108,"['44_dupassigned_1', '74']",0.056497,"['52', '74']",44_dupassigned_1,52,67.593985,54.826821,"[70755, 70773, 70733, 70393, 70719, 70401, 708...","[70450, 70183, 70146, 70126, 70733, 70436, 700...","[70450, 70422, 39657, 70438, 70456, 70465, 704...",0.232558,0.069444,"[70761, 70441, 70722]",0.069767,0.025641,57,"[70761, 70422, 70456, 70465, 70436, 70441, 704...",8,0.186047

In [125]:
# another df to be used

del df_all_single_store_TA['dist_group']
df_sing_store_zips_wide_copy=df_sing_store_zips_wide.copy()
df_sing_store_zips_wide_copy=df_sing_store_zips_wide_copy[['store_list','TA']]
df_sing_store_zips_wide_copy['store_id']=df_sing_store_zips_wide_copy['store_list'].apply(lambda x: x[0])
df_sing_store_zips_wide_copy=df_sing_store_zips_wide_copy[['store_id',"TA"]]

In [126]:
df_all_single_store_TA.head(2)

,store_id,address_1,city,state,zip_cd,latitude,longitude,all_P_zips,all_S_zips,All_P&S_zips,40_miles_P_zips,40_miles_S_zips,All_P&S_zips_40_miles,nearest_store,dist_to_nearest_store,near_store_all_PS_40,nearest_intersection_zips,nearest_pair_overlap_with_hold,nearest_pair_overlap_with_nearest,max_overlap_store,max_overlap_pctg,dist_max_overlap_pairs,max_paired_store,max_store_all_PS_40,max_intersection_zips,max_pair_overlap_with_hold,max_pair_overlap_with_max,min_overlap_store,min_overlap_pctg,dist_min_overlap_pairs,min_paired_store,min_store_all_PS_40,min_intersection_zips,min_pair_overlap_with_hold,min_pair_overlap_with_min
380,9000451595,14136 baxter dr,baxter,mn,56425,46.357039,-94.225514,"[56473, 56472, 56425, 56449, 56444, 56441, 564...","[56475, 56474, 56364, 56359, 56479, 56328, 563...","[56473, 56472, 56425, 56449, 56444, 56441, 564...","[56473, 56472, 56425, 56449, 56444, 56441, 564...","[56475, 56474, 56364, 56359, 56479, 56328, 563...","[56473, 56472, 56425, 56449, 56444, 56441, 564...",7710000219,55.644298,"[56373, 55341, 56387, 56330, 56367, 56345, 553...","[56373, 56345, 56338, 56314, 56317, 56344, 563...",0.230769,0.111111,"[7710000219, 9000451595]",0.081081,55.644298,7710000219,"[56373, 55341, 56387, 56330, 56367, 56345, 553...","[56373, 56345, 56338, 56314, 56317, 56344, 563...",0.230769,0.111111,"[7710000219, 9000451595]",0.081081,55.644298,7710000219,"[56373, 55341, 56387, 56330, 56367, 56345, 553...","[56373, 56345, 56338, 56314, 56317, 56344, 563...",0.230769,0.111111
651,9000416178,1001 n highway 23,marshall,mn,56258,44.446312,-95.759949,"[56258, 56255, 56115, 56239, 56175, 56263, 562...","[56113, 56114, 56284, 56285, 56287, 56280, 562...","[56258, 56255, 56115, 56239, 56175, 56263, 562...","[56258, 56255, 56115, 56239, 56175, 56263, 562...","[56113, 56114, 56284, 56285, 56287, 56280, 562...","[56258, 56255, 56115, 56239, 56175, 56263, 562...",9000092869,73.917667,"[55387, 56209, 55381, 55349, 55307, 55385, 553...",[56270],0.017544,0.012821,"[9000092869, 9000416178]",0.007463,73.917667,9000092869,"[55387, 56209, 55381, 55349, 55307, 55385, 553...",[56270],0.017544,0.012821,"[9000092869, 9000416178]",0.007463,73.917667,9000092869,"[55387, 56209, 55381, 55349, 55307, 55385, 553...",[56270],0.017544,0.012821

In [127]:
df_sing_store_zips_wide_copy.head(2) # single

              store_id   TA
1349                10  131
1346  33_dupassigned_0  132

In [128]:
# Add TA num
df_all_single_store_TA=pd.merge(df_all_single_store_TA,df_sing_store_zips_wide_copy,on="store_id",how="left")
df_all_single_store_TA=df_all_single_store_TA[["TA"]+[x for x in df_all_single_store_TA.columns.tolist() if x!="TA"]]

In [129]:
# Fill the gap 1-n to see which avaible, since some TA may merged together above
df_all_single_store_TA_cols_1=[x for x in df_output_N_stores_selected_with_result.columns.tolist() if x in df_all_single_store_TA.columns.tolist()]
df_all_single_store_TA_cols_2=[x for x in df_all_single_store_TA.columns.tolist() if x not in df_all_single_store_TA_cols_1]
df_all_single_store_TA=df_all_single_store_TA[df_all_single_store_TA_cols_1+df_all_single_store_TA_cols_2]

In [130]:

df_remain_stores_cols_1=[x for x in df_output_N_stores_selected_with_result.columns.tolist() if x in df_remain_stores.columns.tolist()]
df_remain_stores_cols_2=[x for x in df_remain_stores.columns.tolist() if x not in df_remain_stores_cols_1]
df_remain_stores=df_remain_stores[df_remain_stores_cols_1+df_remain_stores_cols_2]

In [131]:
# Write out

writer=pd.ExcelWriter(output_folder+"Ashley_remaining_stores_and_defined_TA_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_remain_stores.to_excel(writer,"df_remain_stores",index=False)
all_defined_TA.to_excel(writer,"all_defined_TA",index=False)
df_output_N_stores_selected_with_result.to_excel(writer,"TA_by_store_multiple",index=False)
df_all_single_store_TA.to_excel(writer,"TA_by_store_single",index=False)
writer.save()

In [132]:
all_defined_TA.head(4)

,TA,store_list,zip_cd_40,zip_cd_all
0,1,"[11, 9000480971, 9000333288]","[36119, 36046, 36109, 36702, 36051, 36091, 350...","[36119, 36046, 36109, 36702, 36051, 36091, 350..."
1,2,"[9000128001, jubafilled_4]","[92373, 91706, 92385, 92604, 92806, 92371, 928...","[92373, 91706, 92385, 92604, 92806, 92371, 928..."
2,3,"[7710000034, jubafilled_1, 7710000057, 7710000...","[92373, 91946, 92051, 91963, 92108, 92102, 925...","[92373, 91946, 92051, 91963, 92108, 92102, 925..."
3,4,"[6545654812980, 9000035149, 9000081607, 900016...","[95334, 94203, 95368, 95269, 94566, 95831, 953...","[95334, 94203, 95368, 95269, 94566, 95831, 953..."

In [133]:
print(datetime.datetime.now())

2020-12-08 12:27:42.527859

In [134]:
# We have the DF for the remaining stores, go to allocate them
df_remain_stores.shape

(115, 41)

# Iter the balance¶

In [130]:
# Steps to lower the overlap pctg threshold to put the remaining into existing

In [135]:
# Iter 1 - >=40% 

df_remain_stores_Iter1_40=df_remain_stores[df_remain_stores['Overlap_zips_Pctg']>=0.4]
df_remain_stores_Iter1_40=df_remain_stores_Iter1_40[['store_id','Max_overlap_TA','All_P&S_zips','All_P&S_zips_40_miles']]
df_remain_stores_Iter1_40=df_remain_stores_Iter1_40.rename(columns={"Max_overlap_TA":"TA"})
df_remain_stores_Iter1_40['store_id']=df_remain_stores_Iter1_40['store_id'].apply(lambda x: [x])
df_remain_stores_Iter1_40=df_remain_stores_Iter1_40.groupby("TA")['store_id','All_P&S_zips','All_P&S_zips_40_miles'].sum().reset_index()
for col in ['store_id','All_P&S_zips','All_P&S_zips_40_miles']:
    df_remain_stores_Iter1_40[col]=df_remain_stores_Iter1_40[col].apply(lambda x: list(set(x)))

###
all_defined_TA=pd.merge(all_defined_TA,df_remain_stores_Iter1_40,on="TA",how="left")

for col in ['store_id','All_P&S_zips','All_P&S_zips_40_miles']:
    all_defined_TA[col]=all_defined_TA[col].fillna("[]")
    all_defined_TA[col]=all_defined_TA[col].astype(str)
    all_defined_TA[col]=all_defined_TA[col].apply(lambda x: eval(x))
    
all_defined_TA['store_list']=all_defined_TA[['store_list','store_id']].sum(axis=1)
all_defined_TA['zip_cd_40']=all_defined_TA[['zip_cd_40','All_P&S_zips_40_miles']].sum(axis=1)
all_defined_TA['zip_cd_all']=all_defined_TA[['zip_cd_all','All_P&S_zips']].sum(axis=1)

all_defined_TA['zip_cd_40']=all_defined_TA['zip_cd_40'].apply(lambda x: list(set(x)))
all_defined_TA['zip_cd_all']=all_defined_TA['zip_cd_all'].apply(lambda x: list(set(x)))
all_defined_TA=all_defined_TA[['TA','store_list','zip_cd_40','zip_cd_all']]

df_remain_stores=df_remain_stores[~df_remain_stores['store_id'].isin(all_defined_TA['store_list'].sum())]

df_remain_stores['Max_overlap_TA']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[0])
df_remain_stores['Overlap_zips_with_TA_40']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[1])
df_remain_stores['Overlap_zips_count']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[2])
df_remain_stores['Overlap_zips_Pctg']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[3])
df_remain_stores.shape

(82, 41)

In [136]:
# Iter 2 - >=30% 

df_remain_stores_Iter1_40=df_remain_stores[df_remain_stores['Overlap_zips_Pctg']>=0.3]
df_remain_stores_Iter1_40=df_remain_stores_Iter1_40[['store_id','Max_overlap_TA','All_P&S_zips','All_P&S_zips_40_miles']]
df_remain_stores_Iter1_40=df_remain_stores_Iter1_40.rename(columns={"Max_overlap_TA":"TA"})
df_remain_stores_Iter1_40['store_id']=df_remain_stores_Iter1_40['store_id'].apply(lambda x: [x])
df_remain_stores_Iter1_40=df_remain_stores_Iter1_40.groupby("TA")['store_id','All_P&S_zips','All_P&S_zips_40_miles'].sum().reset_index()
for col in ['store_id','All_P&S_zips','All_P&S_zips_40_miles']:
    df_remain_stores_Iter1_40[col]=df_remain_stores_Iter1_40[col].apply(lambda x: list(set(x)))

###
all_defined_TA=pd.merge(all_defined_TA,df_remain_stores_Iter1_40,on="TA",how="left")

for col in ['store_id','All_P&S_zips','All_P&S_zips_40_miles']:
    all_defined_TA[col]=all_defined_TA[col].fillna("[]")
    all_defined_TA[col]=all_defined_TA[col].astype(str)
    all_defined_TA[col]=all_defined_TA[col].apply(lambda x: eval(x))
    
all_defined_TA['store_list']=all_defined_TA[['store_list','store_id']].sum(axis=1)
all_defined_TA['zip_cd_40']=all_defined_TA[['zip_cd_40','All_P&S_zips_40_miles']].sum(axis=1)
all_defined_TA['zip_cd_all']=all_defined_TA[['zip_cd_all','All_P&S_zips']].sum(axis=1)

all_defined_TA['zip_cd_40']=all_defined_TA['zip_cd_40'].apply(lambda x: list(set(x)))
all_defined_TA['zip_cd_all']=all_defined_TA['zip_cd_all'].apply(lambda x: list(set(x)))
all_defined_TA=all_defined_TA[['TA','store_list','zip_cd_40','zip_cd_all']]

df_remain_stores=df_remain_stores[~df_remain_stores['store_id'].isin(all_defined_TA['store_list'].sum())]

df_remain_stores['Max_overlap_TA']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[0])
df_remain_stores['Overlap_zips_with_TA_40']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[1])
df_remain_stores['Overlap_zips_count']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[2])
df_remain_stores['Overlap_zips_Pctg']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[3])
df_remain_stores.shape

(66, 41)

In [137]:
# Iter 3 - >=20% 

df_remain_stores_Iter1_40=df_remain_stores[df_remain_stores['Overlap_zips_Pctg']>=0.2]
df_remain_stores_Iter1_40=df_remain_stores_Iter1_40[['store_id','Max_overlap_TA','All_P&S_zips','All_P&S_zips_40_miles']]
df_remain_stores_Iter1_40=df_remain_stores_Iter1_40.rename(columns={"Max_overlap_TA":"TA"})
df_remain_stores_Iter1_40['store_id']=df_remain_stores_Iter1_40['store_id'].apply(lambda x: [x])
df_remain_stores_Iter1_40=df_remain_stores_Iter1_40.groupby("TA")['store_id','All_P&S_zips','All_P&S_zips_40_miles'].sum().reset_index()
for col in ['store_id','All_P&S_zips','All_P&S_zips_40_miles']:
    df_remain_stores_Iter1_40[col]=df_remain_stores_Iter1_40[col].apply(lambda x: list(set(x)))

###
all_defined_TA=pd.merge(all_defined_TA,df_remain_stores_Iter1_40,on="TA",how="left")

for col in ['store_id','All_P&S_zips','All_P&S_zips_40_miles']:
    all_defined_TA[col]=all_defined_TA[col].fillna("[]")
    all_defined_TA[col]=all_defined_TA[col].astype(str)
    all_defined_TA[col]=all_defined_TA[col].apply(lambda x: eval(x))
    
all_defined_TA['store_list']=all_defined_TA[['store_list','store_id']].sum(axis=1)
all_defined_TA['zip_cd_40']=all_defined_TA[['zip_cd_40','All_P&S_zips_40_miles']].sum(axis=1)
all_defined_TA['zip_cd_all']=all_defined_TA[['zip_cd_all','All_P&S_zips']].sum(axis=1)

all_defined_TA['zip_cd_40']=all_defined_TA['zip_cd_40'].apply(lambda x: list(set(x)))
all_defined_TA['zip_cd_all']=all_defined_TA['zip_cd_all'].apply(lambda x: list(set(x)))
all_defined_TA=all_defined_TA[['TA','store_list','zip_cd_40','zip_cd_all']]

df_remain_stores=df_remain_stores[~df_remain_stores['store_id'].isin(all_defined_TA['store_list'].sum())]

df_remain_stores['Max_overlap_TA']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[0])
df_remain_stores['Overlap_zips_with_TA_40']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[1])
df_remain_stores['Overlap_zips_count']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[2])
df_remain_stores['Overlap_zips_Pctg']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[3])
df_remain_stores.shape

(50, 41)

In [138]:
# Looks like the while loop is same as above

while df_remain_stores[df_remain_stores['Overlap_zips_Pctg']>0.2].shape[0]>0:
    df_remain_stores_Iter1_40=df_remain_stores[df_remain_stores['Overlap_zips_Pctg']>=0.2]
    df_remain_stores_Iter1_40=df_remain_stores_Iter1_40[['store_id','Max_overlap_TA','All_P&S_zips','All_P&S_zips_40_miles']]
    df_remain_stores_Iter1_40=df_remain_stores_Iter1_40.rename(columns={"Max_overlap_TA":"TA"})
    df_remain_stores_Iter1_40['store_id']=df_remain_stores_Iter1_40['store_id'].apply(lambda x: [x])
    df_remain_stores_Iter1_40=df_remain_stores_Iter1_40.groupby("TA")['store_id','All_P&S_zips','All_P&S_zips_40_miles'].sum().reset_index()
    for col in ['store_id','All_P&S_zips','All_P&S_zips_40_miles']:
        df_remain_stores_Iter1_40[col]=df_remain_stores_Iter1_40[col].apply(lambda x: list(set(x)))

    ###
    all_defined_TA=pd.merge(all_defined_TA,df_remain_stores_Iter1_40,on="TA",how="left")

    for col in ['store_id','All_P&S_zips','All_P&S_zips_40_miles']:
        all_defined_TA[col]=all_defined_TA[col].fillna("[]")
        all_defined_TA[col]=all_defined_TA[col].astype(str)
        all_defined_TA[col]=all_defined_TA[col].apply(lambda x: eval(x))

    all_defined_TA['store_list']=all_defined_TA[['store_list','store_id']].sum(axis=1)
    all_defined_TA['zip_cd_40']=all_defined_TA[['zip_cd_40','All_P&S_zips_40_miles']].sum(axis=1)
    all_defined_TA['zip_cd_all']=all_defined_TA[['zip_cd_all','All_P&S_zips']].sum(axis=1)

    all_defined_TA['zip_cd_40']=all_defined_TA['zip_cd_40'].apply(lambda x: list(set(x)))
    all_defined_TA['zip_cd_all']=all_defined_TA['zip_cd_all'].apply(lambda x: list(set(x)))
    all_defined_TA=all_defined_TA[['TA','store_list','zip_cd_40','zip_cd_all']]

    df_remain_stores=df_remain_stores[~df_remain_stores['store_id'].isin(all_defined_TA['store_list'].sum())]

    df_remain_stores['Max_overlap_TA']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[0])
    df_remain_stores['Overlap_zips_with_TA_40']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[1])
    df_remain_stores['Overlap_zips_count']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[2])
    df_remain_stores['Overlap_zips_Pctg']=df_remain_stores['All_P&S_zips_40_miles'].apply(lambda x: find_max_covered_TA(x)[3])
df_remain_stores.shape

(45, 41)

In [139]:
all_defined_TA['store_count']=all_defined_TA['store_list'].apply(lambda x: len(x))
all_defined_TA['store_count'].sum()

617

In [140]:
writer=pd.ExcelWriter(output_folder+"Ashley_remaining_stores_and_defined_2_TA_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_remain_stores.to_excel(writer,"df_remain_stores",index=False)
all_defined_TA.to_excel(writer,"all_defined_TA",index=False)
writer.save()

In [141]:
df_remain_stores_single_TA=df_remain_stores[['store_id','All_P&S_zips','All_P&S_zips_40_miles']]
df_remain_stores_single_TA['TA']=[all_defined_TA['TA'].max()+x+1 for x in range(len(df_remain_stores_single_TA))]
df_remain_stores_single_TA=df_remain_stores_single_TA.rename(columns={"store_id":"store_list"})
df_remain_stores_single_TA=df_remain_stores_single_TA.rename(columns={"All_P&S_zips_40_miles":"zip_cd_40"})
df_remain_stores_single_TA=df_remain_stores_single_TA.rename(columns={"All_P&S_zips":"zip_cd_all"})
df_remain_stores_single_TA['store_list']=df_remain_stores_single_TA['store_list'].apply(lambda x: [x])
df_remain_stores_single_TA.head(2)

for col in df_remain_stores_single_TA.columns.tolist():
    print(col,df_remain_stores_single_TA[col].apply(lambda x: type(x)).unique())
    
for col in all_defined_TA.columns.tolist():
    print(col,all_defined_TA[col].apply(lambda x: type(x)).unique())
    
all_defined_TA=all_defined_TA.append(df_remain_stores_single_TA)

all_defined_TA['store_count']=all_defined_TA['store_list'].apply(lambda x: len(x))

store_list [<class 'list'>]
zip_cd_all [<class 'list'>]
zip_cd_40 [<class 'list'>]
TA [<class 'int'>]
TA [<class 'int'>]
store_list [<class 'list'>]
zip_cd_40 [<class 'list'>]
zip_cd_all [<class 'list'>]
store_count [<class 'int'>]

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [142]:
all_defined_TA['store_count']=all_defined_TA['store_list'].apply(lambda x: len(x))

all_defined_TA['temp_1st_store']=all_defined_TA['store_list'].apply(lambda x: "single_"+str(x[0]))
all_defined_TA['temp_TA_str']=all_defined_TA['TA'].apply(lambda x: "multiple_"+str(x))

all_defined_TA['ta_name']=np.where(all_defined_TA['store_count']==1,all_defined_TA['temp_1st_store'],all_defined_TA['temp_TA_str'])

del all_defined_TA['temp_1st_store']
del all_defined_TA['temp_TA_str']

In [143]:
summary_store_count_TA=all_defined_TA.groupby("store_count")['TA'].count().to_frame().reset_index().sort_values("store_count",ascending=False)

In [144]:
# Start writing out final result

df_output_by_store=pd.DataFrame(columns={"store_id","TA","ta_name"})

for ind,row in all_defined_TA.iterrows():
    store_list_in_TA=row['store_list']
    TA_num=row['TA']
    TA_name=row['ta_name']
    df=pd.DataFrame({"store_id":store_list_in_TA,"TA":[TA_num]*len(store_list_in_TA),"ta_name":[TA_name]*len(store_list_in_TA)},index=range(len(store_list_in_TA)))
    df_output_by_store=df_output_by_store.append(df)
df_output_by_store=df_output_by_store.sort_values(["TA","store_id"])
df_output_by_store.head(3)

     store_id TA     ta_name
0          11  1  multiple_1
2  9000333288  1  multiple_1
1  9000480971  1  multiple_1

In [145]:
# Defined TAs and associated zips

df_previous_zip_by_store_copy=df_sales_by_zip[df_sales_by_zip['store_id'].isin(df_output_by_store['store_id'].tolist())]
df_previous_zip_by_store_copy=df_previous_zip_by_store_copy[['store_id','zip_5','trans_label']]
df_previous_zip_by_store_copy=df_previous_zip_by_store_copy[df_previous_zip_by_store_copy['trans_label'].isin(["P","S"])]
df_previous_zip_by_store_copy=df_previous_zip_by_store_copy.rename(columns={"zip_5":"zip_cd"})

print(df_previous_zip_by_store_copy.shape)

df_trans_zips=df_previous_zip_by_store_copy.groupby(["store_id","trans_label"])['zip_cd'].apply(list).to_frame().reset_index()

df_trans_zips=df_trans_zips.pivot(index="store_id",columns="trans_label",values="zip_cd").reset_index()
df_trans_zips=df_trans_zips.rename(columns={"P":"all_trans_P_zips","S":"all_trans_S_zips"})
# df_10_zips=df_new_store_zips.groupby("store_id")['zips_in_10'].apply(list).to_frame().reset_index()
# df_output_by_store_zips=df_trans_zips.append(df_10_zips)
df_output_by_store_zips=df_trans_zips.copy()

(127250, 3)

In [146]:
# Merge in

df_output_by_store=pd.merge(df_output_by_store,store_list,on="store_id",how="left")
df_output_by_store=pd.merge(df_output_by_store,DMA_nielsen,on="zip_cd",how="left")
df_output_by_store=pd.merge(df_output_by_store,df_output_by_store_zips,on="store_id",how="left")

In [147]:
# Fullfil nan with "[]" and eval into list
df_output_by_store['all_trans_P_zips']=df_output_by_store['all_trans_P_zips'].fillna("[]")
df_output_by_store['all_trans_S_zips']=df_output_by_store['all_trans_S_zips'].fillna("[]")
# df_output_by_store['zips_in_10']=df_output_by_store['zips_in_10'].fillna("[]")

df_output_by_store['all_trans_P_zips']=df_output_by_store['all_trans_P_zips'].astype(str)
df_output_by_store['all_trans_S_zips']=df_output_by_store['all_trans_S_zips'].astype(str)
# df_output_by_store['zips_in_10']=df_output_by_store['zips_in_10'].astype(str)

df_output_by_store['all_trans_P_zips']=df_output_by_store['all_trans_P_zips'].apply(lambda x: eval(x))
df_output_by_store['all_trans_S_zips']=df_output_by_store['all_trans_S_zips'].apply(lambda x: eval(x))
# df_output_by_store['zips_in_10']=df_output_by_store['zips_in_10'].apply(lambda x: eval(x))

In [148]:
# All the same above, just my preference to start from raw to see if result in the same, work somehow to QC
# In addition, to see as TA now, any TA can be combined together??
# Limit 40 miles zips to the associated stores

df_output_by_store_copy=df_output_by_store.copy()
df_output_by_store_copy=df_output_by_store_copy.reset_index()
del df_output_by_store_copy['index']

location_lat_long_dict=df_output_by_store_copy[['store_id','latitude','longitude']].drop_duplicates()
location_lat_long_dict['store_center']=location_lat_long_dict[['latitude','longitude']].values.tolist()
location_lat_long_dict=location_lat_long_dict.set_index("store_id")['store_center']


df_output_by_store_1=pd.DataFrame()
df_output_by_store_copy['trans_P_zips_40_within_TA']=np.nan
df_output_by_store_copy['trans_S_zips_40_within_TA']=np.nan

for TA,df_group in df_output_by_store_copy.groupby("TA"):
    store_list=df_group['store_id'].tolist()
    df_group=df_group.reset_index()
    del df_group['index']
    
    for ind,row in df_group.iterrows():
        all_P_zips_list=row['all_trans_P_zips']
        all_S_zips_list=row['all_trans_S_zips']
        P_zips_list_40_in_TA=[]
        S_zips_list_40_in_TA=[]
        
        for zip_P in all_P_zips_list:
            if zip_P in zip_centers.keys():
                for store in store_list:
                    store_center=location_lat_long_dict[store]
                    dist=haversine(store_center, zip_centers[zip_P],unit="mi")
                    if dist<=num_final_inclusion_dist:
                        P_zips_list_40_in_TA=P_zips_list_40_in_TA+[zip_P]
                
        for zip_S in all_S_zips_list:
            if zip_S in zip_centers.keys():
                for store in store_list:
                    store_center=location_lat_long_dict[store]
                    dist=haversine(store_center, zip_centers[zip_S],unit="mi")
                    if dist<=num_final_inclusion_dist:
                        S_zips_list_40_in_TA=S_zips_list_40_in_TA+[zip_S]
                    
        P_zips_list_40_in_TA=list(set(P_zips_list_40_in_TA))
        S_zips_list_40_in_TA=list(set(S_zips_list_40_in_TA))
        
        df_group.loc[ind,'trans_P_zips_40_within_TA']=str(P_zips_list_40_in_TA)
        df_group.loc[ind,'trans_S_zips_40_within_TA']=str(S_zips_list_40_in_TA)
        
    df_output_by_store_1=df_output_by_store_1.append(df_group)
        
df_output_by_store_1['trans_P_zips_40_within_TA']=df_output_by_store_1['trans_P_zips_40_within_TA'].apply(lambda x: eval(x))
df_output_by_store_1['trans_S_zips_40_within_TA']=df_output_by_store_1['trans_S_zips_40_within_TA'].apply(lambda x: eval(x))

df_output_by_store=df_output_by_store_1.copy()

In [149]:
print(store_center)

[37.085276, -94.480089]

In [150]:
df_output_by_store.head(5)

,store_id,TA,ta_name,address_1,zip_cd,city,state,latitude,longitude,DMA,CTY,all_trans_P_zips,all_trans_S_zips,trans_P_zips_40_within_TA,trans_S_zips_40_within_TA
0,11,1,multiple_1,2223 cobbs ford rd,36066,prattville,al,32.460566,-86.406119,{MONTGOMERY-SELMA},"{ELMORE, AUTAUGA}","[36066, 36067, 36068, 36119, 36112, 36113, 361...","[36775, 36039, 36032, 36036, 36785, 36703, 367...","[36131, 36119, 36108, 36124, 36113, 36110, 360...","[36069, 36039, 36075, 36758, 36046, 35183, 367..."
1,9000333288,1,multiple_1,2001 eastern blvd,36117,montgomery,al,32.353395,-86.217746,{MONTGOMERY-SELMA},"{MONTGOMERY, ELMORE}","[36066, 36067, 36064, 36068, 36069, 36119, 361...","[36039, 36032, 36036, 36785, 36752, 35136, 360...","[36131, 36069, 36119, 36075, 36108, 36124, 361...","[36039, 36087, 36046, 36051, 36091, 36866, 360..."
2,9000480971,1,multiple_1,2534 berryhill rd,36117,montgomery,al,32.353395,-86.217746,{MONTGOMERY-SELMA},"{MONTGOMERY, ELMORE}","[36066, 36067, 36064, 36068, 36069, 36119, 361...","[36039, 36032, 36036, 36785, 36752, 35136, 360...","[36131, 36069, 36119, 36075, 36108, 36124, 361...","[36039, 36087, 36046, 36051, 36091, 36866, 360..."
0,9000128001,2,multiple_2,1601 ashley way,92324,colton,ca,34.056311,-117.301912,{LOS ANGELES},"{RIVERSIDE-W, SAN BERNARDNO}","[92880, 92570, 92571, 92399, 92378, 92318, 924...","[92886, 92887, 92885, 92882, 92883, 92881, 906...","[92373, 92385, 92404, 92358, 92877, 92555, 924...","[91706, 92604, 92806, 92371, 92882, 90632, 928..."
1,jubafilled_4,2,multiple_2,1601 e cooley dr,92324,colton,ca,34.056311,-117.301912,{LOS ANGELES},"{RIVERSIDE-W, SAN BERNARDNO}","[92880, 92570, 92571, 92399, 92378, 92318, 924...","[92886, 92887, 92885, 92882, 92883, 92881, 906...","[92373, 92385, 92404, 92358, 92877, 92555, 924...","[91706, 92604, 92806, 92371, 92882, 90632, 928..."

In [151]:
df_output_by_store=df_output_by_store.reset_index()
del df_output_by_store['index']

df_output_by_store_zip_long=pd.DataFrame(columns=["TA","ta_name","store_id",'zip_cd','zip_type'])

for ind,row in df_output_by_store.iterrows():
    TA=row['TA']
    ta_name=row['ta_name']
    store_id=row['store_id']
    df=pd.DataFrame()
    
    all_P_zips=row['trans_P_zips_40_within_TA']
    all_S_zips=row['trans_S_zips_40_within_TA']
    # all_10_zips=row['zips_in_10']
    
    df_P=pd.DataFrame({"store_id":[store_id]*len(all_P_zips),'zip_cd':all_P_zips})
    df_P['zip_type']="trans_P"
    
    df_S=pd.DataFrame({"store_id":[store_id]*len(all_S_zips),'zip_cd':all_S_zips})
    df_S['zip_type']="trans_S"
    
    # df_10=pd.DataFrame({"store_id":[store_id]*len(all_10_zips),'zip_cd':all_10_zips})
    # df_10['zip_type']="zips_10"
    
    df=df_P.append(df_S)
    df['TA']=TA
    df['ta_name']=ta_name
    df_output_by_store_zip_long=df_output_by_store_zip_long.append(df)

In [152]:
df_output_by_store_zip_long.head(2)

  TA store_id     ta_name zip_cd zip_type
0  1       11  multiple_1  36131  trans_P
1  1       11  multiple_1  36119  trans_P

In [153]:
df_output_by_TA=df_output_by_store_zip_long.sort_values(["TA",'ta_name','zip_type','zip_cd'])
df_output_by_TA=df_output_by_TA.drop_duplicates(["TA",'ta_name','zip_cd'])

df_output_by_TA=df_output_by_TA.groupby(["TA","ta_name","zip_type"])['zip_cd'].apply(list).to_frame().reset_index()
df_output_by_TA=df_output_by_TA.pivot(index="TA",columns="zip_type",values="zip_cd").reset_index()


ta_name=df_output_by_store_zip_long[['TA','ta_name']].drop_duplicates()
df_output_by_TA=pd.merge(df_output_by_TA,ta_name,on="TA",how="left")

ta_store_list=df_output_by_store.groupby("TA")['store_id'].apply(list).to_frame().reset_index()

df_output_by_TA=pd.merge(df_output_by_TA,ta_store_list,on='TA',how="left")

df_output_by_TA=df_output_by_TA.rename(columns={"store_id":"store_list","trans_P":"trans_P_zips","trans_S":"trans_S_zips"})
df_output_by_TA=df_output_by_TA[['TA','ta_name','store_list','trans_P_zips','trans_S_zips']]
df_output_by_TA['store_count']=df_output_by_TA['store_list'].apply(lambda x: len(x))

df_output_by_TA.head(2)

,TA,ta_name,store_list,trans_P_zips,trans_S_zips,store_count
0,1,multiple_1,"[11, 9000333288, 9000480971]","[36003, 36008, 36013, 36020, 36022, 36025, 360...","[35045, 35046, 35085, 35136, 35171, 35183, 360...",3
1,2,multiple_2,"[9000128001, jubafilled_4]","[91701, 91708, 91729, 91730, 91737, 91739, 917...","[90079, 90224, 90622, 90631, 90632, 90633, 910...",2

In [154]:
# Merge multiple TA with 30% overlap + 
df_output_by_TA['trans_P_zips']=df_output_by_TA['trans_P_zips'].fillna("[]").astype(str).apply(lambda x: eval(x))
df_output_by_TA['trans_S_zips']=df_output_by_TA['trans_S_zips'].fillna("[]").astype(str).apply(lambda x: eval(x))
# df_output_by_TA['distance_10_zips']=df_output_by_TA['distance_10_zips'].fillna("[]").astype(str).apply(lambda x: eval(x))

df_output_by_TA=df_output_by_TA.reset_index()
del df_output_by_TA['index']
df_output_by_TA['all_zips']=df_output_by_TA['trans_P_zips']+df_output_by_TA['trans_S_zips'] #+df_output_by_TA['distance_10_zips']

In [155]:
df_qc_overlap_1=df_output_by_TA[['TA','ta_name','all_zips']].rename(columns={"TA":"TA_1","all_zips":"all_zips_1"})
df_qc_overlap_1=df_qc_overlap_1[df_qc_overlap_1['ta_name'].apply(lambda x: x.split("_")[0]=="multiple")]
df_qc_overlap_1['temp']=1
del df_qc_overlap_1['ta_name']

df_qc_overlap_2=df_output_by_TA[['TA','ta_name','all_zips']].rename(columns={"TA":"TA_2","all_zips":"all_zips_2"})
df_qc_overlap_2=df_qc_overlap_2[df_qc_overlap_2['ta_name'].apply(lambda x: x.split("_")[0]=="multiple")]
df_qc_overlap_2['temp']=1
del df_qc_overlap_2['ta_name']

df_qc_overlap=pd.merge(df_qc_overlap_1,df_qc_overlap_2,on="temp",how="outer")
df_qc_overlap=df_qc_overlap[df_qc_overlap['TA_1']!=df_qc_overlap['TA_2']]
del df_qc_overlap['temp']

In [156]:
def intsection_pctg_qc_TA(list_1,list_2):
    intersection_list=list(set(list_1).intersection(set(list_2)))
    intersection_pctg=len(intersection_list)/len(set(list_1+list_2))
    return intersection_pctg

df_qc_overlap['intersecion_pctg']=df_qc_overlap.apply(lambda x: intsection_pctg_qc_TA(x['all_zips_1'],x['all_zips_2']),axis=1)

In [157]:
df_overlap_high_TA=df_qc_overlap[df_qc_overlap['intersecion_pctg']>0.3]
df_overlap_high_TA['pairs']=df_overlap_high_TA[['TA_1','TA_2']].values.tolist()
df_overlap_high_TA['pairs']=df_overlap_high_TA['pairs'].apply(lambda x: str(sorted(x)))
df_overlap_high_TA=df_overlap_high_TA[['TA_1','TA_2','pairs']].drop_duplicates()

df_overlap_high_TA_all_pairs=df_overlap_high_TA['pairs'].unique().tolist()
df_overlap_high_TA_all_pairs=[eval(x) for x in df_overlap_high_TA_all_pairs] # actually a list

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [158]:
df_overlap_high_TA.head(3)

    TA_1 TA_2    pairs
134    2    3   [2, 3]
159    2   28  [2, 28]
265    3    2   [2, 3]

In [159]:
merge_M_M_TA_dict={}
for pair_list in df_overlap_high_TA_all_pairs:
    merge_M_M_TA_dict.update({pair_list[1]:pair_list[0]}) 
    
merge_M_M_TA_dict

{3: 2,
 28: 26,
 23: 11,
 25: 23,
 86: 14,
 45: 15,
 30: 17,
 76: 19,
 47: 20,
 56: 47,
 27: 22,
 33: 27,
 54: 33,
 40: 25,
 26: 24,
 37: 35,
 64: 37,
 72: 64,
 48: 36,
 59: 43,
 81: 52,
 91: 58,
 67: 63}

In [160]:
del df_output_by_store['ta_name']
df_output_by_store_1=df_output_by_store[df_output_by_store['TA'].isin(merge_M_M_TA_dict.keys())]
df_output_by_store_2=df_output_by_store[~df_output_by_store['TA'].isin(merge_M_M_TA_dict.keys())]

df_output_by_store_1['TA']=df_output_by_store_1['TA'].apply(lambda x: merge_M_M_TA_dict[x])
df_output_by_store=df_output_by_store_1.append(df_output_by_store_2)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [161]:
# Naming TA
df_ta_name=df_output_by_store.groupby("TA")['store_id'].apply(list).to_frame().reset_index()
df_ta_name['store_count']=df_ta_name['store_id'].apply(lambda x: len(x))
df_ta_name=df_ta_name.sort_values("store_count",ascending=False)
df_ta_name['TA_num']=[str(x+1) for x in range(len(df_ta_name))]
df_ta_name['store_id_0_temp']=df_ta_name['store_id'].apply(lambda x: x[0])
df_ta_name['store_id_0_temp']="single_"+df_ta_name['store_id_0_temp']
df_ta_name['multiple_temp']="multiple_"+df_ta_name['TA_num']

df_ta_name['ta_name']=np.where(df_ta_name['store_count']==1,df_ta_name['store_id_0_temp'],df_ta_name['multiple_temp'])

df_ta_name=df_ta_name[['TA','TA_num','ta_name']]

In [162]:
# Generate views by store, TA and zip

df_output_by_store=pd.merge(df_output_by_store,df_ta_name,on="TA",how="left")
df_output_by_store=df_output_by_store[['TA_num','ta_name']+[x for x in df_output_by_store.columns.tolist() if x not in ['TA_num','ta_name']]]

del df_output_by_store['TA']
df_output_by_store['TA_num']=df_output_by_store['TA_num'].astype(int)
df_output_by_store=df_output_by_store.sort_values("TA_num")

In [163]:
df_output_by_store=df_output_by_store.reset_index()
del df_output_by_store['index']

df_output_by_store_zip_long=pd.DataFrame(columns=["TA_num","ta_name","store_id",'zip_cd','zip_type'])

for ind,row in df_output_by_store.iterrows():
    TA=row['TA_num']
    ta_name=row['ta_name']
    store_id=row['store_id']
    df=pd.DataFrame()
    
    all_P_zips=row['trans_P_zips_40_within_TA']
    all_S_zips=row['trans_S_zips_40_within_TA']
    # all_10_zips=row['zips_in_10']
    
    df_P=pd.DataFrame({"store_id":[store_id]*len(all_P_zips),'zip_cd':all_P_zips})
    df_P['zip_type']="trans_P"
    
    df_S=pd.DataFrame({"store_id":[store_id]*len(all_S_zips),'zip_cd':all_S_zips})
    df_S['zip_type']="trans_S"
    
    # df_10=pd.DataFrame({"store_id":[store_id]*len(all_10_zips),'zip_cd':all_10_zips})
    # df_10['zip_type']="zips_10"
    
    df=df_P.append(df_S)#.append(df_10)
    df['TA_num']=TA
    df['ta_name']=ta_name
    df_output_by_store_zip_long=df_output_by_store_zip_long.append(df)

In [164]:
df_output_by_TA=df_output_by_store_zip_long.sort_values(["TA_num",'ta_name','zip_type','zip_cd'])
df_output_by_TA=df_output_by_TA.drop_duplicates(["TA_num",'ta_name','zip_cd'])

df_output_by_TA=df_output_by_TA.groupby(["TA_num","ta_name","zip_type"])['zip_cd'].apply(list).to_frame().reset_index()
df_output_by_TA=df_output_by_TA.pivot(index="TA_num",columns="zip_type",values="zip_cd").reset_index()


ta_name=df_output_by_store_zip_long[['TA_num','ta_name']].drop_duplicates()
df_output_by_TA=pd.merge(df_output_by_TA,ta_name,on="TA_num",how="left")

ta_store_list=df_output_by_store.groupby("TA_num")['store_id'].apply(list).to_frame().reset_index()

df_output_by_TA=pd.merge(df_output_by_TA,ta_store_list,on='TA_num',how="left")

df_output_by_TA=df_output_by_TA.rename(columns={"store_id":"store_list","trans_P":"trans_P_zips","trans_S":"trans_S_zips"})
df_output_by_TA=df_output_by_TA[['TA_num','ta_name','store_list','trans_P_zips','trans_S_zips']]
df_output_by_TA['store_count']=df_output_by_TA['store_list'].apply(lambda x: len(x))


df_output_by_TA.head(2)

,TA_num,ta_name,store_list,trans_P_zips,trans_S_zips,store_count
0,1,multiple_1,"[9000340837, 9000466584, 9000107142, 900003515...","[00501, 06401, 06403, 06404, 06405, 06410, 064...","[06001, 06010, 06011, 06013, 06023, 06025, 060...",16
1,2,multiple_2,"[7710000220, 7710000219, 7710000482, 771000021...","[50401, 50402, 50426, 50428, 50433, 50434, 504...","[50041, 50071, 50101, 50227, 50420, 50421, 504...",16

In [165]:
df_output_unique_zips=df_output_by_store_zip_long[['zip_type','zip_cd']].drop_duplicates()
df_output_unique_zips=df_output_unique_zips.sort_values("zip_type")
df_output_unique_zips=df_output_unique_zips.drop_duplicates("zip_cd")
df_output_unique_zips.shape

(29202, 2)

In [169]:
#location_lat_long=df_store_included[['store_num','latitude','longitude']].rename(columns={"store_num":"store_id"})
location_lat_long=df_store_address[['store_id','latitude','longitude']]
df_output_by_store_zip_long=pd.merge(df_output_by_store_zip_long,location_lat_long,on="store_id",how="left")

In [171]:
list_store_missing=[x for x in df_store_address['store_id'].tolist() if x not in df_output_by_store['store_id'].tolist()]
list_store_missing

[]

In [211]:
# 1 TA contain no S
# df_output_by_TA['trans_S_zips'].apply(type).unique()
df_output_by_TA['trans_S_zips']=df_output_by_TA['trans_S_zips'].fillna("[]").apply(lambda x: eval(str(x)))

In [212]:
df_output_by_TA['P_zip_counts']=df_output_by_TA['trans_P_zips'].apply(len)
df_output_by_TA['S_zip_counts']=df_output_by_TA['trans_S_zips'].apply(len)

df_output_by_store['all_P_zip_counts']=df_output_by_store['all_trans_P_zips'].apply(len)
df_output_by_store['all_S_zip_counts']=df_output_by_store['all_trans_S_zips'].apply(len)

df_output_by_store['mile40_P_zip_counts']=df_output_by_store['trans_P_zips_40_within_TA'].apply(len)
df_output_by_store['mile40_S_zip_counts']=df_output_by_store['trans_S_zips_40_within_TA'].apply(len)

In [217]:
list_1_ta_view=df_output_by_TA['store_list'].sum()
list_2_store_view=df_output_by_store['store_id'].unique().tolist()
list_3_whole=df_store_address['store_id'].tolist()

In [218]:
# Double check cover all
set(list_3_whole)-set(list_1_ta_view)

set()

In [222]:
df_output_by_store[df_output_by_store['store_id']=='54']

,TA_num,ta_name,store_id,address_1,zip_cd,city,state,latitude,longitude,DMA,CTY,all_trans_P_zips,all_trans_S_zips,trans_P_zips_40_within_TA,trans_S_zips_40_within_TA,all_P_zip_counts,all_S_zip_counts,mile40_P_zip_counts,mile40_S_zip_counts
187,16,multiple_16,54,2451 s randall rd,60102,algonquin,il,42.134096,-88.333907,{CHICAGO},"{MCHENRY, KANE}","[60014, 60010, 60011, 60012, 60013, 60095, 600...","[60018, 60015, 60016, 60017, 61052, 60096, 600...","[60097, 60192, 60169, 60185, 60011, 60010, 600...","[60560, 60164, 60555, 60625, 61011, 61110, 605...",84,267,84,267

In [224]:
df_output_by_store.head()

,TA_num,ta_name,store_id,address_1,zip_cd,city,state,latitude,longitude,DMA,CTY,all_trans_P_zips,all_trans_S_zips,trans_P_zips_40_within_TA,trans_S_zips_40_within_TA,all_P_zip_counts,all_S_zip_counts,mile40_P_zip_counts,mile40_S_zip_counts
0,1,multiple_1,9000340837,340 baychester ave,10475,bronx,ny,40.867745,-73.828389,{NEW YORK},{BRONX},"[11542, 11547, 11545, 11548, 10709, 10708, 107...","[10518, 10519, 10511, 10516, 10517, 10514, 109...","[10471, 11102, 11366, 10178, 11427, 11514, 071...","[10981, 10547, 07750, 07106, 11804, 07078, 069...",517,358,517,358
1,1,multiple_1,9000466584,164 glen cove rd,11514,carle place,ny,40.745047,-73.618833,{NEW YORK},{NASSAU},"[11542, 11547, 11545, 11548, 10709, 10708, 107...","[10703, 10702, 10706, 07677, 07676, 07675, 076...","[10471, 11102, 11366, 10178, 11427, 11514, 118...","[07750, 11980, 07193, 07106, 07626, 07078, 107...",352,452,352,452
2,1,multiple_1,9000107142,80-16 cooper ave,11385,glendale,ny,40.708794,-73.869552,{NEW YORK},{QUEENS},"[11542, 11547, 11545, 11548, 10709, 10708, 107...","[10702, 07677, 07676, 07675, 10510, 10511, 105...","[10471, 11102, 11366, 10178, 11427, 11514, 071...","[08855, 07750, 11804, 07078, 10702, 06905, 077...",472,378,472,378
3,1,multiple_1,9000035153,750 sunrise hwy,11581,valley stream,ny,40.662451,-73.719303,{NEW YORK},{NASSAU},"[11542, 11547, 11545, 11548, 10704, 11229, 112...","[10709, 10708, 10703, 10702, 10701, 10707, 107...","[10471, 11102, 11366, 10178, 11427, 11514, 118...","[07750, 07193, 07106, 07626, 07078, 10702, 069...",387,426,387,426
4,1,multiple_1,7710000327,2350 central park ave,10710,yonkers,ny,40.977879,-73.828471,{NEW YORK},{WESTCHESTER},"[11542, 11547, 11545, 11548, 10709, 10708, 107...","[12582, 12584, 10518, 10519, 10512, 10516, 105...","[10471, 11102, 11366, 10178, 11427, 11514, 076...","[10981, 10547, 07193, 07106, 11804, 07078, 116...",421,455,421,455

# Additional Information

In [229]:
df_output_by_TA=df_output_by_TA.reset_index()
del df_output_by_TA['index']
try: 
    df_output_by_TA.insert(3,'city_list',np.nan)
    df_output_by_TA.insert(4,'state_list',np.nan)
except:
    df_output_by_TA['city_list']=np.nan
    df_output_by_TA['state_list']=np.nan



for ind, row in df_output_by_TA.iterrows():
    list_stores=row['store_list']
    df_included_store_city=df_store_address[df_store_address['store_id'].isin(list_stores)]
    list_cities=list(set(df_included_store_city['city'].tolist()))
    list_states=list(set(df_included_store_city['state'].tolist()))
    
    df_output_by_TA.loc[ind,'city_list']=str(list_cities)
    df_output_by_TA.loc[ind,'state_list']=str(list_states)
    df_output_by_TA.head(2)

In [231]:
df_output_by_TA['city_list']=df_output_by_TA['city_list'].apply(eval)
df_output_by_TA['state_list']=df_output_by_TA['state_list'].apply(eval)

In [232]:
if len(list_store_missing)==0:
    writer=pd.ExcelWriter(output_folder+"Ashley_final_TA_updated_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
    df_output_unique_zips.to_excel(writer,"unique_zips_full_footprint",index=False)
    df_output_by_TA.to_excel(writer,"view_by_TA",index=False)
    df_output_by_store.to_excel(writer,"view_by_store",index=False)
    df_output_by_store_zip_long.to_excel(writer,"view_for_Tableau",index=False)
    writer.save()
else:
    print("checking stores misssing: \n%s"%list_store_missing)

In [167]:
df_output_by_store[df_output_by_store['store_id']=='2393']

,TA_num,ta_name,store_id,address_1,zip_cd,city,state,latitude,longitude,DMA,CTY,all_trans_P_zips,all_trans_S_zips,trans_P_zips_40_within_TA,trans_S_zips_40_within_TA,all_P_zip_counts,all_S_zip_counts,mile40_P_zip_counts,mile40_S_zip_counts
309,27,multiple_27,2393,114 ROLLING HILLS CIRCLE,29640,EASLEY,SC,34.862904,-82.550289,{GREENVLL-SPART-ASHEVLL-AND},"{PICKENS, GREENVILLE}",[29642],"[29640, 29671, 29657, 29673, 29611, 29630, 292...",[29642],"[29617, 29672, 29639, 29306, 29656, 29688, 296...",1,963,1,120

In [ ]:
# Finished

# 5. Summarize

In [39]:
# Easy, and can refer the other