In [1]:
# upto 20200418
# merge email first
# then calculate decile
# Remove 18+
# XX segments in total
# The allocated store mapping is done throught the other code

import pandas as pd
import numpy as np
import os
import datetime
import logging
import hashlib
import gc
import glob
logging.basicConfig(filename='BL_CRM_Scoring_LR_Quarterly_upto_20200418_2020Q2_'+str(datetime.datetime.now().date())+'.log', level=logging.INFO)
logging.info('Started')

samplerows=None

samplerows = None

lastdate_date = datetime.date(2020,4,18) # Recent Saturday
Beginning_12_months_ago = str(lastdate_date-datetime.timedelta(days=52*7-1)) # Sunday
Beginning_18_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*1.5-1)) # Sunday
Beginning_48_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*4-1)) # Sunday

lastdate_str=str(lastdate_date)
print("Active Start on: "+Beginning_12_months_ago) #>=
print("Lapsed & Store_allocation Start on: "+Beginning_18_months_ago) #>=
print("Lapsed 19-48 Start on: "+Beginning_48_months_ago) #>=

def recursive_file_gen(root_folder):
    for root, dirs, files in os.walk(root_folder):
        for file in files:
            yield os.path.join(root, file)
'''        
folder_write = '/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/output_'+str(datetime.datetime.now().date()-datetime.timedelta(days=1))+'/'
try:
    os.stat(folder_write)
except:
    os.mkdir(folder_write)
'''

folder_write='/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/output_2020-04-24/'
os.getcwd()

Active Start on: 2019-04-21
Lapsed & Store_allocation Start on: 2018-10-21
Lapsed 19-48 Start on: 2016-04-24

'/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2'

In [2]:
# Should run
df_transactions_18_months=pd.read_csv('/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/output_2020-04-24/BL_sales_trans_by_id_date_JL_2020-04-22.csv')

df_transactions_18_months_head10000=df_transactions_18_months.head(10000)

for col in df_transactions_18_months_head10000.columns.tolist():
    print(col,df_transactions_18_months_head10000[col].apply(lambda x: type(x)).unique())
    
del df_transactions_18_months_head10000
gc.collect()

customer_id_hashed [<class 'str'>]
transaction_dt [<class 'str'>]
sales [<class 'float'>]
trans [<class 'int'>]

0

In [3]:
print(df_transactions_18_months.shape)
df_transactions_18_months=df_transactions_18_months.rename(columns={"transaction_dt":"transaction_date"})
print(df_transactions_18_months['transaction_date'].min(),df_transactions_18_months['transaction_date'].max())

df_transactions_18_months.head(5)

(113785770, 4)
2018-10-21 2020-04-18

,customer_id_hashed,transaction_date,sales,trans
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,2018-10-27,42.35,1
1,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2018-10-23,22.20,1
2,00000b22e0e9423daf43b601df8eca212d1974c759d7df...,2018-10-25,14.14,1
3,00000bfbe49f9945e5b71e118ca1fec246d9729edb88cc...,2018-10-25,118.90,1
4,000010e1fda19a1d87e283791f0abfebef1911f771f0b1...,2018-10-25,10.50,1

In [4]:
###get recency
dfrecency=df_transactions_18_months[['customer_id_hashed','transaction_date']].sort_values("transaction_date",ascending=False).drop_duplicates('customer_id_hashed')#Allready combined

dfrecency.to_csv(folder_write + 'dfrecency_id_with_last_transaction_date.csv',index=False)


print (min(dfrecency['transaction_date']))
print (max(dfrecency['transaction_date']))
dfrecency.head(2)

2018-10-21
2020-04-18

                                          customer_id_hashed transaction_date
113231191  8da150b94045e33da5a7bcd3d3379091d24cbd1fd157f6...       2020-04-18
113265212  9491d14200894f3ad28875bc88ede4651a63a3ac270fd8...       2020-04-18

In [5]:
dfrecency['transaction_date']=pd.to_datetime(dfrecency['transaction_date']).dt.date
dfrecency['recency']= lastdate_date - dfrecency['transaction_date']
dfrecency['recency']=dfrecency['recency'].apply(lambda x:x.days)
dfrecency['recency']=np.ceil((dfrecency['recency']+1)/30)
# recency as the np.floor month

dfrecency=dfrecency[['customer_id_hashed','recency','transaction_date']]
dfrecency=dfrecency.drop_duplicates('customer_id_hashed')
dfrecency=dfrecency.rename(columns={"transaction_date":"last_transaction_date"})
dfrecency.to_csv(folder_write + 'dfrecency_id_with_last_transaction_date_and_days_difference.csv',index=False)

dfrecency.shape

(22812016, 3)

In [6]:
print("df_transactions_18_months['customer_id_hashed'].nunique(): "+str(df_transactions_18_months['customer_id_hashed'].nunique()))
print("dfrecency['customer_id_hashed'].nunique(): "+str(dfrecency['customer_id_hashed'].nunique()))

dftotal=df_transactions_18_months.groupby('customer_id_hashed')['sales','trans'].sum().reset_index().rename(columns={"trans":"transactions"})
print("dftotal['customer_id_hashed'].nunique(): "+str(dftotal['customer_id_hashed'].nunique()))
print("dftotal.shape: "+str(dftotal.shape))

dftotal=pd.merge(dftotal,dfrecency,on='customer_id_hashed',how='outer')
print("dftotal.shape: "+str(dftotal.shape))

df_transactions_18_months['customer_id_hashed'].nunique(): 22812016
dfrecency['customer_id_hashed'].nunique(): 22812016
dftotal['customer_id_hashed'].nunique(): 22812016
dftotal.shape: (22812016, 3)
dftotal.shape: (22812016, 5)

In [7]:
del dfrecency
del df_transactions_18_months
gc.collect()

dftotal.shape

(22812016, 5)

In [8]:
# The blow is corrected, due to the ascending & decending for each KPI. The higher the better, or the lower the better
dftotal=dftotal.sort_values(['transactions','recency','sales'],ascending=[0,1,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'Transindex'})

dftotal=dftotal.sort_values(['sales','recency','transactions'],ascending=[0,1,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'Amtindex'})

dftotal=dftotal.sort_values(['recency','transactions','sales'],ascending=[1,0,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'recencyindex'})

c_ids=len(dftotal.index)
logging.info('total customers from transaction and amt: ')
logging.info(c_ids)
c_ids=np.ceil(c_ids/5.0)

dftotal['Transindex']=np.ceil((dftotal['Transindex']+1)/c_ids)
dftotal['Amtindex']=np.ceil((dftotal['Amtindex']+1)/c_ids)
dftotal['recencyindex']=np.ceil((dftotal['recencyindex']+1)/c_ids)

dftotal['RFM']=dftotal['recencyindex']*100 + dftotal['Transindex']*10 + dftotal['Amtindex']

In [9]:
dftotal.to_csv(folder_write+"dftotal_with_index_all_EmailNotMergedYet.csv",index=False)

In [10]:
dftotal=pd.read_csv(folder_write+"dftotal_with_index_all_EmailNotMergedYet.csv")

In [11]:
print(dftotal.shape)

dftotal.head(2)

(22812016, 9)

,recencyindex,Amtindex,Transindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,116393.37,7527,1.0,2020-04-17,111.0
1,1.0,1.0,1.0,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,151960.21,6571,1.0,2020-04-15,111.0

# Merge in Emails, ZipLabels & Closest Stores

In [12]:
import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [13]:
dfiddetail=pd.read_sql('select customer_id_hashed,email_address_hash,customer_zip_code from BL_Rewards_Master',con=BL_engine)
print("dfiddetail.shape "+str(dfiddetail.shape))
print("dfiddetail['customer_id_hashed'].nunique() "+str(dfiddetail['customer_id_hashed'].nunique()))
print("dfiddetail['email_address_hash'].nunique() "+str(dfiddetail['email_address_hash'].nunique()))

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

dfiddetail.shape (34308794, 3)
dfiddetail['customer_id_hashed'].nunique() 34308757
dfiddetail['email_address_hash'].nunique() 34300499

In [14]:
gc.collect()

0

In [15]:
dfiddetail=dfiddetail.drop_duplicates()
print("dfiddetail.shape "+str(dfiddetail.shape))

dfiddetail=dfiddetail.drop_duplicates("customer_id_hashed") # drop the only 1 duplicated

dfiddetail.shape (34308759, 3)

In [16]:
customer_unique_zip_cd=dfiddetail[['customer_zip_code']].drop_duplicates()
customer_unique_zip_cd=customer_unique_zip_cd[~pd.isnull(customer_unique_zip_cd['customer_zip_code'])]
customer_unique_zip_cd['cleaned_zip_cd']=customer_unique_zip_cd['customer_zip_code'].apply(lambda x: x.split("-")[0][:5].zfill(5))

In [17]:
store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200401-135137-445.txt",
                        dtype=str,sep="|")
store_list=store_list[['location_id','latitude_meas','longitude_meas']]
store_list=store_list[store_list['location_id']!="6990"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
store_list['store_coor']=store_list[['latitude_meas','longitude_meas']].values.tolist()
dict_store_lat=store_list.set_index("location_id").to_dict()['store_coor']

store_list.shape

(1405, 4)

In [18]:
df_unique_zip5=customer_unique_zip_cd[['cleaned_zip_cd']].drop_duplicates()
df_unique_zip5.shape

(71635, 1)

In [19]:
import json
from haversine import haversine
zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))

def allocated_closet_store_to_zip(zip_input):
    try:
        zip_c=zip_centers[zip_input]
    except:
        return np.nan
    min_dist=np.inf
    for store,v in dict_store_lat.items():
        dist=haversine(zip_c,v,unit="mi")
        if dist<min_dist:
            min_dist=dist
            closet_store=store
    return closet_store

df_unique_zip5['closet_store']=df_unique_zip5['cleaned_zip_cd'].apply(lambda x: allocated_closet_store_to_zip(x))
customer_unique_zip_cd=pd.merge(customer_unique_zip_cd,df_unique_zip5,on="cleaned_zip_cd",how="left")

In [20]:
dfiddetail=pd.merge(dfiddetail,customer_unique_zip_cd,on="customer_zip_code",how="left")
print(dfiddetail.shape)

dfiddetail.head(5)

(34308757, 5)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closet_store
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,36081,36081,1292
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,93722,93722,4684
2,000002c86b9805b916f2a04b7a0031bb9ee03224e98221...,4765e094d9c921485df3befed517927f7119980982e000...,22560,22560,1585
3,000003066bafc6b19c55d3be5fc646a253c659e9e6baea...,d461fd1bb5f270aaa66016cc60bf6aa16a521565360e41...,21229,21229,5116
4,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,21620c4342292086ec48d349207620e54a528273c7ad3d...,14094,14094,831

In [21]:
del df_unique_zip5
del customer_unique_zip_cd
gc.collect()

0

In [22]:
del dfiddetail['customer_zip_code']

gc.collect()

0

In [24]:
df_store_for_id_from_sales=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/output_2020-04-24/BL_allocated_store_by_id_shoppers_18_months_JL_20181021_20200418_JL_2020-04-24 14:14:31.523753.csv",
                                      dtype=str,usecols=['customer_id_hashed','location_id'])
print(df_store_for_id_from_sales.shape,df_store_for_id_from_sales['customer_id_hashed'].nunique())
df_store_for_id_from_sales=df_store_for_id_from_sales.rename(columns={"location_id":"top_sales_store"})
df_store_for_id_from_sales.head(5)

(22744579, 2) 22744579

                                  customer_id_hashed top_sales_store
0  000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...            1606
1  00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...            1292
2  000001dadc0265bf9d250566d74e0006323f18b5826641...            4682
3  000003066bafc6b19c55d3be5fc646a253c659e9e6baea...            5116
4  0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...             831

In [25]:
print(dftotal.shape,dftotal['customer_id_hashed'].nunique())
dftotal.head(2)

(22812016, 9) 22812016

,recencyindex,Amtindex,Transindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,116393.37,7527,1.0,2020-04-17,111.0
1,1.0,1.0,1.0,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,151960.21,6571,1.0,2020-04-15,111.0

In [26]:
print(df_store_for_id_from_sales.shape,df_store_for_id_from_sales['customer_id_hashed'].nunique())
df_store_for_id_from_sales.head(2)

(22744579, 2) 22744579

                                  customer_id_hashed top_sales_store
0  000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...            1606
1  00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...            1292

In [27]:
print(dfiddetail.shape,dfiddetail['customer_id_hashed'].nunique())
dfiddetail.head(2)

(34308757, 4) 34308757

,customer_id_hashed,email_address_hash,cleaned_zip_cd,closet_store
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,36081,1292
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,93722,4684

In [28]:
dftotal=pd.merge(dftotal,df_store_for_id_from_sales,on="customer_id_hashed",how="left")
del df_store_for_id_from_sales
gc.collect()

0

In [29]:
dftotal=pd.merge(dftotal,dfiddetail,on="customer_id_hashed",how="left")

del dfiddetail
gc.collect()
dftotal.head(2)

,recencyindex,Amtindex,Transindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,116393.37,7527,1.0,2020-04-17,111.0,1684,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684
1,1.0,1.0,1.0,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,151960.21,6571,1.0,2020-04-15,111.0,1753,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,11726,1753

In [30]:
dftotal['allocated_store']=np.where(pd.notnull(dftotal['top_sales_store']),
                                    dftotal['top_sales_store'],
                                    dftotal['closet_store'])

In [31]:
# Remove no email ids
print(dftotal.shape)
dftotal=dftotal[pd.notnull(dftotal['email_address_hash'])]
print(dftotal.shape)

(22812016, 14)
(20587086, 14)

In [32]:
dftotal.to_csv(folder_write+"BL_scored_ids_with_email_and_stores_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [33]:
gc.collect()
dftotal.head(2)

,recencyindex,Amtindex,Transindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store,allocated_store
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,116393.37,7527,1.0,2020-04-17,111.0,1684,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684,1684
1,1.0,1.0,1.0,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,151960.21,6571,1.0,2020-04-15,111.0,1753,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,11726,1753,1753

In [34]:
print(datetime.datetime.now())

2020-04-24 17:04:19.169184

# Restart

In [2]:
folder_write="/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/output_2020-04-24/"

In [3]:
dftotal=pd.read_csv(folder_write+"BL_scored_ids_with_email_and_stores_JL_2020-04-24.csv",
                    dtype=str,usecols=['customer_id_hashed','last_transaction_date','email_address_hash','allocated_store','RFM','recency','transactions',
                               'sales','cleaned_zip_cd'])
print(dftotal.shape,dftotal['customer_id_hashed'].nunique(),dftotal['email_address_hash'].nunique())
print("/n")
print(dftotal['last_transaction_date'].min())
print("Beginning_12_months_ago",Beginning_12_months_ago)

dftotal['Status']=np.where(dftotal['last_transaction_date']>=Beginning_12_months_ago,"Active","Lapsed1318")

(20587086, 9) 20587086 20585548
/n
2018-10-21
Beginning_12_months_ago 2019-04-21

In [4]:
df_store_type=pd.ExcelFile("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/Store List Report 04.23.20.xlsx")
df_store_type=df_store_type.parse("Store List",dtype=str)
df_store_type=df_store_type[["Store",'SOTF']]
df_store_type=df_store_type[df_store_type['SOTF'].str.lower()=="yes"]
df_store_type=df_store_type[df_store_type['Store']!="TBD"]
print(len(df_store_type),df_store_type['Store'].nunique())
df_store_type=df_store_type.rename(columns={"Store":"allocated_store","SOTF":"Store_Type"})
df_store_type['Store_Type']="SOTF"
df_store_type.head(2)

491 491

  allocated_store Store_Type
0               1       SOTF
7              49       SOTF

In [5]:
dftotal=pd.merge(dftotal,df_store_type,on="allocated_store",how="left")
dftotal['Store_Type']=dftotal['Store_Type'].fillna("Legacy")

In [6]:
TA_excel=pd.ExcelFile("/home/jian/Projects/Big_Lots/New_TA/TA_created_in_201906/final_output_20190718/BL_final_TA_updated_JL_2019-07-18.xlsx")
print(TA_excel.sheet_names)

df_zip_type=TA_excel.parse("unique_zips_full_footprint",dtype=str)
df_store_existing_TA=TA_excel.parse("view_by_store",dtype=str,usecols=["location_id"])

['unique_zips_full_footprint', 'view_by_TA', 'view_by_store', 'view_for_Tableau']

In [7]:
df_zip_type.head(2)

  zip_type zip_cd
0  trans_P  75040
1  trans_P  20743

In [8]:
store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200401-135137-445.txt",
                         dtype=str,sep="|",usecols=['location_id','latitude_meas','longitude_meas'])
store_list=store_list[store_list['location_id']!="6990"]
store_list=store_list[store_list['location_id']!="145"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
df_new_stores=store_list[~store_list['location_id'].isin(df_store_existing_TA['location_id'].tolist())]
print(df_new_stores.shape)
df_new_stores['store_location']=df_new_stores[['latitude_meas','longitude_meas']].values.tolist()
dict_new_stores=df_new_stores.set_index("location_id").to_dict()['store_location']

(34, 3)

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [9]:
import json
from haversine import haversine
zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))

zip_new_stores=[]
for k,v in dict_new_stores.items():
    for z, z_c in zip_centers.items():
        if haversine(v,z_c,unit="mi")<=10:
            zip_new_stores.append(z)
df_new_zips=pd.DataFrame({"zip_cd":list(set(zip_new_stores))})
df_new_zips['zip_type']="zips_10"
df_new_zips=df_new_zips[~df_new_zips['zip_cd'].isin(df_zip_type['zip_cd'].tolist())]

df_zip_type=df_zip_type.append(df_new_zips)
df_zip_type['zip_type']=df_zip_type['zip_type'].replace("zips_10","S")
df_zip_type['zip_type']=df_zip_type['zip_type'].replace("trans_P","P")
df_zip_type['zip_type']=df_zip_type['zip_type'].replace("trans_S","S")

print(df_zip_type.shape,df_zip_type['zip_cd'].nunique())
df_zip_type.head(2)

df_zip_type.to_csv("./BL_ta_zip_relabeled.csv",index=False)

(13400, 2) 13400

/home/jian/.local/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [10]:
df_zip_type=df_zip_type.rename(columns={"zip_cd":"cleaned_zip_cd"})
dftotal=pd.merge(dftotal,df_zip_type,on="cleaned_zip_cd",how="left")
dftotal['zip_type']=dftotal['zip_type'].fillna("T")

dftotal.head(4)

,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM,email_address_hash,cleaned_zip_cd,allocated_store,Status,Store_Type,zip_type
0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,116393.37000000005,7527,1.0,2020-04-17,111.0,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684,Active,Legacy,P
1,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,151960.21,6571,1.0,2020-04-15,111.0,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,11726,1753,Active,SOTF,P
2,af1a67def27b7a4812c299f88c9128d1f1471df969ee7c...,100047.38,4912,1.0,2020-04-18,111.0,d48d9bde483e3a6524f75f41209df8b6848c1cd6714aff...,47250,255,Active,Legacy,P
3,02cdd41af5ee82b39607416b74290152b00183fbce3068...,125390.69999999994,4536,1.0,2020-04-17,111.0,295e2ee597ca9fce3fa6fd8abbd947a93bb4eb4732e6e2...,14075,1839,Active,SOTF,P

# Deciles and Scoring

In [11]:
dftotal = dftotal.sort_values(['RFM','recency','transactions',
                               'sales'],ascending = [1,1,0,0])

print(dftotal.shape)
dftotal=dftotal.drop_duplicates("email_address_hash") ####### Email duplications also dropped
print("drop_duplicates('email_address_hash')",dftotal.shape) 

dftotal.reset_index(drop = True, inplace = True)
dftotal.reset_index(inplace = True)

dftotal = dftotal.rename(columns = {'index':'frmindex'})
c_ids = len(dftotal.index)
c_ids = np.ceil(c_ids/10.0)
dftotal['frmindex'] = np.ceil((dftotal['frmindex']+1)/c_ids)

print("Done with the RFM scoring, "+str(datetime.datetime.now()))

dftotal['frmindex']=dftotal['frmindex'].apply(lambda x: "D"+str(int(float(x))).zfill(2))

(20587086, 12)
drop_duplicates('email_address_hash') (20585548, 12)
Done with the RFM scoring, 2020-04-25 12:51:01.125536

In [12]:
df_H=pd.DataFrame({"frmindex":['D01','D02','D03','D04']})
df_H['HML_Group']="H"

df_M=pd.DataFrame({"frmindex":['D05','D06','D07']})
df_M['HML_Group']="M"

df_L=pd.DataFrame({"frmindex":['D08','D09','D10']})
df_L['HML_Group']="L"

df_HML=df_H.append(df_M).append(df_L)
gc.collect()

0

In [13]:
dftotal=pd.merge(dftotal,df_HML,on='frmindex',how="left")
dftotal.shape

(20585548, 14)

# Experian

In [14]:
Experian_mapping=pd.read_table("/home/jian/BigLots/Experian/data_20191016/Experian 2019 customer hashed.txt",
                            sep="|").rename(columns={"Customer_Num":"CustomerNumber","hashed_customer_num":"customer_id_hashed"})
Experian_data=pd.read_table("/home/jian/BigLots/Experian/data_20191016/Experian_20191001114500.txt",
                            sep="|",usecols=['CustomerNumber','IncomeDesc','LivesDesc'])
Experian_data=pd.merge(Experian_data,Experian_mapping,on="CustomerNumber",how="left")
del Experian_data['CustomerNumber']
print(Experian_data['IncomeDesc'].unique())
print(Experian_data['LivesDesc'].unique())
# Use LivesDesc only confirmed with JT 20200120, ignore "HomerentDesc"

print(Experian_data.shape)

del Experian_mapping
gc.collect()

['between $50k and $100k' '>= $100k' '< $50k' nan]
['single family home' 'multi family or condo']
(17626573, 3)

0

In [15]:
Experian_data['IncomeDesc']=Experian_data['IncomeDesc'].replace("between $50k and $100k","Above50K")
Experian_data['IncomeDesc']=Experian_data['IncomeDesc'].replace(">= $100k","Above50K")
Experian_data['IncomeDesc']=Experian_data['IncomeDesc'].replace("< $50k","Below50K")
Experian_data['IncomeDesc']=Experian_data['IncomeDesc'].fillna("Unknown")

Experian_data['LivesDesc']=Experian_data['LivesDesc'].replace("single family home","SingleFamily")
Experian_data['LivesDesc']=Experian_data['LivesDesc'].replace("multi family or condo","MultiFamilyOrCondo")
Experian_data['LivesDesc']=Experian_data['LivesDesc'].fillna("Unknown")

In [16]:
Experian_data.groupby(['IncomeDesc','LivesDesc'])['customer_id_hashed'].nunique().reset_index()

  IncomeDesc           LivesDesc  customer_id_hashed
0   Above50K  MultiFamilyOrCondo              817014
1   Above50K        SingleFamily            12290133
2   Below50K  MultiFamilyOrCondo              941010
3   Below50K        SingleFamily             3576986
4    Unknown        SingleFamily                1430

In [17]:
Experian_data.shape

(17626573, 3)

In [18]:
dftotal=pd.merge(dftotal,Experian_data,on="customer_id_hashed",how="left")

dftotal['IncomeDesc']=dftotal['IncomeDesc'].fillna("Unknown")
dftotal['LivesDesc']=dftotal['LivesDesc'].fillna("Unknown")

df_qc=dftotal.groupby(['IncomeDesc','LivesDesc'])['customer_id_hashed'].nunique().reset_index()
df_qc

  IncomeDesc           LivesDesc  customer_id_hashed
0   Above50K  MultiFamilyOrCondo              674824
1   Above50K        SingleFamily            10281664
2   Below50K  MultiFamilyOrCondo              769657
3   Below50K        SingleFamily             2954053
4    Unknown        SingleFamily                1165
5    Unknown             Unknown             5904185

In [19]:
df_qc[df_qc['LivesDesc']!="Unknown"]['customer_id_hashed'].sum()

14681363

In [20]:
dftotal.head(2)

,frmindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM,email_address_hash,cleaned_zip_cd,allocated_store,Status,Store_Type,zip_type,HML_Group,IncomeDesc,LivesDesc
0,D01,14ead851c502456a1d1fcfdcba52486e2fb624f7e1dd37...,23636.95,996,1.0,2020-04-17,111.0,b59083239858593c93585cf1c81ba48604c468b8b4bc27...,97754,4556,Active,Legacy,T,H,Above50K,SingleFamily
1,D01,6fe1f723789ee0663ab91cfd28989322e815a2f8d05f4d...,23498.46000000001,993,1.0,2020-03-25,111.0,0e6624f4da22328a385766e777c098ba45eed2f7b4a00b...,92870,4337,Active,Legacy,P,H,Unknown,Unknown

# Lapsed 19-48

In [21]:
print("Active Start on: "+Beginning_12_months_ago) #>=
print("Lapsed & Store_allocation Start on: "+Beginning_18_months_ago) #>=
print("Lapsed 19-48 Start on: "+Beginning_48_months_ago) #>=

# Need to keep store

Active Start on: 2019-04-21
Lapsed & Store_allocation Start on: 2018-10-21
Lapsed 19-48 Start on: 2016-04-24

In [22]:
subclass_file_list=glob.glob("/home/jian/BigLots/hist_daily_data_subclasslevel/*.txt")
df_subclass_file=pd.DataFrame({"file_path":subclass_file_list})
df_subclass_file['week_end_dt']=df_subclass_file['file_path'].apply(lambda x: x.split("es_week_ending_")[1][:10])
df_subclass_file=df_subclass_file[df_subclass_file['week_end_dt']>=Beginning_48_months_ago]
df_subclass_file=df_subclass_file[df_subclass_file['week_end_dt']<Beginning_18_months_ago]
df_subclass_file=df_subclass_file.sort_values("week_end_dt")
print(df_subclass_file['week_end_dt'].min(),df_subclass_file['week_end_dt'].max())

min_date_sub_data=df_subclass_file['week_end_dt'].min()
print("min_date_sub_data",min_date_sub_data)

################
daily_sub_file=list(recursive_file_gen("/home/jian/BigLots/2018_by_weeks/"))
daily_sub_file=[x for x in daily_sub_file if "dailysales" in x.lower()]
daily_sub_file=[x for x in daily_sub_file if "eks/MediaStorm_" in x]
df_daily_sub_file=pd.DataFrame({"file_path":daily_sub_file})

df_daily_sub_file['week_end_dt']=df_daily_sub_file['file_path'].apply(lambda x: x.split("s/MediaStorm_")[1][:10])
df_daily_sub_file=df_daily_sub_file[df_daily_sub_file['week_end_dt']>=df_subclass_file['week_end_dt'].max()]
df_daily_sub_file=df_daily_sub_file[df_daily_sub_file['week_end_dt']<Beginning_18_months_ago]
df_daily_sub_file=df_daily_sub_file.sort_values("week_end_dt")

print(df_daily_sub_file['week_end_dt'].min(),df_daily_sub_file['week_end_dt'].max())


################
df_sub_data_files=df_subclass_file.append(df_daily_sub_file)
df_sub_data_files=df_sub_data_files.sort_values("week_end_dt")
del df_subclass_file
del df_daily_sub_file

print(df_sub_data_files['week_end_dt'].min(),df_sub_data_files['week_end_dt'].max())

min_date_sub_data=df_sub_data_files['week_end_dt'].min()

2016-07-02 2018-06-09
min_date_sub_data 2016-07-02
2018-06-16 2018-10-20
2016-07-02 2018-10-20

In [23]:
# No need since the above weekly data is as week end date
# Use the closest stores based on customer zip code

In [24]:
# 1 out of the 2

lapsed_part0=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/lapsed20140826_20170226/MediaStormLapsedCustDtl.txt",
                     sep=",",usecols=['customer_id_hashed','transaction_date'],dtype=str)

lapsed_part0=lapsed_part0[(lapsed_part0['transaction_date']>=Beginning_48_months_ago) & (lapsed_part0['transaction_date']<"2016-06-26")] # as the Sunday of the 1st week in the subclass level data
print(lapsed_part0['transaction_date'].min(),lapsed_part0['transaction_date'].max())

lapsed_part0=lapsed_part0[['customer_id_hashed']].drop_duplicates()

2016-04-24 2016-06-25

In [25]:
# 2 out of the 2

i_counter=0
list_historical_19_48_weekly_ids=[]
for file in df_sub_data_files['file_path'].tolist():
    df=pd.read_table(file,dtype=str,sep="|",usecols=['customer_id_hashed'])
    df=df[pd.notnull(df['customer_id_hashed'])].drop_duplicates()
    
    list_historical_19_48_weekly_ids.append(df)
    i_counter+=1
    if i_counter%10==1:
        print(i_counter,datetime.datetime.now())
lapsed_part1=pd.concat(list_historical_19_48_weekly_ids)
del list_historical_19_48_weekly_ids
gc.collect()

1 2020-04-25 13:00:32.246472
11 2020-04-25 13:04:04.321541
21 2020-04-25 13:09:23.717405
31 2020-04-25 13:14:35.153353
41 2020-04-25 13:17:07.894726
51 2020-04-25 13:19:13.562886
61 2020-04-25 13:21:34.420962
71 2020-04-25 13:24:01.678425
81 2020-04-25 13:27:26.710299
91 2020-04-25 13:29:56.857548
101 2020-04-25 13:32:30.068765
111 2020-04-25 13:35:09.380080
121 2020-04-25 13:37:49.096234

0

In [26]:
df_lapsed_1948_ids=lapsed_part0.append(lapsed_part1).drop_duplicates()
del lapsed_part0
del lapsed_part1

gc.collect()

0

In [27]:
# dftotal=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1/BL_LR_audience_18_months_details_2020Q1_JL_2020-01-22.csv")

list_unique_18_ids=dftotal['customer_id_hashed'].unique().tolist()
df_lapsed_1948_ids=df_lapsed_1948_ids[~df_lapsed_1948_ids['customer_id_hashed'].isin(list_unique_18_ids)]

In [28]:
# Repeated above

import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [29]:
dfiddetail=pd.read_sql('select customer_id_hashed,email_address_hash,customer_zip_code from BL_Rewards_Master',con=BL_engine)
print("dfiddetail.shape "+str(dfiddetail.shape))
print("dfiddetail['customer_id_hashed'].nunique() "+str(dfiddetail['customer_id_hashed'].nunique()))
print("dfiddetail['email_address_hash'].nunique() "+str(dfiddetail['email_address_hash'].nunique()))

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

dfiddetail.shape (34308794, 3)
dfiddetail['customer_id_hashed'].nunique() 34308757
dfiddetail['email_address_hash'].nunique() 34300499

In [30]:
dfiddetail=dfiddetail.drop_duplicates()
print("dfiddetail.shape "+str(dfiddetail.shape))

dfiddetail=dfiddetail.drop_duplicates("customer_id_hashed") # drop the only 1 duplicated

dfiddetail.shape (34308759, 3)

In [31]:
customer_unique_zip_cd=dfiddetail[['customer_zip_code']].drop_duplicates()
customer_unique_zip_cd=customer_unique_zip_cd[~pd.isnull(customer_unique_zip_cd['customer_zip_code'])]
customer_unique_zip_cd['cleaned_zip_cd']=customer_unique_zip_cd['customer_zip_code'].apply(lambda x: x.split("-")[0][:5].zfill(5))

In [32]:
store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200401-135137-445.txt",
                        dtype=str,sep="|")
store_list=store_list[['location_id','latitude_meas','longitude_meas']]
store_list=store_list[store_list['location_id']!="6990"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
store_list['store_coor']=store_list[['latitude_meas','longitude_meas']].values.tolist()
dict_store_lat=store_list.set_index("location_id").to_dict()['store_coor']

store_list.shape

(1405, 4)

In [33]:
df_unique_zip5=customer_unique_zip_cd[['cleaned_zip_cd']].drop_duplicates()
df_unique_zip5.shape

(71635, 1)

In [34]:
import json
from haversine import haversine
zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))

def allocated_closet_store_to_zip(zip_input):
    try:
        zip_c=zip_centers[zip_input]
    except:
        return np.nan
    min_dist=np.inf
    for store,v in dict_store_lat.items():
        dist=haversine(zip_c,v,unit="mi")
        if dist<min_dist:
            min_dist=dist
            closet_store=store
    return closet_store

df_unique_zip5['closest_store']=df_unique_zip5['cleaned_zip_cd'].apply(lambda x: allocated_closet_store_to_zip(x))
customer_unique_zip_cd=pd.merge(customer_unique_zip_cd,df_unique_zip5,on="cleaned_zip_cd",how="left")

In [35]:
dfiddetail=pd.merge(dfiddetail,customer_unique_zip_cd,on="customer_zip_code",how="left")
print(dfiddetail.shape)

dfiddetail.head(5)

(34308757, 5)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closest_store
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,36081,36081,1292
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,93722,93722,4684
2,000002c86b9805b916f2a04b7a0031bb9ee03224e98221...,4765e094d9c921485df3befed517927f7119980982e000...,22560,22560,1585
3,000003066bafc6b19c55d3be5fc646a253c659e9e6baea...,d461fd1bb5f270aaa66016cc60bf6aa16a521565360e41...,21229,21229,5116
4,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,21620c4342292086ec48d349207620e54a528273c7ad3d...,14094,14094,831

In [36]:
del df_unique_zip5
del customer_unique_zip_cd
gc.collect()

0

In [37]:
print(df_lapsed_1948_ids.shape,df_lapsed_1948_ids['customer_id_hashed'].nunique())

(9478861, 1) 9478861

In [38]:
dfiddetail.head(2)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closest_store
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,36081,36081,1292
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,93722,93722,4684

In [39]:
df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,dfiddetail,on="customer_id_hashed",how="left")
df_lapsed_1948_ids=df_lapsed_1948_ids[pd.notnull(df_lapsed_1948_ids['email_address_hash'])]
print(df_lapsed_1948_ids.shape,df_lapsed_1948_ids['customer_id_hashed'].nunique())

(8726071, 5) 8726071

In [40]:
df_lapsed_1948_ids=df_lapsed_1948_ids.rename(columns={"closet_store":"closest_store"})
df_lapsed_1948_ids.head(2)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closest_store
0,d66b069d8075e9db9e8424f501f002fcb3fcd57d7011e3...,3e85db544f2d18a74624320567a5e358b48cb055dd8cdc...,31350,31350,NaN
1,077dd9455d333b27872044b7f4dbc9f7e70a56d56d695d...,001926837ee9ac0871cf4b380ac1a0d6b5f46d25d03f10...,19405,19405,1713

In [41]:
df_SOTF=pd.ExcelFile("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/Store List Report 04.23.20.xlsx")
df_SOTF=df_SOTF.parse("Store List",dtype=str)
df_SOTF=df_SOTF[['Store','SOTF']]
print(df_SOTF['SOTF'].unique())
df_SOTF=df_SOTF[df_SOTF['SOTF'].str.lower()=="yes"]
df_SOTF=df_SOTF[df_SOTF['Store']!="TBD"]
df_SOTF['SOTF']="SOTF"
df_SOTF=df_SOTF.rename(columns={"Store":"closest_store","SOTF":"Store_Type"})

df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,df_SOTF,on="closest_store",how="left")
df_lapsed_1948_ids['Store_Type']=df_lapsed_1948_ids['Store_Type'].fillna("Legacy")

['Yes' 'No' 'NO' 'YES' 'yes 2020 (pending approval)' nan]

In [42]:
df_lapsed_1948_ids['Status']="Lapsed1948"

In [43]:
df_zip_type=pd.read_csv("./BL_ta_zip_relabeled.csv",dtype=str)
df_zip_type['zip_cd']=df_zip_type['zip_cd'].apply(lambda x: x.zfill(5))
df_zip_type=df_zip_type.rename(columns={"zip_cd":"cleaned_zip_cd"})

df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,df_zip_type,on="cleaned_zip_cd",how="left")
df_lapsed_1948_ids['zip_type']=df_lapsed_1948_ids['zip_type'].fillna("T")

In [44]:
del dfiddetail
gc.collect()

6604

In [45]:
dftotal.head(2)

,frmindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM,email_address_hash,cleaned_zip_cd,allocated_store,Status,Store_Type,zip_type,HML_Group,IncomeDesc,LivesDesc
0,D01,14ead851c502456a1d1fcfdcba52486e2fb624f7e1dd37...,23636.95,996,1.0,2020-04-17,111.0,b59083239858593c93585cf1c81ba48604c468b8b4bc27...,97754,4556,Active,Legacy,T,H,Above50K,SingleFamily
1,D01,6fe1f723789ee0663ab91cfd28989322e815a2f8d05f4d...,23498.46000000001,993,1.0,2020-03-25,111.0,0e6624f4da22328a385766e777c098ba45eed2f7b4a00b...,92870,4337,Active,Legacy,P,H,Unknown,Unknown

In [51]:
dftotal['segment']=dftotal['Store_Type']+"_"+dftotal['Status']+"_"+dftotal['HML_Group']+"_"+dftotal['zip_type']+"_"+ \
dftotal['IncomeDesc']+"_"+dftotal['LivesDesc']+"_RFM20Q2"

df_lapsed_1948_ids['segment']=df_lapsed_1948_ids['Store_Type']+"_"+df_lapsed_1948_ids['Status']+"_"+'NA'+"_"+df_lapsed_1948_ids['zip_type']+"_"+ \
"NA"+"_"+"NA"+"_RFM20Q2"

In [47]:
df_summary_0_18=dftotal.groupby(['segment','Store_Type','Status','HML_Group','zip_type','IncomeDesc','LivesDesc'])['customer_id_hashed','email_address_hash'].nunique().reset_index()
df_summary_0_18=df_summary_0_18.rename(columns={"customer_id_hashed":"unique_ids","email_address_hash":"unique_emails"})


df_summary_19_48=df_lapsed_1948_ids.groupby(['segment','Store_Type','Status','zip_type'])['customer_id_hashed','email_address_hash'].nunique().reset_index()
df_summary_19_48=df_summary_19_48.rename(columns={"customer_id_hashed":"unique_ids","email_address_hash":"unique_emails"})

In [48]:
writer=pd.ExcelWriter("./BL_2020Q2_segmentation_summary_before_splitTandC_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_summary_0_18.to_excel(writer,"aud_0_to_18_months",index=False)
df_summary_19_48.to_excel(writer,"aud_19_to_48_months",index=False)
writer.save()

In [57]:
wirte_folder_detail_final_all="./final_details_output_"+str(datetime.datetime.now().date())+"./"

try:
    os.stat(wirte_folder_detail_final_all)
except:
    os.mkdir(wirte_folder_detail_final_all)

dftotal.to_csv("./df_details_0_18.csv",index=False)
df_lapsed_1948_ids.to_csv("./df_details_19_48.csv",index=False)

In [59]:
df_lapsed_1948_ids.head(2)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closest_store,Store_Type,Status,zip_type,segment
0,d66b069d8075e9db9e8424f501f002fcb3fcd57d7011e3...,3e85db544f2d18a74624320567a5e358b48cb055dd8cdc...,31350,31350,NaN,Legacy,Lapsed1948,T,Legacy_Lapsed1948_NA_T_NA_NA_RFM20Q2
1,077dd9455d333b27872044b7f4dbc9f7e70a56d56d695d...,001926837ee9ac0871cf4b380ac1a0d6b5f46d25d03f10...,19405,19405,1713,Legacy,Lapsed1948,S,Legacy_Lapsed1948_NA_S_NA_NA_RFM20Q2

# Split_Control_Test_Remove_T_zips

In [61]:
df_lapsed_1948_ids=df_lapsed_1948_ids[['customer_id_hashed','email_address_hash','zip_type','segment']]
gc.collect()
df_19_to_48_detail_P=df_lapsed_1948_ids[df_lapsed_1948_ids['zip_type']=="P"]
del df_lapsed_1948_ids
gc.collect()

dftotal=dftotal[['customer_id_hashed','email_address_hash','zip_type','segment']]
gc.collect()
df_0_to_18_detail_PS=dftotal[dftotal['zip_type'].isin(["P","S"])]
del dftotal
gc.collect()

8

In [63]:
df_0_to_18_count_PS=df_0_to_18_detail_PS.groupby("segment")['customer_id_hashed'].count().to_frame().reset_index()
df_19_to_48_count_P=df_19_to_48_detail_P.groupby("segment")['customer_id_hashed'].count().to_frame().reset_index()
df_0_to_18_count_PS=df_0_to_18_count_PS.sort_values("segment")
df_19_to_48_count_P=df_19_to_48_count_P.sort_values("segment")

list_seg_small_0_to_18=df_0_to_18_count_PS[df_0_to_18_count_PS['customer_id_hashed']<=3600]['segment'].unique().tolist()
list_seg_small_19_to_48=df_19_to_48_count_P[df_19_to_48_count_P['customer_id_hashed']<=3600]['segment'].unique().tolist()
print("len(list_seg_small_0_to_18)",len(list_seg_small_0_to_18))
print("len(list_seg_small_19_to_48)",len(list_seg_small_19_to_48))

len(list_seg_small_0_to_18) 17
len(list_seg_small_19_to_48) 0

In [65]:
# the 19_48 are all large enough

df_0_to_18_detail_small=df_0_to_18_detail_PS[df_0_to_18_detail_PS['segment'].isin(list_seg_small_0_to_18)]
df_0_to_18_detail_large=df_0_to_18_detail_PS[~df_0_to_18_detail_PS['segment'].isin(list_seg_small_0_to_18)]

print("df_0_to_18_detail_small.shape",df_0_to_18_detail_small.shape)
print("df_0_to_18_detail_large.shape",df_0_to_18_detail_large.shape)

df_0_to_18_detail_small.shape (3302, 4)
df_0_to_18_detail_large.shape (17989949, 4)

In [66]:
df_0_to_18_detail_small['segment'].nunique()

17

In [69]:
df_0_to_18_detail_small['segment']="OthersAggregated_RFM20Q2"
df_0_to_18_detail_PS=df_0_to_18_detail_small.append(df_0_to_18_detail_large)

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
df_0_to_18_detail_PS.head(3)

,customer_id_hashed,email_address_hash,zip_type,segment
24907,95b49c5af0867016bfe493ee3eba9cca653469f8d41f88...,2ad017282618e613f3b52eea8bf177a99db28bf079f6f7...,P,OthersAggregated_RFM20Q2
56797,121cffef6a8af85cdeed6beab28e931ef224ffedaf448a...,8099a2e127ca6f713acebfbf5ececfffc29c4ae1f6f9cf...,S,OthersAggregated_RFM20Q2
64176,3f2ff8f4fbf4321bb272805361f72c09df9cb793014712...,cf7acf71e9e07c328ae2e840654cb69115d9fc5b7fc187...,S,OthersAggregated_RFM20Q2

In [73]:
gc.collect()

0

In [74]:
import random
print(datetime.datetime.now(),"start splitting")
random.seed(0)

df_test_all=pd.DataFrame()
df_control_all=pd.DataFrame()

2020-04-25 16:42:35.758950 start splitting

In [76]:
count_control_0_to_18=500000
count_control_19_to_48=100000
pctg_0_18=np.round(count_control_0_to_18/df_0_to_18_detail_PS.shape[0],6)
print("pctg_0_18",pctg_0_18)
pctg_19_48=np.round(count_control_19_to_48/df_19_to_48_detail_P.shape[0],6)
print("pctg_19_48",pctg_19_48)

pctg_0_18 0.027788
pctg_19_48 0.018891

In [77]:
writer_folder_all_wanted="/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/wanted_segment_files/"
try:
    os.stat(writer_folder_all_wanted)
except:
    os.mkdir(writer_folder_all_wanted)

In [78]:
gc.collect()

1054

In [80]:
df_test_all=pd.DataFrame()
df_control_all=pd.DataFrame()
i=0
for seg, group in df_0_to_18_detail_PS.groupby("segment"):
    group=group.reset_index()
    del group['index']
    group=group.reset_index()
    len_group=len(group)
    
    ind_control=random.sample(range(len_group),int(len_group*pctg_0_18))
    df_group_T=group[~group['index'].isin(ind_control)]
    df_group_C=group[group['index'].isin(ind_control)]
    
    del df_group_T['index']
    del df_group_C['index']
    
    new_T_seg="T_"+seg
    new_C_seg="C_"+seg
    del df_group_T['segment']
    del df_group_C['segment']
    df_group_T['segment_2020Q2']=new_T_seg
    df_group_C['segment_2020Q2']=new_C_seg
    
    df_test_all=df_test_all.append(df_group_T)
    df_control_all=df_control_all.append(df_group_C)
    
    df_group_T.to_csv(writer_folder_all_wanted+new_T_seg+".csv",index=False)
    df_group_C.to_csv(writer_folder_all_wanted+new_C_seg+".csv",index=False)
    print(new_T_seg,df_group_T.shape)
    print(new_C_seg,df_group_C.shape)
    del df_group_T
    del df_group_C
    i+=1
    if i%10==1:
        print(i,datetime.datetime.now())
        
i=0
for seg, group in df_19_to_48_detail_P.groupby("segment"):
    group=group.reset_index()
    del group['index']
    group=group.reset_index()
    len_group=len(group)
    
    ind_control=random.sample(range(len_group),int(len_group*pctg_19_48))
    df_group_T=group[~group['index'].isin(ind_control)]
    df_group_C=group[group['index'].isin(ind_control)]
    
    del df_group_T['index']
    del df_group_C['index']
    
    new_T_seg="T_"+seg
    new_C_seg="C_"+seg
    
    del df_group_T['segment']
    del df_group_C['segment']
    df_group_T['segment_2020Q2']=new_T_seg
    df_group_C['segment_2020Q2']=new_C_seg
    
    df_test_all=df_test_all.append(df_group_T)
    df_control_all=df_control_all.append(df_group_C)
    
    df_group_T.to_csv(writer_folder_all_wanted+new_T_seg+".csv",index=False)
    df_group_C.to_csv(writer_folder_all_wanted+new_C_seg+".csv",index=False)

    print(new_T_seg,df_group_T.shape)
    print(new_C_seg,df_group_C.shape)
    
    del df_group_T
    del df_group_C
    i+=1
    if i%10==1:
        print(i,datetime.datetime.now())

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

T_Legacy_Active_H_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (125055, 4)
C_Legacy_Active_H_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (3574, 4)
1 2020-04-25 18:26:59.975970
T_Legacy_Active_H_P_Above50K_SingleFamily_RFM20Q2 (1866969, 4)
C_Legacy_Active_H_P_Above50K_SingleFamily_RFM20Q2 (53362, 4)
T_Legacy_Active_H_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (148228, 4)
C_Legacy_Active_H_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (4236, 4)
T_Legacy_Active_H_P_Below50K_SingleFamily_RFM20Q2 (521417, 4)
C_Legacy_Active_H_P_Below50K_SingleFamily_RFM20Q2 (14903, 4)
T_Legacy_Active_H_P_Unknown_Unknown_RFM20Q2 (803711, 4)
C_Legacy_Active_H_P_Unknown_Unknown_RFM20Q2 (22971, 4)
T_Legacy_Active_H_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (37743, 4)
C_Legacy_Active_H_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (1078, 4)
T_Legacy_Active_H_S_Above50K_SingleFamily_RFM20Q2 (618388, 4)
C_Legacy_Active_H_S_Above50K_SingleFamily_RFM20Q2 (17674, 4)
T_Legacy_Active_H_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (42917, 4)
C_Legacy_Active_H_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (1226, 4)
T_Legacy_Active_H_S_Below50K_SingleFamily_RFM20Q2 (193125, 4)
C_Legacy_Active_H_S_Below50K_SingleFamily_RFM20Q2 (5519, 4)
T_Legacy_Active_H_S_Unknown_Unknown_RFM20Q2 (294464, 4)
C_Legacy_Active_H_S_Unknown_Unknown_RFM20Q2 (8416, 4)
T_Legacy_Active_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (29170, 4)
C_Legacy_Active_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (833, 4)
11 2020-04-25 18:27:45.251177
T_Legacy_Active_L_P_Above50K_SingleFamily_RFM20Q2 (434644, 4)
C_Legacy_Active_L_P_Above50K_SingleFamily_RFM20Q2 (12423, 4)
T_Legacy_Active_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (33266, 4)
C_Legacy_Active_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (950, 4)
T_Legacy_Active_L_P_Below50K_SingleFamily_RFM20Q2 (113915, 4)
C_Legacy_Active_L_P_Below50K_SingleFamily_RFM20Q2 (3255, 4)
T_Legacy_Active_L_P_Unknown_Unknown_RFM20Q2 (493365, 4)
C_Legacy_Active_L_P_Unknown_Unknown_RFM20Q2 (14101, 4)
T_Legacy_Active_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (11171, 4)
C_Legacy_Active_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (319, 4)
T_Legacy_Active_L_S_Above50K_SingleFamily_RFM20Q2 (185777, 4)
C_Legacy_Active_L_S_Above50K_SingleFamily_RFM20Q2 (5309, 4)
T_Legacy_Active_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (12713, 4)
C_Legacy_Active_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (363, 4)
T_Legacy_Active_L_S_Below50K_SingleFamily_RFM20Q2 (54172, 4)
C_Legacy_Active_L_S_Below50K_SingleFamily_RFM20Q2 (1548, 4)
T_Legacy_Active_L_S_Unknown_Unknown_RFM20Q2 (221779, 4)
C_Legacy_Active_L_S_Unknown_Unknown_RFM20Q2 (6338, 4)
T_Legacy_Active_M_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (75055, 4)
C_Legacy_Active_M_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (2145, 4)
21 2020-04-25 18:28:11.788920
T_Legacy_Active_M_P_Above50K_SingleFamily_RFM20Q2 (1164382, 4)
C_Legacy_Active_M_P_Above50K_SingleFamily_RFM20Q2 (33280, 4)
T_Legacy_Active_M_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (85393, 4)
C_Legacy_Active_M_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (2440, 4)
T_Legacy_Active_M_P_Below50K_SingleFamily_RFM20Q2 (313199, 4)
C_Legacy_Active_M_P_Below50K_SingleFamily_RFM20Q2 (8951, 4)
T_Legacy_Active_M_P_Unknown_Unknown_RFM20Q2 (767712, 4)
C_Legacy_Active_M_P_Unknown_Unknown_RFM20Q2 (21942, 4)
T_Legacy_Active_M_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (26009, 4)
C_Legacy_Active_M_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (743, 4)
T_Legacy_Active_M_S_Above50K_SingleFamily_RFM20Q2 (466620, 4)
C_Legacy_Active_M_S_Above50K_SingleFamily_RFM20Q2 (13337, 4)
T_Legacy_Active_M_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (29204, 4)
C_Legacy_Active_M_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (834, 4)
T_Legacy_Active_M_S_Below50K_SingleFamily_RFM20Q2 (138809, 4)
C_Legacy_Active_M_S_Below50K_SingleFamily_RFM20Q2 (3967, 4)
T_Legacy_Active_M_S_Unknown_Unknown_RFM20Q2 (342366, 4)
C_Legacy_Active_M_S_Unknown_Unknown_RFM20Q2 (9785, 4)
T_Legacy_Lapsed1318_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (61086, 4)
C_Legacy_Lapsed1318_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (1745, 4)
31 2020-04-25 18:28:57.717294
T_Legacy_Lapsed1318_L_P_Above50K_SingleFamily_RFM20Q2 (897262, 4)
C_Legacy_Lapsed1318_L_P_Above50K_SingleFamily_RFM20Q2 (25645, 4)
T_Legacy_Lapsed1318_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (72192, 4)
C_Legacy_Lapsed1318_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (2063, 4)
T_Legacy_Lapsed1318_L_P_Below50K_SingleFamily_RFM20Q2 (243814, 4)
C_Legacy_Lapsed1318_L_P_Below50K_SingleFamily_RFM20Q2 (6968, 4)
T_Legacy_Lapsed1318_L_P_Unknown_Unknown_RFM20Q2 (12057, 4)
C_Legacy_Lapsed1318_L_P_Unknown_Unknown_RFM20Q2 (344, 4)
T_Legacy_Lapsed1318_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (25679, 4)
C_Legacy_Lapsed1318_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (733, 4)
T_Legacy_Lapsed1318_L_S_Above50K_SingleFamily_RFM20Q2 (405498, 4)
C_Legacy_Lapsed1318_L_S_Above50K_SingleFamily_RFM20Q2 (11590, 4)
T_Legacy_Lapsed1318_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (29042, 4)
C_Legacy_Lapsed1318_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (830, 4)
T_Legacy_Lapsed1318_L_S_Below50K_SingleFamily_RFM20Q2 (122031, 4)
C_Legacy_Lapsed1318_L_S_Below50K_SingleFamily_RFM20Q2 (3487, 4)
T_Legacy_Lapsed1318_L_S_Unknown_Unknown_RFM20Q2 (5468, 4)
C_Legacy_Lapsed1318_L_S_Unknown_Unknown_RFM20Q2 (156, 4)
T_OthersAggregated_RFM20Q2 (3211, 4)
C_OthersAggregated_RFM20Q2 (91, 4)
41 2020-04-25 18:29:39.032684
T_SOTF_Active_H_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (63346, 4)
C_SOTF_Active_H_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (1810, 4)
T_SOTF_Active_H_P_Above50K_SingleFamily_RFM20Q2 (996353, 4)
C_SOTF_Active_H_P_Above50K_SingleFamily_RFM20Q2 (28478, 4)
T_SOTF_Active_H_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (73952, 4)
C_SOTF_Active_H_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (2113, 4)
T_SOTF_Active_H_P_Below50K_SingleFamily_RFM20Q2 (274771, 4)
C_SOTF_Active_H_P_Below50K_SingleFamily_RFM20Q2 (7853, 4)
T_SOTF_Active_H_P_Unknown_Unknown_RFM20Q2 (453035, 4)
C_SOTF_Active_H_P_Unknown_Unknown_RFM20Q2 (12948, 4)
T_SOTF_Active_H_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (20357, 4)
C_SOTF_Active_H_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (581, 4)
T_SOTF_Active_H_S_Above50K_SingleFamily_RFM20Q2 (300528, 4)
C_SOTF_Active_H_S_Above50K_SingleFamily_RFM20Q2 (8589, 4)
T_SOTF_Active_H_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (20222, 4)
C_SOTF_Active_H_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (577, 4)
T_SOTF_Active_H_S_Below50K_SingleFamily_RFM20Q2 (91734, 4)
C_SOTF_Active_H_S_Below50K_SingleFamily_RFM20Q2 (2621, 4)
T_SOTF_Active_H_S_Unknown_Unknown_RFM20Q2 (179754, 4)
C_SOTF_Active_H_S_Unknown_Unknown_RFM20Q2 (5137, 4)
51 2020-04-25 18:30:31.763529
T_SOTF_Active_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (14341, 4)
C_SOTF_Active_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (409, 4)
T_SOTF_Active_L_P_Above50K_SingleFamily_RFM20Q2 (226190, 4)
C_SOTF_Active_L_P_Above50K_SingleFamily_RFM20Q2 (6464, 4)
T_SOTF_Active_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (16523, 4)
C_SOTF_Active_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (472, 4)
T_SOTF_Active_L_P_Below50K_SingleFamily_RFM20Q2 (58673, 4)
C_SOTF_Active_L_P_Below50K_SingleFamily_RFM20Q2 (1677, 4)
T_SOTF_Active_L_P_Unknown_Unknown_RFM20Q2 (258892, 4)
C_SOTF_Active_L_P_Unknown_Unknown_RFM20Q2 (7399, 4)
T_SOTF_Active_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (5845, 4)
C_SOTF_Active_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (167, 4)
T_SOTF_Active_L_S_Above50K_SingleFamily_RFM20Q2 (84390, 4)
C_SOTF_Active_L_S_Above50K_SingleFamily_RFM20Q2 (2412, 4)
T_SOTF_Active_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (5708, 4)
C_SOTF_Active_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (163, 4)
T_SOTF_Active_L_S_Below50K_SingleFamily_RFM20Q2 (24232, 4)
C_SOTF_Active_L_S_Below50K_SingleFamily_RFM20Q2 (692, 4)
T_SOTF_Active_L_S_Unknown_Unknown_RFM20Q2 (115986, 4)
C_SOTF_Active_L_S_Unknown_Unknown_RFM20Q2 (3315, 4)
61 2020-04-25 18:31:12.006542
T_SOTF_Active_M_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (38164, 4)
C_SOTF_Active_M_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (1090, 4)
T_SOTF_Active_M_P_Above50K_SingleFamily_RFM20Q2 (622109, 4)
C_SOTF_Active_M_P_Above50K_SingleFamily_RFM20Q2 (17781, 4)
T_SOTF_Active_M_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (43006, 4)
C_SOTF_Active_M_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (1229, 4)
T_SOTF_Active_M_P_Below50K_SingleFamily_RFM20Q2 (163958, 4)
C_SOTF_Active_M_P_Below50K_SingleFamily_RFM20Q2 (4686, 4)

T_SOTF_Active_M_P_Unknown_Unknown_RFM20Q2 (431592, 4)
C_SOTF_Active_M_P_Unknown_Unknown_RFM20Q2 (12335, 4)
T_SOTF_Active_M_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (13816, 4)
C_SOTF_Active_M_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (394, 4)
T_SOTF_Active_M_S_Above50K_SingleFamily_RFM20Q2 (216519, 4)
C_SOTF_Active_M_S_Above50K_SingleFamily_RFM20Q2 (6188, 4)
T_SOTF_Active_M_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (13261, 4)
C_SOTF_Active_M_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (379, 4)
T_SOTF_Active_M_S_Below50K_SingleFamily_RFM20Q2 (63271, 4)
C_SOTF_Active_M_S_Below50K_SingleFamily_RFM20Q2 (1808, 4)
T_SOTF_Active_M_S_Unknown_Unknown_RFM20Q2 (193653, 4)
C_SOTF_Active_M_S_Unknown_Unknown_RFM20Q2 (5535, 4)
71 2020-04-25 18:32:12.823102
T_SOTF_Lapsed1318_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (29143, 4)
C_SOTF_Lapsed1318_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2 (832, 4)
T_SOTF_Lapsed1318_L_P_Above50K_SingleFamily_RFM20Q2 (455126, 4)
C_SOTF_Lapsed1318_L_P_Above50K_SingleFamily_RFM20Q2 (13008, 4)
T_SOTF_Lapsed1318_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (35096, 4)
C_SOTF_Lapsed1318_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2 (1003, 4)
T_SOTF_Lapsed1318_L_P_Below50K_SingleFamily_RFM20Q2 (121475, 4)
C_SOTF_Lapsed1318_L_P_Below50K_SingleFamily_RFM20Q2 (3472, 4)
T_SOTF_Lapsed1318_L_P_Unknown_Unknown_RFM20Q2 (5953, 4)
C_SOTF_Lapsed1318_L_P_Unknown_Unknown_RFM20Q2 (170, 4)
T_SOTF_Lapsed1318_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (11856, 4)
C_SOTF_Lapsed1318_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2 (338, 4)
T_SOTF_Lapsed1318_L_S_Above50K_SingleFamily_RFM20Q2 (161799, 4)
C_SOTF_Lapsed1318_L_S_Above50K_SingleFamily_RFM20Q2 (4624, 4)
T_SOTF_Lapsed1318_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (11339, 4)
C_SOTF_Lapsed1318_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2 (324, 4)
T_SOTF_Lapsed1318_L_S_Below50K_SingleFamily_RFM20Q2 (49251, 4)
C_SOTF_Lapsed1318_L_S_Below50K_SingleFamily_RFM20Q2 (1407, 4)

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

T_Legacy_Lapsed1948_NA_P_NA_NA_RFM20Q2 (3321018, 4)
C_Legacy_Lapsed1948_NA_P_NA_NA_RFM20Q2 (63945, 4)
1 2020-04-25 18:36:03.173457
T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2 (1872555, 4)
C_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2 (36055, 4)

In [101]:
df_summary_test=df_test_all.groupby(['segment_2020Q2'])['customer_id_hashed','email_address_hash'].nunique().reset_index()
df_summary_control=df_control_all.groupby(['segment_2020Q2'])['customer_id_hashed','email_address_hash'].nunique().reset_index()

for col in df_summary_test.columns.tolist():
    df_summary_test=df_summary_test.rename(columns={col:"T_"+col})
    
for col in df_summary_control.columns.tolist():
    df_summary_control=df_summary_control.rename(columns={col:"C_"+col})

In [102]:
df_summary_test_small=df_summary_test[df_summary_test['T_segment_2020Q2'].apply(lambda x: "agg" in x.lower())]
df_summary_control_small=df_summary_control[df_summary_control['C_segment_2020Q2'].apply(lambda x: "agg" in x.lower())]
df_summary_test_small['k']=1
df_summary_control_small['k']=1

df_summary_test_large=df_summary_test[df_summary_test['T_segment_2020Q2'].apply(lambda x: "agg" not in x.lower())]
df_summary_control_large=df_summary_control[df_summary_control['C_segment_2020Q2'].apply(lambda x: "agg" not in x.lower())]

df_summary_test_large['Store_Type']=df_summary_test_large['T_segment_2020Q2'].apply(lambda x: x.split("_")[1])
df_summary_test_large['Status']=df_summary_test_large['T_segment_2020Q2'].apply(lambda x: x.split("_")[2])
df_summary_test_large['HML_Group']=df_summary_test_large['T_segment_2020Q2'].apply(lambda x: x.split("_")[3])
df_summary_test_large['zip_type']=df_summary_test_large['T_segment_2020Q2'].apply(lambda x: x.split("_")[4])
df_summary_test_large['IncomeDesc']=df_summary_test_large['T_segment_2020Q2'].apply(lambda x: x.split("_")[5])
df_summary_test_large['LivesDesc']=df_summary_test_large['T_segment_2020Q2'].apply(lambda x: x.split("_")[6])

df_summary_control_large['Store_Type']=df_summary_control_large['C_segment_2020Q2'].apply(lambda x: x.split("_")[1])
df_summary_control_large['Status']=df_summary_control_large['C_segment_2020Q2'].apply(lambda x: x.split("_")[2])
df_summary_control_large['HML_Group']=df_summary_control_large['C_segment_2020Q2'].apply(lambda x: x.split("_")[3])
df_summary_control_large['zip_type']=df_summary_control_large['C_segment_2020Q2'].apply(lambda x: x.split("_")[4])
df_summary_control_large['IncomeDesc']=df_summary_control_large['C_segment_2020Q2'].apply(lambda x: x.split("_")[5])
df_summary_control_large['LivesDesc']=df_summary_control_large['C_segment_2020Q2'].apply(lambda x: x.split("_")[6])
    
df_summary_large=pd.merge(df_summary_test_large,df_summary_control_large,on=['Store_Type','Status','HML_Group','zip_type','IncomeDesc','LivesDesc'],how="outer")
df_summary_large=df_summary_large.fillna(0)

df_summary_small=pd.merge(df_summary_test_small,df_summary_control_small,on="k",how="outer")
del df_summary_small['k']

df_summary=df_summary_large.append(df_summary_small)
df_summary=df_summary[df_summary_large.columns.tolist()]

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [103]:
df_summary

,T_segment_2020Q2,T_customer_id_hashed,T_email_address_hash,Store_Type,Status,HML_Group,zip_type,IncomeDesc,LivesDesc,C_segment_2020Q2,C_customer_id_hashed,C_email_address_hash
0,T_Legacy_Active_H_P_Above50K_MultiFamilyOrCond...,125055,125055,Legacy,Active,H,P,Above50K,MultiFamilyOrCondo,C_Legacy_Active_H_P_Above50K_MultiFamilyOrCond...,3574,3574
1,T_Legacy_Active_H_P_Above50K_SingleFamily_RFM20Q2,1866969,1866969,Legacy,Active,H,P,Above50K,SingleFamily,C_Legacy_Active_H_P_Above50K_SingleFamily_RFM20Q2,53362,53362
2,T_Legacy_Active_H_P_Below50K_MultiFamilyOrCond...,148228,148228,Legacy,Active,H,P,Below50K,MultiFamilyOrCondo,C_Legacy_Active_H_P_Below50K_MultiFamilyOrCond...,4236,4236
3,T_Legacy_Active_H_P_Below50K_SingleFamily_RFM20Q2,521417,521417,Legacy,Active,H,P,Below50K,SingleFamily,C_Legacy_Active_H_P_Below50K_SingleFamily_RFM20Q2,14903,14903
4,T_Legacy_Active_H_P_Unknown_Unknown_RFM20Q2,803711,803711,Legacy,Active,H,P,Unknown,Unknown,C_Legacy_Active_H_P_Unknown_Unknown_RFM20Q2,22971,22971
...,...,...,...,...,...,...,...,...,...,...,...,...
77,T_SOTF_Lapsed1318_L_S_Above50K_SingleFamily_RF...,161799,161799,SOTF,Lapsed1318,L,S,Above50K,SingleFamily,C_SOTF_Lapsed1318_L_S_Above50K_SingleFamily_RF...,4624,4624
78,T_SOTF_Lapsed1318_L_S_Below50K_MultiFamilyOrCo...,11339,11339,SOTF,Lapsed1318,L,S,Below50K,MultiFamilyOrCondo,C_SOTF_Lapsed1318_L_S_Below50K_MultiFamilyOrCo...,324,324
79,T_SOTF_Lapsed1318_L_S_Below50K_SingleFamily_RF...,49251,49251,SOTF,Lapsed1318,L,S,Below50K,SingleFamily,C_SOTF_Lapsed1318_L_S_Below50K_SingleFamily_RF...,1407,1407
80,T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2,1872555,1872428,SOTF,Lapsed1948,NA,P,NA,NA,C_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2,36055,36055
0,T_OthersAggregated_RFM20Q2,3211,3211,NaN,NaN,NaN,NaN,NaN,NaN,C_OthersAggregated_RFM20Q2,91,91

In [104]:
writer=pd.ExcelWriter("./BL_summary_2020Q2_rewards_audience_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_summary.to_excel(writer,"summary_both",index=False)
df_summary_test.to_excel(writer,"summary_T",index=False)
df_summary_control.to_excel(writer,"summary_C",index=False)
writer.save()

In [105]:
a=df_summary['T_segment_2020Q2'].unique().tolist()
a.sort()
a

['T_Legacy_Active_H_P_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_H_P_Above50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_H_P_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_H_P_Below50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_H_P_Unknown_Unknown_RFM20Q2',
 'T_Legacy_Active_H_S_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_H_S_Above50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_H_S_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_H_S_Below50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_H_S_Unknown_Unknown_RFM20Q2',
 'T_Legacy_Active_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_L_P_Above50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_L_P_Below50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_L_P_Unknown_Unknown_RFM20Q2',
 'T_Legacy_Active_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_L_S_Above50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_L_S_Below50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_L_S_Unknown_Unknown_RFM20Q2',
 'T_Legacy_Active_M_P_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_M_P_Above50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_M_P_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_M_P_Below50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_M_P_Unknown_Unknown_RFM20Q2',
 'T_Legacy_Active_M_S_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_M_S_Above50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_M_S_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Active_M_S_Below50K_SingleFamily_RFM20Q2',
 'T_Legacy_Active_M_S_Unknown_Unknown_RFM20Q2',
 'T_Legacy_Lapsed1318_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Lapsed1318_L_P_Above50K_SingleFamily_RFM20Q2',
 'T_Legacy_Lapsed1318_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Lapsed1318_L_P_Below50K_SingleFamily_RFM20Q2',
 'T_Legacy_Lapsed1318_L_P_Unknown_Unknown_RFM20Q2',
 'T_Legacy_Lapsed1318_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Lapsed1318_L_S_Above50K_SingleFamily_RFM20Q2',
 'T_Legacy_Lapsed1318_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_Legacy_Lapsed1318_L_S_Below50K_SingleFamily_RFM20Q2',
 'T_Legacy_Lapsed1318_L_S_Unknown_Unknown_RFM20Q2',
 'T_Legacy_Lapsed1948_NA_P_NA_NA_RFM20Q2',
 'T_OthersAggregated_RFM20Q2',
 'T_SOTF_Active_H_P_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_H_P_Above50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_H_P_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_H_P_Below50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_H_P_Unknown_Unknown_RFM20Q2',
 'T_SOTF_Active_H_S_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_H_S_Above50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_H_S_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_H_S_Below50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_H_S_Unknown_Unknown_RFM20Q2',
 'T_SOTF_Active_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_L_P_Above50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_L_P_Below50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_L_P_Unknown_Unknown_RFM20Q2',
 'T_SOTF_Active_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_L_S_Above50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_L_S_Below50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_L_S_Unknown_Unknown_RFM20Q2',
 'T_SOTF_Active_M_P_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_M_P_Above50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_M_P_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_M_P_Below50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_M_P_Unknown_Unknown_RFM20Q2',
 'T_SOTF_Active_M_S_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_M_S_Above50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_M_S_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Active_M_S_Below50K_SingleFamily_RFM20Q2',
 'T_SOTF_Active_M_S_Unknown_Unknown_RFM20Q2',
 'T_SOTF_Lapsed1318_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Lapsed1318_L_P_Above50K_SingleFamily_RFM20Q2',
 'T_SOTF_Lapsed1318_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Lapsed1318_L_P_Below50K_SingleFamily_RFM20Q2',
 'T_SOTF_Lapsed1318_L_P_Unknown_Unknown_RFM20Q2',
 'T_SOTF_Lapsed1318_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Lapsed1318_L_S_Above50K_SingleFamily_RFM20Q2',
 'T_SOTF_Lapsed1318_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2',
 'T_SOTF_Lapsed1318_L_S_Below50K_SingleFamily_RFM20Q2',
 'T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2']

In [107]:
12*18/3*2

144.0