In [1]:
# email 0428
import pandas as pd
import glob
import os
import datetime
import numpy as np

In [7]:
from facebookads.adobjects.customaudience import CustomAudience
from facebookads.adobjects.adaccount import AdAccount
from facebookads.api import FacebookAdsApi

BigLotsAccount_id="act_271491453638620"

jian_APP_ID="2537704939796694"# jian's fb marketing app id
jian_token="EAAkEB3l7ONYBAHsJtDc00ZBtZAW2ye9CRdKsy9ivLlzvgIMsEkZAyZA3mRpuGBF8IvZAR9obyYZCdzfw455nzMEW76A5ZBZBS6Fft2nQsUSs8sZCcGDZBZCbVeiCq0LMvekWjnnDZCuglkNihTAZAWIWTpvzaZBeZCKYywrPl0ZAsoWul36cyQZDZD"

In [10]:
def creatfbaudience_from_datatype(AudienceName,AudienceDescription,df,ACCESS_TOKEN,accountid,fb_datatype,col_in_df):
    FacebookAdsApi.init(access_token=ACCESS_TOKEN, api_version='v6.0')
    myAccount = AdAccount(accountid)
    fields = [
    ]
    params = {
      'name': AudienceName,
      'subtype': 'CUSTOM',
      'description': AudienceDescription,
      'customer_file_source': 'PARTNER_PROVIDED_ONLY',
    }
    fbname = myAccount.create_custom_audience(
      fields=fields,
      params=params,
    )['id']
    audience = CustomAudience(fbname)
    users = list(df[col_in_df])
    listlen = len(users)
    chunck_size=50000
    count_uploaded=0
    for i in range(int(np.ceil(listlen/chunck_size))):
        starti = i*50000
        if (i+1)*50000<listlen:
            endi = (i+1)*50000
        else:
            endi = listlen
        list0 = users[starti:endi]
        
        count_uploaded+=len(list0)
        audience.add_users(schema=fb_datatype, users=list0)
        #print len(list0)   
    print(fbname,datetime.datetime.now(),AudienceName,"uploaded",count_uploaded)

# 1. All Rewards

In [2]:
import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

pd.read_sql("desc BL_Rewards_Master",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

                            Field           Type Null  Key Default Extra
0              customer_id_hashed    varchar(64)  YES  MUL    None
1              email_address_hash    varchar(64)  YES  MUL    None
2                    sign_up_date           date  YES  MUL    None
3                 sign_up_channel    varchar(64)  YES  MUL    None
4                sign_up_location        int(11)  YES  MUL    None
5               customer_zip_code    varchar(16)  YES  MUL    None
6               transaction_count        int(11)  YES         None
7              transaction_amount  decimal(10,2)  YES         None
8          experian_multi_cluster    varchar(32)  YES         None
9           experian_demo_cluster    varchar(32)  YES         None
10               purchase_channel    varchar(32)  YES         None
11    email_unsubscribe_indicator     varchar(2)  YES         None
12  email_undeliverable_indicator     varchar(2)  YES         None
13                      file_path   varchar(256)  YES  MUL    None

In [3]:
pd.read_sql("select max(sign_up_date) from BL_Rewards_Master",con=BL_engine)

  max(sign_up_date)
0        2020-04-25

In [4]:
# as up to max(sign_up_date): 2020-04-25
df_all_rewards_emails=pd.read_sql("select customer_id_hashed, email_address_hash from BL_Rewards_Master order by sign_up_date desc",con=BL_engine)
print(df_all_rewards_emails['customer_id_hashed'].nunique(),df_all_rewards_emails['email_address_hash'].nunique())
df_all_rewards_emails=df_all_rewards_emails.drop_duplicates("customer_id_hashed")[['email_address_hash']].drop_duplicates()
# drop duplicated id records first, then drop the same emails for different ids

34565537 34557195

In [11]:
df_all_rewards_emails.head(2)

                                  email_address_hash
0  7da710642d4d90a510d3fdde08ad429d1f57ec8705e4b6...
1  809f971a1c8cba396cb5635ec091fe95d019ae69ab434f...

In [12]:
creatfbaudience_from_datatype(AudienceName="all_BL_rewards_members_email",
                AudienceDescription="all_BL_rewards_members_email",
                df=df_all_rewards_emails,
                ACCESS_TOKEN=jian_token,
                accountid=BigLotsAccount_id,
                fb_datatype=CustomAudience.Schema.email_hash,
                col_in_df="email_address_hash"
               )

23844525980280265 2020-04-29 15:01:33.067316 all_BL_rewards_members_email uploaded 34557194

# 2. Contral 2020Q2

In [18]:
df_contral_2020Q2=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/upload_files/C_all_quarterly_segments_RFM20Q2.csv",
                             dtype=str,usecols=["email_address_hash"])
df_contral_2020Q2.shape,df_contral_2020Q2['email_address_hash'].nunique()

((599954, 1), 599952)

In [19]:
creatfbaudience_from_datatype(AudienceName="Control_2020Q2_segment",
                AudienceDescription="all_600K_Control_2020Q2_segment",
                df=df_contral_2020Q2,
                ACCESS_TOKEN=jian_token,
                accountid=BigLotsAccount_id,
                fb_datatype=CustomAudience.Schema.email_hash,
                col_in_df="email_address_hash"
               )

23844526132970265 2020-04-29 15:09:30.843340 Control_2020Q2_segment uploaded 599954

# 3. Aggregated Test 2020Q2

In [23]:
df_mapping=pd.read_excel("./Big Lots Q2 Facebook Segment upload instructions 4.28.xlsx",
                         sheet_name="summary_T",dtype=str,usecols=['File Name','Audience Name in Facebook'])
df_mapping=df_mapping[pd.notnull(df_mapping['Audience Name in Facebook'])]
print(df_mapping.shape,df_mapping['File Name'].nunique(),df_mapping['Audience Name in Facebook'].nunique())

(80, 2) 80 11

In [24]:
list_Q2_segments=glob.glob("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/upload_files/*.csv")
list_Q2_segments=[x for x in list_Q2_segments if os.path.basename(x)[0]=="T"]
len(list_Q2_segments)

80

In [26]:
dict_new_name=df_mapping.set_index("File Name").to_dict()['Audience Name in Facebook']

In [37]:
dict_new_agg_df=dict()
i=1
for file in list_Q2_segments:
    old_seg_name=os.path.basename(file).split(".")[0]
    if old_seg_name in list(dict_new_name.keys()):
        print(datetime.datetime.now(),old_seg_name)
        new_seg_name=dict_new_name[old_seg_name]

        df=pd.read_csv(file)
        df['fb_audience_name']=new_seg_name
        if new_seg_name in list(dict_new_agg_df.keys()):
            dict_new_agg_df.update({new_seg_name:dict_new_agg_df[new_seg_name].append(df)})
            i+=1
        else:
            dict_new_agg_df.update({new_seg_name:df})
            i+=1
        
print("%s files added to the dict"%str(i))

2020-04-29 15:26:44.116372 T_Legacy_Active_H_P_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:26:44.466638 T_Legacy_Active_H_P_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:26:49.755826 T_Legacy_Active_H_P_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:26:50.168075 T_Legacy_Active_H_P_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:26:51.696224 T_Legacy_Active_H_P_Unknown_Unknown_RFM20Q2
2020-04-29 15:26:53.989286 T_Legacy_Active_H_S_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:26:54.131412 T_Legacy_Active_H_S_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:26:56.865317 T_Legacy_Active_H_S_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:26:57.050632 T_Legacy_Active_H_S_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:26:57.789424 T_Legacy_Active_H_S_Unknown_Unknown_RFM20Q2
2020-04-29 15:26:59.002317 T_Legacy_Active_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:26:59.116254 T_Legacy_Active_L_P_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:27:00.890337 T_Legacy_Active_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:27:01.014816 T_Legacy_Active_L_P_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:27:01.431578 T_Legacy_Active_L_P_Unknown_Unknown_RFM20Q2
2020-04-29 15:27:03.187186 T_Legacy_Active_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:27:03.257998 T_Legacy_Active_L_S_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:27:04.219347 T_Legacy_Active_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:27:04.288837 T_Legacy_Active_L_S_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:27:04.514268 T_Legacy_Active_L_S_Unknown_Unknown_RFM20Q2
2020-04-29 15:27:05.479903 T_Legacy_Active_M_P_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:27:05.706793 T_Legacy_Active_M_P_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:27:19.586197 T_Legacy_Active_M_P_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:27:19.921392 T_Legacy_Active_M_P_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:27:21.135525 T_Legacy_Active_M_P_Unknown_Unknown_RFM20Q2
2020-04-29 15:28:02.912512 T_Legacy_Active_M_S_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:28:03.091237 T_Legacy_Active_M_S_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:28:42.260142 T_Legacy_Active_M_S_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:28:42.438073 T_Legacy_Active_M_S_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:28:43.111011 T_Legacy_Active_M_S_Unknown_Unknown_RFM20Q2
2020-04-29 15:28:54.458159 T_Legacy_Lapsed1318_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:28:54.732734 T_Legacy_Lapsed1318_L_P_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:29:54.859064 T_Legacy_Lapsed1318_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:29:55.194090 T_Legacy_Lapsed1318_L_P_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:29:56.366699 T_Legacy_Lapsed1318_L_P_Unknown_Unknown_RFM20Q2
2020-04-29 15:30:04.782810 T_Legacy_Lapsed1318_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:30:04.953079 T_Legacy_Lapsed1318_L_S_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:30:53.288032 T_Legacy_Lapsed1318_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:30:53.528261 T_Legacy_Lapsed1318_L_S_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:30:54.185549 T_Legacy_Lapsed1318_L_S_Unknown_Unknown_RFM20Q2
2020-04-29 15:30:54.783609 T_SOTF_Active_H_P_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:30:54.938962 T_SOTF_Active_H_P_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:31:26.586216 T_SOTF_Active_H_P_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:31:26.757953 T_SOTF_Active_H_P_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:31:47.859214 T_SOTF_Active_H_P_Unknown_Unknown_RFM20Q2
2020-04-29 15:32:10.535058 T_SOTF_Active_H_S_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:32:10.617301 T_SOTF_Active_H_S_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:32:12.922485 T_SOTF_Active_H_S_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:32:12.998164 T_SOTF_Active_H_S_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:32:13.311386 T_SOTF_Active_H_S_Unknown_Unknown_RFM20Q2
2020-04-29 15:32:14.192625 T_SOTF_Active_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:32:14.243633 T_SOTF_Active_L_P_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:32:15.299498 T_SOTF_Active_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:32:15.356231 T_SOTF_Active_L_P_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:32:15.533359 T_SOTF_Active_L_P_Unknown_Unknown_RFM20Q2
2020-04-29 15:32:16.518258 T_SOTF_Active_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:32:16.552939 T_SOTF_Active_L_S_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:32:19.475675 T_SOTF_Active_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:32:19.504237 T_SOTF_Active_L_S_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:32:19.620049 T_SOTF_Active_L_S_Unknown_Unknown_RFM20Q2
2020-04-29 15:32:20.855145 T_SOTF_Active_M_P_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:32:20.960075 T_SOTF_Active_M_P_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:32:34.704808 T_SOTF_Active_M_P_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:32:34.850655 T_SOTF_Active_M_P_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:32:35.849154 T_SOTF_Active_M_P_Unknown_Unknown_RFM20Q2
2020-04-29 15:32:44.982060 T_SOTF_Active_M_S_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:32:45.395964 T_SOTF_Active_M_S_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:33:00.542277 T_SOTF_Active_M_S_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:33:00.645744 T_SOTF_Active_M_S_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:33:00.902188 T_SOTF_Active_M_S_Unknown_Unknown_RFM20Q2
2020-04-29 15:33:20.310539 T_SOTF_Lapsed1318_L_P_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:33:20.456400 T_SOTF_Lapsed1318_L_P_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:34:02.390320 T_SOTF_Lapsed1318_L_P_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:34:02.577147 T_SOTF_Lapsed1318_L_P_Below50K_SingleFamily_RFM20Q2
2020-04-29 15:34:06.487920 T_SOTF_Lapsed1318_L_P_Unknown_Unknown_RFM20Q2
2020-04-29 15:34:06.959536 T_SOTF_Lapsed1318_L_S_Above50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:34:07.031736 T_SOTF_Lapsed1318_L_S_Above50K_SingleFamily_RFM20Q2
2020-04-29 15:34:08.420170 T_SOTF_Lapsed1318_L_S_Below50K_MultiFamilyOrCondo_RFM20Q2
2020-04-29 15:34:08.553778 T_SOTF_Lapsed1318_L_S_Below50K_SingleFamily_RFM20Q2
80 files added to the dict

In [36]:
os.getcwd()

'/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/Aggregate_and_upload_to_FB_directly'

In [38]:
len(dict_new_agg_df)

10

In [39]:
i

80

In [41]:
folder_aggregated_files='/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/Aggregate_and_upload_to_FB_directly/aggregated_test_FB_audience/'
try:
    os.stat(folder_aggregated_files)
except:
    os.mkdir(folder_aggregated_files)

for fb_audience,df in dict_new_agg_df.items():
    print(fb_audience,df.shape[0])    
    df.to_csv(folder_aggregated_files+fb_audience+".csv",index=False)
    print(fb_audience,datetime.datetime.now())

Legacy l Active0-18 l Above 50k l Multi Family 390968
Legacy l Active0-18 l Above 50k l Multi Family 2020-04-29 15:34:52.826999
Legacy l Active0-18 l Above 50k l Single Family 6039540
Legacy l Active0-18 l Above 50k l Single Family 2020-04-29 15:38:37.096246
Legacy l Active0-18 l Below 50k l Multi Family 452955
Legacy l Active0-18 l Below 50k l Multi Family 2020-04-29 15:38:57.319232
Legacy l Active0-18 l Below 50k l Single Family 1700482
Legacy l Active0-18 l Below 50k l Single Family 2020-04-29 15:40:16.169614
Legacy l Active0-18 l Unknown l Unknown 2940922
Legacy l Active0-18 l Unknown l Unknown 2020-04-29 15:42:25.118241
SOTF l Active0-18 l Above 50k l Multi Family 196868
SOTF l Active0-18 l Above 50k l Multi Family 2020-04-29 15:42:32.783378
SOTF l Active0-18 l Above 50k l Single Family 3063014
SOTF l Active0-18 l Above 50k l Single Family 2020-04-29 15:44:39.967741
SOTF l Active0-18 l Below 50k l Multi Family 219107
SOTF l Active0-18 l Below 50k l Multi Family 2020-04-29 15:44:52.140271
SOTF l Active0-18 l Below 50k l Single Family 847365
SOTF l Active0-18 l Below 50k l Single Family 2020-04-29 15:45:29.423353
SOTF l Active0-18 l Unknown l Unknown 1638865
SOTF l Active0-18 l Unknown l Unknown 2020-04-29 15:46:27.596747

In [45]:
# T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2
df_T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/wanted_segment_files/T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2.csv",
                                                    dtype=str)
del df_T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2['zip_type']
df_T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2['fb_audience_name']="T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2"
print(df_T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2.shape,df_T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2['email_address_hash'].nunique())
df_T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2.to_csv(folder_aggregated_files+"T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2.csv",index=False)

(1872555, 4) 1872428

In [46]:
dict_new_agg_df.update({"T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2":df_T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2})

In [47]:
print(len(dict_new_agg_df))

11

In [48]:
for fb_audience,df in dict_new_agg_df.items():
    creatfbaudience_from_datatype(AudienceName=fb_audience,
                AudienceDescription=fb_audience,
                df=df,
                ACCESS_TOKEN=jian_token,
                accountid=BigLotsAccount_id,
                fb_datatype=CustomAudience.Schema.email_hash,
                col_in_df="email_address_hash"
               )

23844526399650265 2020-04-29 16:04:05.009127 Legacy l Active0-18 l Above 50k l Multi Family uploaded 390968
23844526400830265 2020-04-29 16:12:20.199711 Legacy l Active0-18 l Above 50k l Single Family uploaded 6039540
23844526423040265 2020-04-29 16:12:54.899345 Legacy l Active0-18 l Below 50k l Multi Family uploaded 452955
23844526423730265 2020-04-29 16:14:55.824850 Legacy l Active0-18 l Below 50k l Single Family uploaded 1700482
23844526426740265 2020-04-29 16:18:28.252211 Legacy l Active0-18 l Unknown l Unknown uploaded 2940922
23844526435550265 2020-04-29 16:18:43.782438 SOTF l Active0-18 l Above 50k l Multi Family uploaded 196868
23844526435940265 2020-04-29 16:22:27.830711 SOTF l Active0-18 l Above 50k l Single Family uploaded 3063014
23844526442310265 2020-04-29 16:22:51.478044 SOTF l Active0-18 l Below 50k l Multi Family uploaded 219107
23844526443120265 2020-04-29 16:23:49.246859 SOTF l Active0-18 l Below 50k l Single Family uploaded 847365
23844526444540265 2020-04-29 16:25:56.129293 SOTF l Active0-18 l Unknown l Unknown uploaded 1638865
23844526452580265 2020-04-29 16:28:17.057259 T_SOTF_Lapsed1948_NA_P_NA_NA_RFM20Q2 uploaded 1872555