In [1]:
import pandas as pd
import numpy as np
import os
import datetime
from haversine import haversine
print(datetime.datetime.now())
os.getcwd()

2020-01-21 13:36:54.806910

'/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1/Competitor_Label'

In [2]:
file_Excel=pd.ExcelFile("./LIST_All Furniture Stores in US.xlsx")
file_Excel.sheet_names

['Pivot - overview', 'raw data - store lists']

In [3]:
df_competitors=file_Excel.parse("raw data - store lists",dtype=str)
df_competitors=df_competitors[df_competitors['Exclude These']!="1"]
print(df_competitors.shape)

df_competitors=df_competitors[df_competitors['country']=="United States"]
print(df_competitors.shape)

df_competitors_1=df_competitors[pd.notnull(df_competitors['zip_code'])]
df_competitors_1['zip_code']=df_competitors_1['zip_code'].apply(lambda x: x.split("-")[0].zfill(5))
print("df_competitors_1.shape",df_competitors_1.shape)

df_competitors_2=df_competitors[pd.isnull(df_competitors['zip_code'])]
print("df_competitors_2.shape",df_competitors_2.shape)

(55421, 16)
(50955, 16)
df_competitors_1.shape (50844, 16)
df_competitors_2.shape (111, 16)

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [4]:
df_competitors_2_1=df_competitors_2[pd.isnull(df_competitors_2['city'])]
df_competitors_2_2=df_competitors_2[pd.notnull(df_competitors_2['city'])]

df_competitors_2_1['search_key']=df_competitors_2_1['address']+", "+df_competitors_2_1['state']
df_competitors_2_2['search_key']=df_competitors_2_2['address']+", "+df_competitors_2_2['city']+", "+df_competitors_2_2['state']

df_competitors_2=df_competitors_2_1.append(df_competitors_2_2)

df_stores_missing_zips=df_competitors_2[['search_key']]

print(df_stores_missing_zips.shape,df_stores_missing_zips['search_key'].nunique())

(111, 1) 111

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [5]:
import googlemaps
import requests
key='AIzaSyD0XZ4xH-9-UL9xdf2y2irvUK45cae0Abk'
gmaps = googlemaps.Client(key=key)
df_stores_missing_zips['Google_Address']=np.nan
df_stores_missing_zips['Google_zip']=np.nan
df_stores_missing_zips=df_stores_missing_zips.reset_index()
del df_stores_missing_zips['index']
for i in range(len(df_stores_missing_zips)):
    search_key=df_stores_missing_zips['search_key'][i]
    print(search_key)
    try:
        geocode_result=gmaps.geocode(search_key)[0]
        Google_Address=geocode_result['formatted_address']
    except:
        Google_Address=np.nan
        
    
    df_stores_missing_zips.loc[i,'Google_Address']=Google_Address

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

225 Boylston Street, Chestnut Hill Mall, Newton, Ma 02467, MA
600 North Wabash Avenue, Chicago, Il 60611, IL
1000 Third Avenue New York, Ny 10022, NY
175 Bloomingdale Road, White Plains, Ny 10605, NY
3264 Taylor Rdloomis Ca 95650, CA
3129 Piedmont Road Neatlanta, Ga 30305, GA
8687 Melrose Ave, Los Angeles, Ca 90069, Usapacific Design Center, 6Th Floor, Blue Building, B-605, CA
1030 Sw 8Th Street, Miami, Fl 33130, FL
510 West Cordova Road, Santa Fe, Nm 87505, NM
5445 N Bannock St Denver, Co 80216, CO
8180 E. Frank Lloyd Wright, Az, AZ
244 Newbury St, Unit 101 Boston, Ma 02116, MA
324 Ne 45Th St, Seattle, Wa 98105, WA
3029 University Avenue Madison, Wi 53705, WI
2424 W. Alabama Houston, Tx 77098, TX
440 N. Wells, Suite 100N Chicago, Il. 60654, IL
909 De La Vina Street Santa Barbara, Ca 93101, CA
Ramiro Campos Turmo, Edif. Atlanta, Local 6, GA
Unit5-6-01, 65 East Road Of North Fourth Ring, Chaoyang District, BeijingåŒ—äº¬å¸‚æœé˜³åŒºåŒ—å››çŽ¯ä¸œè·¯65å·å±…ç„¶ä¹‹å®¶5å·é¦†-6-01, IL
6160 Avalon Blvd, Alpharetta, GA
6910 Fayetteville Road, Durham, NC
160 Brookline Avenue, Boston, MA
951 Rose Ave, N Bethesda, MD
2921 District Ave, Fairfax, VA
110 Bakery Square Blvd, Pittsburgh, PA
8702 Keystone Crossing, Indianapolis, IN
4026 Easton Station, Columbus, OH
23101 Fashion Drive, Estero, FL
6 Wayside Road, Burlington, MA
11701 Lake Victoria Gardens Avenue, Palm Beach Gardens, FL
219 E. Grand Ave #101, Des Moines, IA
3316 W. Friendly Avenue, Greensboro, NC
12848 Queensbury Lane, Houston, TX
4019 Hillsboro Pike, Nashville, TN
2869 W 7th Street, Fort Worth, TX
484 King Street, Charleston, SC
2929 Magazine Street, New Orleans, LA
1958 Breton Road SE, Grand Rapids, MI
6150 NW Grand Blvd, Oklahoma City, OK
10274 Buckhead Branch Drive, Jacksonville, FL
1870 Broadway, New York, NY
675 Ponce de Leon Avenue NE, Atlanta, GA
1770 Festival Plaza Drive, Las Vegas, NV
6000 Bollinger Canyon Rd, San Ramon, CA
160 Walt Whitman Road, Huntington, NY
3201 North Miami Avenue, Miami, FL
8805 Dadeland Boulevard, Miami, FL
925 N Saint Asaph Street, Alexandria, VA
3879 Gallagher Drive, Edina, MN
1011 W Fifth Street, Austin, TX
3333 Bear Street, Costa Mesa, CA
1301 Dock Street, Baltimore, MD
321 Nut Tree Road, Vacaville, CA
1427 4th Street, Santa Monica, CA
800 Brevard Road, Asheville, NC
2B Oakbrook Center Mall, Oakbrook, IL
1155 Saint Louis Galleria, St Louis, MO
15279 N Scottsdale Road, Scottsdale, AZ
4999 Old Orchard Ctr, Skokie, IL
824 W Idaho St, Boise, ID
3117 West Cary Street, Richmond, VA
1610 R Street, Sacramento, CA
1475 Western Ave, Albany, NY
1750 29th Street, Boulder, CO
1 Bridge Avenue, Red Bank, NJ
145 Culver Road, Rochester, NY
4511 Main Street, Virginia Beach, VA
1728 14th St NW, Washington, DC
700 S Village Circle, Tampa, FL
1198 Roseville Parkway, Roseville, CA
2955 E 1st Avenue, Denver, CO
1100 Metropolitan Avenue, Charlotte, NC
5307 East Mockingbird Lane, Dallas, TX
1201 Northwest Couch, Portland, OR
112 West 18th Street, New York, NY
2201 Westlake, Seattle, WA
8366 Beverly Blvd, Los Angeles, CA
164 Middle Street, Portland, ME
50 S. Virginia St., Reno, NV
201 E Grayson St, San Antonio, TX
212 S Cedros Avenue, Solana Beach, CA
342 N Water Street, Milwaukee, WI
800 Redwood Hwy Frontage Road, Mill Valley, CA
180 University Avenue, Palo Alto, CA
35 Main Street, Westport, CT
4010 Conroy Road, Orlando, FL
3535 US-1, Princeton, NJ
400 West 47th Street, Kansas City, MO
35 S Willowdale Drive, Lancaster, PA
928 S. Broadway, Los Angeles, CA
1 Bellevue Way NE, Bellevue, WA
5602 Bay Street, Emeryville, CA
2 Main Street, Brooklyn, NY
4015 S Interstate 35, San Marcos, TX
2639 Edmondson Rd, Cincinnati, OH
27300 Eucalyptus Ave, Moreno Valley, CA
51 S Main St, Salt Lake City, UT
380 Route 17 North, Paramus, NJ
1420 Willow Ave, Hoboken, NJ
179 Wayland Avenue, Providence, RI
214 Drayton St., Savannah, GA
1770 W Main Street, Riverhead, NY
Carrer de Muntaner 266-268, Barcelona, CT
3225 Helms Avenue, Los Angeles, CA
3305 Hyland Ave, Costa Mesa, CA
290 Townsend St, San Francisco, CA
32 Knight Street, Norwalk, CT
47 John Street, Stamford, CT
Avenida 6A Norte No. 35 - 47, Local 519, Cali, FL
Avenida Esperanza, No.62 - 49, Local 134, BogotÃ¡, IL
Carrera 15 No. 19A - 31 Sur, C. C. San Antonio Plaza, Local 1, Pitalito, TX

In [6]:
df_stores_missing_zips['google_zip']=df_stores_missing_zips['Google_Address'].apply(lambda x: np.nan if str(x)=="nan" else x.split(",")[-2].split(" ")[-1])
dict_google_zip_missing=df_stores_missing_zips.set_index("search_key").to_dict()['google_zip']
# 5-6 zips not found, ignore these

In [7]:
df_competitors_2['zip_code']=df_competitors_2['search_key'].apply(lambda x: dict_google_zip_missing[x])
del df_competitors_2['search_key']
df_competitors=df_competitors_1.append(df_competitors_2)
print(df_competitors.shape)

(50955, 16)

In [8]:
df_competitors_zips=df_competitors.reset_index()
del df_competitors_zips['index']
df_competitors_zips=df_competitors_zips.reset_index()
df_competitors_zips=df_competitors_zips[['index','store_name','zip_code','ali']]
print(df_competitors_zips.shape,df_competitors_zips['ali'].nunique())
df_competitors_zips=df_competitors_zips.rename(columns={"index":"competitor_index"})

(50955, 4) 50955

In [9]:
df_competitors_zips.head(5)

   competitor_index                store_name zip_code               ali
0                 0             Washington MO    63090  897000077-000000
1                 1              Warrenton MO    63383  897000034-000000
2                 2                   Troy MO    63379  897000076-000000
3                 3            Taylorville IL    62568  897000016-000000
4                 4  St. Louis MO Union Blvd.    63115  897000064-000000

In [10]:
TA_excel=pd.ExcelFile("/home/jian/Projects/Big_Lots/New_TA/TA_created_in_201906/final_output_20190718/BL_final_TA_updated_JL_2019-07-18.xlsx")
print(TA_excel.sheet_names)

df_zip_type=TA_excel.parse("unique_zips_full_footprint",dtype=str)
df_store_existing_TA=TA_excel.parse("view_by_store",dtype=str)
###### 
store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200101-135601-098.txt",
                         dtype=str,sep="|",usecols=['location_id','latitude_meas','longitude_meas'])
store_list=store_list[store_list['location_id']!="6990"]
store_list=store_list[store_list['location_id']!="145"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
df_new_stores=store_list[~store_list['location_id'].isin(df_store_existing_TA['location_id'].tolist())]
print(df_new_stores.shape)
df_new_stores['store_location']=df_new_stores[['latitude_meas','longitude_meas']].values.tolist()
dict_new_stores=df_new_stores.set_index("location_id").to_dict()['store_location']

['unique_zips_full_footprint', 'view_by_TA', 'view_by_store', 'view_for_Tableau']
(30, 3)

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [11]:
zip_by_store=pd.DataFrame()
for ind, row in df_store_existing_TA.iterrows():
    location=row['location_id']
    p_zip_list=eval(row['trans_P_zips_70_within_TA'])
    s_zip_list=eval(row['trans_S_zips_70_within_TA'])
    ten_zip_list=eval(row['zips_in_10'])
    
    df_P=pd.DataFrame({"zip_cd":p_zip_list,"zip_label":['P']*len(p_zip_list)})
    df_S=pd.DataFrame({"zip_cd":s_zip_list,"zip_label":['S']*len(s_zip_list)})
    df_10=pd.DataFrame({"zip_cd":ten_zip_list,"zip_label":['zip_10']*len(ten_zip_list)})
    df_zip_for_store=df_P.append(df_S).append(df_10)
    df_zip_for_store=df_zip_for_store.reset_index().rename(columns={"index":"location_id"})
    df_zip_for_store['location_id']=location
    zip_by_store=zip_by_store.append(df_zip_for_store)

In [12]:
import json
zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))
df_zip_new_stores=pd.DataFrame()
for location_id,store_lat_lng in dict_new_stores.items():
    list_store_zip_new=[]
    for z, z_centroid in zip_centers.items():
        if haversine(store_lat_lng,z_centroid,unit="mi")<=10:
            list_store_zip_new.append(z)
    df_store_zip_new=pd.DataFrame({"zip_cd":list_store_zip_new,"zip_label":['zip_10']*len(list_store_zip_new)})
    df_store_zip_new['location_id']=location_id
    
    df_zip_new_stores=df_zip_new_stores.append(df_store_zip_new)

In [13]:
zip_by_store=zip_by_store.append(df_zip_new_stores)
zip_by_store.to_csv("./BL_zip_by_store_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

/home/jian/.local/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [14]:
print(zip_by_store.shape)

zip_by_store.head(3)

(23937, 3)

  location_id zip_cd zip_label
0        1949  75040         P
1        1949  75098         P
2        1949  75044         P

In [15]:
df_competitors_zips=df_competitors_zips.rename(columns={"zip_code":"zip_cd"})
zip_by_store=pd.merge(zip_by_store,df_competitors_zips,on="zip_cd",how="left")

store_competitor_count=zip_by_store.groupby("location_id")['competitor_index'].nunique().to_frame().reset_index()
store_competitor_count.shape

(1438, 2)

In [16]:
store_competitor_count=store_competitor_count.sort_values("competitor_index",ascending=False)
store_competitor_count=store_competitor_count.rename(columns={"competitor_index":"competitor_count"})

In [17]:
store_competitor_count['competition_group']=np.where(store_competitor_count['competitor_count']>=50,"High","Low/No")
print(store_competitor_count.shape)
store_competitor_count.to_csv("./BL_competitor_count_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

(1438, 3)

In [18]:
store_competitor_count

     location_id  competitor_count competition_group
1385         548               583              High
908         4566               565              High
1303        5332               507              High
1064        5086               455              High
1278        5302               440              High
...          ...               ...               ...
1235        5262                 3            Low/No
291         1606                 3            Low/No
775         4291                 3            Low/No
569          222                 3            Low/No
814         4432                 2            Low/No

[1438 rows x 3 columns]