In [1]:
import pandas as pd
import numpy as np
import datetime
import dateutil.relativedelta
import os
import glob
from haversine import haversine

import gc
import sqlalchemy
import json
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [2]:
folder_store_list="/home/sharefolder/biglots_data/static_files/Store_list/"

path_json_zip_centers="/home/sharefolder/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json"
output_folder="./output_%s/"%(datetime.datetime.now().date())
path_excel_ta="/home/sharefolder/TraderArea/quarterly_TA_update/output_2020-10-08/BL_final_TA_updated_JL_2020-10-08.xlsx"
dict_update_location_latlng={}
path_SOTF_dom="/home/sharefolder/biglots_data/static_files/store_list_from_Dom/Store List Report Dom 09.18.20 303PM.xlsx"

# output_folder="./output_2020-10-08/"
try:
    os.stat(output_folder)
except:
    os.mkdir(output_folder)

In [3]:
zip_centers=json.load(open(path_json_zip_centers,"r"))

latest_store_list=glob.glob(folder_store_list+"*.txt")
latest_store_list=sorted(latest_store_list,key=lambda x: os.stat(x).st_mtime)
latest_store_list=latest_store_list[-1]

def revise_store_lat_lng(path_store_list_input=latest_store_list):
    df=pd.read_csv(path_store_list_input,sep="|",dtype=str)
    df['latitude_meas']=df['latitude_meas'].astype(float)
    df=df[~df['location_id'].isin(['145','6990'])]
    df=df[df['latitude_meas']==0]
    print("type in lat and lng: %d, %d")
    for i,row in df.iterrows():
        store_num=row['location_id']
        address=row['address_line_1']+", "+row['city_nm']+", "+row['state_nm']+", "+row['zip_cd']+", US"
        print(address)
        
        google_lat_long=str(input())
        lat=eval(google_lat_long)[0]
        lng=eval(google_lat_long)[1]
        dict_update_location_latlng.update({store_num:{"lat":lat,"lng":lng}})
    print("dict_update_location_latlng: \n %s"%dict_update_location_latlng)
        
revise_store_lat_lng()

type in lat and lng: %d, %d
dict_update_location_latlng:
 {}

In [4]:
lastdate_date = pd.read_sql("select max(transaction_dt) from Pred_POS_Department;",con=BL_engine).iloc[0,0]
Beginning_12_months_ago = str(lastdate_date-datetime.timedelta(days=52*7-1)) # Sunday
Beginning_18_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*1.5-1)) # Sunday
Beginning_30_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*2.5-1)) # Sunday

folder_write='./output_%s/'%str(datetime.datetime.now().date())
try:
    os.stat(folder_write)
except:
    os.mkdir(folder_write)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [5]:
lastdate_str=str(lastdate_date)
print("lastdate_date: %s"%lastdate_str)
print("Active Start on: %s"%Beginning_12_months_ago) #>=
print("Lapsed & Store_allocation Start on: %s"%Beginning_18_months_ago) #>=
print("Lapsed 19-30 Start on: %s"%Beginning_30_months_ago) #>=

lastdate_date: 2020-10-03
Active Start on: 2019-10-06
Lapsed & Store_allocation Start on: 2019-04-07
Lapsed 19-30 Start on: 2018-04-08

In [6]:
str_sql_Beginning_18_months_ago="'"+Beginning_18_months_ago+"'"
str_sql_Beginning_18_months_ago

"'2019-04-07'"

In [7]:
rfm_query="select customer_id_hashed, max(transaction_dt) as max_trans_date, sum(sales) as sales, count(distinct trans_order_since_18Q1) as transactions \
from Pred_POS_Department \
where transaction_dt>=%s \
group by customer_id_hashed;"%str_sql_Beginning_18_months_ago
print("rfm_query: \n"+rfm_query)

rfm_query:
select customer_id_hashed, max(transaction_dt) as max_trans_date, sum(sales) as sales, count(distinct trans_order_since_18Q1) as transactions from Pred_POS_Department where transaction_dt>='2019-04-07' group by customer_id_hashed;

In [11]:
print("query started: ",datetime.datetime.now())
dftotal=pd.read_sql(rfm_query,con=BL_engine)
dftotal=dftotal[pd.notnull(dftotal['customer_id_hashed'])]
print("query done: ",datetime.datetime.now())

query started:  2020-10-08 12:19:19.309666
query done:  2020-10-08 15:41:08.762615

In [12]:
dftotal.to_csv(folder_write + 'dftotal.csv',index=False)

In [7]:
# dftotal=pd.read_csv(folder_write + 'dftotal.csv')

In [ ]:
dftotal['max_trans_date']=pd.to_datetime(dftotal['max_trans_date']).dt.date

In [ ]:
dftotal['recency']=lastdate_date - dftotal['max_trans_date']
dftotal['recency']=dftotal['recency'].apply(lambda x:x.days)
dftotal['recency']=np.ceil((dftotal['recency']+1)/30)

In [ ]:
# The blow is corrected, due to the ascending & decending for each KPI. The higher the better, or the lower the better

dftotal=dftotal.sort_values(['transactions','recency','sales'],ascending=[0,1,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'Transindex'})

dftotal=dftotal.sort_values(['sales','recency','transactions'],ascending=[0,1,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'Amtindex'})

dftotal=dftotal.sort_values(['recency','transactions','sales'],ascending=[1,0,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'recencyindex'})

c_ids=len(dftotal.index)

c_ids=np.ceil(c_ids/5.0)

dftotal['Transindex']=np.ceil((dftotal['Transindex']+1)/c_ids)
dftotal['Amtindex']=np.ceil((dftotal['Amtindex']+1)/c_ids)
dftotal['recencyindex']=np.ceil((dftotal['recencyindex']+1)/c_ids)

dftotal['RFM']=dftotal['recencyindex']*100 + dftotal['Transindex']*10 + dftotal['Amtindex']

In [9]:
# dftotal.to_csv(folder_write+"dftotal_with_index_all_EmailNotMergedYet.csv",index=False)
dftotal=pd.read_csv(folder_write+"dftotal_with_index_all_EmailNotMergedYet.csv")

In [10]:
print(dftotal['max_trans_date'].min(),dftotal['max_trans_date'].max())

2019-04-07 2020-10-03

In [11]:
print(datetime.datetime.now())
dfiddetail=pd.read_sql('select customer_id_hashed,email_address_hash,customer_zip_code from BL_Rewards_Master order by sign_up_date desc',con=BL_engine)
dfiddetail=dfiddetail.drop_duplicates("customer_id_hashed")
print("dfiddetail.shape "+str(dfiddetail.shape))
print("dfiddetail['customer_id_hashed'].nunique() "+str(dfiddetail['customer_id_hashed'].nunique()))
print("dfiddetail['email_address_hash'].nunique() "+str(dfiddetail['email_address_hash'].nunique()))
print(datetime.datetime.now())

2020-10-08 19:19:55.657729
dfiddetail.shape (38941532, 3)
dfiddetail['customer_id_hashed'].nunique() 38941532
dfiddetail['email_address_hash'].nunique() 38931774
2020-10-08 19:42:51.945326

In [7]:
df_store_type=pd.ExcelFile(path_SOTF_dom)
df_store_type=df_store_type.parse("Store List",dtype=str)
df_store_type=df_store_type[["Store",'SOTF']]
df_store_type=df_store_type[df_store_type['SOTF'].str.lower()=="yes"]
df_store_type=df_store_type[df_store_type['Store']!="TBD"]
print(len(df_store_type),df_store_type['Store'].nunique())
df_store_type=df_store_type.rename(columns={"Store":"allocated_store","SOTF":"Store_Type"})
df_store_type['Store_Type']="SOTF"
df_store_type.head(2)

491 491

  allocated_store Store_Type
0               1       SOTF
6              49       SOTF

In [13]:
customer_unique_zip_cd=dfiddetail[['customer_zip_code']].drop_duplicates()
customer_unique_zip_cd=customer_unique_zip_cd[~pd.isnull(customer_unique_zip_cd['customer_zip_code'])]
customer_unique_zip_cd['cleaned_zip_cd']=customer_unique_zip_cd['customer_zip_code'].apply(lambda x: x.split("-")[0][:5].zfill(5))
customer_unique_zip_cd.shape

(265025, 2)

In [14]:
df_unique_zip5=customer_unique_zip_cd[['cleaned_zip_cd']].drop_duplicates()
df_unique_zip5.shape

(75413, 1)

In [8]:
store_list=pd.read_table(latest_store_list,
                        dtype=str,sep="|")
store_list=store_list[['location_id','latitude_meas','longitude_meas']]
store_list=store_list[store_list['location_id']!="6990"]
store_list=store_list[store_list['location_id']!="145"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
store_list['store_coor']=store_list[['latitude_meas','longitude_meas']].values.tolist()
dict_store_lat=store_list.set_index("location_id").to_dict()['store_coor']

store_list.shape

(1411, 4)

In [16]:
def allocated_closet_store_to_zip(zip_input):
    try:
        zip_c=zip_centers[zip_input]
    except:
        return np.nan
    min_dist=np.inf
    for store,v in dict_store_lat.items():
        dist=haversine(zip_c,v,unit="mi")
        if dist<min_dist:
            min_dist=dist
            closet_store=store
    return closet_store

df_unique_zip5['closet_store']=df_unique_zip5['cleaned_zip_cd'].apply(lambda x: allocated_closet_store_to_zip(x))
customer_unique_zip_cd=pd.merge(customer_unique_zip_cd,df_unique_zip5,on="cleaned_zip_cd",how="left")

In [17]:
dfiddetail=pd.merge(dfiddetail,customer_unique_zip_cd,on="customer_zip_code",how="left")
print(dfiddetail.shape)
del df_unique_zip5
del customer_unique_zip_cd
del dfiddetail['customer_zip_code']

gc.collect()

(38941532, 5)

5177

In [26]:
dfiddetail.to_csv(output_folder+"dfiddetail.csv")
# dfiddetail=pd.read_csv(output_folder+"dfiddetail.csv")

In [27]:
# stores of top sales
query_top_store_per_id="select customer_id_hashed, location_id, count(distinct trans_order_since_18Q1) as trans, sum(sales) as sales \
from Pred_POS_Department \
where transaction_dt>=%s \
group by customer_id_hashed, location_id;"%str_sql_Beginning_18_months_ago

df_top_store_per_id=pd.read_sql(query_top_store_per_id,con=BL_engine)
df_top_store_per_id=df_top_store_per_id.sort_values(["customer_id_hashed","trans","sales"],ascending=[True,False,False])
df_top_store_per_id=df_top_store_per_id.drop_duplicates("customer_id_hashed")
del df_top_store_per_id['trans']
del df_top_store_per_id['sales']
gc.collect()
df_top_store_per_id.columns=['customer_id_hashed','top_sales_store']

In [28]:
print(datetime.datetime.now())

2020-10-08 17:28:16.005926

In [18]:
# df_top_store_per_id.to_csv(output_folder+'df_top_store_per_id.csv')
df_top_store_per_id=pd.read_csv(output_folder+'df_top_store_per_id.csv')

In [19]:
gc.collect()

0

In [20]:
try:
    del df_top_store_per_id['Unnamed: 0']
except:
    pass
df_top_store_per_id.head(2)

,Unnamed: 0,customer_id_hashed,top_sales_store
0,1476,000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...,1606
1,1477,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,563

In [21]:
dfiddetail.head(2)

,customer_id_hashed,email_address_hash,cleaned_zip_cd,closet_store
0,a4e44db7e4feee041b6257e854133925d2d4ecb89e8396...,4e8d0e064d70cf0fce2ded67a30bd8b360ab3ded2f4802...,NaN,NaN
1,88e74d5d87c9eb8748ee6ed2a733aa70ec97e7f85ce4c3...,a6abc5c39dc1c5ee0e1c69683b624ece3af23cb700f3f1...,94568,4281

In [22]:
dftotal.head(2)

,recencyindex,Amtindex,Transindex,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,2020-10-03,122361.15,7529,1.0,111.0
1,1.0,1.0,1.0,02cdd41af5ee82b39607416b74290152b00183fbce3068...,2020-10-01,190125.50,6366,1.0,111.0

In [23]:
print(dftotal.shape,dftotal['customer_id_hashed'].nunique())
print(dfiddetail.shape,dfiddetail['customer_id_hashed'].nunique())
print(df_top_store_per_id.shape,df_top_store_per_id['customer_id_hashed'].nunique())

(23633421, 9) 23633421
(38941532, 4) 38941532
(23633422, 3) 23633421

In [24]:
del dftotal['recencyindex']
del dftotal['Amtindex']
del dftotal['Transindex']
gc.collect()

0

In [25]:
dftotal=pd.merge(dftotal,dfiddetail,on="customer_id_hashed",how="left")
del dfiddetail
gc.collect()
dftotal=pd.merge(dftotal,df_top_store_per_id,on="customer_id_hashed",how="left")
del df_top_store_per_id
gc.collect()

0

In [26]:
dftotal['allocated_store']=np.where(pd.notnull(dftotal['top_sales_store']),
                                    dftotal['top_sales_store'],
                                    dftotal['closet_store'])
print(dftotal.shape)
dftotal.head(2)

(23633421, 12)

,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM,email_address_hash,cleaned_zip_cd,closet_store,Unnamed: 0,top_sales_store,allocated_store
0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,2020-10-03,122361.15,7529,1.0,111.0,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684,23516533,1684,1684
1,02cdd41af5ee82b39607416b74290152b00183fbce3068...,2020-10-01,190125.50,6366,1.0,111.0,295e2ee597ca9fce3fa6fd8abbd947a93bb4eb4732e6e2...,14075,1839,360791,1839,1839

In [27]:
# Remove no email ids
print(dftotal.shape)
dftotal=dftotal[pd.notnull(dftotal['email_address_hash'])]
print(dftotal.shape)

(23633421, 12)
(21435829, 12)

In [28]:
dftotal['allocated_store']=dftotal['allocated_store'].astype(int)
df_store_type['allocated_store']=df_store_type['allocated_store'].astype(int)
dftotal=pd.merge(dftotal,df_store_type,on="allocated_store",how="left")
dftotal['Store_Type']=dftotal['Store_Type'].fillna("Legacy")
gc.collect()

0

In [9]:
excel=pd.ExcelFile(path_excel_ta)
df_zip_label=excel.parse("unique_zips_full_footprint",dtype=str)
print(df_zip_label['zip_type'].unique())
print(df_zip_label['zip_cd'].apply(len).unique())
df_zip_label=df_zip_label.rename(columns={"zip_cd":"cleaned_zip_cd"})
df_zip_label['zip_type']=df_zip_label['zip_type'].replace("zips_10","trans_P")
df_zip_label['zip_type']=df_zip_label['zip_type'].apply(lambda x: x.split("_")[1])
del excel
gc.collect()
print(df_zip_label['zip_type'].unique())

df_zip_label.head(5)

['trans_P' 'trans_S' 'zips_10']
[5]
['P' 'S']

  zip_type cleaned_zip_cd
0        P          75028
1        P          48317
2        P          48094
3        P          48315
4        P          48316

In [30]:
dftotal=pd.merge(dftotal,df_zip_label,on="cleaned_zip_cd",how="left")
dftotal['zip_type']=dftotal['zip_type'].fillna("T")
print(dftotal.shape)
dftotal.head(3)

(21435829, 14)

,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM,email_address_hash,cleaned_zip_cd,closet_store,Unnamed: 0,top_sales_store,allocated_store,Store_Type,zip_type
0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,2020-10-03,122361.15,7529,1.0,111.0,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684,23516533,1684,1684,Legacy,P
1,02cdd41af5ee82b39607416b74290152b00183fbce3068...,2020-10-01,190125.50,6366,1.0,111.0,295e2ee597ca9fce3fa6fd8abbd947a93bb4eb4732e6e2...,14075,1839,360791,1839,1839,SOTF,P
2,681869d76dbbf47685b2e2b2c247064ae83194cc5c5f80...,2020-10-03,117232.50,5690,1.0,111.0,e12683b2ec8b57ddab043609795d36246df869be353af7...,01702,5194,13336945,5194,5194,Legacy,P

In [46]:
dftotal = dftotal.sort_values(['RFM','recency','transactions',
                               'sales'],ascending = [1,1,0,0])

print(dftotal.shape)
dftotal=dftotal.drop_duplicates("email_address_hash") ####### Email duplications also dropped
print("drop_duplicates('email_address_hash')",dftotal.shape) 

dftotal.reset_index(drop = True, inplace = True)
dftotal.reset_index(inplace = True)

dftotal = dftotal.rename(columns = {'index':'frmindex'})
c_ids = len(dftotal.index)
c_ids = np.ceil(c_ids/10.0)
dftotal['frmindex'] = np.ceil((dftotal['frmindex']+1)/c_ids)

print("Done with the RFM scoring, "+str(datetime.datetime.now()))

dftotal['frmindex']=dftotal['frmindex'].apply(lambda x: "D"+str(int(float(x))).zfill(2))

(21435829, 14)
drop_duplicates('email_address_hash') (21434209, 14)
Done with the RFM scoring, 2020-10-08 21:55:45.561168

In [47]:
df_H=pd.DataFrame({"frmindex":['D01','D02','D03','D04']})
df_H['HML_Group']="H"

df_M=pd.DataFrame({"frmindex":['D05','D06','D07']})
df_M['HML_Group']="M"

df_L=pd.DataFrame({"frmindex":['D08','D09','D10']})
df_L['HML_Group']="L"

df_HML=df_H.append(df_M).append(df_L)
gc.collect()

16

In [48]:
dftotal=pd.merge(dftotal,df_HML,on='frmindex',how="left")

dftotal.to_csv(output_folder+"dftotal_details_full.csv",index=False)
del df_HML
gc.collect()

0

In [37]:
dftotal=pd.read_csv(output_folder+"dftotal_details_full.csv")
dftotal.head(2)

,frmindex,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM,email_address_hash,cleaned_zip_cd,closet_store,Unnamed: 0,top_sales_store,allocated_store,Store_Type,zip_type,HML_Group
0,D01,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,2020-10-03,122361.15,7529,1.0,111.0,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607.0,1684.0,23516533,1684,1684,Legacy,P,H
1,D01,02cdd41af5ee82b39607416b74290152b00183fbce3068...,2020-10-01,190125.50,6366,1.0,111.0,295e2ee597ca9fce3fa6fd8abbd947a93bb4eb4732e6e2...,14075.0,1839.0,360791,1839,1839,SOTF,P,H

In [38]:
dftotal['max_trans_date']=dftotal['max_trans_date'].astype(str)

# Lapsed 18-30

In [12]:
# 2. About to Lapse X to 12 mo
date_last_2020Q4=datetime.date(2021,1,31)
time_span=(date_last_2020Q4.month-lastdate_date.month)+12*(date_last_2020Q4.year-lastdate_date.year)+1
X=12-time_span
print("X",X)
print("time_span",time_span)
# 2
date_max_X_to_12=date_last_2020Q4-dateutil.relativedelta.relativedelta(months=12)
date_min_X_to_12=date_max_X_to_12-dateutil.relativedelta.relativedelta(months=time_span)+datetime.timedelta(days=1)
print("#2", date_min_X_to_12,date_max_X_to_12,'\n')
# 3
date_max_13_to_18=date_min_X_to_12-datetime.timedelta(days=1)
date_min_13_to_18=date_min_X_to_12-dateutil.relativedelta.relativedelta(months=5)
date_min_13_to_18_adapted=datetime.datetime.strptime(Beginning_18_months_ago,"%Y-%m-%d").date()
print("#3", date_min_13_to_18,date_max_13_to_18,'\n')
# 4
date_max_19_to_24=date_min_13_to_18_adapted-datetime.timedelta(days=1)
date_min_19_to_24=date_min_13_to_18-dateutil.relativedelta.relativedelta(months=6)
print("#4", date_min_19_to_24,date_max_19_to_24,'\n')
# 5
date_max_25_to_30=date_min_19_to_24-datetime.timedelta(days=1)
date_min_25_to_30=date_min_19_to_24-dateutil.relativedelta.relativedelta(months=6)
print("#5", date_min_25_to_30,date_max_25_to_30,'\n')

X 8
time_span 4
#2 2019-10-01 2020-01-31

#3 2019-05-01 2019-09-30

#4 2018-11-01 2019-04-06

#5 2018-05-01 2018-10-31

In [51]:
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [59]:
str_sql_date_min_25_to_30="'"+str(date_min_25_to_30)+"'"
str_sql_date_max_19_to_24="'"+str(date_max_19_to_24)+"'"

query_top_store_per_id_18_30="select customer_id_hashed, location_id, max(transaction_dt) as max_trans_date, count(distinct trans_order_since_18Q1) as trans, sum(sales) as sales \
from Pred_POS_Department \
where transaction_dt between %s and %s \
group by customer_id_hashed, location_id;"%(str(str_sql_date_min_25_to_30),str(str_sql_date_max_19_to_24))
print(query_top_store_per_id_18_30)

select customer_id_hashed, location_id, max(transaction_dt) as max_trans_date, count(distinct trans_order_since_18Q1) as trans, sum(sales) as sales from Pred_POS_Department where transaction_dt between '2018-05-01' and '2019-04-06' group by customer_id_hashed, location_id;

In [64]:
df_top_store_per_id_18_30.head(2)

,customer_id_hashed,location_id,max_trans_date
1455,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,5309,2018-10-09
1456,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-12-21

In [65]:
print(datetime.datetime.now())
df_top_store_per_id_18_30=pd.read_sql(query_top_store_per_id_18_30,con=BL_engine)
print(datetime.datetime.now())
# 1 hour

df_ids_with_date_18_30=df_top_store_per_id_18_30[['customer_id_hashed','max_trans_date']].sort_values(["customer_id_hashed",'max_trans_date'],ascending=['True','False']).drop_duplicates("customer_id_hashed")
df_ids_with_date_18_30=df_ids_with_date_18_30[~df_ids_with_date_18_30['customer_id_hashed'].isin(dftotal['customer_id_hashed'].tolist())]

df_top_store_per_id_18_30=df_top_store_per_id_18_30.sort_values(["customer_id_hashed","trans","sales"],ascending=[True,False,False])
df_top_store_per_id_18_30=df_top_store_per_id_18_30.drop_duplicates("customer_id_hashed")
del df_top_store_per_id_18_30['trans']
del df_top_store_per_id_18_30['sales']
del df_top_store_per_id_18_30['max_trans_date']
gc.collect()
df_top_store_per_id_18_30.columns=['customer_id_hashed','top_sales_store']
df_ids_with_date_18_30=pd.merge(df_ids_with_date_18_30,df_top_store_per_id_18_30,on="customer_id_hashed",how="left")
print(datetime.datetime.now())

2020-10-09 00:06:16.200651

In [68]:
del df_top_store_per_id_18_30
print(df_ids_with_date_18_30.shape,df_ids_with_date_18_30['customer_id_hashed'].nunique())
print(datetime.datetime.now())
df_ids_with_date_18_30.head(2)

(5677875, 3) 5677874
2020-10-09 00:07:20.646042

,customer_id_hashed,max_trans_date,top_sales_store
0,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,2019-03-22,829
1,000008d9ceefd3dc5c250973c0686d2611db5eaad451db...,2018-11-21,4554

In [70]:
dfiddetail=pd.read_csv(output_folder+"dfiddetail.csv")
print(dfiddetail.shape,dfiddetail['customer_id_hashed'].nunique())
dfiddetail.head(2)

(38941532, 5) 38941532

,Unnamed: 0,customer_id_hashed,email_address_hash,cleaned_zip_cd,closet_store
0,0,a4e44db7e4feee041b6257e854133925d2d4ecb89e8396...,4e8d0e064d70cf0fce2ded67a30bd8b360ab3ded2f4802...,NaN,NaN
1,1,88e74d5d87c9eb8748ee6ed2a733aa70ec97e7f85ce4c3...,a6abc5c39dc1c5ee0e1c69683b624ece3af23cb700f3f1...,94568.0,4281.0

In [72]:
del dfiddetail['Unnamed: 0']
df_ids_with_date_18_30=pd.merge(df_ids_with_date_18_30,dfiddetail,on="customer_id_hashed",how="left")
df_ids_with_date_18_30=df_ids_with_date_18_30[pd.notnull(df_ids_with_date_18_30['email_address_hash'])]
df_ids_with_date_18_30['closet_store']=df_ids_with_date_18_30['closet_store'].fillna(-1)
df_ids_with_date_18_30['closet_store']=df_ids_with_date_18_30['closet_store'].astype(int).astype(str)
print(df_ids_with_date_18_30.shape,df_ids_with_date_18_30['customer_id_hashed'].nunique(),df_ids_with_date_18_30['email_address_hash'].nunique())
df_ids_with_date_18_30.head(2)

(4219857, 6) 4219857 4219760

,customer_id_hashed,max_trans_date,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store
0,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,2019-03-22,829,8e5725c189f726fdcdb89b3f67295513375440360b18bc...,41179.0,42
1,000008d9ceefd3dc5c250973c0686d2611db5eaad451db...,2018-11-21,4554,ce7fe194c4d21164816470508d40a5f27ae007fc97aae8...,92236.0,4554

In [74]:
gc.collect()

0

In [76]:
df_ids_with_date_18_30['allocated_store']=np.where(pd.notnull(df_ids_with_date_18_30['top_sales_store']),
                                    df_ids_with_date_18_30['top_sales_store'],
                                    df_ids_with_date_18_30['closet_store'])
df_ids_with_date_18_30['allocated_store']=df_ids_with_date_18_30['allocated_store'].astype(int).astype(str)

In [78]:
df_store_type=pd.ExcelFile(path_SOTF_dom)
df_store_type=df_store_type.parse("Store List",dtype=str)
df_store_type=df_store_type[["Store",'SOTF']]
df_store_type=df_store_type[df_store_type['SOTF'].str.lower()=="yes"]
df_store_type=df_store_type[df_store_type['Store']!="TBD"]
print(len(df_store_type),df_store_type['Store'].nunique())
df_store_type=df_store_type.rename(columns={"Store":"allocated_store","SOTF":"Store_Type"})
df_store_type['Store_Type']="SOTF"
df_store_type.head(2)

491 491

  allocated_store Store_Type
0               1       SOTF
6              49       SOTF

In [82]:
df_ids_with_date_18_30['allocated_store']=df_ids_with_date_18_30['allocated_store'].astype(int)
df_store_type['allocated_store']=df_store_type['allocated_store'].astype(int)
df_ids_with_date_18_30=pd.merge(df_ids_with_date_18_30,df_store_type,on="allocated_store",how="left")
df_ids_with_date_18_30['Store_Type']=df_ids_with_date_18_30['Store_Type'].fillna("Legacy")
gc.collect()

0

In [58]:
excel=pd.ExcelFile(path_excel_ta)
df_zip_label=excel.parse("unique_zips_full_footprint",dtype=str)
print(df_zip_label['zip_type'].unique())
print(df_zip_label['zip_cd'].apply(len).unique())
df_zip_label=df_zip_label.rename(columns={"zip_cd":"cleaned_zip_cd"})
df_zip_label['zip_type']=df_zip_label['zip_type'].replace("zips_10","trans_P")
df_zip_label['zip_type']=df_zip_label['zip_type'].apply(lambda x: x.split("_")[1])
del excel
gc.collect()
print(df_zip_label['zip_type'].unique())

df_zip_label.head(5)

['trans_P' 'trans_S' 'zips_10']
[5]
['P' 'S']

  zip_type cleaned_zip_cd
0        P          75028
1        P          48317
2        P          48094
3        P          48315
4        P          48316

In [88]:
df_ids_with_date_18_30['cleaned_zip_cd']=df_ids_with_date_18_30['cleaned_zip_cd'].fillna("0")
df_ids_with_date_18_30['cleaned_zip_cd']=df_ids_with_date_18_30['cleaned_zip_cd'].astype(int).astype(str)

In [89]:
df_ids_with_date_18_30=pd.merge(df_ids_with_date_18_30,df_zip_label,on="cleaned_zip_cd",how="left")
df_ids_with_date_18_30['zip_type']=df_ids_with_date_18_30['zip_type'].fillna("T")
print(df_ids_with_date_18_30.shape)
df_ids_with_date_18_30.head(3)

(4219857, 9)

,customer_id_hashed,max_trans_date,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store,allocated_store,Store_Type,zip_type
0,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,2019-03-22,829,8e5725c189f726fdcdb89b3f67295513375440360b18bc...,41179,42,829,Legacy,P
1,000008d9ceefd3dc5c250973c0686d2611db5eaad451db...,2018-11-21,4554,ce7fe194c4d21164816470508d40a5f27ae007fc97aae8...,92236,4554,4554,Legacy,S
2,000011e224be2a6e8cda7b5471de1122e652999cdcf631...,2019-04-06,247,481323a8478c398ca1a9ec3fd809986a37fcb21590af86...,47404,247,247,Legacy,P

In [ ]:
df_ids_with_date_18_30.to_csv(output_folder+"df_ids_with_date_18_30.csv",index=False)
print(datetime.datetime.now())

In [91]:
df_ids_with_date_18_30.head(2)

,customer_id_hashed,max_trans_date,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store,allocated_store,Store_Type,zip_type
0,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,2019-03-22,829,8e5725c189f726fdcdb89b3f67295513375440360b18bc...,41179,42,829,Legacy,P
1,000008d9ceefd3dc5c250973c0686d2611db5eaad451db...,2018-11-21,4554,ce7fe194c4d21164816470508d40a5f27ae007fc97aae8...,92236,4554,4554,Legacy,S

In [39]:
df_ids_with_date_18_30=pd.read_csv(output_folder+"df_ids_with_date_18_30.csv")
df_ids_with_date_18_30.head(2)

,customer_id_hashed,max_trans_date,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store,allocated_store,Store_Type,zip_type
0,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,2019-03-22,829,8e5725c189f726fdcdb89b3f67295513375440360b18bc...,41179,42,829,Legacy,P
1,000008d9ceefd3dc5c250973c0686d2611db5eaad451db...,2018-11-21,4554,ce7fe194c4d21164816470508d40a5f27ae007fc97aae8...,92236,4554,4554,Legacy,S

In [40]:
dftotal=dftotal[['customer_id_hashed','email_address_hash','max_trans_date','HML_Group','zip_type','Store_Type']]
df_ids_with_date_18_30=df_ids_with_date_18_30[['customer_id_hashed','email_address_hash','max_trans_date','zip_type','Store_Type']]
df_output=dftotal.append(df_ids_with_date_18_30)
print(df_output.shape,df_output['customer_id_hashed'].nunique(),df_output['email_address_hash'].nunique())
df_output.head(3)

(25654066, 6) 25654066 25652271

,HML_Group,Store_Type,customer_id_hashed,email_address_hash,max_trans_date,zip_type
0,H,Legacy,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,2020-10-03,P
1,H,SOTF,02cdd41af5ee82b39607416b74290152b00183fbce3068...,295e2ee597ca9fce3fa6fd8abbd947a93bb4eb4732e6e2...,2020-10-01,P
2,H,Legacy,681869d76dbbf47685b2e2b2c247064ae83194cc5c5f80...,e12683b2ec8b57ddab043609795d36246df869be353af7...,2020-10-03,P

In [41]:
del dftotal
del df_ids_with_date_18_30
df_output=df_output[['customer_id_hashed','email_address_hash','max_trans_date','HML_Group','zip_type','Store_Type']]
df_output['HML_Group']=df_output['HML_Group'].fillna("Unknown")
df_output=df_output.drop_duplicates("customer_id_hashed").drop_duplicates("email_address_hash")

In [42]:
gc.collect()

8

# Sign Up No purchase 1-12

In [30]:
sign_up_start=lastdate_date-dateutil.relativedelta.relativedelta(months=12)
sign_up_end=lastdate_date-dateutil.relativedelta.relativedelta(months=1)-datetime.timedelta(days=1)
print(sign_up_start,sign_up_end)

str_sign_up_start="'"+str(sign_up_start)+"'"
str_sign_up_end="'"+str(sign_up_end)+"'"

2019-10-03 2020-09-02

In [31]:
query_crm_sign_up_range="select customer_id_hashed,sign_up_location, email_address_hash,customer_zip_code from BL_Rewards_Master \
where sign_up_date between %s and %s;"%(str_sign_up_start,str_sign_up_end)
print(query_crm_sign_up_range)

select customer_id_hashed,sign_up_location, email_address_hash,customer_zip_code from BL_Rewards_Master where sign_up_date between '2019-10-03' and '2020-09-02';

In [32]:
print(datetime.datetime.now())
df_sign_no_purchase_2_12=pd.read_sql(query_crm_sign_up_range,con=BL_engine)
print(datetime.datetime.now())
df_sign_no_purchase_2_12=df_sign_no_purchase_2_12[~df_sign_no_purchase_2_12['customer_id_hashed'].isin(df_output['customer_id_hashed'].tolist())]
df_sign_no_purchase_2_12=df_sign_no_purchase_2_12[~df_sign_no_purchase_2_12['email_address_hash'].isin(df_output['email_address_hash'].tolist())]
print(df_sign_no_purchase_2_12.shape,df_sign_no_purchase_2_12['customer_id_hashed'].nunique(),df_sign_no_purchase_2_12['email_address_hash'].nunique())
df_sign_no_purchase_2_12=df_sign_no_purchase_2_12.drop_duplicates("customer_id_hashed").drop_duplicates("email_address_hash")
print(df_sign_no_purchase_2_12.shape,df_sign_no_purchase_2_12['customer_id_hashed'].nunique(),df_sign_no_purchase_2_12['email_address_hash'].nunique())
print(datetime.datetime.now())

2020-10-09 02:35:26.399027
2020-10-09 02:38:02.473225
(3353177, 4) 3353153 3353134
(3353133, 4) 3353133 3353133
2020-10-09 02:39:49.775251

In [33]:
# Most ID don't have a valid zip code, delete

del df_sign_no_purchase_2_12['customer_zip_code']
df_store_type_2=df_store_type.copy()
df_store_type_2=df_store_type_2.rename(columns={"allocated_store":"sign_up_location"})
df_store_type_2['sign_up_location']=df_store_type_2['sign_up_location'].astype(int)
df_sign_no_purchase_2_12['sign_up_location']=df_sign_no_purchase_2_12['sign_up_location'].astype(int)
df_sign_no_purchase_2_12=pd.merge(df_sign_no_purchase_2_12,df_store_type_2,on="sign_up_location",how="left")
df_sign_no_purchase_2_12['Store_Type']=np.where(df_sign_no_purchase_2_12['sign_up_location']==6990,"Online",df_sign_no_purchase_2_12['Store_Type'])
df_sign_no_purchase_2_12['Store_Type']=df_sign_no_purchase_2_12['Store_Type'].fillna("Legacy")
print(df_sign_no_purchase_2_12.shape)
df_sign_no_purchase_2_12.head(2)

(3353133, 4)

,customer_id_hashed,sign_up_location,email_address_hash,Store_Type
0,00001fa7a2f679c1115d2e836ef25e952c991fc4c2b16a...,6990,e67c6544dd8e70fadcdc60b778e4f7d5ad2b844e87820f...,Online
1,00002bcb9c4dceddb101dbb8b86e1001ac4e343a112736...,6990,edb9a23fa3ca298c7ccabc20c0e10c7cf6564efc4a9771...,Online

In [34]:
# Still 90% are signed online with sign_up_location==6990, To delete
df_sign_no_purchase_2_12.groupby("Store_Type")['customer_id_hashed'].count()

Store_Type
Legacy     234287
Online    3028922
SOTF        89924
Name: customer_id_hashed, dtype: int64

In [35]:
del df_sign_no_purchase_2_12['sign_up_location']
df_sign_no_purchase_2_12['Store_Type']="Unknown"
df_sign_no_purchase_2_12['HML_Group']="Unknown"
df_sign_no_purchase_2_12['zip_type']="Unknown"
df_sign_no_purchase_2_12['ShopperStatus']="NoPurchase"

In [43]:
df_output['max_trans_date']=df_output['max_trans_date'].astype(str)
df_output['max_trans_date']=pd.to_datetime(df_output['max_trans_date'],format="%Y-%m-%d")
df_output['max_trans_date'].apply(type).unique()

array([<class 'pandas._libs.tslibs.timestamps.Timestamp'>], dtype=object)

In [45]:
df_output['ShopperStatus']=np.where(df_output['max_trans_date']>date_max_X_to_12,"Active0X",
                                   np.where(df_output['max_trans_date']>=date_min_X_to_12,"ActiveX12",
                                            np.where(df_output['max_trans_date']>=date_min_13_to_18_adapted,"Lapsed1318",
                                                     np.where(df_output['max_trans_date']>=date_min_19_to_24,"Lapsed1924",'Lapsed2530'
                                                             )
                                                    )
                                           )
                                   )

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  This is separate from the ipykernel package so we can avoid doing imports until
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.

In [46]:
func={"max_trans_date":['min','max'],'customer_id_hashed':"count"}
df_output.groupby("ShopperStatus")['max_trans_date','customer_id_hashed'].agg(func).reset_index()

  ShopperStatus max_trans_date            customer_id_hashed
                           min        max              count
0      Active0X     2020-02-01 2020-10-03           14843597
1     ActiveX12     2019-10-01 2020-01-31            3603801
2    Lapsed1318     2019-04-07 2019-09-30            2986811
3    Lapsed1924     2018-11-01 2019-04-06            2184951
4    Lapsed2530     2018-05-01 2018-10-31            2033111

In [47]:
del df_output['max_trans_date']
df_output=df_output.append(df_sign_no_purchase_2_12)
del df_sign_no_purchase_2_12
print(df_output.shape,df_output['customer_id_hashed'].nunique(),df_output['email_address_hash'].nunique())
gc.collect()

(29005404, 6) 29005404 29005404

62

In [48]:
df_output.head(2)

,HML_Group,ShopperStatus,Store_Type,customer_id_hashed,email_address_hash,zip_type
0,H,Active0X,Legacy,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,P
1,H,Active0X,SOTF,02cdd41af5ee82b39607416b74290152b00183fbce3068...,295e2ee597ca9fce3fa6fd8abbd947a93bb4eb4732e6e2...,P

In [49]:
df_output.tail(2)

,HML_Group,ShopperStatus,Store_Type,customer_id_hashed,email_address_hash,zip_type
3353131,Unknown,NoPurchase,Unknown,311748af735d5aa2ac4ae756616f96201513c042fc61a1...,86479c0e223499f366813aa846e8a673d3f09490a47c6a...,Unknown
3353132,Unknown,NoPurchase,Unknown,9944d045815fdcf5cc43856b0fa4661bf358ea32c346bd...,22a7eeeb63e6c680aafe5361826aeb23d0bd26da7c7d42...,Unknown

In [50]:
df_output['zip_type'].unique()

array(['P', 'T', 'S', 'Unknown'], dtype=object)

In [51]:
df_output[df_output['zip_type']=="Unknown"]['ShopperStatus'].unique()

array(['NoPurchase'], dtype=object)

In [52]:
df_output['zip_label']=np.where(df_output['zip_type'].isin(['P','S']),"PS","T")

In [53]:
df_output['segment_2020Q4_Refresh']=df_output['Store_Type']+"_"+df_output['ShopperStatus']+"_"+df_output['HML_Group']+"_"+df_output['zip_label']
df_output.head(2)

,HML_Group,ShopperStatus,Store_Type,customer_id_hashed,email_address_hash,zip_type,zip_label,segment_2020Q4_Refresh
0,H,Active0X,Legacy,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,P,PS,Legacy_Active0X_H_PS
1,H,Active0X,SOTF,02cdd41af5ee82b39607416b74290152b00183fbce3068...,295e2ee597ca9fce3fa6fd8abbd947a93bb4eb4732e6e2...,P,PS,SOTF_Active0X_H_PS

In [54]:
df_output.to_csv(output_folder+"df_output.csv",index=False)

In [57]:
df_summary_before_split=df_output.groupby("segment_2020Q4_Refresh")['email_address_hash'].count().to_frame().reset_index()

In [60]:
df_summary_before_split['Store_Type']=df_summary_before_split['segment_2020Q4_Refresh'].apply(lambda x: x.split("_")[0])
df_summary_before_split['ShopperStatus']=df_summary_before_split['segment_2020Q4_Refresh'].apply(lambda x: x.split("_")[1])
df_summary_before_split['HML_Group']=df_summary_before_split['segment_2020Q4_Refresh'].apply(lambda x: x.split("_")[2])
df_summary_before_split['zip_label']=df_summary_before_split['segment_2020Q4_Refresh'].apply(lambda x: x.split("_")[3])
df_summary_before_split=df_summary_before_split.sort_values(["Store_Type",'ShopperStatus','HML_Group','zip_label'])
df_summary_before_split.to_csv("df_summary_before_split.csv",index=False)

# Restart for Email subsription, checkpoint 2

In [15]:
# Load the libraries above
print(datetime.datetime.now())
sample_rows=None
old_output_folder='./output_2020-07-23/'
list_col=['customer_id_hashed','email_address_hash','Store_Type','HML_Group','Status']
dftotal=pd.read_csv(old_output_folder+"dftotal_with_segment.csv",nrows=sample_rows,
                    usecols=['customer_id_hashed','email_address_hash','Store_Type','HML_Group','Status'])
df_lapsed_1930_ids=pd.read_csv(old_output_folder+"df_lapsed_1930_ids_with_segment.csv",
                               nrows=sample_rows,usecols=['customer_id_hashed','email_address_hash','Store_Type','Status'])
df_lapsed_1930_ids['HML_Group']="NA"

df_all_ids=dftotal.append(df_lapsed_1930_ids)
df_all_ids=df_all_ids[list_col]
print(datetime.datetime.now())
print(df_all_ids.shape,df_all_ids['customer_id_hashed'].nunique(),df_all_ids['email_address_hash'].nunique())
df_all_ids=df_all_ids.drop_duplicates("customer_id_hashed").drop_duplicates("email_address_hash")

2020-07-24 12:09:49.665235
2020-07-24 12:20:26.805446
(30408205, 5) 30408205 30402577

In [16]:
path_latest_unsub=glob.glob(folder_email_unsubscription+"*.csv")
path_latest_unsub=[x for x in path_latest_unsub if "unsubscriber" in x.lower() and "refresh" in x.lower()]
path_latest_unsub=sorted(path_latest_unsub, key=lambda x: os.stat(x).st_mtime)
path_latest_unsub=path_latest_unsub[-1]

In [17]:
df_unsub=pd.read_csv(path_latest_unsub,usecols=['customersummary_emailhash','customersummary_c_primaryscnhash'])
list_unsub_id=df_unsub['customersummary_c_primaryscnhash'].to_list()
list_unsub_email=df_unsub['customersummary_emailhash'].to_list()

In [18]:
df_all_ids['EmailSub']=np.where(df_all_ids['customer_id_hashed'].isin(list_unsub_id),"N",
                               np.where(df_all_ids['email_address_hash'].isin(list_unsub_email),"N","Y"))
df_all_ids.head(2)

,customer_id_hashed,email_address_hash,Store_Type,HML_Group,Status,EmailSub
0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,Legacy,H,Active,Y
1,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,SOTF,H,Active,Y

In [19]:
df_all_ids['Status'].unique()

array(['Active', 'Lapsed1318', 'Lapsed1948'], dtype=object)

In [20]:
dftotal=df_all_ids[df_all_ids['Status']!="Lapsed1930"]
df_lapsed_1930_ids=df_all_ids[df_all_ids['Status']=="Lapsed1930"]
del df_all_ids
gc.collect()

976

In [21]:
dftotal['segment']=dftotal['Store_Type']+"_"+dftotal['HML_Group']+"_"+dftotal['Status']+"_"+dftotal['EmailSub']
df_lapsed_1930_ids['segment']=df_lapsed_1930_ids['Store_Type']+"_"+df_lapsed_1930_ids['HML_Group']+"_"+df_lapsed_1930_ids['Status']+"_"+df_lapsed_1930_ids['EmailSub']

# Split T vs C

In [22]:
df_0_to_18_count_PS=dftotal.groupby("segment")['customer_id_hashed'].count().to_frame().reset_index()
df_19_to_30_count_P=df_lapsed_1930_ids.groupby("segment")['customer_id_hashed'].count().to_frame().reset_index()
df_0_to_18_count_PS=df_0_to_18_count_PS.sort_values("segment")
df_19_to_30_count_P=df_19_to_30_count_P.sort_values("segment")

list_seg_small_0_to_18=df_0_to_18_count_PS[df_0_to_18_count_PS['customer_id_hashed']<=3600]['segment'].unique().tolist()
list_seg_small_19_to_30=df_19_to_30_count_P[df_19_to_30_count_P['customer_id_hashed']<=3600]['segment'].unique().tolist()
print("len(list_seg_small_0_to_18)",len(list_seg_small_0_to_18))
print("len(list_seg_small_19_to_30)",len(list_seg_small_19_to_30))

len(list_seg_small_0_to_18) 0
len(list_seg_small_19_to_48) 0

In [23]:
import random
print(datetime.datetime.now(),"start splitting")
random.seed(0)

df_test_all=pd.DataFrame()
df_control_all=pd.DataFrame()

2020-07-24 12:37:15.838883 start splitting

In [24]:
count_control_0_to_18=500000
count_control_19_to_30=100000
pctg_0_18=np.round(count_control_0_to_18/dftotal.shape[0],6)
print("pctg_0_18",pctg_0_18)
pctg_19_30=np.round(count_control_19_to_30/df_lapsed_1930_ids.shape[0],6)
print("pctg_19_30",pctg_19_30)

pctg_0_18 0.023905
pctg_19_48 0.010541

In [25]:
writer_folder_all_wanted="/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_20%s/wanted_segment_files/"%str_ending[-4:]
try:
    os.stat(writer_folder_all_wanted)
except:
    os.mkdir(writer_folder_all_wanted)

In [26]:
df_test_all=pd.DataFrame()
df_control_all=pd.DataFrame()
i=0
for seg, group in dftotal.groupby("segment"):
    group=group.reset_index()
    del group['index']
    group=group.reset_index()
    len_group=len(group)
    
    ind_control=random.sample(range(len_group),int(len_group*pctg_0_18))
    df_group_T=group[~group['index'].isin(ind_control)]
    df_group_C=group[group['index'].isin(ind_control)]
    
    del df_group_T['index']
    del df_group_C['index']
    
    new_T_seg="T_"+seg
    new_C_seg="C_"+seg
    del df_group_T['segment']
    del df_group_C['segment']
    df_group_T['segment_20%s'%str_ending[-4:]]=new_T_seg
    df_group_C['segment_20%s'%str_ending[-4:]]=new_C_seg
    
    df_test_all=df_test_all.append(df_group_T)
    df_control_all=df_control_all.append(df_group_C)
    
    df_group_T.to_csv(writer_folder_all_wanted+new_T_seg+".csv",index=False)
    df_group_C.to_csv(writer_folder_all_wanted+new_C_seg+".csv",index=False)
    print(new_T_seg,df_group_T.shape)
    print(new_C_seg,df_group_C.shape)
    del df_group_T
    del df_group_C
    i+=1
    if i%10==1:
        print(i,datetime.datetime.now())
        
i=0
for seg, group in df_lapsed_1930_ids.groupby("segment"):
    group=group.reset_index()
    del group['index']
    group=group.reset_index()
    len_group=len(group)
    
    ind_control=random.sample(range(len_group),int(len_group*pctg_19_30))
    df_group_T=group[~group['index'].isin(ind_control)]
    df_group_C=group[group['index'].isin(ind_control)]
    
    del df_group_T['index']
    del df_group_C['index']
    
    new_T_seg="T_"+seg
    new_C_seg="C_"+seg
    
    del df_group_T['segment']
    del df_group_C['segment']
    df_group_T['segment_20%s'%str_ending[-4:]]=new_T_seg
    df_group_C['segment_20%s'%str_ending[-4:]]=new_C_seg
    
    df_test_all=df_test_all.append(df_group_T)
    df_control_all=df_control_all.append(df_group_C)
    
    df_group_T.to_csv(writer_folder_all_wanted+new_T_seg+".csv",index=False)
    df_group_C.to_csv(writer_folder_all_wanted+new_C_seg+".csv",index=False)

    print(new_T_seg,df_group_T.shape)
    print(new_C_seg,df_group_C.shape)
    
    del df_group_T
    del df_group_C
    i+=1
    if i%10==1:
        print(i,datetime.datetime.now())

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

T_Legacy_H_Active_N (714213, 7)
C_Legacy_H_Active_N (17491, 7)
1 2020-07-24 12:38:34.980738
T_Legacy_H_Active_Y (4566738, 7)
C_Legacy_H_Active_Y (111841, 7)
T_Legacy_L_Active_N (337171, 7)
C_Legacy_L_Active_N (8257, 7)
T_Legacy_L_Active_Y (1777547, 7)
C_Legacy_L_Active_Y (43532, 7)
T_Legacy_L_Lapsed1318_N (333765, 7)
C_Legacy_L_Lapsed1318_N (8174, 7)
T_Legacy_L_Lapsed1318_Y (1655051, 7)
C_Legacy_L_Lapsed1318_Y (40532, 7)
T_Legacy_M_Active_N (608266, 7)
C_Legacy_M_Active_N (14896, 7)
T_Legacy_M_Active_Y (3407990, 7)
C_Legacy_M_Active_Y (83463, 7)
T_SOTF_H_Active_N (392898, 7)
C_SOTF_H_Active_N (9622, 7)
T_SOTF_H_Active_Y (2492503, 7)
C_SOTF_H_Active_Y (61042, 7)
T_SOTF_L_Active_N (180215, 7)
C_SOTF_L_Active_N (4413, 7)
11 2020-07-24 12:42:49.197853
T_SOTF_L_Active_Y (917122, 7)
C_SOTF_L_Active_Y (22460, 7)
T_SOTF_L_Lapsed1318_N (161690, 7)
C_SOTF_L_Lapsed1318_N (3959, 7)
T_SOTF_L_Lapsed1318_Y (762206, 7)
C_SOTF_L_Lapsed1318_Y (18666, 7)
T_SOTF_M_Active_N (322793, 7)
C_SOTF_M_Active_N (7905, 7)
T_SOTF_M_Active_Y (1785716, 7)
C_SOTF_M_Active_Y (43732, 7)

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

T_Legacy_NA_Lapsed1948_N (1055428, 7)
C_Legacy_NA_Lapsed1948_N (11243, 7)
1 2020-07-24 12:44:24.650689
T_Legacy_NA_Lapsed1948_Y (5259772, 7)
C_Legacy_NA_Lapsed1948_Y (56033, 7)
T_SOTF_NA_Lapsed1948_N (534504, 7)
C_SOTF_NA_Lapsed1948_N (5694, 7)
T_SOTF_NA_Lapsed1948_Y (2537007, 7)
C_SOTF_NA_Lapsed1948_Y (27027, 7)

In [27]:
df_summary_test=df_test_all.groupby(['segment_20%s'%str_ending[-4:]])['customer_id_hashed','email_address_hash'].nunique().reset_index()
df_summary_control=df_control_all.groupby(['segment_20%s'%str_ending[-4:]])['customer_id_hashed','email_address_hash'].nunique().reset_index()

for col in df_summary_test.columns.tolist():
    df_summary_test=df_summary_test.rename(columns={col:"T_"+col})
    
for col in df_summary_control.columns.tolist():
    df_summary_control=df_summary_control.rename(columns={col:"C_"+col})

In [28]:
df_summary_test.insert(0,"segment",df_summary_test['T_segment_2020Q3'].apply(lambda x: x[2:]))
df_summary_test['T/C_group']=df_summary_test['T_segment_2020Q3'].apply(lambda x: x.split("_")[0])
df_summary_test['Store_Type']=df_summary_test['T_segment_2020Q3'].apply(lambda x: x.split("_")[1])
df_summary_test['RFM_group']=df_summary_test['T_segment_2020Q3'].apply(lambda x: x.split("_")[2])
df_summary_test['status']=df_summary_test['T_segment_2020Q3'].apply(lambda x: x.split("_")[3])
df_summary_test['Email_Sub']=df_summary_test['T_segment_2020Q3'].apply(lambda x: x.split("_")[4])

df_summary_test=df_summary_test.rename(columns={"T_segment_2020Q3":"audience_name","T_customer_id_hashed":"unique_id_count","T_email_address_hash":"unique_email_count"})
###
df_summary_control.insert(0,"segment",df_summary_control['C_segment_2020Q3'].apply(lambda x: x[2:]))
df_summary_control['T/C_group']=df_summary_control['C_segment_2020Q3'].apply(lambda x: x.split("_")[0])
df_summary_control['Store_Type']=df_summary_control['C_segment_2020Q3'].apply(lambda x: x.split("_")[1])
df_summary_control['RFM_group']=df_summary_control['C_segment_2020Q3'].apply(lambda x: x.split("_")[2])
df_summary_control['status']=df_summary_control['C_segment_2020Q3'].apply(lambda x: x.split("_")[3])
df_summary_control['Email_Sub']=df_summary_control['C_segment_2020Q3'].apply(lambda x: x.split("_")[4])

df_summary_control=df_summary_control.rename(columns={"C_segment_2020Q3":"audience_name","C_customer_id_hashed":"unique_id_count","C_email_address_hash":"unique_email_count"})

In [31]:
df_summary=df_summary_test.append(df_summary_control)
df_summary=df_summary.sort_values("audience_name")

writer=pd.ExcelWriter(output_folder+"BL_summary_20%s_rewards_audience_JL_%s.xlsx"%(str_ending[-4:],str(datetime.datetime.now().date())),engine="xlsxwriter")
df_summary.to_excel(writer,"summary_both",index=False)
df_summary_test.to_excel(writer,"summary_T",index=False)
df_summary_control.to_excel(writer,"summary_C",index=False)
writer.save()