In [1]:
import pandas as pd
import os
import numpy as np
import datetime

In [2]:
def recrusive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root, file)

In [3]:
all_2019_weekly_files=list(recrusive_file_gen("/home/jian/BigLots/2019_by_weeks/"))
all_2019_weekly_files=[x for x in all_2019_weekly_files if "Daily" in x]

all_2019_weekly_files_item_level=[]
for file in all_2019_weekly_files:
    df=pd.read_csv(file,nrows=10,dtype=str,sep="|")
    if "item_id" in df.columns.tolist():
        all_2019_weekly_files_item_level=all_2019_weekly_files_item_level+[file]
all_2019_weekly_files_item_level

['/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-02-16/MediaStormDailySales20190219-113605-481.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-02-23/MediaStormDailySales20190226-112611-940.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-03-02/MediaStormDailySales20190305-112738-899.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-03-09/MediaStormDailySales20190312-121205-996.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-03-16/MediaStormDailySales20190319-112334-057.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-03-23/MediaStormDailySales20190326-112740-903.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-03-30/MediaStormDailySales20190402-112556-551.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-04-06/MediaStormDailySales20190409-122759-093.txt']

In [13]:
output_price_0216_to_0406=pd.DataFrame()
i_counter=0
for file in all_2019_weekly_files_item_level:
    date=file.split("BigLots/2019_by_weeks/MediaStorm_")[1][:10]
    df=pd.read_csv(file,dtype=str,sep="|",usecols=['class_code_id','subclass_id','item_id','item_transaction_units','item_transaction_amt'])
    df['item_transaction_units']=df['item_transaction_units'].astype(int)
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    df['item_price']=df['item_transaction_amt']/df['item_transaction_units']
    df=df.groupby(['class_code_id','subclass_id','item_id','item_price'])['item_transaction_units'].count().to_frame().reset_index()
    df=df.rename(columns={"item_transaction_units":"transaction_record_counts"})
    # df=df[['class_code_id','subclass_id','item_id','item_price']].drop_duplicates()
    df['week_end_dt']=date
    output_price_0216_to_0406=output_price_0216_to_0406.append(df)
    i_counter+=1
    print(i_counter,datetime.datetime.now())

1 2019-04-16 14:10:35.587016
2 2019-04-16 14:10:56.392460
3 2019-04-16 14:11:19.921545
4 2019-04-16 14:11:43.382837
5 2019-04-16 14:12:06.673597
6 2019-04-16 14:12:29.879667
7 2019-04-16 14:12:53.046375
8 2019-04-16 14:13:28.737097

In [14]:
os.getcwd()

'/home/jian/BigLots/static_files/Getting_Item_Price_From_DailyItem_Data'

In [15]:
output_price_0216_to_0406=output_price_0216_to_0406[['week_end_dt','item_id','class_code_id','subclass_id','item_price','transaction_record_counts']]

In [16]:
output_price_0216_to_0406.to_csv("/home/jian/BigLots/static_files/Getting_Item_Price_From_DailyItem_Data/BL_price_by_item_week_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [17]:
output_price_0216_to_0406.shape

(3324070, 6)

In [18]:
len(output_price_0216_to_0406['item_id'].unique())

111890

In [21]:
output_price_0216_to_0406

,week_end_dt,item_id,class_code_id,subclass_id,item_price,transaction_record_counts
0,2019-02-16,110001888,11001,1,3.50,1
1,2019-02-16,110011086,11001,1,2.80,1
2,2019-02-16,110011086,11001,1,3.50,7
3,2019-02-16,110012285,11001,1,6.00,1
4,2019-02-16,110016392,11001,1,0.28,2
5,2019-02-16,110016392,11001,1,0.40,1
6,2019-02-16,110016392,11001,1,1.21,1
7,2019-02-16,110016392,11001,1,1.75,4
8,2019-02-16,110016392,11001,1,2.80,2
9,2019-02-16,110016392,11001,1,3.50,27
10,2019-02-16,110017723,11001,1,3.50,1
11,2019-02-16,110017783,11001,1,3.50,1
12,2019-02-16,110021691,11001,1,5.00,4
13,2019-02-16,110023316,11001,1,3.50,3
14,2019-02-16,110024250,11001,1,1.00,2
15,2019-02-16,110024250,11001,1,1.20,6
16,2019-02-16,110024250,11001,1,1.25,2
17,2019-02-16,110024250,11001,1,1.50,26
18,2019-02-16,110024250,11001,1,2.03,1
19,2019-02-16,110024250,11001,1,2.06,1
20,2019-02-16,110024250,11001,1,2.40,11
21,2019-02-16,110024250,11001,1,2.45,1
22,2019-02-16,110024250,11001,1,2.64,1
23,2019-02-16,110024250,11001,1,3.00,131
24,2019-02-16,110026576,11001,1,3.50,2
25,2019-02-16,110029894,11001,1,2.25,4
26,2019-02-16,110038912,11001,1,1.17,1
27,2019-02-16,110038912,11001,1,1.20,4
28,2019-02-16,110038912,11001,1,1.38,1
29,2019-02-16,110038912,11001,1,1.50,52
...,...,...,...,...,...,...
510709,2019-04-06,810416861,80010,100,30.00,18
510710,2019-04-06,810416861,80010,100,35.00,1
510711,2019-04-06,810416861,80010,100,36.00,1
510712,2019-04-06,810416861,80010,100,38.00,1
510713,2019-04-06,810416861,80010,100,38.58,1
510714,2019-04-06,810416861,80010,100,39.15,1
510715,2019-04-06,810416861,80010,100,40.00,28
510716,2019-04-06,810416861,80010,100,40.64,1
510717,2019-04-06,810416861,80010,100,41.00,2
510718,2019-04-06,810416861,80010,100,43.00,1
510719,2019-04-06,810416861,80010,100,48.00,1
510720,2019-04-06,810416861,80010,100,50.00,51
510721,2019-04-06,810416861,80010,100,51.00,1
510722,2019-04-06,810416861,80010,100,52.00,3
510723,2019-04-06,810416861,80010,100,55.00,1
510724,2019-04-06,810416861,80010,100,57.00,1
510725,2019-04-06,810416861,80010,100,60.00,1
510726,2019-04-06,810416861,80010,100,65.00,2
510727,2019-04-06,810416861,80010,100,70.00,2
510728,2019-04-06,810416861,80010,100,71.00,1
510729,2019-04-06,810416861,80010,100,75.00,2
510730,2019-04-06,810416861,80010,100,85.00,1
510731,2019-04-06,810416861,80010,100,86.00,1
510732,2019-04-06,810416861,80010,100,95.00,1
510733,2019-04-06,810416861,80010,100,100.00,21
510734,2019-04-06,810416861,80010,100,106.00,1
510735,2019-04-06,810416861,80010,100,146.00,1
510736,2019-04-06,810416861,80010,100,150.00,1
510737,2019-04-06,810416861,80010,100,200.00,1
510738,2019-04-06,810416861,80010,100,250.00,3

In [20]:
output_price_0216_to_0406[output_price_0216_to_0406['item_price']<0]

,week_end_dt,item_id,class_code_id,subclass_id,item_price,transaction_record_counts
53,2019-02-16,110106678,11001,1,-inf,2
81,2019-02-16,110106886,11001,1,-inf,1
138,2019-02-16,110111019,11001,1,-inf,1
206,2019-02-16,110116716,11001,1,-inf,2
258,2019-02-16,110128851,11001,1,-inf,1
309,2019-02-16,810095601,11001,1,-inf,1
392,2019-02-16,810116081,11001,1,-inf,1
429,2019-02-16,810159488,11001,1,-inf,3
548,2019-02-16,810180938,11001,1,-inf,1
598,2019-02-16,810198321,11001,1,-inf,1
635,2019-02-16,810198453,11001,1,-inf,1
669,2019-02-16,810198471,11001,1,-inf,1
833,2019-02-16,810317876,11001,1,-inf,1
1087,2019-02-16,810338620,11001,1,-inf,1
1197,2019-02-16,810350055,11001,1,-inf,1
1528,2019-02-16,810370101,11001,1,-inf,2
1668,2019-02-16,810378784,11001,1,-inf,1
1690,2019-02-16,810379492,11001,1,-inf,3
1806,2019-02-16,810382314,11001,1,-inf,2
1871,2019-02-16,810382317,11001,1,-inf,1
1971,2019-02-16,810384079,11001,1,-inf,1
2055,2019-02-16,810393089,11001,1,-inf,1
2076,2019-02-16,810393090,11001,1,-inf,1
2149,2019-02-16,810395429,11001,1,-inf,2
2384,2019-02-16,810405646,11001,1,-inf,1
2388,2019-02-16,810408198,11001,1,-inf,3
2441,2019-02-16,810408885,11001,1,-inf,3
2466,2019-02-16,810416989,11001,1,-inf,2
2676,2019-02-16,810419753,11001,1,-inf,4
2746,2019-02-16,810422134,11001,1,-inf,1
...,...,...,...,...,...,...
508721,2019-04-06,810405058,61503,2,-inf,6
508780,2019-04-06,810313262,61503,3,-inf,11
508800,2019-04-06,810349753,61503,3,-inf,2
508823,2019-04-06,810349754,61503,3,-inf,1
508841,2019-04-06,810370300,61503,3,-inf,24
508927,2019-04-06,810370307,61503,3,-inf,34
509020,2019-04-06,810370309,61503,3,-inf,17
509107,2019-04-06,810349755,61503,4,-inf,1
509115,2019-04-06,810370301,61503,4,-inf,10
509180,2019-04-06,810372689,61503,4,-inf,23
509238,2019-04-06,810406104,61503,4,-inf,1
509244,2019-04-06,810258632,61503,5,-inf,2
509254,2019-04-06,810349757,61503,5,-inf,7
509291,2019-04-06,810370299,61503,5,-inf,1
509315,2019-04-06,810372721,61503,5,-inf,81
509493,2019-04-06,810370310,61504,3,-inf,3
509520,2019-04-06,810371117,61504,3,-inf,2
509551,2019-04-06,810405059,61504,3,-inf,2
509574,2019-04-06,810334151,61504,4,-inf,3
509610,2019-04-06,810370302,61504,4,-inf,5
509640,2019-04-06,810372690,61504,4,-inf,22
509748,2019-04-06,810372722,61504,5,-inf,16
509749,2019-04-06,810372722,61504,5,-10.500000,1
509806,2019-04-06,616096004,61505,1,-inf,15
509850,2019-04-06,810313119,61505,1,-inf,4
509866,2019-04-06,810334496,61505,1,-inf,6
509882,2019-04-06,616096005,61505,2,-inf,20
509947,2019-04-06,810313120,61505,2,-inf,6
509966,2019-04-06,810334497,61505,2,-inf,1
510042,2019-04-06,810333765,71010,713,-inf,1