In [1]:
import os
import pandas as pd
import numpy as np
os.getcwd()

'/home/jian/BigLots/MediaStorm_2019-02-09'

In [2]:
daily_data=pd.read_table("/home/jian/BigLots/MediaStorm_2019-02-09/MediaStormDailySales20190212-122138-494.txt",dtype=str,sep="|")
daily_data['subclass_transaction_amt']=daily_data['subclass_transaction_amt'].astype(float)
daily_data['subclass_transaction_units']=daily_data['subclass_transaction_units'].astype(int)
daily_data['subclass_transaction_amt'].sum()

80770421.709999964

In [4]:
test=pd.read_table("/home/jian/BigLots/MediaStorm_2019-02-09/item_level_sample.txt",dtype=str,sep="|")
test['item_transaction_amt']=test['item_transaction_amt'].astype(float)

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt
0,4340,2019-02-09,1235,4d814aa2f7a1122542b7421e5ad2c621ff4939b4db5f7a...,16002,1,160002479,1,5.00
1,1650,2019-02-06,1219,6689a5fc1bdabd1ef214cf0aaa604d9ff018101df5a9b4...,14001,2,810385887,1,4.50

In [14]:
test['item_transaction_amt'].sum()

80767178.90000014

In [16]:
80770421.709999964-80767178.90000014

3242.8099998235703

In [11]:
daily_data.shape

(9723948, 8)

In [12]:
test.shape

(11382462, 9)

In [13]:
11382462/9723948

1.1705597356135595

In [10]:
test[(test['location_id']=="5357") & (test['transaction_id']=="8612") & (test['class_code_id']=="11014")]

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt
2168557,5357,2019-02-03,8612,a41c6534ad1284241053ccd116d572584dd090e766f499...,11014,23,810421203,1,4.00
3474169,5357,2019-02-03,8612,a41c6534ad1284241053ccd116d572584dd090e766f499...,11014,1,810234386,17,38.25