In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import paramiko


host = "107.191.32.220" #hard-coded
port = 22
transport = paramiko.Transport((host, port))

password = "Tur87ZqzF9xV5mYF" #hard-coded
username = "agilone" #hard-coded
transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)

remote_path="/home/agilone/"

In [2]:
list_remote_basename=sftp.listdir(remote_path)
list_remote_basename=[x for x in list_remote_basename if x[-4:]==".csv"]
list_remote_basename

['BL_Email_UnSubscriber_File_Refresh__20200525040444.csv',
 'BL_Email_Subscriber_File_Catchup__20200423125713.csv',
 'BL_Email_UnSubscriber_File_Refresh__20200625040341.csv',
 'BL_Email_UnSubscriber_File_Catchup__20200422110800.csv',
 'BL_Email_UnSubscriber_File_Catchup__20200425040325.csv',
 'BL_Email_UnSubscriber_File_Refresh__20200725040404.csv',
 'BL_Email_Subscriber_File_Catchup__20200425040226.csv',
 'BigLots_CCPA_DELETE_Request__20200615062242.csv',
 'BL_Email_Subscriber_File_Delta__20200725040244.csv',
 'Favorite Store Compare_20200519081016.csv',
 'BL_Email_Subscriber_File_Delta__20200525040244.csv',
 'Favorite Store Compare_20200520014137.csv',
 'BL_Email_Subscriber_File_Delta__20200625040302.csv',
 'BigLots_CCPA_DELETE_Request__20200505021515.csv']

In [3]:
list_local_basename=os.listdir("./")
list_local_basename=[x for x in list_local_basename if x[-4:]==".csv"]

In [4]:
list_new_remote_basename=[x for x in list_remote_basename if x not in list_local_basename]

for f in list_new_remote_basename:
    sftp.get(remote_path+f,"./"+f)
sftp.close()
transport.close()

In [6]:
list_new_remote_basename

['BL_Email_UnSubscriber_File_Refresh__20200725040404.csv',
 'BL_Email_Subscriber_File_Delta__20200725040244.csv']

In [5]:
os.listdir("./")

['Unsub_JH_Final20191105Hashed.zip',
 '.ipynb_checkpoints',
 'qc_2_waves_for_unsub.ipynb',
 'qc_email_sub_unsub_JL_2020-03-02.csv',
 'copy_from_107.ipynb',
 'BL_Email_Subscriber_File_Catchup__20200423125713.csv',
 'BL_Email_UnSubscriber_File_Catchup__20200422110800.csv',
 'BL_Email_UnSubscriber_File_Catchup__20200425040325.csv',
 'BL_Email_Subscriber_File_Catchup__20200425040226.csv',
 'BigLots_CCPA_DELETE_Request__20200505021515.csv',
 'BL_email_subsriber_20200425_summary_JL_2020-05-05.xlsx',
 'BL_Email_UnSubscriber_File_Refresh__20200525040444.csv',
 'BL_Email_UnSubscriber_File_Refresh__20200625040341.csv',
 'BigLots_CCPA_DELETE_Request__20200615062242.csv',
 'Favorite Store Compare_20200519081016.csv',
 'BL_Email_Subscriber_File_Delta__20200525040244.csv',
 'Favorite Store Compare_20200520014137.csv',
 'BL_Email_Subscriber_File_Delta__20200625040302.csv',
 'BL_Email_UnSubscriber_File_Refresh__20200725040404.csv',
 'BL_Email_Subscriber_File_Delta__20200725040244.csv']

In [38]:
pd.to_datetime(1479604913019,unit="ms")

Timestamp('2016-11-20 01:21:53.019000')

Socket exception: Connection reset by peer (104)

In [2]:
df_1_sub=pd.read_csv("./BL_Email_Subscriber_File_Catchup__20200425040226.csv",dtype=str)
print(df_1_sub.shape)
df_1_sub.head(2)

(773090, 7)

,customersummary_mastercustomerid,customersummary_emailhash,customersummary_c_primaryscnhash,customersummary_c_datecreated,customersummary_c_adsgroupmembershipsunsubscribed,customersummary_c_promosgroupmembershipsunsubscribed,execution_id
0,FTP_CSV_5_61444057,97328b0fb0a30db63afd823fa600104e4228701882cfb9...,36a5ff19270a4f16e3292111703365f264375071c67def...,1587506339969,N,N,1587830463942
1,FTP_CSV_5_61040607,16530bf52fb0064bb34bfb8ed1d1bf556fe1a6ad0fbaad...,2cc71e98603de024b2fee9cfeba519b756ab2061bddeda...,1586381249887,N,N,1587830463942

In [14]:
df_1_sub.columns.tolist()

['customersummary_mastercustomerid',
 'customersummary_emailhash',
 'customersummary_c_primaryscnhash',
 'customersummary_c_datecreated',
 'customersummary_c_adsgroupmembershipsunsubscribed',
 'customersummary_c_promosgroupmembershipsunsubscribed',
 'execution_id']

In [3]:
df_1_sub['customersummary_c_adsgroupmembershipsunsubscribed']=df_1_sub['customersummary_c_adsgroupmembershipsunsubscribed'].fillna("nan")
df_1_sub['customersummary_c_promosgroupmembershipsunsubscribed']=df_1_sub['customersummary_c_promosgroupmembershipsunsubscribed'].fillna("nan")

In [4]:
sub_summary=df_1_sub.groupby(['customersummary_c_adsgroupmembershipsunsubscribed','customersummary_c_promosgroupmembershipsunsubscribed'])['customersummary_emailhash'].count().to_frame().reset_index()
sub_summary

,customersummary_c_adsgroupmembershipsunsubscribed,customersummary_c_promosgroupmembershipsunsubscribed,customersummary_emailhash
0,N,N,772825
1,N,Y,40
2,N,nan,5
3,Y,N,196
4,nan,N,24

In [5]:
df_2_unsub=pd.read_csv("./BL_Email_UnSubscriber_File_Catchup__20200425040325.csv",dtype=str)
print(df_2_unsub.shape)
df_2_unsub.head(2)

(1011368, 7)

,customersummary_mastercustomerid,customersummary_emailhash,customersummary_c_primaryscnhash,customersummary_c_datecreated,customersummary_c_adsgroupmembershipsunsubscribed,customersummary_c_promosgroupmembershipsunsubscribed,execution_id
0,FTP_CSV_5_51407010,c8b15762c0bc2cee64aca7dd736438e5a21a1ecbf60676...,afeaf54e328e836ac2499ec0466317f436f938ccc1be10...,1541991955884,Y,Y,1587830499815
1,FTP_CSV_5_52771371,103d5a0529d0997683353e2f881508b54bac070b2b9377...,d0f90e11d288dff016bf14cf24ef3f3e31d122bfffc2c8...,1546190705181,Y,Y,1587830499815

In [6]:
df_2_unsub['customersummary_c_adsgroupmembershipsunsubscribed']=df_2_unsub['customersummary_c_adsgroupmembershipsunsubscribed'].fillna("nan")
df_2_unsub['customersummary_c_promosgroupmembershipsunsubscribed']=df_2_unsub['customersummary_c_promosgroupmembershipsunsubscribed'].fillna("nan")

In [7]:
unsub_summary=df_2_unsub.groupby(['customersummary_c_adsgroupmembershipsunsubscribed','customersummary_c_promosgroupmembershipsunsubscribed'])['customersummary_emailhash'].count().to_frame().reset_index()
unsub_summary

,customersummary_c_adsgroupmembershipsunsubscribed,customersummary_c_promosgroupmembershipsunsubscribed,customersummary_emailhash
0,N,Y,1209
1,Y,N,5650
2,Y,Y,1004066
3,Y,nan,25
4,nan,Y,418

In [10]:
writer_summary=pd.ExcelWriter("./BL_email_subsriber_20200425_summary_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
sub_summary.to_excel(writer_summary,"sub_summary",index=False)
unsub_summary.to_excel(writer_summary,"unsub_summary",index=False)
writer_summary.save()

In [12]:
list_sub=df_1_sub[['customersummary_emailhash']].drop_duplicates()
list_unsub=df_2_unsub[['customersummary_emailhash']].drop_duplicates()

df_common_ids=pd.merge(list_sub,list_unsub,on="customersummary_emailhash",how="inner")

In [15]:
df_common_ids.head(2)

                           customersummary_emailhash
0  8b56288899284ba52f968e6858b4f0e78ca5324490e518...
1  e604c67911c65ca8756242a17977d51fa2860204e6f966...

In [16]:
df_common_ids['customersummary_emailhash'].nunique()

255

Socket exception: Connection reset by peer (104)