In [1]:
import pandas as pd
import datetime
import os

In [2]:
df_19_unsub=pd.read_csv("./Unsub_JH_Final20191105Hashed.zip",dtype=str,compression="zip")
df_19_unsub['group']="19_unsub"
print(df_19_unsub.shape)
df_19_unsub.head(2)

(2771375, 3)

,hashed_email_address,hashed_customer_num,group
0,4de6fa3b26c33042771b79414aca963dcd7ae5f7ee8079...,fef7595f54be33a5008b0e059540fc9e5ab337e9c75971...,19_unsub
1,e98994d86f1d81d37bbe1f3435c992b53d14f621fab727...,7f93a31a6bef8a56f124af781ec894eb7cebfda4eae91f...,19_unsub

In [3]:
df_20Feb_unsub=pd.read_csv("/home/jian/BigLots/AgilOne/BL_Email_UnSubscriber_File_Catchup__20200225014554.csv",dtype=str)
df_20Feb_unsub['group']="20Feb_unsub"
print(df_20Feb_unsub.shape)
df_20Feb_unsub.head(2)

(5858779, 8)

,customersummary_mastercustomerid,customersummary_emailhash,customersummary_c_primaryscnhash,customersummary_c_datecreated,customersummary_c_adsgroupmembershipsunsubscribed,customersummary_c_promosgroupmembershipsunsubscribed,execution_id,group
0,FTP_CSV_5_22240123,23a5bcb105cce3c102005d18f382ad21fc1c0823618747...,cd34076129ef0795f076fee98a6ebbdaf3c3726858ab0e...,1544699160000,Y,Y,1582638165618,20Feb_unsub
1,FTP_CSV_5_42186749,379d1a2afda903a4b15376605db68a29f230a6cff1a56a...,9f845e42e5a8c5ae54adb13fcad1c061eb628ba7a4afd0...,1481386585531,Y,Y,1582638165618,20Feb_unsub

In [4]:
df_20Feb_Sub=pd.read_csv("/home/jian/BigLots/AgilOne/BL_Email_Subscriber_File_Catchup__20200225094351.csv",dtype=str)
df_20Feb_Sub['group']="20Feb_Sub"
print(df_20Feb_Sub.shape)
df_20Feb_Sub.head(2)

(30560296, 8)

,customersummary_mastercustomerid,customersummary_emailhash,customersummary_c_primaryscnhash,customersummary_c_datecreated,customersummary_c_adsgroupmembershipsunsubscribed,customersummary_c_promosgroupmembershipsunsubscribed,execution_id,group
0,KFK_0_48749005,983a9703324e0100936f95a743cfec5ca1639194cb5c4a...,279b72fc2ac58b74b7d336d9084e7309436c3f661a5abf...,1527363141560,N,N,1582666812366,20Feb_Sub
1,KFK_0_59623258,04fedca044d8fab3c2c777a497b7c51906d34da300d3a0...,87ed83989d0057d35fcc084fb05b0de0bd1b7fde8e6148...,1578411044602,N,N,1582666812366,20Feb_Sub

In [5]:
df_20Feb_Sub.head(2)

,customersummary_mastercustomerid,customersummary_emailhash,customersummary_c_primaryscnhash,customersummary_c_datecreated,customersummary_c_adsgroupmembershipsunsubscribed,customersummary_c_promosgroupmembershipsunsubscribed,execution_id,group
0,KFK_0_48749005,983a9703324e0100936f95a743cfec5ca1639194cb5c4a...,279b72fc2ac58b74b7d336d9084e7309436c3f661a5abf...,1527363141560,N,N,1582666812366,20Feb_Sub
1,KFK_0_59623258,04fedca044d8fab3c2c777a497b7c51906d34da300d3a0...,87ed83989d0057d35fcc084fb05b0de0bd1b7fde8e6148...,1578411044602,N,N,1582666812366,20Feb_Sub

In [6]:
print("df_19_unsub.shape",df_19_unsub.shape)
print("df_19_unsub['hashed_customer_num'].nunique()",df_19_unsub['hashed_customer_num'].nunique())

print("df_20Feb_unsub.shape",df_20Feb_unsub.shape)
print("df_20Feb_unsub['customersummary_c_primaryscnhash'].nunique()",df_20Feb_unsub['customersummary_c_primaryscnhash'].nunique())

df_20Feb=df_20Feb_Sub.append(df_20Feb_unsub)
print("df_20Feb.shape",df_20Feb.shape)
print("df_20Feb['customersummary_c_primaryscnhash'].nunique()",df_20Feb['customersummary_c_primaryscnhash'].nunique())

import gc
del df_20Feb_Sub
del df_20Feb_unsub
gc.collect()

df_19_unsub.shape (2771375, 3)
df_19_unsub['hashed_customer_num'].nunique() 2771375
df_20Feb_unsub.shape (5858779, 8)
df_20Feb_unsub['customersummary_c_primaryscnhash'].nunique() 5858779
df_20Feb.shape (36419075, 8)
df_20Feb['customersummary_c_primaryscnhash'].nunique() 36419075

0

In [7]:
df_19Nov_unsub=df_19_unsub[['hashed_customer_num','group']].drop_duplicates().rename(columns={"group":"group_19Nov","hashed_customer_num":"customer_id_hashed"})
df_20Feb=df_20Feb[['customersummary_c_primaryscnhash','group']].drop_duplicates().rename(columns={"group":"group_20Feb","customersummary_c_primaryscnhash":"customer_id_hashed"})

df_both_qc=pd.merge(df_19Nov_unsub,df_20Feb,on="customer_id_hashed",how="outer")
df_both_qc=df_both_qc.fillna("nan")
# df_both_qc=df_both_qc.groupby(['group_19Nov','group_20Feb'])['customer_id_hashed'].count().to_frame().reset_index()

In [8]:
import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

pd.read_sql("desc BL_Rewards_Master;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

                            Field           Type Null  Key Default Extra
0              customer_id_hashed    varchar(64)  YES  MUL    None
1              email_address_hash    varchar(64)  YES  MUL    None
2                    sign_up_date           date  YES  MUL    None
3                 sign_up_channel    varchar(64)  YES  MUL    None
4                sign_up_location        int(11)  YES  MUL    None
5               customer_zip_code    varchar(16)  YES  MUL    None
6               transaction_count        int(11)  YES         None
7              transaction_amount  decimal(10,2)  YES         None
8          experian_multi_cluster    varchar(32)  YES         None
9           experian_demo_cluster    varchar(32)  YES         None
10               purchase_channel    varchar(32)  YES         None
11    email_unsubscribe_indicator     varchar(2)  YES         None
12  email_undeliverable_indicator     varchar(2)  YES         None
13                      file_path   varchar(256)  YES  MUL    None

In [9]:
df_all_customer_in_SQL=pd.read_sql("select distinct customer_id_hashed from BL_Rewards_Master",con=BL_engine)
df_all_customer_in_SQL['MySQL_group']="Existing_in_MySQL"

In [10]:
df_both_qc=pd.merge(df_both_qc,df_all_customer_in_SQL,on="customer_id_hashed",how="outer")
df_both_qc=df_both_qc.fillna("nan")
df_both_qc.shape

(38769256, 4)

In [12]:
df_both_qc['customer_id_hashed'].nunique()

38769256

In [11]:
df_both_qc.head(2)

,customer_id_hashed,group_19Nov,group_20Feb,MySQL_group
0,fef7595f54be33a5008b0e059540fc9e5ab337e9c75971...,19_unsub,20Feb_Sub,Existing_in_MySQL
1,7f93a31a6bef8a56f124af781ec894eb7cebfda4eae91f...,19_unsub,20Feb_unsub,Existing_in_MySQL

In [13]:
df_both_qc_summary=df_both_qc.groupby(['MySQL_group','group_19Nov','group_20Feb'])['customer_id_hashed'].count().to_frame().reset_index()

In [15]:
df_both_qc_summary.to_csv("./qc_email_sub_unsub_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [16]:
os.getcwd()

'/home/jian/BigLots/unsubscribe'