In [1]:
# 2019-05-29

import pandas as pd
import paramiko
import numpy as np
import datetime
import os

os.getcwd()

'/home/jian/BigLots/New_Sing_Ups_2018_Fiscal_Year'

In [3]:
host = "64.237.51.251" #hard-coded
port = 22
transport = paramiko.Transport((host, port))

password = "bwRi3V6fgZsfJrMl" #hard-coded
username = "client" #hard-coded
transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)

In [5]:
remote_path="/mnt/drv5/biglots_data/All Rewards Members 2018-02-04 - 2019-05-04.zip"
localpath="./"+os.path.basename(remote_path)
sftp.get(remote_path,localpath)
sftp.close()

In [3]:
# Same columns names confirmed

localpath="/home/jian/BigLots/New_Sing_Ups_2018_Fiscal_Year/All Rewards Members 2018-02-04 - 2019-05-04.zip"
df=pd.read_table(localpath,dtype=str,sep="|",compression="zip")
df.shape

(7888562, 13)

In [4]:
id_by_count=df.groupby(['customer_id_hashed'])['sign_up_date'].count().to_frame().reset_index().sort_values("sign_up_date",ascending=False).head(5)
id_by_count.head(5)

                                        customer_id_hashed  sign_up_date
6526140  d3bc0ffde5b98267799c5035456a3b3a6fd411acf4d5c5...             3
4295690  8b66e3dd67214ef9898323502d0173a858b2e80c077b63...             3
1498069  309fc6ee532e2e7958e1d7cf94d6f950cceb8e21aa8eef...             2
5460013  b12228957038cc6beb93032ad84c8c4742633c883cd35c...             2
3228834  68c75f95e8e697333eebdbaec46620cf1d3cbd916745d5...             2

In [5]:
id_by_count['customer_id_hashed'].tolist()[0]

'd3bc0ffde5b98267799c5035456a3b3a6fd411acf4d5c5fb9f2d1b6d4b496d0f'

In [7]:
df[df['customer_id_hashed']==id_by_count['customer_id_hashed'].tolist()[1]]

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,transaction_count,transaction_amount,experian_multi_cluster,experian_demo_cluster,purchase_channel,email_unsubscribe_indicator,email_undeliverable_indicator
1225002,8b66e3dd67214ef9898323502d0173a858b2e80c077b63...,eb734603f2c326c5410c848e170fce048b54142eee2196...,2018-12-29,STORE,1405,64012,NaN,NaN,8,3,NaN,N,N
6033635,8b66e3dd67214ef9898323502d0173a858b2e80c077b63...,eb734603f2c326c5410c848e170fce048b54142eee2196...,2018-12-29,STORE,1405,64012,NaN,NaN,8,4,NaN,N,N
7550694,8b66e3dd67214ef9898323502d0173a858b2e80c077b63...,eb734603f2c326c5410c848e170fce048b54142eee2196...,2018-12-29,STORE,1405,64012,NaN,NaN,3,4,NaN,N,N

In [10]:
df.head(2)

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,transaction_count,transaction_amount,experian_multi_cluster,experian_demo_cluster,purchase_channel,email_unsubscribe_indicator,email_undeliverable_indicator
0,67c70ef098e439b3ee77aa1e12d067389ee58de68d82f2...,91b604fbb6382c0d4d9de79abd99c90376486500792900...,2018-11-06,STORE,811,30542,NaN,NaN,NaN,NaN,NaN,N,N
1,1bba86339a713fa02fa3289fc001958fb292a6a9b74414...,f1d534c223352de706828a36e199c647a5acddb2667078...,2018-07-10,STORE,1961,29732,NaN,NaN,NaN,NaN,NaN,N,N

In [8]:
df['customer_id_hashed'].nunique()

7888544

In [9]:
df[['customer_id_hashed','sign_up_date','customer_zip_code']].drop_duplicates().shape

(7888544, 3)

In [12]:
df['email_address_hash'].nunique()

7888440

In [13]:
df['sign_up_date'].min()

'2018-02-04'

In [14]:
df['sign_up_date'].max()

'2019-05-04'

In [15]:
df['sign_up_date'].nunique()

455

In [16]:
455/7

65.0

In [18]:
aaa=df.groupby(['customer_id_hashed'])['email_address_hash'].count().to_frame().reset_index().sort_values("email_address_hash",ascending=False).head(20)

In [19]:
aaa['customer_id_hashed'].tolist()[0]

'd3bc0ffde5b98267799c5035456a3b3a6fd411acf4d5c5fb9f2d1b6d4b496d0f'

In [20]:
df[df['customer_id_hashed']=="d3bc0ffde5b98267799c5035456a3b3a6fd411acf4d5c5fb9f2d1b6d4b496d0f"]

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,transaction_count,transaction_amount,experian_multi_cluster,experian_demo_cluster,purchase_channel,email_unsubscribe_indicator,email_undeliverable_indicator
802825,d3bc0ffde5b98267799c5035456a3b3a6fd411acf4d5c5...,3f695688b4baa95fbb469037d2e62817db1d1c9e7ca6ce...,2018-11-20,STORE,276,24401,NaN,NaN,7,2,NaN,N,N
2660349,d3bc0ffde5b98267799c5035456a3b3a6fd411acf4d5c5...,3f695688b4baa95fbb469037d2e62817db1d1c9e7ca6ce...,2018-11-20,STORE,276,24401,NaN,NaN,8,3,NaN,N,N
6573593,d3bc0ffde5b98267799c5035456a3b3a6fd411acf4d5c5...,3f695688b4baa95fbb469037d2e62817db1d1c9e7ca6ce...,2018-11-20,STORE,276,24401,NaN,NaN,5,2,NaN,N,N