In [1]:
import pandas as pd

In [8]:
daily_data=pd.read_table("/home/jian/BigLots/MediaStorm 2018-06-16/MediaStormDailySales.txt",sep="|")
weekly_data=pd.read_table("/home/jian/BigLots/MediaStorm 2018-06-16/MediaStormSalesWeekly.txt",sep="|")

In [9]:
daily_data['subclass_transaction_amt'].sum()

89677768.379999921

In [10]:
weekly_data['subclass_gross_sales_amt'].sum()

89644998.440000042

In [7]:
daily_data.head(2)

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,subclass_transaction_units,subclass_transaction_amt
11111,1636,2018-07-21,7056,f6d4c05c6fbee8ac0641ec836f78966ba1437a697f89a5...,11008,15,1,1.75
11112,1942,2018-07-21,4729,NaN,11009,1,1,7.50
11113,212,2018-07-21,5141,NaN,33007,1,1,0.75
11114,5086,2018-07-15,4843,NaN,31003,11,1,14.99
11115,1489,2018-07-16,5225,NaN,11009,2,3,6.00
11116,1189,2018-07-19,6219,NaN,11009,2,1,1.00
11117,4397,2018-07-15,6869,2e7fd1a9caf1d596944a783006f7ab44ccc1394b7193e0...,11003,3,1,5.00
11118,5332,2018-07-16,253,5d3d9b5240850e6de26eec926c4c962e6a051f508926a5...,13002,8,1,5.00
11119,5134,2018-07-20,8838,NaN,11011,3,3,3.00
11120,422,2018-07-18,4795,NaN,11101,6,1,1.50
11121,1195,2018-07-15,9090,17a2b395ce546fb3aa8086a01107ab3b6b670cdb085960...,11004,3,1,2.00