In [1]:
# To select control no more than test
# TIRE&SERVICE

import random

import pandas as pd
import numpy as np
import datetime
import os
import glob
print(datetime.datetime.now())
print(os.getcwd())

2020-11-06 13:39:13.391852
/mnt/clients/juba/hqjubaapp02/sharefolder/GoodYear/jian/Audience_selections

In [2]:
folder_audience="./output_audience_2020-11-03/"

list_all_audience_files=glob.glob(folder_audience+"*.csv")
list_all_audience_files=[x for x in list_all_audience_files if "TireAndService" in x]
list_all_audience_files.sort()
list_audience_set=["_".join(os.path.basename(x).split("_")[1:5]) for x in list_all_audience_files]
list_audience_set=list(set(list_audience_set))
list_audience_set.sort()
print(len(list_all_audience_files))
print(len(list_audience_set))

28
4

In [3]:
a=[x for x in list_all_audience_files if "ecom" in x.lower()]
a

['./output_audience_2020-11-03/segment_Control_TireAndService_31_stores_Ecommerce_All_All.csv',
 './output_audience_2020-11-03/segment_Control_TireAndService_9_stores_Ecommerce_All_All.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_31_stores_Ecommerce_All_All.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_9_stores_Ecommerce_All_All.csv']

In [4]:
for i in a:
    df=pd.read_csv(i,dtype=str)
    print(i,df.shape)

./output_audience_2020-11-03/segment_Control_TireAndService_31_stores_Ecommerce_All_All.csv (106187, 5)
./output_audience_2020-11-03/segment_Control_TireAndService_9_stores_Ecommerce_All_All.csv (19638, 5)
./output_audience_2020-11-03/segment_Test_TireAndService_31_stores_Ecommerce_All_All.csv (19202, 5)
./output_audience_2020-11-03/segment_Test_TireAndService_9_stores_Ecommerce_All_All.csv (4497, 5)

In [5]:
df_all_T_ids=pd.DataFrame()
list_all_T_files=[x for x in list_all_audience_files if "test" in x.lower()]
print(len(list_all_T_files))
for file in list_all_T_files:
    df=pd.read_csv(file,dtype=str)
    df_all_T_ids=df_all_T_ids.append(df)
df_all_T_ids['best_email_txt']=df_all_T_ids['best_email_txt'].apply(lambda x: x.lower().strip() if pd.notnull(x) else x)
df_all_T_ids['best_phone_num']=df_all_T_ids['best_phone_num'].apply(lambda x: '1'+str(int(x.lower().strip())) if pd.notnull(x) else x)

df=df_all_T_ids[pd.notnull(df_all_T_ids['best_phone_num'])]
print(df['best_phone_num'].apply(len).unique())
del df

print(df_all_T_ids.shape)
df_all_T_ids.head(3)

14
[11]
(521579, 5)

,indiv_key,last_trans_date,best_email_txt,best_phone_num,postal_cd
0,1222780000000033,2018-10-08,michaelpuig1033@yahoo.com,15618019543,34953
1,1222780000000299,2016-10-11,dianarebel@verizon.net,16109357347,19460
2,1222780000000493,2019-11-20,jdmgeorge01@gmail.com,17035874893,20152

In [6]:
list_all_T_ids=[x for x in df_all_T_ids['indiv_key'].unique().tolist() if pd.notnull(x)]
list_all_T_emails=[x for x in df_all_T_ids['best_email_txt'].unique().tolist() if pd.notnull(x)]
list_all_T_phones=[x for x in df_all_T_ids['best_phone_num'].unique().tolist() if pd.notnull(x)]

In [7]:
folder_cleaned_audience="./output_cleaned_audience_%s/"%str(datetime.datetime.now().date())
try:
    os.stat(folder_cleaned_audience)
except:
    os.mkdir(folder_cleaned_audience)

In [8]:
T_list_all_audience_files=[x for x in list_all_audience_files if "test" in x.lower()]
C_list_all_audience_files=[x for x in list_all_audience_files if "control" in x.lower()]
print(len(T_list_all_audience_files),len(T_list_all_audience_files))

14 14

In [9]:
T_list_all_audience_files

['./output_audience_2020-11-03/segment_Test_TireAndService_31_stores_Ecommerce_All_All.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_31_stores_Store_P_R1H.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_31_stores_Store_P_R2M.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_31_stores_Store_P_R3L.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_31_stores_Store_S_R1H.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_31_stores_Store_S_R2M.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_31_stores_Store_S_R3L.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_9_stores_Ecommerce_All_All.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_9_stores_Store_P_R1H.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_9_stores_Store_P_R2M.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_9_stores_Store_P_R3L.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_9_stores_Store_S_R1H.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_9_stores_Store_S_R2M.csv',
 './output_audience_2020-11-03/segment_Test_TireAndService_9_stores_Store_S_R3L.csv']

In [10]:
random.seed(0)

for file in T_list_all_audience_files:
    seg_basename=file.split("segment_Test")[1].split(".")[0]
    df=pd.read_csv(file,dtype=str)
    df['best_email_txt']=df['best_email_txt'].apply(lambda x: x.lower().strip() if pd.notnull(x) else x)
    df['best_phone_num']=df['best_phone_num'].apply(lambda x: "1"+str(int(x.lower().strip())) if pd.notnull(x) else x)
    
    df_notnull=df[pd.notnull(df['best_phone_num'])]
    print(os.path.basename(file),df_notnull['best_phone_num'].apply(len).unique())
    df.to_csv(folder_cleaned_audience+os.path.basename(file),index=False)
    
    count_T=df.shape[0]
    
    file_C=[x for x in C_list_all_audience_files if seg_basename in x]
    if len(file_C)!=1:
        raise ValueError("len(file_C)!=:")
    else:
        file_C=file_C[0]
        df_C=pd.read_csv(file_C,dtype=str)
        df_C['best_email_txt']=df_C['best_email_txt'].apply(lambda x: x.lower().strip() if pd.notnull(x) else x)
        df_C['best_phone_num']=df_C['best_phone_num'].apply(lambda x: "1"+str(int(x.lower().strip())) if pd.notnull(x) else x)
        df_notnull=df_C[pd.notnull(df_C['best_phone_num'])]
        print(os.path.basename(file_C),df_notnull['best_phone_num'].apply(len).unique())
        
        df_C=df_C[~df_C['indiv_key'].isin(list_all_T_ids)]
        df_C=df_C[~df_C['best_email_txt'].isin(list_all_T_emails)]
        df_C=df_C[~df_C['best_phone_num'].isin(list_all_T_phones)]
        
        df_C=df_C.reset_index()
        del df_C['index']
        df_C=df_C.reset_index()
        if df_C.shape[0]<=count_T:
            df_C.to_csv(folder_cleaned_audience+os.path.basename(file_C),index=False)
        else:
            
            list_kept_index=random.sample(range(df_C.shape[0]),count_T)
            df_C=df_C[df_C['index'].isin(list_kept_index)]
            del df_C['index']
            df_C.to_csv(folder_cleaned_audience+os.path.basename(file_C),index=False)

segment_Test_TireAndService_31_stores_Ecommerce_All_All.csv [11]
segment_Control_TireAndService_31_stores_Ecommerce_All_All.csv [11]
segment_Test_TireAndService_31_stores_Store_P_R1H.csv [11]
segment_Control_TireAndService_31_stores_Store_P_R1H.csv [11]
segment_Test_TireAndService_31_stores_Store_P_R2M.csv [11]
segment_Control_TireAndService_31_stores_Store_P_R2M.csv [11]
segment_Test_TireAndService_31_stores_Store_P_R3L.csv [11]
segment_Control_TireAndService_31_stores_Store_P_R3L.csv [11]
segment_Test_TireAndService_31_stores_Store_S_R1H.csv [11]
segment_Control_TireAndService_31_stores_Store_S_R1H.csv [11]
segment_Test_TireAndService_31_stores_Store_S_R2M.csv [11]
segment_Control_TireAndService_31_stores_Store_S_R2M.csv [11]
segment_Test_TireAndService_31_stores_Store_S_R3L.csv [11]
segment_Control_TireAndService_31_stores_Store_S_R3L.csv [11]
segment_Test_TireAndService_9_stores_Ecommerce_All_All.csv [11]
segment_Control_TireAndService_9_stores_Ecommerce_All_All.csv [11]
segment_Test_TireAndService_9_stores_Store_P_R1H.csv [11]
segment_Control_TireAndService_9_stores_Store_P_R1H.csv [11]
segment_Test_TireAndService_9_stores_Store_P_R2M.csv [11]
segment_Control_TireAndService_9_stores_Store_P_R2M.csv [11]
segment_Test_TireAndService_9_stores_Store_P_R3L.csv [11]
segment_Control_TireAndService_9_stores_Store_P_R3L.csv [11]
segment_Test_TireAndService_9_stores_Store_S_R1H.csv [11]
segment_Control_TireAndService_9_stores_Store_S_R1H.csv [11]
segment_Test_TireAndService_9_stores_Store_S_R2M.csv [11]
segment_Control_TireAndService_9_stores_Store_S_R2M.csv [11]
segment_Test_TireAndService_9_stores_Store_S_R3L.csv [11]
segment_Control_TireAndService_9_stores_Store_S_R3L.csv [11]

In [11]:
list_all_cleaned_audience_files=glob.glob(folder_cleaned_audience+"*.csv")
del list_all_audience_files

In [12]:
print(len(list_all_cleaned_audience_files))
list_all_cleaned_audience_files

28

['./output_cleaned_audience_2020-11-06/segment_Control_TireAndService_31_stores_Store_S_R3L.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_31_stores_Store_S_R2M.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_9_stores_Store_P_R3L.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_9_stores_Store_S_R3L.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_31_stores_Store_S_R1H.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_9_stores_Store_P_R3L.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_31_stores_Store_P_R1H.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_31_stores_Store_P_R2M.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_31_stores_Store_P_R3L.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_31_stores_Store_P_R1H.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_31_stores_Store_S_R2M.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_9_stores_Store_S_R3L.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_9_stores_Store_S_R2M.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_31_stores_Store_P_R3L.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_31_stores_Store_S_R1H.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_31_stores_Store_P_R2M.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_9_stores_Store_P_R2M.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_9_stores_Store_S_R1H.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_31_stores_Store_S_R3L.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_9_stores_Store_P_R1H.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_9_stores_Ecommerce_All_All.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_31_stores_Ecommerce_All_All.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_9_stores_Store_P_R1H.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_9_stores_Store_S_R1H.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_9_stores_Store_S_R2M.csv',
 './output_cleaned_audience_2020-11-06/segment_Control_TireAndService_31_stores_Ecommerce_All_All.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_9_stores_Ecommerce_All_All.csv',
 './output_cleaned_audience_2020-11-06/segment_Test_TireAndService_9_stores_Store_P_R2M.csv']

In [13]:
dict_summary_output_df={}
for set_x in list_audience_set:
    df_all_aud=pd.DataFrame()
    list_files=[x for x in list_all_cleaned_audience_files if set_x in x]
    list_files.sort()
    df_aud_summary=pd.DataFrame()
    for file in list_files:
        df=pd.read_csv(file,dtype=str)
        df_all_aud=df_all_aud.append(df)
        n_unique_key=df['indiv_key'].nunique()
        n_unique_email=df[pd.notnull(df['best_email_txt'])]['best_email_txt'].nunique()
        n_unique_phone=df[pd.notnull(df['best_phone_num'])]['best_email_txt'].nunique()
        df=pd.DataFrame({"segment":os.path.basename(file).split(".")[0], 
                         "n_unique_key":n_unique_key, 
                         "n_unique_email":n_unique_email, 
                         "n_unique_phone":n_unique_phone},index=[0])
        df_aud_summary=df_aud_summary.append(df)
    n_unique_key=df_all_aud['indiv_key'].nunique()
    n_unique_email=df_all_aud[pd.notnull(df_all_aud['best_email_txt'])]['best_email_txt'].nunique()
    n_unique_phone=df_all_aud[pd.notnull(df_all_aud['best_phone_num'])]['best_email_txt'].nunique()  
    df=pd.DataFrame({"segment":"GrandTotal_"+set_x, 
                         "n_unique_key":n_unique_key, 
                         "n_unique_email":n_unique_email, 
                         "n_unique_phone":n_unique_phone},index=[0])
    df_aud_summary=df_aud_summary.append(df)
    
    dict_summary_output_df.update({set_x:df_aud_summary})
    print("set view overall: \n",df_all_aud['indiv_key'].nunique(),df_all_aud['best_email_txt'].nunique(),df_all_aud['best_phone_num'].nunique())

set view overall:
 364773 153417 354061
set view overall:
 66836 28255 64490
set view overall:
 316097 121918 301789
set view overall:
 69547 25621 66498

In [14]:
writer=pd.ExcelWriter("./GY_audience_summary_JL_%s.xlsx"%str(datetime.datetime.now().date()),engine="xlsxwriter")
for set_x in dict_summary_output_df.keys():
    dict_summary_output_df[set_x].to_excel(writer,set_x[:31],index=False)
writer.save()

In [15]:
dict_summary_output_df.keys()

dict_keys(['Control_TireAndService_31_stores', 'Control_TireAndService_9_stores', 'Test_TireAndService_31_stores', 'Test_TireAndService_9_stores'])

In [16]:
list(dict_summary_output_df.values())[0]

,segment,n_unique_key,n_unique_email,n_unique_phone
0,segment_Control_TireAndService_31_stores_Ecomm...,19202,18429,18062
0,segment_Control_TireAndService_31_stores_Store...,34784,15209,15168
0,segment_Control_TireAndService_31_stores_Store...,53249,21387,21357
0,segment_Control_TireAndService_31_stores_Store...,51453,16401,16346
0,segment_Control_TireAndService_31_stores_Store...,55855,24961,24912
0,segment_Control_TireAndService_31_stores_Store...,101866,43334,43275
0,segment_Control_TireAndService_31_stores_Store...,102560,35836,35736
0,GrandTotal_Control_TireAndService_31_stores,364773,153417,152776

In [17]:
list(dict_summary_output_df.values())[1]

,segment,n_unique_key,n_unique_email,n_unique_phone
0,segment_Control_TireAndService_9_stores_Ecomme...,4497,4318,4247
0,segment_Control_TireAndService_9_stores_Store_...,7452,3185,3180
0,segment_Control_TireAndService_9_stores_Store_...,10769,4392,4379
0,segment_Control_TireAndService_9_stores_Store_...,11556,3643,3623
0,segment_Control_TireAndService_9_stores_Store_...,7700,3420,3414
0,segment_Control_TireAndService_9_stores_Store_...,11631,5140,5125
0,segment_Control_TireAndService_9_stores_Store_...,13451,4538,4526
0,GrandTotal_Control_TireAndService_9_stores,66836,28255,28117

In [18]:
list(dict_summary_output_df.values())[2]

,segment,n_unique_key,n_unique_email,n_unique_phone
0,segment_Test_TireAndService_31_stores_Ecommerc...,19202,18324,17986
0,segment_Test_TireAndService_31_stores_Store_P_R1H,42525,17806,17782
0,segment_Test_TireAndService_31_stores_Store_P_R2M,59255,22566,22523
0,segment_Test_TireAndService_31_stores_Store_P_R3L,54875,15850,15801
0,segment_Test_TireAndService_31_stores_Store_S_R1H,67763,27852,27796
0,segment_Test_TireAndService_31_stores_Store_S_R2M,104483,40220,40150
0,segment_Test_TireAndService_31_stores_Store_S_R3L,102560,31597,31487
0,GrandTotal_Test_TireAndService_31_stores,316097,121918,121336

In [19]:
list(dict_summary_output_df.values())[3]

,segment,n_unique_key,n_unique_email,n_unique_phone
0,segment_Test_TireAndService_9_stores_Ecommerce...,4497,4214,4152
0,segment_Test_TireAndService_9_stores_Store_P_R1H,8648,3247,3230
0,segment_Test_TireAndService_9_stores_Store_P_R2M,11808,4373,4365
0,segment_Test_TireAndService_9_stores_Store_P_R3L,13181,3547,3530
0,segment_Test_TireAndService_9_stores_Store_S_R1H,7700,3056,3042
0,segment_Test_TireAndService_9_stores_Store_S_R2M,11631,4539,4533
0,segment_Test_TireAndService_9_stores_Store_S_R3L,13451,4128,4110
0,GrandTotal_Test_TireAndService_9_stores,69547,25621,25483

In [20]:
list_audience_set

['Control_TireAndService_31_stores',
 'Control_TireAndService_9_stores',
 'Test_TireAndService_31_stores',
 'Test_TireAndService_9_stores']