In [1]:
from google.cloud import bigquery
import gc
import pandas as pd
import numpy as np
import datetime
import os
import json
import glob
from haversine import haversine

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/mnt/clients/juba/hqjubaapp02/sharefolder/GoodYear/docs/merkle-gdyr-prod-9783607c77a1.json"

zip_centers=json.load(open("/mnt/clients/juba/hqjubaapp02/sharefolder/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json"))
client = bigquery.Client()

print(datetime.datetime.now())
print(os.getcwd())

2020-11-06 13:47:19.287613
/mnt/clients/juba/hqjubaapp02/sharefolder/GoodYear/jian/Audience_selections

In [2]:
'''
YG "One addition CRM segment" 2020-11-05

Jian NEW CRM stores: (nationwide minus 31+9 stores excluding states: AK and HI):
CRM stores who made their last tire ONLY purchase 9/2019 – 12/2019  : Jian please send test counts+ 15% control counts
CRM stores who made their last service ONLY purchase 3/2020 – 10/2020  : Jian please send counts+ 15% control counts
CRM stores who made their last tire ONLY purchase 9/2018 – 12/2018  : Jian please send counts+ 15% control counts
'''

'\nYG "One addition CRM segment" 2020-11-05\n\nJian NEW CRM stores: (nationwide minus 31+9 stores excluding states: AK and HI):\nCRM stores who made their last tire ONLY purchase 9/2019 – 12/2019  : Jian please send test counts+ 15% control counts\nCRM stores who made their last service ONLY purchase 3/2020 – 10/2020  : Jian please send counts+ 15% control counts\nCRM stores who made their last tire ONLY purchase 9/2018 – 12/2018  : Jian please send counts+ 15% control counts\n'

In [3]:
# To remove later the 40 pairs and the Ecommerce IDs
query_balance_instore_tireonly_RAll='''
WITH t_last_trans AS (
SELECT indiv_key, MAX(invoice_date) AS last_trans_date FROM mdb.trn_detail
WHERE store_id!='ECOM' AND indiv_key IS NOT NULL AND qty>0
GROUP BY indiv_key
HAVING MAX(invoice_date) BETWEEN '2019-09-01' AND '2019-11-30' 
OR MAX(invoice_date) BETWEEN '2020-03-01' AND '2020-09-30' 
OR MAX(invoice_date) BETWEEN '2018-09-01' AND '2018-11-30')

SELECT t1.indiv_key, t1.last_trans_date, t2.trn_id, t2.store_id, t2.product_type_cd FROM t_last_trans as t1
LEFT JOIN mdb.trn_detail AS t2
ON t1.indiv_key=t2.indiv_key and t1.last_trans_date=t2.invoice_date
ORDER BY t1.indiv_key, t1.last_trans_date DESC
'''
df_ids_balance_all=client.query(query_balance_instore_tireonly_RAll).result().to_dataframe()
print(df_ids_balance_all.shape)

/home/jliang/.local/lib/python3.7/site-packages/google/cloud/bigquery/client.py:441: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

(9082322, 5)

In [4]:
query_crm="""
select t1.indiv_key, t1.best_email_txt, t1.best_phone_num, t2.postal_cd, t2.state_province_cd, t2.country_cd from mdb.indiv_summary as t1
join mdb.addr as t2 on
t1.cr_addr_key=t2.cr_addr_key
"""

print(query_crm)

df_all_ids=client.query(query_crm).result().to_dataframe()
print(df_all_ids.shape,df_all_ids['indiv_key'].nunique())
#
df_all_ids['best_email_txt']=df_all_ids['best_email_txt'].apply(lambda x: x.lower().strip() if pd.notnull(x) else x)
df_all_ids['best_phone_num']=df_all_ids['best_phone_num'].apply(lambda x: "1"+str(int(x)).lower().strip() if pd.notnull(x) else x)
df_all_ids.head(2)
#

df_HI_AK_ids=df_all_ids[df_all_ids['state_province_cd'].isin(["HI","AK"])]
list_HI_AK_ids=df_HI_AK_ids[pd.notnull(df_HI_AK_ids['indiv_key'])]['indiv_key'].unique().tolist()
list_HI_AK_emails=df_HI_AK_ids[pd.notnull(df_HI_AK_ids['best_email_txt'])]['best_email_txt'].unique().tolist()
list_HI_AK_phones=df_HI_AK_ids[pd.notnull(df_HI_AK_ids['best_phone_num'])]['best_phone_num'].unique().tolist()

print(df_HI_AK_ids.shape)

select t1.indiv_key, t1.best_email_txt, t1.best_phone_num, t2.postal_cd, t2.state_province_cd, t2.country_cd from mdb.indiv_summary as t1
join mdb.addr as t2 on
t1.cr_addr_key=t2.cr_addr_key

(7538892, 6) 7538892
(242545, 6)

In [5]:
final_uploaded_folder="/mnt/clients/juba/hqjubaapp02/sharefolder/GoodYear/jian/Audience_selections/output_cleaned_audience_2020-11-06/"
list_file_defined_ids=glob.glob(final_uploaded_folder+"*.csv")

list_already_defined_ids=[]
list_already_defined_emails=[]
list_already_defined_phones=[]
i=0

for file in list_file_defined_ids:
    df=pd.read_csv(file,dtype=str)
    list_id_file=df[pd.notnull(df['indiv_key'])]['indiv_key'].unique().tolist()
    list_email_file=df[pd.notnull(df['best_email_txt'])]['best_email_txt'].unique().tolist()
    list_phone_file=df[pd.notnull(df['best_phone_num'])]['best_phone_num'].unique().tolist()
    
    list_already_defined_ids=list_already_defined_ids+list_id_file
    list_already_defined_emails=list_already_defined_emails+list_email_file
    list_already_defined_phones=list_already_defined_phones+list_phone_file
    
    i+=1
    if i%10==1:
        list_already_defined_ids=list(set(list_already_defined_ids))
        list_already_defined_emails=list(set(list_already_defined_emails))
        list_already_defined_phones=list(set(list_already_defined_phones))

list_already_defined_ids=list(set(list_already_defined_ids))
list_already_defined_emails=list(set(list_already_defined_emails))
list_already_defined_phones=list(set(list_already_defined_phones))

print(len(list_already_defined_ids))
print(len(list_already_defined_emails))
print(len(list_already_defined_phones))

1053521
550336
1014462

In [6]:
df_last_trans_group=df_ids_balance_all.groupby(['indiv_key','last_trans_date'])['product_type_cd'].unique().to_frame().reset_index()
df_last_trans_group['last_trans_group']=df_last_trans_group['product_type_cd'].apply(lambda x: "WithTire" if 'TIRE' in x else "ServiceOnly")
df_last_trans_group.head(4)

          indiv_key last_trans_date  product_type_cd last_trans_group
0  1222780000000001      2020-03-11        [SERVICE]      ServiceOnly
1  1222780000000009      2020-04-17        [SERVICE]      ServiceOnly
2  1222780000000020      2019-09-30  [SERVICE, TIRE]         WithTire
3  1222780000000048      2020-04-08        [SERVICE]      ServiceOnly

In [7]:
df_last_trans_group['last_trans_date']=df_last_trans_group['last_trans_date'].astype(str).str[:10]

## 
df_1_output=df_last_trans_group[df_last_trans_group['last_trans_group']=="WithTire"]
df_1_output=df_1_output[df_1_output['last_trans_date']>="2019-09-01"]
df_1_output=df_1_output[df_1_output['last_trans_date']<="2019-11-30"]

df_2_output=df_last_trans_group[df_last_trans_group['last_trans_group']=="ServiceOnly"]
df_2_output=df_2_output[df_2_output['last_trans_date']>="2020-03-01"]
df_2_output=df_2_output[df_2_output['last_trans_date']<="2020-09-30"]

df_3_output=df_last_trans_group[df_last_trans_group['last_trans_group']=="WithTire"]
df_3_output=df_3_output[df_3_output['last_trans_date']>="2018-09-01"]
df_3_output=df_3_output[df_3_output['last_trans_date']<="2018-11-30"]

In [8]:
df_1_output=pd.merge(df_1_output,df_all_ids,on="indiv_key",how="left")
df_1_output=df_1_output[~df_1_output['indiv_key'].isin(list_HI_AK_ids)]
df_1_output=df_1_output[~df_1_output['indiv_key'].isin(list_already_defined_ids)]
df_1_output=df_1_output[~df_1_output['best_email_txt'].isin(list_HI_AK_emails)]
df_1_output=df_1_output[~df_1_output['best_email_txt'].isin(list_already_defined_emails)]
df_1_output=df_1_output[~df_1_output['best_phone_num'].isin(list_HI_AK_phones)]
df_1_output=df_1_output[~df_1_output['best_phone_num'].isin(list_already_defined_phones)]
# 
df_2_output=pd.merge(df_2_output,df_all_ids,on="indiv_key",how="left")
df_2_output=df_2_output[~df_2_output['indiv_key'].isin(list_HI_AK_ids)]
df_2_output=df_2_output[~df_2_output['indiv_key'].isin(list_already_defined_ids)]
df_2_output=df_2_output[~df_2_output['best_email_txt'].isin(list_HI_AK_emails)]
df_2_output=df_2_output[~df_2_output['best_email_txt'].isin(list_already_defined_emails)]
df_2_output=df_2_output[~df_2_output['best_phone_num'].isin(list_HI_AK_phones)]
df_2_output=df_2_output[~df_2_output['best_phone_num'].isin(list_already_defined_phones)]
#
df_3_output=pd.merge(df_3_output,df_all_ids,on="indiv_key",how="left")
df_3_output=df_3_output[~df_3_output['indiv_key'].isin(list_HI_AK_ids)]
df_3_output=df_3_output[~df_3_output['indiv_key'].isin(list_already_defined_ids)]
df_3_output=df_3_output[~df_3_output['best_email_txt'].isin(list_HI_AK_emails)]
df_3_output=df_3_output[~df_3_output['best_email_txt'].isin(list_already_defined_emails)]
df_3_output=df_3_output[~df_3_output['best_phone_num'].isin(list_HI_AK_phones)]
df_3_output=df_3_output[~df_3_output['best_phone_num'].isin(list_already_defined_phones)]

In [9]:
df_1_output['segment_name']="segment_TorC_WithTire_Balance_stores_Store_20190901_20191130"
df_2_output['segment_name']="segment_TorC_ServiceOnly_Balance_stores_Store_20200301_20200930"
df_3_output['segment_name']="segment_TorC_WithTire_Balance_stores_Store_20180901_20181130"

df_output_set3=df_1_output.append(df_2_output).append(df_3_output)
del df_1_output
del df_2_output
del df_3_output
gc.collect()

20

In [10]:
import random
random.seed(0)
control_pctg=0.15
df_summary_C=pd.DataFrame()
df_summary_T=pd.DataFrame()

for segment_name, df_group in df_output_set3.groupby("segment_name"):
    df_len=df_group.shape[0]
    print(segment_name,df_len)
    list_C_index=random.sample(range(df_len),int(np.ceil(df_len*control_pctg)))
    df_group=df_group.reset_index()
    del df_group['index']
    df_group=df_group.reset_index()
    
    df_group_C=df_group[df_group['index'].isin(list_C_index)]
    df_group_T=df_group[~df_group['index'].isin(list_C_index)]
    
    segment_name_C=segment_name.replace("_TorC_","_Control_")
    segment_name_T=segment_name.replace("_TorC_","_Test_")
    
    df_group_C['segment_name']=segment_name_C
    df_group_T['segment_name']=segment_name_T
    
    print(segment_name_C,df_group_C.shape,df_group_C['indiv_key'].nunique(),df_group_C['best_email_txt'].nunique(),df_group_C['best_phone_num'].nunique())
    print(segment_name_T,df_group_T.shape,df_group_T['indiv_key'].nunique(),df_group_T['best_email_txt'].nunique(),df_group_T['best_phone_num'].nunique())
    print("\n")
    
    df_1_row_C=pd.DataFrame({"segment":segment_name_C,
                             "n_unique_key":df_group_C['indiv_key'].nunique(),
                             "n_unique_email":df_group_C['best_email_txt'].nunique(),
                             "n_unique_phone":df_group_C['best_phone_num'].nunique()
                            },index=[0])
    df_1_row_T=pd.DataFrame({"segment":segment_name_T,
                         "n_unique_key":df_group_T['indiv_key'].nunique(),
                         "n_unique_email":df_group_T['best_email_txt'].nunique(),
                         "n_unique_phone":df_group_T['best_phone_num'].nunique()
                        },index=[0])
    
    df_summary_C=df_summary_C.append(df_1_row_C)
    df_summary_T=df_summary_T.append(df_1_row_T)
    
    df_group_C.to_csv(final_uploaded_folder+segment_name_C+".csv",index=False)
    df_group_T.to_csv(final_uploaded_folder+segment_name_T+".csv",index=False)

segment_TorC_ServiceOnly_Balance_stores_Store_20200301_20200930 482604

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

segment_Control_ServiceOnly_Balance_stores_Store_20200301_20200930 (72391, 11) 72391 32318 71615
segment_Test_ServiceOnly_Balance_stores_Store_20200301_20200930 (410213, 11) 410213 182934 403814


segment_TorC_WithTire_Balance_stores_Store_20180901_20181130 70470
segment_Control_WithTire_Balance_stores_Store_20180901_20181130 (10571, 11) 10571 4034 10441
segment_Test_WithTire_Balance_stores_Store_20180901_20181130 (59899, 11) 59899 22684 59122


segment_TorC_WithTire_Balance_stores_Store_20190901_20191130 87186
segment_Control_WithTire_Balance_stores_Store_20190901_20191130 (13078, 11) 13078 4854 12943
segment_Test_WithTire_Balance_stores_Store_20190901_20191130 (74108, 11) 74108 27520 73325

In [11]:
df_summary_T.to_csv("./df_summary_set3_Test_TireAndOrService_Balance_Store_All.csv",index=False)
df_summary_C.to_csv("./df_summary_set3_Control_TireAndOrService_Balance_Store_All.csv",index=False)

In [12]:
df_summary_T

,segment,n_unique_key,n_unique_email,n_unique_phone
0,segment_Test_ServiceOnly_Balance_stores_Store_...,410213,182934,403814
0,segment_Test_WithTire_Balance_stores_Store_201...,59899,22684,59122
0,segment_Test_WithTire_Balance_stores_Store_201...,74108,27520,73325

In [13]:
df_summary_C

,segment,n_unique_key,n_unique_email,n_unique_phone
0,segment_Control_ServiceOnly_Balance_stores_Sto...,72391,32318,71615
0,segment_Control_WithTire_Balance_stores_Store_...,10571,4034,10441
0,segment_Control_WithTire_Balance_stores_Store_...,13078,4854,12943