In [1]:
import pandas as pd
import datetime
import numpy as np
import os

print(os.getcwd())
print(datetime.datetime.now())

/mnt/clients/juba/hqjubaapp02/sharefolder/GoodYear/jian/Audience_selections/output_aggregated_file
2020-11-06 17:25:17.324030

In [2]:
df_with_id=pd.read_csv("./GY_all_defined_CRM_segment_JL_2020-11-06.csv",dtype=str)
print(df_with_id.shape)
df_with_id.head(2)

(1885195, 4)

,indiv_key,best_email_txt,segment_name,TestOrControl
0,1222780000000672,fmurray17@nc.rr.com,segment_Control_TireAndService_Balance_Ecommer...,Control
1,1222780000001340,m1x18@aol.com,segment_Control_TireAndService_Balance_Ecommer...,Control

In [3]:
df_withemail_only=df_with_id[pd.notnull(df_with_id['best_email_txt'])]
df_without_id=df_without_id.drop_duplicates()
print(df_without_id.shape,df_without_id['best_email_txt'].nunique())

(905180, 3) 824123

In [5]:
df_without_id.to_csv("./GY_emails_only_CRM_segment_JL_%s.csv"%str(datetime.datetime.now().date()),index=False)

In [6]:
df_without_id.head(2)

,best_email_txt,segment_name,TestOrControl
0,fmurray17@nc.rr.com,segment_Control_TireAndService_Balance_Ecommer...,Control
1,m1x18@aol.com,segment_Control_TireAndService_Balance_Ecommer...,Control