In [1]:
import pandas as pd
import numpy as np
import os
import datetime
folderpath = '/home/jubauser1/BiglotsCode/outputs/'

In [2]:
trafficlist = ['/home/jubauser1/BigLots/MediaStorm Data Extract June-August 2017/MediaStorm Data Extract - Store Traffic June-August 2017.txt',
    '/home/jubauser1/BigLots/2017-05/MediaStorm Data Extract - Store Traffic May 2017.txt',
    '/home/jubauser1/BigLots/MediaStormDataExtract/MediaStorm Data Extract - Store Traffic.txt']

In [3]:
dfsales = pd.DataFrame()
for i in trafficlist:
    df = pd.read_table(i,sep = '|',dtype = 'str')
    dfsales = dfsales.append(df,ignore_index = True)

In [4]:
dfsales.columns

Index(['location_id', 'week_end_dt', 'fiscal_week_nbr', 'traffic_day_1',
       'traffic_day_2', 'traffic_day_3', 'traffic_day_4', 'traffic_day_5',
       'traffic_day_6', 'traffic_day_7'],
      dtype='object')

In [5]:
print(len(dfsales.index))
dfsales = dfsales.drop_duplicates(['location_id', 'week_end_dt', 'fiscal_week_nbr', 
       'class_code_id'])
print(len(dfsales.index))

170458
170458

In [6]:
dfsales.to_csv(folderpath + 'combinedtraffic'+ '2017-09-02' + '.csv',
               index = False,sep = '|')

In [7]:
dfsales

,location_id,week_end_dt,fiscal_week_nbr,traffic_day_1,traffic_day_2,traffic_day_3,traffic_day_4,traffic_day_5,traffic_day_6,traffic_day_7
0,1,2017-06-03,18,808,720,530,525,569,641,880
1,1,2017-06-10,19,752,593,587,572,605,727,672
2,1,2017-06-17,20,692,636,640,604,633,702,899
3,1,2017-06-24,21,634,596,570,627,621,583,726
4,1,2017-07-01,22,713,733,719,704,744,788,902
5,1,2017-07-08,23,696,792,606,547,568,653,1143
6,1,2017-07-15,24,1515,515,564,683,480,617,749
7,1,2017-07-22,25,681,549,568,599,634,592,662
8,1,2017-07-29,26,557,584,520,505,542,613,680
9,1,2017-08-05,27,635,485,561,517,546,577,812
10,1,2017-08-12,28,576,504,650,467,604,548,786
11,1,2017-08-19,29,729,522,500,595,595,612,775
12,1,2017-08-26,30,755,493,493,628,691,578,733
13,1,2017-09-02,31,681,469,469,481,517,659,781
14,3,2017-06-03,18,654,798,640,630,770,852,851
15,3,2017-06-10,19,673,601,585,587,627,789,846
16,3,2017-06-17,20,600,611,583,670,640,675,822
17,3,2017-06-24,21,602,647,540,629,568,689,729
18,3,2017-07-01,22,672,575,582,610,627,866,1012
19,3,2017-07-08,23,690,770,554,628,657,717,1218
20,3,2017-07-15,24,976,626,617,611,663,782,794
21,3,2017-07-22,25,609,600,558,646,607,731,793
22,3,2017-07-29,26,577,575,635,538,664,706,741
23,3,2017-08-05,27,652,723,710,582,668,764,913
24,3,2017-08-12,28,580,600,564,524,638,645,850
25,3,2017-08-19,29,622,562,597,539,554,626,845
26,3,2017-08-26,30,637,533,549,524,527,579,718
27,3,2017-09-02,31,607,512,560,463,585,840,924
28,29,2017-06-03,18,599,552,565,556,622,694,766
29,29,2017-06-10,19,490,530,576,471,462,515,662
...,...,...,...,...,...,...,...,...,...,...
170428,5338,2017-04-29,13,685,423,434,417,399,485,651
170429,5339,2016-11-26,43,0,0,0,0,0,0,0
170430,5339,2016-12-03,44,0,0,0,0,0,0,0
170431,5339,2016-12-10,45,0,0,0,0,0,0,0
170432,5339,2016-12-17,46,0,0,0,0,0,100,1833
170433,5339,2016-12-24,47,1686,1556,1362,1499,1622,2202,1506
170434,5339,2017-01-07,49,745,974,664,655,582,599,304
170435,5339,2017-01-14,50,579,570,612,673,744,753,966
170436,5339,2017-01-21,51,689,695,600,637,590,574,1299
170437,5339,2017-01-28,52,1063,398,547,656,474,578,1128
170438,5339,2017-02-04,1,617,446,555,537,563,634,1079
170439,5339,2017-02-11,2,650,563,597,555,454,704,1095
170440,5339,2017-02-18,3,740,640,534,570,518,692,989
170441,5339,2017-02-25,4,745,692,649,524,685,786,1148
170442,5339,2017-03-04,5,888,594,615,501,713,666,1250
170443,5339,2017-03-11,6,892,579,528,625,602,687,1142
170444,5339,2017-03-18,7,769,607,449,527,576,629,967
170445,5339,2017-03-25,8,754,577,496,499,549,645,959
170446,5339,2017-04-01,9,758,580,544,577,632,592,1267
170447,5339,2017-04-08,10,1189,496,622,676,564,611,1049
170448,5339,2017-04-15,11,748,617,601,608,685,955,1042
170449,5339,2017-04-22,12,592,577,523,516,582,613,932
170450,5339,2017-04-29,13,666,415,503,632,544,651,1016
170451,5343,2017-03-18,7,28,121,104,120,137,118,68
170452,5343,2017-03-25,8,39,107,95,132,116,186,81
170453,5343,2017-04-01,9,66,258,252,188,515,658,1919
170454,5343,2017-04-08,10,1791,711,605,622,569,1600,2277
170455,5343,2017-04-15,11,1927,874,683,864,812,1105,1218
170456,5343,2017-04-22,12,447,703,751,634,678,754,1264
170457,5343,2017-04-29,13,1101,705,721,666,613,784,1128

In [24]:
trafficlist = ['/home/jubauser1/BigLots/MediaStorm Data Extract June-August 2017/MediaStorm Data Extract - Inventory June-August 2017.txt',
              '/home/jubauser1/BigLots/2017-05/MediaStorm Data Extract - Inventory May 2017.txt',
              '/home/jubauser1/BigLots/MediaStorm_Data_Extracts_Inventory(with_headers).txt']

In [9]:
dfsales = pd.DataFrame()
for i in trafficlist:
    df = pd.read_table(i,sep = '|',dtype = 'str')
    dfsales = dfsales.append(df,ignore_index = True)

In [25]:
df1 = pd.read_table(trafficlist[0],sep = '|',dtype = 'str')
df2 = pd.read_table(trafficlist[1],sep = '|',dtype = 'str')
df3 = pd.read_table(trafficlist[2],sep = '|',dtype = 'str')

In [26]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['location_id', 'week_end_dt', 'fiscal_week_nbr', 'class_code_id',
       'on_hand'],
      dtype='object')
Index(['location_id', 'week_end_dt', 'fiscal_week_nbr', 'class_code_id',
       'on_hand'],
      dtype='object')
Index(['location_id', 'week_end_dt', 'fiscal_week_nbr', 'class_code_id',
       'on_hand_unit_qty'],
      dtype='object')

In [16]:
df3.reset_index(inplace = True)

In [27]:
df3.columns = ['location_id', 'week_end_dt', 'fiscal_week_nbr', 'class_code_id',
       'on_hand']

In [28]:
dfsales = df1.append(df2,ignore_index = True)
del df1,df2
dfsales = dfsales.append(df3,ignore_index = True)
del df3

In [29]:
print(len(dfsales.index))
dfsales = dfsales.drop_duplicates(['location_id', 'week_end_dt', 'fiscal_week_nbr', 'class_code_id'])
print(len(dfsales.index))

43836614
43836614

In [30]:
dfsales.to_csv(folderpath + 'combinedinventory'+ '2017-09-02' + '.csv',
               index = False,sep = '|')