In [1]:
import os
os.getcwd()

'/mnt/clients/juba/hqjubaapp02/sharefolder/Automation/BL_MySQL/Weekly_Update_MySQL'

In [2]:
# Update MySQL: Pred_CRM_table

import pandas as pd
import datetime
import os
import numpy as np
import hashlib
import gc
import logging
import sqlalchemy
import glob
import paramiko

logging.basicConfig(filename='/mnt/clients/juba/hqjubaapp02/sharefolder/Automation/BL_MySQL/Weekly_Update_MySQL/POS_weekly_update.log', level=logging.INFO)

BL_SQL_CONNECTION= 'mysql+pymysql://jliang:H1Dswk&Fxz@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

# Pred_POS_Department

In [4]:
file_product_taxonomy=glob.glob("/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/static_files/ProductTaxonomy/*.txt")
file_product_taxonomy=[x for x in file_product_taxonomy if "taxonomy" in x.lower()]
file_product_taxonomy.sort()
file_product_taxonomy=file_product_taxonomy[-1]

print(file_product_taxonomy)

df_prod_taxo_dep=pd.read_csv(file_product_taxonomy,dtype=str,sep="|")
df_prod_taxo_dep=df_prod_taxo_dep[['department_id','class_code_id','subclass_id']].drop_duplicates()

/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/static_files/ProductTaxonomy/MediaStormProductTaxonomy20201207-141734-234.txt

In [5]:
def recursive_file_gen(my_root_dir):
    for root, dirs, files in os.walk(my_root_dir):
        for file in files:
            yield os.path.join(root, file)

MySQL_max_date_POSDepart_before=pd.read_sql("select max(transaction_dt) from Pred_POS_Department;",con=BL_engine)
MySQL_max_date_POSDepart_before=str(MySQL_max_date_POSDepart_before.iloc[0,0])

print("MySQL_max_date_POSDepart_before: "+MySQL_max_date_POSDepart_before)
logging.info("MySQL_max_date_POSDepart_before: "+MySQL_max_date_POSDepart_before)

files_item_POS_plain=list(recursive_file_gen("/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/"))
files_item_POS_plain=[x for x in files_item_POS_plain if x[-4:]==".txt" and "dailysales" in x.lower() and "/MediaStorm_" in x]
files_item_POS_plain=[x for x in files_item_POS_plain if x.split("/MediaStorm_")[1][:10]>MySQL_max_date_POSDepart_before]
print(files_item_POS_plain)

logging.info(files_item_POS_plain)

MySQL_max_date_POSDepart_before: 2020-11-21
['/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-11-28/MediaStormDailySales20201207-160000-297.txt', '/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-05/MediaStormDailySales20201208-130512-542.txt']

In [6]:
files_item_POS_plain.sort()
files_item_POS_plain

['/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-11-28/MediaStormDailySales20201207-160000-297.txt',
 '/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-05/MediaStormDailySales20201208-130512-542.txt']

In [7]:
col_list=pd.read_sql("select * from Pred_POS_Department limit 2;",con=BL_engine).columns.tolist()
print("start_extract_max_order: "+str(datetime.datetime.now()))
logging.info("start_extract_max_order: "+str(datetime.datetime.now()))

df_trans_order_by_id=pd.read_sql("select customer_id_hashed, max(trans_order_since_18Q1) as trans_order_since_18Q1 from Pred_POS_Department \
group by customer_id_hashed;",con=BL_engine)

print("done_extract_max_order: "+str(datetime.datetime.now()))
logging.info("done_extract_max_order: "+str(datetime.datetime.now()))

start_extract_max_order: 2020-12-09 11:02:08.600478
done_extract_max_order: 2020-12-09 14:16:38.396891

In [8]:
print("df_trans_order_by_id.shape",df_trans_order_by_id.shape)
logging.info("df_trans_order_by_id.shape: "+str(df_trans_order_by_id.shape))

df_trans_order_by_id.shape (30462626, 2)

In [9]:
total_sales=0
i_counter=0
for file in files_item_POS_plain:
    print(datetime.datetime.now(),"start",file)
    logging.info(str(datetime.datetime.now())+" | start | "+file)
    
    df=pd.read_csv(file,dtype=str,nrows=None,sep="|")
    df=df.rename(columns={"subclass_transaction_amt":"sales"})
    df=df.rename(columns={"item_transaction_amt":"sales"})
    
    df=df.rename(columns={"subclass_transaction_units":"units"})
    df=df.rename(columns={"item_transaction_units":"units"})
    
    df['sales']=df['sales'].astype(float)
    df['units']=df['units'].astype(int)
    
    
    df=pd.merge(df,df_prod_taxo_dep,on=['class_code_id','subclass_id'],how="left")
    df['department_id']=df['department_id'].fillna("-1")
    df['customer_id_hashed']=df['customer_id_hashed'].fillna("non_rewards")
    
    df=df.groupby(['location_id','transaction_dt','transaction_id','customer_id_hashed','department_id'])['sales','units'].sum().reset_index()
    df=df.sort_values(['customer_id_hashed','transaction_dt','location_id','transaction_id','department_id'])
    
    # add the transaction_order
    df_order_this_week_rewards=df[df['customer_id_hashed']!="non_rewards"]
    df_order_this_week_rewards=df_order_this_week_rewards[['customer_id_hashed','transaction_dt','location_id','transaction_id']].drop_duplicates()
    df_order_this_week_rewards=df_order_this_week_rewards.sort_values(['customer_id_hashed','transaction_dt','location_id','transaction_id'])
    df_order_this_week_rewards['trans_order_in_week']=pd.Categorical(df_order_this_week_rewards['customer_id_hashed']+ '_'+\
                                                                     df_order_this_week_rewards['transaction_dt']+ '_'+\
                                                                     df_order_this_week_rewards['location_id']+ '_'+\
                                                                     df_order_this_week_rewards['transaction_id']
                                                                    ).codes

    df_min_index_per_id=df_order_this_week_rewards[['customer_id_hashed','trans_order_in_week']].sort_values(['customer_id_hashed','trans_order_in_week'],ascending=[True,True]).drop_duplicates("customer_id_hashed")
    df_min_index_per_id=df_min_index_per_id.rename(columns={"trans_order_in_week":"min_order"})
    df_order_this_week_rewards=pd.merge(df_order_this_week_rewards,df_min_index_per_id,on="customer_id_hashed",how="left")
    df_order_this_week_rewards['trans_order_in_week']=df_order_this_week_rewards['trans_order_in_week']-df_order_this_week_rewards['min_order']+1
    
    df_order_this_week_rewards=pd.merge(df_order_this_week_rewards,df_trans_order_by_id,on='customer_id_hashed',how="left")
    df_order_this_week_rewards['trans_order_since_18Q1']=df_order_this_week_rewards['trans_order_since_18Q1'].fillna(0)
    df_order_this_week_rewards['trans_order_since_18Q1']=df_order_this_week_rewards['trans_order_since_18Q1']+df_order_this_week_rewards['trans_order_in_week']
    df_order_this_week_rewards=df_order_this_week_rewards[['customer_id_hashed','transaction_dt','location_id','transaction_id','trans_order_since_18Q1']]
    df=pd.merge(df,df_order_this_week_rewards,on=['customer_id_hashed','transaction_dt','location_id','transaction_id'],how="left")

    #
    df_order_this_week_rewards=df_order_this_week_rewards[['customer_id_hashed','trans_order_since_18Q1']].sort_values(["customer_id_hashed","trans_order_since_18Q1"],ascending=[True,False]).drop_duplicates("customer_id_hashed")
    df_trans_order_by_id=df_order_this_week_rewards.append(df_trans_order_by_id).drop_duplicates("customer_id_hashed")
    
    # format
    df['location_id']=df['location_id'].astype(int)
    df['transaction_dt']=pd.to_datetime(df['transaction_dt'],format="%Y-%m-%d").dt.date
    df['customer_id_hashed']=df['customer_id_hashed'].replace("non_rewards",np.nan)
    df=df.round({'sales': 2})
    
    print(df['transaction_dt'].min(),df['transaction_dt'].max(),datetime.datetime.now())
    logging.info("df['transaction_dt'].min(),df['transaction_dt'].max(),datetime.datetime.now()")
    logging.info(str(df['transaction_dt'].min())+" | "+str(df['transaction_dt'].max())+" | "+str(datetime.datetime.now()))
    

    df.to_sql("Pred_POS_Department",if_exists='append', con=BL_engine, index=False,chunksize=300000,
                    dtype={
                        'location_id':sqlalchemy.types.INTEGER(),
                        'transaction_dt':sqlalchemy.Date(), 
                        'transaction_id':sqlalchemy.types.VARCHAR(length=16),
                        'customer_id_hashed':sqlalchemy.types.VARCHAR(length=64),
                        'department_id':sqlalchemy.types.VARCHAR(length=16),
                        'sales':sqlalchemy.types.DECIMAL(precision=10,scale=2,asdecimal=True),
                        'units':sqlalchemy.types.INTEGER()
                    })

    
    i_counter+=1
    print("done of file: ",i_counter,file)
    logging.info("done of file: "+str(i_counter)+" | "+file)

    total_sales+=df['sales'].sum()
    print(datetime.datetime.now(),"done",file)
    logging.info(str(datetime.datetime.now())+" | done | "+file)

2020-12-09 14:16:38.425308 start /mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-11-28/MediaStormDailySales20201207-160000-297.txt

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2020-11-22 2020-11-28 2020-12-09 14:23:29.432109
done of file:  1 /mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-11-28/MediaStormDailySales20201207-160000-297.txt
2020-12-09 14:50:54.230996 done /mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-11-28/MediaStormDailySales20201207-160000-297.txt
2020-12-09 14:50:54.231914 start /mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-05/MediaStormDailySales20201208-130512-542.txt
2020-11-29 2020-12-05 2020-12-09 14:59:46.578760
done of file:  2 /mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-05/MediaStormDailySales20201208-130512-542.txt
2020-12-09 15:21:48.439140 done /mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-05/MediaStormDailySales20201208-130512-542.txt

In [10]:
print("done of write to sql: "+str(datetime.datetime.now()))
logging.info("done of write to sql: "+str(datetime.datetime.now()))
print('total_sales',total_sales)
logging.info('total_sales'+str(total_sales))

done of write to sql: 2020-12-09 15:21:48.445237
total_sales 362298764.5699998

In [11]:
MySQL_max_date_POSDepart_after=MySQL_max_date_POSDepart=pd.read_sql("select max(transaction_dt) from Pred_POS_Department;",con=BL_engine)
MySQL_max_date_POSDepart_after=str(MySQL_max_date_POSDepart_after.iloc[0,0])

print("MySQL_max_date_POSDepart_after: "+MySQL_max_date_POSDepart_after)
logging.info("MySQL_max_date_POSDepart_after: "+MySQL_max_date_POSDepart_after)

MySQL_max_date_POSDepart_after: 2020-12-05

In [12]:
df_output_confirmation=pd.DataFrame({"date_before_run":[MySQL_max_date_POSDepart_before]*len(files_item_POS_plain),
                                     "date_after_run":[MySQL_max_date_POSDepart_after]*len(files_item_POS_plain),
                                    "files_used":files_item_POS_plain},index=[0]*len(files_item_POS_plain))
df_output_confirmation=df_output_confirmation.reset_index()
del df_output_confirmation['index']
df_output_confirmation

,date_before_run,date_after_run,files_used
0,2020-11-21,2020-12-05,/mnt/clients/juba/hqjubaapp02/sharefolder/bigl...
1,2020-11-21,2020-12-05,/mnt/clients/juba/hqjubaapp02/sharefolder/bigl...

In [13]:
df_output_confirmation['files_used'].tolist()

['/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-11-28/MediaStormDailySales20201207-160000-297.txt',
 '/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-05/MediaStormDailySales20201208-130512-542.txt']

In [14]:
# to crontab on 2020-05-06
print(datetime.datetime.now())

2020-12-09 15:21:48.483464

In [15]:
MySQL_max_date_POSDepart_after

'2020-12-05'

In [16]:
write_folder="./folder_check_with_successful_run/"
try:
    os.stat(write_folder)
except:
    os.mkdir(write_folder)
    
df_output_confirmation.to_csv(write_folder+"done_in_crontab_"+MySQL_max_date_POSDepart_before+"_to_"+MySQL_max_date_POSDepart_after+"_run_on_"+str(datetime.datetime.now().date())+".csv",index=False)

In [17]:
pd.read_sql("desc Pred_POS_Department;",con=BL_engine)

                    Field           Type Null  Key Default Extra
0             location_id        int(11)  YES  MUL    None
1          transaction_dt           date  YES  MUL    None
2          transaction_id    varchar(16)  YES         None
3      customer_id_hashed       char(64)  YES  MUL    None
4           department_id    varchar(16)  YES  MUL    None
5                   sales  decimal(10,2)  YES         None
6                   units        int(11)  YES         None
7  trans_order_since_18Q1        int(11)  YES  MUL    None

In [23]:
df_qc=pd.read_sql("select * from Pred_POS_Department where transaction_dt='2020-11-30' limit 200;",con=BL_engine)
list_qc_ids=df_qc['customer_id_hashed'].unique().tolist()

In [24]:
i=6

str_id="'"+list_qc_ids[i]+"'"
str_id

"'0001fc7f19db8fcdce6743033683b7244bca30142139c3b5f0083231c54f6002'"

In [25]:
df_res_id=pd.read_sql("select * from Pred_POS_Department where customer_id_hashed=%s;"%str_id,con=BL_engine)
df_res_id.tail(20)

,location_id,transaction_dt,transaction_id,customer_id_hashed,department_id,sales,units,trans_order_since_18Q1
14,372,2020-10-27,9873,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,111,1.90,1,7
15,372,2020-10-27,9873,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,120,19.99,1,7
16,372,2020-10-27,9873,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,130,15.50,2,7
17,372,2020-10-27,9873,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,353,25.00,1,7
18,4184,2020-11-23,9315,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,350,13.18,1,8
19,4184,2020-11-23,9315,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,354,27.17,3,8
20,4184,2020-11-23,9315,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,610,29.64,1,8
21,4184,2020-11-23,9323,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,120,2.65,2,9
22,4184,2020-11-23,9323,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,140,3.09,1,9
23,4184,2020-11-23,9323,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,150,10.17,2,9
24,4184,2020-11-23,9323,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,170,2.08,1,9
25,4184,2020-11-23,9323,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,270,8.84,1,9
26,4184,2020-11-23,9323,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,330,1.77,1,9
27,4184,2020-11-23,9323,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,340,31.83,2,9
28,4184,2020-11-23,9323,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,354,15.92,2,9
29,372,2020-11-30,156,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,111,1.70,1,10
30,372,2020-11-30,156,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,310,19.99,1,10
31,372,2020-11-30,156,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,340,10.00,1,10
32,372,2020-11-30,156,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,352,4.00,1,10
33,372,2020-11-30,156,0001fc7f19db8fcdce6743033683b7244bca30142139c3...,354,9.98,2,10

# Pred_CRM_table

In [ ]:
# No need to update

In [10]:
Q1_2018_Start_Date="'2018-02-03'"
df_all_since_18Q1=pd.read_sql("select customer_id_hashed, email_address_hash, sign_up_date, sign_up_channel, \
sign_up_location, customer_zip_code from BL_Rewards_Master \
where sign_up_date >= %s\
order by customer_id_hashed, sign_up_date desc;" %Q1_2018_Start_Date,con=BL_engine)
print(df_all_since_18Q1.shape)
df_all_since_18Q1=df_all_since_18Q1.drop_duplicates("customer_id_hashed")
print(df_all_since_18Q1.shape)

(13338163, 6)
(13338147, 6)

In [11]:
print(df_all_since_18Q1['sign_up_date'].min(),df_all_since_18Q1['sign_up_date'].max())
print(df_all_since_18Q1['customer_id_hashed'].nunique())

2018-02-03 2020-02-29
13338147

In [12]:
df_all_since_18Q1['Registration_Online']=np.where(df_all_since_18Q1['sign_up_channel']=="Online",1,0)

In [13]:
df_all_since_18Q1.to_sql("Pred_CRM_table",if_exists='replace', con=BL_engine, index=False,chunksize=300000,
                    dtype={
                        'customer_id_hashed':sqlalchemy.types.VARCHAR(length=64),
                        'email_address_hash':sqlalchemy.types.VARCHAR(length=64),
                        'sign_up_date':sqlalchemy.Date(),
                        'sign_up_channel':sqlalchemy.types.VARCHAR(length=64),
                        'sign_up_location':sqlalchemy.types.INTEGER(),
                        'customer_zip_code':sqlalchemy.types.VARCHAR(length=16),
                        'Registration_Online':sqlalchemy.types.INTEGER()
                    })

In [14]:
print(datetime.datetime.now())
logging.info("Pred_CRM_also_updated: "+str(datetime.datetime.now()))

2020-03-04 19:12:38.725712

In [15]:
pd.read_sql("select min(sign_up_date), max(sign_up_date), count(customer_id_hashed), count(distinct customer_id_hashed) from Pred_CRM_table;",con=BL_engine)

,min(sign_up_date),max(sign_up_date),count(customer_id_hashed),count(distinct customer_id_hashed)
0,2018-02-03,2020-02-29,13338147,13338147