In [1]:
import pandas as pd
import os
import numpy as np
import datetime
import logging
import sqlalchemy

os.getcwd()

'/home/jian/celery/BL_MySQL/Weekly_Update_MySQL'

In [3]:
logging.basicConfig(filename='/home/jian/celery/BL_MySQL/Weekly_Update_MySQL/weekly_mysql_update_Master_and_POSItem.log',level="INFO")

def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root,file)
            
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [4]:
samplerows=None


existing_tables=pd.read_sql("show tables;",con=BL_engine)
existing_tables

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

   Tables_in_BigLots
0        BL_POS_Item
1    BL_POS_Subclass
2  BL_Rewards_Master
3     Pred_CRM_table

# Update Master

In [5]:
max_date_already_in_SQL=pd.read_sql("select max(sign_up_date) from BL_Rewards_Master;", con=BL_engine)
max_date_already_in_SQL

  max(sign_up_date)
0        2019-12-28

In [6]:
last_week_start=str(max_date_already_in_SQL.iloc[0,0]-datetime.timedelta(days=6))
last_week_start="'"+last_week_start+"'"
last_week_start

"'2019-12-22'"

In [7]:
df_last_week_in_SQL=pd.read_sql("select sign_up_date, \
count(distinct sign_up_date) as day_counts, \
count(distinct customer_id_hashed) as unique_new_sign_ups \
from BL_Rewards_Master \
where sign_up_date>=%s \
group by sign_up_date;" % last_week_start,con=BL_engine)

df_last_week_in_SQL

  sign_up_date  day_counts  unique_new_sign_ups
0   2019-12-22           1                26447
1   2019-12-23           1                25051
2   2019-12-24           1                22263
3   2019-12-25           1                 7355
4   2019-12-26           1                18856
5   2019-12-27           1                16996
6   2019-12-28           1                17715

In [8]:
df_last_week_in_SQL['unique_new_sign_ups'].sum()

134683

In [9]:
col_list=pd.read_sql("select * from BL_Rewards_Master limit 1;",con=BL_engine)
col_list=col_list.columns.tolist()
col_list

['customer_id_hashed',
 'email_address_hash',
 'sign_up_date',
 'sign_up_channel',
 'sign_up_location',
 'customer_zip_code',
 'transaction_count',
 'transaction_amount',
 'experian_multi_cluster',
 'experian_demo_cluster',
 'purchase_channel',
 'email_unsubscribe_indicator',
 'email_undeliverable_indicator',
 'file_path']

In [10]:
files_item_POS_plain=list(recursive_file_gen("/home/jian/BigLots/"))
files_item_POS_plain=[x for x in files_item_POS_plain if x[-4:]==".txt" and "master" in x.lower() and "/MediaStorm_" in x]
files_item_POS_plain=[x for x in files_item_POS_plain if x.split("/MediaStorm_")[1][:10]>str(max_date_already_in_SQL.iloc[0,0])]
files_item_POS_plain

['/home/jian/BigLots/MediaStorm_2020-01-04/MediaStormMasterWeekly20200107-113348-460.txt']

In [11]:
df_new_sign_ups=pd.DataFrame()

for file in files_item_POS_plain:
    df=pd.read_csv(file,dtype=str,nrows=samplerows,sep="|")
    print(os.path.basename(file),datetime.datetime.now(),df.columns.tolist()==col_list)
    df['file_path']=file
    df_new_sign_ups=df_new_sign_ups.append(df)
    
print(df_new_sign_ups.shape)

MediaStormMasterWeekly20200107-113348-460.txt 2020-01-07 17:26:53.602858 False
(115863, 14)

In [12]:
# Clean dataframe column value types

df_new_sign_ups['sign_up_date']=pd.to_datetime(df_new_sign_ups['sign_up_date'],format="%Y-%m-%d").dt.date

#
df_new_sign_ups['sign_up_location']=df_new_sign_ups['sign_up_location'].fillna(-999).astype(int)
df_new_sign_ups['sign_up_location']=df_new_sign_ups['sign_up_location'].replace(-999,np.nan)

df_new_sign_ups['transaction_count']=df_new_sign_ups['transaction_count'].astype(float)
df_new_sign_ups['transaction_amount']=df_new_sign_ups['transaction_amount'].astype(float)
df_new_sign_ups['experian_multi_cluster']=df_new_sign_ups['experian_multi_cluster'].astype(float)
df_new_sign_ups['experian_demo_cluster']=df_new_sign_ups['experian_demo_cluster'].astype(float)

In [13]:
print("check headers: ",df_new_sign_ups.columns.tolist()==col_list)

check headers:  True

In [14]:
print("df_new_sign_ups.shape",df_new_sign_ups.shape)
print("df_new_sign_ups['customer_id_hashed'].nunique()",df_new_sign_ups['customer_id_hashed'].nunique())
print("df_new_sign_ups['email_address_hash'].nunique()",df_new_sign_ups['email_address_hash'].nunique())

df_new_sign_ups.shape (115863, 14)
df_new_sign_ups['customer_id_hashed'].nunique() 115863
df_new_sign_ups['email_address_hash'].nunique() 115863

In [15]:
df_new_sign_ups.to_sql("BL_Rewards_Master",if_exists='append', con=BL_engine, index=False,chunksize=300000)

# QC Master rows

In [19]:
new_last_date_in_sql=pd.read_sql("select max(sign_up_date) from BL_Rewards_Master;", con=BL_engine)
new_last_date_in_sql=str(new_last_date_in_sql.iloc[0,0]-datetime.timedelta(days=6))
new_last_date_in_sql="'"+new_last_date_in_sql+"'"
print("new_last_date_in_sql",new_last_date_in_sql)
new_ids_updated_this_week=pd.read_sql("select sign_up_date, \
count(distinct sign_up_date) as day_counts, \
count(distinct customer_id_hashed) as unique_new_sign_ups \
from BL_Rewards_Master \
where sign_up_date>=%s \
group by sign_up_date;" % new_last_date_in_sql,con=BL_engine)

new_last_date_in_sql '2019-12-29'

In [20]:
new_ids_updated_this_week

  sign_up_date  day_counts  unique_new_sign_ups
0   2019-12-29           1                15964
1   2019-12-30           1                13808
2   2019-12-31           1                12405
3   2020-01-01           1                19543
4   2020-01-02           1                18168
5   2020-01-03           1                19291
6   2020-01-04           1                16684

In [23]:
print("QC the txt count new ids == MySQL new rows: ",df_new_sign_ups.shape[0]==new_ids_updated_this_week['unique_new_sign_ups'].sum())

QC the txt count new ids == MySQL new rows:  True

# Update POS Item

In [6]:
max_date_already_in_SQL=pd.read_sql("select max(transaction_dt) from BL_POS_Item;", con=BL_engine)
max_date_already_in_SQL

  max(transaction_dt)
0          2019-12-28

In [7]:
last_week_start=str(max_date_already_in_SQL.iloc[0,0]-datetime.timedelta(days=6))
last_week_start="'"+last_week_start+"'"
last_week_start

"'2019-12-22'"

In [8]:
max_week_sales_already_in_SQL=pd.read_sql("select transaction_dt, \
sum(item_transaction_amt) as weekly_sales, \
count(distinct transaction_dt) as day_counts, \
count(distinct customer_id_hashed) as unique_shoppers, \
count(distinct location_id) as store_count_include_6990 \
from BL_POS_Item \
where transaction_dt>=%s \
group by transaction_dt;" % last_week_start,con=BL_engine)

max_week_sales_already_in_SQL

,transaction_dt,weekly_sales,day_counts,unique_shoppers,store_count_include_6990
0,2019-12-22,27677400.15,1,353809,1420
1,2019-12-23,29795055.18,1,392662,1421
2,2019-12-24,28576709.46,1,364284,1421
3,2019-12-25,156.43,1,2,1
4,2019-12-26,19008999.40,1,286458,1421
5,2019-12-27,15527399.48,1,248281,1421
6,2019-12-28,16458419.28,1,250426,1421

In [9]:
files_item_POS_plain=list(recursive_file_gen("/home/jian/BigLots/"))
files_item_POS_plain=[x for x in files_item_POS_plain if x[-4:]==".txt" and "dailysales" in x.lower() and "/MediaStorm_" in x]
files_item_POS_plain=[x for x in files_item_POS_plain if x.split("/MediaStorm_")[1][:10]>str(max_date_already_in_SQL.iloc[0,0])]
files_item_POS_plain

['/home/jian/BigLots/MediaStorm_2020-01-04/MediaStormDailySales20200107-112859-015.txt']

In [10]:
col_list=pd.read_sql("select * from BL_POS_Item limit 1;",con=BL_engine)
col_list=col_list.columns.tolist()
col_list

['location_id',
 'transaction_dt',
 'transaction_id',
 'customer_id_hashed',
 'class_code_id',
 'subclass_id',
 'item_id',
 'item_transaction_units',
 'item_transaction_amt']

In [11]:
def item_POS_df_clean_type(df):
    # All fields to keep as str not changed
    df['location_id']=df['location_id'].astype(int)
    df['transaction_dt']=pd.to_datetime(df['transaction_dt'],format="%Y-%m-%d").dt.date
    # df['transaction_id']=df['transaction_id'].astype(str) varchar(16)
    # df['customer_id_hashed']=   char(64)
    # df['class_code_id']=df['class_code_id'].astype(str) varchar(16)
    # df['subclass_id']=df['subclass_id'].astype(str) varchar(16)
    # df['item_id']=df['item_id'].astype(str) varchar(16)
    df['item_transaction_units']=df['item_transaction_units'].astype(int)
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    
    # printthe len of str cols
    # print('transaction_id',df['transaction_id'].apply(len).max())
    # print('class_code_id',df['class_code_id'].apply(len).max())
    # print('subclass_id',df['subclass_id'].apply(len).max())
    # print('item_id',df['item_id'].apply(len).max())
    
    return df

In [12]:
df=pd.read_table(files_item_POS_plain[0],dtype=str,sep="|",nrows=1)
df.columns.tolist()

['location_id',
 'transaction_dt',
 'transaction_id',
 'customer_id_hashed',
 'class_code_id',
 'subclass_id',
 'item_id',
 'item_transaction_units',
 'item_transaction_amt']

In [ ]:
samplerows=None

for file in files_item_POS_plain:
    df=pd.read_table(file,dtype=str,sep="|",nrows=samplerows)
    print(df.columns.tolist()==col_list, datetime.datetime.now(), os.path.basename(file))
    print(df.shape,df['transaction_dt'].min(),df['transaction_dt'].max())
    
    logging.info(str(df.columns.tolist()==col_list)+", "+str(datetime.datetime.now())+", "+str(os.path.basename(file)))
    logging.info(str(df.shape)+", "+str(df['transaction_dt'].min())+", "+str(df['transaction_dt'].max()))
    
    df=item_POS_df_clean_type(df)
    df.to_sql('BL_POS_Item',if_exists='append',con=BL_engine,index=False,
              dtype={
                  'location_id':sqlalchemy.types.INTEGER(),
                  'transaction_dt':sqlalchemy.Date(),
                  'transaction_id':sqlalchemy.types.VARCHAR(length=16),
                  'customer_id_hashed':sqlalchemy.types.VARCHAR(length=64),
                  'class_code_id':sqlalchemy.types.VARCHAR(length=16),
                  'subclass_id':sqlalchemy.types.VARCHAR(length=16),
                  'item_id':sqlalchemy.types.VARCHAR(length=16),
                  'item_transaction_units':sqlalchemy.types.INTEGER(),
                  'item_transaction_amt':sqlalchemy.types.DECIMAL(precision=10,scale=2,asdecimal=True)
                    }
             )
print("All_Done: ",datetime.datetime.now())
logging.info("All_Done: "+str(datetime.datetime.now()))

True 2020-01-07 17:48:47.826678 MediaStormDailySales20200107-112859-015.txt
(14906032, 9) 2019-12-29 2020-01-04

In [ ]:
df=pd.read_table(files_item_POS_plain[0],dtype=str,sep="|",nrows=None)
df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
print(df['item_transaction_amt'].sum())

In [ ]:
max_date_already_in_SQL=pd.read_sql("select max(transaction_dt) from BL_POS_Item;", con=BL_engine)
last_week_start_after_updating=str(max_date_already_in_SQL.iloc[0,0]-datetime.timedelta(days=6))
last_week_start_after_updating="'"+last_week_start_after_updating+"'"
print(last_week_start_after_updating)

In [ ]:
summary_week_sales_already_in_SQL=pd.read_sql("select transaction_dt, \
sum(item_transaction_amt) as weekly_sales, \
count(distinct transaction_dt) as day_counts, \
count(distinct customer_id_hashed) as unique_shoppers, \
count(distinct location_id) as store_count_include_6990 \
from BL_POS_Item \
where transaction_dt>=%s \
group by transaction_dt;" % last_week_start_after_updating,con=BL_engine)

summary_week_sales_already_in_SQL

In [ ]:
print("QC last week sales inline with txt file: ",summary_week_sales_already_in_SQL['weekly_sales'].sum()==summary_week_sales_already_in_SQL['weekly_sales'].sum())