In [1]:
import pandas as pd
import os
import numpy as np
import datetime
import logging
import sqlalchemy
os.getcwd()

'/home/jian/celery/BL_MySQL/Weekly_Update_MySQL'

In [2]:
logging.basicConfig(filename='/home/jian/celery/BL_MySQL/Weekly_Update_MySQL/weekly_mysql_update_POS_item_manually.log',level="INFO")

def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root,file)
            
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [3]:
existing_tables=pd.read_sql("show tables;",con=BL_engine)
existing_tables

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

   Tables_in_BigLots
0        BL_POS_Item
1    BL_POS_Subclass
2  BL_Rewards_Master

In [4]:
pd.read_sql("desc BL_POS_Item;",con=BL_engine)

                    Field           Type Null  Key Default Extra
0             location_id        int(11)  YES  MUL    None
1          transaction_dt           date  YES  MUL    None
2          transaction_id    varchar(16)  YES         None
3      customer_id_hashed       char(64)  YES         None
4           class_code_id    varchar(16)  YES         None
5             subclass_id    varchar(16)  YES         None
6                 item_id    varchar(16)  YES         None
7  item_transaction_units        int(11)  YES         None
8    item_transaction_amt  decimal(10,2)  YES         None

In [5]:
max_date_already_in_SQL=pd.read_sql("select max(transaction_dt) from BL_POS_Item;", con=BL_engine)
max_date_already_in_SQL

  max(transaction_dt)
0          2019-12-21

In [7]:
last_week_start=str(max_date_already_in_SQL.iloc[0,0]-datetime.timedelta(days=6))
last_week_start="'"+last_week_start+"'"
last_week_start

"'2019-12-15'"

In [8]:
max_week_sales_already_in_SQL=pd.read_sql("select transaction_dt, \
sum(item_transaction_amt) as weekly_sales, \
count(distinct transaction_dt) as day_counts, \
count(distinct customer_id_hashed) as unique_shoppers, \
count(distinct location_id) as store_count_include_6990 \
from BL_POS_Item \
where transaction_dt>=%s \
group by transaction_dt;" % last_week_start,con=BL_engine)

max_week_sales_already_in_SQL

,transaction_dt,weekly_sales,day_counts,unique_shoppers,store_count_include_6990
0,2019-12-15,27073591.22,1,349665,1420
1,2019-12-16,19475028.06,1,283419,1421
2,2019-12-17,18874844.49,1,272071,1421
3,2019-12-18,20920788.15,1,291231,1421
4,2019-12-19,22194837.33,1,306381,1421
5,2019-12-20,26644834.83,1,348545,1421
6,2019-12-21,35441653.94,1,427070,1421

In [9]:
max_week_sales_already_in_SQL['weekly_sales'].sum()

170625578.01999998

In [10]:
files_item_POS_plain=list(recursive_file_gen("/home/jian/BigLots/"))
files_item_POS_plain=[x for x in files_item_POS_plain if x[-4:]==".txt" and "dailysales" in x.lower() and "/MediaStorm_" in x]
files_item_POS_plain=[x for x in files_item_POS_plain if x.split("/MediaStorm_")[1][:10]>str(max_date_already_in_SQL.iloc[0,0])]
files_item_POS_plain

['/home/jian/BigLots/MediaStorm_2019-12-28/MediaStormDailySales20191231-112945-515.txt']

In [11]:
col_list=pd.read_sql("select * from BL_POS_Item limit 1;",con=BL_engine)
col_list=col_list.columns.tolist()
col_list

['location_id',
 'transaction_dt',
 'transaction_id',
 'customer_id_hashed',
 'class_code_id',
 'subclass_id',
 'item_id',
 'item_transaction_units',
 'item_transaction_amt']

In [12]:
def item_POS_df_clean_type(df):
    # All fields to keep as str not changed
    df['location_id']=df['location_id'].astype(int)
    df['transaction_dt']=pd.to_datetime(df['transaction_dt'],format="%Y-%m-%d").dt.date
    # df['transaction_id']=df['transaction_id'].astype(str) varchar(16)
    # df['customer_id_hashed']=   char(64)
    # df['class_code_id']=df['class_code_id'].astype(str) varchar(16)
    # df['subclass_id']=df['subclass_id'].astype(str) varchar(16)
    # df['item_id']=df['item_id'].astype(str) varchar(16)
    df['item_transaction_units']=df['item_transaction_units'].astype(int)
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    
    # printthe len of str cols
    # print('transaction_id',df['transaction_id'].apply(len).max())
    # print('class_code_id',df['class_code_id'].apply(len).max())
    # print('subclass_id',df['subclass_id'].apply(len).max())
    # print('item_id',df['item_id'].apply(len).max())
    
    return df

In [13]:
df=pd.read_table(files_item_POS_plain[0],dtype=str,sep="|",nrows=1)
df.columns.tolist()

['location_id',
 'transaction_dt',
 'transaction_id',
 'customer_id_hashed',
 'class_code_id',
 'subclass_id',
 'item_id',
 'item_transaction_units',
 'item_transaction_amt']

In [14]:
col_list

['location_id',
 'transaction_dt',
 'transaction_id',
 'customer_id_hashed',
 'class_code_id',
 'subclass_id',
 'item_id',
 'item_transaction_units',
 'item_transaction_amt']

In [15]:
pd.read_sql("desc BL_POS_Item;",con=BL_engine)

                    Field           Type Null  Key Default Extra
0             location_id        int(11)  YES  MUL    None
1          transaction_dt           date  YES  MUL    None
2          transaction_id    varchar(16)  YES         None
3      customer_id_hashed       char(64)  YES         None
4           class_code_id    varchar(16)  YES         None
5             subclass_id    varchar(16)  YES         None
6                 item_id    varchar(16)  YES         None
7  item_transaction_units        int(11)  YES         None
8    item_transaction_amt  decimal(10,2)  YES         None

In [16]:
samplerows=None

for file in files_item_POS_plain:
    df=pd.read_table(file,dtype=str,sep="|",nrows=samplerows)
    print(df.columns.tolist()==col_list, datetime.datetime.now(), os.path.basename(file))
    print(df.shape,df['transaction_dt'].min(),df['transaction_dt'].max())
    
    logging.info(str(df.columns.tolist()==col_list)+", "+str(datetime.datetime.now())+", "+str(os.path.basename(file)))
    logging.info(str(df.shape)+", "+str(df['transaction_dt'].min())+", "+str(df['transaction_dt'].max()))
    
    df=item_POS_df_clean_type(df)
    df.to_sql('BL_POS_Item',if_exists='append',con=BL_engine,index=False,
              dtype={
                  'location_id':sqlalchemy.types.INTEGER(),
                  'transaction_dt':sqlalchemy.Date(),
                  'transaction_id':sqlalchemy.types.VARCHAR(length=16),
                  'customer_id_hashed':sqlalchemy.types.VARCHAR(length=64),
                  'class_code_id':sqlalchemy.types.VARCHAR(length=16),
                  'subclass_id':sqlalchemy.types.VARCHAR(length=16),
                  'item_id':sqlalchemy.types.VARCHAR(length=16),
                  'item_transaction_units':sqlalchemy.types.INTEGER(),
                  'item_transaction_amt':sqlalchemy.types.DECIMAL(precision=10,scale=2,asdecimal=True)
                    }
             )
print("All_Done: ",datetime.datetime.now())
logging.info("All_Done: "+str(datetime.datetime.now()))

True 2020-01-03 15:46:36.580730 MediaStormDailySales20191231-112945-515.txt
(20115808, 9) 2019-12-22 2019-12-28
All_Done:  2020-01-03 16:12:59.706774

In [17]:
df=pd.read_table(files_item_POS_plain[0],dtype=str,sep="|",nrows=None)
df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
print(df['item_transaction_amt'].sum())

137044139.37999985

In [21]:
max_date_already_in_SQL

  max(transaction_dt)
0          2019-12-28

In [22]:
max_date_already_in_SQL=pd.read_sql("select max(transaction_dt) from BL_POS_Item;", con=BL_engine)
last_week_start_after_updating=str(max_date_already_in_SQL.iloc[0,0]-datetime.timedelta(days=6))
last_week_start_after_updating="'"+last_week_start_after_updating+"'"
print(last_week_start_after_updating)

'2019-12-22'

In [23]:
summary_week_sales_already_in_SQL=pd.read_sql("select transaction_dt, \
sum(item_transaction_amt) as weekly_sales, \
count(distinct transaction_dt) as day_counts, \
count(distinct customer_id_hashed) as unique_shoppers, \
count(distinct location_id) as store_count_include_6990 \
from BL_POS_Item \
where transaction_dt>=%s \
group by transaction_dt;" % last_week_start_after_updating,con=BL_engine)

summary_week_sales_already_in_SQL

,transaction_dt,weekly_sales,day_counts,unique_shoppers,store_count_include_6990
0,2019-12-22,27677400.15,1,353809,1420
1,2019-12-23,29795055.18,1,392662,1421
2,2019-12-24,28576709.46,1,364284,1421
3,2019-12-25,156.43,1,2,1
4,2019-12-26,19008999.40,1,286458,1421
5,2019-12-27,15527399.48,1,248281,1421
6,2019-12-28,16458419.28,1,250426,1421

In [24]:
summary_week_sales_already_in_SQL['weekly_sales'].sum()

137044139.38