In [1]:
import pandas as pd
import datetime
import os
import numpy as np
import hashlib
import gc
import logging
import sqlalchemy


BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [2]:
pd.read_sql("show tables",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

        Tables_in_BigLots
0             BL_POS_Item
1         BL_POS_Subclass
2       BL_Rewards_Master
3     Pred_Activity_BL_id
4     Pred_Activity_GU_id
5          Pred_CRM_table
6   Pred_ExposureV2_BL_id
7   Pred_ExposureV2_GU_id
8     Pred_Exposure_BL_id
9     Pred_Exposure_GU_id
10    Pred_POS_Department
11                   test

In [3]:
writer=pd.ExcelWriter("./Sameples/BL_samples_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")

In [4]:
df_1_CRM=pd.read_sql("select * from Pred_CRM_table limit 100",con=BL_engine)
df_1_CRM.to_excel(writer,"df_1_CRM",index=False)

In [5]:
df_2_POS=pd.read_sql("select * from Pred_POS_Department limit 100",con=BL_engine)
df_2_POS.to_excel(writer,"df_2_POS",index=False)

In [6]:
# df_3_email

In [7]:
df_4_Act=pd.read_sql("select * from Pred_Activity_BL_id limit 100",con=BL_engine)
df_4_Act.to_excel(writer,"df_4_Act",index=False)

In [8]:
df_5_Exp=pd.read_sql("select * from Pred_ExposureV2_BL_id limit 100",con=BL_engine)
df_5_Exp.to_excel(writer,"df_4_Exp",index=False)

In [9]:
writer.save()