In [1]:
# Starting from the output of Bing

import pandas as pd

In [6]:
df_bing=pd.read_csv("/home/jian/celery/Bing_LiveRamp/output/BL_LR_BingStoreSales_2019-04-14_2019-04-20_JL_2019-04-23.txt",dtype=str,nrows=10,sep="|")

df_bing.head(4)

,Email_1,Zip,Timestamp,Conversion_Amount,Product_Group
0,e7b239d884e48cdd957205e0ffb8e793bb7b8a391dc102...,00000,2019-04-20,10.55,In_Store
1,8511c49e8a236d304a45142589d202c14f93626f238150...,00000,2019-04-17,30.00,In_Store
2,a6e74bcb642e3fa880dedd1dd1e29c10f7f838e879c0ac...,00000,2019-04-15,42.25,In_Store
3,007b4b275f7ba5654132e91fe199561e3927eeb951ce1f...,00000,2019-04-16,60.99,In_Store

In [4]:
df_google=df_bing.rename(columns={"Zip":"Zip_Code",
                                  "Timestamp":"transaction_timestamp",
                                  "Product_Group":"transaction_category",
                                  "Conversion_Amount":"transaction_amount"})

df_google=df_google[['Zip_Code','Email_1','transaction_category','transaction_timestamp','transaction_amount']]

local_path_google="/home/jian/celery/Google_LiveRamp/output/BL_LR_BingStoreSales_"+str(data_min_date)+"_"+str(data_max_date)+"_JL_"+str(datetime.datetime.now().date())+".txt"
df_google.to_csv((local_path_google,index=False,sep="|"))

,Email_1,Zip,Timestamp,Conversion_Amount,Product_Group
0,e7b239d884e48cdd957205e0ffb8e793bb7b8a391dc102...,00000,2019-04-20,10.55,In_Store
1,8511c49e8a236d304a45142589d202c14f93626f238150...,00000,2019-04-17,30.00,In_Store
2,a6e74bcb642e3fa880dedd1dd1e29c10f7f838e879c0ac...,00000,2019-04-15,42.25,In_Store
3,007b4b275f7ba5654132e91fe199561e3927eeb951ce1f...,00000,2019-04-16,60.99,In_Store
4,06ed5fad7076312c0776c5d2a9456f0c81ea85da054b47...,00000,2019-04-20,9.75,In_Store
5,3030b8eaf1c6c486ccf6752ebab1b9d466e1f0f3c3e3c9...,00000,2019-04-19,25.15,In_Store
6,9e7ac88ca1d5261ffa997bb6ccc4f4ae97456563b4b505...,00000,2019-04-15,31.34,In_Store
7,dd029669d592ac47c772ce77a206e98bc64d578ac5fd37...,00000,2019-04-14,55.50,In_Store
8,b323980361b786d2e3edd816b94dd4d5c6897da0dd5e60...,00000,2019-04-19,89.60,In_Store
9,84e66f3b30dd57684532f2df941620b82b339c04e8e6cf...,00000,2019-04-18,20.00,In_Store

In [5]:
import paramiko

host = "sftp.liveramp.com" #hard-coded
port = 22
transport = paramiko.Transport((host, port))

password = "Jubaplus2019!" #hard-coded
username = "big-lots-ga-aw" #hard-coded
transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)

,Zip_Code,Email_1,transaction_category,transaction_timestamp,transaction_amount
0,00000,e7b239d884e48cdd957205e0ffb8e793bb7b8a391dc102...,In_Store,2019-04-20,10.55
1,00000,8511c49e8a236d304a45142589d202c14f93626f238150...,In_Store,2019-04-17,30.00
2,00000,a6e74bcb642e3fa880dedd1dd1e29c10f7f838e879c0ac...,In_Store,2019-04-15,42.25
3,00000,007b4b275f7ba5654132e91fe199561e3927eeb951ce1f...,In_Store,2019-04-16,60.99
4,00000,06ed5fad7076312c0776c5d2a9456f0c81ea85da054b47...,In_Store,2019-04-20,9.75
5,00000,3030b8eaf1c6c486ccf6752ebab1b9d466e1f0f3c3e3c9...,In_Store,2019-04-19,25.15
6,00000,9e7ac88ca1d5261ffa997bb6ccc4f4ae97456563b4b505...,In_Store,2019-04-15,31.34
7,00000,dd029669d592ac47c772ce77a206e98bc64d578ac5fd37...,In_Store,2019-04-14,55.50
8,00000,b323980361b786d2e3edd816b94dd4d5c6897da0dd5e60...,In_Store,2019-04-19,89.60
9,00000,84e66f3b30dd57684532f2df941620b82b339c04e8e6cf...,In_Store,2019-04-18,20.00

In [ ]:
# local_path defined above before saving the local txt
remote_path="/uploads/"+os.path.basename(local_path_google)
sftp.put(local_path,remote_path)
sftp.close()