In [1]:
import pandas as pd
import numpy as np
import os
import datetime
import glob
os.getcwd()

# Note email cpm updated based on the Q1 client number
# Flipp hosted not included in wide version

'/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q1'

In [2]:
new_quarter="2020Q2"
new_quarter_start_date="2020-05-03"
new_quarter_end_date="2020-08-01"
os.getcwd()

'/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q1'

In [3]:
TMR_up_to_2020Q1=pd.read_csv("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q1/output/BL_MMM_long_cumu_up_to_2020Q1_JL_2020-12-06.csv",dtype=str)
TMR_up_to_2020Q1['impression']=TMR_up_to_2020Q1['impression'].fillna(0).astype(float).astype(int)
TMR_up_to_2020Q1['click']=TMR_up_to_2020Q1['click'].fillna(0).astype(float).astype(int)
TMR_up_to_2020Q1['cost']=TMR_up_to_2020Q1['cost'].fillna(0).astype(float)

In [4]:
TMR_up_to_2020Q1_no_DMA=TMR_up_to_2020Q1.groupby(["week date","media","submedia","placement"])['impression','click','cost'].sum().reset_index()
print(TMR_up_to_2020Q1_no_DMA['week date'].min())
print(TMR_up_to_2020Q1_no_DMA['week date'].max())
# TMR_up_to_2020Q1_no_DMA

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

2016-09-25
2020-04-26

In [5]:
TMR_up_to_2020Q1_no_DMA.head(2)

    week date    media submedia  placement  impression   click          cost
0  2016-09-25    Email       xx         xx    11581550  113834   5278.691191
1  2016-10-02  Digital    Flipp  Flipp App       74691   37222  10794.380000

In [6]:
def get_week_end_date_BL(x):
    if x.weekday()==6:
        y=x+datetime.timedelta(days=6)
    else:
        y=x+datetime.timedelta(days=5-x.weekday())
    return y

# TV

In [7]:
# Email: Big Lots Q2 TMR from Jessica, Fhursday, Sept 9, 2020 at 3:28 PM
'''
Media   (net)                                        
National&Sinclair $1,106,458
DRTV $384,878
'''

# Only 1 week for local sinclair, ignore it
NationalSinclair_tv_cost=1106458
DRTV_tv_cost=384878
TV_TMR_data=pd.DataFrame()

In [8]:
TV_print_excel=pd.ExcelFile("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q2/input_2020Q2/Big Lots Q2 TMR 9.9.20.xlsx")
print(TV_print_excel.sheet_names)
                      
df_TV_national=TV_print_excel.parse("National",dtype=str,skiprows=2)
# df_TV_sinclair=TV_print_excel.parse("Sinclair",dtype=str,skiprows=2)
df_TV_DRTV=TV_print_excel.parse("DRTV",dtype=str,skiprows=2)

print(df_TV_national.shape,df_TV_DRTV.shape)

['National', 'DRTV', 'Circ Spend']
(2720, 18) (2958, 18)

In [9]:
df_TV_national.head(2)

,Q1,Post,Strata: NHI ACM Live +3,Baltimore,WeTV,Spot Cable,W25-54,2018-02-05 00:00:00,2/10/2018,Saturday,5:27 PM,30,LIVE PD,21.25,0.77,3935,"6740 COMCAST, Baltimore Interconnect-Cable",Unnamed: 17
0,Q2 2020,Post,Strata: NHI ACM Live +3,National,BRVO,Cable,W25-54,2020-05-11 00:00:00,05/17/2020,Su,3:25AM,:15,CASH CAB,NaN,0.04189048239895697,25704,NaN,NaN
1,Q2 2020,Post,Strata: NHI ACM Live +3,National,CNN,Cable,W25-54,2020-05-11 00:00:00,05/17/2020,Su,6:16AM,:15,NEW DAY SUNDAY,NaN,0.02770208604954368,16998,NaN,NaN

In [10]:
df_TV_national=df_TV_national[["Q1",'Baltimore',"WeTV",' 2/10/2018',3935]]
df_TV_national.columns=["Q1 2020",'National',"Network","Air Date",' Imp(000) - Women 25-54']
# df_TV_national['Air Date']=df_TV_national['Air Date'].apply(lambda x: x.strip())
df_TV_national=df_TV_national[pd.notnull(df_TV_national['Air Date'])]

df_TV_national=df_TV_national.rename(columns={"Network":"placement"})
df_TV_national['date']=df_TV_national['Air Date'].apply(lambda x: datetime.datetime.strptime(x," %m/%d/%Y").date() if "/" in x else datetime.datetime.strptime(x,"%Y-%m-%d %H:%M:%S").date())
df_TV_national['impression']=df_TV_national[' Imp(000) - Women 25-54'].astype(float)

df_TV_national['media']="TV"
df_TV_national['submedia']="National"
df_TV_national['click']=0
df_TV_national['week date']=df_TV_national['date'].apply(get_week_end_date_BL)
df_TV_national['week date']=df_TV_national['week date'].apply(lambda x: x-datetime.timedelta(days=6))

sum_national_cable_impr=df_TV_national['impression'].sum()
df_TV_national['cost']=df_TV_national['impression']/sum_national_cable_impr*NationalSinclair_tv_cost
print("df_TV_national['cost'].sum()",df_TV_national['cost'].sum())
df_TV_national=df_TV_national[TMR_up_to_2020Q1_no_DMA.columns.tolist()]

df_TV_national['cost'].sum() 1106458.0

In [11]:
df_TV_DRTV.head(2)

,Q1,Post,Unnamed: 2,Baltimore,WeTV,Spot Cable,W25-54,2018-02-05 00:00:00,2/10/2018,Saturday,5:27 PM,30,LIVE PD,21.25,0.77,3935,"6740 COMCAST, Baltimore Interconnect-Cable",Unnamed: 17
0,Q2 2020,Post,Strata: NHI ACM Live +3,National,Fox News Channel,Cable,W25-54,2020-06-15 00:00:00,2020-06-21 00:00:00,Sunday,06:59A,:15,FOX AND FRIENDS,NaN,0.06,36714,NaN,NaN
1,Q2 2020,Post,Strata: NHI ACM Live +3,National,Fox News Channel,Cable,W25-54,2020-06-15 00:00:00,2020-06-21 00:00:00,Sunday,07:43A,:15,FOX AND FRIENDS,NaN,0.09,55071,NaN,NaN

In [12]:
df_TV_DRTV=df_TV_DRTV[["Q1",'Baltimore',"WeTV",' 2/10/2018',3935]]
df_TV_DRTV.columns=["Q1 2020",'National',"Network","Air Date",' Imp(000) - Women 25-54']
# df_TV_DRTV['Air Date']=df_TV_DRTV['Air Date'].apply(lambda x: x.strip())
df_TV_DRTV=df_TV_DRTV[pd.notnull(df_TV_DRTV['Air Date'])]

df_TV_DRTV=df_TV_DRTV.rename(columns={"Network":"placement"})
df_TV_DRTV['date']=df_TV_DRTV['Air Date'].apply(lambda x: datetime.datetime.strptime(x," %m/%d/%Y").date() if "/" in x else datetime.datetime.strptime(x,"%Y-%m-%d %H:%M:%S").date())
df_TV_DRTV['impression']=df_TV_DRTV[' Imp(000) - Women 25-54'].astype(float)

df_TV_DRTV['media']="TV"
df_TV_DRTV['submedia']="National"
df_TV_DRTV['click']=0
df_TV_DRTV['week date']=df_TV_DRTV['date'].apply(get_week_end_date_BL)
df_TV_DRTV['week date']=df_TV_DRTV['week date'].apply(lambda x: x-datetime.timedelta(days=6))

sum_DRTV_impr=df_TV_DRTV['impression'].sum()
df_TV_DRTV['cost']=df_TV_DRTV['impression']/sum_DRTV_impr*DRTV_tv_cost
print("df_TV_DRTV['cost'].sum()",df_TV_DRTV['cost'].sum())
df_TV_DRTV=df_TV_DRTV[TMR_up_to_2020Q1_no_DMA.columns.tolist()]

df_TV_DRTV['cost'].sum() 384878.0

In [13]:
TV_TMR_data=df_TV_national.append(df_TV_DRTV)
TV_TMR_data['week date']=TV_TMR_data['week date'].astype(str)
print("TV_TMR_data['cost'].sum()",TV_TMR_data['cost'].sum())
print("TV_TMR_data['impression'].sum()",TV_TMR_data['impression'].sum())

TV_TMR_data['cost'].sum() 1491336.0
TV_TMR_data['impression'].sum() 30574214.5

In [14]:
TV_TMR_data.shape

(3994, 7)

In [15]:
TV_TMR_data=TV_TMR_data.groupby(['week date','media','submedia','placement'])['impression','click','cost'].sum().reset_index()
TV_TMR_data.shape

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

(333, 7)

In [16]:
TV_TMR_data=TV_TMR_data[TV_TMR_data['week date']>=new_quarter_start_date]
TV_TMR_data=TV_TMR_data[TV_TMR_data['week date']<=new_quarter_end_date]
print(TV_TMR_data.shape)
print(TV_TMR_data['week date'].nunique())
print(TV_TMR_data['week date'].min())
print(TV_TMR_data['week date'].max())


df_TV_summary=TV_TMR_data.groupby(['submedia'])['impression','cost'].sum().reset_index()
df_TV_summary['impression']=df_TV_summary['impression'].astype(int)
df_TV_summary

(333, 7)
4
2020-05-17
2020-06-28

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

   submedia  impression       cost
0  National    30574214  1491336.0

In [17]:
df_qc_tv_lastyear=TMR_up_to_2020Q1_no_DMA[TMR_up_to_2020Q1_no_DMA['week date']>="2019-05-05"]
df_qc_tv_lastyear=df_qc_tv_lastyear[df_qc_tv_lastyear['week date']<="2019-08-03"]
df_qc_tv_lastyear=df_qc_tv_lastyear[df_qc_tv_lastyear['media']=="TV"]
print(df_qc_tv_lastyear['cost'].sum(),df_qc_tv_lastyear['impression'].sum())

# In line

1697094.7 111259722

In [18]:
df_TV_summary['cost'].sum(),df_TV_summary['impression'].sum()

(1491336.0000000002, 30574214)

In [19]:
1491336.0000000002/1697094.7

0.878758268469049

In [20]:
30574214/111259722

0.2748003810399598

In [21]:
print(datetime.datetime.now())

2020-12-07 01:22:02.302229

# Print Circulation

In [22]:
week_1=datetime.date(2020,2,2)
df_week_2020Q2=pd.DataFrame({"week date":week_1},index=range(13,26))
df_week_2020Q2['Week']=range(13,26)
df_week_2020Q2['week date']=df_week_2020Q2['Week'].apply(lambda x: week_1+datetime.timedelta(days=x*7))
df_week_2020Q2['Week']=df_week_2020Q2['Week']+1

In [23]:
df_print_circ=TV_print_excel.parse("Circ Spend",dtype=str,skiprows=1)
df_print_circ['Week']=df_print_circ['Week'].apply(lambda x: int(x.split("(")[0].split(" ")[1]))
df_print_circ=pd.merge(df_print_circ,df_week_2020Q2,on="Week")
df_print_circ=df_print_circ.rename(columns={"Quantities":"impression","Spend":"cost"})
df_print_circ['click']=0
df_print_circ['cost']=df_print_circ['cost'].astype(float)
df_print_circ['media']="Circulation"
df_print_circ['submedia']="xx"
df_print_circ['placement']="xx"

df_print_circ=df_print_circ[TMR_up_to_2020Q1_no_DMA.columns.tolist()]
print(df_print_circ.shape)
print(df_print_circ['week date'].nunique(),df_print_circ['week date'].min(),df_print_circ['week date'].max())
print(pd.to_datetime(df_print_circ['week date']).dt.day_name().unique())

# Update for this quarter some circulation was printed but not delivered
df_print_circ['cost']=np.where(df_print_circ['impression']==0,0,df_print_circ['cost'])

(5, 7)
5 2020-05-17 2020-07-26
['Sunday']

# Others from Datorama

In [24]:
list_datorama_files=glob.glob("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q2/input_2020Q2/datorama_files/*.csv")
list_datorama_files.sort()
list_datorama_files

['/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q2/input_2020Q2/datorama_files/Digital Weekly Media Data  (Search).csv',
 '/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q2/input_2020Q2/datorama_files/Digital Weekly Media Data without Placement (excluded FB).csv',
 '/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q2/input_2020Q2/datorama_files/E-circular_Flipp & Print Circular & Email by Week.csv',
 '/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q2/input_2020Q2/datorama_files/Social Daily Media Data.csv']

In [25]:
df_1_search=pd.read_csv(list_datorama_files[0])
df_1_search.columns=[x.lower() for x in df_1_search.columns.tolist()]
df_1_search=df_1_search.rename(columns={"impressions":"impression","clicks":"click","media cost":"cost"})
df_1_search=df_1_search[['week','media','submedia','placement','impression','click','cost']]
df_1_search['submedia']=df_1_search['submedia'].replace({"Paid SEM Campaign":"SEM"}).replace({"Shopping Campaign":"PLA"})
df_1_search=df_1_search.sort_values(['media','submedia','placement','week'])
df_1_search.head(2)

                week    media submedia placement  impression    click     cost
7   2020-05-17 00:00  Digital      PLA      Bing      1731.0     40.0    21.11
14  2020-05-31 00:00  Digital      PLA      Bing    618901.0  12864.0  2586.76

In [26]:
df_2_digital=pd.read_csv(list_datorama_files[1])
df_2_digital.columns=[x.lower() for x in df_2_digital.columns.tolist()]
df_2_digital=df_2_digital.rename(columns={"impressions":"impression","clicks":"click","media cost":"cost"})
df_2_digital=df_2_digital[['week','media','submedia','impression','click','cost','partner','tactic']]

df_2_digital_YT=df_2_digital[df_2_digital['partner']=="YouTube"]
df_2_digital_YT['placement']=df_2_digital_YT['submedia']
df_2_digital_YT['submedia']="YouTube"
df_2_digital_YT=df_2_digital_YT[df_1_search.columns.tolist()]

df_2_digital_Pandora=df_2_digital[df_2_digital['partner']=="Pandora"]
df_2_digital_Pandora['placement']=df_2_digital_Pandora['submedia']
df_2_digital_Pandora['submedia']="Pandora"
df_2_digital_Pandora=df_2_digital_Pandora[df_1_search.columns.tolist()]

df_2_digital_Programmatic=df_2_digital[~df_2_digital['partner'].isin(["YouTube",'Pandora'])]
df_2_digital_Programmatic['placement']=df_2_digital_Programmatic['submedia']
df_2_digital_Programmatic['submedia']="Programmatic"
df_2_digital_Programmatic=df_2_digital_Programmatic[df_1_search.columns.tolist()]

df_2_digital=df_2_digital_YT.append(df_2_digital_Pandora).append(df_2_digital_Programmatic)


df_2_digital.head(2)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,week,media,submedia,placement,impression,click,cost
3,2020-07-26 00:00,Digital,YouTube,Multiplatform Video,0.0,0.0,89041.431619
4,2020-07-26 00:00,Digital,YouTube,Programmatic Video,25442562.0,15519.0,0.000000

In [27]:
df_3_email_ecirc=pd.read_csv(list_datorama_files[2])
df_3_email_ecirc.columns=[x.lower() for x in df_3_email_ecirc.columns.tolist()]
df_3_email_ecirc=df_3_email_ecirc.rename(columns={"impressions":"impression","clicks":"click","media cost":"cost"})
df_3_email_ecirc=df_3_email_ecirc[['week','media','placement','impression','click','cost']]
df_3_email_ecirc.insert(2,"submedia",np.nan)
df_3_email_ecirc['submedia']=np.where(df_3_email_ecirc['media']=="Digital","Flipp","xx")
df_3_email_ecirc['placement']=np.where(df_3_email_ecirc['media']=="Digital",df_3_email_ecirc['placement'],"xx")

df_3_email_ecirc.head(3)

               week    media submedia placement  impression     click  cost
0  2020-07-26 00:00  Digital    Flipp    Hosted    157520.0  134286.0   0.0
1  2020-07-19 00:00  Digital    Flipp    Hosted    191881.0  166735.0   0.0
2  2020-07-12 00:00  Digital    Flipp    Hosted    164553.0  142066.0   0.0

In [28]:
df_4_email_social=pd.read_csv(list_datorama_files[3])
df_4_email_social.columns=[x.lower() for x in df_4_email_social.columns.tolist()]
df_4_email_social=df_4_email_social.rename(columns={"impressions":"impression","clicks":"click","media cost":"cost"})

df_4_email_social=df_4_email_social[['week','media','submedia','partner','impression','click','cost']]
df_4_email_social=df_4_email_social.rename(columns={"partner":"placement"})
df_4_email_social.head(3)

,week,media,submedia,placement,impression,click,cost
0,2020-05-03 00:00,Digital,Social,Pinterest,57542.0,94.0,0.00
1,2020-05-03 00:00,Digital,Social,Pinterest,3430553.0,7721.0,9651.54
2,2020-05-03 00:00,Digital,Social,Facebook,9636280.0,96410.0,30935.49

In [29]:
df_all_digital_from_datorama=pd.concat([df_1_search,df_2_digital,df_3_email_ecirc,df_4_email_social])
df_all_digital_from_datorama['week']=df_all_digital_from_datorama['week'].apply(lambda x: x.split(" ")[0])
df_all_digital_from_datorama=df_all_digital_from_datorama.rename(columns={"week":"week date"})

# QC week date as 
df_all_digital_from_datorama['week_as_date'] = pd.to_datetime(df_all_digital_from_datorama['week date'])
df_all_digital_from_datorama['day_of_week'] = df_all_digital_from_datorama['week_as_date'].dt.day_name()
print(df_all_digital_from_datorama['day_of_week'].unique())
del df_all_digital_from_datorama['week_as_date']
del df_all_digital_from_datorama['day_of_week']

df_all_digital_from_datorama.head(2)

['Sunday']

     week date    media submedia placement  impression    click     cost
7   2020-05-17  Digital      PLA      Bing      1731.0     40.0    21.11
14  2020-05-31  Digital      PLA      Bing    618901.0  12864.0  2586.76

In [30]:
print(df_all_digital_from_datorama['week date'].nunique())
print(df_all_digital_from_datorama['week date'].min())
print(df_all_digital_from_datorama['week date'].max())

13
2020-05-03
2020-07-26

# Cumulative

In [32]:
Q2_2020_only_TMR=df_all_digital_from_datorama.append(df_print_circ).append(TV_TMR_data)
#
Cum_Q2_2020_TMR=TMR_up_to_2020Q1.append(Q2_2020_only_TMR)

In [33]:
try:
    os.stat("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q2/output/")
except:
    os.mkdir("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q2/output/")

Q2_2020_only_TMR.to_csv("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q2/output/BL_MMM_2020Q2_Only_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
Cum_Q2_2020_TMR.to_csv("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2020Q2/output/BL_MMM_long_cumu_up_to_2020Q2_JL_"+str(datetime.datetime.now().date())+".csv",index=False)