In [1]:
import pandas as pd
import numpy as np
import os
import datetime
import glob
os.getcwd()

# Note email cpm updated based on the Q4 client number
# Flipp hosted not included in wide version

'/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2019Q4'

In [2]:
new_quarter="2019Q4"
new_quarter_start_date="2019-11-03"
new_quarter_end_date="2020-02-01"
os.getcwd()

'/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2019Q4'

In [3]:
TMR_up_to_2019Q3=pd.read_csv("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2019Q3/output/BL_MMM_long_cumu_up_to_2019Q3_JL_2020-03-06.csv",dtype=str)
TMR_up_to_2019Q3['impression']=TMR_up_to_2019Q3['impression'].astype(float).astype(int)
TMR_up_to_2019Q3['click']=TMR_up_to_2019Q3['click'].astype(float).astype(int)
TMR_up_to_2019Q3['cost']=TMR_up_to_2019Q3['cost'].astype(float)

In [4]:
TMR_up_to_2019Q3_no_DMA=TMR_up_to_2019Q3.groupby(["week date","media","submedia","placement"])['impression','click','cost'].sum().reset_index()
print(TMR_up_to_2019Q3_no_DMA['week date'].min())
print(TMR_up_to_2019Q3_no_DMA['week date'].max())
# TMR_up_to_2019Q3_no_DMA

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

2016-09-25
2019-10-27

In [5]:
TMR_up_to_2019Q3_no_DMA.head(2)

    week date    media submedia  placement  impression   click          cost
0  2016-09-25    Email       xx         xx    11581550  113834   5278.691191
1  2016-10-02  Digital    Flipp  Flipp App       74691   37222  10794.380000

In [6]:
def get_week_end_date_BL(x):
    if x.weekday()==6:
        y=x+datetime.timedelta(days=6)
    else:
        y=x+datetime.timedelta(days=5-x.weekday())
    return y

# TV

In [7]:
# Email: RE: Big Lots TMR data needed for updating from Jessica, Fhursday, May 28, 2020 at 5:11 AM
'''
Media   (To confirm if net or gross, last quarter was net)                                        
National: $6,739,414
Local: $1,251,979
'''
national_tv_cost=6739414
local_tv_cost=1251979
TV_TMR_data=pd.DataFrame()

In [8]:
TV_print_excel=pd.ExcelFile("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2019Q4/input_2019Q4/Big Lots Q419 TMR 5.28.20.xlsx")
print(TV_print_excel.sheet_names)
df_TV_national=TV_print_excel.parse("National",dtype=str,skiprows=1)
df_TV_local=TV_print_excel.parse("Local",dtype=str,skiprows=1)

print(df_TV_national.shape,df_TV_local.shape)
df_TV_national.head(2)

['National', 'Local', 'Q4 Print Circ', 'No Imp Spots Nat']
(7788, 19) (374640, 11)

,Q4 2019,Post,Strata: NHI ACM Live +3,National,Network,Cable,W25-54,Week Of,Air Date,Day,Time,Length,Act Program,Rating,Imp(000) - Women 25-54,Women 25-54,30,LGTS1115000,19May/BL/L&G/MemDay/Generic
0,Q4 2019,Post,Strata: NHI ACM Live +3,National,AMC,Cable,W25-54,2019-11-25 00:00:00,11/26/19,Tu,3:20AM,15,AMC MOVIE,0.07310462842242503,44.857,44857,NaN,NaN,NaN
1,Q4 2019,Post,Strata: NHI ACM Live +3,National,AMC,Cable,W25-54,2019-11-25 00:00:00,11/26/19,Tu,3:42AM,15,AMC MOVIE,0.040717079530638856,24.984,24984,NaN,NaN,NaN

In [9]:
df_TV_national=df_TV_national[["Q4 2019",'National',"Network","Air Date",' Imp(000) - Women 25-54']]

df_TV_national=df_TV_national[pd.notnull(df_TV_national['Air Date'])]

df_TV_national=df_TV_national.rename(columns={"Network":"placement"})
df_TV_national['date']=df_TV_national['Air Date'].apply(lambda x: datetime.datetime.strptime(x," %m/%d/%y").date() if "/" in x else datetime.datetime.strptime(x,"%Y-%m-%d %H:%M:%S").date())
df_TV_national['impression']=df_TV_national[' Imp(000) - Women 25-54'].astype(float)*1000

df_TV_national['media']="TV"
df_TV_national['submedia']="National"
df_TV_national['click']=0
df_TV_national['week date']=df_TV_national['date'].apply(get_week_end_date_BL)
df_TV_national['week date']=df_TV_national['week date'].apply(lambda x: x-datetime.timedelta(days=6))


'''
df_TV_national_Cable=df_TV_national[df_TV_national['National']=="National"]
sum_national_cable_impr=df_TV_national_Cable['impression'].sum()
print("sum_national_cable_impr",sum_national_cable_impr)
# 650,096 from email, Faith, Friday, February 28, 2020 at 5:41 PM
df_TV_national_Cable['cost']=df_TV_national_Cable['impression']/sum_national_cable_impr*650096
df_TV_national_Cable=df_TV_national_Cable[TMR_up_to_2019Q3_no_DMA.columns.tolist()]
print("df_TV_national_Cable['cost'].sum()",df_TV_national_Cable['cost'].sum())
'''
sum_national_cable_impr=df_TV_national['impression'].sum()
df_TV_national['cost']=df_TV_national['impression']/sum_national_cable_impr*national_tv_cost
print("df_TV_national['cost'].sum()",df_TV_national['cost'].sum())
df_TV_national=df_TV_national[TMR_up_to_2019Q3_no_DMA.columns.tolist()]

df_TV_national['cost'].sum() 6739414.0

In [10]:
df_TV_national.head(2)

    week date media  submedia placement  impression  click         cost
0  2019-11-24    TV  National       AMC     44857.0      0  1044.699984
1  2019-11-24    TV  National       AMC     24984.0      0   581.866473

In [11]:
df_TV_local=df_TV_local[['Network','Air Date',' Imp - Women 25-54']].rename(columns={" Imp - Women 25-54":"impression"})
df_TV_local['impression']=df_TV_local['impression'].astype(float)
df_TV_local['date']=df_TV_local['Air Date'].apply(lambda x: datetime.datetime.strptime(x," %m/%d/%y").date() if "/" in x else datetime.datetime.strptime(x,"%Y-%m-%d %H:%M:%S").date())


df_TV_local=df_TV_local.rename(columns={"Network":"placement"})
df_TV_local['media']="TV"
df_TV_local['submedia']="Local"
df_TV_local['click']=0
df_TV_local['week date']=df_TV_local['date'].apply(get_week_end_date_BL)
df_TV_local['week date']=df_TV_local['week date'].apply(lambda x: x-datetime.timedelta(days=6))

'''
df_TV_local_and_DTV=df_TV_local.append(df_TV_national_DRTV)
sum_local_and_DTV_impr=df_TV_local_and_DTV['impression'].sum()
print("sum_local_and_DTV_impr",sum_local_and_DTV_impr)
# 340,349 from email, Faith, Friday, February 28, 2020 at 5:41 PM
'''
sum_local_impr=df_TV_local['impression'].sum()
df_TV_local['cost']=df_TV_local['impression']/sum_local_impr*local_tv_cost

df_TV_local=df_TV_local[TMR_up_to_2019Q3_no_DMA.columns.tolist()]
print("df_TV_local['cost'].sum()",df_TV_local['cost'].sum())
df_TV_local.head(2)

df_TV_local['cost'].sum() 1251978.9999999998

    week date media submedia placement   impression  click       cost
0  2019-11-03    TV    Local       VH1    34.319109      0   0.822465
1  2019-11-03    TV    Local      FRFM  1469.917702      0  35.226895

In [12]:
TV_TMR_data=df_TV_national.append(df_TV_local)
TV_TMR_data['week date']=TV_TMR_data['week date'].astype(str)
print("TV_TMR_data['cost'].sum()",TV_TMR_data['cost'].sum())
print("TV_TMR_data['impression'].sum()",TV_TMR_data['impression'].sum())

TV_TMR_data['cost'].sum() 7991393.0
TV_TMR_data['impression'].sum() 341616350.91141367

In [13]:
TV_TMR_data.head(2)

    week date media  submedia placement  impression  click         cost
0  2019-11-24    TV  National       AMC     44857.0      0  1044.699984
1  2019-11-24    TV  National       AMC     24984.0      0   581.866473

In [14]:
TV_TMR_data.shape

(382395, 7)

In [15]:
TV_TMR_data=TV_TMR_data.groupby(['week date','media','submedia','placement'])['impression','click','cost'].sum().reset_index()
TV_TMR_data.shape

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

(348, 7)

In [16]:
TV_TMR_data=TV_TMR_data[TV_TMR_data['week date']>=new_quarter_start_date]
TV_TMR_data=TV_TMR_data[TV_TMR_data['week date']<=new_quarter_end_date]
print(TV_TMR_data.shape)
print(TV_TMR_data['week date'].nunique())
print(TV_TMR_data['week date'].min())
print(TV_TMR_data['week date'].max())


df_TV_summary=TV_TMR_data.groupby(['submedia'])['impression','cost'].sum().reset_index()
df_TV_summary['impression']=df_TV_summary['impression'].astype(int)
df_TV_summary

(335, 7)
11
2019-11-03
2020-01-19

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  if __name__ == '__main__':

   submedia  impression          cost
0     Local    52240271  1.251949e+06
1  National   287377653  6.692900e+06

In [17]:
df_qc_tv_lastyear=TMR_up_to_2019Q3_no_DMA[TMR_up_to_2019Q3_no_DMA['week date']>="2018-11-04"]
df_qc_tv_lastyear=df_qc_tv_lastyear[df_qc_tv_lastyear['week date']<="2019-02-02"]
df_qc_tv_lastyear=df_qc_tv_lastyear[df_qc_tv_lastyear['media']=="TV"]
print(df_qc_tv_lastyear['cost'].sum(),df_qc_tv_lastyear['impression'].sum())

# In line

7234663.6499999985 550076812

In [18]:
print(datetime.datetime.now())

2020-12-03 14:29:44.179390

# Print Circulation

In [19]:
df_print_circ=TV_print_excel.parse("Q4 Print Circ",dtype=str,skiprows=None)
df_print_circ['week date']=df_print_circ['Date'].apply(lambda x: x.split(" ")[0])
df_print_circ['impression']=df_print_circ['Quantity'].astype(int)
df_print_circ['click']=0
df_print_circ['cost']=df_print_circ['Cost'].astype(float)
df_print_circ['media']="Circulation"
df_print_circ['submedia']="xx"
df_print_circ['placement']="xx"
df_print_circ=df_print_circ[TMR_up_to_2019Q3_no_DMA.columns.tolist()]
print(df_print_circ.shape)
print(df_print_circ['week date'].nunique(),df_print_circ['week date'].min(),df_print_circ['week date'].max())
print(pd.to_datetime(df_print_circ['week date']).dt.day_name().unique())

(13, 7)
13 2019-11-03 2020-01-26
['Sunday']

# Others from Datorama

In [20]:
list_datorama_files=glob.glob("./input_2019Q4/datorama_files/*.csv")
list_datorama_files.sort()
list_datorama_files

['./input_2019Q4/datorama_files/Digital Weekly Media Data  (Search).csv',
 './input_2019Q4/datorama_files/Digital Weekly Media Data without Placement (excluded FB).csv',
 './input_2019Q4/datorama_files/E-circular_Flipp & Print Circular & Email by Week.csv',
 './input_2019Q4/datorama_files/Social Daily Media Data.csv']

In [21]:
df_1_search=pd.read_csv(list_datorama_files[0])
df_1_search.columns=[x.lower() for x in df_1_search.columns.tolist()]
df_1_search=df_1_search.rename(columns={"impressions":"impression","clicks":"click","media cost":"cost"})
df_1_search=df_1_search[['week','media','submedia','placement','impression','click','cost']]
df_1_search['submedia']=df_1_search['submedia'].replace({"Paid SEM Campaign":"SEM"}).replace({"Shopping Campaign":"PLA"})
df_1_search=df_1_search.sort_values(['media','submedia','placement','week'])
df_1_search.head(2)

               week    media submedia placement  impression   click     cost
3  2019-11-03 00:00  Digital      PLA      Bing     38716.0   627.0  1698.96
7  2019-11-10 00:00  Digital      PLA      Bing     87419.0  1800.0  4842.06

In [22]:
df_2_digital=pd.read_csv(list_datorama_files[1])
df_2_digital.columns=[x.lower() for x in df_2_digital.columns.tolist()]
df_2_digital=df_2_digital.rename(columns={"impressions":"impression","clicks":"click","media cost":"cost"})
df_2_digital=df_2_digital[['week','media','submedia','impression','click','cost','partner','tactic']]

df_2_digital_YT=df_2_digital[df_2_digital['partner']=="YouTube"]
df_2_digital_YT['placement']=df_2_digital_YT['submedia']
df_2_digital_YT['submedia']="YouTube"
df_2_digital_YT=df_2_digital_YT[df_1_search.columns.tolist()]

df_2_digital_Pandora=df_2_digital[df_2_digital['partner']=="Pandora"]
df_2_digital_Pandora['placement']=df_2_digital_Pandora['submedia']
df_2_digital_Pandora['submedia']="Pandora"
df_2_digital_Pandora=df_2_digital_Pandora[df_1_search.columns.tolist()]

df_2_digital_Programmatic=df_2_digital[~df_2_digital['partner'].isin(["YouTube",'Pandora'])]
df_2_digital_Programmatic['placement']=df_2_digital_Programmatic['submedia']
df_2_digital_Programmatic['submedia']="Programmatic"
df_2_digital_Programmatic=df_2_digital_Programmatic[df_1_search.columns.tolist()]

df_2_digital=df_2_digital_YT.append(df_2_digital_Pandora).append(df_2_digital_Programmatic)


df_2_digital.head(2)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,week,media,submedia,placement,impression,click,cost
4,2020-01-26 00:00,Digital,YouTube,Programmatic Video,0.0,1.0,0.0
9,2020-01-19 00:00,Digital,YouTube,Programmatic Video,1495215.0,1617.0,0.0

In [23]:
df_3_email_ecirc=pd.read_csv(list_datorama_files[2])
df_3_email_ecirc.columns=[x.lower() for x in df_3_email_ecirc.columns.tolist()]
df_3_email_ecirc=df_3_email_ecirc.rename(columns={"impressions":"impression","clicks":"click","media cost":"cost"})
df_3_email_ecirc=df_3_email_ecirc[['week','media','placement','impression','click','cost']]
df_3_email_ecirc.insert(2,"submedia",np.nan)
df_3_email_ecirc['submedia']=np.where(df_3_email_ecirc['media']=="Digital","Flipp","xx")
df_3_email_ecirc['placement']=np.where(df_3_email_ecirc['media']=="Digital",df_3_email_ecirc['placement'],"xx")

df_3_email_ecirc.head(3)

,week,media,submedia,placement,impression,click,cost
0,2020-01-26 00:00,Email,xx,xx,193931641.0,1337738.0,88391.039621
1,2020-01-26 00:00,Digital,Flipp,Hosted,108772.0,95193.0,0.000000
2,2020-01-19 00:00,Digital,Flipp,Hosted,143230.0,128182.0,0.000000

In [24]:
df_4_email_social=pd.read_csv(list_datorama_files[3])
df_4_email_social.columns=[x.lower() for x in df_4_email_social.columns.tolist()]
df_4_email_social=df_4_email_social.rename(columns={"impressions":"impression","clicks":"click","media cost":"cost"})

df_4_email_social=df_4_email_social[['week','media','submedia','partner','impression','click','cost']]
df_4_email_social=df_4_email_social.rename(columns={"partner":"placement"})
df_4_email_social.head(3)

,week,media,submedia,placement,impression,click,cost
0,2019-11-03 00:00,Digital,Social,Pinterest,874426.0,3252.0,2557.24
1,2019-11-03 00:00,Digital,Social,Facebook,13802701.0,152847.0,84051.46
2,2019-11-03 00:00,Digital,Social,Pinterest,314043.0,1103.0,984.42

In [25]:
df_all_digital_from_datorama=pd.concat([df_1_search,df_2_digital,df_3_email_ecirc,df_4_email_social])
df_all_digital_from_datorama['week']=df_all_digital_from_datorama['week'].apply(lambda x: x.split(" ")[0])
df_all_digital_from_datorama=df_all_digital_from_datorama.rename(columns={"week":"week date"})

# QC week date as 
df_all_digital_from_datorama['week_as_date'] = pd.to_datetime(df_all_digital_from_datorama['week date'])
df_all_digital_from_datorama['day_of_week'] = df_all_digital_from_datorama['week_as_date'].dt.day_name()
print(df_all_digital_from_datorama['day_of_week'].unique())
del df_all_digital_from_datorama['week_as_date']
del df_all_digital_from_datorama['day_of_week']

df_all_digital_from_datorama.head(2)

['Sunday']

    week date    media submedia placement  impression   click     cost
3  2019-11-03  Digital      PLA      Bing     38716.0   627.0  1698.96
7  2019-11-10  Digital      PLA      Bing     87419.0  1800.0  4842.06

In [26]:
print(df_all_digital_from_datorama['week date'].nunique())
print(df_all_digital_from_datorama['week date'].min())
print(df_all_digital_from_datorama['week date'].max())

13
2019-11-03
2020-01-26

In [27]:
# To continue

# Cumulative

In [31]:
Q4_2019_only_TMR=df_all_digital_from_datorama.append(df_print_circ).append(TV_TMR_data)
#
Cum_Q4_2019_TMR=TMR_up_to_2019Q3.append(Q4_2019_only_TMR)

In [32]:
try:
    os.stat("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2019Q4/output/")
except:
    os.mkdir("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2019Q4/output/")

Q4_2019_only_TMR.to_csv("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2019Q4/output/BL_MMM_2019Q4_Only_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
Cum_Q4_2019_TMR.to_csv("/mnt/clients/juba/hqjubaapp02/sharefolder/Media/TMR/TMR_data/Up_to_2019Q4/output/BL_MMM_long_cumu_up_to_2019Q4_JL_"+str(datetime.datetime.now().date())+".csv",index=False)