In [2]:
import pandas as pd

In [3]:
data_A=pd.read_csv("/home/jian/Docs/EASI/2018-06-25/ZIP4_18_DATA_A2_CSV/ZIP4_18_DATA_A2.CSV",skiprows=1,dtype=str,nrows=10)
data_A.columns.tolist()

['ZIP_CODE',
 'ZIP4',
 'CRRTTYPE',
 'POP18',
 'HH18',
 'POPGROW18',
 'AVGHHSIZE',
 'MEDAGHHER',
 'MEDRENT',
 'MEDVALOCC',
 'MEDVEHICLE',
 'MEDHHINC',
 'AVGHHINC',
 'PERCAPINC',
 'MEDAGE',
 'PCTHH200P',
 'HHHINCAVG']

In [4]:
data_B=pd.read_csv("/home/jian/Docs/EASI/2018-06-25/ZIP4_18_DATA_B2_CSV/ZIP4_18_DATA_B2.CSV",skiprows=1,dtype=str,nrows=10)
data_B.columns.tolist()

['ZIP_CODE',
 'ZIP4',
 'CRRTTYPE',
 'POP18',
 'HH18',
 'PCTOOHH',
 'PCTROOCCHH',
 'PCTWHPOP',
 'PCTBLPOP',
 'PCTASPOP',
 'PCTAMPOP',
 'PCTORPOP',
 'PCTTMPOP',
 'PCTHISPOP',
 'PCTWNHPOP',
 'PCTGRADDEG',
 'PCTWHCOL']

In [5]:
data_C=pd.read_csv("/home/jian/Docs/EASI/2018-06-25/ZIP4_18_DATA_C2_CSV/ZIP4_18_DATA_C2.CSV",skiprows=1,dtype=str,nrows=10)
data_C.columns.tolist()

['ZIP_CODE',
 'ZIP4',
 'CRRTTYPE',
 'HH18',
 'PCTMARNOC',
 'PCTMARC',
 'PCTSPARC',
 'PCTSING',
 'PCTHHL25',
 'PCTHH25_34',
 'PCTHH35_44',
 'PCTHH45_54',
 'PCTHH55_64',
 'PCTHH65_74',
 'PCTHH75P',
 'PCTL35K',
 'PCT35_100K',
 'PCT100KP']

In [3]:
data_A['HH18']=data_A['HH18'].astype(float)
data_A['POP18']=data_A['POP18'].astype(float)

In [4]:
data_A.head(4)

  ZIP_CODE  ZIP4 CRRTTYPE  POP18  HH18
0    00501  0001        C    0.0   0.0
1    00501  0002        C    0.0   0.0
2    01001  0001        B  114.2  45.6
3    01001  0121        B  102.5  40.9

In [10]:
data_A_10044=data_A[data_A['ZIP_CODE']=="10044"]

In [11]:
data_A_10044['POP18'].sum()

10250.199999999999

In [9]:
data_A_10013=data_A[data_A['ZIP_CODE']=="10013"]
data_A_10013['POP18'].sum()

27183.299999999999

In [12]:
data_A['POP18'].sum()

326868762.3999995