In [2]:
import pandas as pd

df = pd.DataFrame({"A":[5, 3, 6, 4], 
                   "B":[11, 2, 4, 3], 
                   "C":[4, 3, 8, 5], 
                   "D":[5, 4, 2, 8]}) 
df['E']=df['A'].cumsum()

In [3]:
df

   A   B  C  D   E
0  5  11  4  5   5
1  3   2  3  4   8
2  6   4  8  2  14
3  4   3  5  8  18