In [1]:
import sqlalchemy
import pandas as pd
import datetime
BL_engine=sqlalchemy.create_engine(
            "mysql+pymysql://%s:%s@localhost/%s" % ('jliang', 'H1Dswk&Fxz', 'BigLots'))

In [2]:
date_start=datetime.date(2020,4,25)
date_end=datetime.date(2020,10,10)
count_weeks=int((date_end-date_start).days/7)+1
list_str_week=[]
for i in range(count_weeks):
    str_weekenddt=str(date_start+datetime.timedelta(days=7*i)).replace("-","")
    list_str_week.append(str_weekenddt)
list_str_week

['20200425',
 '20200502',
 '20200509',
 '20200516',
 '20200523',
 '20200530',
 '20200606',
 '20200613',
 '20200620',
 '20200627',
 '20200704',
 '20200711',
 '20200718',
 '20200725',
 '20200801',
 '20200808',
 '20200815',
 '20200822',
 '20200829',
 '20200905',
 '20200912',
 '20200919',
 '20200926',
 '20201003',
 '20201010']

In [3]:
for w in list_str_week:

    list_tables_to_delete=pd.read_sql("show tables;",con=BL_engine).iloc[:,0].values.tolist()
    list_tables_to_delete=[x for x in list_tables_to_delete if x[-8:]==w]
    print(list_tables_to_delete)
    
    with BL_engine.connect() as connection:
        for t in list_tables_to_delete:
            query="drop table if exists %s"%t
            result = connection.execute(query)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
['NEall_id_from_crm_pos_until_20200829', 'NEall_id_pos_until_20200829', 'crm_NEall_id_pos_until_20200829', 'pred_pos_dept_NEall_id_pos_until_20200829']
['NEall_id_pos_until_20200905', 'all_NEall_id_pred_pos_2_1_pos_until_20200905', 'all_NEall_id_pred_pos_2_2_pos_until_20200905', 'crm_NEall_id_pos_until_20200905', 'crm_table_id_list_test_20200905', 'crm_table_id_list_train_20200905', 'max_trans_NEall_id_pos_until_20200905', 'pred_pos_dept_NEall_id_pos_until_20200905', 'table_pred_1_crm_up_to_20200905']
[]
[]
[]
[]
[]

In [4]:
pd.read_sql("show tables;",con=BL_engine)

               Tables_in_BigLots
0                  BL_CCPA_email
1                    BL_POS_Item
2                BL_POS_Subclass
3              BL_Rewards_Master
4      Pred_ExpV2_Activity_BL_id
5          Pred_ExposureV2_GU_id
6          Pred_ExposureV3_BL_id
7            Pred_POS_Department
8   view_pred_pos_2_2_first_week
9   view_pred_pos_2_2_recent_one
10  view_pred_pos_2_2_recent_two