In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import shutil
import sqlalchemy
import gc
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

print(datetime.datetime.now())
print(os.getcwd())

2020-06-15 20:59:33.543322
/home/jian/Projects/Big_Lots/Predictive_Model/Aggregate_final_tables

In [2]:
os.listdir("./")

['.ipynb_checkpoints',
 'US_zip_to_BL_nearest_store_20190901_JL_2020-06-10.csv',
 'aggregate_together_20200612_without_DCM.ipynb']

In [3]:
folder_tables="/home/jian/Projects/Big_Lots/Predictive_Model/Tables_for_modeling/POS_from_mysql/"
try:
    os.stat(folder_tables)
except:
    os.mkdir(folder_tables)

In [4]:
df_POS_2_1="/home/mysql/mysqloutfile/new_sample_rand_5_percentage_pred_pos_2_1_until_20190831.csv"
df_POS_2_2="/home/mysql/mysqloutfile/new_3_sample_rand_5_percentage_pred_pos_2_2_until_20190831.csv"

shutil.copyfile(df_POS_2_1, folder_tables+os.path.basename(df_POS_2_1))
shutil.copyfile(df_POS_2_2, folder_tables+os.path.basename(df_POS_2_2))

'/home/jian/Projects/Big_Lots/Predictive_Model/Tables_for_modeling/POS_from_mysql/new_3_sample_rand_5_percentage_pred_pos_2_2_until_20190831.csv'

In [5]:
# store list of 20190901

df_store_list=pd.read_csv("/home/jian/BigLots/static_files/Store_list/MediaStormStores20190901-135942-508.txt",dtype=str,sep="|")
df_store_list=df_store_list[['location_id','address_line_1','address_line_2','city_nm','state_nm','zip_cd','latitude_meas','longitude_meas']]
df_store_list['latitude_meas']=df_store_list['latitude_meas'].astype(float)
df_store_list['longitude_meas']=df_store_list['longitude_meas'].astype(float)
df_store_list['zip_cd']=df_store_list['zip_cd'].apply(lambda x: x.split("-")[0].zfill(5))
df_store_list=df_store_list[~df_store_list['location_id'].isin(['145','6990'])]

In [6]:
TA_zips=pd.ExcelFile("/home/jian/Projects/Big_Lots/New_TA/TA_created_in_201906/final_output_20190718/BL_final_TA_updated_JL_2019-07-18.xlsx")
TA_zips=TA_zips.parse("view_by_store",dtype=str)

df_temporary=TA_zips[['location_id','trans_P_zips_70_within_TA','trans_S_zips_70_within_TA','zips_in_10']]
df_zip_by_store=pd.DataFrame()

for ind,row in df_temporary.iterrows():
    location_id=row['location_id']
    P_zips=eval(row['trans_P_zips_70_within_TA'])
    S_zips=eval(row['trans_S_zips_70_within_TA'])
    zip_10=eval(row['zips_in_10'])
    

    df_P=pd.DataFrame(zip([location_id]*len(P_zips),P_zips))
    if len(df_P)>0:
        df_P.columns=['location_id','zip_cd']
        df_P['zip_type']="P"
        
    df_S=pd.DataFrame(zip([location_id]*len(S_zips),S_zips))
    if len(df_S)>0:
        df_S.columns=['location_id','zip_cd']
        df_S['zip_type']="S"
    
    df_10=pd.DataFrame(zip([location_id]*len(zip_10),zip_10))
    if len(df_10)>0:
        df_10.columns=['location_id','zip_cd']
        df_10['zip_type']="zip_10"
    
    df_zip_by_store=df_zip_by_store.append(df_P).append(df_S).append(df_10)

In [7]:
df_store_list=df_store_list[['location_id','latitude_meas','longitude_meas']]
df_store_zip=pd.merge(df_store_list,df_zip_by_store,on="location_id",how="left")
df_store_zip.head(2)

  location_id  latitude_meas  longitude_meas zip_cd zip_type
0           1      39.913636      -82.914789  43227        P
1           1      39.913636      -82.914789  43207        P

In [8]:
df_store_zip_new=df_store_zip[pd.isnull(df_store_zip['zip_cd'])]
df_store_zip_existing=df_store_zip[pd.notnull(df_store_zip['zip_cd'])]

df_store_zip_new_no_loc=df_store_zip_new[df_store_zip_new['latitude_meas']==0]
df_store_zip_new_with_loc=df_store_zip_new[df_store_zip_new['latitude_meas']!=0]

store_list_later=pd.read_csv("/home/jian/BigLots/static_files/Store_list/MediaStormStores20191001-134050-499.txt",
                             dtype=str,sep="|",usecols=['location_id','open_dt','latitude_meas','longitude_meas'])
store_list_later['latitude_meas']=store_list_later['latitude_meas'].astype(float)
store_list_later['longitude_meas']=store_list_later['longitude_meas'].astype(float)
df_store_zip_new_no_loc=store_list_later[store_list_later['location_id'].isin(df_store_zip_new_no_loc['location_id'].tolist())]

In [9]:
df_store_zip_new_with_loc=df_store_zip_new_with_loc[['location_id','latitude_meas','longitude_meas']]
df_store_zip_new_no_loc=df_store_zip_new_no_loc[['location_id','latitude_meas','longitude_meas']]
df_store_zip_new=df_store_zip_new_with_loc.append(df_store_zip_new_no_loc)
df_store_zip_new=df_store_zip_new.reset_index()
del df_store_zip_new['index']

In [10]:
import json
from haversine import haversine

zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))

df_all_new_zip=pd.DataFrame()
for i,row in df_store_zip_new.iterrows():
    store_coor=(row['latitude_meas'],row['longitude_meas'])
    store_num=row['location_id']
    list_store_zip=[]
    for zip_cd, v in zip_centers.items():
        dist=haversine(store_coor,v,unit="mi")
        if dist<=10:
            list_store_zip.append(zip_cd)
    df=pd.DataFrame({"zip_cd":list_store_zip,"zip_type":["zip_10"]*len(list_store_zip)},index=[store_num]*len(list_store_zip))
    df=df.reset_index().rename(columns={"index":"location_id"})
    df_all_new_zip=df_all_new_zip.append(df)
    
df_store_zip_new=pd.merge(df_store_zip_new,df_all_new_zip,on="location_id",how="left")
df_store_zip_new.shape

(202, 5)

In [11]:
df_store_zip=df_store_zip_existing.append(df_store_zip_new)
df_zip_type=df_store_zip[['zip_cd','zip_type']].drop_duplicates()
df_zip_type=df_zip_type.sort_values(['zip_cd','zip_type'])
print(df_zip_type['zip_type'].unique().tolist())
df_unique_zip_type=df_zip_type.drop_duplicates("zip_cd")

list_P_zips=df_zip_type[df_zip_type['zip_type']=="P"]['zip_cd'].tolist()
list_S_zips=df_zip_type[df_zip_type['zip_type']=="S"]['zip_cd'].tolist()
list_10_zips=df_zip_type[df_zip_type['zip_type']=="zip_10"]['zip_cd'].tolist()

['P', 'S', 'zip_10']

In [12]:
df_store_list=df_store_zip[['location_id','latitude_meas','longitude_meas']].drop_duplicates().reset_index()
del df_store_list['index']
df_store_list.head(2)

  location_id  latitude_meas  longitude_meas
0           1      39.913636      -82.914789
1          29      39.337172      -82.069765

In [13]:
# Add nearest BL store and the distance as of 20190901 store list
'''
df_zips_with_BL_store=pd.DataFrame()
i_counter=0
for zip_cd,v in zip_centers.items():
    nearest_store=np.nan
    min_dist=np.inf
    for i,row in df_store_list.iterrows():
        store=row['location_id']
        store_loc=(row['latitude_meas'], row['longitude_meas'])
        dist=haversine(v,store_loc,unit="mi")
        if dist<=min_dist:
            min_dist=dist
            nearest_store=store
    df=pd.DataFrame({"nearest_BL_store":nearest_store,"nearest_BL_dist":min_dist},index=[zip_cd])
    df=df.reset_index().rename(columns={"index":"zip_cd"})
    df_zips_with_BL_store=df_zips_with_BL_store.append(df)
    i_counter+=1
    if i_counter%1000==1:
        print(datetime.datetime.now(),i_counter)
'''

'\ndf_zips_with_BL_store=pd.DataFrame()\ni_counter=0\nfor zip_cd,v in zip_centers.items():\n    nearest_store=np.nan\n    min_dist=np.inf\n    for i,row in df_store_list.iterrows():\n        store=row[\'location_id\']\n        store_loc=(row[\'latitude_meas\'], row[\'longitude_meas\'])\n        dist=haversine(v,store_loc,unit="mi")\n        if dist<=min_dist:\n            min_dist=dist\n            nearest_store=store\n    df=pd.DataFrame({"nearest_BL_store":nearest_store,"nearest_BL_dist":min_dist},index=[zip_cd])\n    df=df.reset_index().rename(columns={"index":"zip_cd"})\n    df_zips_with_BL_store=df_zips_with_BL_store.append(df)\n    i_counter+=1\n    if i_counter%1000==1:\n        print(datetime.datetime.now(),i_counter)\n'

In [14]:
# df_zips_with_BL_store.to_csv("./US_zip_to_BL_nearest_store_20190901_JL_2020-06-10.csv",index=False)

In [15]:
df_zips_with_BL_store=pd.read_csv("./US_zip_to_BL_nearest_store_20190901_JL_2020-06-10.csv")
df_zips_with_BL_store.head(2)

   zip_cd  nearest_BL_store  nearest_BL_dist
0   11542              1789         7.033755
1   11547              1789         1.454990

In [16]:
df_zips_with_BL_store['zip_cd']=df_zips_with_BL_store['zip_cd'].astype(str)
df_zips_with_BL_store['zip_cd']=df_zips_with_BL_store['zip_cd'].apply(lambda x: x.zfill(5))

In [17]:
# df_zips_with_BL_store.to_csv(folder_tables+"US_zip_to_BL_nearest_store_20190901_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

# IV_list

In [18]:
high_date=datetime.date(2019, 8, 31)

In [19]:
pd.read_sql("show tables",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

                                    Tables_in_BigLots
0                                       BL_CCPA_email
1                                         BL_POS_Item
2                                     BL_POS_Subclass
3                                   BL_Rewards_Master
4                           Pred_ExpV2_Activity_BL_id
5                               Pred_ExposureV2_BL_id
6                               Pred_ExposureV2_GU_id
7                                 Pred_POS_Department
8                  Pred_Temp_CommonID_ending_20190831
9        Pred_Temp_CommonID_ending_20190831_since18Q1
10                      crm_random_five_percentage_id
11       crm_random_five_percentage_id_until_20190831
12                                       dept_id_list
13                  pos_first_trans_20190503_20200502
14      pos_id_max_trans_order_random_five_percentage
15  pos_id_max_trans_order_random_five_percentage_...
16  pos_id_max_trans_order_random_five_percentage_...
17            pred_pos_dept_random_five_percentage_id
18  pred_pos_dept_random_five_percentage_id_until_...
19                          random_five_percentage_id
20  random_five_percentage_id_from_crm_until_20190831
21           random_five_percentage_id_until_20190831
22                                sample_pred_pos_2_1
23                                sample_pred_pos_2_2
24  sample_rand_5_percentage_pred_pos_2_1_until_20...
25  sample_rand_5_percentage_pred_pos_2_2_until_20...
26                   sign_up_counts_20190503_20200502
27                                tbl_EmployeeDetails
28          view_extract_max_transorder_PredPosDepart
29                       view_pred_pos_2_2_first_week
30                      view_pred_pos_2_2_recent_five
31                      view_pred_pos_2_2_recent_four
32                       view_pred_pos_2_2_recent_one
33                     view_pred_pos_2_2_recent_three
34                       view_pred_pos_2_2_recent_two

In [20]:
pd.read_sql("desc sample_rand_5_percentage_pred_pos_2_1_until_20190831",con=BL_engine)

                             Field           Type Null  Key Default Extra
0                               id       char(64)  YES  MUL    None
1                        week_diff         int(9)  YES         None
2   total_trans_since_registration        int(11)  YES         None
3                      total_items  decimal(32,0)  YES         None
4                      total_sales  decimal(32,2)  YES         None
..                             ...            ...  ...  ...     ...   ...
57            department_610_trans     bigint(21)   NO            0
58            department_612_trans     bigint(21)   NO            0
59            department_615_trans     bigint(21)   NO            0
60            department_710_trans     bigint(21)   NO            0
61            department_800_trans     bigint(21)   NO            0

[62 rows x 6 columns]

In [21]:
df_1=pd.read_sql("select customer_id_hashed, sign_up_date, sign_up_channel, sign_up_location, customer_zip_code from BL_Rewards_Master as t1 \
right join sample_rand_5_percentage_pred_pos_2_1_until_20190831 as t2 on t1.customer_id_hashed=t2.id;", con=BL_engine)
print(df_1.shape,df_1['customer_id_hashed'].nunique())
df_1.head(2)

(991397, 5) 991397

,customer_id_hashed,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code
0,00001b4d199f06ffab29153c9a952f73af9b9b5861d6b6...,2018-08-16,STORE,5219.0,21227
1,00002abac976f45074d7f3458178556f04c21928162964...,2018-12-23,STORE,1390.0,20601

In [22]:
df_1['customer_zip_code']=df_1['customer_zip_code'].astype(str)
df_1['customer_zip_code']=df_1['customer_zip_code'].apply(lambda x: x.split("-")[0].split(" ")[0].zfill(5)[:5])
df_1['sign_up_date']=pd.to_datetime(df_1['sign_up_date'],format="%Y-%m-%d").dt.date
df_1['weeks_since_sign_up']=df_1['sign_up_date'].apply(lambda x: int(np.ceil((high_date-x).days/7)))
df_1['P_zip']=np.where(df_1['customer_zip_code'].isin(list_P_zips),1,0)
df_1['S_zip']=np.where(df_1['customer_zip_code'].isin(list_S_zips),1,0)
df_1['else_10_zip']=np.where(df_1['customer_zip_code'].isin(list_10_zips),1,0)
# del df_1['customer_zip_code']
df_1['signed_online']=np.where(df_1['sign_up_channel']=="STORE",0,1)
del df_1['sign_up_channel']
print(df_1.shape,df_1['customer_id_hashed'].nunique())



df_1['sign_up_location']=df_1['sign_up_location'].fillna("-1")
df_1['sign_up_location']=df_1['sign_up_location'].astype(float)
df_1['sign_up_location']=df_1['sign_up_location'].astype(int).astype(str)


df_1.head(2)

(991397, 9) 991397

,customer_id_hashed,sign_up_date,sign_up_location,customer_zip_code,weeks_since_sign_up,P_zip,S_zip,else_10_zip,signed_online
0,00001b4d199f06ffab29153c9a952f73af9b9b5861d6b6...,2018-08-16,5219,21227,55,1,1,0,0
1,00002abac976f45074d7f3458178556f04c21928162964...,2018-12-23,1390,20601,36,1,0,0,0

In [23]:
df_copy_sign_up=df_1[['sign_up_location','customer_zip_code']].drop_duplicates()

df_copy_sign_up=df_copy_sign_up.reset_index()
del df_copy_sign_up['index']

In [24]:
# distance to sign up stores
import glob
df_store_all=pd.DataFrame(columns=['location_id','latitude_meas','longitude_meas'])

list_all_stores=glob.glob("/home/jian/BigLots/static_files/Store_list/*.txt")
list_all_stores=[x for x in list_all_stores if "MediaStormStores" in x]
list_all_stores=sorted(list_all_stores,key=lambda x :x.split("MediaStormStores")[1][:8])
list_all_stores=[x for x in list_all_stores if x.split("MediaStormStores")[1][:8]<=str(high_date+datetime.timedelta(days=2)).replace("-","")]
list_all_stores.reverse()

for file in list_all_stores:
    df=pd.read_table(file,dtype=str,sep="|",usecols=['location_id','latitude_meas','longitude_meas'])
    df=df[['location_id','latitude_meas','longitude_meas']]
    df['latitude_meas']=df['latitude_meas'].astype(float)                   
    df['longitude_meas']=df['longitude_meas'].astype(float)   
    df=df[~df['location_id'].isin(['145','6990'])]
    df=df[~df['location_id'].isin(df_store_all['location_id'].tolist())]
    df_store_all=df_store_all.append(df)
df_store_all['store_coor']=df_store_all[['latitude_meas','longitude_meas']].values.tolist()                      
dict_store_all=df_store_all.set_index("location_id").to_dict()['store_coor']

In [25]:
df_copy_sign_up['distc_to_sign_up']=np.nan
for i,row in df_copy_sign_up.iterrows():
    try:
        store_coor=dict_store_all[row['sign_up_location']]
        zip_center=zip_centers[row['customer_zip_code']]
        dist=haversine(store_coor,zip_center,unit="mi")
        df_copy_sign_up.loc[i,"distc_to_sign_up"]=dist
        
    except:
        continue

In [26]:
df_1=pd.merge(df_1,df_copy_sign_up,on=['sign_up_location','customer_zip_code'],how="left")

In [27]:
list_unsunsribe_ids=pd.read_csv("/home/jian/BigLots/unsubscribe/Unsub_JH_Final20191105Hashed.zip",
                         compression="zip",dtype=str,usecols=['hashed_customer_num'])['hashed_customer_num'].unique().tolist()

print(len(list_unsunsribe_ids))
df_1['email_unsub_19Oct']=np.where(df_1['customer_id_hashed'].isin(list_unsunsribe_ids),1,0)

2771375

In [28]:
df_zips_with_BL_store=df_zips_with_BL_store.rename(columns={"zip_cd":"customer_zip_code"})
df_1=pd.merge(df_1,df_zips_with_BL_store,on="customer_zip_code",how="left")
del df_1['customer_zip_code']

In [29]:
df_2_1=pd.read_csv(folder_tables+os.path.basename(df_POS_2_1),na_values='\\N')
df_2_1=df_2_1.rename(columns={"id":"customer_id_hashed"})
print(df_2_1.shape,df_2_1['customer_id_hashed'].nunique())
df_2_1.head(2)

(991397, 62) 991397

,customer_id_hashed,week_diff,total_trans_since_registration,total_items,total_sales,trans_in_store,unique_stores,trans_online,department_minus_one_trans,department_108_trans,...,department_530_trans,department_540_trans,department_550_trans,department_560_trans,department_608_trans,department_610_trans,department_612_trans,department_615_trans,department_710_trans,department_800_trans
0,00001b4d199f06ffab29153c9a952f73af9b9b5861d6b6...,54,1,9,169.0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,00002abac976f45074d7f3458178556f04c21928162964...,35,1,3,16.0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [30]:
df_2_2=pd.read_csv(folder_tables+os.path.basename(df_POS_2_2),na_values='\\N')
df_2_2=df_2_2.rename(columns={"id":"customer_id_hashed"})
print(df_2_2.shape,df_2_2['customer_id_hashed'].nunique())
df_2_2.head(2)

(991397, 359) 991397

,customer_id_hashed,week_1st_trans,purchase_channel_1st_trans,total_sales_1st_trans,total_units_1st_trans,total_units_department_minus_1_1st_trans,total_units_department_108_1st_trans,total_units_department_109_1st_trans,total_units_department_110_1st_trans,total_units_department_111_1st_trans,...,total_units_department_530_recent_5_trans,total_units_department_540_recent_5_trans,total_units_department_550_recent_5_trans,total_units_department_560_recent_5_trans,total_units_department_608_recent_5_trans,total_units_department_610_recent_5_trans,total_units_department_612_recent_5_trans,total_units_department_615_recent_5_trans,total_units_department_710_recent_5_trans,total_units_department_800_recent_5_trans
0,00001b4d199f06ffab29153c9a952f73af9b9b5861d6b6...,2018-08-16,1,169.0,9,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00002abac976f45074d7f3458178556f04c21928162964...,2018-12-23,1,16.0,3,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_2_POS=pd.merge(df_2_1,df_2_2,on="customer_id_hashed",how="outer")
print(df_2_POS.shape,df_2_POS['customer_id_hashed'].nunique())
df_2_POS.head(2)

(991397, 420) 991397

,customer_id_hashed,week_diff,total_trans_since_registration,total_items,total_sales,trans_in_store,unique_stores,trans_online,department_minus_one_trans,department_108_trans,...,total_units_department_530_recent_5_trans,total_units_department_540_recent_5_trans,total_units_department_550_recent_5_trans,total_units_department_560_recent_5_trans,total_units_department_608_recent_5_trans,total_units_department_610_recent_5_trans,total_units_department_612_recent_5_trans,total_units_department_615_recent_5_trans,total_units_department_710_recent_5_trans,total_units_department_800_recent_5_trans
0,00001b4d199f06ffab29153c9a952f73af9b9b5861d6b6...,54,1,9,169.0,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00002abac976f45074d7f3458178556f04c21928162964...,35,1,3,16.0,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
'''
df_3=pd.read_csv(folder_tables+"df_2_Exposure.csv")
print(df_3.shape,df_3['customer_id_hashed'].nunique())
'''

'\ndf_3=pd.read_csv(folder_tables+"df_2_Exposure.csv")\nprint(df_3.shape,df_3[\'customer_id_hashed\'].nunique())\n'

In [33]:
'''
df_4=pd.read_csv(folder_tables+"df_3_Activity.csv")
print(df_4.shape,df_4['customer_id_hashed'].nunique())
'''

'\ndf_4=pd.read_csv(folder_tables+"df_3_Activity.csv")\nprint(df_4.shape,df_4[\'customer_id_hashed\'].nunique())\n'

In [34]:
print(df_1.shape,df_1['customer_id_hashed'].nunique())


df_ivs=pd.merge(df_1,df_2_POS,on="customer_id_hashed",how="outer")
print("merged_in_df_2_POS",datetime.datetime.now())
print(df_ivs.shape,df_ivs['customer_id_hashed'].nunique())

(991397, 12) 991397
merged_in_df_2_POS 2020-06-15 21:05:51.387647
(991397, 431) 991397

# DVs

In [35]:
list_ids=df_ivs['customer_id_hashed'].tolist()


def recursive_file_gen(my_root_dir):
    for root, dirs, files in os.walk(my_root_dir):
        for file in files:
            yield os.path.join(root, file)
list_files_POS=list(recursive_file_gen("/home/jian/BigLots/2019_by_weeks/"))
list_files_POS=[x for x in list_files_POS if "dailysales" in x.lower()]
list_files_POS=[x for x in list_files_POS if x.split("s/MediaStorm_")[1][:10]>="2019-09-01"]
list_files_POS.sort()
list_files_POS=list_files_POS[:4]
list_files_POS

['/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-09-07/MediaStormDailySales20190910-120643-163.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-09-14/MediaStormDailySales20190917-110425-322.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-09-21/MediaStormDailySales20190924-112126-506.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-09-28/MediaStormDailySales20191001-111241-312.txt']

In [38]:
week_i=1
df_sale_dv=df_ivs[['customer_id_hashed']]
for file in list_files_POS:
    df=pd.read_csv(file,dtype=str,sep="|",usecols=['location_id','transaction_dt','transaction_id','customer_id_hashed','item_transaction_amt'])
    df=df[pd.notnull(df['customer_id_hashed'])]
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    
    df=df.groupby(['location_id','transaction_dt','transaction_id','customer_id_hashed'])['item_transaction_amt'].sum().to_frame().reset_index()
    df=df[df['item_transaction_amt']>0]
    df=df[['customer_id_hashed']].drop_duplicates()
    df["DV_single_week_"+str(week_i)]=1
    df_sale_dv=pd.merge(df_sale_dv,df,on="customer_id_hashed",how="left")
    
    print(week_i,datetime.datetime.now())
    week_i+=1
df_sale_dv=df_sale_dv.fillna(0)
df_sale_dv.head(2)

1 2020-06-15 21:08:38.656359
2 2020-06-15 21:09:25.102264
3 2020-06-15 21:10:12.700373
4 2020-06-15 21:11:05.882905

,customer_id_hashed,DV_single_week_1,DV_single_week_2,DV_single_week_3,DV_single_week_4
0,00001b4d199f06ffab29153c9a952f73af9b9b5861d6b6...,0.0,0.0,0.0,0.0
1,00002abac976f45074d7f3458178556f04c21928162964...,0.0,0.0,0.0,0.0

In [39]:
a=[]
for i in range(len(list_files_POS)):
    i_int_pos=i+1
    list_cum_i=[]
    for j in range(i_int_pos):
        list_cum_i.append('DV_single_week_'+str(j+1))
    a.append(list_cum_i)
    df_sale_dv['DV_cumulative_week_updated_'+str(i_int_pos)]=df_sale_dv[list_cum_i].sum(axis=1)
    df_sale_dv['DV_cumulative_week_updated_'+str(i_int_pos)]=np.where(df_sale_dv['DV_cumulative_week_updated_'+str(i_int_pos)]>0,1,0)

In [41]:
for col in df_sale_dv.columns.tolist():
    if "DV_cumulative" in col:
        print(col,df_sale_dv[df_sale_dv[col]>0].shape)

DV_cumulative_week_updated_1 (52993, 9)
DV_cumulative_week_updated_2 (93252, 9)
DV_cumulative_week_updated_3 (127143, 9)
DV_cumulative_week_updated_4 (161413, 9)

In [42]:
df_data_to_fit=pd.merge(df_sale_dv,df_ivs,on="customer_id_hashed",how="outer")
df_data_to_fit.shape

(991397, 439)

In [43]:
df_data_to_fit.head(2)

,customer_id_hashed,DV_single_week_1,DV_single_week_2,DV_single_week_3,DV_single_week_4,DV_cumulative_week_updated_1,DV_cumulative_week_updated_2,DV_cumulative_week_updated_3,DV_cumulative_week_updated_4,sign_up_date,...,total_units_department_530_recent_5_trans,total_units_department_540_recent_5_trans,total_units_department_550_recent_5_trans,total_units_department_560_recent_5_trans,total_units_department_608_recent_5_trans,total_units_department_610_recent_5_trans,total_units_department_612_recent_5_trans,total_units_department_615_recent_5_trans,total_units_department_710_recent_5_trans,total_units_department_800_recent_5_trans
0,00001b4d199f06ffab29153c9a952f73af9b9b5861d6b6...,0.0,0.0,0.0,0.0,0,0,0,0,2018-08-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00002abac976f45074d7f3458178556f04c21928162964...,0.0,0.0,0.0,0.0,0,0,0,0,2018-12-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
print(df_data_to_fit['sign_up_date'].min(),df_data_to_fit['sign_up_date'].max())

2009-08-08 2019-08-31

In [45]:
list_cols_no_need=['week_diff','DV_single_week_1','DV_single_week_2','DV_single_week_3','DV_single_week_4',
                   'nearest_BL_store','email_address_hash','sign_up_date']
whole_list=df_data_to_fit.columns.tolist()
print(len(whole_list))
print("email_address_hash" in df_data_to_fit.columns.tolist())

list_use_cols=[x for x in whole_list if x not in list_cols_no_need]
print(len(list_use_cols))

439
False
432

In [46]:
df_new_competitor=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Predictive_Model_Building/final_tables_to_use_in_model/Competitor_from_CC/BL_Competitor_Store_Counts_ByZip_ByCategory_CC_20200511.csv")
df_new_competitor['zip']=df_new_competitor['zip'].apply(lambda x: str(x).zfill(5))
df_new_competitor=df_new_competitor.rename(columns={"zip":"customer_zip_code"})
df_new_competitor['customer_zip_code'].apply(len).unique()

array([5])

In [47]:
df_id_zips=pd.read_sql("select customer_id_hashed, customer_zip_code from BL_Rewards_Master where sign_up_date<'2019-09-01'",con=BL_engine)

df_input_competitors=df_data_to_fit[['customer_id_hashed']].drop_duplicates()
df_input_competitors=pd.merge(df_input_competitors,df_id_zips,on="customer_id_hashed",how="left")
del df_id_zips
gc.collect()
df_input_competitors['customer_zip_code']=df_input_competitors['customer_zip_code'].fillna("00000")
df_input_competitors['customer_zip_code']=df_input_competitors['customer_zip_code'].apply(lambda x: x.split("-")[0].split(" ")[0].zfill(5))
df_input_competitors=pd.merge(df_input_competitors,df_new_competitor,on="customer_zip_code",how="left")

In [48]:
print(df_input_competitors.shape,df_input_competitors['customer_id_hashed'].nunique())

(991397, 15) 991397

In [49]:
df_data_to_fit=pd.merge(df_data_to_fit,df_input_competitors,on="customer_id_hashed",how="left")
df_data_to_fit.head(2)

,customer_id_hashed,DV_single_week_1,DV_single_week_2,DV_single_week_3,DV_single_week_4,DV_cumulative_week_updated_1,DV_cumulative_week_updated_2,DV_cumulative_week_updated_3,DV_cumulative_week_updated_4,sign_up_date,...,Furniture Stores_Furniture Stores,Grocery Stores_Convenience Stores,Grocery Stores_Supermarkets and Other Grocery (except Convenience) Stores,Home Furnishings Stores_All Other Home Furnishings Stores,"Lawn and Garden Equipment and Supplies Stores_Nursery, Garden Center, and Farm Supply Stores","Office Supplies, Stationery, and Gift Stores_Gift, Novelty, and Souvenir Stores",Other Miscellaneous Store Retailers_All Other Miscellaneous Store Retailers (except Tobacco Stores),Other Miscellaneous Store Retailers_Pet and Pet Supplies Stores,Specialty Food Stores_All Other Specialty Food Stores,"Sporting Goods, Hobby, and Musical Instrument Stores_Hobby, Toy, and Game Stores"
0,00001b4d199f06ffab29153c9a952f73af9b9b5861d6b6...,0.0,0.0,0.0,0.0,0,0,0,0,2018-08-16,...,255.0,297.0,625.0,135.0,0.0,135.0,50.0,187.0,1.0,118.0
1,00002abac976f45074d7f3458178556f04c21928162964...,0.0,0.0,0.0,0.0,0,0,0,0,2018-12-23,...,101.0,148.0,325.0,80.0,0.0,75.0,42.0,100.0,2.0,47.0

In [50]:
df_data_to_fit.to_csv(folder_tables+"df_data_up_to_2019-08-31_without_DCM_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [51]:
print(df_data_to_fit.shape,df_data_to_fit['customer_id_hashed'].nunique())

(991397, 453) 991397

In [2]:
import pandas as pd
df_input=pd.read_csv("/home/jian/Projects/Big_Lots/Predictive_Model/Tables_for_modeling/POS_from_mysql/df_data_up_to_2019-08-31_without_DCM_JL_2020-06-15.csv")
print("original shape: ",df_input.shape)
list_all_ids=df_input['customer_id_hashed'].values.tolist()
list_new_cols=[x.strip() for x in df_input.columns.tolist()]
df_input.columns=list_new_cols

df_input['sign_up_date'].min(),df_input['sign_up_date'].max()
# df_input.columns.tolist()

original shape:  (991397, 453)

('2009-08-08', '2019-08-31')