In [2]:
import numpy as np
import pandas as pd

In [16]:
from string import punctuation
[any(c.isalpha() for c in x) for x in ["jid, 32d, 89","0004dg",' 09 87']]

[any(c in punctuation for c in x) for x in ["jid, 32d, 89","0004dg",' 09 87']]

[True, False, False]

False

In [5]:
detailed_data=pd.read_csv("/home/jian/Projects/Big_Lots/Newspaper/Newspaper_0507/BL_combined newspaper final detailed_JL_20180507.csv",dtype=str)

In [6]:
detailed_data.head(2)

,Date,Households,adjusted_circ_about_Null,adjusted_circ_with_list,circ_proportion_of_Null,dayname,productid,productname,storeid,totalcirc,zip_cd,zip_count,zip_list,zip_list_proportion,zips
0,2017-03-19,9692.7,297.49131193565523,163.56073848939138,0.023749905152135972,Sunday,572,"Abilene Reporter News (Abilene, TX)",4598,313.0,76801,6,"['76442', '76471', '76801', '76802', '76443', ...",0.5498000510507955,"76442, 76471, 76801, 76802, 76443, 79504"
1,2017-03-19,3159.3,297.49131193565523,53.31202256435609,0.023749905152135972,Sunday,572,"Abilene Reporter News (Abilene, TX)",4598,313.0,76442,6,"['76442', '76471', '76801', '76802', '76443', ...",0.17920530928273634,"76442, 76471, 76801, 76802, 76443, 79504"

In [3]:
output_no_detail=output_adjusted_final.groupby(['zip_cd','Date'])['adjusted_circ_with_list'].sum().to_frame()
output_no_detail.reset_index(inplace=True)
output_no_detail=output_no_detail.sort_values(['Date','zip_cd'])
output_no_detail.to_csv("/home/jian/Projects/Big_Lots/Newspaper/Newspaper_0507/BL_newspaper count by zip by date_JL_20180507.csv",index=False)

output_no_detail=pd.read_csv("/home/jian/Projects/Big_Lots/Newspaper/Newspaper_0507/BL_newspaper count by zip by date_JL_20180507.csv")
test_agg_wide=output_no_detail.pivot(index="zip_cd",columns='Date',values='adjusted_circ_with_list')
test_agg_wide.reset_index(inplace=True)
test_agg_wide_columns=test_agg_wide.columns.tolist()[1:]
test_agg_wide_columns=["newspaper_"+x for x in test_agg_wide_columns]
test_agg_wide.columns=[['zip_cd']+test_agg_wide_columns]
test_agg_wide=test_agg_wide.fillna(0)
test_agg_wide.to_csv("/home/jian/Projects/Big_Lots/Newspaper/Newspaper_0507/BL_newspaper wide of date by zip_JL_20180507.csv",index=False)

(1244217, 15)

In [4]:
x.head(2)

,Date,Households,adjusted_circ_about_Null,adjusted_circ_with_list,circ_proportion_of_Null,dayname,productid,productname,storeid,totalcirc,zip_cd,zip_count,zip_list,zip_list_proportion,zips
0,2017-03-19,1252.2,297.491312,21.130413,0.02375,Sunday,572,"Abilene Reporter News (Abilene, TX)",4598,313.0,79504,6,"['76442', '76471', '76801', '76802', '76443', ...",0.071029,"76442, 76471, 76801, 76802, 76443, 79504"
1,2017-03-19,1947.9,297.491312,32.870094,0.02375,Sunday,572,"Abilene Reporter News (Abilene, TX)",4598,313.0,76802,6,"['76442', '76471', '76801', '76802', '76443', ...",0.110491,"76442, 76471, 76801, 76802, 76443, 79504"

In [5]:
x['adjusted_circ_with_list'].sum()

950694719.49970007

In [12]:
Thanksgiving_2016=x[x['Date']=="2016-11-24"]
Thanksgiving_2016['zip_cd']=Thanksgiving_2016['zip_cd'].astype(str)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
Thanksgiving_2016=Thanksgiving_2016.sort_values("zip_cd")

In [35]:
Thanksgiving_2016_by_store=Thanksgiving_2016.groupby(['storeid'])['adjusted_circ_with_list'].sum().to_frame()
Thanksgiving_2016_by_store.reset_index(inplace=True)
Thanksgiving_2016_by_store.columns=['store_id','after']

In [42]:
Before=pd.read_excel("/home/jian/Projects/Big_Lots/Newspaper/Newspaper_0507/BL_combined newspaper data_JL_20180507.xlsx")
Before_TG2016=Before[Before['Date']=="2016-11-24"]
Before_TG2016_by_store=Before_TG2016.groupby(['storeid'])['adjusted_circ_about_Null'].sum().to_frame()
Before_TG2016_by_store.reset_index(inplace=True)
Before_TG2016_by_store.columns=['store_id','before']

In [45]:
Before_TG2016_by_store.head(2)

   store_id        before
0         1  20732.375086
1         3   4351.390552

In [46]:
compare=pd.merge(Thanksgiving_2016_by_store,Before_TG2016_by_store,on="store_id",how="outer")

In [53]:
compare['check']=np.nan

In [54]:
compare.head(2)

   store_id         after        before  check
0         1  20732.375086  20732.375086    NaN
1         3   4351.390552   4351.390552    NaN

In [56]:
for i in range(len(compare)):
    if round(compare['after'][i],2)==round(compare['before'][i],2):
        compare['check'][i]="Match"
    else:
        compare['check'][i]="No_Match"

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [58]:
not_match_df=compare[compare['check']=="No_Match"]

In [59]:
not_match_df

      store_id    after   before     check
1061      4519  32645.0  35186.0  No_Match

In [60]:
Thanksgiving_2016_4519_After=Thanksgiving_2016[Thanksgiving_2016['storeid']==4519]

In [66]:
Thanksgiving_2016_4519_After['adjusted_circ_with_list'].sum()

32645.0

In [67]:
Thanksgiving_2016_4519_After.to_excel("/home/jian/Projects/Big_Lots/Newspaper/Newspaper_0507/check.xlsx")

In [69]:
Thanksgiving_2016_4519_After.reset_index(inplace=True)

In [72]:
Thanksgiving_2016_4519_After.head(2)

,Date,Households,adjusted_circ_about_Null,adjusted_circ_with_list,circ_proportion_of_Null,dayname,productid,productname,storeid,totalcirc,zip_cd,zip_count,zip_list,zip_list_proportion,zips
0,2016-11-24,8675.9,8346.0,1938.855024,0.0,Tuesday,11650,Show Low White Mountain Independent,4519,8346.0,85901,21,"['85901', '85902', '85911', '85920', '85939', ...",0.232309,"85901, 85902, 85911, 85920, 85939, 85925, 8592..."
1,2016-11-24,8675.9,10733.0,10733.000000,0.0,Wednesday,15442,Show Low Wampum Saver-TMC,4519,10733.0,85901,3,"['85901', '85902', '85940']",1.000000,"85901, 85902, 85940"

In [73]:
test=Thanksgiving_2016_4519_After[Thanksgiving_2016_4519_After['adjusted_circ_about_Null']==2541]

In [75]:
test['Households'].sum()

nan