In [1]:
# note to continue
# comments from YG on 20191127

# Based on the shoppers share from the test by segment: 
'''
randomly select from the pool
see whoever shopped shopped among the pool
can use the random seed
# since the control shopper distribution is similiar 
'''

'\nrandomly select from the pool\nsee whoever shopped shopped among the pool\ncan use the random seed\n# since the control shopper distribution is similiar \n'

In [2]:
# QC the 5 offer
import pandas as pd
import os
import datetime
import numpy as np
import gc
import glob
gc.collect()

datetime.datetime.now()

datetime.datetime(2019, 12, 2, 9, 7, 41, 351395)

In [3]:
df_FB_id_email_all=pd.read_csv("./BL_all_ids_shopped_in_18_or_signed_in_12_with_emails_JL_2019-10-17.csv",dtype=str)
df_FB_id_email_all.shape

(21505499, 2)

In [4]:
print(df_FB_id_email_all['email_address_hash'].nunique())

21503336

In [5]:
df_FB_id_email_all.head(2)

,customer_id_hashed,email_address_hash
0,9b7f9a1ba51dbae2a393c273ce8c9aa9bf610dc03410fd...,089bc373eda16a771e023d87ee368fb961c4ff9b36c7d6...
1,c2c5bd862113c4e77c918dd22a25744f2e1224ea63b166...,065edf59d0ed26bea352be5f44fd7a6f688a0fa28cddb3...

In [6]:
df_test=pd.read_csv("./BL_FB_5_offer_test_emails_JL_2019-10-17.csv",dtype=str)
df_control=pd.read_csv("./BL_FB_5_offer_control_emails_JL_2019-10-17.csv",dtype=str)

df_test['Group']="test"
df_control['Group']="control"

df_email_group=df_test.append(df_control)
del df_test
del df_control
print(df_email_group.shape)

df_email_group.head(2)

(21503357, 2)

                                               Email Group
0  089bc373eda16a771e023d87ee368fb961c4ff9b36c7d6...  test
1  065edf59d0ed26bea352be5f44fd7a6f688a0fa28cddb3...  test

In [7]:
df_qc_duplicate=df_email_group.groupby("Email")['Group'].count().to_frame().sort_values("Group",ascending=False)

# 2 the max

In [8]:
df_qc_duplicate[df_qc_duplicate['Group']==2].shape

(21, 1)

In [9]:
df_qc_duplicate.head(5)

                                                    Group
Email
9a19a44e2c73da182a83c72f1b257ee63a52fa4bb4b4d44...      2
9881444aff61ae7f80aa64e102ac1b605eb00b0721f620a...      2
4402ca627f1869163ece462532bd44f974f80c51d0c8dd4...      2
952f8098b11238ad2bf39b96a3b80d93f95159738351610...      2
eb5cc7896ca68745d57a466889c60198307e4a87641e4b1...      2

In [10]:
df_qc_duplicate=df_qc_duplicate.reset_index()
Emails_list_21_in_both=df_qc_duplicate[df_qc_duplicate['Group']==2]['Email'].tolist()
df_email_group[df_email_group['Email'].isin(Emails_list_21_in_both)].sort_values(["Email","Group"])

                                                      Email    Group
95446     1152cb7e6f7bba4aea1a4a9543cefeb4e5f5fccd92a0c5...  control
2118993   1152cb7e6f7bba4aea1a4a9543cefeb4e5f5fccd92a0c5...     test
15843     12d0aded1a1810dd08e60ea3bb1d0b0d46b1a2c224a1e0...  control
14076876  12d0aded1a1810dd08e60ea3bb1d0b0d46b1a2c224a1e0...     test
30196     2b5aadd1188c83cfcd23d14e2578a1af92e41a7198ca1f...  control
19978211  2b5aadd1188c83cfcd23d14e2578a1af92e41a7198ca1f...     test
25126     33c21258cdfeaae52ea857b0af6a72975fb4963ee9f065...  control
20562300  33c21258cdfeaae52ea857b0af6a72975fb4963ee9f065...     test
85183     3f0373fa1412044927d83a5bd105abc584ee8a423607fc...  control
20870886  3f0373fa1412044927d83a5bd105abc584ee8a423607fc...     test
11507     4402ca627f1869163ece462532bd44f974f80c51d0c8dd...  control
11466462  4402ca627f1869163ece462532bd44f974f80c51d0c8dd...     test
10023     50d794aa359942f1706d37cac1215dc624b13abc45b975...  control
20925122  50d794aa359942f1706d37cac1215dc624b13abc45b975...     test
41303     7d0abaaa0ab532f58f8cd5d47394893ed73a22eb185d22...  control
4435661   7d0abaaa0ab532f58f8cd5d47394893ed73a22eb185d22...     test
889       867b3c78faf6860cb386795b358b80e2e9dc66fa587e71...  control
15194080  867b3c78faf6860cb386795b358b80e2e9dc66fa587e71...     test
16847     952f8098b11238ad2bf39b96a3b80d93f9515973835161...  control
8203810   952f8098b11238ad2bf39b96a3b80d93f9515973835161...     test
12861     9881444aff61ae7f80aa64e102ac1b605eb00b0721f620...  control
15010312  9881444aff61ae7f80aa64e102ac1b605eb00b0721f620...     test
28958     9a19a44e2c73da182a83c72f1b257ee63a52fa4bb4b4d4...  control
18469496  9a19a44e2c73da182a83c72f1b257ee63a52fa4bb4b4d4...     test
80143     9e9ee7a65738b02c17563dd34dd680587d0410b0e213e2...  control
3516350   9e9ee7a65738b02c17563dd34dd680587d0410b0e213e2...     test
21759     9ffa5c0e186cb71cf52a131c2b84d028deda2fc954cffa...  control
18657548  9ffa5c0e186cb71cf52a131c2b84d028deda2fc954cffa...     test
16606     cc227cd9db26773714bf6f2144719abdb647f90fbce775...  control
20885930  cc227cd9db26773714bf6f2144719abdb647f90fbce775...     test
79913     d692be9449bb6940fa114d77e5942fae261e176def3026...  control
4438880   d692be9449bb6940fa114d77e5942fae261e176def3026...     test
22182     e7956b4f1167ae6626c02266db8e7da931c94ad94b0bf2...  control
17059013  e7956b4f1167ae6626c02266db8e7da931c94ad94b0bf2...     test
16765     eb5cc7896ca68745d57a466889c60198307e4a87641e4b...  control
5426532   eb5cc7896ca68745d57a466889c60198307e4a87641e4b...     test
77489     f1d05452c81554316589ec3740564d13921712c6216932...  control
757133    f1d05452c81554316589ec3740564d13921712c6216932...     test
18594     fb205f9e3a19ff047cbf571f767ce79d2c24acd8d751d8...  control
9676211   fb205f9e3a19ff047cbf571f767ce79d2c24acd8d751d8...     test
30594     fcbdcaa8fe139cb943ddbf56184dde05d63597230e1c97...  control
16056437  fcbdcaa8fe139cb943ddbf56184dde05d63597230e1c97...     test

In [11]:
# The 21 emails are excluded from both test and control

del df_qc_duplicate
df_email_group=df_email_group[~df_email_group['Email'].isin(Emails_list_21_in_both)]
df_email_group=df_email_group.rename(columns={"Email":"email_address_hash"})

print(datetime.datetime.now(),df_FB_id_email_all.shape)
df_FB_id_email_all=pd.merge(df_FB_id_email_all,df_email_group,on="email_address_hash",how="left")
print(datetime.datetime.now(),df_FB_id_email_all.shape)

2019-12-02 09:33:32.796721 (21505499, 2)
2019-12-02 09:37:12.253982 (21505499, 3)

In [12]:
print(df_FB_id_email_all.shape,df_FB_id_email_all['customer_id_hashed'].nunique())

(21505499, 3) 21505499

# Append Group

In [13]:
files_Q3_audience_uploaded=glob.glob("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2019Q3/upload_files/*.csv")
print(len(files_Q3_audience_uploaded))
files_Q3_audience_uploaded_T=[x for x in files_Q3_audience_uploaded if os.path.basename(x)[:2]=="T_"]
print(len(files_Q3_audience_uploaded_T))

all_q3_test_audience=pd.DataFrame()
for file in files_Q3_audience_uploaded_T:
    df=pd.read_csv(file,dtype=str,usecols=['customer_id_hashed','segment'])
    all_q3_test_audience=all_q3_test_audience.append(df)
all_q3_test_audience=all_q3_test_audience.drop_duplicates()
print(all_q3_test_audience.shape,all_q3_test_audience['customer_id_hashed'].nunique())

50
25
(21810554, 2) 21810554

In [14]:
print(df_FB_id_email_all.shape)
df_FB_id_email_all=pd.merge(df_FB_id_email_all,all_q3_test_audience,on="customer_id_hashed",how="left")
print(df_FB_id_email_all.shape)

(21505499, 3)
(21505499, 4)

In [15]:
df_FB_id_email_all.head(2)

,customer_id_hashed,email_address_hash,Group,segment
0,9b7f9a1ba51dbae2a393c273ce8c9aa9bf610dc03410fd...,089bc373eda16a771e023d87ee368fb961c4ff9b36c7d6...,test,T_Quadrant III_S_L_2019Q3_RFM
1,c2c5bd862113c4e77c918dd22a25744f2e1224ea63b166...,065edf59d0ed26bea352be5f44fd7a6f688a0fa28cddb3...,test,T_Quadrant IV_P_H_2019Q3_RFM

In [16]:
df_FB_id_email_all['segment']=df_FB_id_email_all['segment'].fillna("others_not_in_Q3_audience")

# Sales

In [17]:
# POS data range
file_week_1="/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-10-26/MediaStormDailySales20191029-111155-920.txt"
file_week_2="/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-02/MediaStormDailySales20191105-111212-139.txt"
file_week_3="/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-09/MediaStormDailySales20191112-115210-002.txt"

POS_file_list=[file_week_1,file_week_2,file_week_3]

df_POS_all=pd.DataFrame()

for file in POS_file_list:
    df=pd.read_table(file,dtype=str,sep="|")
    df=df[pd.notnull(df['customer_id_hashed'])]
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    df['sales_instore']=np.where(df['location_id']!="6990",df['item_transaction_amt'],0)
    df['sales_online']=np.where(df['location_id']=="6990",df['item_transaction_amt'],0)
    
    df_trans=df[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
    df_trans['trans_instore']=np.where(df_trans['location_id']!="6990",1,0)
    df_trans['trans_online']=np.where(df_trans['location_id']=="6990",1,0)
    
    df_trans=df_trans.groupby(["customer_id_hashed","transaction_dt"])['trans_instore','trans_online'].sum().reset_index()
    
    df_sales=df.groupby(["customer_id_hashed","transaction_dt"])['sales_instore','sales_online'].sum().reset_index()
    
    df=pd.merge(df_sales,df_trans,on=["customer_id_hashed","transaction_dt"],how="outer")
    df_POS_all=df_POS_all.append(df)
    print(datetime.datetime.now(),df_POS_all.shape)
    
df_POS_all.shape
# earlier version doesn't devide the online vs instore

2019-12-02 09:58:04.913554 (1409778, 6)
2019-12-02 10:01:27.345678 (2907343, 6)
2019-12-02 10:04:59.545246 (4388465, 6)

(4388465, 6)

In [18]:
P1_range=["2019-10-21","2019-11-02"]
P2_range=["2019-11-03","2019-11-07"]

In [19]:
print(df_POS_all['transaction_dt'].min(),df_POS_all['transaction_dt'].max())

2019-10-20 2019-11-09

In [20]:
print(df_FB_id_email_all.shape)
df_FB_id_email_all_0=df_FB_id_email_all[df_FB_id_email_all['segment']!="others_not_in_Q3_audience"]
df_FB_id_email_all_1=df_FB_id_email_all[df_FB_id_email_all['segment']=="others_not_in_Q3_audience"]

df_FB_id_email_all_0['segment']=df_FB_id_email_all_0['segment'].apply(lambda x: x.split("_")[3]+"_"+x.split("_")[2])
df_FB_id_email_all=df_FB_id_email_all_0.append(df_FB_id_email_all_1)
print(df_FB_id_email_all.shape)

(21505499, 4)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

(21505499, 4)

In [21]:
df_FB_id_email_all.groupby("segment")['customer_id_hashed'].count().to_frame().reset_index()

                     segment  customer_id_hashed
0                      48_18              375038
1                        H_P             4937981
2                        H_S             1694485
3                        L_P             2638066
4                        L_S             1106043
5                        M_P             3515875
6                        M_S             1361003
7  others_not_in_Q3_audience             5877008

In [22]:
# left merge into the POS
df_POS_all=pd.merge(df_POS_all,df_FB_id_email_all,on="customer_id_hashed",how="left")
print(df_POS_all.shape)
df_POS_all.head(2)

(4388465, 9)

,customer_id_hashed,transaction_dt,sales_instore,sales_online,trans_instore,trans_online,email_address_hash,Group,segment
0,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-20,13.9,0.0,2,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test,M_P
1,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-24,0.0,0.0,1,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test,M_P

In [23]:
df_POS_all['segment'].unique()

array(['M_P', nan, 'others_not_in_Q3_audience', 'H_S', 'H_P', 'M_S',
       'L_P', '48_18', 'L_S'], dtype=object)

In [24]:
df_POS_all['segment']=df_POS_all['segment'].fillna("others_not_in_Q3_audience")

In [25]:
df_POS_all['segment'].unique()

array(['M_P', 'others_not_in_Q3_audience', 'H_S', 'H_P', 'M_S', 'L_P',
       '48_18', 'L_S'], dtype=object)

In [26]:
df_POS_all['Period']=np.where(((df_POS_all['transaction_dt']>=P1_range[0]) & (df_POS_all['transaction_dt']<=P1_range[1])),"P1: 10/21-11/2",
                              np.where(((df_POS_all['transaction_dt']>=P2_range[0]) & (df_POS_all['transaction_dt']<=P2_range[1])),"P2: 11/3-11/7","Others")
                             )

In [27]:
df_POS_all.to_csv("./BL_df_detail_3_weeks_POS_instore_and_online_with_audience_JL_"+str(datetime.datetime.now().date())+".csv",index="False")

In [28]:
df_POS_all.head(2)

,customer_id_hashed,transaction_dt,sales_instore,sales_online,trans_instore,trans_online,email_address_hash,Group,segment,Period
0,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-20,13.9,0.0,2,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test,M_P,Others
1,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-24,0.0,0.0,1,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test,M_P,P1: 10/21-11/2

In [29]:
agg_func={"email_address_hash":"nunique","sales_instore":"sum","sales_online":"sum","trans_instore":"sum","trans_online":"sum"}
df_summary=df_POS_all.groupby(["Group","Period","segment"]).agg(agg_func).reset_index()
df_summary.shape

(48, 8)

In [30]:
df_summary['Group'].unique()

array(['control', 'test'], dtype=object)

In [31]:
df_total_id=df_FB_id_email_all.groupby(["Group","segment"])['email_address_hash'].nunique().to_frame().reset_index()
df_total_id

      Group                    segment  email_address_hash
0   control                      48_18                1690
1   control                        H_P               22921
2   control                        H_S                7818
3   control                        L_P               12299
4   control                        L_S                5149
5   control                        M_P               16346
6   control                        M_S                6416
7   control  others_not_in_Q3_audience               27340
8      test                      48_18              373348
9      test                        H_P             4915055
10     test                        H_S             1686666
11     test                        L_P             2625766
12     test                        L_S             1100892
13     test                        M_P             3499527
14     test                        M_S             1354587
15     test  others_not_in_Q3_audience             5848621

In [32]:
df_unique_shoppers_both_periods=df_POS_all[df_POS_all['Period']!="Others"]
df_unique_shoppers_both_periods=df_unique_shoppers_both_periods.groupby(["Group","segment"])['email_address_hash'].nunique().to_frame().reset_index()
df_unique_shoppers_both_periods.shape

(16, 3)

In [33]:
writer=pd.ExcelWriter("./BL_output_FB_offer_result_by_store_type_segment_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_summary.to_excel(writer,"performance",index=False)
df_total_id.to_excel(writer,"total_id",index=False)
df_unique_shoppers_both_periods.to_excel(writer,"total_shoppers_both_P",index=False)
writer.save()

# Proration based on shoppers weight

In [85]:
# The proportion of each segment

df_test_both_period=df_unique_shoppers_both_periods[df_unique_shoppers_both_periods['Group']=="test"]
total_shoppers=df_test_both_period['email_address_hash'].sum()
df_test_both_period['pctg']=df_test_both_period['email_address_hash']/total_shoppers

dict_test_both_period=df_test_both_period.set_index("segment").to_dict()["pctg"]

dict_test_both_period

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

{'48_18': 0.011700696911904406,
 'H_P': 0.45387518435615165,
 'H_S': 0.1337377808976239,
 'L_P': 0.043992802837757666,
 'L_S': 0.016981362033652723,
 'M_P': 0.12825922354051292,
 'M_S': 0.0456910239734128,
 'others_not_in_Q3_audience': 0.16576192544898394}

In [99]:
import random
random.seed(0)

In [100]:
df_subset_ids=pd.DataFrame()
for seg_group,df_group in df_FB_id_email_all.groupby(["Group","segment"]):
    df_group=df_group.reset_index()
    del df_group['index']
    df_group=df_group.reset_index()
    total_ids=df_group.shape[0]
    seg=seg_group[1]
    
    selected_ind=random.sample(df_group['index'].tolist(),int(np.floor(total_ids*dict_test_both_period[seg])))
    
    df_group=df_group[df_group['index'].isin(selected_ind)]
    df_subset_ids=df_subset_ids.append(df_group)
    print(seg_group,datetime.datetime.now(),df_group.shape[0]/total_ids,df_subset_ids.shape)

('control', '48_18') 2019-12-02 10:43:36.485078 0.011242603550295858 (19, 5)
('control', 'H_P') 2019-12-02 10:43:36.526483 0.4538632694908599 (10422, 5)
('control', 'H_S') 2019-12-02 10:43:36.545810 0.1336658992069583 (11467, 5)
('control', 'L_P') 2019-12-02 10:43:36.570528 0.04398731604195463 (12008, 5)
('control', 'L_S') 2019-12-02 10:43:36.586423 0.016896484754321227 (12095, 5)
('control', 'M_P') 2019-12-02 10:43:36.618660 0.1282270891961336 (14191, 5)
('control', 'M_S') 2019-12-02 10:43:36.638021 0.04566708229426434 (14484, 5)
('control', 'others_not_in_Q3_audience') 2019-12-02 10:43:36.673986 0.1657278712509144 (19015, 5)
('test', '48_18') 2019-12-02 10:43:36.882524 0.011699540375199546 (23383, 5)
('test', 'H_P') 2019-12-02 10:43:48.123460 0.4538751025674779 (2254205, 5)
('test', 'H_S') 2019-12-02 10:43:51.316721 0.13373720701075376 (2479775, 5)
('test', 'L_P') 2019-12-02 10:43:54.125588 0.04399249590405238 (2595289, 5)
('test', 'L_S') 2019-12-02 10:43:56.339859 0.016980775589249444 (2613983, 5)
('test', 'M_P') 2019-12-02 10:44:02.354945 0.12825904757985865 (3062829, 5)
('test', 'M_S') 2019-12-02 10:44:03.908437 0.04569067915165287 (3124721, 5)
('test', 'others_not_in_Q3_audience') 2019-12-02 10:44:16.153601 0.1657617953940716 (4094367, 5)

In [105]:
df_POS_all_both_Periods_subset=df_POS_all[df_POS_all['Period']!="Others"]
df_POS_all_both_Periods_subset['Period'].unique()

df_POS_all_both_Periods_subset=df_POS_all_both_Periods_subset[df_POS_all_both_Periods_subset['email_address_hash'].isin(df_subset_ids['email_address_hash'].unique().tolist())]

In [108]:
agg_func={"email_address_hash":"nunique","sales_instore":"sum","sales_online":"sum","trans_instore":"sum","trans_online":"sum"}
df_summary_subset=df_POS_all_both_Periods_subset.groupby(["Group","Period","segment"]).agg(agg_func).reset_index()
df_summary_subset.shape

(31, 8)

In [109]:
df_total_id_subset=df_subset_ids.groupby(["Group","segment"])['email_address_hash'].nunique().to_frame().reset_index()
df_total_id_subset

      Group                    segment  email_address_hash
0   control                      48_18                  19
1   control                        H_P               10403
2   control                        H_S                1045
3   control                        L_P                 541
4   control                        L_S                  87
5   control                        M_P                2096
6   control                        M_S                 293
7   control  others_not_in_Q3_audience                4531
8      test                      48_18                4368
9      test                        H_P             2230821
10     test                        H_S              225570
11     test                        L_P              115514
12     test                        L_S               18694
13     test                        M_P              448846
14     test                        M_S               61892
15     test  others_not_in_Q3_audience              969616

In [112]:
df_unique_shoppers_both_periods_subset=df_POS_all_both_Periods_subset.groupby(["Group","segment"])['email_address_hash'].nunique().to_frame().reset_index()
df_unique_shoppers_both_periods_subset.shape

(16, 3)

In [114]:
writer=pd.ExcelWriter("./BL_output_FB_offer_result_subset_based_on_shopper_share_by_store_type_segment_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_summary_subset.to_excel(writer,"subset_performance",index=False)
df_total_id_subset.to_excel(writer,"subset_total_id",index=False)
df_unique_shoppers_both_periods_subset.to_excel(writer,"subset_total_shoppers_both_P",index=False)
writer.save()

# Adjusting to FB actual reached level

In [160]:
# Use the same share of shoppers accross segments

import random
random.seed(0)

df_subset_ids.groupby(['Group'])['email_address_hash'].nunique().to_frame().reset_index()

     Group  email_address_hash
0  control               19015
1     test             4075285

In [161]:
Total_Test_From_Above=4075285
Total_Control_From_Above=19015

Total_Test_From_FB_reach=1548161
Total_Control_From_FB_reach=30688

rate_test=Total_Test_From_FB_reach/Total_Test_From_Above
rate_control=Total_Control_From_FB_reach/Total_Control_From_Above

In [162]:
rate_test

0.3798902408052443

In [163]:
rate_control

1.6138837759663425

In [164]:
df_subset_ids_based_FB_reach=pd.DataFrame()
for seg_group,df_group in df_FB_id_email_all.groupby(["Group","segment"]):
    df_group=df_group.reset_index()
    print(df_group.shape)
    del df_group['index']
    df_group=df_group.reset_index()
    total_ids=df_group.shape[0]
    seg=seg_group[1]
    
    if seg_group[0]=="test":
        selected_ind=random.sample(df_group['index'].tolist(),int(np.round(total_ids*dict_test_both_period[seg])*rate_test))
    elif seg_group[0]=="control":
        selected_ind=random.sample(df_group['index'].tolist(),int(np.round(total_ids*dict_test_both_period[seg])*rate_control))
    
    df_group=df_group[df_group['index'].isin(selected_ind)]
    df_subset_ids_based_FB_reach=df_subset_ids_based_FB_reach.append(df_group)
    print(df_group.shape)
    print(seg_group,datetime.datetime.now(),df_group.shape[0]/total_ids,df_subset_ids_based_FB_reach.shape)

(1690, 5)
(32, 5)
('control', '48_18') 2019-12-02 15:30:53.709889 0.01893491124260355 (32, 5)
(22921, 5)
(16789, 5)
('control', 'H_P') 2019-12-02 15:30:53.763496 0.7324724052179225 (16821, 5)
(7818, 5)
(1688, 5)
('control', 'H_S') 2019-12-02 15:30:53.787427 0.21591199795344077 (18509, 5)
(12299, 5)
(873, 5)
('control', 'L_P') 2019-12-02 15:30:53.816874 0.07098138060004879 (19382, 5)
(5149, 5)
(140, 5)
('control', 'L_S') 2019-12-02 15:30:53.837724 0.02718974558166634 (19522, 5)
(16346, 5)
(3384, 5)
('control', 'M_P') 2019-12-02 15:30:53.870913 0.2070231249235287 (22906, 5)
(6416, 5)
(472, 5)
('control', 'M_S') 2019-12-02 15:30:53.892478 0.07356608478802992 (23378, 5)
(27340, 5)
(7314, 5)
('control', 'others_not_in_Q3_audience') 2019-12-02 15:30:53.937432 0.26752011704462325 (30692, 5)
(373348, 5)
(1659, 5)
('test', '48_18') 2019-12-02 15:30:54.166281 0.004443575430965212 (32351, 5)
(4915057, 5)
(847467, 5)
('test', 'H_P') 2019-12-02 15:31:00.926645 0.17242261890350408 (879818, 5)
(1686666, 5)
(85692, 5)
('test', 'H_S') 2019-12-02 15:31:03.274584 0.05080555367808446 (965510, 5)
(2625766, 5)
(43883, 5)
('test', 'L_P') 2019-12-02 15:31:05.753343 0.0167124564793664 (1009393, 5)
(1100892, 5)
(7102, 5)
('test', 'L_S') 2019-12-02 15:31:06.718153 0.006451132354490722 (1016495, 5)
(3499527, 5)
(170512, 5)
('test', 'M_P') 2019-12-02 15:31:10.143275 0.04872429902669704 (1187007, 5)
(1354587, 5)
(23512, 5)
('test', 'M_S') 2019-12-02 15:31:11.434183 0.017357319980185842 (1210519, 5)
(5849635, 5)
(368359, 5)
('test', 'others_not_in_Q3_audience') 2019-12-02 15:31:17.897617 0.06297127940461242 (1578878, 5)

In [165]:
df_POS_all_both_Periods_subset_FB_Based=df_POS_all[df_POS_all['Period']!="Others"]
# df_POS_all_both_Periods_subset_FB_Based['Period'].unique()

df_POS_all_both_Periods_subset_FB_Based=df_POS_all_both_Periods_subset_FB_Based[df_POS_all_both_Periods_subset_FB_Based['email_address_hash'].isin(df_subset_ids_based_FB_reach['email_address_hash'].unique().tolist())]

In [166]:
agg_func={"email_address_hash":"nunique","sales_instore":"sum","sales_online":"sum","trans_instore":"sum","trans_online":"sum"}
df_summary_subset_FB_Based=df_POS_all_both_Periods_subset_FB_Based.groupby(["Group","Period","segment"]).agg(agg_func).reset_index()
df_summary_subset_FB_Based.shape

(31, 8)

In [167]:
df_total_id_subset_FB_Based=df_subset_ids_based_FB_reach.groupby(["Group","segment"])['email_address_hash'].nunique().to_frame().reset_index()
df_total_id_subset_FB_Based

      Group                    segment  email_address_hash
0   control                      48_18                  32
1   control                        H_P               16789
2   control                        H_S                1688
3   control                        L_P                 873
4   control                        L_S                 140
5   control                        M_P                3384
6   control                        M_S                 472
7   control  others_not_in_Q3_audience                7314
8      test                      48_18                1659
9      test                        H_P              847467
10     test                        H_S               85692
11     test                        L_P               43883
12     test                        L_S                7102
13     test                        M_P              170512
14     test                        M_S               23512
15     test  others_not_in_Q3_audience              368355

In [168]:
df_unique_shoppers_both_periods_subset_FB_Based=df_POS_all_both_Periods_subset_FB_Based.groupby(["Group","segment"])['email_address_hash'].nunique().to_frame().reset_index()
df_unique_shoppers_both_periods_subset_FB_Based.shape

(16, 3)

In [169]:
writer=pd.ExcelWriter("./BL_output_FB_offer_result_FB_Reach_based_subset_based_on_shopper_share_by_store_type_segment_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_summary_subset_FB_Based.to_excel(writer,"subset_performance",index=False)
df_total_id_subset_FB_Based.to_excel(writer,"subset_total_id",index=False)
df_unique_shoppers_both_periods_subset_FB_Based.to_excel(writer,"subset_total_shoppers_both_P",index=False)
writer.save()