In [1]:
import pandas as pd
import numpy as np
import datetime
import os

print(datetime.datetime.now())
os.getcwd()

2020-01-17 15:36:15.495844

'/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Segment_Broyhill'

In [2]:
def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root,file)
            
date_last_Saturday=datetime.date(2020,1,11)
dates_19Q4_start=datetime.date(2019,11,3)

list_daily_sales=list(recursive_file_gen("/home/jian/BigLots/"))
list_daily_sales=[x for x in list_daily_sales if "daily" in x.lower() and "/MediaStorm_" in x]
list_daily_sales=[x for x in list_daily_sales if x.split("/MediaStorm_")[1][:10]>=str(dates_19Q4_start)]

list_daily_sales.sort()
print(len(list_daily_sales))

10

In [3]:
list_daily_sales[-1]

'/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-01-11/MediaStormDailySales20200114-115009-140.txt'

In [4]:
df_product_selected=pd.read_excel("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Segment_Broyhill/Bryohill SKU List_and_2classes_20200116.xlsx",
                                 sheet_name="selected_items",dtype=str)
print(df_product_selected.shape)
df_product_selected=df_product_selected.rename(columns={"Item":"item_id"})
df_product_selected['product_type']=np.where(df_product_selected['Division']=="9","Broyhill",
                                            df_product_selected['Class'])
df_product_selected['product_type']=df_product_selected['product_type'].replace("21012","Patio")
df_product_selected['product_type']=df_product_selected['product_type'].replace("21034","Gazebos")
df_product_selected=df_product_selected[df_product_selected['product_type'].isin(['Broyhill','Patio','Gazebos'])]

df_product_selected=df_product_selected[['product_type','item_id']]
print(df_product_selected.shape)
df_product_selected.groupby("product_type")['item_id'].count().to_frame()

(39, 10)
(39, 2)

              item_id
product_type
Broyhill           22
Gazebos             4
Patio              13

In [5]:
df_product_selected['item_id'].nunique()

39

In [8]:
df_selected_item_POS=pd.DataFrame()
i_counter=0
for file in list_daily_sales:
    df=pd.read_table(file,dtype=str,sep="|",
                     usecols=['customer_id_hashed','item_id','item_transaction_amt'])
    df=df[pd.notnull(df['customer_id_hashed'])]
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    df=df[df['item_transaction_amt']>0]
    df=pd.merge(df,df_product_selected,on="item_id",how="left")
    df=df[pd.notnull(df['product_type'])]
    df_selected_item_POS=df_selected_item_POS.append(df)
    i_counter+=1
    print(i_counter,datetime.datetime.now(),os.path.basename(file))
    
df_id_list_broyhill_shoppers=df_selected_item_POS[['customer_id_hashed']].drop_duplicates()

1 2020-01-17 15:42:04.590427 MediaStormDailySales20191112-115210-002.txt
2 2020-01-17 15:43:31.651468 MediaStormDailySales20191119-112232-478.txt
3 2020-01-17 15:45:03.083179 MediaStormDailySales20191126-112901-552.txt
4 2020-01-17 15:47:05.178584 MediaStormDailySales20191203.txt
5 2020-01-17 15:49:04.446020 MediaStormDailySales.txt
6 2020-01-17 15:51:11.218312 MediaStormDailySales20191217-195625-000.txt
7 2020-01-17 15:53:25.220812 MediaStormDailySales20191226-122746-000.txt
8 2020-01-17 15:55:10.738875 MediaStormDailySales20191231-112945-515.txt
9 2020-01-17 15:56:27.223431 MediaStormDailySales20200107-112859-015.txt
10 2020-01-17 15:57:28.776763 MediaStormDailySales20200114-115009-140.txt

In [9]:
df_id_list_broyhill_shoppers['shopper_type']="Q4_selected_Item_shoppers"
print(df_selected_item_POS.shape)
print(df_id_list_broyhill_shoppers.shape)
print(df_selected_item_POS['item_id'].nunique())

(21087, 4)
(9394, 2)
34

In [10]:
df_all_item_selected_shoppers_only=pd.DataFrame()
i_counter=0
for file in list_daily_sales:
    df=pd.read_table(file,dtype=str,sep="|",
                     usecols=['location_id','transaction_dt','transaction_id','customer_id_hashed','item_id','item_transaction_units','item_transaction_amt'])
    df=df[pd.notnull(df['customer_id_hashed'])]
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    df['item_transaction_units']=df['item_transaction_units'].astype(int)
    df=pd.merge(df,df_id_list_broyhill_shoppers,on="customer_id_hashed",how="inner")
    df=pd.merge(df,df_product_selected,on="item_id",how="left")
    
    df['product_type']=df['product_type'].fillna("others")
    df['agg_prod_type']=np.where(df['product_type']=="others","others","Broyhill/Patio/Gazebos")
    
    df_all_item_selected_shoppers_only=df_all_item_selected_shoppers_only.append(df)
    i_counter+=1
    print(i_counter,datetime.datetime.now(),os.path.basename(file))

1 2020-01-17 15:58:05.786245 MediaStormDailySales20191112-115210-002.txt
2 2020-01-17 15:58:44.102709 MediaStormDailySales20191119-112232-478.txt
3 2020-01-17 15:59:26.834870 MediaStormDailySales20191126-112901-552.txt
4 2020-01-17 16:00:28.613041 MediaStormDailySales20191203.txt
5 2020-01-17 16:01:37.741888 MediaStormDailySales.txt
6 2020-01-17 16:02:44.723662 MediaStormDailySales20191217-195625-000.txt
7 2020-01-17 16:03:56.500478 MediaStormDailySales20191226-122746-000.txt
8 2020-01-17 16:04:53.662129 MediaStormDailySales20191231-112945-515.txt
9 2020-01-17 16:05:33.683605 MediaStormDailySales20200107-112859-015.txt
10 2020-01-17 16:06:07.647035 MediaStormDailySales20200114-115009-140.txt

In [11]:
df_all_item_selected_shoppers_only.shape

(167431, 10)

In [12]:
df_all_item_selected_shoppers_only.head(2)

,location_id,transaction_dt,transaction_id,customer_id_hashed,item_id,item_transaction_units,item_transaction_amt,shopper_type,product_type,agg_prod_type
0,4228,2019-11-03,1193,f76310beeb99ebb6ed73819caa35772352cb38c183a7c6...,810451651,1,13.0,Q4_selected_Item_shoppers,others,others
1,4228,2019-11-03,1193,f76310beeb99ebb6ed73819caa35772352cb38c183a7c6...,810203416,1,5.0,Q4_selected_Item_shoppers,others,others

In [13]:
df_all_item_selected_shoppers_only['customer_id_hashed'].nunique()

9394

In [14]:
print(df_all_item_selected_shoppers_only['product_type'].unique())
print(df_all_item_selected_shoppers_only['agg_prod_type'].unique())

['others' 'Broyhill' 'Patio' 'Gazebos']
['others' 'Broyhill/Patio/Gazebos']

In [15]:
# total
df_sales=df_all_item_selected_shoppers_only.groupby("customer_id_hashed")['item_transaction_amt','item_transaction_units'].sum().reset_index()
df_sales=df_sales.rename(columns={"item_transaction_amt":"total_sales",'item_transaction_units':"total_units"})
df_trans=df_all_item_selected_shoppers_only[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
df_trans['trans']=1
df_trans=df_trans.groupby("customer_id_hashed")['trans'].sum().to_frame().reset_index()
df_trans=df_trans.rename(columns={"trans":"total_trans"})


df_total=pd.merge(df_sales,df_trans,on="customer_id_hashed")

In [16]:
df_broyhill=df_all_item_selected_shoppers_only[df_all_item_selected_shoppers_only['product_type']=="Broyhill"]


df_sales=df_broyhill.groupby("customer_id_hashed")['item_transaction_amt','item_transaction_units'].sum().reset_index()
df_sales=df_sales.rename(columns={"item_transaction_amt":"broyhill_sales",'item_transaction_units':"broyhill_units"})
df_trans=df_broyhill[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
df_trans['trans']=1
df_trans=df_trans.groupby("customer_id_hashed")['trans'].sum().to_frame().reset_index()
df_trans=df_trans.rename(columns={"trans":"broyhill_trans"})


df_broyhill=pd.merge(df_sales,df_trans,on="customer_id_hashed")

In [17]:
df_all_3=df_all_item_selected_shoppers_only[df_all_item_selected_shoppers_only['product_type']!="others"]


df_sales=df_all_3.groupby("customer_id_hashed")['item_transaction_amt','item_transaction_units'].sum().reset_index()
df_sales=df_sales.rename(columns={"item_transaction_amt":"all_3_sales",'item_transaction_units':"all_3_units"})
df_trans=df_all_3[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
df_trans['trans']=1
df_trans=df_trans.groupby("customer_id_hashed")['trans'].sum().to_frame().reset_index()
df_trans=df_trans.rename(columns={"trans":"all_3_trans"})


df_all_3=pd.merge(df_sales,df_trans,on="customer_id_hashed")

In [18]:
df_patio=df_all_item_selected_shoppers_only[df_all_item_selected_shoppers_only['product_type']=="Patio"]


df_sales=df_patio.groupby("customer_id_hashed")['item_transaction_amt','item_transaction_units'].sum().reset_index()
df_sales=df_sales.rename(columns={"item_transaction_amt":"patio_sales",'item_transaction_units':"patio_units"})
df_trans=df_patio[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
df_trans['trans']=1
df_trans=df_trans.groupby("customer_id_hashed")['trans'].sum().to_frame().reset_index()
df_trans=df_trans.rename(columns={"trans":"patio_trans"})


df_patio=pd.merge(df_sales,df_trans,on="customer_id_hashed")

In [19]:
df_gazebos=df_all_item_selected_shoppers_only[df_all_item_selected_shoppers_only['product_type']=="Gazebos"]


df_sales=df_gazebos.groupby("customer_id_hashed")['item_transaction_amt','item_transaction_units'].sum().reset_index()
df_sales=df_sales.rename(columns={"item_transaction_amt":"gazebos_sales",'item_transaction_units':"gazebos_units"})
df_trans=df_gazebos[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
df_trans['trans']=1
df_trans=df_trans.groupby("customer_id_hashed")['trans'].sum().to_frame().reset_index()
df_trans=df_trans.rename(columns={"trans":"gazebos_trans"})


df_gazebos=pd.merge(df_sales,df_trans,on="customer_id_hashed")

In [20]:
df_others=df_all_item_selected_shoppers_only[df_all_item_selected_shoppers_only['product_type']=="others"]


df_sales=df_others.groupby("customer_id_hashed")['item_transaction_amt','item_transaction_units'].sum().reset_index()
df_sales=df_sales.rename(columns={"item_transaction_amt":"others_sales",'item_transaction_units':"others_units"})
df_trans=df_others[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
df_trans['trans']=1
df_trans=df_trans.groupby("customer_id_hashed")['trans'].sum().to_frame().reset_index()
df_trans=df_trans.rename(columns={"trans":"others_trans"})


df_others=pd.merge(df_sales,df_trans,on="customer_id_hashed")

In [21]:
df_output=pd.merge(df_total,df_all_3,on="customer_id_hashed",how="outer")

df_output=pd.merge(df_output,df_others,on="customer_id_hashed",how="outer")
df_output=pd.merge(df_output,df_broyhill,on="customer_id_hashed",how="outer")
df_output=pd.merge(df_output,df_patio,on="customer_id_hashed",how="outer")
df_output=pd.merge(df_output,df_gazebos,on="customer_id_hashed",how="outer")

df_output=df_output.fillna(0)
df_output.shape

(9394, 19)

In [22]:
df_output['trans_share_all_3']=df_output['all_3_trans']/df_output['total_trans']
df_output['sales_share_all_3']=df_output['all_3_sales']/df_output['total_sales']
df_output['units_share_all_3']=df_output['all_3_units']/df_output['total_units']

df_output=df_output.sort_values(["trans_share_all_3","sales_share_all_3","units_share_all_3"],ascending=[False,False,False])

In [23]:
pd.options.display.max_columns=99

In [24]:
import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

print(pd.read_sql("select max(sign_up_date) from BL_Rewards_Master;",con=BL_engine).values)
df_all_rewards_email=pd.read_sql("select customer_id_hashed, email_address_hash from BL_Rewards_Master;",con=BL_engine)
df_all_rewards_email=df_all_rewards_email.drop_duplicates("customer_id_hashed")

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

[[datetime.date(2020, 1, 11)]]

In [25]:
df_output=pd.merge(df_output,df_all_rewards_email,on="customer_id_hashed",how="left")

In [31]:
df.head(2)

,customer_id_hashed,email_address_hash,segment
0,5eaacb983a60e8d1a7cdebe65936b5958fd290ea4c8f95...,8521e14b1064437ba9c4b2a3f529d9ff38b39a721592d1...,C_Lapsed (13-18)_Score(L)_Density(M)_SOTF_AllE...
1,d2e4c97d89e1f55388b626ae1b91e4ef7beef4c331d01a...,cef464758c7dc105c7c03681f7258b7ff97b28bbf287e2...,C_Lapsed (13-18)_Score(L)_Density(M)_SOTF_AllE...

In [32]:
# Q4 segments

import glob
i_counter=0
list_all_uploaded_seg=glob.glob("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2019Q4/upload_files/*.csv")
len(list_all_uploaded_seg)
df_all_Q4_seg=pd.DataFrame()
for file in list_all_uploaded_seg:
    df=pd.read_csv(file,dtype=str,usecols=['customer_id_hashed','segment'])
    df_all_Q4_seg=df_all_Q4_seg.append(df)
    i_counter+=1
    print(i_counter,datetime.datetime.now())
df_all_Q4_seg.shape

1 2020-01-17 16:33:10.685496
2 2020-01-17 16:33:10.696372
3 2020-01-17 16:33:11.419103
4 2020-01-17 16:33:11.589534
5 2020-01-17 16:33:11.619462
6 2020-01-17 16:33:11.647039
7 2020-01-17 16:33:11.702228
8 2020-01-17 16:33:11.742342
9 2020-01-17 16:33:11.770876
10 2020-01-17 16:33:11.798737
11 2020-01-17 16:33:11.835816
12 2020-01-17 16:33:11.874339
13 2020-01-17 16:33:11.924614
14 2020-01-17 16:33:11.966403
15 2020-01-17 16:33:12.429685
16 2020-01-17 16:33:12.728180
17 2020-01-17 16:33:13.046362
18 2020-01-17 16:33:13.198891
19 2020-01-17 16:33:18.060584
20 2020-01-17 16:33:20.122390
21 2020-01-17 16:33:20.507762
22 2020-01-17 16:33:20.767243
23 2020-01-17 16:33:23.812827
24 2020-01-17 16:33:25.008580
25 2020-01-17 16:33:25.338947
26 2020-01-17 16:33:25.657370
27 2020-01-17 16:33:26.243595
28 2020-01-17 16:33:26.619481
29 2020-01-17 16:33:26.927110
30 2020-01-17 16:33:27.237582
31 2020-01-17 16:33:27.558778
32 2020-01-17 16:33:27.873071
33 2020-01-17 16:33:28.182557
34 2020-01-17 16:33:28.516574
35 2020-01-17 16:33:28.826823
36 2020-01-17 16:33:29.133271
37 2020-01-17 16:33:29.480867
38 2020-01-17 16:33:29.795595
39 2020-01-17 16:33:30.203458
40 2020-01-17 16:33:30.636253
41 2020-01-17 16:33:31.099802
42 2020-01-17 16:33:31.501365
43 2020-01-17 16:33:33.558927
44 2020-01-17 16:33:34.719755
45 2020-01-17 16:33:35.211235
46 2020-01-17 16:33:35.626688
47 2020-01-17 16:33:37.208770
48 2020-01-17 16:33:38.040270
49 2020-01-17 16:33:38.495094
50 2020-01-17 16:33:39.003227
51 2020-01-17 16:33:39.986266
52 2020-01-17 16:33:40.634573
53 2020-01-17 16:33:41.068714
54 2020-01-17 16:33:41.487039
55 2020-01-17 16:33:42.057621
56 2020-01-17 16:33:42.526860
57 2020-01-17 16:33:43.091625
58 2020-01-17 16:33:43.566444
59 2020-01-17 16:33:44.106029
60 2020-01-17 16:33:44.583338
61 2020-01-17 16:33:45.123280
62 2020-01-17 16:33:45.576467
63 2020-01-17 16:33:46.252965
64 2020-01-17 16:33:46.951443
65 2020-01-17 16:33:47.648446
66 2020-01-17 16:33:48.307582
67 2020-01-17 16:33:52.252297
68 2020-01-17 16:33:54.471014
69 2020-01-17 16:33:55.198194
70 2020-01-17 16:33:55.948448
71 2020-01-17 16:33:58.800000
72 2020-01-17 16:34:00.183121
73 2020-01-17 16:34:01.348461
74 2020-01-17 16:34:02.099349
75 2020-01-17 16:34:02.910904
76 2020-01-17 16:34:03.776433
77 2020-01-17 16:34:04.450012
78 2020-01-17 16:34:05.327386
79 2020-01-17 16:34:06.089889
80 2020-01-17 16:34:06.953691
81 2020-01-17 16:34:09.495638
82 2020-01-17 16:34:10.975764
83 2020-01-17 16:34:13.034858
84 2020-01-17 16:34:14.180604
85 2020-01-17 16:34:15.229708
86 2020-01-17 16:34:15.996374
87 2020-01-17 16:34:17.057025
88 2020-01-17 16:34:17.843623
89 2020-01-17 16:34:18.890610
90 2020-01-17 16:34:19.662172
91 2020-01-17 16:34:20.711365
92 2020-01-17 16:34:21.493689
93 2020-01-17 16:34:22.521792
94 2020-01-17 16:34:23.296081
95 2020-01-17 16:34:24.333037
96 2020-01-17 16:34:25.104369
97 2020-01-17 16:34:26.133573
98 2020-01-17 16:34:26.903019
99 2020-01-17 16:34:27.937838
100 2020-01-17 16:34:28.714331
101 2020-01-17 16:34:29.748712
102 2020-01-17 16:34:30.514475
103 2020-01-17 16:34:31.661788
104 2020-01-17 16:34:32.473338
105 2020-01-17 16:34:33.510025
106 2020-01-17 16:34:34.277461
107 2020-01-17 16:34:35.427314
108 2020-01-17 16:34:36.279579
109 2020-01-17 16:34:37.322807
110 2020-01-17 16:34:38.190826
111 2020-01-17 16:34:39.258131
112 2020-01-17 16:34:40.117475
113 2020-01-17 16:34:41.146576
114 2020-01-17 16:34:41.976479
115 2020-01-17 16:34:43.023688
116 2020-01-17 16:34:43.793525
117 2020-01-17 16:34:44.835734
118 2020-01-17 16:34:45.613270
119 2020-01-17 16:34:46.651667
120 2020-01-17 16:34:47.434421
121 2020-01-17 16:34:48.475698
122 2020-01-17 16:34:49.242631
123 2020-01-17 16:34:50.295251
124 2020-01-17 16:34:51.076429
125 2020-01-17 16:34:52.120752
126 2020-01-17 16:34:53.020344
127 2020-01-17 16:34:54.128014
128 2020-01-17 16:34:54.995009
129 2020-01-17 16:34:56.090080
130 2020-01-17 16:34:56.885822
131 2020-01-17 16:34:57.969178
132 2020-01-17 16:34:58.753777
133 2020-01-17 16:34:59.818909
134 2020-01-17 16:35:00.607688
135 2020-01-17 16:35:01.667106
136 2020-01-17 16:35:02.460969
137 2020-01-17 16:35:03.516453
138 2020-01-17 16:35:04.288343
139 2020-01-17 16:35:05.342194
140 2020-01-17 16:35:06.128436
141 2020-01-17 16:35:07.173405
142 2020-01-17 16:35:07.954018
143 2020-01-17 16:35:09.010665
144 2020-01-17 16:35:09.790998
145 2020-01-17 16:35:10.843680
146 2020-01-17 16:35:11.632130
147 2020-01-17 16:35:12.691644
148 2020-01-17 16:35:13.470528
149 2020-01-17 16:35:14.536364
150 2020-01-17 16:35:15.328724
151 2020-01-17 16:35:16.456090
152 2020-01-17 16:35:17.280602
153 2020-01-17 16:35:18.351839
154 2020-01-17 16:35:19.143885
155 2020-01-17 16:35:20.251829
156 2020-01-17 16:35:21.064443
157 2020-01-17 16:35:22.144292
158 2020-01-17 16:35:22.929494
159 2020-01-17 16:35:23.994126
160 2020-01-17 16:35:24.782073
161 2020-01-17 16:35:25.839557
162 2020-01-17 16:35:26.625558
163 2020-01-17 16:35:27.682842
164 2020-01-17 16:35:28.468591
165 2020-01-17 16:35:29.566312
166 2020-01-17 16:35:30.373654
167 2020-01-17 16:35:31.466626
168 2020-01-17 16:35:32.260166
169 2020-01-17 16:35:34.615749
170 2020-01-17 16:35:35.450378
171 2020-01-17 16:35:36.957611
172 2020-01-17 16:35:44.133411
173 2020-01-17 16:35:48.732650
174 2020-01-17 16:35:50.089818
175 2020-01-17 16:35:51.370143
176 2020-01-17 16:35:52.696823
177 2020-01-17 16:35:54.094732
178 2020-01-17 16:35:55.461509

(21977588, 2)

In [33]:
df_output=pd.merge(df_output,df_all_Q4_seg,on="customer_id_hashed",how="left")

In [34]:
df_all_rewards_signup=pd.read_sql("select customer_id_hashed, sign_up_date from BL_Rewards_Master;",con=BL_engine)
df_all_rewards_signup=df_all_rewards_signup.drop_duplicates("customer_id_hashed")
df_output=pd.merge(df_output,df_all_rewards_signup,on="customer_id_hashed",how="left")

In [35]:
writer=pd.ExcelWriter("./BL_broyhill_shoppers_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_output.to_excel(writer,"shoppers_all_purchase",index=False)
writer.save()

In [36]:
df_output.shape

(9394, 25)

In [37]:
df_output.head(2)

,customer_id_hashed,total_sales,total_units,total_trans,all_3_sales,all_3_units,all_3_trans,others_sales,others_units,others_trans,broyhill_sales,broyhill_units,broyhill_trans,patio_sales,patio_units,patio_trans,gazebos_sales,gazebos_units,gazebos_trans,trans_share_all_3,sales_share_all_3,units_share_all_3,email_address_hash,segment,sign_up_date
0,357dac3710e692327b2786e731d20ddf88efb2bf0cfc41...,0.99,0,1,899.99,2,1,-899.00,-2.0,1.0,899.99,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,909.080808,inf,bf8ded33907deed228b23013ea8d8d14047ebf316b9e9a...,T_Active (0-12)_Score(H)_Density(M)_Legacy_Oth...,2018-08-19
1,c4e52cba0fbf3ffe86bb9770646df96b0f1df374ec55a6...,50.01,-2,1,999.99,2,1,-949.98,-4.0,1.0,999.99,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,19.995801,-1.0,ae53d15e76832bdf78e5522de51f0a614d768773d23b8b...,T_Active (0-12)_Score(H)_Density(M)_Legacy_Oth...,2019-09-01

In [38]:
df_output['customer_id_hashed'].nunique()

9394

In [39]:
df_output['email_address_hash'].nunique()

8582

In [40]:
df_output[df_output['broyhill_trans']>0].shape

(9197, 25)