In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import sqlalchemy
import glob
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )
pd.read_sql("show tables;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

   Tables_in_BigLots
0        BL_POS_Item
1    BL_POS_Subclass
2  BL_Rewards_Master
3     Pred_CRM_table

In [ ]:
def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root,file)

In [3]:
date_range_POS_Subclass=pd.read_sql("select min(transaction_dt),max(transaction_dt) from BL_POS_Subclass;",con=BL_engine)
date_range_POS_Subclass

  min(transaction_dt) max(transaction_dt)
0          2016-06-26          2018-08-04

In [5]:
date_range_POS_Item=pd.read_sql("select min(transaction_dt),max(transaction_dt) from BL_POS_Item;",con=BL_engine)
date_range_POS_Item

  min(transaction_dt) max(transaction_dt)
0          2018-08-05          2019-12-28

In [7]:
pd.read_sql("desc BL_POS_Subclass;",con=BL_engine)

                        Field           Type Null  Key Default Extra
0                 location_id        int(11)  YES  MUL    None
1              transaction_dt           date  YES  MUL    None
2              transaction_id    varchar(16)  YES         None
3          customer_id_hashed       char(64)  YES  MUL    None
4               class_code_id    varchar(16)  YES  MUL    None
5                 subclass_id    varchar(16)  YES         None
6  subclass_transaction_units        int(11)  YES         None
7    subclass_transaction_amt  decimal(10,2)  YES         None

In [8]:
pd.read_sql("desc BL_POS_Item;",con=BL_engine)

                    Field           Type Null  Key Default Extra
0             location_id        int(11)  YES  MUL    None
1          transaction_dt           date  YES  MUL    None
2          transaction_id    varchar(16)  YES         None
3      customer_id_hashed       char(64)  YES  MUL    None
4           class_code_id    varchar(16)  YES  MUL    None
5             subclass_id    varchar(16)  YES         None
6                 item_id    varchar(16)  YES         None
7  item_transaction_units        int(11)  YES         None
8    item_transaction_amt  decimal(10,2)  YES         None

# 2018

In [9]:
# Start around 1:32 pm

df_historical_from_Subclass_POS_2018=pd.read_sql("select * from BL_POS_Subclass \
where transaction_dt>='2018-01-01';",con=BL_engine)
print("df_historical_from_Subclass_POS_2018.shape",df_historical_from_Subclass_POS_2018.shape)

# around 2 hours

OperationalError: (pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query') [SQL: "select * from BL_POS_Subclass where transaction_dt>='2018-01-01';"]

In [ ]:
import glob

In [ ]:
# Read from each file

list_file_subclass=glob.glob("/home/jian/BigLots/hist_daily_data_subclasslevel/*.txt")
list_file_subclass=[x for x in list_file_subclass if x.split("_ending_")[1][:10]>="2018-01-01"]
list_file_subclass.sort()
print(list_file_subclass[0])
print(list_file_subclass[-1])

In [ ]:
list_file_subclass_weekly=list(recursive_file_gen("/home/jian/BigLots/2018_by_weeks/"))
list_file_subclass_weekly=[x for x in list_file_subclass_weekly if "dailysales" in x.lower()]
list_file_subclass_weekly=[x for x in list_file_subclass_weekly if x[-4:]==".txt"]
# list_file_subclass_weekly=[x for x in list_file_subclass_weekly if x.split("")<="2018-08-04"]
list_file_subclass_weekly

In [ ]:
print(datetime.datetime.now())