In [1]:
# IV up to week_ending 20190831

import pandas as pd
import numpy as np
import sqlalchemy
import datetime
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [3]:
df_1_CRM=pd.read_sql("select t_master.* from Pred_Temp_CommonID_ending_20190831_since18Q1 as t_temp left join BL_Rewards_Master as t_master on t_temp.customer_id_hashed = t_master.customer_id_hashed;",con=BL_engine)
df_1_CRM.head(2)

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,transaction_count,transaction_amount,experian_multi_cluster,experian_demo_cluster,purchase_channel,email_unsubscribe_indicator,email_undeliverable_indicator,file_path
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,2018-09-22,STORE,4061.0,93722,NaN,NaN,None,None,None,N,N,/home/jian/BigLots/New_Sing_Ups_2018_Fiscal_Ye...
1,00002cbd0c672091dbcf133a76fd1d8d01648daa3b6c94...,923602bca84d01be57e543c5d77a656013f0327c970864...,2018-11-20,STORE,4331.0,87112,NaN,NaN,None,None,None,N,N,/home/jian/BigLots/New_Sing_Ups_2018_Fiscal_Ye...

In [4]:
print(datetime.datetime.now())

df_2_Exposure=pd.read_sql("select t_exposure.customer_id_hashed as customer_id_hashed, week_end_dt, sum(impressions) as impressions, sum(clicks) as clicks \
from Pred_Temp_CommonID_ending_20190831_since18Q1 as t_temp left join Pred_ExposureV2_BL_id as t_exposure on t_temp.customer_id_hashed = t_exposure.customer_id_hashed \
where week_end_dt<='2019-08-31' group by customer_id_hashed, week_end_dt;",con=BL_engine)
print("df_2_Exposure.shape",df_2_Exposure.shape)
print("df_2_Exposure['customer_id_hashed'].nunique()",df_2_Exposure['customer_id_hashed'].nunique())
print(df_2_Exposure['week_end_dt'].min(),df_2_Exposure['week_end_dt'].max())
df_2_Exposure=df_2_Exposure.fillna(0)
print(datetime.datetime.now())
df_2_Exposure.head(2)

2020-05-03 18:37:05.400682
df_2_Exposure.shape (513856, 4)
df_2_Exposure['customer_id_hashed'].nunique() 91456
2018-05-26 2019-08-31
2020-05-03 19:09:29.119415

,customer_id_hashed,week_end_dt,impressions,clicks
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,2018-11-10,1.0,0.0
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,2018-12-29,2.0,0.0

In [5]:
df_2_Exposure_last_week=df_2_Exposure[df_2_Exposure['week_end_dt']==datetime.date(2019,8,31)]
df_2_Exposure_last_week=df_2_Exposure_last_week.groupby(['customer_id_hashed'])['impressions','clicks'].sum().reset_index()
df_2_Exposure_last_week=df_2_Exposure_last_week.rename(columns={"impressions":"last_week_impr","clicks":"last_week_click"})
df_2_Exposure_last_week['last_week_impr']=df_2_Exposure_last_week['last_week_impr'].fillna(0)
df_2_Exposure_last_week['last_week_click']=df_2_Exposure_last_week['last_week_click'].fillna(0)
print(df_2_Exposure_last_week.shape,df_2_Exposure_last_week['customer_id_hashed'].nunique())

df_2_Exposure_total=df_2_Exposure.groupby("customer_id_hashed")['impressions','clicks'].sum().reset_index()
df_2_Exposure_total=df_2_Exposure_total.rename(columns={"impressions":"total_impr","clicks":"total_click"})
df_2_Exposure=pd.merge(df_2_Exposure_total,df_2_Exposure_last_week,on="customer_id_hashed",how="outer")
df_2_Exposure=df_2_Exposure.fillna(0)
print(df_2_Exposure.shape,df_2_Exposure['customer_id_hashed'].nunique())

(4688, 3) 4688
(91456, 5) 91456

In [6]:
df_2_Exposure.head(2)

,customer_id_hashed,total_impr,total_click,last_week_impr,last_week_click
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,27.0,0.0,0.0,0.0
1,00002cbd0c672091dbcf133a76fd1d8d01648daa3b6c94...,1.0,0.0,0.0,0.0

In [7]:
df_2_Exposure['last_week_impr'].sum(),df_2_Exposure['last_week_click'].sum()

(26501.0, 1182.0)

In [8]:
df_3_Activity_last_week=pd.read_sql("select t_temp.customer_id_hashed as customer_id_hashed, date_est, session_sequence, activity_sequence \
from Pred_Temp_CommonID_ending_20190831_since18Q1 as t_temp left join Pred_ExpV2_Activity_BL_id as t_exp_act on t_temp.customer_id_hashed = t_exp_act.customer_id_hashed \
where date_est between '2019-08-25' and '2019-08-31';",con=BL_engine)
df_3_Activity_last_week=df_3_Activity_last_week.fillna(0)
df_3_Activity_last_week.shape,df_3_Activity_last_week['customer_id_hashed'].nunique()

((43437, 4), 1576)

In [9]:
agg_func={"session_sequence":"nunique","activity_sequence":"count"}

df_3_Activity_last_week=df_3_Activity_last_week.groupby(['customer_id_hashed'])['session_sequence','activity_sequence'].agg(agg_func).reset_index()
df_3_Activity_last_week=df_3_Activity_last_week.rename(columns={"session_sequence":"last_week_sessions","activity_sequence":"last_week_activities"})
print(df_3_Activity_last_week.shape,df_3_Activity_last_week['customer_id_hashed'].nunique())

(1576, 3) 1576

In [10]:
print(datetime.datetime.now())
df_3_Activity_total=pd.read_sql("select t_temp.customer_id_hashed as customer_id_hashed, date_est, session_sequence, activity_sequence \
from Pred_Temp_CommonID_ending_20190831_since18Q1 as t_temp left join Pred_ExpV2_Activity_BL_id as t_exp_act on t_temp.customer_id_hashed = t_exp_act.customer_id_hashed \
where t_exp_act.date_est <='2019-08-31';",con=BL_engine)
df_3_Activity_total=df_3_Activity_total.fillna(0)
print(datetime.datetime.now())
print(df_3_Activity_total.shape,df_3_Activity_total['customer_id_hashed'].nunique())
print(df_3_Activity_total['date_est'].min(),df_3_Activity_total['date_est'].max())
print(datetime.datetime.now())

2020-05-03 19:09:51.047741
2020-05-03 20:20:57.841234
(5062933, 4) 91456
2018-05-23 2019-08-31
2020-05-03 20:20:59.460746

In [11]:
agg_func={"session_sequence":"nunique","activity_sequence":"count"}
df_3_Activity_total_agg=df_3_Activity_total.groupby(['customer_id_hashed'])['session_sequence','activity_sequence'].agg(agg_func).reset_index()
df_3_Activity_total_agg=df_3_Activity_total_agg.rename(columns={"session_sequence":"total_sessions","activity_sequence":"total_activities"})
print(df_3_Activity_total_agg.shape,df_3_Activity_total_agg['customer_id_hashed'].nunique())

(91456, 3) 91456

In [12]:
df_3_Activity=pd.merge(df_3_Activity_total_agg,df_3_Activity_last_week,on="customer_id_hashed",how="outer")
df_3_Activity=df_3_Activity.fillna(0)
df_3_Activity.head(2)

,customer_id_hashed,total_sessions,total_activities,last_week_sessions,last_week_activities
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,8,68,0.0,0.0
1,00002cbd0c672091dbcf133a76fd1d8d01648daa3b6c94...,1,2,0.0,0.0

In [14]:
import os

folder_tables="./data_table_"+str(datetime.datetime.now().date())+"/"
try:
    os.stat(folder_tables)
except:
    os.mkdir(folder_tables)

In [15]:
df_1_CRM.to_csv(folder_tables+"/df_1_CRM.csv",index=False)
df_2_Exposure.to_csv(folder_tables+"/df_2_Exposure.csv",index=False)
df_3_Activity.to_csv(folder_tables+"/df_3_Activity.csv",index=False)