In [1]:
# IV up to week_ending 20190831

import pandas as pd
import numpy as np
import sqlalchemy
import datetime
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [2]:
pd.read_sql("show tables;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

                               Tables_in_BigLots
0                                    BL_POS_Item
1                                BL_POS_Subclass
2                              BL_Rewards_Master
3                            Pred_Activity_BL_id
4                            Pred_Activity_GU_id
5                      Pred_ExpV2_Activity_BL_id
6                          Pred_ExposureV2_BL_id
7                          Pred_ExposureV2_GU_id
8                            Pred_Exposure_BL_id
9                            Pred_Exposure_GU_id
10                           Pred_POS_Department
11            Pred_Temp_CommonID_ending_20190831
12  Pred_Temp_CommonID_ending_20190831_since18Q1
13                                  dept_id_list
14          pred_pos_dept_91k_20190831_since18Q1
15                           sample_pred_pos_2_1
16                           sample_pred_pos_2_2
17                             view_pred_pos_2_1
18                             view_pred_pos_2_2
19                  view_pred_pos_2_2_first_week
20                 view_pred_pos_2_2_recent_five
21                 view_pred_pos_2_2_recent_four
22                  view_pred_pos_2_2_recent_one
23                view_pred_pos_2_2_recent_three
24                  view_pred_pos_2_2_recent_two
25                       view_sample100_pred_pos
26                      view_sample_pred_pos_2_1

In [3]:
df_1_CRM=pd.read_sql("select t_master.* from Pred_Temp_CommonID_ending_20190831 as t_temp left join BL_Rewards_Master as t_master on t_temp.customer_id_hashed = t_master.customer_id_hashed;",con=BL_engine)
df_1_CRM.head(2)

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,transaction_count,transaction_amount,experian_multi_cluster,experian_demo_cluster,purchase_channel,email_unsubscribe_indicator,email_undeliverable_indicator,file_path
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,2018-09-22,STORE,4061.0,93722,NaN,NaN,None,None,None,N,N,/home/jian/BigLots/New_Sing_Ups_2018_Fiscal_Ye...
1,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,3ec23725736314cdfdd3fec2dc33de427da23104623312...,2010-09-05,STORE,1528.0,04210,11.0,173.24,0,0,STORES,N,N,/home/jian/Projects/Big_Lots/Loyal_members/loy...

In [19]:
print(datetime.datetime.now())

df_2_Exposure=pd.read_sql("select t_exposure.customer_id_hashed as customer_id_hashed, week_end_dt, sum(impressions) as impressions, sum(clicks) as clicks \
from Pred_Temp_CommonID_ending_20190831 as t_temp left join Pred_ExposureV2_BL_id as t_exposure on t_temp.customer_id_hashed = t_exposure.customer_id_hashed \
where week_end_dt<='2019-08-31' group by customer_id_hashed, week_end_dt;",con=BL_engine)
print("df_2_Exposure.shape",df_2_Exposure.shape)
print("df_2_Exposure['customer_id_hashed'].nunique()",df_2_Exposure['customer_id_hashed'].nunique())
print(df_2_Exposure['week_end_dt'].min(),df_2_Exposure['week_end_dt'].max())
df_2_Exposure=df_2_Exposure.fillna(0)
print(datetime.datetime.now())
df_2_Exposure.head(2)

2020-04-27 13:24:16.393153
df_2_Exposure.shape (3759275, 4)
df_2_Exposure['customer_id_hashed'].nunique() 577766
2018-05-26 2019-08-31
2020-04-27 13:36:30.808065

,customer_id_hashed,week_end_dt,impressions,clicks
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,2018-11-10,1.0,0.0
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,2018-12-29,2.0,0.0

In [20]:
df_2_Exposure_last_week=df_2_Exposure[df_2_Exposure['week_end_dt']==datetime.date(2019,8,31)]
df_2_Exposure_last_week=df_2_Exposure_last_week.groupby(['customer_id_hashed'])['impressions','clicks'].sum().reset_index()
df_2_Exposure_last_week=df_2_Exposure_last_week.rename(columns={"impressions":"last_week_impr","clicks":"last_week_click"})
df_2_Exposure_last_week['last_week_impr']=df_2_Exposure_last_week['last_week_impr'].fillna(0)
df_2_Exposure_last_week['last_week_click']=df_2_Exposure_last_week['last_week_click'].fillna(0)
print(df_2_Exposure_last_week.shape,df_2_Exposure_last_week['customer_id_hashed'].nunique())

df_2_Exposure_total=df_2_Exposure.groupby("customer_id_hashed")['impressions','clicks'].sum().reset_index()
df_2_Exposure_total=df_2_Exposure_total.rename(columns={"impressions":"total_impr","clicks":"total_click"})
df_2_Exposure=pd.merge(df_2_Exposure_total,df_2_Exposure_last_week,on="customer_id_hashed",how="outer")
df_2_Exposure=df_2_Exposure.fillna(0)
print(df_2_Exposure.shape,df_2_Exposure['customer_id_hashed'].nunique())

(27659, 3) 27659
(577766, 5) 577766

In [21]:
df_2_Exposure.head(2)

,customer_id_hashed,total_impr,total_click,last_week_impr,last_week_click
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,27.0,0.0,0.0,0.0
1,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,49.0,0.0,0.0,0.0

In [22]:
df_2_Exposure['last_week_impr'].sum(),df_2_Exposure['last_week_click'].sum()

(158413.0, 6417.0)

In [7]:
df_3_Activity_last_week=pd.read_sql("select t_temp.customer_id_hashed as customer_id_hashed, date_est, session_sequence, activity_sequence \
from Pred_Temp_CommonID_ending_20190831 as t_temp left join Pred_ExpV2_Activity_BL_id as t_exp_act on t_temp.customer_id_hashed = t_exp_act.customer_id_hashed \
where date_est between '2019-08-25' and '2019-08-31';",con=BL_engine)
df_3_Activity_last_week=df_3_Activity_last_week.fillna(0)
df_3_Activity_last_week.shape,df_3_Activity_last_week['customer_id_hashed'].nunique()

((257010, 4), 8964)

In [8]:
agg_func={"session_sequence":"nunique","activity_sequence":"count"}

df_3_Activity_last_week=df_3_Activity_last_week.groupby(['customer_id_hashed'])['session_sequence','activity_sequence'].agg(agg_func).reset_index()
df_3_Activity_last_week=df_3_Activity_last_week.rename(columns={"session_sequence":"last_week_sessions","activity_sequence":"last_week_activities"})
print(df_3_Activity_last_week.shape,df_3_Activity_last_week['customer_id_hashed'].nunique())

(8964, 3) 8964

In [9]:
print(datetime.datetime.now())
df_3_Activity_total=pd.read_sql("select t_temp.customer_id_hashed as customer_id_hashed, date_est, session_sequence, activity_sequence \
from Pred_Temp_CommonID_ending_20190831 as t_temp left join Pred_ExpV2_Activity_BL_id as t_exp_act on t_temp.customer_id_hashed = t_exp_act.customer_id_hashed \
where t_exp_act.date_est <='2019-08-31';",con=BL_engine)
df_3_Activity_total=df_3_Activity_total.fillna(0)
print(datetime.datetime.now())
print(df_3_Activity_total.shape,df_3_Activity_total['customer_id_hashed'].nunique())
print(df_3_Activity_total['date_est'].min(),df_3_Activity_total['date_est'].max())
print(datetime.datetime.now())

2020-04-27 12:42:42.883613
2020-04-27 13:01:30.092107
(28922929, 4) 577766
2018-05-23 2019-08-31
2020-04-27 13:01:39.700442

In [10]:
agg_func={"session_sequence":"nunique","activity_sequence":"count"}
df_3_Activity_total_agg=df_3_Activity_total.groupby(['customer_id_hashed'])['session_sequence','activity_sequence'].agg(agg_func).reset_index()
df_3_Activity_total_agg=df_3_Activity_total_agg.rename(columns={"session_sequence":"total_sessions","activity_sequence":"total_activities"})
print(df_3_Activity_total_agg.shape,df_3_Activity_total_agg['customer_id_hashed'].nunique())

(577766, 3) 577766

In [25]:
df_3_Activity=pd.merge(df_3_Activity_total_agg,df_3_Activity_last_week,on="customer_id_hashed",how="outer")
df_3_Activity=df_3_Activity.fillna(0)
df_3_Activity.head(2)

,customer_id_hashed,total_sessions,total_activities,last_week_sessions,last_week_activities
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,8,68,0.0,0.0
1,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,8,10,0.0,0.0

In [26]:
df_1_CRM.to_csv("./df_1_CRM.csv",index=False)
df_2_Exposure.to_csv("./df_2_Exposure.csv",index=False)
df_3_Activity.to_csv("./df_3_Activity.csv",index=False)