In [1]:
import pandas as pd
import logging
import sqlalchemy
import datetime

logging.basicConfig(filename='/home/jian/celery/BL_MySQL/Weekly_Update_MySQL/create_index_on_DCM_BL_table.log', 
                    level=logging.INFO)

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

print(datetime.datetime.now())

2020-04-22 10:49:58.130688

In [15]:
# list_index=['customer_id_hashed','date_est','impressions','clicks','week_end_dt']
list_index=['week_end_dt']
# others can be added once in need

In [16]:
pd.read_sql("desc Pred_ExposureV2_BL_id;",con=BL_engine)

                 Field          Type Null  Key Default Extra
0              User_ID   varchar(64)  YES         None
1        Customer_Link  varchar(128)  YES         None
2   customer_id_hashed   varchar(64)  YES  MUL    None
3             date_est          date  YES  MUL    None
4        Advertiser_ID   varchar(16)  YES         None
5          Campaign_ID   varchar(16)  YES         None
6                Ad_ID   varchar(16)  YES         None
7              Site_ID   varchar(16)  YES         None
8         Placement_ID   varchar(16)  YES         None
9          impressions       int(11)  YES  MUL    None
10              clicks       int(11)  YES  MUL    None
11         week_end_dt          date  YES         None

In [17]:
# pd.read_sql error without return, to change to call the query in other curser

for col in list_index:
    query="create index %s on Pred_ExposureV2_BL_id(%s);" %(col,col)
    print(query)
    print("start_run",col,datetime.datetime.now())
    pd.read_sql(query,con=BL_engine)
    print("done_of_index",col,datetime.datetime.now())
    
print("all indexes created",datetime.datetime.now())

create index week_end_dt on Pred_ExposureV2_BL_id(week_end_dt);
start_run week_end_dt 2020-04-22 11:49:26.571820

ResourceClosedError: This result object does not return rows. It has been closed automatically.