In [4]:
import pandas as pd
import numpy as np
import datetime
import logging
import sqlalchemy

logging.basicConfig(filename='./inner_merge_all_tables.log', level=logging.INFO)

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [5]:
pd.read_sql("show tables;",con=BL_engine)

                 Tables_in_BigLots
0                      BL_POS_Item
1                  BL_POS_Subclass
2                BL_Rewards_Master
3              Pred_Activity_BL_id
4              Pred_Activity_GU_id
5                   Pred_CRM_table
6            Pred_ExposureV2_BL_id
7            Pred_ExposureV2_GU_id
8              Pred_Exposure_BL_id
9              Pred_Exposure_GU_id
10             Pred_POS_Department
11                    dept_id_list
12                    pred_pos_2_1
13                    pred_pos_2_2
14         pred_pos_2_2_first_week
15        pred_pos_2_2_recent_five
16        pred_pos_2_2_recent_four
17         pred_pos_2_2_recent_one
18       pred_pos_2_2_recent_three
19         pred_pos_2_2_recent_two
20                        test_pos
21               test_pred_pos_2_1
22               test_pred_pos_2_2
23    test_pred_pos_2_2_first_week
24   test_pred_pos_2_2_recent_five
25   test_pred_pos_2_2_recent_four
26    test_pred_pos_2_2_recent_one
27  test_pred_pos_2_2_recent_three
28    test_pred_pos_2_2_recent_two

In [6]:
# Date last Saturday = "2019-08-31"
# new weeks Sunday DV = "2019-09-01"

# 18Q1 start = "2018-02-04"
# sign_up_date to to '2019-03-02'

In [7]:
df_1=pd.read_sql("select distinct customer_id_hashed as customer_id_hashed from BL_Rewards_Master where sign_up_date<='2019-03-02';",con=BL_engine)
print(df_1.shape,df_1['customer_id_hashed'].nunique())
df_1.head(2)

(26778360, 1) 26778360

                                  customer_id_hashed
0  00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...
1  000001dadc0265bf9d250566d74e0006323f18b5826641...

In [8]:
df_2=pd.read_sql("select distinct customer_id_hashed as customer_id_hashed from Pred_POS_Department where transaction_dt<='2019-08-31'",con=BL_engine)
print(df_2.shape,df_2['customer_id_hashed'].nunique())
df_2.head(2)

(21767092, 1) 21767091

                                  customer_id_hashed
0                                               None
1  000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...

In [9]:
df_3=pd.read_sql("select distinct customer_id_hashed as customer_id_hashed from Pred_ExposureV2_BL_id where date_est<='2019-08-31'",con=BL_engine)
print(df_3.shape,df_3['customer_id_hashed'].nunique())
df_3.head(2)

(3825468, 1) 3825468

                                  customer_id_hashed
0  00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...
1  000001dadc0265bf9d250566d74e0006323f18b5826641...

In [10]:
df_4=pd.read_sql("select distinct customer_id_hashed as customer_id_hashed from Pred_Activity_BL_id where date_utc<='2019-08-31'",con=BL_engine)
print(df_4.shape,df_4['customer_id_hashed'].nunique())
df_4.head(2)

(747919, 1) 747919

                                  customer_id_hashed
0  000001dadc0265bf9d250566d74e0006323f18b5826641...
1  00000950dea4a869e9fe70d823444d418c5abebbd8e830...

In [11]:
df_commonid=pd.merge(df_1,df_2,on="customer_id_hashed",how="inner")
print("1&2",df_commonid.shape)
df_commonid=pd.merge(df_commonid,df_3,on="customer_id_hashed",how="inner")
print("1-3",df_commonid.shape)
df_commonid=pd.merge(df_commonid,df_4,on="customer_id_hashed",how="inner")
print("1-4",df_commonid.shape)
print(df_commonid.shape,df_commonid['customer_id_hashed'].nunique())
df_commonid.head(2)

1&2 (17561835, 1)
1-3 (2735355, 1)
1-4 (577766, 1)
(577766, 1) 577766

                                  customer_id_hashed
0  000001dadc0265bf9d250566d74e0006323f18b5826641...
1  00000950dea4a869e9fe70d823444d418c5abebbd8e830...

In [12]:
df_commonid.to_csv("./Pred_df_common_BL_ids_up_to_20190831.csv",index=False)

In [13]:
import pymysql.cursors
engine_pymysql_db_BL = pymysql.connect(host='localhost',user='jian',
                         password='JubaPlus-2017',db='BigLots',
                         charset='utf8mb4',cursorclass=pymysql.cursors.DictCursor)

In [15]:
def create_Common_ID_table():
    with engine_pymysql_db_BL.cursor() as cur:
        cur.execute("DROP TABLE IF EXISTS Pred_Temp_CommonID_ending_20190831;")
        cur.execute("CREATE TABLE Pred_Temp_CommonID_ending_20190831 \
        (\
        customer_id_hashed varchar(64) \
        );")
    print("1:An empty TABLE Pred_Temp_CommonID_ending_20190831 has been created.",datetime.datetime.now())
 
 
create_Common_ID_table()

1:An empty TABLE Pred_Temp_CommonID_ending_20190831 has been created. 2020-04-16 17:38:43.295370

In [16]:
df_commonid.to_sql('Pred_Temp_CommonID_ending_20190831',if_exists='append',con=BL_engine,index=False)

In [17]:
df_qc=pd.read_sql("select * from Pred_Temp_CommonID_ending_20190831",con=BL_engine)

In [19]:
df_qc.shape

(577766, 1)

In [20]:
pd.read_sql("desc Pred_Temp_CommonID_ending_20190831",con=BL_engine)

                Field         Type Null Key Default Extra
0  customer_id_hashed  varchar(64)  YES        None