In [2]:
import pandas as pd
import datetime
import numpy as np
import os
import glob
print(datetime.datetime.now())

2020-07-30 12:36:01.881292

In [3]:
# 1. weekly
folder_weekly_example="/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-07-25/"
list_files_weekly=glob.glob(folder_weekly_example+"*")
list_files_weekly

['/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-07-25/MediaStormTrafficDetail20200728-111930-880.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-07-25/MediaStormInventoryWeekly20200728-111916-272.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-07-25/MediaStormDailySales20200728-111703-352.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-07-25/MediaStormSalesWeekly20200728-111926-752.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-07-25/MediaStormMasterWeekly20200728-111918-861.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-07-25/MediaStormTrafficWeekly20200728-111930-880.txt']

In [20]:
writer_weekly=pd.ExcelWriter("./BL_weekly_feed_to_MediaStorm.xlsx",engine="xlsxwriter")
for file in list_files_weekly:
    file_name=os.path.basename(file).replace("MediaStorm","").split("2020")[0]
    df=pd.read_table(file,nrows=10,sep="|")
    df=df.dtypes.to_frame().reset_index()    
    df.columns=[file_name,'']
    df.to_excel(writer_weekly,file_name,index=False)
writer_weekly.save()

In [25]:
pd.read_csv(list_files_weekly[3],sep="|",nrows=10)

,location_id,week_end_dt,fiscal_week_nbr,gross_sales_amt,gross_transaction_cnt,class_code_id,subclass_id,subclass_gross_sales_amt
0,1,2020-07-25,25,90960.13,2286,11001,2,661.05
1,1,2020-07-25,25,90960.13,2286,11001,4,51.37
2,1,2020-07-25,25,90960.13,2286,11001,6,29.38
3,1,2020-07-25,25,90960.13,2286,11001,8,270.62
4,1,2020-07-25,25,90960.13,2286,11001,10,168.01
5,1,2020-07-25,25,90960.13,2286,11001,13,56.43
6,1,2020-07-25,25,90960.13,2286,11003,1,144.59
7,1,2020-07-25,25,90960.13,2286,11003,5,24.36
8,1,2020-07-25,25,90960.13,2286,11003,7,79.96
9,1,2020-07-25,25,90960.13,2286,11003,9,69.29

In [29]:
# 2. monthly
list_files_monthly_1="/home/jian/BigLots/static_files/Store_list/MediaStormStores20200701-134729-986.txt"
list_files_monthly_2="/home/jian/BigLots/static_files/ProductTaxonomy/MediaStormProductTaxonomy20200701-134729-991.txt"
list_files_monthly_3="/home/jian/BigLots/unsubscribe/BL_Email_Subscriber_File_Delta__20200725040244.csv"
list_files_monthly_4="/home/jian/BigLots/unsubscribe/BL_Email_UnSubscriber_File_Refresh__20200725040404.csv"
list_files_weekly=[list_files_monthly_1,list_files_monthly_2,list_files_monthly_3,list_files_monthly_4]
writer_monthly=pd.ExcelWriter("./BL_monthly_feed_to_MediaStorm.xlsx",engine="xlsxwriter")

for file in list_files_weekly:
    file_name=os.path.basename(file).split("2020")[0].replace("__","").replace("BL_","")
    df=pd.read_table(file,nrows=10,sep="|")
    df=df.dtypes.to_frame().reset_index()    
    df.columns=[file_name,'']
    df.to_excel(writer_monthly,file_name,index=False)
writer_monthly.save()

In [30]:
df.columns

Index(['Email_UnSubscriber_File_Refresh', ''], dtype='object')