In [1]:
import pandas as pd
import numpy as np
import datetime
import glob
import os
import sqlalchemy
import gc
print(datetime.datetime.now())
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

2020-03-03 12:58:48.001625

In [3]:
start_date=datetime.datetime.now().date()-datetime.timedelta(days=366/2)
start_date

datetime.date(2019, 9, 2)

In [5]:
def recursive_file_gen(root_folder):
    for root, dirs, files in os.walk(root_folder):
        for file in files:
            yield os.path.join(root,file)
            
all_new_sign_ups=list(recursive_file_gen("/home/jian/BigLots/"))
all_new_sign_ups=[x for x in all_new_sign_ups if "/MediaStorm_20" in x and "MasterWeekly" in x]
all_new_sign_ups.sort()
all_new_sign_ups=[x for x in all_new_sign_ups if x.split("/MediaStorm_")[1][:10]>=str(start_date)]
print(start_date)
len(all_new_sign_ups)

2019-09-02

26

In [9]:
df_all_counts=pd.DataFrame()
i_counter=0
for file in all_new_sign_ups:
    week_end_dt=file.split("/MediaStorm_")[1][:10]
    df=pd.read_table(file,dtype=str,sep="|",usecols=['customer_id_hashed','email_address_hash','sign_up_channel','sign_up_date'])
    df=df.groupby(["sign_up_date","sign_up_channel"])['customer_id_hashed','email_address_hash'].nunique().reset_index()
    df['sign_up_week']=week_end_dt
    df_all_counts=df_all_counts.append(df)
    i_counter+=1
    if i_counter%10==1:
        print(i_counter,week_end_dt,datetime.datetime.now())
df_all_counts.shape

1 2019-09-07 2020-03-03 13:06:16.865199
11 2019-11-16 2020-03-03 13:06:52.839738
21 2020-01-25 2020-03-03 13:07:22.185307

(364, 5)

In [10]:
df_all_counts

,sign_up_date,sign_up_channel,customer_id_hashed,email_address_hash,sign_up_week
0,2019-09-01,ONLINE,7610,7610,2019-09-07
1,2019-09-01,STORE,13161,13161,2019-09-07
2,2019-09-02,ONLINE,8587,8587,2019-09-07
3,2019-09-02,STORE,13772,13772,2019-09-07
4,2019-09-03,ONLINE,5626,5626,2019-09-07
...,...,...,...,...,...
9,2020-02-27,STORE,10169,10169,2020-02-29
10,2020-02-28,ONLINE,6794,6794,2020-02-29
11,2020-02-28,STORE,11172,11172,2020-02-29
12,2020-02-29,ONLINE,7386,7386,2020-02-29
13,2020-02-29,STORE,15083,15083,2020-02-29

In [11]:
df_count_week=df_all_counts.groupby(["sign_up_week","sign_up_channel"])['customer_id_hashed','email_address_hash'].sum().reset_index()
df_count_week=df_count_week.pivot(index="sign_up_week",columns="sign_up_channel",values=['customer_id_hashed','email_address_hash']).reset_index()
df_count_week

                sign_up_week customer_id_hashed         email_address_hash  \
sign_up_channel                          ONLINE   STORE             ONLINE
0                 2019-09-07              42588   80238              42588
1                 2019-09-14              41208   79809              41208
2                 2019-09-21              32796   81018              32796
3                 2019-09-28              39479  132711              39479
4                 2019-10-05              39316   77645              39316
5                 2019-10-12              37298   71407              37298
6                 2019-10-19              40557   87930              40557
7                 2019-10-26              40974   71931              40974
8                 2019-11-02              46146   71895              46146
9                 2019-11-09              56880   84666              56880
10                2019-11-16              65973   91232              65973
11                2019-11-23              71428   98980              71428
12                2019-11-30              92289  121795              92289
13                2019-12-07              85215   98841              85215
14                2019-12-14              69396   96498              69396
15                2019-12-21              73386   96680              73385
16                2019-12-28              59719   74964              59719
17                2020-01-04              48131   67732              48131
18                2020-01-11              35102   56427              35102
19                2020-01-18              34713   67811              34713
20                2020-01-25              33175   68642              33175
21                2020-02-01              29567   58659              29567
22                2020-02-08              28353   55527              28354
23                2020-02-15              31865   61156              31865
24                2020-02-22              36064   65682              36064
25                2020-02-29              45748   72907              45748


sign_up_channel   STORE
0                 80238
1                 79809
2                 81018
3                132711
4                 77645
5                 71407
6                 87930
7                 71931
8                 71895
9                 84666
10                91232
11                98980
12               121795
13                98841
14                96498
15                96680
16                74964
17                67732
18                56427
19                67811
20                68642
21                58659
22                55527
23                61156
24                65682
25                72907

In [13]:
pd.read_sql("show tables;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

     Tables_in_BigLots
0          BL_POS_Item
1      BL_POS_Subclass
2    BL_Rewards_Master
3       Pred_CRM_table
4  Pred_POS_Department

In [17]:
# MySQL QC
# strat date of 1st week: "2019-09-01"
df=pd.read_sql("select sign_up_channel, count(distinct customer_id_hashed) as unique_id, count(distinct email_address_hash) as unique_email from \
BL_Rewards_Master where sign_up_date >= '2019-09-01' group by sign_up_channel;",con=BL_engine)
df

  sign_up_channel  unique_id  unique_email
0          ONLINE    1257362       1257346
1           STORE    2092782       2092778

In [18]:
writer=pd.ExcelWriter("./BL_recent_half_year_new_sign_up_counts_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_count_week.to_excel(writer,"count_by_week",index=True)
df_all_counts.to_excel(writer,"count_by_day",index=True)
df.to_excel(writer,"count_half_year",index=True)
writer.save()