In [1]:
import pandas as pd
import numpy as np
import datetime
import os

print(datetime.datetime.now())

df_prod_taxo=pd.read_table("/home/jian/BigLots/static_files/ProductTaxonomy/MediaStormProductTaxonomy20200301-134228-899.txt",
                          dtype=str,sep="|")
df_prod_taxo_matterss=df_prod_taxo[['department_id','class_code_id','subclass_id']]
df_prod_taxo_matterss=df_prod_taxo_matterss[df_prod_taxo_matterss['department_id']=="615"].drop_duplicates()
df_prod_taxo_matterss

2020-03-05 15:34:13.937104

     department_id class_code_id subclass_id
2305           615         61501           1
2306           615         61501           3
2307           615         61501           5
2308           615         61502           1
2309           615         61502           3
2310           615         61502           5
2311           615         61503           1
2312           615         61503           3
2313           615         61503           5
2314           615         61504           1
2315           615         61504           3
2316           615         61504           5
2317           615         61505           1
2318           615         61505         999
2319           615         61599         999
2780           615         61501           2
2781           615         61501           4
2782           615         61501         999
2783           615         61502           2
2784           615         61502           4
2785           615         61502         999
2786           615         61503           2
2787           615         61503           4
2788           615         61503         999
2789           615         61504           2
2790           615         61504           4
2791           615         61504         999
2792           615         61505           2
2793           615         61506         999

In [2]:
def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root, file)
            
wanted_start="2019-09-29"
wanted_end="2020-02-29"

list_all_POS_wanted=list(recursive_file_gen("/home/jian/BigLots/"))
list_all_POS_wanted=[x for x in list_all_POS_wanted if "/MediaStorm_" in x and "daily" in x.lower()]
list_all_POS_wanted=[x for x in list_all_POS_wanted if x.split("/MediaStorm_")[1][:10]>=wanted_start]
list_all_POS_wanted=[x for x in list_all_POS_wanted if x.split("/MediaStorm_")[1][:10]<=wanted_end]
print(len(list_all_POS_wanted))
list_all_POS_wanted.sort()
list_all_POS_wanted

22

['/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-10-05/MediaStormDailySales20191008-120723-038.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-10-12/MediaStormDailySales20191015-111135-657.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-10-19/MediaStormDailySales20191022-111240-145.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-10-26/MediaStormDailySales20191029-111155-920.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-02/MediaStormDailySales20191105-111212-139.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-09/MediaStormDailySales20191112-115210-002.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-16/MediaStormDailySales20191119-112232-478.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-23/MediaStormDailySales20191126-112901-552.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-30/MediaStormDailySales20191203.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-12-07/MediaStormDailySales20191211.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-12-14/MediaStormDailySales20191217-195625-000.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-12-21/MediaStormDailySales20191226-122746-000.txt',
 '/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-12-28/MediaStormDailySales20191231-112945-515.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-01-04/MediaStormDailySales20200107-112859-015.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-01-11/MediaStormDailySales20200114-115009-140.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-01-18/MediaStormDailySales20200121-111749-649.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-01-25/MediaStormDailySales20200128-111758-074.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-01/MediaStormDailySales20200204-111741-091.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-08/MediaStormDailySales20200211-120911-483.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-15/MediaStormDailySales20200218-110927-085.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-22/MediaStormDailySales20200225-111349-615.txt',
 '/home/jian/BigLots/MediaStorm_2020-02-29/MediaStormDailySales20200303-111359-260.txt']

In [3]:
df_mattress_sales_all=pd.DataFrame()
for file in list_all_POS_wanted:
    df=pd.read_table(file,usecols=['location_id','transaction_dt','transaction_id','customer_id_hashed','class_code_id','subclass_id','item_transaction_amt'],
                    dtype=str,sep="|")
    df=df[pd.notnull(df['customer_id_hashed'])]
    df=pd.merge(df,df_prod_taxo_matterss,on=['class_code_id','subclass_id'],how="left")
    df=df[pd.notnull(df['department_id'])]
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    df=df.rename(columns={"item_transaction_amt":"sales"})
    
    df_sales=df.groupby(['location_id','customer_id_hashed','transaction_dt'])['sales'].sum().to_frame().reset_index()
    df_trans=df[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
    df_trans['trans']=1
    df_trans=df_trans.groupby(['location_id','customer_id_hashed','transaction_dt'])['trans'].sum().to_frame().reset_index()
    
    df=pd.merge(df_sales,df_trans,on=['location_id','customer_id_hashed','transaction_dt'],how="outer")
    df_mattress_sales_all=df_mattress_sales_all.append(df)
    
df_mattress_sales_all.shape

(310691, 5)

In [4]:
import sqlalchemy


BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [5]:
df_id_zip=pd.read_sql("select customer_id_hashed, customer_zip_code,sign_up_channel,sign_up_location from BL_Rewards_Master;", con=BL_engine)
print(df_id_zip.shape,df_id_zip['customer_id_hashed'].nunique())
df_id_zip=df_id_zip.drop_duplicates("customer_id_hashed")
print(df_id_zip.shape)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

(33327237, 4) 33327219
(33327219, 4)

In [6]:
df_mattress_sales_all=pd.merge(df_mattress_sales_all,df_id_zip,on="customer_id_hashed",how="left")
print(df_mattress_sales_all.shape)
df_mattress_sales_all.head(3)

(310691, 8)

,location_id,customer_id_hashed,transaction_dt,sales,trans,customer_zip_code,sign_up_channel,sign_up_location
0,1,1c5f7911d2f99b2b4003b2f917b53ee17a3b54eab42dcb...,2019-09-29,343.19,1,43213,ONLINE,0.0
1,1,2005aa3b913a438d91d1e6504ab898d599f44f72f685f7...,2019-09-29,479.99,1,43207,STORE,1.0
2,1,251a021cb1c2569968ed8a0093fd2c1010d7b873131d91...,2019-09-29,199.89,1,43201,STORE,280.0

In [7]:
df_mattress_sales_all.head(2)

,location_id,customer_id_hashed,transaction_dt,sales,trans,customer_zip_code,sign_up_channel,sign_up_location
0,1,1c5f7911d2f99b2b4003b2f917b53ee17a3b54eab42dcb...,2019-09-29,343.19,1,43213,ONLINE,0.0
1,1,2005aa3b913a438d91d1e6504ab898d599f44f72f685f7...,2019-09-29,479.99,1,43207,STORE,1.0

In [25]:
df_00000=df_mattress_sales_all[df_mattress_sales_all['customer_zip_code']=="00000"]
df_00000.shape

(565, 8)

In [26]:
df_00000.to_csv("./sales_detail_zip_00000_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [27]:
df_mattress_sales_all['customer_zip_code']=df_mattress_sales_all['customer_zip_code'].astype(str)
df_mattress_sales_all['customer_zip_code']=df_mattress_sales_all['customer_zip_code'].apply(lambda x: x.split("-")[0].split(" ")[0].zfill(5))

In [28]:
df_mattress_sales_all['customer_zip_code']=df_mattress_sales_all['customer_zip_code'].replace("00nan","nan")
df_mattress_sales_all['customer_zip_code']=df_mattress_sales_all['customer_zip_code'].replace("0None","nan")

In [29]:
func_agg={"sales":"sum","trans":"sum",'customer_id_hashed':"nunique"}
df_output_by_store_zip=df_mattress_sales_all.groupby(['location_id','customer_zip_code']).agg(func_agg).reset_index()
df_output_by_store_zip=df_output_by_store_zip.rename(columns={"customer_id_hashed":"unique_shopper_count"})
df_output_by_store_zip=df_output_by_store_zip.sort_values(["location_id",'sales','trans','unique_shopper_count'],ascending=[True,False,False,False])
print(df_output_by_store_zip.shape)
df_output_by_store_zip.head(3)

(66364, 5)

   location_id customer_zip_code     sales  trans  unique_shopper_count
37           1             43232  19230.98     66                    57
23           1             43207  17589.29     47                    42
44           1               nan  12265.70     43                    40

In [30]:
df_top_20_with_na=pd.DataFrame()
df_top_20_without_na=pd.DataFrame()

for location, df_group in df_output_by_store_zip.groupby("location_id"):
    df_with_na=df_group.head(20)
    df_without_na=df_group[df_group['customer_zip_code']!="nan"].head(20)
    df_top_20_with_na=df_top_20_with_na.append(df_with_na)
    df_top_20_without_na=df_top_20_without_na.append(df_without_na)
print(df_top_20_with_na.shape,df_top_20_without_na.shape)

(27750, 5) (27710, 5)

In [31]:
print("df_mattress_sales_all['transaction_dt'].min()",df_mattress_sales_all['transaction_dt'].min())
print("df_mattress_sales_all['transaction_dt'].max()",df_mattress_sales_all['transaction_dt'].max())

df_mattress_sales_all['transaction_dt'].min() 2019-09-29
df_mattress_sales_all['transaction_dt'].max() 2020-02-29

In [32]:
df_store_info=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200301-134228-900.txt",sep="|",dtype=str)
df_store_info=df_store_info[['location_id','city_nm','state_nm','zip_cd']]
df_store_info=df_store_info.rename(columns={"city_nm":"store_city_nm","state_nm":"store_state_nm","zip_cd":"store_zip_cd"})

In [33]:
df_top_20_with_na.head(2)

   location_id customer_zip_code     sales  trans  unique_shopper_count
37           1             43232  19230.98     66                    57
23           1             43207  17589.29     47                    42

In [34]:
print(df_top_20_with_na.shape)
df_top_20_with_na=pd.merge(df_store_info,df_top_20_with_na,on="location_id",how="right")
print(df_top_20_with_na.shape)

print(df_output_by_store_zip.shape)
df_output_by_store_zip=pd.merge(df_store_info,df_output_by_store_zip,on="location_id",how="right")
print(df_output_by_store_zip.shape)

(27750, 5)
(27750, 8)
(66364, 5)
(66364, 8)

In [35]:
df_top_20_with_na['location_id']=df_top_20_with_na['location_id'].astype(int)
df_output_by_store_zip['location_id']=df_output_by_store_zip['location_id'].astype(int)

df_top_20_with_na=df_top_20_with_na.sort_values(["location_id","sales","trans","unique_shopper_count"],ascending=[True,False,False,False])
df_top_20_with_na['store_zip_cd']=df_top_20_with_na['store_zip_cd'].apply(lambda x: str(x).split("-")[0].split(" ")[0].zfill(5))

df_output_by_store_zip=df_output_by_store_zip.sort_values(["location_id","sales","trans","unique_shopper_count"],ascending=[True,False,False,False])
df_output_by_store_zip['store_zip_cd']=df_output_by_store_zip['store_zip_cd'].apply(lambda x: str(x).split("-")[0].split(" ")[0].zfill(5))

In [36]:
writer=pd.ExcelWriter("./BL_mattres_sales_by_store_rewards_zip_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
# df_top_20_without_na.to_excel(writer,"mattress_top_20_without_nan_zip",index=False)
df_top_20_with_na.to_excel(writer,"mattress_top_20_with_nan_zip",index=False)
df_output_by_store_zip.to_excel(writer,"mattress_all_zips",index=False)
writer.save()