In [1]:
import pandas as pd
import datetime
import os
import numpy as np
import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

print(datetime.datetime.now())

2020-07-14 10:12:37.751669

In [2]:
df_CN=pd.read_csv("./notexposed_control_idlist.csv",usecols=["customer_id_hashed"])
df_TE=pd.read_csv("./exposed_test_idlist.csv",usecols=["customer_id_hashed"])
df_CN['group']="CN"
df_TE['group']="TE"

df_id_list=df_CN.append(df_TE)
del df_CN
del df_TE
print(df_id_list.shape,df_id_list['customer_id_hashed'].nunique())
df_count_by_group=df_id_list.groupby('group')['customer_id_hashed'].nunique().to_frame().reset_index()

(1010014, 2) 1010014

In [3]:
df_id_list.shape

(1010014, 2)

In [4]:
df_id_list.to_sql("temp_Q1_ids_in_analysis",if_exists="replace",index=False,
                  dtype={"customer_id_hashed":sqlalchemy.types.VARCHAR(length=64),
                        "group":sqlalchemy.types.VARCHAR(length=2)},                 
                  con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [11]:
q1_start_date=datetime.date(2020,2,2)
q1_end_date=datetime.date(2020,5,2)
# str_back_date="'"+str(q1_start_date-datetime.timedelta(days=13*6*7+7))+"'"
str_high_date="'"+str(q1_end_date)+"'"


query_redefined_Q1_audience_score="select t1.customer_id_hashed, t1.group, \
max(transaction_dt) as max_transaction_dt, count(distinct trans_order_since_18Q1) as trans_count, sum(sales) as sales \
from temp_Q1_ids_in_analysis as t1 \
left join Pred_POS_Department as t2 \
on t1.customer_id_hashed=t2.customer_id_hashed \
where t2.transaction_dt <= %s \
group by t1.customer_id_hashed, t1.group"%str_high_date
print(query_redefined_Q1_audience_score)

select t1.customer_id_hashed, t1.group, max(transaction_dt) as max_transaction_dt, count(distinct trans_order_since_18Q1) as trans_count, sum(sales) as sales from temp_Q1_ids_in_analysis as t1 left join Pred_POS_Department as t2 on t1.customer_id_hashed=t2.customer_id_hashed where t2.transaction_dt <= '2020-05-02' group by t1.customer_id_hashed, t1.group

In [12]:
print(datetime.datetime.now())

df_redefine_Q1_score=pd.read_sql(query_redefined_Q1_audience_score,con=BL_engine)
print(df_redefine_Q1_score.shape,df_redefine_Q1_score['customer_id_hashed'].nunique())

print(datetime.datetime.now())
df_redefine_Q1_score.head(4)

2020-07-14 11:45:30.680676
(940914, 5) 940914
2020-07-14 12:17:11.465103

,customer_id_hashed,group,max_transaction_dt,trans_count,sales
0,00000435bfb3bf42e3beb4c9b3942c552d09f0e49e5a75...,TE,2020-02-27,29,428.26
1,000006e85aba854de9992437786bddfbd409ddbebeeb80...,CN,2019-09-15,3,53.45
2,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,TE,2020-04-19,13,147.32
3,00000b22e0e9423daf43b601df8eca212d1974c759d7df...,CN,2019-12-11,4,124.85

In [13]:
df_redefine_Q1_score['max_transaction_dt'].min(),df_redefine_Q1_score['max_transaction_dt'].max(),df_redefine_Q1_score['max_transaction_dt'].nunique()

(datetime.date(2018, 2, 4), datetime.date(2020, 5, 2), 817)

In [14]:
df_id_list.shape

(1010014, 2)

In [17]:
def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root,file)
list_q1_pos=list(recursive_file_gen("/home/jian/BigLots/2020_by_weeks/"))
list_q1_pos=[x for x in list_q1_pos if "daily" in x.lower()]
list_q1_pos=[x for x in list_q1_pos if x.split("/MediaStorm_")[1][:10]>="2020-02-02"]
list_q1_pos=[x for x in list_q1_pos if x.split("/MediaStorm_")[1][:10]<="2020-05-02"]

In [23]:
# ignore the right below 1 row
'''# no need, just for qc purpose'''
# Still needed since the CN Q1 performance is not included in the 107 as the regular 1:1 analysis
df_all_sales_of_Q1_ids=pd.DataFrame()

for file in list_q1_pos:
    df=pd.read_table(file,sep="|",usecols=['customer_id_hashed','location_id','transaction_dt','transaction_id','item_transaction_amt'])
    df=pd.merge(df_id_list,df,on="customer_id_hashed",how="inner")
    df_all_sales_of_Q1_ids=df_all_sales_of_Q1_ids.append(df)
    print(file,datetime.datetime.now())

/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-08/MediaStormDailySales20200211-120911-483.txt 2020-07-14 12:28:53.033617
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-15/MediaStormDailySales20200218-110927-085.txt 2020-07-14 12:29:19.940090
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-22/MediaStormDailySales20200225-111349-615.txt 2020-07-14 12:29:48.897209
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-29/MediaStormDailySales20200303-111359-260.txt 2020-07-14 12:30:20.549085
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-03-07/MediaStormDailySales20200311-125005-860.txt 2020-07-14 12:30:55.189823
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-03-28/MediaStormDailySales20200331-112303-873.txt 2020-07-14 12:31:28.706948
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-03-14/MediaStormDailySales20200317-112349-402.txt 2020-07-14 12:32:15.887385
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-03-21/MediaStormDailySales20200324-112302-496.txt 2020-07-14 12:33:06.891577
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-04-04/MediaStormDailySales20200407-110641-771.txt 2020-07-14 12:33:50.592899
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-04-11/MediaStormDailySales20200414-120340-722.txt 2020-07-14 12:34:38.886566
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-04-18/MediaStormDailySales20200421-111910-356.txt 2020-07-14 12:35:27.755665
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-04-25/MediaStormDailySales20200428-111922-148.txt 2020-07-14 12:36:16.378430
/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-05-02/MediaStormDailySales20200505-111805-965.txt 2020-07-14 12:37:00.741394

In [24]:
df_all_sales_of_Q1_ids.shape,df_all_sales_of_Q1_ids['customer_id_hashed'].nunique()

((4620654, 6), 312756)

In [25]:
set_1_q1sales_file_id=set(df_all_sales_of_Q1_ids['customer_id_hashed'].unique().tolist())
set_2_mysql_id=set(df_redefine_Q1_score['customer_id_hashed'].unique().tolist())
diff_1_minus_2=set_1_q1sales_file_id-set_2_mysql_id
diff_2_minus_1=set_2_mysql_id-set_1_q1sales_file_id

In [26]:
len(diff_1_minus_2)

0

In [28]:
len(diff_2_minus_1)

628158

In [33]:
# some ids in CN are 19-48

del df_redefine_Q1_score['group']
df_redefine_Q1_score=pd.merge(df_redefine_Q1_score,df_id_list,on="customer_id_hashed",how="outer")
df_redefine_Q1_score['max_transaction_dt']=df_redefine_Q1_score['max_transaction_dt'].fillna(datetime.date(2018,1,1))
df_redefine_Q1_score['trans_count']=df_redefine_Q1_score['trans_count'].fillna(0)
df_redefine_Q1_score['sales']=df_redefine_Q1_score['sales'].fillna(0)

df_qc=df_redefine_Q1_score[df_redefine_Q1_score['max_transaction_dt']==datetime.date(2018,1,1)]

In [34]:
df_qc.groupby("group")['customer_id_hashed'].count()

group
CN    69100
Name: customer_id_hashed, dtype: int64

In [44]:
# score for the test only
# the sort of max_transaction_dt is aslo decending since it's date, the higher the better
df_redefine_Q1_score_TE=df_redefine_Q1_score[df_redefine_Q1_score['group']=="TE"]
df_redefine_Q1_score_TE=df_redefine_Q1_score_TE.sort_values(['trans_count','max_transaction_dt','sales'],ascending=[False,False,False])

df_redefine_Q1_score_TE.reset_index(drop=True, inplace=True)
df_redefine_Q1_score_TE.reset_index(inplace=True)
df_redefine_Q1_score_TE=df_redefine_Q1_score_TE.rename(columns={'index':'Transindex'})

df_redefine_Q1_score_TE=df_redefine_Q1_score_TE.sort_values(['sales','max_transaction_dt','trans_count'],ascending=[False,False,False])
df_redefine_Q1_score_TE.reset_index(drop=True, inplace=True)
df_redefine_Q1_score_TE.reset_index(inplace=True)
df_redefine_Q1_score_TE=df_redefine_Q1_score_TE.rename(columns={'index':'Amtindex'})

df_redefine_Q1_score_TE=df_redefine_Q1_score_TE.sort_values(['max_transaction_dt','trans_count','sales'],ascending=[False,False,False])
df_redefine_Q1_score_TE.reset_index(drop=True, inplace=True)
df_redefine_Q1_score_TE.reset_index(inplace=True)
df_redefine_Q1_score_TE=df_redefine_Q1_score_TE.rename(columns={'index':'recencyindex'})

c_ids=len(df_redefine_Q1_score_TE.index)
c_ids=np.ceil(c_ids/5.0)

df_redefine_Q1_score_TE['Transindex']=np.ceil((df_redefine_Q1_score_TE['Transindex']+1)/c_ids)
df_redefine_Q1_score_TE['Amtindex']=np.ceil((df_redefine_Q1_score_TE['Amtindex']+1)/c_ids)
df_redefine_Q1_score_TE['recencyindex']=np.ceil((df_redefine_Q1_score_TE['recencyindex']+1)/c_ids)

df_redefine_Q1_score_TE['RFM']=df_redefine_Q1_score_TE['recencyindex']*100 + df_redefine_Q1_score_TE['Transindex']*10 + df_redefine_Q1_score_TE['Amtindex']

In [45]:
df_redefine_Q1_score_TE = df_redefine_Q1_score_TE.sort_values(['RFM','max_transaction_dt','trans_count',
                               'sales'],ascending = [True,False,False,False])

df_redefine_Q1_score_TE.reset_index(drop = True, inplace = True)
df_redefine_Q1_score_TE.reset_index(inplace = True)

df_redefine_Q1_score_TE = df_redefine_Q1_score_TE.rename(columns = {'index':'frmindex'})
c_ids = len(df_redefine_Q1_score_TE.index)
c_ids = np.ceil(c_ids/10.0)
df_redefine_Q1_score_TE['frmindex'] = np.ceil((df_redefine_Q1_score_TE['frmindex']+1)/c_ids)

print("Done with the RFM scoring, "+str(datetime.datetime.now()))

df_redefine_Q1_score_TE['frmindex']=df_redefine_Q1_score_TE['frmindex'].apply(lambda x: "D"+str(int(float(x))).zfill(2))

Done with the RFM scoring, 2020-07-14 12:59:17.798225

In [56]:
# score for the CNst only
# the sort of max_transaction_dt is aslo decending since it's daCN, the higher the betCNr
df_redefine_Q1_score_CN=df_redefine_Q1_score[df_redefine_Q1_score['group']=="CN"]
df_redefine_Q1_score_CN=df_redefine_Q1_score_CN.sort_values(['trans_count','max_transaction_dt','sales'],ascending=[False,False,False])

df_redefine_Q1_score_CN.reset_index(drop=True, inplace=True)
df_redefine_Q1_score_CN.reset_index(inplace=True)
df_redefine_Q1_score_CN=df_redefine_Q1_score_CN.rename(columns={'index':'Transindex'})

df_redefine_Q1_score_CN=df_redefine_Q1_score_CN.sort_values(['sales','max_transaction_dt','trans_count'],ascending=[False,False,False])
df_redefine_Q1_score_CN.reset_index(drop=True, inplace=True)
df_redefine_Q1_score_CN.reset_index(inplace=True)
df_redefine_Q1_score_CN=df_redefine_Q1_score_CN.rename(columns={'index':'Amtindex'})

df_redefine_Q1_score_CN=df_redefine_Q1_score_CN.sort_values(['max_transaction_dt','trans_count','sales'],ascending=[False,False,False])
df_redefine_Q1_score_CN.reset_index(drop=True, inplace=True)
df_redefine_Q1_score_CN.reset_index(inplace=True)
df_redefine_Q1_score_CN=df_redefine_Q1_score_CN.rename(columns={'index':'recencyindex'})

c_ids=len(df_redefine_Q1_score_CN.index)
c_ids=np.ceil(c_ids/5.0)

df_redefine_Q1_score_CN['Transindex']=np.ceil((df_redefine_Q1_score_CN['Transindex']+1)/c_ids)
df_redefine_Q1_score_CN['Amtindex']=np.ceil((df_redefine_Q1_score_CN['Amtindex']+1)/c_ids)
df_redefine_Q1_score_CN['recencyindex']=np.ceil((df_redefine_Q1_score_CN['recencyindex']+1)/c_ids)

df_redefine_Q1_score_CN['RFM']=df_redefine_Q1_score_CN['recencyindex']*100 + df_redefine_Q1_score_CN['Transindex']*10 + df_redefine_Q1_score_CN['Amtindex']

In [57]:
df_redefine_Q1_score_CN = df_redefine_Q1_score_CN.sort_values(['RFM','max_transaction_dt','trans_count',
                               'sales'],ascending = [True,False,False,False])

df_redefine_Q1_score_CN.reset_index(drop = True, inplace = True)
df_redefine_Q1_score_CN.reset_index(inplace = True)

df_redefine_Q1_score_CN = df_redefine_Q1_score_CN.rename(columns = {'index':'frmindex'})
c_ids = len(df_redefine_Q1_score_CN.index)
c_ids = np.ceil(c_ids/10.0)
df_redefine_Q1_score_CN['frmindex'] = np.ceil((df_redefine_Q1_score_CN['frmindex']+1)/c_ids)

print("Done with the RFM scoring, "+str(datetime.datetime.now()))

df_redefine_Q1_score_CN['frmindex']=df_redefine_Q1_score_CN['frmindex'].apply(lambda x: "D"+str(int(float(x))).zfill(2))

Done with the RFM scoring, 2020-07-14 13:17:36.190530

In [58]:
df_redefine_Q1_score_TE.to_csv("./BL_df_redefine_Q1_score_TE_JL_%s.csv"%str(datetime.datetime.now().date()),index=False)
df_redefine_Q1_score_CN.to_csv("./BL_df_redefine_Q1_score_CN_JL_%s.csv"%str(datetime.datetime.now().date()),index=False)

In [51]:
import paramiko
host='107.191.32.220'
port=22
transport=paramiko.Transport(host,port)
user='jian'
pwd='juba-jl1'
transport.connect(username=user,password=pwd)
sftp=paramiko.SFTPClient.from_transport(transport)

In [52]:
remote_path="/mnt/drv5/jian/Big_Lots/BL_1_to_1_2020Q1/output_regular_only_2020-06-21/idexposedetail_subscribe.csv"
local_path="./%s"%os.path.basename(remote_path)
sftp.get(remote_path,local_path)
sftp.close()
transport.close()

In [60]:
df_redefine_Q1_score_TE.head(2)

,frmindex,recencyindex,Amtindex,Transindex,customer_id_hashed,max_transaction_dt,trans_count,sales,group,RFM
0,D01,1.0,1.0,1.0,9ad2678eeac6ba865d812eb9fa6c0fcc4bf87efcd7886e...,2020-05-02,616.0,9485.28,TE,111.0
1,D01,1.0,1.0,1.0,3cb748043bff43c07433dadc5a14a3807045f06dae27de...,2020-05-02,518.0,9735.68,TE,111.0

In [61]:
df_performance_TE_decile=df_redefine_Q1_score_TE[['customer_id_hashed','frmindex']]

In [65]:
df_TE_media=pd.read_csv(local_path)
del df_TE_media['Unnamed: 0']
df_TE_media['mediaindex']=df_TE_media['index'].apply(lambda x: "D"+str(int(x)).zfill(2))

In [66]:
print(df_performance_TE.shape,df_performance_TE_decile['customer_id_hashed'].nunique())
print(df_TE_media.shape,df_TE_media['customer_id_hashed'].nunique())
df_output_detail=pd.merge(df_performance_TE,df_TE_media,on="customer_id_hashed",how="left")

(424956, 2) 424956
(424956, 64) 424956

In [67]:
df_output=df_output_detail.groupby(['frmindex','mediaindex']).sum().reset_index()
df_output.shape

(100, 60)

In [72]:
df_output.to_csv("./BL_df_output_by_group_agg_JL_%s.csv"%str(datetime.datetime.now().date()),index=False)

In [80]:
df_all_sales_of_Q1_ids_CN=df_all_sales_of_Q1_ids[df_all_sales_of_Q1_ids['group']=="CN"]
df_performance_CN_decile=df_redefine_Q1_score_CN[['customer_id_hashed','frmindex']]

df_performance_CN_decile_sales=df_all_sales_of_Q1_ids_CN.groupby("customer_id_hashed")['item_transaction_amt'].sum().to_frame().reset_index().rename(columns={"item_transaction_amt":"revenue"})
df_performance_CN_decile_trans=df_all_sales_of_Q1_ids_CN.copy()
del df_performance_CN_decile_trans['item_transaction_amt']
df_performance_CN_decile_trans=df_performance_CN_decile_trans.drop_duplicates()
df_performance_CN_decile_trans=df_performance_CN_decile_trans.groupby("customer_id_hashed")['transaction_id'].count().to_frame().reset_index().rename(columns={"transaction_id":"trans"})
df_performance_CN_decile_pos=pd.merge(df_performance_CN_decile_sales,df_performance_CN_decile_trans,on="customer_id_hashed",how="outer")
df_performance_CN_decile=pd.merge(df_performance_CN_decile,df_performance_CN_decile_pos,on="customer_id_hashed",how="outer")

In [81]:
df_performance_CN_decile.head(2)

                                  customer_id_hashed frmindex  revenue  trans
0  5d98b48dd33bb8bdb5f363ddf207a35aca58566b436c02...      D01   208.57   60.0
1  2dbe3c15bf772b272fe38947644f7752fd06ec840ca436...      D01  3515.68   10.0

In [85]:
agg_func={"customer_id_hashed":"count","revenue":"sum","trans":"sum"}
df_CN_performance_summary=df_performance_CN_decile.groupby("frmindex")['customer_id_hashed','revenue','trans'].agg(agg_func).reset_index()

In [88]:
df_CN_performance_summary.to_csv("./BL_df_CN_performance_summary_JL_%s.csv"%str(datetime.datetime.now().date()),index=False)