In [12]:
import pandas as pd
import os

os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2019_Q2/ID_Migration'

In [ ]:
"/home/jian/celery/Google_LiveRamp/output/"

In [26]:
df_google_trans_0407=pd.read_table("/home/jian/celery/Google_LiveRamp/output/BL_LR_GoogleStoreSales_2_weeks_2019-04-07_2019-04-20_JL_2019-04-26.txt",dtype=str,sep="|")

df_google_trans_0407['transaction_amount']=df_google_trans_0407['transaction_amount'].astype(float)
print("df_google_trans_0407['transaction_amount'].sum()",df_google_trans_0407['transaction_amount'].sum())
print("df_google_trans_0407['Email_1'].nunique()",df_google_trans_0407['Email_1'].nunique())
print("df_google_trans_0407.shape",df_google_trans_0407.shape)

df_google_trans_0407['transaction_amount'].sum() 121112921.32
df_google_trans_0407['Email_1'].nunique() 2187605
df_google_trans_0407.shape (2652389, 5)

In [38]:
df_google_trans_0407['Zip_Code'].unique()

array(['00000'], dtype=object)

In [37]:
week_1_google_0407=df_google_trans_0407[df_google_trans_0407['transaction_timestamp']<="2019-04-13"]
print("week_1_google_0407['transaction_amount'].sum()",week_1_google_0407['transaction_amount'].sum())
print("week_1_google_0407['Email_1'].nunique()",week_1_google_0407['Email_1'].nunique())
print("week_1_google_0407.shape",week_1_google_0407.shape)

week_1_google_0407['transaction_amount'].sum() 68025088.67
week_1_google_0407['Email_1'].nunique() 1263246
week_1_google_0407.shape (1393011, 5)

In [35]:
df_google_trans_0407[df_google_trans_0407['transaction_timestamp']>="2019-04-14"]['transaction_amount'].sum()

53087832.649999961

In [29]:
df_bing_trans_0407=pd.read_table("/home/jian/celery/Bing_LiveRamp/output/BL_LR_BingStoreSales_2019-04-07_2019-04-13_JL_2019-04-16.txt",dtype=str,sep="|")

df_bing_trans_0407['Conversion_Amount']=df_bing_trans_0407['Conversion_Amount'].astype(float)
print("df_bing_trans_0407['Conversion_Amount'].sum()",df_bing_trans_0407['Conversion_Amount'].sum())
print("df_bing_trans_0407['Email_1'].nunique()",df_bing_trans_0407['Email_1'].nunique())
print("df_bing_trans_0407.shape",df_bing_trans_0407.shape)

df_bing_trans_0407['Conversion_Amount'].sum() 68009971.12
df_bing_trans_0407['Email_1'].nunique() 1263217
df_bing_trans_0407.shape (1392981, 5)

In [36]:
df_bing_trans_0414=pd.read_table("/home/jian/celery/Bing_LiveRamp/output/BL_LR_BingStoreSales_2019-04-14_2019-04-20_JL_2019-04-23.txt",dtype=str,sep="|")

df_bing_trans_0414['Conversion_Amount']=df_bing_trans_0414['Conversion_Amount'].astype(float)
print("df_bing_trans_0414['Conversion_Amount'].sum()",df_bing_trans_0414['Conversion_Amount'].sum())
print("df_bing_trans_0414['Email_1'].nunique()",df_bing_trans_0414['Email_1'].nunique())
print("df_bing_trans_0414.shape",df_bing_trans_0414.shape)

df_bing_trans_0414['Conversion_Amount'].sum() 52644928.68
df_bing_trans_0414['Email_1'].nunique() 1137307
df_bing_trans_0414.shape (1250958, 5)

In [32]:
df_bing_trans_0407['Timestamp'].max()

'2019-04-13'

In [8]:
import datetime

datetime.date(2019,5,5)-datetime.date(2019,2,20)

datetime.timedelta(74)

In [11]:
df_example=pd.read_csv("./BL_2018Q1_rewards_migration_rewards_data_JL_2019-05-28.csv",dtype=str,nrows=10)
df_example

,customer_id_hashed,transaction_date,transaction_date_before_the_Quarter,transaction_date_after_the_Quarter,Days_to_pre_Quarter_End,Days_to_recentt_Quarter_End,Month_to_pre_Quarter_End,Month_to_recent_Quarter_End,Group_before_the_Quarter,Group_after_the_Quarter,sales_recent_Quarter,Recent_Quarter_Shopping_Group
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,2017-01-19,2017-01-19,2017-01-19,380 days 00:00:00.000000000,471 days 00:00:00.000000000,12.484599589322382,15.474332648870636,Lapsed_13_48,Lapsed_13_48,0.0,Recent_Quarter_No_Shop
1,000002c86b9805b916f2a04b7a0031bb9ee03224e98221...,2014-12-01,2014-12-01,2014-12-01,1160 days 00:00:00.000000000,1251 days 00:00:00.000000000,38.110882956878854,41.100616016427104,Lapsed_13_48,Lapsed_13_48,0.0,Recent_Quarter_No_Shop
2,000003066bafc6b19c55d3be5fc646a253c659e9e6baea...,2017-11-10,2017-11-10,2017-11-10,85 days 00:00:00.000000000,176 days 00:00:00.000000000,2.7926078028747434,5.782340862422998,Active,Active,0.0,Recent_Quarter_No_Shop
3,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,2016-07-09,2016-07-09,2016-07-09,574 days 00:00:00.000000000,665 days 00:00:00.000000000,18.858316221765914,21.848049281314168,Lapsed_13_48,Lapsed_13_48,0.0,Recent_Quarter_No_Shop
4,00000435bfb3bf42e3beb4c9b3942c552d09f0e49e5a75...,2017-08-15,2017-08-15,2018-03-24,172 days 00:00:00.000000000,42 days 00:00:00.000000000,5.650924024640657,1.379876796714579,Active,Active,33.55,Recent_Quarter_Shopped
5,000006784b07050cf4d45cfd14f59bae5a893a9e611752...,2017-07-30,2017-07-30,2017-07-30,188 days 00:00:00.000000000,279 days 00:00:00.000000000,6.176591375770021,9.166324435318275,Active,Active,0.0,Recent_Quarter_No_Shop
6,000006aa196c7510ca3b4617e7e52d9527e0190e9152fb...,2017-04-17,2017-04-17,2018-04-08,292 days 00:00:00.000000000,27 days 00:00:00.000000000,9.593429158110883,0.8870636550308009,Active,Active,39.93000000000001,Recent_Quarter_Shopped
7,000006e85aba854de9992437786bddfbd409ddbebeeb80...,2017-11-26,2017-11-26,2018-05-04,69 days 00:00:00.000000000,1 days 00:00:00.000000000,2.2669404517453797,0.03285420944558522,Active,Active,11.0,Recent_Quarter_Shopped
8,000008146a15884db40b753f8829c6887be71e51368303...,2017-11-18,2017-11-18,2018-02-12,77 days 00:00:00.000000000,82 days 00:00:00.000000000,2.529774127310062,2.6940451745379876,Active,Active,49.879999999999995,Recent_Quarter_Shopped
9,000008374518306e87838f387eedc47d49a447707dc6da...,2018-01-20,2018-01-20,2018-04-07,14 days 00:00:00.000000000,28 days 00:00:00.000000000,0.459958932238193,0.919917864476386,Active,Active,38.3,Recent_Quarter_Shopped