In [1]:
# Big Lots - Mattress buyers

import pandas as pd
import numpy as np
import glob
import os
import datetime

print(datetime.datetime.now())

2020-05-08 13:51:40.214287

In [2]:
high_date=datetime.date(2020,4,18)
str_high_date_sql="'"+str(high_date)+"'"

start_date=datetime.date(2020,4,18)-datetime.timedelta(days=52*7)
str_start_date_sql="'"+str(start_date)+"'"
str_start_date_sql,str_high_date_sql

("'2019-04-20'", "'2020-04-18'")

In [3]:
import sqlalchemy
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [4]:
df_mattress_sales=pd.read_sql("select customer_id_hashed, sum(sales) as mattress_sales, sum(units) as mattress_units, count(distinct trans_order_since_18Q1) as mattress_transactions  from Pred_POS_Department \
where department_id='615' and transaction_dt between %s and %s  and customer_id_hashed is not null \
group by customer_id_hashed" %(str_start_date_sql,str_high_date_sql),
                              con=BL_engine)

df_mattress_sales.shape,df_mattress_sales['customer_id_hashed'].nunique()

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

((635570, 4), 635570)

In [5]:
folder_segment_Q2=glob.glob("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/upload_files/*.csv")
df_all_segment_ids=pd.DataFrame()
for file in folder_segment_Q2:
    try:
        df=pd.read_csv(file,dtype=str,usecols=['customer_id_hashed','C_segment_2020Q2']).rename(columns={"C_segment_2020Q2":"segment"})
    except:
        df=pd.read_csv(file,dtype=str,usecols=['customer_id_hashed','segment_2020Q2']).rename(columns={"segment_2020Q2":"segment"})
    df_all_segment_ids=df_all_segment_ids.append(df)

In [6]:
df_mattress_sales.head(2)

,customer_id_hashed,mattress_sales,mattress_units,mattress_transactions
0,000008374518306e87838f387eedc47d49a447707dc6da...,389.99,2.0,1
1,0000104276ea6e70c715d6ff5734c732c4b16c4edf80cf...,100.00,1.0,1

In [14]:
df_all_segment_ids['customer_id_hashed'].nunique()

18093251

In [15]:
df_all_segment_ids=df_all_segment_ids[df_all_segment_ids['segment']!="C_segment_2020Q2"]
df_all_segment_ids.shape,df_all_segment_ids['customer_id_hashed'].nunique()

((18093251, 2), 18093251)

In [17]:
df_all_segment_ids=pd.merge(df_all_segment_ids,df_mattress_sales,on="customer_id_hashed",how="left")
df_all_segment_ids.shape

(18093251, 5)

In [19]:
df_all_segment_ids['mattress_shoppers_past_year']=np.where(pd.isnull(df_all_segment_ids['mattress_sales']),"no_mattress_shopped","mattress_shoppers")

In [20]:
df_all_segment_ids.head(2)

,customer_id_hashed,segment,mattress_sales,mattress_units,mattress_transactions,mattress_shoppers_past_year
0,f9c346f683543ece0b5db86832886d395a39199eaaa6c2...,T_Legacy_Active_H_P_Above50K_MultiFamilyOrCond...,NaN,NaN,NaN,no_mattress_shopped
1,d15c0732f260ad3c7418f34df9b8c7e5e6a3710bcf3ebc...,T_Legacy_Active_H_P_Above50K_MultiFamilyOrCond...,NaN,NaN,NaN,no_mattress_shopped

In [21]:
agg_func={"customer_id_hashed":"count","mattress_sales":"sum","mattress_units":"sum","mattress_transactions":"sum"}
df_output=df_all_segment_ids.groupby(["segment","mattress_shoppers_past_year"]).agg(agg_func).reset_index()

In [23]:
df_output_count=df_output.pivot(index="segment",columns="mattress_shoppers_past_year",values="customer_id_hashed").reset_index()
df_output_count

mattress_shoppers_past_year,segment,mattress_shoppers,no_mattress_shopped
0,C_Legacy_Active_H_P_Above50K_MultiFamilyOrCond...,116.0,3458.0
1,C_Legacy_Active_H_P_Above50K_SingleFamily_RFM20Q2,1986.0,51376.0
2,C_Legacy_Active_H_P_Below50K_MultiFamilyOrCond...,168.0,4068.0
3,C_Legacy_Active_H_P_Below50K_SingleFamily_RFM20Q2,575.0,14328.0
4,C_Legacy_Active_H_P_Unknown_Unknown_RFM20Q2,1106.0,21865.0
...,...,...,...
157,T_SOTF_Lapsed1318_L_P_Unknown_Unknown_RFM20Q2,2.0,5951.0
158,T_SOTF_Lapsed1318_L_S_Above50K_MultiFamilyOrCo...,NaN,11856.0
159,T_SOTF_Lapsed1318_L_S_Above50K_SingleFamily_RF...,29.0,161770.0
160,T_SOTF_Lapsed1318_L_S_Below50K_MultiFamilyOrCo...,1.0,11338.0
161,T_SOTF_Lapsed1318_L_S_Below50K_SingleFamily_RF...,12.0,49239.0

In [25]:
df_output_shoppers=df_output[df_output['mattress_shoppers_past_year']=="mattress_shoppers"][['segment','mattress_sales','mattress_units','mattress_transactions']]
df_output_count=pd.merge(df_output_count,df_output_shoppers,on="segment",how="left")
df_output_count

,segment,mattress_shoppers,no_mattress_shopped,mattress_sales,mattress_units,mattress_transactions
0,C_Legacy_Active_H_P_Above50K_MultiFamilyOrCond...,116.0,3458.0,43226.43,212.0,130.0
1,C_Legacy_Active_H_P_Above50K_SingleFamily_RFM20Q2,1986.0,51376.0,738321.19,3766.0,2514.0
2,C_Legacy_Active_H_P_Below50K_MultiFamilyOrCond...,168.0,4068.0,60635.21,313.0,208.0
3,C_Legacy_Active_H_P_Below50K_SingleFamily_RFM20Q2,575.0,14328.0,202145.17,1031.0,683.0
4,C_Legacy_Active_H_P_Unknown_Unknown_RFM20Q2,1106.0,21865.0,449031.26,2123.0,1375.0
...,...,...,...,...,...,...
157,T_SOTF_Lapsed1318_L_P_Unknown_Unknown_RFM20Q2,2.0,5951.0,69.99,1.0,3.0
158,T_SOTF_Lapsed1318_L_S_Above50K_MultiFamilyOrCo...,NaN,11856.0,NaN,NaN,NaN
159,T_SOTF_Lapsed1318_L_S_Above50K_SingleFamily_RF...,29.0,161770.0,9091.68,44.0,34.0
160,T_SOTF_Lapsed1318_L_S_Below50K_MultiFamilyOrCo...,1.0,11338.0,100.00,1.0,1.0
161,T_SOTF_Lapsed1318_L_S_Below50K_SingleFamily_RF...,12.0,49239.0,3053.93,18.0,14.0

In [28]:
df_output_count=df_output_count.fillna(0)
df_output=df_output.fillna(0)

In [29]:
writer=pd.ExcelWriter("./BL_mattress_shoppers_in_Q2_seg_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_output_count.to_excel(writer,"summary",index=False)
df_output.to_excel(writer,"df_output",index=False)
writer.save()