In [1]:
import pandas as pd
import numpy as np
import datetime
import glob
import os
import sqlalchemy
from haversine import haversine
import gc
import json
zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
    BL_SQL_CONNECTION, 
    pool_recycle=1800
)

print(datetime.datetime.now())

2020-07-15 16:05:01.110628

In [2]:
client_M1_audience_folder_1="/home/jian/BigLots/M1_audience/audience_from_client_2020-06-08/"
client_M1_audience_folder_2="/home/jian/BigLots/M1_audience/files for MS 62420/"

files_1=glob.glob(client_M1_audience_folder_1+"*")
files_2=glob.glob(client_M1_audience_folder_2+"*")
files=files_1+files_2
files

['/home/jian/BigLots/M1_audience/audience_from_client_2020-06-08/med_med.txt',
 '/home/jian/BigLots/M1_audience/audience_from_client_2020-06-08/high_high.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/high_low.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/high_med.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/low_high.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/low_low.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/low_med.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/med_high.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/med_low.txt']

In [3]:
df_M1=pd.DataFrame()
for file in files:
    name=os.path.basename(file).split(".")[0]
    df=pd.read_csv(file,
                    usecols=['hashed_customer_num'],dtype=str,sep="\t").rename(columns={"hashed_customer_num":"customer_id_hashed"})
    df['group']=name
    df=df.drop_duplicates()
    df_M1=df_M1.append(df)
gc.collect()
print(df_M1.shape,df_M1['customer_id_hashed'].nunique())

(11474157, 2) 11474157

In [4]:
df_3_active_balance=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/final_details_output_2020-04-25/df_details_0_18.csv",
                              dtype=str,usecols=['customer_id_hashed','Status'])
print(df_3_active_balance.shape,df_3_active_balance['customer_id_hashed'].nunique())
print(df_3_active_balance['Status'].unique())

(20585548, 2) 20585548
['Active' 'Lapsed1318']

In [5]:
df_3_active_balance=df_3_active_balance[df_3_active_balance['Status']=="Active"]
del df_3_active_balance['Status']
print(df_3_active_balance.shape)
df_3_active_balance=df_3_active_balance[~df_3_active_balance['customer_id_hashed'].isin(df_M1['customer_id_hashed'].tolist())]
df_3_active_balance['group']="active_balance_as_Q2_aud"
print(df_3_active_balance.shape)

(17297442, 1)
(6629289, 2)

In [6]:
df_all_ids=df_M1.append(df_3_active_balance)
print(df_all_ids.shape,df_all_ids['customer_id_hashed'].nunique())
del df_M1
del df_3_active_balance
gc.collect()

(18103446, 2) 18103446

0

In [7]:
df_all_id_zips=pd.read_sql("select customer_id_hashed, customer_zip_code from BL_Rewards_Master;",con=BL_engine)
df_all_id_zips=df_all_id_zips.drop_duplicates("customer_id_hashed")
df_all_id_zips['customer_zip_code']=df_all_id_zips['customer_zip_code'].fillna("00000")
df_all_id_zips['cleaned_zip']=df_all_id_zips['customer_zip_code'].apply(lambda x: x.split(" ")[0].split("-")[0].zfill(5)[:5])

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [8]:
df_all_ids=pd.merge(df_all_ids,df_all_id_zips,on="customer_id_hashed",how="left")
print(df_all_ids.shape,df_all_ids['customer_id_hashed'].nunique())
df_all_ids['cleaned_zip']=df_all_ids['cleaned_zip'].fillna("00000")

(18103446, 4) 18103446

In [9]:
df_all_ids.head(2)

,customer_id_hashed,group,customer_zip_code,cleaned_zip
0,18013010398178a97b9bfc662ae8f7a74b13b49fd2c535...,med_med,NaN,00000
1,fb76f92d4a3e3131961186270d7865eb3f608bdf4649ea...,med_med,87571,87571

In [10]:
df_id_by_group_zip=df_all_ids.groupby(['group','cleaned_zip'])['customer_id_hashed'].count().to_frame().reset_index()
df_id_by_group_zip.shape,df_id_by_group_zip['customer_id_hashed'].sum()

((290827, 3), 18103446)

In [11]:
df_zip_urban_type=pd.read_excel("./USA_population_density_Urban-SubUrban-Rural_by_Zip_20200630_ZC.xlsx",
                                dtype=str,usecols=['Zip/ZCTA','DoD Type']).rename(columns={"Zip/ZCTA":"ZCTA","DoD Type":"zip_type"})
print(df_zip_urban_type.shape)
df_zip_urban_type=df_zip_urban_type.drop_duplicates()
print(df_zip_urban_type.shape)
df_zip_urban_type.head(2)

(33144, 2)
(33144, 2)

    ZCTA zip_type
0  20052    Urban
1  20390    Urban

In [12]:
df_mapping_zcta_zip=pd.read_excel("/home/jian/Docs/Household_and_Population/Cencus_2019/zcta_zip_mapping/zip_to_zcta_2018.xlsx",
                                 dtype=str)
df_mapping_zcta_zip=df_mapping_zcta_zip.iloc[:,[0,4]].drop_duplicates()
df_mapping_zcta_zip.columns=['cleaned_zip','ZCTA']
df_mapping_zcta_zip['cleaned_zip']=df_mapping_zcta_zip['cleaned_zip'].apply(lambda x: x.zfill(5))
df_zip_urban_type=pd.merge(df_zip_urban_type,df_mapping_zcta_zip,on="ZCTA",how="outer")
df_zip_urban_type['zip_type']=df_zip_urban_type['zip_type'].fillna("nan")
df_zip_urban_type=df_zip_urban_type[['cleaned_zip','zip_type']].drop_duplicates()

In [13]:
df_id_by_group_zip=pd.merge(df_id_by_group_zip,df_zip_urban_type,on="cleaned_zip",how="left")
df_id_by_group_zip['zip_type']=df_id_by_group_zip['zip_type'].fillna('nan')

In [14]:
df_id_by_group_zip['zip_type'].unique()

array(['nan', 'Urban', 'Rural', 'Suburban'], dtype=object)

In [16]:
df_id_by_group_zip.head(2)

                      group cleaned_zip  customer_id_hashed zip_type
0  active_balance_as_Q2_aud       00000              610591      nan
1  active_balance_as_Q2_aud       00001                   2      nan

In [17]:
df_store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200601-134325-120.txt",
                            sep="|",dtype=str)
df_store_list=df_store_list[df_store_list['location_id']!="6990"]
df_store_list=df_store_list[df_store_list['location_id']!="145"]
df_store_list=df_store_list[['location_id','latitude_meas','longitude_meas']]
df_store_list['latitude_meas']=df_store_list['latitude_meas'].astype(float)
df_store_list['longitude_meas']=df_store_list['longitude_meas'].astype(float)

df_store_list.loc[df_store_list['location_id']=="5416",'latitude_meas']=38.9092794
df_store_list.loc[df_store_list['location_id']=="5416",'longitude_meas']=-78.1831506

#############

dict_BL_store_coor=df_store_list.copy()
dict_BL_store_coor['coor']=dict_BL_store_coor[['latitude_meas','longitude_meas']].values.tolist()
dict_BL_store_coor=dict_BL_store_coor.set_index("location_id").to_dict()['coor']

In [19]:
df_unique_zips=df_id_by_group_zip[['cleaned_zip']].drop_duplicates()
print(df_unique_zips.shape)
df_unique_zips=df_unique_zips[df_unique_zips['cleaned_zip'].isin(zip_centers.keys())]
print(df_unique_zips.shape)

df_unique_zips=df_unique_zips.reset_index()
del df_unique_zips['index']
df_unique_zips['nearest_BL_store']=np.nan
df_unique_zips['nearest_BL_dist']=np.nan
i=0
for ind,row in df_unique_zips.iterrows():
    i+=1
    zip_cd=row['cleaned_zip']
    zip_coor=zip_centers[zip_cd]
    nearest_BL_store=None
    nearest_dist=np.inf
    for k,v in dict_BL_store_coor.items():
        dist=haversine(zip_coor,v,unit="mi")
        if dist<=nearest_dist:
            nearest_dist=dist
            nearest_BL_store=k
    df_unique_zips.loc[ind,'nearest_BL_store']=nearest_BL_store
    df_unique_zips.loc[ind,'nearest_BL_dist']=nearest_dist
    
    if i%1000==1:
        print(i,datetime.datetime.now())

(59942, 1)
(37205, 1)
1 2020-07-15 16:50:51.524893
1001 2020-07-15 16:50:59.245616
2001 2020-07-15 16:51:06.986832
3001 2020-07-15 16:51:14.678417
4001 2020-07-15 16:51:22.403314
5001 2020-07-15 16:51:30.104207
6001 2020-07-15 16:51:37.846511
7001 2020-07-15 16:51:45.612923
8001 2020-07-15 16:51:53.384806
9001 2020-07-15 16:52:01.205038
10001 2020-07-15 16:52:08.995357
11001 2020-07-15 16:52:16.724141
12001 2020-07-15 16:52:24.529182
13001 2020-07-15 16:52:32.264956
14001 2020-07-15 16:52:40.037281
15001 2020-07-15 16:52:47.808091
16001 2020-07-15 16:52:55.647103
17001 2020-07-15 16:53:03.543259
18001 2020-07-15 16:53:11.524224
19001 2020-07-15 16:53:19.571347
20001 2020-07-15 16:53:27.528569
21001 2020-07-15 16:53:35.388827
22001 2020-07-15 16:53:43.295147
23001 2020-07-15 16:53:51.175429
24001 2020-07-15 16:53:59.095010
25001 2020-07-15 16:54:06.986739
26001 2020-07-15 16:54:14.832135
27001 2020-07-15 16:54:22.768907
28001 2020-07-15 16:54:30.730799
29001 2020-07-15 16:54:38.692568
30001 2020-07-15 16:54:46.577332
31001 2020-07-15 16:54:54.491061
32001 2020-07-15 16:55:02.422360
33001 2020-07-15 16:55:10.317242
34001 2020-07-15 16:55:18.310333
35001 2020-07-15 16:55:26.296520
36001 2020-07-15 16:55:34.298971
37001 2020-07-15 16:55:42.282993

In [20]:
print(df_unique_zips.shape)
print(df_unique_zips['nearest_BL_dist'].min(),df_unique_zips['nearest_BL_dist'].max())
df_unique_zips.head(5)

(37205, 3)
0.005020937956034676 2452.123097243565

  cleaned_zip nearest_BL_store  nearest_BL_dist
0       01001             1863         1.599410
1       01002             1493         7.019248
2       01003             1493         6.701374
3       01004             1493         6.658010
4       01005             1802        11.513713

In [21]:
df_id_by_group_zip=pd.merge(df_id_by_group_zip,df_unique_zips,on="cleaned_zip",how="left")
df_id_by_group_zip.shape

(290827, 6)

In [22]:
df_output_1=df_id_by_group_zip[pd.notnull(df_id_by_group_zip['nearest_BL_store'])]
df_output_1['weighted_dist']=df_output_1['nearest_BL_dist']*df_output_1['customer_id_hashed']
df_output_1=df_output_1.groupby('group')['weighted_dist','customer_id_hashed'].sum().reset_index()
df_output_1['weighted_avg']=df_output_1['weighted_dist']/df_output_1['customer_id_hashed']
df_output_1

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                      group  weighted_dist  customer_id_hashed  weighted_avg
0  active_balance_as_Q2_aud   3.580498e+07             5987297      5.980157
1                 high_high   7.314471e+06             1680755      4.351896
2                  high_low   1.161230e+05               28801      4.031910
3                  high_med   4.860494e+06             1141011      4.259813
4                  low_high   3.173028e+05               47121      6.733787
5                   low_low   1.042042e+07             1819312      5.727672
6                   low_med   3.050893e+06              487289      6.260952
7                  med_high   3.686626e+06              627114      5.878718
8                   med_low   7.142219e+06             1398400      5.107422
9                   med_med   1.706225e+07             3171889      5.379207

In [23]:
df_output_1_urbantype=df_id_by_group_zip[pd.notnull(df_id_by_group_zip['nearest_BL_store'])]
df_output_1_urbantype['weighted_dist']=df_output_1_urbantype['nearest_BL_dist']*df_output_1_urbantype['customer_id_hashed']
df_output_1_urbantype=df_output_1_urbantype.groupby(['group','zip_type'])['weighted_dist','customer_id_hashed'].sum().reset_index()
df_output_1_urbantype['weighted_avg']=df_output_1_urbantype['weighted_dist']/df_output_1_urbantype['customer_id_hashed']
df_output_1_urbantype

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,group,zip_type,weighted_dist,customer_id_hashed,weighted_avg
0,active_balance_as_Q2_aud,Rural,2.498095e+07,2748163,9.090056
1,active_balance_as_Q2_aud,Suburban,4.717739e+06,1397165,3.376651
2,active_balance_as_Q2_aud,Urban,4.382264e+06,1498293,2.924838
3,active_balance_as_Q2_aud,nan,1.724020e+06,343676,5.016410
4,high_high,Rural,4.833780e+06,759256,6.366469
5,high_high,Suburban,1.050399e+06,382655,2.745029
6,high_high,Urban,1.029457e+06,427206,2.409743
7,high_high,nan,4.008352e+05,111638,3.590491
8,high_low,Rural,7.049374e+04,12181,5.787188
9,high_low,Suburban,2.228392e+04,7377,3.020729
10,high_low,Urban,1.749636e+04,7646,2.288302
11,high_low,nan,5.849016e+03,1597,3.662502
12,high_med,Rural,3.147320e+06,504824,6.234489
13,high_med,Suburban,7.616390e+05,273597,2.783799
14,high_med,Urban,6.966993e+05,292586,2.381178
15,high_med,nan,2.548360e+05,70004,3.640306
16,low_high,Rural,2.499434e+05,27376,9.130017
17,low_high,Suburban,3.088877e+04,9609,3.214567
18,low_high,Urban,2.152078e+04,7522,2.861045
19,low_high,nan,1.494989e+04,2614,5.719163
20,low_low,Rural,7.333296e+06,865081,8.477005
21,low_low,Suburban,1.400199e+06,429197,3.262370
22,low_low,Urban,1.191730e+06,423031,2.817122
23,low_low,nan,4.951974e+05,102003,4.854733
24,low_med,Rural,2.187702e+06,236651,9.244421
25,low_med,Suburban,3.784702e+05,111359,3.398649
26,low_med,Urban,3.329692e+05,110352,3.017337
27,low_med,nan,1.517519e+05,28927,5.246030
28,med_high,Rural,2.717352e+06,328184,8.279964
29,med_high,Suburban,4.320016e+05,135405,3.190440
30,med_high,Urban,3.594100e+05,127077,2.828285
31,med_high,nan,1.778631e+05,36448,4.879914
32,med_low,Rural,4.903165e+06,653892,7.498432
33,med_low,Suburban,1.035584e+06,336419,3.078258
34,med_low,Urban,8.618142e+05,330382,2.608539
35,med_low,nan,3.416557e+05,77707,4.396718
36,med_med,Rural,1.193549e+07,1510392,7.902247
37,med_med,Suburban,2.284585e+06,735500,3.106166
38,med_med,Urban,2.010687e+06,739332,2.719599
39,med_med,nan,8.314834e+05,186665,4.454415

In [24]:
agg_func={"cleaned_zip":"count","customer_id_hashed":"sum"}
df_output_2=df_id_by_group_zip.groupby(['group','zip_type'])['cleaned_zip','customer_id_hashed'].agg(agg_func).reset_index()
df_output_2

                       group  zip_type  cleaned_zip  customer_id_hashed
0   active_balance_as_Q2_aud     Rural        24211             2748658
1   active_balance_as_Q2_aud  Suburban         4258             1397322
2   active_balance_as_Q2_aud     Urban         4623             1498581
3   active_balance_as_Q2_aud       nan        17748              984728
4                  high_high     Rural        18354              759319
5                  high_high  Suburban         3680              382675
6                  high_high     Urban         3945              427251
7                  high_high       nan         5032              217930
8                   high_low     Rural         4237               12183
9                   high_low  Suburban         1796                7379
10                  high_low     Urban         1893                7648
11                  high_low       nan          654                3837
12                  high_med     Rural        17031              504867
13                  high_med  Suburban         3563              273618
14                  high_med     Urban         3837              292620
15                  high_med       nan         4336              141912
16                  low_high     Rural         8051               27380
17                  low_high  Suburban         2076                9609
18                  low_high     Urban         1991                7522
19                  low_high       nan         1048               12460
20                   low_low     Rural        20724              865174
21                   low_low  Suburban         3814              429239
22                   low_low     Urban         4018              423092
23                   low_low       nan         6429              368777
24                   low_med     Rural        16763              236681
25                   low_med  Suburban         3193              111365
26                   low_med     Urban         3331              110375
27                   low_med       nan         3171              107063
28                  med_high     Rural        16910              328207
29                  med_high  Suburban         3246              135415
30                  med_high     Urban         3363              127091
31                  med_high       nan         3209              109224
32                   med_low     Rural        19107              653970
33                   med_low  Suburban         3735              336445
34                   med_low     Urban         3974              330431
35                   med_low       nan         5269              228007
36                   med_med     Rural        21849             1510556
37                   med_med  Suburban         3988              735558
38                   med_med     Urban         4201              739416
39                   med_med       nan         8169              499861

In [25]:
writer=pd.ExcelWriter("./BL_M1_UrbanType_audience_9_grid_count_and_dist_JL_"+str(datetime.datetime.now().date())+".xlsx",engine='xlsxwriter')
df_output_1.to_excel(writer,"valid_zips_ids_by_group",index=False)
df_output_1_urbantype.to_excel(writer,"valid_zips_ids_by_group_Urban",index=False)
df_output_2.to_excel(writer,"id_count_by_group",index=False)
writer.save()