In [1]:
import pandas as pd
import os
import datetime
import numpy as np
os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Experian'

In [13]:
summary_cluster_HH_Income=data_HH.groupby(['multi_cluster','multi_cluster_desc','bl_income_range_desc'])['Customer_Num'].count().to_frame().reset_index()
summary_cluster_GEO_Income=data_GEO.groupby(['multi_cluster','multi_cluster_desc','bl_income_range_desc'])['Customer_Num'].count().to_frame().reset_index()

In [14]:
data_HH_sample=data_HH.head(10000)
data_GEO_sample=data_GEO.head(10000)
writer=pd.ExcelWriter("/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Experian/Excel_Experian_Sample_10000_rows.xlsx",engine="xlsxwriter")
data_HH_sample.to_excel(writer,"data_HH_sample",index=False)
data_GEO_sample.to_excel(writer,"data_GEO_sample",index=False)
summary_cluster_HH_Income.to_excel(writer,"summary_cluster_HH_Income",index=False)
summary_cluster_GEO_Income.to_excel(writer,"summary_cluster_GEO_Income",index=False)



writer.save()

In [8]:
data_HH.shape

(9313527, 16)

In [2]:
data_HH=pd.read_table("/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Experian/MS_Experian_HH_Full.zip",dtype=str,compression="zip",sep="|")
data_HH.head(2)

,Customer_Num,Email_Address_hash,multi_cluster,multi_cluster_desc,bl_income_range_id,bl_income_range_desc,bl_age_range_id,bl_age_range_desc,bl_homerent_id,bl_homerent_desc,bl_child1_id,bl_child1_desc,bl_child2_id,bl_child2_desc,bl_lives_id,bl_lives_desc
0,22336802,4e580ae1d4efd469fdeab567c263513b1ba77ebedabbd4...,7,Sporadic Seniors,3,>= $100k,3,>= 50,0,rents,0,?,0,?,1,multi family or condo
1,14396649,0167d70a0cbb24a45057148deea0ca6d48d81f2e4d2d3b...,3,Infrequent Families,3,>= $100k,3,>= 50,0,rents,0,?,0,?,1,multi family or condo

In [7]:
data_HH[data_HH['bl_income_range_desc']=="?"].shape

(1, 16)

In [5]:
data_GEO=pd.read_table("/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Experian/MS_Experian_GEO_Full.zip",dtype=str,compression="zip",sep="|")
data_GEO.head(2)

,Customer_Num,Email_Address_hash,multi_cluster,multi_cluster_desc,bl_income_range_id,bl_income_range_desc,bl_age_range_id,bl_age_range_desc,bl_homerent_id,bl_homerent_desc,bl_child1_id,bl_child1_desc,bl_child2_id,bl_child2_desc,bl_lives_id,bl_lives_desc
0,30585134,28f63d30e5fb0af27d3e2cc5a36dd78f73e0b94419ca0f...,5,Home Focused,3,>= $100k,2,between 35 and 50,1,own house,0,?,0,?,0,single family home
1,46842257,37601cdc39589eefa35e569986956c267fe3e24fae81e4...,4,Urban Affluence,3,>= $100k,2,between 35 and 50,1,own house,1,age between 0-6,0,?,0,single family home

In [3]:
data_HH['bl_income_range_desc'].unique()

array(['>= $100k', '?', '< $50k', 'between $50k and $100k'], dtype=object)

In [6]:
data_GEO['bl_income_range_desc'].unique()

array(['>= $100k', '< $50k', 'between $50k and $100k'], dtype=object)

In [11]:
data_HH=pd.read_table("/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Experian/MS_Experian_HH_Full.zip",dtype=str,compression="zip",sep="|")
summary_cluster_HH=data_HH.groupby(['multi_cluster','multi_cluster_desc'])['Customer_Num'].count().to_frame().reset_index()
summary_cluster_HH

  multi_cluster   multi_cluster_desc  Customer_Num
0             1     Starters in Need       1353996
1             2     Rising Hispanics       1029504
2             3  Infrequent Families       1821717
3             4      Urban Affluence        761450
4             5         Home Focused       1068564
5             6     Holiday Shoppers        480362
6             7     Sporadic Seniors       2266968
7             8    Spending Fanatics        530966

In [12]:
data_GEO=pd.read_table("/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Experian/MS_Experian_GEO_Full.zip",dtype=str,compression="zip",sep="|")
summary_cluster_GEO=data_GEO.groupby(['multi_cluster','multi_cluster_desc'])['Customer_Num'].count().to_frame().reset_index()
summary_cluster_GEO

  multi_cluster   multi_cluster_desc  Customer_Num
0             1     Starters in Need        975318
1             2     Rising Hispanics       1229354
2             3  Infrequent Families       1403834
3             4      Urban Affluence       1048417
4             5         Home Focused       1162382
5             6     Holiday Shoppers        446516
6             7     Sporadic Seniors       1935064
7             8    Spending Fanatics        443962

In [17]:
data_HH_GEO=data_HH.append(data_GEO)
print(data_HH_GEO.shape)
print(len(data_HH_GEO['Customer_Num'].unique()))

summary_cluster_HH_and_GEO=data_HH_GEO.groupby(['multi_cluster','multi_cluster_desc'])['Customer_Num'].count().to_frame().reset_index()
summary_cluster_HH_and_GEO

(17958374, 16)
17958374

  multi_cluster   multi_cluster_desc  Customer_Num
0             1     Starters in Need       2329314
1             2     Rising Hispanics       2258858
2             3  Infrequent Families       3225551
3             4      Urban Affluence       1809867
4             5         Home Focused       2230946
5             6     Holiday Shoppers        926878
6             7     Sporadic Seniors       4202032
7             8    Spending Fanatics        974928

In [18]:
writer=pd.ExcelWriter("/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Experian/BL_count_of_Experian_by_multi_cluster_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
summary_cluster_HH_and_GEO.to_excel(writer,"summary_of_the_2_files",index=False)
summary_cluster_HH.to_excel(writer,"summary_of_HH_only",index=False)
summary_cluster_GEO.to_excel(writer,"summary_of_GEO_only",index=False)
writer.save()