In [ ]:
import pandas as pd
import datetime
data_1=pd.read_csv("/home/jian/Projects/Big_Lots/Loyal_members/sales_of_loyalty_member/MediaStormCustDtl.txt",header=None,nrows=10000,dtype=str)
data_2=pd.read_csv("/home/jian/Projects/Big_Lots/Loyal_members/sales_of_loyalty_member/MediaStorm customer transaction details - 2018-01-09 - 2018-03-31.txt",nrows=10000,dtype=str)
data_3=pd.read_csv("/home/jian/Projects/Big_Lots/Loyal_members/sales_of_loyalty_member/MediaStorm customer transaction details - 2018-04-01 - 2018-04-15.txt",nrows=10000,dtype=str)

data_1.columns=['customer_id']+data_2.columns.tolist()[1:]
def clean_data(df):
    df=df.iloc[:,1:]
    del df['merch_cat']
    df['total_transaction_amt']=df['total_transaction_amt'].astype(float)
    df=df.drop_duplicates()    
    return df
data_1=clean_data(data_1)
data_2=clean_data(data_2)
data_3=clean_data(data_3)
data_all=data_1.append(data_2).append(data_3).drop_duplicates()
data_all=data_all.drop_duplicates()
data_all=data_all[['transaction_date','location_id','total_transaction_amt']]


output=data_all.groupby(['location_id','transaction_date'])['total_transaction_amt'].sum().to_frame().reset_index()

In [6]:
import pandas as pd
import datetime
data_1=pd.read_csv("/home/jian/Projects/Big_Lots/Loyal_members/sales_of_loyalty_member/MediaStormCustDtl.txt",header=None,nrows=10000,dtype=str)
data_1.columns.tolist()

[0, 1, 2, 3, 4, 5, 6, 7]

In [10]:
data_2.head(2)

,customer_id_hashed,transaction_date,transaction_time,transaction_id,location_id,total_transaction_amt,total_transaction_units,merch_cat
0,bc45d2747297addd8bcad579da77756b007d27cd634c71...,2018-03-20,21:02,2152,5158,22.25,13.0000,12006001
1,f627e56e080cb699864d9c488345aee82c98fa66ebc2f2...,2018-03-10,18:23,6496,186,16.00,3.0000,55003009

In [12]:
x=data_2[data_2.duplicated(['customer_id_hashed','transaction_date'])]

In [15]:
x['customer_id_hashed'][129]

'a94578e563505af2f3c8df68db7b52a08a6df0cf791304055eadb69c8ad02934'

In [16]:
x=data_2[data_2['customer_id_hashed']=='a94578e563505af2f3c8df68db7b52a08a6df0cf791304055eadb69c8ad02934']

In [17]:
x

,customer_id_hashed,transaction_date,transaction_time,transaction_id,location_id,total_transaction_amt,total_transaction_units,merch_cat
3,a94578e563505af2f3c8df68db7b52a08a6df0cf791304...,2018-02-12,11:05,8450,5353,26.00,13.0000,48001001
129,a94578e563505af2f3c8df68db7b52a08a6df0cf791304...,2018-02-12,11:05,8450,5353,26.00,13.0000,11002001