In [2]:
import logging
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
folderdirct = '/home/nielsen/Lexie/On-Air/GSN/Data/'

In [14]:
df=pd.read_excel(folderdirct+"Copy of On Air Logs Feb 2018.xlsx",sheetname=None,skiprows =11)

/usr/local/lib/python2.7/site-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [15]:
df.keys()

[u'Thurs 2.1.18',
 u'Fri 2.2.18',
 u'Sat 2.3.18',
 u'Sun 2.4.18',
 u'Mon 2.5.18',
 u'Tues 2.6.18',
 u'Wed 2.7.18',
 u'Thurs 2.8.18',
 u'Fri 2.9.18',
 u'Sat 2.10.18',
 u'Sun 2.11.18',
 u'Mon 2.12.18',
 u'Tue 2.13.18',
 u'Wed 2.14.18',
 u'Thurs 2.15.18',
 u'Fri 2.16.18',
 u'Sat 2.17.18',
 u'Sun 2.18.18',
 u'Mon 2.19.18',
 u'Tue 2.20.18',
 u'Wed 2.21.18',
 u'Thurs 2.22.18',
 u'Fri 2.23.18',
 u'Sat 2.24.18',
 u'Sun 2.25.18',
 u'Mon 2.26.18',
 u'Tue 2.27.18',
 u'Wed 2.28.18']

In [21]:
test=df[df.keys()[0]]
test.head(2)

,Pos,Time,OffSet,House#,Unnamed: 4,Unnamed: 5,Unnamed: 6,(Secs),Longname,Unnamed: 9,Unnamed: 10,Name,Unnamed: 12,GRPs,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Paid Programming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
test=df[df.keys()[0]]
test.head(2)
test=test.dropna(how="all")
test.head()
test.columns=['Pos','Time','OffSet','House#','Time_JL','Col5','Col6','Secs','Longname','Col8','Col9','Name','Col12','GRPS','Col14(Type)','Col15']
test['Pos']=test['Pos'].astype(str)
Program_df=test[test['Pos'].apply(lambda x: len(x))>3]
Program_df_list=Program_df.index.values.tolist()

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [68]:
agg_df=pd.DataFrame()
for i in range(len(Program_df_list)-1):
    df=test.iloc[(Program_df_list[i]-1):(Program_df_list[i+1]-1),:]
    df.reset_index(inplace=True)
    del df['index']
    df['Pos']=df['Pos'][0]
    df=df[~pd.isnull(df['Time_JL'])]
    agg_df=agg_df.append(df)
df_last=test.iloc[Program_df_list[len(Program_df_list)-1]-1:,:] # can be agged into a If 
df_last=df_last[df_last['Pos']!='nan']
df_last.reset_index(inplace=True)
del df_last['index']
df_last['Pos']=df_last['Pos'][0]
df_last=df_last[~pd.isnull(df_last['Time_JL'])]
df_last.head()
agg_df=agg_df.append(df_last)
agg_df=agg_df[['Pos','Time','OffSet','House#','Time_JL','Col5','Col6','Secs','Longname','Col8','Col9','Name','Col12','GRPS','Col14(Type)','Col15']]

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
agg_df.to_csv(folderdirct +'test.csv')

In [70]:
df

,Pos,Time,OffSet,House#,Time_JL,Col5,Col6,Secs,Longname,Col8,Col9,Name,Col12,GRPS,Col14(Type),Col15
1,Paid Programming,NaN,3.0,NaN,05:28:35AM,NaN,T8240,30,CCB Stay (Jan) Evry Nigh @ 11p,NaN,NaN,0.01,Person 25-54,0.01,O,G
2,Paid Programming,NaN,3.0,NaN,05:28:35AM,NaN,T8187,30,GSN January Answer Image :30,NaN,NaN,0.01,Person 25-54,0.01,O,G
3,Paid Programming,NaN,3.0,NaN,05:28:35AM,NaN,T8145,20,MLN (Jan) Mill Evry Wknt 10p,NaN,NaN,0.01,Person 25-54,0.01,O,G