In [1]:
import pandas as pd
census_data_B01001=pd.read_csv("/home/jian/Docs/Household_and_Population/Cencus_2019/ACS_17_5YR_B01001_with_ann.csv",dtype=str,skiprows=1,nrows=10)
print(census_data_B01001.shape)
census_data_B01001.head(2)

(10, 101)

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Male:,Margin of Error; Male:,Estimate; Male: - Under 5 years,Margin of Error; Male: - Under 5 years,Estimate; Male: - 5 to 9 years,...,Estimate; Female: - 67 to 69 years,Margin of Error; Female: - 67 to 69 years,Estimate; Female: - 70 to 74 years,Margin of Error; Female: - 70 to 74 years,Estimate; Female: - 75 to 79 years,Margin of Error; Female: - 75 to 79 years,Estimate; Female: - 80 to 84 years,Margin of Error; Female: - 80 to 84 years,Estimate; Female: - 85 years and over,Margin of Error; Female: - 85 years and over
0,8600000US00601,00601,ZCTA5 00601,17599,261,8809,167,722,101,444,...,313,85,407,76,268,71,192,73,213,73
1,8600000US00602,00602,ZCTA5 00602,39209,128,19231,58,936,2,1220,...,554,147,1008,154,480,122,448,120,415,129

In [2]:
census_data_S0101=pd.read_csv("/home/jian/Docs/Household_and_Population/Cencus_2019/ACS_17_5YR_S0101_with_ann.csv",dtype=str,skiprows=1,nrows=10)
print(census_data_S0101.shape)
census_data_S0101.head(2)

['Id',
 'Id2',
 'Geography',
 'Estimate; Total:',
 'Margin of Error; Total:',
 'Estimate; Male:',
 'Margin of Error; Male:',
 'Estimate; Male: - Under 5 years',
 'Margin of Error; Male: - Under 5 years',
 'Estimate; Male: - 5 to 9 years',
 'Margin of Error; Male: - 5 to 9 years',
 'Estimate; Male: - 10 to 14 years',
 'Margin of Error; Male: - 10 to 14 years',
 'Estimate; Male: - 15 to 17 years',
 'Margin of Error; Male: - 15 to 17 years',
 'Estimate; Male: - 18 and 19 years',
 'Margin of Error; Male: - 18 and 19 years',
 'Estimate; Male: - 20 years',
 'Margin of Error; Male: - 20 years',
 'Estimate; Male: - 21 years',
 'Margin of Error; Male: - 21 years',
 'Estimate; Male: - 22 to 24 years',
 'Margin of Error; Male: - 22 to 24 years',
 'Estimate; Male: - 25 to 29 years',
 'Margin of Error; Male: - 25 to 29 years',
 'Estimate; Male: - 30 to 34 years',
 'Margin of Error; Male: - 30 to 34 years',
 'Estimate; Male: - 35 to 39 years',
 'Margin of Error; Male: - 35 to 39 years',
 'Estimate; Male: - 40 to 44 years',
 'Margin of Error; Male: - 40 to 44 years',
 'Estimate; Male: - 45 to 49 years',
 'Margin of Error; Male: - 45 to 49 years',
 'Estimate; Male: - 50 to 54 years',
 'Margin of Error; Male: - 50 to 54 years',
 'Estimate; Male: - 55 to 59 years',
 'Margin of Error; Male: - 55 to 59 years',
 'Estimate; Male: - 60 and 61 years',
 'Margin of Error; Male: - 60 and 61 years',
 'Estimate; Male: - 62 to 64 years',
 'Margin of Error; Male: - 62 to 64 years',
 'Estimate; Male: - 65 and 66 years',
 'Margin of Error; Male: - 65 and 66 years',
 'Estimate; Male: - 67 to 69 years',
 'Margin of Error; Male: - 67 to 69 years',
 'Estimate; Male: - 70 to 74 years',
 'Margin of Error; Male: - 70 to 74 years',
 'Estimate; Male: - 75 to 79 years',
 'Margin of Error; Male: - 75 to 79 years',
 'Estimate; Male: - 80 to 84 years',
 'Margin of Error; Male: - 80 to 84 years',
 'Estimate; Male: - 85 years and over',
 'Margin of Error; Male: - 85 years and over',
 'Estimate; Female:',
 'Margin of Error; Female:',
 'Estimate; Female: - Under 5 years',
 'Margin of Error; Female: - Under 5 years',
 'Estimate; Female: - 5 to 9 years',
 'Margin of Error; Female: - 5 to 9 years',
 'Estimate; Female: - 10 to 14 years',
 'Margin of Error; Female: - 10 to 14 years',
 'Estimate; Female: - 15 to 17 years',
 'Margin of Error; Female: - 15 to 17 years',
 'Estimate; Female: - 18 and 19 years',
 'Margin of Error; Female: - 18 and 19 years',
 'Estimate; Female: - 20 years',
 'Margin of Error; Female: - 20 years',
 'Estimate; Female: - 21 years',
 'Margin of Error; Female: - 21 years',
 'Estimate; Female: - 22 to 24 years',
 'Margin of Error; Female: - 22 to 24 years',
 'Estimate; Female: - 25 to 29 years',
 'Margin of Error; Female: - 25 to 29 years',
 'Estimate; Female: - 30 to 34 years',
 'Margin of Error; Female: - 30 to 34 years',
 'Estimate; Female: - 35 to 39 years',
 'Margin of Error; Female: - 35 to 39 years',
 'Estimate; Female: - 40 to 44 years',
 'Margin of Error; Female: - 40 to 44 years',
 'Estimate; Female: - 45 to 49 years',
 'Margin of Error; Female: - 45 to 49 years',
 'Estimate; Female: - 50 to 54 years',
 'Margin of Error; Female: - 50 to 54 years',
 'Estimate; Female: - 55 to 59 years',
 'Margin of Error; Female: - 55 to 59 years',
 'Estimate; Female: - 60 and 61 years',
 'Margin of Error; Female: - 60 and 61 years',
 'Estimate; Female: - 62 to 64 years',
 'Margin of Error; Female: - 62 to 64 years',
 'Estimate; Female: - 65 and 66 years',
 'Margin of Error; Female: - 65 and 66 years',
 'Estimate; Female: - 67 to 69 years',
 'Margin of Error; Female: - 67 to 69 years',
 'Estimate; Female: - 70 to 74 years',
 'Margin of Error; Female: - 70 to 74 years',
 'Estimate; Female: - 75 to 79 years',
 'Margin of Error; Female: - 75 to 79 years',
 'Estimate; Female: - 80 to 84 years',
 'Margin of Error; Female: - 80 to 84 years',
 'Estimate; Female: - 85 years and over',
 'Margin of Error; Female: - 85 years and over']