In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import glob
os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Circ_Test_Con'

In [2]:
test_week_list_2018=[datetime.date(2018,9,15)+datetime.timedelta(days=x*7) for x in range(8)]
test_week_list_2017=[x+datetime.timedelta(days=-52*7) for x in test_week_list_2018]

In [5]:
daily_1=pd.read_table("/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-09-15/MediaStormDailySales20180918-113439-943.txt",dtype=str,sep="|",nrows=10)
daily_1

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,subclass_transaction_units,subclass_transaction_amt
0,4526,2018-09-15,2646,17a9f5b9ff36669ac3047be96a74da7d140b018f446963...,35080,10,2,00000000000042.0000
1,1758,2018-09-11,5400,700de64eeb3af77cf8172030f21089cdb9e245e7110e08...,12011,2,1,00000000000003.3000
2,1744,2018-09-09,6694,NaN,27006,2,1,00000000000006.5000
3,1555,2018-09-10,9422,NaN,35066,3,1,00000000000012.0000
4,1361,2018-09-11,8924,3d41d4c31134667fac952d8ee2568e3e55e6e2ab6ecd83...,11003,8,2,00000000000001.3000
5,5093,2018-09-12,398,NaN,15002,2,1,00000000000003.4000
6,1228,2018-09-14,7506,cb2228bb874ec960f45d5b682849e320acf45285dca44b...,11001,2,1,00000000000002.2500
7,1262,2018-09-15,2429,NaN,36703,6,1,00000000000016.0000
8,5100,2018-09-10,73,4e29b52da457b7cf23e9215bdd43ec5e40849ff064cce3...,11007,2,2,00000000000001.6100
9,5331,2018-09-15,3986,NaN,55012,1,-1,-00000000000005.0000

In [3]:
min(test_week_list_2018)

datetime.date(2018, 9, 15)