In [1]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'/home/jian'

In [5]:
df=pd.read_table("/home/jian/BiglotsCode/outputs/combinedinventory2020-03-28.csv",sep="|")
df.shape

(91300901, 5)

In [6]:
df.head(2)

   location_id week_end_dt  fiscal_week_nbr  class_code_id  on_hand
0         1947  2017-07-29               26          61201      135
1         1847  2017-08-19               29          25002      272