In [7]:
import pandas as pd
import os
import numpy as np

In [2]:
Cum_Q4_2018_TMR=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/TMR_data/Up_to_2018Q4/BL_MMM_long_JL_2019-04-30.csv",dtype=str)
Cum_Q4_2018_TMR.shape

(3483373, 8)

In [3]:
Cum_Q4_2018_TMR.head(2)

,cleaned dma,click,cost,impression,media,placement,submedia,week date
0,"Los Angeles, CA",6687,309.818159116938,679747,Email,xx,xx,2016-09-25
1,"Dallas-Ft. Worth, TX",3185,147.56160522751262,323753,Email,xx,xx,2016-09-25

In [4]:
recent_1_week_sample=Cum_Q4_2018_TMR[Cum_Q4_2018_TMR['week date']=="2018-12-16"]
recent_1_week_sample.shape

(47, 8)

In [5]:
mapping_in_TMR=Cum_Q4_2018_TMR[['media','submedia','placement']].drop_duplicates()
mapping_in_TMR=mapping_in_TMR.sort_values(['media','submedia','placement'])

In [8]:
mapping_in_TMR['cleaned dma']=np.nan
mapping_in_TMR['week date']=np.nan

In [9]:
import datetime

writer=pd.ExcelWriter("./BL_TotalMediaRun_TMR_data_layout_sameple_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")

mapping_in_TMR.to_excel(writer,"mapping_layout",index=False)
recent_1_week_sample.to_excel(writer,"sample_1_week",index=False)

writer.save()

In [11]:
Cum_Q4_2018_TMR.shape

(3483373, 8)

In [12]:
Cum_Q4_2018_TMR['cost']=Cum_Q4_2018_TMR['cost'].astype(float)
result=Cum_Q4_2018_TMR.groupby(['media'])['cost'].sum().to_frame().reset_index()