In [33]:
import pandas as pd
from datetime import datetime

In [34]:
tmr_data=pd.read_excel("/home/jian/Projects/Big_Lots/TMR/ALL MEDIA 0221.xlsx",sheetname="ALL MEDIA 0221")
tmr_data=tmr_data[tmr_data['media']!="TV"]

In [36]:
tmr_data['week_date_date']=tmr_data['week date'].apply(lambda x: datetime.strptime(x,'%m/%d/%Y').date())

In [6]:
sales_date=pd.read_excel("/home/jian/Projects/Big_Lots/TMR/BL_ALL MEDIA_JL_20180214.xlsx",sheetname="sales data")

In [18]:
type(tmr_data['week date'][0])

str

In [15]:
tmr_data.shape

(900717, 8)

In [27]:
x=tmr_data['week date'][0]
datetime.strptime(str(x),'%m/%d/%Y').date()

datetime.date(2017, 11, 12)

In [28]:
tmr_data.head(5)

,week date,media,submedia,placement,cleaned dma,impression,click,cost
0,11/12/2017,Cinema,xx,xx,"Albany-Schenectady-Troy, NY",19610.206316,0.0,583.306421
1,11/12/2017,Cinema,xx,xx,"Albuquerque-Santa Fe, NM",35222.840500,0.0,1408.913620
2,11/12/2017,Cinema,xx,xx,"Atlanta, GA",16817.411182,0.0,672.696447
3,11/12/2017,Cinema,xx,xx,"Baltimore, MD",17237.863360,0.0,689.514534
4,11/12/2017,Cinema,xx,xx,"Binghamton, NY",1275.724341,0.0,32.331556

In [35]:
tmr_data.shape

(567348, 8)

In [38]:
tmr_data['week_date_date'].apply(lambda x:x.weekday()).unique()

array([6, 3, 5])