In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import logging

from multiprocessing import Pool
from functools import partial

price_threshold=10
logging.basicConfig(filename='V2_Multiprocessing.log', level=logging.INFO)

In [2]:
last_saturday=datetime.date(2019,1,12) # To be changed to the running Tuesday
def recursive_file_gen(my_root_dir):
    for root, dirs, files in os.walk(my_root_dir):
        for file in files:
            yield os.path.join(root, file)
            
most_recent_daily_data=list(recursive_file_gen("/home/jian/BigLots/"))
most_recent_daily_data=[x for x in most_recent_daily_data if ("MediaStormDailySales" in x) and (str(last_saturday) in x)]

if len(most_recent_daily_data)==1:
    most_recent_daily_data=most_recent_daily_data[0]
else:
    most_recent_daily_data=np.nan
    logging.info("Last Weekly Daily Data Error", str(datetime.datetime.now()))

In [3]:
most_recent_daily_data

'/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-01-12/MediaStormDailySales20190115-113411-782.txt'

In [4]:
data=pd.read_table(most_recent_daily_data,dtype=str,sep="|")
print("len_sub_class_id:",data['subclass_id'].apply(lambda x: len(x)).unique())
print("len_class_code_id:",data['class_code_id'].apply(lambda x: len(x)).unique())
data['subclass_id']=data['subclass_id'].apply(lambda x: x.zfill(3))
data['product_comb']=data['class_code_id']+"-"+data['subclass_id']
del data['class_code_id']
del data['subclass_id']
data=data[~pd.isnull(data['customer_id_hashed'])]
data['subclass_transaction_amt']=data['subclass_transaction_amt'].astype(float)
data['subclass_transaction_units']=data['subclass_transaction_units'].astype(int)
data['price']=data['subclass_transaction_amt']/data['subclass_transaction_units']
print("Row_RawData:",data.shape)
print("Unique_id:", len(data['customer_id_hashed'].unique()))
data=data[(data['subclass_transaction_amt']>0) & (data['subclass_transaction_units']>0)]

len_sub_class_id: [1 2 3]
len_class_code_id: [5]
Row_RawData: (6159646, 8)
Unique_id: 1091276

In [5]:
len(data['product_comb'].unique())

1526

In [6]:
taxonomy=pd.read_csv("/home/jian/BigLots/static_files/ProductTaxonomy/MediaStormProductTaxonomy20190101-135843-066.txt",dtype=str,sep="|")
taxonomy['subclass_id']=taxonomy['subclass_id'].apply(lambda x: x.zfill(3))
division_id_id_name=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Division Names.txt",dtype=str,sep="|")
department_id_name=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Department Names.txt",dtype=str,sep="|")
class_id_name=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Class Names.txt",dtype=str,sep="|",encoding ='ISO-8859-1')

In [7]:
data_item_avg_price=data[['product_comb','price']].groupby(['product_comb'])['price'].mean().to_frame().reset_index()
data_item_avg_price=data_item_avg_price.rename(columns={"price":"avg_price"})

data_item_avg_price['class_code_id']=data_item_avg_price['product_comb'].apply(lambda x: x.split("-")[0])
data_item_avg_price['subclass_id']=data_item_avg_price['product_comb'].apply(lambda x: x.split("-")[1])

data_item_avg_price=pd.merge(data_item_avg_price,taxonomy,on=['class_code_id','subclass_id'],how="left")


data_item_avg_price=pd.merge(data_item_avg_price,division_id_id_name,on="division_id",how="left")
data_item_avg_price=pd.merge(data_item_avg_price,department_id_name,on="department_id",how="left")
data_item_avg_price=pd.merge(data_item_avg_price,class_id_name,on="class_code_id",how="left")
data_item_avg_price=data_item_avg_price[['product_comb','avg_price','division_id','division_desc','department_id','department_desc',
                                         'class_code_id','class_code_desc','subclass_id','subclass_desc']]

data_item_avg_price.to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/Price_"+str(last_saturday)+".csv",index=False)

In [8]:
# $10 of all items as in the email on 2019-01-14

product_comb_under_10_set=set(data_item_avg_price[data_item_avg_price['avg_price']<price_threshold]['product_comb'].unique().tolist())

print(data.shape)
data=data[~data['product_comb'].isin(product_comb_under_10_set)]
data_under_10=data[data['product_comb'].isin(product_comb_under_10_set)]
data=data.reset_index()
del data['index']
print(data.shape)
dict_item_avg_price=data_item_avg_price.set_index(['product_comb'])['avg_price'].to_dict()

(6082846, 8)
(480861, 8)

In [9]:
product_comb_10_and_above_list=data_item_avg_price[data_item_avg_price['avg_price']>=10]['product_comb'].unique().tolist()

data_transactions_list=data.groupby(['location_id','transaction_dt','transaction_id','customer_id_hashed'])['product_comb'].apply(list).to_frame().reset_index().rename(columns={"product_comb":"basket_list"})
data_transactions_units_sales=data.groupby(['location_id','transaction_dt','transaction_id','customer_id_hashed'])['subclass_transaction_units','subclass_transaction_amt'].sum().reset_index().rename(columns={"subclass_transaction_units":"total_item_units","subclass_transaction_amt":"total_item_revenue"})

data_transactions=pd.merge(data_transactions_list,data_transactions_units_sales,on=['location_id','transaction_dt','transaction_id','customer_id_hashed'],how="left")
data_transactions['basket_str']=data_transactions['basket_list'].apply(lambda x: sorted(x)).astype(str)
data_transactions['transactin_id_given']=[x for x in range(1,len(data_transactions)+1)]
data_transactions['types']=data_transactions['basket_list'].apply(lambda x: len(x))

# To save


data=pd.merge(data,data_transactions,on=["location_id","transaction_dt","transaction_id","customer_id_hashed"],how="left")
apply_func={"subclass_transaction_units":"sum","transactin_id_given":"count","subclass_transaction_amt":"sum"}

single_prod_df=data.groupby(['product_comb'])['subclass_transaction_units','transactin_id_given','subclass_transaction_amt'].agg(apply_func).reset_index().rename(columns={"subclass_transaction_units":"Total_Units","transactin_id_given":"Total_Trans","subclass_transaction_amt":"revenue"})
total_unit=single_prod_df['Total_Units'].sum()
total_trans=len(data_transactions)

single_prod_df['prob_unit']=single_prod_df['Total_Units']/total_unit
single_prod_df['prob_tran']=single_prod_df['Total_Trans']/total_trans

dict_single_prod_unit=single_prod_df.set_index(['product_comb'])['prob_unit'].to_dict()
dict_single_prod_tran=single_prod_df.set_index(['product_comb'])['prob_tran'].to_dict()

In [10]:
def count_unique(x):
    return len(set(x))

unique_id_df=data.groupby(['product_comb'])['customer_id_hashed'].apply(count_unique).to_frame().reset_index().rename(columns={"customer_id_hashed":"unique_ids"})
single_prod_df=pd.merge(single_prod_df,unique_id_df,on="product_comb")

In [11]:
data_basket=data_transactions.groupby(['basket_str'])['total_item_units','total_item_revenue','transactin_id_given'].agg(
            {"total_item_units":"sum","total_item_revenue":"sum","transactin_id_given":"count"}).reset_index().rename(columns={"transactin_id_given":"trans_count"})
data_basket['basket_list']=data_basket['basket_str'].apply(eval)
data_basket['item_types']=data_basket['basket_list'].apply(len)
data_basket=data_basket.sort_values(['item_types','basket_str'])

data_basket=data_basket.reset_index()
del data_basket['index']

unique_id_by_basket=data_transactions.groupby(['basket_str'])['customer_id_hashed'].apply(lambda x: len(set(x))).to_frame().reset_index().rename(columns={'customer_id_hashed':"unique_ids"})
data_basket=pd.merge(data_basket,unique_id_by_basket,on="basket_str",how="left")

In [12]:
# data_basket.to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/data_for_freq_dist_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [13]:
from itertools import combinations
def findsubsets(total_set,item_counts):
    return list(set(combinations(total_set, item_counts)))

for i in range(2,6):
    locals()['set_'+str(i)+"_comb"]=[]
    output_1_basket_str_list_i=sorted(data_basket[data_basket['item_types']==i]['basket_str'].unique().tolist())
    output_2_basket_str_list_i_plus=[]
    basket_str_list_i_plus=data_basket[data_basket['item_types']>i]['basket_str'].unique().tolist()
    
    
    for set_str in basket_str_list_i_plus:
        set_list=eval(set_str)
        output_2_basket_str_list_i_plus=list(set(output_2_basket_str_list_i_plus+[str(list(x)) for x in findsubsets(set_list,i)]))
        
    locals()['set_'+str(i)+"_comb"]=sorted(list(set(output_1_basket_str_list_i+output_2_basket_str_list_i_plus)))
    print(i, datetime.datetime.now())
    print(len(locals()['set_'+str(i)+"_comb"]))

2 2019-02-05 15:53:40.952447
26934
3 2019-02-05 15:54:09.562185
127884
4 2019-02-05 15:54:27.381337
305168
5 2019-02-05 15:54:45.114175
780196

In [14]:
'''
basket_transaction_2_plus=data_basket[data_basket['item_types']>=2][['basket_str','trans_count']]
basket_transaction_3_plus=data_basket[data_basket['item_types']>=3][['basket_str','trans_count']]
basket_transaction_4_plus=data_basket[data_basket['item_types']>=4][['basket_str','trans_count']]
basket_transaction_5_plus=data_basket[data_basket['item_types']>=5][['basket_str','trans_count']]
'''

"\nbasket_transaction_2_plus=data_basket[data_basket['item_types']>=2][['basket_str','trans_count']]\nbasket_transaction_3_plus=data_basket[data_basket['item_types']>=3][['basket_str','trans_count']]\nbasket_transaction_4_plus=data_basket[data_basket['item_types']>=4][['basket_str','trans_count']]\nbasket_transaction_5_plus=data_basket[data_basket['item_types']>=5][['basket_str','trans_count']]\n"

In [15]:
list_set_all=set_2_comb+set_3_comb+set_4_comb+set_5_comb
total_len=len(list_set_all)
total_len

1240182

In [16]:
data_basket.head(2)

,basket_str,total_item_units,total_item_revenue,trans_count,basket_list,item_types,unique_ids
0,['11003-003'],39061,486770.74,31066,[11003-003],1,30645
1,['11014-019'],3,35.25,3,[11014-019],1,3

In [17]:
data.head(2)

,location_id,transaction_dt,transaction_id,customer_id_hashed,subclass_transaction_units,subclass_transaction_amt,product_comb,price,basket_list,total_item_units,total_item_revenue,basket_str,transactin_id_given,types
0,1198,2019-01-09,576,e06405d81929fd72b92816e0884a3aa9cb8acdcc17154c...,8,80.92,61002-002,10.115,"[61002-002, 35011-009]",9,92.92,"['35011-009', '61002-002']",22702,2
1,827,2019-01-10,1548,2a3d3f7ec20c92e408b59e49d2b472c06ec3a3e2a026a8...,2,30.00,36011-004,15.000,"[36011-004, 36011-005]",3,45.00,"['36011-004', '36011-005']",346708,2

In [18]:
data.shape

(480861, 14)

In [16]:
processors=25

interval=int(np.floor(total_len/processors))
# list_set_all_subset_0=list_set_all_subset_[:interval]
# 0 to 9, 10 in total
all_list_of_input=[]
for i in range(processors-1): 
    #1 to 9
    locals()['list_set_all_subset_'+str(i)]=list_set_all[interval*i:interval*(i+1)]
    all_list_of_input=all_list_of_input+[locals()['list_set_all_subset_'+str(i)]]
locals()['list_set_all_subset_'+str(processors-1)]=list_set_all[interval*(processors-1):]
all_list_of_input=all_list_of_input+[locals()['list_set_all_subset_'+str(processors-1)]]

In [17]:
def getting_BAI_items(list_set_subset_i):
    i_counter=0
    dict_basket_support_trans={}
    dict_basket_support_items={}
    dict_basket_BAI_trans={}
    dict_basket_BAI_items={}
    dict_basket_unique_ids={}
    dict_basket_revenue={} #revenue only for the selected subset of items
    for basket_n in list_set_subset_i:
        basket_n_list=eval(basket_n)
        len_items=len(basket_n_list)
        
        df=data[data['product_comb'].isin(basket_n_list)][['basket_str','transactin_id_given','subclass_transaction_units','customer_id_hashed','subclass_transaction_amt']]
        
        trans_denominator=1
        items_denominator=1
        
        for k in range(len_items):
            globals()['basket_item_'+str(k)]=basket_n_list[k]
            df=df[df['basket_str'].apply(lambda x: globals()['basket_item_'+str(k)] in x)]
            trans_denominator=trans_denominator*dict_single_prod_tran[globals()['basket_item_'+str(k)]]
            items_denominator=items_denominator*dict_single_prod_unit[globals()['basket_item_'+str(k)]]

        trans_basket=len(df['transactin_id_given'].unique())
        items_basket=df['subclass_transaction_units'].sum()
        unique_ids_basket=len(df['customer_id_hashed'].unique())
        revenue_bakset=df['subclass_transaction_amt'].sum()
        
        dict_basket_support_trans.update({basket_n:trans_basket})
        dict_basket_support_items.update({basket_n:items_basket})
        dict_basket_unique_ids.update({basket_n:unique_ids_basket})
        dict_basket_revenue.update({basket_n:revenue_bakset})

        BAI_basket_trans=(trans_basket/total_trans)/trans_denominator*100
        BAI_basket_items=(items_basket/total_unit)/items_denominator*100
        
        dict_basket_BAI_trans.update({basket_n:BAI_basket_trans})
        dict_basket_BAI_items.update({basket_n:BAI_basket_items})
        
        i_counter+=1
        if i_counter%1000==10:
            logging.info(str(datetime.datetime.now())+"|"+str(i_counter))
    results_json={}
    results_json.update({"dict_basket_support_trans":dict_basket_support_trans})
    results_json.update({"dict_basket_support_items":dict_basket_support_items})
    results_json.update({"dict_basket_BAI_trans":dict_basket_BAI_trans})
    results_json.update({"dict_basket_BAI_items":dict_basket_BAI_items})
    results_json.update({"dict_basket_unique_ids":dict_basket_unique_ids})
    results_json.update({"dict_basket_revenue":dict_basket_revenue})
    
    return results_json

In [18]:
from multiprocessing import Pool

result_dict_basket_support_trans={}
result_dict_basket_support_items={}
result_dict_basket_BAI_trans={}
result_dict_basket_BAI_items={}
result_dict_basket_unique_ids={}
result_dict_basket_revenue={}

if __name__ == '__main__':
    p = Pool(processors)
    result=p.map(getting_BAI_items, all_list_of_input)
    for res in result:
        if res is not None:
            result_dict_basket_support_trans.update(res["dict_basket_support_trans"])
            result_dict_basket_support_items.update(res["dict_basket_support_items"])
            result_dict_basket_BAI_trans.update(res["dict_basket_BAI_trans"])
            result_dict_basket_BAI_items.update(res["dict_basket_BAI_items"])
            result_dict_basket_unique_ids.update(res['dict_basket_unique_ids'])
            result_dict_basket_revenue.update(res['dict_basket_revenue'])
    p.close()
    p.join()

In [19]:
all_list_of_input[0][0]

"['11003-003', '12012-018']"

In [20]:
output_1=data_basket[data_basket['item_types']==1]
output_2=data_basket[data_basket['item_types'].isin([2,3,4,5])]
output_3=data_basket[data_basket['item_types']>5]

output_1['BAI_trans']=1
output_1['BAI_items']=1

output_2['BAI_trans']=output_2['basket_str'].apply(lambda x: result_dict_basket_BAI_trans[x])
output_2['BAI_items']=output_2['basket_str'].apply(lambda x: result_dict_basket_BAI_items[x])

output_basket=output_1.append(output_2).append(output_3) # To add those only in multiple item trans
#E.g. [a,b,c,d] [a,c] doesn't exsit

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [21]:
single_prod_df.head(2)

,product_comb,Total_Units,Total_Trans,revenue,prob_unit,prob_tran,unique_ids
0,11003-003,47690,38216,593914.58,0.078230,0.109085,37671
1,11014-019,3,3,35.25,0.000005,0.000009,3

In [22]:
single_prod_df['BAI_Trans']=100
single_prod_df['BAI_Items']=100

In [23]:
df1=pd.DataFrame(result_dict_basket_support_trans,index=['Total_Trans']).T.reset_index().rename(columns={"index":"basket_str"})
df2=pd.DataFrame(result_dict_basket_support_items,index=['Total_Units']).T.reset_index().rename(columns={"index":"basket_str"})
df3=pd.DataFrame(result_dict_basket_BAI_trans,index=['BAI_Trans']).T.reset_index().rename(columns={"index":"basket_str"})
df4=pd.DataFrame(result_dict_basket_BAI_items,index=['BAI_Items']).T.reset_index().rename(columns={"index":"basket_str"})
df5=pd.DataFrame(result_dict_basket_unique_ids,index=['unique_ids']).T.reset_index().rename(columns={"index":"basket_str"})
df6=pd.DataFrame(result_dict_basket_revenue,index=['revenue']).T.reset_index().rename(columns={"index":"basket_str"})

output_all_2345_available=pd.merge(df1,df2,on='basket_str')
output_all_2345_available=pd.merge(df3,output_all_2345_available,on='basket_str')
output_all_2345_available=pd.merge(df4,output_all_2345_available,on='basket_str')
output_all_2345_available=pd.merge(df5,output_all_2345_available,on='basket_str')
output_all_2345_available=pd.merge(df6,output_all_2345_available,on='basket_str')

In [24]:
single_prod_df.head(2)

,product_comb,Total_Units,Total_Trans,revenue,prob_unit,prob_tran,unique_ids,BAI_Trans,BAI_Items
0,11003-003,47690,38216,593914.58,0.078230,0.109085,37671,1,1
1,11014-019,3,3,35.25,0.000005,0.000009,3,1,1

In [25]:
single_prod_df['basket_str']="['"+single_prod_df['product_comb']+"']"
del single_prod_df['product_comb']

output_all_12345_available=single_prod_df.append(output_all_2345_available)
output_all_12345_available['basket_list']=output_all_12345_available['basket_str'].apply(eval)
output_all_12345_available['item_types']=output_all_12345_available['basket_list'].apply(len)
output_all_12345_available=output_all_12345_available.sort_values('item_types',ascending=True)

# All posibble from the shopped large basket 1-5
output_3=data_basket[data_basket['item_types']>5]
output_3=output_3.rename(columns={"trans_count":"Total_Trans","total_item_units":"Total_Units","total_item_revenue":"revenue"})

output_all_12345_available=output_all_12345_available.append(output_3) #Appended >5

In [26]:
writer=pd.ExcelWriter('/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/BL_DBasket_Version2_JL_'+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
# output=output[['basket_str','basket_list','BAI_trans','BAI_units','item_types','total_item_revenue','total_item_units','trans_count','unique_ids','price_list']]
output_all_12345_available=output_all_12345_available[['basket_list','BAI_Trans','BAI_Items','item_types','revenue','Total_Units','Total_Trans','unique_ids']]
output_all_12345_available=output_all_12345_available.sort_values(['item_types','BAI_Trans'],ascending=[True,False])
output_all_12345_available.to_excel(writer,"BAI_including_subsets",index=False)
data_basket.to_excel(writer,"basket_shopped_together",index=False)
writer.save()

logging.info("Done: "+str(datetime.datetime.now()))

In [27]:
output_all_12345_available.to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/BL_DBasket_Version2_BAI_output_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
data_basket.to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/BL_DBasket_Version2_actual_whole_baskets_output_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [33]:
output_all_12345_available.shape

(1242554, 8)

In [37]:
output_all_12345_available[output_all_12345_available['item_types']==1].to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/BL_DBasket_Version2_BAI_output_Item_1_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
output_all_12345_available[output_all_12345_available['item_types']==2].to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/BL_DBasket_Version2_BAI_output_Item_2_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
output_all_12345_available[output_all_12345_available['item_types']==3].to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/BL_DBasket_Version2_BAI_output_Item_3_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
output_all_12345_available[output_all_12345_available['item_types']==4].to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/BL_DBasket_Version2_BAI_output_Item_4_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
output_all_12345_available[output_all_12345_available['item_types']==5].to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/BL_DBasket_Version2_BAI_output_Item_5_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
output_all_12345_available[output_all_12345_available['item_types']>5].to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Product_Basket/BL_DBasket_Version2_BAI_output_Item_6Plus_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [35]:
output_all_12345_available.head(2)

,basket_list,BAI_Trans,BAI_Items,item_types,revenue,Total_Units,Total_Trans,unique_ids
0,[11003-003],1.0,1.0,1,593914.58,47690,38216,37671
270,[37001-006],1.0,1.0,1,4191.80,111,107,106

In [36]:
output_all_12345_available['item_types'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 23, 24, 26, 28])

In [38]:
total_unit

609615

In [41]:
data[data['location_id']=="6990"]

,location_id,transaction_dt,transaction_id,customer_id_hashed,subclass_transaction_units,subclass_transaction_amt,product_comb,price,basket_list,total_item_units,total_item_revenue,basket_str,transactin_id_given,types
14,6990,2019-01-09,7799,578d660786edf54e6737406a0b5ce4d518e97fe12c4ed6...,1,12.00,34011-002,12.000000,[34011-002],1,12.00,['34011-002'],342390,1
155,6990,2019-01-07,8556,14fab487e752edf4a1cdccf3bd676f1fcb209f4de695db...,1,99.99,61002-002,99.990000,[61002-002],1,99.99,['61002-002'],341546,1
293,6990,2019-01-07,7832,100bf51e81bec5a28021b1036fc7f8b65786210d645bd0...,1,39.99,61002-002,39.990000,[61002-002],1,39.99,['61002-002'],341382,1
342,6990,2019-01-11,9929,32f4beb7b8ca582559fb4cfdb8862bcf86e83f88f9ac4e...,1,21.25,35066-001,21.250000,[35066-001],1,21.25,['35066-001'],343218,1
824,6990,2019-01-07,7323,13f8ce6bc40e03bd4f54619f6ad6faca7b393118d84558...,1,408.62,21012-005,408.620000,[21012-005],1,408.62,['21012-005'],341208,1
962,6990,2019-01-10,2622,f07d40c85fadb1c612e5aa2b778f87faad3f497951f43a...,1,13.00,35012-008,13.000000,[35012-008],1,13.00,['35012-008'],342558,1
977,6990,2019-01-07,7808,1ab554f30a7a1f857806b21164c1a1956eb0df6999ed9f...,1,149.99,21013-002,149.990000,[21013-002],1,149.99,['21013-002'],341374,1
1077,6990,2019-01-09,7654,68574058f16f8f7a9f2f8c554b041f6b9afa881f83fc0a...,2,30.00,35080-010,15.000000,"[35080-010, 35080-003]",6,67.50,"['35080-003', '35080-010']",342351,2
1376,6990,2019-01-07,6290,228c50aa27f10d67a3cd2247be0933b88dfa3dfc269227...,2,28.00,36406-001,14.000000,[36406-001],2,28.00,['36406-001'],341004,1
1441,6990,2019-01-07,9049,97b08513cdcada775e7ae33e80ba336d23ace317f43fce...,1,358.51,61502-003,358.510000,"[61502-003, 61502-005]",2,439.99,"['61502-003', '61502-005']",341609,2
1450,6990,2019-01-07,8575,d9869435f8957c486d1d569b26d255d1852d14d9350724...,4,39.96,61002-003,9.990000,[61002-003],4,39.96,['61002-003'],341551,1
1810,6990,2019-01-07,8231,2d46eb184a1d36080c97e94bc8f7b7735afa3814e62e5d...,1,49.99,35016-014,49.990000,[35016-014],1,49.99,['35016-014'],341488,1
1942,6990,2019-01-11,9396,766b10a89fea52d725a7f7a776441c2aefa157ea0c8069...,3,109.99,11003-003,36.663333,[11003-003],3,109.99,['11003-003'],343118,1
2111,6990,2019-01-10,2853,507fb18837099c86b5ae49491de4d6c452d720d34e79f2...,2,27.00,35080-010,13.500000,[35080-010],2,27.00,['35080-010'],342587,1
2155,6990,2019-01-11,9864,ab0e3978f15aa54a9d5a9049ca2360df3f2fe64e09d22e...,1,8.00,13003-005,8.000000,[13003-005],1,8.00,['13003-005'],343208,1
2893,6990,2019-01-07,7337,4bb260acacd8928a97d003c5397798559c4c83ed310960...,1,23.94,35016-013,23.940000,[35016-013],1,23.94,['35016-013'],341212,1
3000,6990,2019-01-09,7434,9d370970a14b356ac1d366bc8d414489a0889db1b695e5...,2,33.00,35080-010,16.500000,"[35080-010, 35047-002, 31004-004]",4,62.99,"['31004-004', '35047-002', '35080-010']",342293,3
3010,6990,2019-01-11,9968,b63d0ea84ae3a6694c3160bfea404b89ca434115ffa270...,1,7.99,35049-002,7.990000,"[35049-002, 17030-003]",2,16.39,"['17030-003', '35049-002']",343224,2
3384,6990,2019-01-07,8601,ad0b3ca9d21aeedabb72904de6730e7454c075d3bdb30e...,3,90.00,35068-002,30.000000,[35068-002],3,90.00,['35068-002'],341560,1
3489,6990,2019-01-08,1735,9c4c90011ae84564ee7a47f8cfa02ac362a122ad723e67...,2,300.00,61203-004,150.000000,[61203-004],2,300.00,['61203-004'],341789,1
3931,6990,2019-01-11,9596,0d90b298477e050b83e146b39e3070f5167910d6622168...,1,5.00,35080-003,5.000000,"[35080-003, 35080-010]",2,17.00,"['35080-003', '35080-010']",343159,2
3947,6990,2019-01-07,6655,82fcdb8418de68f1dba511fb9741845e2303d0b8da95b8...,6,51.37,61002-003,8.561667,[61002-003],6,51.37,['61002-003'],341076,1
3999,6990,2019-01-07,8078,8355be5fb470f71f54bcef19716048db4ac737deeecce7...,2,75.00,36401-009,37.500000,[36401-009],2,75.00,['36401-009'],341455,1
4178,6990,2019-01-10,5512,7ab4e36d7e59ec6bca48f3a1e4724698ed92f8eff7099e...,1,199.99,60802-002,199.990000,[60802-002],1,199.99,['60802-002'],342835,1
4186,6990,2019-01-08,3585,ac639e4dda146d1587aa9f079a2cdbaa5f72bc2f27dd78...,1,17.48,35080-010,17.480000,[35080-010],1,17.48,['35080-010'],342053,1
4377,6990,2019-01-07,6370,20e3e821c4d8ee9d89f562cdc7e36500a49dcc51999e27...,2,30.00,35066-001,15.000000,[35066-001],2,30.00,['35066-001'],341020,1
4571,6990,2019-01-09,7493,2292055a351de8036cb8bba407e19d4a54afeafc7e5d95...,4,56.00,35078-002,14.000000,[35078-002],4,56.00,['35078-002'],342307,1
5162,6990,2019-01-08,1672,54c59dafd2bc7f1cbeaa81e5dd98f86fecd82143164ecd...,3,29.97,61002-003,9.990000,[61002-003],3,29.97,['61002-003'],341773,1
5289,6990,2019-01-11,9035,a342b3038ee1a7141b01d72be8f00f19a8f27c3f930e2f...,2,158.00,35082-005,79.000000,[35082-005],2,158.00,['35082-005'],343003,1
5322,6990,2019-01-07,6893,7085b9009329097de031292ba3cabc2e8491cb48f3ae3c...,1,15.00,35080-003,15.000000,[35080-003],1,15.00,['35080-003'],341109,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476772,6990,2019-01-11,7627,244bbbab6b65f9573ca9c54ca325e0b5d43ee1dc63ac15...,2,299.99,61201-001,149.995000,[61201-001],2,299.99,['61201-001'],342887,1
476918,6990,2019-01-09,7426,6d8f31e1c16e31dcf5b9f7e3374aeee6d374505b9729a6...,1,12.00,35080-010,12.000000,[35080-010],1,12.00,['35080-010'],342291,1
477130,6990,2019-01-08,1896,036b40cc22fe55189d0af68366310c05e13abaa1bcbf2c...,1,30.00,35016-010,30.000000,[35016-010],1,30.00,['35016-010'],341829,1
477229,6990,2019-01-11,9364,cc05af0c56a7b239ee80237310d93465cc3ea9e812ea45...,2,11.00,17030-003,5.500000,[17030-003],2,11.00,['17030-003'],343109,1
477260,6990,2019-01-08,3435,5fab77b5745a1f31d4561421727af3767c0ccc0ce5bc11...,2,59.99,61002-002,29.995000,[61002-002],2,59.99,['61002-002'],342018,1
477273,6990,2019-01-11,40,d2739f0fcfcdd67bb3264449cf3a0c9dbb287c13096f8b...,1,7.00,35080-010,7.000000,"[35047-001, 35080-010]",3,23.00,"['35047-001', '35080-010']",342881,2
477624,6990,2019-01-08,1213,4701b47533512b3f217eb625bb12dfef4951d10ece8704...,2,28.00,35078-012,14.000000,[35078-012],2,28.00,['35078-012'],341670,1
477696,6990,2019-01-07,7744,9c87fc55495a66fd1fd04dcdae0283866d118507ccda36...,6,39.86,35079-004,6.643333,"[35079-002, 35079-004]",8,62.00,"['35079-002', '35079-004']",341353,2
477832,6990,2019-01-09,107,65e566cea8695406771b659927786f22d50e3591d0a2a8...,1,259.99,61503-002,259.990000,[61503-002],1,259.99,['61503-002'],342204,1
477873,6990,2019-01-08,1286,957a32fffd15e1ffa06f3e21ae66ecd44fe3ad49abd3df...,1,19.99,31004-016,19.990000,[31004-016],1,19.99,['31004-016'],341679,1
477924,6990,2019-01-08,4107,2269df30bac59a6fb631f44a29156f0ae497713ad8ea9b...,1,34.84,35016-010,34.840000,"[11003-003, 35016-010]",2,40.50,"['11003-003', '35016-010']",342142,2
478004,6990,2019-01-08,2068,88d44c6599f853ee33f0a3d1cdbcbfc3cece63c8a6b5d6...,2,53.57,34504-003,26.785000,[34504-003],2,53.57,['34504-003'],341868,1
478028,6990,2019-01-11,28,8ec03769f6f50f5f20884888e3c3dce5e198a2ae7032c7...,2,24.00,35079-004,12.000000,[35079-004],2,24.00,['35079-004'],342874,1
478199,6990,2019-01-08,1610,41103ac6d2d7a5650f8d9b8cb01efcbee087ccce1723c6...,2,119.98,11003-003,59.990000,[11003-003],2,119.98,['11003-003'],341760,1
478560,6990,2019-01-11,8935,420bf969804e25fdaafc016f2faee2f22d7fbc4595e730...,1,42.49,35016-014,42.490000,"[35016-006, 35016-014]",2,67.98,"['35016-006', '35016-014']",342965,2
478721,6990,2019-01-09,8187,92d6b60aa11a59a52899cc090cee091223a9e824f582f7...,1,15.00,61002-003,15.000000,"[61002-002, 61002-003]",4,119.98,"['61002-002', '61002-003']",342470,2
478826,6990,2019-01-07,7851,1e9b6f1dc88855659cc80347ee87b19326d4b15cac19e2...,1,90.00,61001-003,90.000000,[61001-003],1,90.00,['61001-003'],341388,1
478889,6990,2019-01-09,8264,04f2235918781687d97068e2f4fad0d4b4cca22ffa1055...,1,25.00,11003-003,25.000000,[11003-003],1,25.00,['11003-003'],342483,1
479112,6990,2019-01-08,451,e8a6b6e7ae9be691feedf85ca4dada9d7618646dff32fb...,1,449.99,61503-004,449.990000,[61503-004],1,449.99,['61503-004'],342166,1
479289,6990,2019-01-09,7089,8b9f6641436d12a75b5c6fc88844531f3f95d5c4ff7df0...,1,10.14,35078-012,10.140000,"[35078-006, 21013-003, 35078-002, 35078-012]",6,86.19,"['21013-003', '35078-002', '35078-006', '35078...",342229,4
479400,6990,2019-01-07,9242,58e1dc42c318ac0266e7d5556ed7ecc338f4977d5b9257...,1,434.99,61503-003,434.990000,"[61505-002, 61503-003]",2,1159.98,"['61503-003', '61505-002']",341617,2
479699,6990,2019-01-07,8425,20b802afbd18b2b61768a377ac61d747563aab74ffbcd5...,4,149.97,61002-002,37.492500,[61002-002],4,149.97,['61002-002'],341512,1
479733,6990,2019-01-07,7940,198756b1662bf98dfcc246829582d5c8fa98dc25d344d5...,1,49.99,61005-002,49.990000,[61005-002],1,49.99,['61005-002'],341414,1
479979,6990,2019-01-07,6428,c47710233641a276d28f83c5e04d49af6cabbeb8079c4c...,1,34.08,35016-007,34.080000,[35016-007],1,34.08,['35016-007'],341025,1
480346,6990,2019-01-08,3353,5549da1b9c6ba70a793436883bc5b84ad1b7f986e750dd...,1,10.00,35019-003,10.000000,[35019-003],1,10.00,['35019-003'],342004,1
480352,6990,2019-01-11,9443,dc040f9fb177f9b5181787a0ec67b80ed0343a5e057e65...,2,17.50,55011-009,8.750000,[55011-009],2,17.50,['55011-009'],343132,1
480401,6990,2019-01-08,3995,0451aa6bcad1617bec281e3972ed2e285a7ffb60fe8486...,1,15.00,35018-004,15.000000,[35018-004],1,15.00,['35018-004'],342115,1
480470,6990,2019-01-07,5965,0d123934726be64b0890b15d38b38e189d23265757866a...,1,17.00,51012-001,17.000000,[51012-001],1,17.00,['51012-001'],340960,1
480510,6990,2019-01-11,9008,90b2a8e722023a21a29da1b5a75f75a7a371f371dd27cc...,2,89.99,61002-003,44.995000,[61002-003],2,89.99,['61002-003'],342992,1
480832,6990,2019-01-07,8270,b5cf0d9bbd0b27cea7b3ebf9ed835cc01929c524755250...,1,239.99,61203-001,239.990000,[61203-001],1,239.99,['61203-001'],341500,1

In [40]:
data['subclass_transaction_units'].sum()

609615