In [1]:
import pandas as pd
import numpy as np

In [2]:
all_zip_ta=pd.read_excel("/home/jian/Projects/Big_Lots/New_TA/New_TA_Info/BL_TA data by zip_JL_20180328.xlsx",dtype=str,na_values="")
ta_store=pd.read_csv("/home/jian/Projects/Big_Lots/New_TA/New_TA_Info/new_biglots_trade_areas_20171227.csv",dtype=str,na_values="")

In [3]:
store_city_state=all_zip_ta[['location_id','city_of_store','state_of_store','TA_of_store']]
store_city_state=store_city_state[store_city_state['location_id']!="nan"]

In [4]:
store_city_state['city_state']=store_city_state['city_of_store']+" | "+store_city_state['state_of_store']

In [5]:
TA_geo=store_city_state.groupby(['TA_of_store','city_state'])['location_id'].count().to_frame()
TA_geo.reset_index(inplace=True)
TA_geo=TA_geo.sort_values(['TA_of_store','location_id'],ascending=[True,False])

In [6]:
TA_geo=TA_geo.drop_duplicates("TA_of_store")
TA_geo.reset_index(inplace=True)
del TA_geo['index']
del TA_geo['location_id']

In [7]:
ta_store=ta_store[['trade_area_code','number_of_stores']]
ta_store.columns=['TA_of_store','number_of_stores']

In [8]:
TA_info=pd.merge(TA_geo,ta_store,on='TA_of_store',how="outer")

In [9]:
TA_info['Ta_Info']=TA_info['TA_of_store']+" | "+TA_info['number_of_stores']+" | "+TA_info['city_state']
TA_info=TA_info[['TA_of_store','Ta_Info']]

In [14]:
store_ta=all_zip_ta[['location_id','TA_of_store']]
store_ta=store_ta[store_ta['location_id']!="nan"]
store_ta=pd.merge(store_ta,TA_info,on="TA_of_store",how="left")
del store_ta['TA_of_store']
store_ta=store_ta.drop_duplicates()
store_ta.reset_index(inplace=True)
del store_ta['index']

In [15]:
store_ta.tail(3)

     location_id                      Ta_Info
1426        5358       N298 | 2 | ELYRIA | OH
1427        5359      N5 | 32 | MARIETTA | GA
1428        5360  N24 | 10 | SPARTANBURG | SC

In [16]:
store_ta.to_csv("/home/jian/BiglotsCode/OtherInput/New_TA_info.csv",index=False)

(541, 2)