In [1]:
import pandas as pd

In [5]:
df_division_name=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Class Names.txt",
                              sep="|",nrows=10)
df_division_name

   class_code_id      class_code_desc
0          11000                    .
1          11001                CANDY
2          11002       SEASONAL CANDY
3          11003            BEVERAGES
4          11004               CEREAL
5          11005      CANNED PRODUCTS
6          11006                 SOUP
7          11007     CONDIMENT/SPICES
8          11008  SALTY SNACKS & NUTS
9          11009     COOKIES/CRACKERS