In [1]:
import pandas as pd
import numpy as np
import os
import zipfile
import zlib
import datetime
os.getcwd()

'/home/jian/BigLots/Experian/data_20191016'

In [2]:
df_experian=pd.read_table("/home/jian/BigLots/Experian/data_20191016/Experian_20191001114500.txt",sep="|",dtype=str)
df_experian.shape

(17626573, 19)

In [4]:
df_experian.head(2)

,CustomerNumber,PhaseYear,Geo/HH,MultiCluster,MultiClusterDesc,DemoCluster,DemoClusterDesc,IncomeId,IncomeDesc,AgeId,AgeDesc,HomerentId,HomerentDesc,Child1Id,Child1Desc,Child2Id,Child2Desc,LivesId,LivesDesc
0,9,2019,Geo,5,Home Focused,NaN,NaN,2,between $50k and $100k,2,between 35 and 50,1,own house,0,NaN,0,NaN,0,single family home
1,28,2019,HH,6,Holiday Shoppers,3,Married no Children,3,>= $100k,3,>= 50,1,own house,0,NaN,0,NaN,0,single family home

In [5]:
df_experian['AgeDesc'].unique()

array(['between 35 and 50', '>= 50', '< 35', nan], dtype=object)

In [6]:
df_experian['IncomeDesc'].unique()

array(['between $50k and $100k', '>= $100k', '< $50k', nan], dtype=object)

In [7]:
df=df_experian[pd.isnull(df_experian['IncomeDesc'])]
df.shape

(1430, 19)

In [10]:
df_experian[['IncomeId','IncomeDesc']].drop_duplicates()

        IncomeId              IncomeDesc
0              2  between $50k and $100k
1              3                >= $100k
3              1                  < $50k
614          NaN                     NaN
673            4                     NaN
2361           5                     NaN
271485         7                     NaN
292191         8                     NaN
709114         0                     NaN
3367611        6                     NaN

In [9]:
df['IncomeId'].unique()

array([nan, '4', '5', '7', '8', '0', '6'], dtype=object)

In [3]:
df_id_mapping=pd.read_table("/home/jian/BigLots/Experian/data_20191016/Experian 2019 customer hashed.txt",sep="|",dtype=str)
df_id_mapping=df_id_mapping.rename(columns={"Customer_Num":"CustomerNumber"})

In [10]:
df_id_mapping.shape

(17626573, 2)

In [8]:
df_experian=pd.merge(df_experian,df_id_mapping,on="CustomerNumber",how="left")
df_experian.shape

(17626573, 20)

In [11]:
df_experian[pd.isnull(df_experian['hashed_customer_num'])]

Empty DataFrame
Columns: [CustomerNumber, PhaseYear, Geo/HH, MultiCluster, MultiClusterDesc, DemoCluster, DemoClusterDesc, IncomeId, IncomeDesc, AgeId, AgeDesc, HomerentId, HomerentDesc, Child1Id, Child1Desc, Child2Id, Child2Desc, LivesId, LivesDesc, hashed_customer_num]
Index: []

In [12]:
df_experian.head(2)

,CustomerNumber,PhaseYear,Geo/HH,MultiCluster,MultiClusterDesc,DemoCluster,DemoClusterDesc,IncomeId,IncomeDesc,AgeId,AgeDesc,HomerentId,HomerentDesc,Child1Id,Child1Desc,Child2Id,Child2Desc,LivesId,LivesDesc,hashed_customer_num
0,9,2019,Geo,5,Home Focused,NaN,NaN,2,between $50k and $100k,2,between 35 and 50,1,own house,0,NaN,0,NaN,0,single family home,19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebab...
1,28,2019,HH,6,Holiday Shoppers,3,Married no Children,3,>= $100k,3,>= 50,1,own house,0,NaN,0,NaN,0,single family home,59e19706d51d39f66711c2653cd7eb1291c94d9b55eb14...

In [16]:
writer=pd.ExcelWriter("./Example_Experian_20191001114500_head10000Rows_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_sample_first_10000.to_excel(writer,"Sample",index=False)
writer.save()

In [17]:
df.head(2)

,CustomerNumber,PhaseYear,Geo/HH,MultiCluster,MultiClusterDesc,DemoCluster,DemoClusterDesc,IncomeId,IncomeDesc,AgeId,AgeDesc,HomerentId,HomerentDesc,Child1Id,Child1Desc,Child2Id,Child2Desc,LivesId,LivesDesc
0,9,2019,Geo,5,Home Focused,NaN,NaN,2,between $50k and $100k,2,between 35 and 50,1,own house,0,NaN,0,NaN,0,single family home
1,28,2019,HH,6,Holiday Shoppers,3,Married no Children,3,>= $100k,3,>= 50,1,own house,0,NaN,0,NaN,0,single family home

In [18]:
df['CustomerNumber'].nunique()

17626573

In [21]:
df.shape

(17626573, 19)

In [19]:
df['MultiClusterDesc'].unique()

array(['Home Focused', 'Holiday Shoppers', 'Sporadic Seniors',
       'Starters in Need', 'Spending Fanatics', 'Urban Affluence',
       'Infrequent Families', 'Rising Hispanics', nan], dtype=object)

In [20]:
df.tail(5)

,CustomerNumber,PhaseYear,Geo/HH,MultiCluster,MultiClusterDesc,DemoCluster,DemoClusterDesc,IncomeId,IncomeDesc,AgeId,AgeDesc,HomerentId,HomerentDesc,Child1Id,Child1Desc,Child2Id,Child2Desc,LivesId,LivesDesc
17626568,56598368,2019,Geo,1,Starters in Need,NaN,NaN,1,< $50k,2,between 35 and 50,0,rents,0,NaN,0,NaN,0,single family home
17626569,56613651,2019,Geo,1,Starters in Need,NaN,NaN,2,between $50k and $100k,2,between 35 and 50,1,own house,0,NaN,0,NaN,0,single family home
17626570,56614130,2019,HH,1,Starters in Need,1,Making Ends Meet,1,< $50k,1,< 35,1,own house,1,age between 0-6,0,NaN,0,single family home
17626571,56614842,2019,HH,3,Infrequent Families,4,Married with Children,3,>= $100k,2,between 35 and 50,1,own house,1,age between 0-6,0,NaN,1,multi family or condo
17626572,56625638,2019,HH,7,Sporadic Seniors,3,Married no Children,2,between $50k and $100k,3,>= 50,1,own house,0,NaN,0,NaN,0,single family home