In [1]:
# https://business.twitter.com/en/help/campaign-setup/campaign-targeting/tailored-audiences/TA-from-lists.html#how-do-i-prehash-my-file?
import pandas as pd
import glob
import os
import datetime
print(datetime.datetime.now())

2020-03-19 12:07:46.771762

In [2]:
list_files=glob.glob("/home/jian/Projects/Big_Lots/Analysis/2020_Q1/plannder_requests/JT_aggregated_audience_to_FB_20200317/*.csv")

len(list_files)

10

In [4]:
writer_folder="./files_to_upload_to_twitter/"

try:
    os.stat(writer_folder)
except:
    os.mkdir(writer_folder)
    
for file in list_files:
    df=pd.read_csv(file,dtype=str,usecols=['email_address_hash'])
    print(df.shape,os.path.basename(file))
    df=df.rename(columns={"email_address_hash":"email"})
    print(df['email'].apply(len).unique())
    df.to_csv(writer_folder+os.path.basename(file),line_terminator="\n",header=False,index=False)

(184406, 1) Legacy_NA_Rewards_ActiveM&L_Above50k_Multi_NA.csv
[64]
(2815780, 1) Legacy_NA_Rewards_ActiveM&L_Above50k_Single_NA.csv
[64]
(197333, 1) Legacy_NA_Rewards_ActiveM&L_Below50k_Multi_NA.csv
[64]
(803814, 1) Legacy_NA_Rewards_ActiveM&L_Below50k_Single_NA.csv
[64]
(1268693, 1) Legacy_NA_Rewards_ActiveM&L_Unknown_Unknown_NA.csv
[64]
(62178, 1) SOTF_NA_ActiveM&L_Active_Above50k_Multi_NA.csv
[64]
(1285356, 1) SOTF_NA_Rewards_ActiveM&L_Above50k_Single_NA.csv
[64]
(80757, 1) SOTF_NA_Rewards_ActiveM&L_Below50k_Multi_NA.csv
[64]
(331490, 1) SOTF_NA_Rewards_ActiveM&L_Below50k_Single_NA.csv
[64]
(627265, 1) SOTF_NA_Rewards_ActiveM&L_Unknown_Unknown_NA.csv
[64]

In [5]:
df.head(5)

                                               email
0  43368dd7ff3e280e49bc1449c2b98a9da7417ca414b4cf...
1  8ccb93c07d49ccacaae64f1a4016c1721935d7142f12e4...
2  a554a5eabb3b32d8215e5c2e081408c203e5384e276d2d...
3  95a5fc02e2c979e5eca558fd086ab53d932ab066afcb06...
4  2efaf95211029ee1104caf878da22a4452bc24b4b0360d...

In [6]:
a=glob.glob("./files_to_upload_to_twitter/*")
len(a)

10

In [7]:
df_a0=pd.read_csv(a[0],nrows=10)
df_a0

  3bb8d998523266a0010ba23db52e903d1c59bed53fec5fc803757ce8c0974bfb
0  554f00334afe0c6354cf861d3330528dd10be63874cd39...
1  33c362b9c478a94222399b729e7789621f801ff9afc996...
2  c23bbafe9eac273561ac1f9f8fecea4832d4c989efbcdf...
3  0cc72885fc57859c4180fde21b3b6a5caba9a1440c2faf...
4  471427ee3731eaf3605810de6cdea5467e0882c587f285...
5  f4b24d9470a160ef8a88e1b1af1ca8975afed1c366c5aa...
6  6fa2e7fb47f38270b9d3a344daa3425ac88d5f51c9e7b1...
7  628085b4efffa33128af5293d2ac9406015a23367bbef2...
8  db1c1b9bf00dd40a30b8c67a5747be88d63281e46d30a2...
9  736723d7a98a203d35f3bb40fcf8bbdf214382d9735b1e...

In [9]:
a=pd.read_csv("./files_to_upload_to_twitter/Legacy_NA_Rewards_ActiveM&L_Above50k_Single_NA.csv",dtype=str)
a.shape

(2815779, 1)

In [12]:
a.columns.tolist()[0]

'83776eac1baeea9bae736a36a388dee1440d30d18410c705f97ff7ecdaf5ecf9'

In [13]:
a[a.columns.tolist()[0]].apply(len).unique()

array([64])