In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import json

dma_cleaning_json=json.load(open("/home/jian/Docs/Geo_mapping/dma_map_latest.json","r"))
os.getcwd()

'/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3'

In [2]:
data_Joann=pd.read_table("/home/jian/Projects/Big_Lots/TMR/To_Spencer/BL ALL TMR 0104 updated.dat",dtype=str,sep="|")
data_Joann['impression']=data_Joann['impression'].replace(".","0").astype(float)
data_Joann['click']=data_Joann['click'].replace(".","0").astype(float)
data_Joann['cost']=data_Joann['cost'].replace(".","0").astype(float)
data_Joann['week date']=data_Joann['week date'].apply(lambda x: datetime.datetime.strptime(x,"%m/%d/%Y").date())
old_q2_circ=data_Joann[data_Joann['media']=="Circulation"]
data_Joann=data_Joann[data_Joann['media']!="Circulation"]
data_Joann.shape

(3474275, 8)

In [6]:
data_Joann_TWTR=data_Joann[data_Joann['media']=="Digital"]
data_Joann_TWTR=data_Joann_TWTR[data_Joann_TWTR['submedia']=="Social"]
data_Joann_TWTR=data_Joann_TWTR[data_Joann_TWTR['placement']=="Twitter"]
data_Joann_TWTR_recent_year=data_Joann_TWTR[(data_Joann_TWTR['week date']>=datetime.date(2017,11,5)) & (data_Joann_TWTR['week date']<=datetime.date(2018,11,3))]
data_Joann_TWTR_recent_year['cost'].sum()

467732.74825099995

In [7]:
data_Joann_TWTR_recent_year['week date'].min()

datetime.date(2017, 11, 5)

In [8]:
data_Joann_TWTR_recent_year.sort_values('week date')

,week date,media,submedia,placement,impression,click,cost,cleaned dma
326456,2017-11-05,Digital,Social,Twitter,896315.0,45060.0,2079.979308,xx
325429,2017-11-12,Digital,Social,Twitter,2441183.0,85614.0,6920.451247,xx
325446,2017-11-19,Digital,Social,Twitter,1507566.0,23257.0,6438.015515,xx
325327,2017-11-26,Digital,Social,Twitter,2525357.0,24668.0,11580.008840,xx
325320,2017-12-03,Digital,Social,Twitter,3520642.0,38054.0,12292.358980,xx
325277,2017-12-10,Digital,Social,Twitter,5943537.0,17064.0,31261.531320,xx
325267,2017-12-17,Digital,Social,Twitter,9742198.0,48521.0,73704.911510,xx
325342,2017-12-24,Digital,Social,Twitter,1385472.0,5359.0,10394.647490,xx
164915,2017-12-31,Digital,Social,Twitter,15725.0,48.0,77.909246,xx
164916,2018-01-07,Digital,Social,Twitter,3617501.0,149387.0,5988.921220,xx
164917,2018-01-14,Digital,Social,Twitter,15575401.0,317831.0,27058.258855,xx
164918,2018-01-21,Digital,Social,Twitter,1491067.0,7273.0,6952.819925,xx
164919,2018-01-28,Digital,Social,Twitter,8133756.0,177833.0,10000.000000,xx
164920,2018-02-04,Digital,Social,Twitter,16002792.0,395320.0,11500.000000,xx
164921,2018-02-11,Digital,Social,Twitter,5350204.0,161124.0,6000.000000,xx
164922,2018-02-18,Digital,Social,Twitter,1827193.0,22599.0,6493.716079,xx
164923,2018-02-25,Digital,Social,Twitter,288191.0,4041.0,1006.283921,xx
164924,2018-03-04,Digital,Social,Twitter,0.0,0.0,0.000000,xx
164925,2018-03-11,Digital,Social,Twitter,8002641.0,281425.0,13000.000000,xx
164926,2018-03-18,Digital,Social,Twitter,3897866.0,104249.0,12000.000000,xx
164927,2018-03-25,Digital,Social,Twitter,12637.0,353.0,0.000000,xx
164928,2018-04-01,Digital,Social,Twitter,6316113.0,401585.0,10000.000000,xx
164929,2018-04-08,Digital,Social,Twitter,10274996.0,584029.0,13000.000000,xx
164930,2018-04-15,Digital,Social,Twitter,8487168.0,396647.0,10400.000000,xx
164931,2018-04-22,Digital,Social,Twitter,3056733.0,121291.0,3600.000000,xx
3013687,2018-04-29,Digital,Social,Twitter,0.0,0.0,0.000000,xx
3013688,2018-05-06,Digital,Social,Twitter,3412597.0,171264.0,5000.000000,xx
3013689,2018-05-13,Digital,Social,Twitter,6104793.0,223046.0,7000.000000,xx
3013690,2018-05-20,Digital,Social,Twitter,8933168.0,258182.0,12000.000000,xx
3013691,2018-05-27,Digital,Social,Twitter,4512755.0,131409.0,6000.000000,xx
...,...,...,...,...,...,...,...,...
3479720,2018-07-15,Digital,Social,Twitter,476710.0,16230.0,1000.000000,xx
3479721,2018-07-15,Digital,Social,Twitter,512933.0,15493.0,1000.000000,xx
3479719,2018-07-15,Digital,Social,Twitter,155394.0,2031.0,499.490677,xx
3479728,2018-07-22,Digital,Social,Twitter,370163.0,1883.0,1990.618245,xx
3479727,2018-07-22,Digital,Social,Twitter,310899.0,1642.0,2000.000000,xx
3479726,2018-07-22,Digital,Social,Twitter,0.0,0.0,0.000000,xx
3479725,2018-07-22,Digital,Social,Twitter,0.0,0.0,0.000000,xx
3479724,2018-07-22,Digital,Social,Twitter,0.0,0.0,0.000000,xx
3479722,2018-07-22,Digital,Social,Twitter,311445.0,9650.0,616.251934,xx
3479723,2018-07-22,Digital,Social,Twitter,989.0,54.0,0.000000,xx
3479733,2018-07-29,Digital,Social,Twitter,76.0,1.0,0.139563,xx
3479732,2018-07-29,Digital,Social,Twitter,181.0,1.0,0.147322,xx
3479731,2018-07-29,Digital,Social,Twitter,7350.0,17.0,21.130429,xx
3479730,2018-07-29,Digital,Social,Twitter,456129.0,2643.0,1988.796794,xx
3479729,2018-07-29,Digital,Social,Twitter,440974.0,2402.0,1999.159967,xx
3479735,2018-07-29,Digital,Social,Twitter,3.0,0.0,0.000000,xx
3479734,2018-07-29,Digital,Social,Twitter,3.0,0.0,0.000000,xx
29199,2018-08-05,Digital,Social,Twitter,198254.0,189.0,1078.043081,xx
29200,2018-08-12,Digital,Social,Twitter,2611688.0,189.0,16920.697558,xx
29201,2018-08-19,Digital,Social,Twitter,1996666.0,189.0,10982.573102,xx
29202,2018-08-26,Digital,Social,Twitter,1607936.0,189.0,10001.419220,xx
29203,2018-09-02,Digital,Social,Twitter,230.0,189.0,0.209514,xx
29204,2018-09-09,Digital,Social,Twitter,84491.0,189.0,892.714249,xx
29205,2018-09-16,Digital,Social,Twitter,256593.0,189.0,2046.810857,xx
29206,2018-09-23,Digital,Social,Twitter,2709307.0,189.0,20892.944375,xx
29207,2018-09-30,Digital,Social,Twitter,568281.0,189.0,3167.530519,xx
29208,2018-10-07,Digital,Social,Twitter,0.0,189.0,0.000000,xx
29209,2018-10-14,Digital,Social,Twitter,903606.0,189.0,6400.000000,xx
29210,2018-10-21,Digital,Social,Twitter,755271.0,189.0,4200.000000,xx
29211,2018-10-28,Digital,Social,Twitter,356902.0,189.0,1400.000000,xx

# Update_Circ

In [52]:
data_circ=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/Circulation/output/circulation_TMR_JL_2018-12-12.csv",dtype=str)
data_circ=data_circ.rename(columns={"week_start_date":"week date"})
data_circ['impression']=data_circ['impression'].astype(float).astype(int)
data_circ['cost']=data_circ['cost'].astype(float)
data_circ["week date"]=data_circ["week date"].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
data_circ['cleaned dma']=data_circ['DMA'].apply(lambda x: dma_cleaning_json[x])
data_circ['click']=0
data_circ=data_circ.groupby(['week date','media','submedia','placement','cleaned dma'])['impression','click','cost'].sum().reset_index()
data_circ=data_circ[data_Joann.columns.tolist()]
data_Joann=data_Joann.append(data_circ)

In [53]:
# SEM 
# No use the data from Simeng because of campaign type "GDN" (display only) not available
#
'''
google_SEM=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/Search Performance by Week Google SEM SOTF SNR.CSV",dtype=str)
google_SEM=google_SEM[['Week','Impressions','Clicks','Media Cost']].rename(columns={"Week":"week date","Impressions":"impression","Clicks":"click","Media Cost":"cost"})
google_SEM['media']="Digital"
google_SEM['submedia']="SEM"
google_SEM['placement']="Google"
#
bing_SEM=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/Search Performance by Week Bing SEM SOTF SNR.CSV",dtype=str)
bing_SEM=bing_SEM[['Week','Impressions','Clicks','Media Cost']].rename(columns={"Week":"week date","Impressions":"impression","Clicks":"click","Media Cost":"cost"})
bing_SEM['media']="Digital"
bing_SEM['submedia']="SEM"
bing_SEM['placement']="Bing"
#
google_PLA=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/Search Performance by Week Google Shopping.csv",dtype=str)
google_PLA=google_PLA[['Week','Impressions','Clicks','Media Cost']].rename(columns={"Week":"week date","Impressions":"impression","Clicks":"click","Media Cost":"cost"})
google_PLA['media']="Digital"
google_PLA['submedia']="PLA"
google_PLA['placement']="Google"
#
bing_PLA=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/Search Performance by Week Bing Shopping.csv",dtype=str)
bing_PLA=bing_PLA[['Week','Impressions','Clicks','Media Cost']].rename(columns={"Week":"week date","Impressions":"impression","Clicks":"click","Media Cost":"cost"})
bing_PLA['media']="Digital"
bing_PLA['submedia']="PLA"
bing_PLA['placement']="Bing"

SEM_Q3_and_more=google_SEM.append(bing_SEM).append(google_PLA).append(bing_PLA)
SEM_Q3_and_more['week date']=SEM_Q3_and_more['week date'].apply(lambda x: x.split(" ")[0])
SEM_Q3_and_more['week date']=SEM_Q3_and_more['week date'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
SEM_Q3_and_more['cleaned dma']="xx"

SEM_Q3_and_more['click']=SEM_Q3_and_more['click'].astype(float)
SEM_Q3_and_more['cost']=SEM_Q3_and_more['cost'].astype(float)
SEM_Q3_and_more['impression']=SEM_Q3_and_more['impression'].astype(float).fillna(0).astype(int)

SEM_QC_April_to_July=SEM_Q3_and_more[(SEM_Q3_and_more['week date']<=datetime.date(2018, 8, 1)) & (SEM_Q3_and_more['week date']>=datetime.date(2018, 4, 1))]
SEM_Q3_and_more=SEM_Q3_and_more[SEM_Q3_and_more['week date']>datetime.date(2018, 8, 1)]
SEM_Q3_and_more['week date'].min()
'''

'\ngoogle_SEM=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/Search Performance by Week Google SEM SOTF SNR.CSV",dtype=str)\ngoogle_SEM=google_SEM[[\'Week\',\'Impressions\',\'Clicks\',\'Media Cost\']].rename(columns={"Week":"week date","Impressions":"impression","Clicks":"click","Media Cost":"cost"})\ngoogle_SEM[\'media\']="Digital"\ngoogle_SEM[\'submedia\']="SEM"\ngoogle_SEM[\'placement\']="Google"\n#\nbing_SEM=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/Search Performance by Week Bing SEM SOTF SNR.CSV",dtype=str)\nbing_SEM=bing_SEM[[\'Week\',\'Impressions\',\'Clicks\',\'Media Cost\']].rename(columns={"Week":"week date","Impressions":"impression","Clicks":"click","Media Cost":"cost"})\nbing_SEM[\'media\']="Digital"\nbing_SEM[\'submedia\']="SEM"\nbing_SEM[\'placement\']="Bing"\n#\ngoogle_PLA=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/Search Performance by Week Google Shopping.csv",dtype=str)\ngoogle_PLA=google_PLA[[\'Week\',\'Impressions\',\'Clicks\',\'Media Cost\']].rename(columns={"Week":"week date","Impressions":"impression","Clicks":"click","Media Cost":"cost"})\ngoogle_PLA[\'media\']="Digital"\ngoogle_PLA[\'submedia\']="PLA"\ngoogle_PLA[\'placement\']="Google"\n#\nbing_PLA=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/Search Performance by Week Bing Shopping.csv",dtype=str)\nbing_PLA=bing_PLA[[\'Week\',\'Impressions\',\'Clicks\',\'Media Cost\']].rename(columns={"Week":"week date","Impressions":"impression","Clicks":"click","Media Cost":"cost"})\nbing_PLA[\'media\']="Digital"\nbing_PLA[\'submedia\']="PLA"\nbing_PLA[\'placement\']="Bing"\n\nSEM_Q3_and_more=google_SEM.append(bing_SEM).append(google_PLA).append(bing_PLA)\nSEM_Q3_and_more[\'week date\']=SEM_Q3_and_more[\'week date\'].apply(lambda x: x.split(" ")[0])\nSEM_Q3_and_more[\'week date\']=SEM_Q3_and_more[\'week date\'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())\nSEM_Q3_and_more[\'cleaned dma\']="xx"\n\nSEM_Q3_and_more[\'click\']=SEM_Q3_and_more[\'click\'].astype(float)\nSEM_Q3_and_more[\'cost\']=SEM_Q3_and_more[\'cost\'].astype(float)\nSEM_Q3_and_more[\'impression\']=SEM_Q3_and_more[\'impression\'].astype(float).fillna(0).astype(int)\n\nSEM_QC_April_to_July=SEM_Q3_and_more[(SEM_Q3_and_more[\'week date\']<=datetime.date(2018, 8, 1)) & (SEM_Q3_and_more[\'week date\']>=datetime.date(2018, 4, 1))]\nSEM_Q3_and_more=SEM_Q3_and_more[SEM_Q3_and_more[\'week date\']>datetime.date(2018, 8, 1)]\nSEM_Q3_and_more[\'week date\'].min()\n'

# Update SEM

In [54]:
my_SEM_up_to_Q3=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/Jian_TMR_Update/Repull_Dec_13/BL_SEM_PLA_GDN_TMR_Till_2018-11-03_JL.csv",dtype=str)
my_SEM_up_to_Q3['week date']=my_SEM_up_to_Q3['week_start_date'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
my_SEM_up_to_Q3=my_SEM_up_to_Q3[data_Joann.columns.tolist()]
my_SEM_up_to_Q3['impression']=my_SEM_up_to_Q3['impression'].astype(float)
my_SEM_up_to_Q3['click']=my_SEM_up_to_Q3['click'].astype(float)
my_SEM_up_to_Q3['cost']=my_SEM_up_to_Q3['cost'].astype(float)
my_SEM_up_to_Q2=my_SEM_up_to_Q3[my_SEM_up_to_Q3['week date']<=datetime.date(2018,8,1)]
my_SEM_up_to_Q2['week date'].max()

datetime.date(2018, 7, 29)

In [55]:
print(data_Joann[data_Joann['placement'].isin(['Google','Bing','GDN'])]['impression'].sum()==my_SEM_up_to_Q2['impression'].sum())
data_Joann=data_Joann[~data_Joann['placement'].isin(['Google','Bing','GDN'])]
data_Joann=data_Joann.append(my_SEM_up_to_Q3)

True

# Update 2018Q3 TV

In [56]:
def week_start_date(x):
    if x.weekday()==6:
        y=x
    else:
        y=x-datetime.timedelta(days=x.weekday()+1)
    return y

TV_2018Q3=pd.read_excel("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/National Cable Q3_TMR Report 12.10.xlsx",dtype=str,skiprows=1)
TV_2018Q3['Week Of']=TV_2018Q3['Week Of'].apply(lambda x: datetime.datetime.strptime(x.split(" ")[0],"%Y-%m-%d").date())
TV_2018Q3['Air Date']=TV_2018Q3['Air Date'].apply(lambda x: datetime.datetime.strptime(x.split(" ")[0],"%Y-%m-%d").date())
TV_2018Q3['week_start_date']=TV_2018Q3['Air Date'].apply(lambda x: week_start_date(x))
# Week Of in the data is Monday
print("Original Week Of as Monday: ",TV_2018Q3['Week Of'].apply(lambda x: x.weekday()).unique())
del TV_2018Q3['Week Of']
print("Unique Media Type: ",TV_2018Q3['Media Type'].unique())
print("Unique Market: ",TV_2018Q3['Market'].unique())
TV_2018Q3=TV_2018Q3[['Air Date','week_start_date','Network','IMPs (Units)','Net Cost']].rename(columns={"week_start_date":"week date","IMPs (Units)":"impression","Net Cost":"cost",'Network':"placement"})

Original Week Of as Monday:  [0]
Unique Media Type:  ['National Cable']
Unique Market:  ['National']

In [57]:
TV_2018Q3['media']="TV"
TV_2018Q3['submedia']="National"
TV_2018Q3['click']=0
TV_2018Q3['impression']=TV_2018Q3['impression'].astype(float)
TV_2018Q3['cost']=TV_2018Q3['cost'].astype(float)
TV_2018Q3=TV_2018Q3.groupby(['week date','media','submedia','placement'])['impression','click','cost'].sum().reset_index()
TV_2018Q3['cleaned dma']="National"

data_Joann=data_Joann.append(TV_2018Q3)

# DirectTV

In [58]:
data_DTV=pd.read_table("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/DirectTV/BigLots_Juba_Impressions_EncryptedID_20181005.zip",sep="|",dtype=str)
data_DTV['IMPRESSIONS']=data_DTV['IMPRESSIONS'].astype(int)

data_DTV=data_DTV.groupby(['EST_DATE','NETWORK'])['IMPRESSIONS'].sum().to_frame().reset_index().rename(columns={"IMPRESSIONS":"impression",'NETWORK':'placement'})
# CPM 39.5 from Spencer
data_DTV['cost']=data_DTV['impression']/1000*39.5
data_DTV['EST_DATE']=data_DTV['EST_DATE'].apply(lambda x: datetime.datetime.strptime(x,"%m/%d/%Y").date())
data_DTV['week date']=data_DTV['EST_DATE'].apply(lambda x: week_start_date(x))
data_DTV=data_DTV.groupby(['week date','placement'])['impression','cost'].sum().reset_index()
data_DTV['media']="TV"
data_DTV['submedia']='National'
data_DTV['click']=0
data_DTV['cleaned dma']="National"
data_DTV=data_DTV[['week date','media','submedia','placement','impression','click','cost','cleaned dma']]


data_Joann=data_Joann.append(data_DTV)
data_Joann=data_Joann[data_Joann['week date']<=datetime.date(2018,11,3)]

In [59]:
data_Joann_20170924=data_Joann[data_Joann['week date']==datetime.date(2017,9,24)]
data_Joann_20170924[data_Joann_20170924['media']=="Digital"]['impression'].sum()

11257010.0

# To Wide

In [60]:
National_TV_2017=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/finaltvlogs_0306.csv",dtype=str)

National_TV_2017['impression']=National_TV_2017['Act Impression'].astype(float)
National_TV_2017['cost']=National_TV_2017['Net Cost'].astype(float)
National_TV_2017['week_start_date']=National_TV_2017['Week BL'].apply(lambda x: datetime.datetime.strptime(x,"%m/%d/%y").date())
National_TV_2017=National_TV_2017[National_TV_2017['week_start_date']<datetime.date(2017,12,30)]
National_TV_2017=National_TV_2017[National_TV_2017['week_start_date']>=datetime.date(2016,10,2)]

National_TV_2017=National_TV_2017[['week_start_date','cleaned DMA','Media Type','Network','impression','cost']]
National_TV_2017=National_TV_2017.groupby(['week_start_date','cleaned DMA','Media Type','Network'])['impression','cost'].sum().reset_index()
National_TV_2017=National_TV_2017.rename(columns={"cleaned DMA":"cleaned dma","Media Type":"submedia","Network":"placement"})
National_TV_2017['submedia']=National_TV_2017['submedia'].replace(['National Cable','DirecTV'],"National")
National_TV_2017['submedia']=National_TV_2017['submedia'].replace(['Spot Cable', 'Spot Broadcast', 'FOOTPRINT-SINCLAIR'],"Local")
National_TV_2017=National_TV_2017[National_TV_2017['submedia']=="National"]

National_TV_2017.head(2)

  week_start_date cleaned dma  submedia placement  impression     cost
0      2016-10-02    National  National       ANE    552100.0   8863.8
1      2016-10-02    National  National       BET    729000.0  11537.9

In [61]:
data_media_national=data_Joann.groupby(['week date','media'])[['impression','click','cost']].sum().reset_index()

data_sub_media_national=data_Joann.groupby(['week date','media','submedia'])[['impression','click','cost']].sum().reset_index()
data_sub_media_national['submedia']=data_sub_media_national['media']+"_"+data_sub_media_national['submedia']
del data_sub_media_national['media']

In [62]:
data_sub_media_national_2018=data_sub_media_national[data_sub_media_national['week date']>=datetime.date(2017,12,31)]
data_sub_media_national_2017=data_sub_media_national[data_sub_media_national['week date']<datetime.date(2017,12,31)]
data_sub_media_national_2017_Non_NationalTV=data_sub_media_national_2017[data_sub_media_national_2017['submedia']!="TV_National"]
data_sub_media_national_2017_NationalTV=data_sub_media_national_2017[data_sub_media_national_2017['submedia']=="TV_National"]

In [63]:
National_TV_2017['click']=0
National_TV_2017=National_TV_2017.rename(columns={"week_start_date":"week date"})
data_sub_media_national_2017_NationalTV=National_TV_2017[['week date','submedia','impression','click','cost']]
data_sub_media_national_2017_NationalTV['submedia']="TV_National"

data_sub_media_national_2017_NationalTV=data_sub_media_national_2017_NationalTV.groupby(['week date','submedia'])['impression','click','cost'].sum().reset_index()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [64]:
data_sub_media_national=data_sub_media_national_2017_Non_NationalTV.append(data_sub_media_national_2017_NationalTV).append(data_sub_media_national_2018)
data_sub_media_national=data_sub_media_national.reset_index()
del data_sub_media_national['index']

In [65]:
def pivot_level_media(level,df_input):
    df_impr=df_input[['week date',level,'impression']]
    df_impr=df_impr.pivot_table(index='week date',columns=level,values='impression').reset_index()
    for col in df_impr.columns.tolist()[1:]:
        df_impr=df_impr.rename(columns={col:col+"_impr"})
        
    df_click=df_input[['week date',level,'click']]
    df_click=df_click.pivot_table(index='week date',columns=level,values='click').reset_index()
    for col in df_click.columns.tolist()[1:]:
        df_click=df_click.rename(columns={col:col+"_click"})
        
    df_cost=df_input[['week date',level,'cost']]
    df_cost=df_cost.pivot_table(index='week date',columns=level,values='cost').reset_index()
    for col in df_cost.columns.tolist()[1:]:
        df_cost=df_cost.rename(columns={col:col+"_cost"})
        
    result=pd.merge(df_impr,df_click,on="week date",how="outer")
    result=pd.merge(result,df_cost,on="week date",how="outer")
    result=result.fillna(0)
    return result

data_media_national_wide=pivot_level_media('media',data_media_national)
data_submedia_national_wide=pivot_level_media('submedia',data_sub_media_national)

# Add Sales

In [66]:
sales_data=pd.read_csv("/home/jian/BiglotsCode/outputs/combined_sales_long_2018-12-08.csv",dtype=str)
sales_data['week_end_date']=sales_data['week_end_date'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
sales_data['sales']=sales_data['sales'].astype(float)
sales_data['transactions']=sales_data['transactions'].astype(float)
sales_data['week date']=sales_data['week_end_date'].apply(lambda x: x-datetime.timedelta(days=6))
sales_data_naitonal=sales_data.groupby(['week date'])['sales','transactions'].sum().reset_index()
sales_data_naitonal=sales_data_naitonal.set_index(['week date'])
sales_data_naitonal.at[datetime.date(2017,4,30),'transactions']=(sales_data_naitonal.at[datetime.date(2017,4,23),'transactions']+sales_data_naitonal.at[datetime.date(2017,5,7),'transactions'])/2
sales_data_naitonal=sales_data_naitonal.reset_index()
sales_data_store_counts=sales_data[sales_data['sales']>0]
sales_data_store_counts=sales_data_store_counts.groupby(['week date'])['location_id'].count().to_frame().reset_index().rename(columns={"location_id":"store_counts"})

sales_data_naitonal=pd.merge(sales_data_naitonal,sales_data_store_counts,on="week date",how="outer")
sales_data_naitonal.head(2)

    week date         sales  transactions  store_counts
0  2015-05-17  9.365112e+07     3351663.0          1415
1  2015-05-24  1.008454e+08     3450926.0          1415

In [67]:
data_media_national_wide=pd.merge(data_media_national_wide,sales_data_naitonal,on="week date",how="left")
data_submedia_national_wide=pd.merge(data_submedia_national_wide,sales_data_naitonal,on="week date",how="left")

,week date,Cinema_xx_impr,Circulation_FSI+Instore_impr,Circulation_Valassis_impr,Digital_Flipp_impr,Digital_PLA_impr,Digital_Pandora_impr,Digital_Programmatic_impr,Digital_SEM_impr,Digital_Social_impr,...,Radio_Radio_cost,TV_Local_cost,TV_National_cost,sales,transactions,store_counts,Saturday_rewards_ind,Sunday_rewards_ind,Holiday_1_week_only_Ind,Holiday_5_weeks_only_Ind
1,2016-10-02,0.0,0.0,0.0,537250.0,1979260.0,0.0,0.0,637256.0,6165410.0,...,0.0,0.0,259229.60,1.047726e+08,3514054.0,1426,0.0,1.0,0.0,0.0
2,2016-10-09,0.0,16203738.0,714025.0,785518.0,2334959.0,0.0,0.0,824089.0,5275652.0,...,0.0,0.0,846330.98,7.998192e+07,3020749.0,1426,0.0,0.0,0.0,0.0

In [68]:
Rewards_Promotion_list=[datetime.date(2016,10,1),datetime.date(2016,10,2),
                        datetime.date(2017,1,21),datetime.date(2017,1,22),
                        datetime.date(2017,4,1),datetime.date(2017,4,2),
                        datetime.date(2017,7,8),datetime.date(2017,7,9),
                        datetime.date(2017,9,30),datetime.date(2017,10,1),
                        datetime.date(2018,1,20),datetime.date(2018,1,21),
                        datetime.date(2018,4,7),datetime.date(2018,4,8),
                        datetime.date(2018,7,7),datetime.date(2018,7,8),
                        datetime.date(2018,9,29),datetime.date(2018,9,30)]

df_Rewards_Promotion=pd.DataFrame({"Date":Rewards_Promotion_list},index=range(len(Rewards_Promotion_list)))
df_Rewards_Promotion['weekday']=df_Rewards_Promotion['Date'].apply(lambda x: x.weekday())
df_Rewards_Promotion['week date']=np.where(df_Rewards_Promotion['weekday']==6,df_Rewards_Promotion['Date'],df_Rewards_Promotion['Date']-datetime.timedelta(days=6))

del df_Rewards_Promotion['Date']

df_Rewards_Promotion_Sunday=df_Rewards_Promotion[df_Rewards_Promotion['weekday']==6]
df_Rewards_Promotion_Sunday['Sunday_rewards_ind']=1
del df_Rewards_Promotion_Sunday['weekday']
df_Rewards_Promotion_Saturday=df_Rewards_Promotion[df_Rewards_Promotion['weekday']==5]
df_Rewards_Promotion_Saturday['Saturday_rewards_ind']=1
del df_Rewards_Promotion_Saturday['weekday']

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
holiday_1_week_df=pd.DataFrame({"week date":[datetime.date(2016,12,18),datetime.date(2017,12,17)],"Holiday_1_week_only_Ind":[1]*2},index=[0,1])
holiday_5_weeks_df=pd.DataFrame({"week date":[datetime.date(2016,12,18)-datetime.timedelta(days=x*7) for x in range(5)] +[datetime.date(2017,12,17)-datetime.timedelta(days=x*7) for x in range(5)],
                                 "Holiday_5_weeks_only_Ind":[1]*10},index=[x for x in range(10)])

df_special_weeks_ind=pd.merge(df_Rewards_Promotion_Saturday,df_Rewards_Promotion_Sunday,on="week date",how="outer")
df_special_weeks_ind=pd.merge(df_special_weeks_ind,holiday_1_week_df,on="week date",how="outer")
df_special_weeks_ind=pd.merge(df_special_weeks_ind,holiday_5_weeks_df,on="week date",how="outer")

In [70]:
data_media_national_wide=pd.merge(data_media_national_wide,df_special_weeks_ind,on="week date",how="left")
data_submedia_national_wide=pd.merge(data_submedia_national_wide,df_special_weeks_ind,on="week date",how="left")

data_media_national_wide=data_media_national_wide.fillna(0)
data_submedia_national_wide=data_submedia_national_wide.fillna(0)

data_media_national_wide=data_media_national_wide[data_media_national_wide['week date']>datetime.date(2016,10,1)]
data_submedia_national_wide=data_submedia_national_wide[data_submedia_national_wide['week date']>datetime.date(2016,10,1)]

In [71]:
data_media_national_wide.to_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/output/BL_input_for_national_media_MMM_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
data_submedia_national_wide.to_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/output/BL_input_for_national_submedia_MMM_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
data_Joann.to_csv("/home/jian/Projects/Big_Lots/TMR/To_Spencer/Up_to_2018Q3/output/BL_MMM_long_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [75]:
data_Joann[(data_Joann['submedia']=="Pandora") & (data_Joann['week date']>=datetime.date(2018,8,5)) &(data_Joann['week date']<=datetime.date(2018,11,3))]['cost'].sum()

206040.17999999999

In [76]:
data_submedia_national_wide.head(2)

,week date,Cinema_xx_impr,Circulation_FSI+Instore_impr,Circulation_Valassis_impr,Digital_Flipp_impr,Digital_PLA_impr,Digital_Pandora_impr,Digital_Programmatic_impr,Digital_SEM_impr,Digital_Social_impr,...,Radio_Radio_cost,TV_Local_cost,TV_National_cost,sales,transactions,store_counts,Saturday_rewards_ind,Sunday_rewards_ind,Holiday_1_week_only_Ind,Holiday_5_weeks_only_Ind
1,2016-10-02,0.0,0.0,0.0,537250.0,1979260.0,0.0,0.0,637256.0,6165410.0,...,0.0,0.0,259229.60,1.047726e+08,3514054.0,1426,0.0,1.0,0.0,0.0
2,2016-10-09,0.0,16203738.0,714025.0,785518.0,2334959.0,0.0,0.0,824089.0,5275652.0,...,0.0,0.0,846330.98,7.998192e+07,3020749.0,1426,0.0,0.0,0.0,0.0

In [82]:
data_submedia_national_wide[(data_submedia_national_wide['week date']>=datetime.date(2018,8,5)) & (data_submedia_national_wide['week date']<=datetime.date(2018,11,3))]['Digital_Pandora_cost'].sum()

206040.18000000002

In [77]:
data_submedia_national_wide.columns.tolist()

['week date',
 'Cinema_xx_impr',
 'Circulation_FSI+Instore_impr',
 'Circulation_Valassis_impr',
 'Digital_Flipp_impr',
 'Digital_PLA_impr',
 'Digital_Pandora_impr',
 'Digital_Programmatic_impr',
 'Digital_SEM_impr',
 'Digital_Social_impr',
 'Digital_YouTube_impr',
 'Email_xx_impr',
 'Radio_Radio_impr',
 'TV_Local_impr',
 'TV_National_impr',
 'Cinema_xx_click',
 'Circulation_FSI+Instore_click',
 'Circulation_Valassis_click',
 'Digital_Flipp_click',
 'Digital_PLA_click',
 'Digital_Pandora_click',
 'Digital_Programmatic_click',
 'Digital_SEM_click',
 'Digital_Social_click',
 'Digital_YouTube_click',
 'Email_xx_click',
 'Radio_Radio_click',
 'TV_Local_click',
 'TV_National_click',
 'Cinema_xx_cost',
 'Circulation_FSI+Instore_cost',
 'Circulation_Valassis_cost',
 'Digital_Flipp_cost',
 'Digital_PLA_cost',
 'Digital_Pandora_cost',
 'Digital_Programmatic_cost',
 'Digital_SEM_cost',
 'Digital_Social_cost',
 'Digital_YouTube_cost',
 'Email_xx_cost',
 'Radio_Radio_cost',
 'TV_Local_cost',
 'TV_National_cost',
 'sales',
 'transactions',
 'store_counts',
 'Saturday_rewards_ind',
 'Sunday_rewards_ind',
 'Holiday_1_week_only_Ind',
 'Holiday_5_weeks_only_Ind']