In [1]:
import pandas as pd
import datetime
import os
os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Planner_Request/Bruce_BL_Taxonomy_20190219'

In [2]:
monthly_taxonomy=pd.read_table("/home/jian/BigLots/static_files/ProductTaxonomy/MediaStormProductTaxonomy20190201-133832-059.txt",dtype=str,sep='|')

In [13]:
early_taxonomy=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Product Taxonomy.txt",sep="|",dtype=str)
early_division_description=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Division Names.txt",sep="|",dtype=str)
early_department_description=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Department Names.txt",sep="|",dtype=str)
early_class_description=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Class Names.txt",sep="|",dtype=str,encoding="ISO-8859-1")
early_subclass_description=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Subclass Names.txt",sep="|",dtype=str,encoding="ISO-8859-1")

In [18]:
writer=pd.ExcelWriter("/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Planner_Request/Bruce_BL_Taxonomy_20190219/BL_current_taxonomy_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
monthly_taxonomy.to_excel(writer,"current_monthly_taxonomy",index=False)
early_division_description.to_excel(writer,"Division_Desc_recevied_early",index=False)
early_department_description.to_excel(writer,"Department_Desc_recevied_early",index=False)
early_class_description.to_excel(writer,"Class_Desc_recevied_early",index=False)
early_subclass_description.to_excel(writer,"SubClass_Desc_recevied_early",index=False)
writer.save()

In [20]:
new_daily_data_sameple=pd.read_table("/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-02-09/item_level_sample.txt",nrows=10,sep="|",dtype=str)
new_daily_data_sameple

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt
0,4340,2019-02-09,1235,4d814aa2f7a1122542b7421e5ad2c621ff4939b4db5f7a...,16002,1,160002479,1,5.00
1,1650,2019-02-06,1219,6689a5fc1bdabd1ef214cf0aaa604d9ff018101df5a9b4...,14001,2,810385887,1,4.50
2,1535,2019-02-08,7170,0222a342fe88aadcd32e459bb33a91143c95304703a458...,11009,2,810396970,2,1.50
3,5100,2019-02-09,6072,NaN,11006,1,110083873,1,1.75
4,1995,2019-02-04,7022,NaN,16002,2,810082005,4,2.08
5,1389,2019-02-07,5092,NaN,11005,11,810113457,1,0.80
6,5214,2019-02-09,7895,637717d567cf19384df5327bf43d7818c43d9f1145f3d7...,51018,3,810421460,1,5.00
7,32,2019-02-07,9010,e7f0295a8b9aa4bb7404cb20cb11743d5bbc6f68c40b6a...,11009,5,810204261,1,2.50
8,4127,2019-02-09,9258,ba1afec425d57b5b58c3519cf776b27828e34afbf3a594...,11009,2,810373454,1,1.38
9,82,2019-02-08,5359,98cb8af941a41bb32ba406bbf0714823e071d472280843...,16002,2,160010904,4,6.32