In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import paramiko

os.getcwd()

'/home/jian/BigLots/AgilOne'

In [2]:
host = "64.237.51.251" #hard-coded
port = 22
transport = paramiko.Transport((host, port))

password = "2d2HWm5y8pbtLn9U" #hard-coded
username = "agilone" #hard-coded
transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)

In [3]:
remote_folder="/mnt/drv5/agilone/"
list_remote_files=[remote_folder+x for x in sftp.listdir(remote_folder)]

list_remote_files=[x for x in list_remote_files if pd.to_datetime(sftp.stat(x).st_mtime,unit="s")>=datetime.datetime.now()-datetime.timedelta(days=1)]
list_remote_files=[x for x in list_remote_files if x[-4]=="."]
list_remote_files

['/mnt/drv5/agilone/BL_Email_UnSubscriber_File_Catchup__20200325040427.csv',
 '/mnt/drv5/agilone/BL_Email_Subscriber_File_Catchup__20200325040440.csv']

In [4]:
for file in list_remote_files:
    basename=os.path.basename(file)
    local_path="./"+basename
    sftp.get(file,local_path)
sftp.close()
transport.close()

In [6]:
df_subscriber_catchup=pd.read_csv("./BL_Email_Subscriber_File_Catchup__20200325040440.csv",dtype=str)
print("df_subscriber_catchup.shape",df_subscriber_catchup.shape)
print("df_subscriber_catchup['customersummary_mastercustomerid'].nunique()",df_subscriber_catchup['customersummary_mastercustomerid'].nunique())
print("df_subscriber_catchup['customersummary_emailhash'].nunique()",df_subscriber_catchup['customersummary_emailhash'].nunique())
print("df_subscriber_catchup['customersummary_c_primaryscnhash'].nunique()",df_subscriber_catchup['customersummary_c_primaryscnhash'].nunique())
print("df_subscriber_catchup['customersummary_c_adsgroupmembershipsunsubscribed'].unique()",df_subscriber_catchup['customersummary_c_adsgroupmembershipsunsubscribed'].unique())
print("df_subscriber_catchup['customersummary_c_promosgroupmembershipsunsubscribed'].unique()",df_subscriber_catchup['customersummary_c_promosgroupmembershipsunsubscribed'].unique())

df_subscriber_catchup.shape (19052246, 7)
df_subscriber_catchup['customersummary_mastercustomerid'].nunique() 19052246
df_subscriber_catchup['customersummary_emailhash'].nunique() 19042598
df_subscriber_catchup['customersummary_c_primaryscnhash'].nunique() 19051703
df_subscriber_catchup['customersummary_c_adsgroupmembershipsunsubscribed'].unique() ['N']
df_subscriber_catchup['customersummary_c_promosgroupmembershipsunsubscribed'].unique() ['N']

In [11]:
df_subscriber_catchup.head(2)

,customersummary_mastercustomerid,customersummary_emailhash,customersummary_c_primaryscnhash,customersummary_c_datecreated,customersummary_c_adsgroupmembershipsunsubscribed,customersummary_c_promosgroupmembershipsunsubscribed,execution_id
0,FTP_CSV_5_43246474,afc94134020c39f03c8e2c0897819023214071a5e67b9f...,bb361595408fe8e7535a3aa6bfca0ec287f3f204edaaac...,1489769525814,N,N,1585152071750
1,FTP_CSV_5_55628261,8c18fb0ac286fb94ed97a1275518fdbab6e610926a6671...,7c7be103ef96b0c5b5c60a928ea20ad3a0d897e8d9dc0d...,1560525655324,N,N,1585152071750

In [7]:
df_subscriber_catchup['customersummary_c_adsgroupmembershipsunsubscribed']=df_subscriber_catchup['customersummary_c_adsgroupmembershipsunsubscribed'].fillna("nan")
df_subscriber_catchup['customersummary_c_promosgroupmembershipsunsubscribed']=df_subscriber_catchup['customersummary_c_promosgroupmembershipsunsubscribed'].fillna("nan")
df_1_qc=df_subscriber_catchup.groupby(['customersummary_c_adsgroupmembershipsunsubscribed','customersummary_c_promosgroupmembershipsunsubscribed'])['customersummary_c_primaryscnhash'].count().to_frame().reset_index()
df_1_qc

,customersummary_c_adsgroupmembershipsunsubscribed,customersummary_c_promosgroupmembershipsunsubscribed,customersummary_c_primaryscnhash
0,N,N,19052246

In [8]:
df_Unsubscriber_catchup=pd.read_csv("./BL_Email_UnSubscriber_File_Catchup__20200325040427.csv",dtype=str)
print("df_Unsubscriber_catchup.shape",df_Unsubscriber_catchup.shape)
print("df_Unsubscriber_catchup['customersummary_mastercustomerid'].nunique()",df_Unsubscriber_catchup['customersummary_mastercustomerid'].nunique())
print("df_Unsubscriber_catchup['customersummary_emailhash'].nunique()",df_Unsubscriber_catchup['customersummary_emailhash'].nunique())
print("df_Unsubscriber_catchup['customersummary_c_primaryscnhash'].nunique()",df_Unsubscriber_catchup['customersummary_c_primaryscnhash'].nunique())
print("df_Unsubscriber_catchup['customersummary_c_adsgroupmembershipsunsubscribed'].unique()",df_Unsubscriber_catchup['customersummary_c_adsgroupmembershipsunsubscribed'].unique())
print("df_Unsubscriber_catchup['customersummary_c_promosgroupmembershipsunsubscribed'].unique()",df_Unsubscriber_catchup['customersummary_c_promosgroupmembershipsunsubscribed'].unique())

df_Unsubscriber_catchup.shape (3033891, 7)
df_Unsubscriber_catchup['customersummary_mastercustomerid'].nunique() 3033891
df_Unsubscriber_catchup['customersummary_emailhash'].nunique() 3033273
df_Unsubscriber_catchup['customersummary_c_primaryscnhash'].nunique() 3033273
df_Unsubscriber_catchup['customersummary_c_adsgroupmembershipsunsubscribed'].unique() ['Y' 'N' nan]
df_Unsubscriber_catchup['customersummary_c_promosgroupmembershipsunsubscribed'].unique() ['Y' 'N' nan]

In [9]:
df_Unsubscriber_catchup['customersummary_c_adsgroupmembershipsunsubscribed']=df_Unsubscriber_catchup['customersummary_c_adsgroupmembershipsunsubscribed'].fillna("nan")
df_Unsubscriber_catchup['customersummary_c_promosgroupmembershipsunsubscribed']=df_Unsubscriber_catchup['customersummary_c_promosgroupmembershipsunsubscribed'].fillna("nan")
df_2_qc=df_Unsubscriber_catchup.groupby(['customersummary_c_adsgroupmembershipsunsubscribed','customersummary_c_promosgroupmembershipsunsubscribed'])['customersummary_c_primaryscnhash'].count().to_frame().reset_index()
df_2_qc

,customersummary_c_adsgroupmembershipsunsubscribed,customersummary_c_promosgroupmembershipsunsubscribed,customersummary_c_primaryscnhash
0,N,Y,3834
1,Y,N,21144
2,Y,Y,3008130
3,Y,nan,39
4,nan,Y,744

In [10]:
df_1_desc=df_subscriber_catchup.describe().T
df_2_desc=df_Unsubscriber_catchup.describe().T

df_1_sample=df_subscriber_catchup.head(1000)
df_2_sample=df_Unsubscriber_catchup.head(1000)

In [16]:
set_1=set(df_subscriber_catchup['customersummary_c_primaryscnhash'].unique().tolist())
set_2=set(df_Unsubscriber_catchup['customersummary_c_primaryscnhash'].unique().tolist())
list_common_id=set_1.intersection(set_2)
len(list_common_id)

0

In [17]:
df_common_id=pd.DataFrame({"common_ids_in_both":list(list_common_id)})
df_common_id.shape

(0, 1)

In [18]:
df_common_id.head(2)

Empty DataFrame
Columns: [common_ids_in_both]
Index: []

In [19]:
writer=pd.ExcelWriter("./BL_email_subscribption_catchup_quick_view_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_1_desc.to_excel(writer,"Subscriber_desc",index=True)
df_2_desc.to_excel(writer,"UnSubscriber_desc",index=True)

df_1_qc.to_excel(writer,"Subscriber_status",index=False)
df_2_qc.to_excel(writer,"UnSubscriber_status",index=False)

df_1_sample.to_excel(writer,"Subscriber_sample",index=False)
df_2_sample.to_excel(writer,"UnSubscriber_sample",index=False)

df_common_id.to_excel(writer,"common_id_in_both",index=False)
writer.save()