In [1]:
import pandas as pd
import numpy as np
import glob
import datetime
import os
import paramiko

# 8 different sets of the segments

'''
Q4 reqular targeted segment uploaded 2019-10-24
Bi-weekly new sign ups
Recliner2019 (2019-11-06)
Ttd_dcartw4_test (2019-12-12)
2018Q3_shoppers and 2018Q4_shoppers (2019-12-16)
ExperianSegment_2019Q4_SOTF_HHxx_HouseType (2019-12-18)
BL_Experian_Child_0_6 (2019-12-30)
T_Furniture_Browser_2020Jan (2020-01-14)
'''

'\nQ4 reqular targeted segment uploaded 2019-10-24\nBi-weekly new sign ups\nRecliner2019 (2019-11-06)\nTtd_dcartw4_test (2019-12-12)\n2018Q3_shoppers and 2018Q4_shoppers (2019-12-16)\nExperianSegment_2019Q4_SOTF_HHxx_HouseType (2019-12-18)\nBL_Experian_Child_0_6 (2019-12-30)\nT_Furniture_Browser_2020Jan (2020-01-14)\n'

In [2]:
def recursive_file_gen(my_root_dir):
    for root, dirs, files in os.walk(my_root_dir):
        for file in files:
            yield os.path.join(root, file)

In [3]:
seg_1=list(recursive_file_gen("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2019Q4/upload_files/"))
print("seg_1: "+str(len(seg_1)))

seg_1: 178

In [4]:
seg_2=list(recursive_file_gen("/home/jian/celery/BiWeekly_New_SignUps/monthly_update/"))
seg_2=[x for x in seg_2 if ".csv" in x]
seg_2=pd.DataFrame({"file_path":seg_2})
seg_2['date']=seg_2['file_path'].apply(lambda x: x.split("onthly_update/output_")[1][:10])
seg_2=seg_2[seg_2['date']>="2019-11-02"] # 1 wave ahead of the quarter
seg_2=seg_2[seg_2['date']<="2020-02-01"] # 
seg_2=seg_2['file_path'].tolist()
print("seg_2: "+str(len(seg_2)))
####

seg_2: 18

In [5]:
seg_3=glob.glob("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2019Q4/recliner_segments_charles/*.csv")
print("seg_3",len(seg_3))
# missing 1 which is the recliner 2018, 256585 rows

seg_3 5

In [6]:
# seg_4
# Ttd_dcartw4_test ignored
seg_4=[]

In [7]:
# seg_5
seg_5=glob.glob("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Shoppers_18Q3Q4_to_target_no_shop_2019/uploaded/*.csv")
print("seg_5",len(seg_5))

seg_5 2

In [8]:
# seg_6
seg_6=glob.glob("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2019Q4/Experian_EasyLeasing/uploaded/*.csv")
print("seg_6",len(seg_6))

seg_6 4

In [9]:
# seg_7
seg_7=glob.glob("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Experian_Audience/Child_Audience_20191230/uploaded/*.csv")
print("seg_7",len(seg_7))

seg_7 3

In [10]:
# seg_8
seg_8=glob.glob("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Planner_Request/BR_audience_furniture_browser/upload_test/*.csv")
print("seg_8",len(seg_8))

seg_8 1

In [11]:
list_all_Q4_aud_files=seg_1+seg_2+seg_3+seg_4+seg_6
print(len(list_all_Q4_aud_files))

# seg_5, seg_7, seg_8 read seperately due to the id not available in the uploaded files

205

In [12]:
df_seg_5_uploaded=pd.DataFrame()
for file in seg_5:
    df=pd.read_csv(file,dtype=str)
    df_seg_5_uploaded=df_seg_5_uploaded.append(df)
    print(df.shape)

list_emails_seg_5=df_seg_5_uploaded['email_address_hash'].tolist() 
print(len(list_emails_seg_5))
df_seg_5_uploaded.head(2)

(2003112, 2)
(1111665, 2)
3114777

                                  email_address_hash         segment
0  220e0329d86b955495f86c91fb7d19cd177ed0c1ac56b1...  2018Q4_shopper
1  abe642df3c68301e1520faa17c85caac20f9fe6674a41a...  2018Q4_shopper

In [13]:
df_seg_5=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Shoppers_18Q3Q4_to_target_no_shop_2019/BL_2018_Q3_and_Q4_shoppers_all_JL_2019-12-16.csv",
                    dtype=str)
df_seg_5=df_seg_5[['customer_id_hashed','email_address_hash','segment']]
df_seg_5=df_seg_5[pd.notnull(df_seg_5['email_address_hash'])]
print(df_seg_5.shape)
print(df_seg_5['email_address_hash'].nunique())
df_seg_5=df_seg_5[df_seg_5['email_address_hash'].isin(list_emails_seg_5)]
print(df_seg_5.shape)
print(df_seg_5['email_address_hash'].nunique())

(3587107, 3)
3587107
(3114777, 3)
3114777

In [14]:
import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

df_seg_7_uploaded=pd.DataFrame()
for file in seg_7:
    df=pd.read_csv(file,dtype=str)
    df_seg_7_uploaded=df_seg_7_uploaded.append(df)
    print(df.shape)

list_emails_seg_7=df_seg_7_uploaded['email_address_hash'].tolist() 
print(len(list_emails_seg_7))
df_seg_7_uploaded.head(2)

df_master_email_zip=pd.read_sql("select customer_id_hashed, email_address_hash from BL_Rewards_Master;", con=BL_engine)
print(df_master_email_zip.shape,df_master_email_zip['customer_id_hashed'].nunique())
df_master_email_zip=df_master_email_zip.drop_duplicates()
df_seg_7=pd.merge(df_seg_7_uploaded,df_master_email_zip,on="email_address_hash",how="left")
print(df_seg_7.shape)

df_seg_7=df_seg_7[['customer_id_hashed','email_address_hash','segment']]
df_seg_7.head(2)

(2093498, 2)
(827585, 2)
(407160, 2)
3328243

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

(33013812, 2) 33013799
(3329538, 3)

,customer_id_hashed,email_address_hash,segment
0,d029fa3a95e174a19934857f535eb9427d967218a36ea0...,0128ef54695157d5bfe184c19e41fcdd9dd9213af68335...,P_child_0_6
1,ec2e990b934dde55cb87300629cedfc21b15cd28bbcf77...,7b28325dadbb674c33a43a4f71dacbd92c86bb70b0ce37...,P_child_0_6

In [15]:
df_seg_8_uploaded=pd.DataFrame()
for file in seg_8:
    df=pd.read_csv(file,dtype=str)
    df_seg_8_uploaded=df_seg_8_uploaded.append(df)
    print(df.shape)

list_emails_seg_8=df_seg_8_uploaded['Email'].tolist() 
print(len(list_emails_seg_8))
df_seg_8_uploaded.head(2)

(489113, 2)
489113

,Email,segment
0,ad5f11c041c89839c09204f9ce34f5d97ea8ddaa81f1f0...,Furniture_Browsers_2020Jan
1,c612188e441b8fef2e5eed0c918fec1d12e23f801b9e69...,Furniture_Browsers_2020Jan

In [16]:
df_seg_8=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Planner_Request/BR_audience_furniture_browser/BL_furniture_browser_test_group_JL_+str(datetime.datetime.now().date()).csv",dtype=str)
print(df_seg_8.shape)
df_seg_8=df_seg_8[df_seg_8['Email'].isin(list_emails_seg_8)]
print(df_seg_8.shape)
print(df_seg_8['Email'].nunique())
df_seg_8=df_seg_8[['customer_id_hashed','Email']].rename(columns={"Email":"email_address_hash"})
df_seg_8['segment']="Furniture_Browsers_2020Jan"
df_seg_8.head(2)

(489861, 5)
(489861, 5)
489113

,customer_id_hashed,email_address_hash,segment
0,83228bfe2f6d62bb0218751ceb63aa8551e9fd89a999f1...,ad5f11c041c89839c09204f9ce34f5d97ea8ddaa81f1f0...,Furniture_Browsers_2020Jan
1,94245ca46539f480c2490a5e3373f237dbc455094f85b7...,c612188e441b8fef2e5eed0c918fec1d12e23f801b9e69...,Furniture_Browsers_2020Jan

In [19]:
df_all_segments_duplicated=pd.DataFrame()
for file in list_all_Q4_aud_files:
    df=pd.read_csv(file,dtype=str)
    df=df.rename(columns={"segment_new_signups":"segment"})
    df=df.rename(columns={"Email":"email_address_hash"})
    if " CC " in file:
        df['segment']=os.path.basename(file).split(" ")[0]
    df=df[['customer_id_hashed','email_address_hash','segment']]
    df_all_segments_duplicated=df_all_segments_duplicated.append(df)
df_all_segments_duplicated=df_all_segments_duplicated.append(df_seg_5).append(df_seg_7).append(df_seg_8)
print(df_all_segments_duplicated.shape)
print(df_all_segments_duplicated['customer_id_hashed'].nunique())
print(df_all_segments_duplicated['email_address_hash'].nunique())

df_all_segments_duplicated.head(2)

(49963481, 3)
25091195
25090423

,customer_id_hashed,email_address_hash,segment
0,de4d254f85f84828db782a91857b389542ca253714330b...,55759d0e688507ce244ad5c86f8a71d4f4f54e0873452d...,T_Active (0-12)_Score(H)_Density(H)_Legacy_Hol...
1,ea4e3e1699773386da4e152d8b9b93d10e21383ed231e0...,1214d3d086f42b075b04ab09839c170969c575653da33e...,T_Active (0-12)_Score(H)_Density(H)_Legacy_Hol...

In [21]:
for col in df_all_segments_duplicated.columns.tolist():
    print(df_all_segments_duplicated[pd.isnull(df_all_segments_duplicated[col])].shape)

(0, 3)
(0, 3)
(0, 3)

In [23]:
df_all_segments_duplicated.head(2)

,customer_id_hashed,email_address_hash,segment
0,de4d254f85f84828db782a91857b389542ca253714330b...,55759d0e688507ce244ad5c86f8a71d4f4f54e0873452d...,T_Active (0-12)_Score(H)_Density(H)_Legacy_Hol...
1,ea4e3e1699773386da4e152d8b9b93d10e21383ed231e0...,1214d3d086f42b075b04ab09839c170969c575653da33e...,T_Active (0-12)_Score(H)_Density(H)_Legacy_Hol...

In [24]:
df_unique=df_all_segments_duplicated.drop_duplicates("customer_id_hashed")
df_unique=df_unique.drop_duplicates("email_address_hash")

In [25]:
df_all_segments_duplicated.to_csv("./BL_2019Q4_all_segments_aggregated_duplicated_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
df_unique.to_csv("./BL_2019Q4_all_segments_aggregated_unique_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [26]:
print(datetime.datetime.now())

2020-02-14 00:38:41.389103

In [27]:
df_unique.to_csv("./BL_mapping_file_2019Q4_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [28]:
os.getcwd()

'/home/jian/Projects/Big_Lots/Live_Ramp/Mapping_Files/2019_Q4'

# Push to 64 for QC and Uploading

In [29]:
host = "64.237.51.251" #hard-coded
port = 22
transport = paramiko.Transport((host, port))

password = "jian@juba2017" #hard-coded
username = "jian" #hard-coded
transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)

In [31]:
local_path="/home/jian/Projects/Big_Lots/Live_Ramp/Mapping_Files/2019_Q4/BL_mapping_file_2019Q4_JL_2020-02-14.csv"
remote_folder='/mnt/drv5/jian/Big_Lots/BL_1_to_1_2019Q4/Q4_mapping_file/'
basename=os.path.basename(local_path)
remote_path=remote_folder+basename
sftp.put(local_path,remote_path)

In [32]:
sftp.close()
transport.close()
datetime.datetime.now()

datetime.datetime(2020, 2, 14, 13, 36, 49, 929761)