In [1]:
import pandas as pd
pd.options.display.max_rows=6

import sys
import json
import datetime
import glob

#import logging
#logging.basicConfig(filename='impr_files.log', 
#                    level=logging.INFO, 
#                    format='%(asctime)s %(message)s')

In [2]:
columns_impr = ['Campaign ID', 'Ad ID', 'Browser/Platform ID', 'City ID', 
                'State/Region', 'Designated Market Area (DMA) ID', 'Event Time',
                'Operating System ID', 'Placement ID', 'Rendering ID', 
                'DBM Site ID', 'DBM Line Item ID', 'DBM Billable Cost (USD)',
                'DBM Media Cost (USD)', 'DBM Total Media Cost (USD)', 'DBM Revenue (USD)']

In [3]:
df = pd.read_csv('/home/jubauser1/jzou/dcm_account7252/winery_weekly/impr/impression_winery_2017032116_to_2017070510.csv',
                 usecols=columns_impr)

In [4]:
df.columns

Index(['Event Time', 'Campaign ID', 'Ad ID', 'Rendering ID', 'Placement ID',
       'State/Region', 'Browser/Platform ID', 'Operating System ID',
       'Designated Market Area (DMA) ID', 'City ID', 'DBM Line Item ID',
       'DBM Site ID', 'DBM Media Cost (USD)', 'DBM Revenue (USD)',
       'DBM Total Media Cost (USD)', 'DBM Billable Cost (USD)'],
      dtype='object')

In [5]:
df['DBM Site ID']

0          NaN
1          NaN
2          NaN
            ..
12307366   NaN
12307367   NaN
12307368   NaN
Name: DBM Site ID, Length: 12307369, dtype: float64

In [ ]:
'/home/jubauser1/jzou/dcm_account7252/winery_weekly/impr_json/'

In [6]:
df.to_csv('/home/jubauser1/jzou/dcm_account7252/winery_weekly/impr/impression_winery_reduced_2017032116_to_2017070510.csv', index=False)

In [ ]:
df2 = df[columns_impr].copy()
sys.getsizeof(df2)

In [4]:
df = pd.read_csv('/home/jubauser1/jzou/dcm_account7252/winery_weekly/impr/impression_winery_2017032116_to_2017070510.csv',
                  usecols=columns_impr)

In [6]:
df['Event Time'].max()

1499256575298477

In [7]:
df['Event Time'].min()

1496401589539630

In [8]:
datetime.datetime.fromtimestamp(1496401589539630/1000000)

datetime.datetime(2017, 6, 2, 7, 6, 29, 539630)

In [ ]:
impr_sample = pd.read_csv('/home/jubauser1/jzou/dcm_account7252/impression/dcm_account7252_impression_2017070511_20170705_134246_580056906.csv.gz')

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
datetime.datetime.fromtimestamp(impr_sample['Event Time'].max()/1000000)

datetime.datetime(2017, 7, 5, 8, 13, 16, 584224)

In [ ]:
set(df['DBM Line Item ID'])

In [ ]:
set(df['DBM Site ID'])

In [ ]:
set(impr_sample['DBM Line Item ID'])

In [ ]:
set(impr_sample['DBM Site ID'])

In [ ]:
df

In [ ]:
df2.to_csv('/home/jubauser1/jzou/dcm_account7252/results/impression_winery_reduced2.csv', index=False)

In [ ]:
sys.getsizeof(df2)

In [ ]:
processed_impr_files = json.load(open('/home/jubauser1/jzou/dcm_account7252/scripts/winery/processed_impr_files.json', 'r'))

In [ ]:
len(processed_impr_files)

In [ ]:
files = glob.glob('/home/jubauser1/jzou/dcm_account7252/impression/*')
#files = [x for x in files if x not in processed_impr_files]
files = [x for x in files if x < '/home/jubauser1/jzou/dcm_account7252/impression/dcm_account7252_impression_2017070511']
files.sort()

In [ ]:
files[-1][75:85]

In [22]:
json.dump(files, open('/home/jubauser1/jzou/dcm_account7252/scripts/winery/processed_impr_files_weekly.json', 'w'))

In [ ]:
try:
    impression = pd.read_csv('/home/jubauser1/jzou/dcm_account7252/results/impression_winery.csv')
except FileNotFoundError: 
    impression = pd.DataFrame()

for f in files[:240]:
    try:
        df = pd.read_csv(gzip.open(f, 'rb'))
        df = df[(df['Campaign ID'] == 11527750)]
        impression = impression.append(df, ignore_index=True)
        del df
        logging.info(f)
        processed_impr_files.append(f)
    except Exception as e:
        logging.warning('file: %s, exception: %s'%(f, e))
        pass

impression.to_csv('/home/jubauser1/jzou/dcm_account7252/results/impression_winery.csv', index=False)
json.dump(processed_impr_files, open('processed_impr_files.json', 'w'))

# match tables

In [42]:
dbmsites = pd.read_csv('/home/jubauser1/jzou/dcm_account7252/winery_weekly/static_match_tables/7252_ffch_match_table_dbm_site_20170831_131239_603856521.csv', 
                       header=8)

In [44]:
dbmsites.drop(dbmsites.index[-1],inplace=True)

In [46]:
dbmsites[['DBM Site', 'DBM Site ID']].to_csv('/home/jubauser1/jzou/dcm_account7252/winery_weekly/static_match_tables/match_table_dbm_site.csv', 
                                             index=False)

In [47]:
dbmlineitems = pd.read_csv('/home/jubauser1/jzou/dcm_account7252/winery_weekly/static_match_tables/7252_ffc_match_table_dbm_line_item.csv', 
                       header=0)

In [53]:
dbmlineitems = dbmlineitems[dbmlineitems['Line Item ID'].notnull()]

In [55]:
dbmlineitems['Line Item ID'] = dbmlineitems['Line Item ID'].astype(int)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
dbmlineitems

,Advertiser,Advertiser ID,Advertiser Status,Advertiser Integration Code,Line Item,Line Item ID,Line Item Status,Line Item Integration Code,Targeted Data Providers,Advertiser Currency,Media Cost (Advertiser Currency)
0,Mediastorm - Francis Ford Coppola,1789631,Active,NaN,California Diamond Retargeting Su-W,12294392,Active,NaN,NaN,USD,1359.187653
1,Mediastorm - Francis Ford Coppola,1789631,Active,NaN,Colorado Diamond Retargeting Su-W,12294393,Active,NaN,NaN,USD,52.485333
2,Mediastorm - Francis Ford Coppola,1789631,Active,NaN,Florida Diamond LAL Th-Sa,12273643,Paused,NaN,NaN,USD,617.360802
...,...,...,...,...,...,...,...,...,...,...,...
175,Mediastorm - Francis Ford Coppola,1789631,Active,NaN,Wine Lover Florida Su-T,12159825,Active,NaN,BlueKai eXelate Eyeota Navegg Acxiom,USD,1212.041108
176,Mediastorm - Francis Ford Coppola,1789631,Active,NaN,Wine Lover Michigan Su-T,12159828,Active,NaN,BlueKai Brilig eXelate CrossPixel Lotame Epsil...,USD,519.460797
177,Mediastorm - Francis Ford Coppola,1789631,Active,NaN,Wine Lover Ohio W-Sa,12273459,Active,NaN,BlueKai Brilig eXelate CrossPixel Lotame Epsil...,USD,198.396529

In [57]:
dbmlineitems[['Line Item', 'Line Item ID']].to_csv('/home/jubauser1/jzou/dcm_account7252/winery_weekly/static_match_tables/match_table_dbm_line_item.csv', index=False)

In [33]:
cpm = pd.read_csv('/home/jubauser1/jzou/dcm_account7252/winery_weekly/static_match_tables/7252_ffc_impression_cost_20170831_153146_603879924.csv',
                  header=9)

In [34]:
cpm.drop(cpm.index[-1], inplace=True)

In [35]:
cpm['date'] = cpm['Date'].apply(lambda x:datetime.datetime.strptime(x, '%m/%d/%Y').strftime('%Y-%m-%d'))

In [36]:
cpm['cost_per_impr'] = cpm['DBM Cost (Account Currency)'] /cpm['Impressions']

In [37]:
cpm

,Date,cost/imp,DBM Cost (Account Currency),Impressions,date,cost_per_impr
0,6/2/2017,$0.00,1087.48,1070769,2017-06-02,0.001016
1,6/3/2017,$0.00,1257.70,1083509,2017-06-03,0.001161
2,6/4/2017,$0.00,1258.87,1057959,2017-06-04,0.001190
...,...,...,...,...,...,...
53,7/25/2017,$0.00,589.98,736510,2017-07-25,0.000801
54,7/26/2017,$0.00,1594.11,861023,2017-07-26,0.001851
55,7/27/2017,$0.00,2066.18,896685,2017-07-27,0.002304

In [38]:
cpm[['date', 'cost_per_impr']].to_csv('/home/jubauser1/jzou/dcm_account7252/winery_weekly/static_match_tables/cost_per_impr_by_date.csv',
                                     index=False)

# cum counts_by_placement_by_view_impr

In [60]:
import json

In [62]:
counts_by_placement_by_view_impr = json.load(
    open('/home/jubauser1/jzou/dcm_account7252/results/winery_impr_backup/counts_by_placement_by_view_winery_impr.json', 'r'))

In [63]:
counts_by_placement_by_view_impr.keys()

dict_keys(['direct', 'geo-fence', 'prospecting', 'retargeting'])

In [64]:
counts_by_placement_by_view_impr['direct'].keys()

dict_keys(['date', 'hour', 'weekday', 'state_city', 'Designated Market Area (DMA)', 'device', 'Browser/Platform', 'Site (DCM)', 'Placement', 'Ad', 'Ad Click URL', 'Creative', 'Creative Pixel Size'])

In [100]:
counts_by_placement_by_view_impr['direct']['date']['cost']['2017-08-20'] + \
counts_by_placement_by_view_impr['geo-fence']['date']['cost']['2017-08-20'] + \
counts_by_placement_by_view_impr['prospecting']['date']['cost']['2017-08-20'] + \
counts_by_placement_by_view_impr['retargeting']['date']['cost']['2017-08-20']

3268479161000

In [87]:
80955934000+426980352000

507936286000

In [66]:
from collections import Counter

In [67]:
Counter({'cost': {'friday': 0,
  'monday': 0,
  'saturday': 0,
  'sunday': 0,
  'thursday': 0,
  'tuesday': 0,
  'wednesday': 0},
 'counts': {'friday': 4497911,
  'monday': 4265794,
  'saturday': 4462652,
  'sunday': 4468847,
  'thursday': 5168168,
  'tuesday': 5282955,
  'wednesday': 4278260},
 'revenue': {'friday': 0,
  'monday': 0,
  'saturday': 0,
  'sunday': 0,
  'thursday': 0,
  'tuesday': 0,
  'wednesday': 0}})

Counter({'cost': {'friday': 0,
          'monday': 0,
          'saturday': 0,
          'sunday': 0,
          'thursday': 0,
          'tuesday': 0,
          'wednesday': 0},
         'counts': {'friday': 4497911,
          'monday': 4265794,
          'saturday': 4462652,
          'sunday': 4468847,
          'thursday': 5168168,
          'tuesday': 5282955,
          'wednesday': 4278260},
         'revenue': {'friday': 0,
          'monday': 0,
          'saturday': 0,
          'sunday': 0,
          'thursday': 0,
          'tuesday': 0,
          'wednesday': 0}})

In [68]:
d1 = {'cost': {'friday': 0,
  'monday': 0,
  'saturday': 0,
  'sunday': 0,
  'thursday': 0,
  'tuesday': 0,
  'wednesday': 0},
 'counts': {'friday': 4497911,
  'monday': 4265794,
  'saturday': 4462652,
  'sunday': 4468847,
  'thursday': 5168168,
  'tuesday': 5282955,
  'wednesday': 4278260},
 'revenue': {'friday': 0,
  'monday': 0,
  'saturday': 0,
  'sunday': 0,
  'thursday': 0,
  'tuesday': 0,
  'wednesday': 0}}

d2 = {'cost': {'friday': 1,
  'monday': 2,
  'saturday': 3,
  'sunday': 4,
  'thursday': 5,
  'tuesday': 6,
  'wednesday': 7},
 'counts': {'friday': 4497911,
  'monday': 4265794,
  'saturday': 4462652,
  'sunday': 4468847,
  'thursday': 5168168,
  'tuesday': 5282955,
  'wednesday': 4278260},
 'revenue': {'friday': 0,
  'monday': 0,
  'saturday': 0,
  'sunday': 0,
  'thursday': 0,
  'tuesday': 0,
  'wednesday': 0}}

In [71]:
Counter(d1['cost']) + Counter(d2['cost'])

Counter({'friday': 1,
         'monday': 2,
         'saturday': 3,
         'sunday': 4,
         'thursday': 5,
         'tuesday': 6,
         'wednesday': 7})

The history saving thread hit an unexpected error (OperationalError('database is locked',)).History will not be written to the database.

In [77]:
len(cpm)

56