In [1]:
# QC the 5 offer
import pandas as pd
import os
import datetime
import numpy as np
import gc
gc.collect()

datetime.datetime.now()

datetime.datetime(2019, 11, 25, 12, 37, 56, 84614)

In [2]:
df_FB_id_email_all=pd.read_csv("./BL_all_ids_shopped_in_18_or_signed_in_12_with_emails_JL_2019-10-17.csv",dtype=str)
df_FB_id_email_all.shape

(21505499, 2)

In [3]:
print(df_FB_id_email_all['email_address_hash'].nunique())

21503336

In [4]:
df_FB_id_email_all.head(2)

,customer_id_hashed,email_address_hash
0,9b7f9a1ba51dbae2a393c273ce8c9aa9bf610dc03410fd...,089bc373eda16a771e023d87ee368fb961c4ff9b36c7d6...
1,c2c5bd862113c4e77c918dd22a25744f2e1224ea63b166...,065edf59d0ed26bea352be5f44fd7a6f688a0fa28cddb3...

In [5]:
df_test=pd.read_csv("./BL_FB_5_offer_test_emails_JL_2019-10-17.csv",dtype=str)
df_control=pd.read_csv("./BL_FB_5_offer_control_emails_JL_2019-10-17.csv",dtype=str)

df_test['Group']="test"
df_control['Group']="control"

df_email_group=df_test.append(df_control)
del df_test
del df_control
print(df_email_group.shape)

df_email_group.head(2)

(21503357, 2)

                                               Email Group
0  089bc373eda16a771e023d87ee368fb961c4ff9b36c7d6...  test
1  065edf59d0ed26bea352be5f44fd7a6f688a0fa28cddb3...  test

In [6]:
df_qc_duplicate=df_email_group.groupby("Email")['Group'].count().to_frame().sort_values("Group",ascending=False)

# 2 the max

In [7]:
df_qc_duplicate[df_qc_duplicate['Group']==2].shape

(21, 1)

In [8]:
df_qc_duplicate.head(5)

                                                    Group
Email
9a19a44e2c73da182a83c72f1b257ee63a52fa4bb4b4d44...      2
9881444aff61ae7f80aa64e102ac1b605eb00b0721f620a...      2
4402ca627f1869163ece462532bd44f974f80c51d0c8dd4...      2
952f8098b11238ad2bf39b96a3b80d93f95159738351610...      2
eb5cc7896ca68745d57a466889c60198307e4a87641e4b1...      2

In [9]:
df_qc_duplicate=df_qc_duplicate.reset_index()
Emails_list_21_in_both=df_qc_duplicate[df_qc_duplicate['Group']==2]['Email'].tolist()
df_email_group[df_email_group['Email'].isin(Emails_list_21_in_both)].sort_values(["Email","Group"])

                                                      Email    Group
95446     1152cb7e6f7bba4aea1a4a9543cefeb4e5f5fccd92a0c5...  control
2118993   1152cb7e6f7bba4aea1a4a9543cefeb4e5f5fccd92a0c5...     test
15843     12d0aded1a1810dd08e60ea3bb1d0b0d46b1a2c224a1e0...  control
14076876  12d0aded1a1810dd08e60ea3bb1d0b0d46b1a2c224a1e0...     test
30196     2b5aadd1188c83cfcd23d14e2578a1af92e41a7198ca1f...  control
19978211  2b5aadd1188c83cfcd23d14e2578a1af92e41a7198ca1f...     test
25126     33c21258cdfeaae52ea857b0af6a72975fb4963ee9f065...  control
20562300  33c21258cdfeaae52ea857b0af6a72975fb4963ee9f065...     test
85183     3f0373fa1412044927d83a5bd105abc584ee8a423607fc...  control
20870886  3f0373fa1412044927d83a5bd105abc584ee8a423607fc...     test
11507     4402ca627f1869163ece462532bd44f974f80c51d0c8dd...  control
11466462  4402ca627f1869163ece462532bd44f974f80c51d0c8dd...     test
10023     50d794aa359942f1706d37cac1215dc624b13abc45b975...  control
20925122  50d794aa359942f1706d37cac1215dc624b13abc45b975...     test
41303     7d0abaaa0ab532f58f8cd5d47394893ed73a22eb185d22...  control
4435661   7d0abaaa0ab532f58f8cd5d47394893ed73a22eb185d22...     test
889       867b3c78faf6860cb386795b358b80e2e9dc66fa587e71...  control
15194080  867b3c78faf6860cb386795b358b80e2e9dc66fa587e71...     test
16847     952f8098b11238ad2bf39b96a3b80d93f9515973835161...  control
8203810   952f8098b11238ad2bf39b96a3b80d93f9515973835161...     test
12861     9881444aff61ae7f80aa64e102ac1b605eb00b0721f620...  control
15010312  9881444aff61ae7f80aa64e102ac1b605eb00b0721f620...     test
28958     9a19a44e2c73da182a83c72f1b257ee63a52fa4bb4b4d4...  control
18469496  9a19a44e2c73da182a83c72f1b257ee63a52fa4bb4b4d4...     test
80143     9e9ee7a65738b02c17563dd34dd680587d0410b0e213e2...  control
3516350   9e9ee7a65738b02c17563dd34dd680587d0410b0e213e2...     test
21759     9ffa5c0e186cb71cf52a131c2b84d028deda2fc954cffa...  control
18657548  9ffa5c0e186cb71cf52a131c2b84d028deda2fc954cffa...     test
16606     cc227cd9db26773714bf6f2144719abdb647f90fbce775...  control
20885930  cc227cd9db26773714bf6f2144719abdb647f90fbce775...     test
79913     d692be9449bb6940fa114d77e5942fae261e176def3026...  control
4438880   d692be9449bb6940fa114d77e5942fae261e176def3026...     test
22182     e7956b4f1167ae6626c02266db8e7da931c94ad94b0bf2...  control
17059013  e7956b4f1167ae6626c02266db8e7da931c94ad94b0bf2...     test
16765     eb5cc7896ca68745d57a466889c60198307e4a87641e4b...  control
5426532   eb5cc7896ca68745d57a466889c60198307e4a87641e4b...     test
77489     f1d05452c81554316589ec3740564d13921712c6216932...  control
757133    f1d05452c81554316589ec3740564d13921712c6216932...     test
18594     fb205f9e3a19ff047cbf571f767ce79d2c24acd8d751d8...  control
9676211   fb205f9e3a19ff047cbf571f767ce79d2c24acd8d751d8...     test
30594     fcbdcaa8fe139cb943ddbf56184dde05d63597230e1c97...  control
16056437  fcbdcaa8fe139cb943ddbf56184dde05d63597230e1c97...     test

In [10]:
# The 21 emails are excluded from both test and control

del df_qc_duplicate
df_email_group=df_email_group[~df_email_group['Email'].isin(Emails_list_21_in_both)]
df_email_group=df_email_group.rename(columns={"Email":"email_address_hash"})

print(datetime.datetime.now(),df_FB_id_email_all.shape)
df_FB_id_email_all=pd.merge(df_FB_id_email_all,df_email_group,on="email_address_hash",how="left")
print(datetime.datetime.now(),df_FB_id_email_all.shape)

2019-11-25 12:42:47.427245 (21505499, 2)
2019-11-25 12:44:06.024522 (21505499, 3)

In [11]:
print(df_FB_id_email_all.shape,df_FB_id_email_all['customer_id_hashed'].nunique())

(21505499, 3) 21505499

# Sales

In [33]:
# POS data range
file_week_1="/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-10-26/MediaStormDailySales20191029-111155-920.txt"
file_week_2="/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-02/MediaStormDailySales20191105-111212-139.txt"
file_week_3="/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-09/MediaStormDailySales20191112-115210-002.txt"

POS_file_list=[file_week_1,file_week_2,file_week_3]

df_POS_all=pd.DataFrame()

for file in POS_file_list:
    df=pd.read_table(file,dtype=str,sep="|")
    df=df[pd.notnull(df['customer_id_hashed'])]
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    df['sales_instore']=np.where(df['location_id']!="6990",df['item_transaction_amt'],0)
    df['sales_online']=np.where(df['location_id']=="6990",df['item_transaction_amt'],0)
    
    df_trans=df[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
    df_trans['trans_instore']=np.where(df_trans['location_id']!="6990",1,0)
    df_trans['trans_online']=np.where(df_trans['location_id']=="6990",1,0)
    
    df_trans=df_trans.groupby(["customer_id_hashed","transaction_dt"])['trans_instore','trans_online'].sum().reset_index()
    
    df_sales=df.groupby(["customer_id_hashed","transaction_dt"])['sales_instore','sales_online'].sum().reset_index()
    
    df=pd.merge(df_sales,df_trans,on=["customer_id_hashed","transaction_dt"],how="outer")
    df_POS_all=df_POS_all.append(df)
    print(datetime.datetime.now(),df_POS_all.shape)
    
df_POS_all.shape
# earlier version doesn't devide the online vs instore

2019-11-25 14:42:22.186229 (1409778, 6)
2019-11-25 14:49:05.317407 (2907343, 6)
2019-11-25 14:52:30.350339 (4388465, 6)

(4388465, 6)

In [34]:
P1_range=["2019-10-21","2019-11-02"]
P2_range=["2019-11-03","2019-11-07"]

In [35]:
print(df_POS_all['transaction_dt'].min(),df_POS_all['transaction_dt'].max())

2019-10-20 2019-11-09

In [36]:
# left merge into the POS
df_POS_all=pd.merge(df_POS_all,df_FB_id_email_all,on="customer_id_hashed",how="left")
print(df_POS_all.shape)
df_POS_all.head(2)

(4388465, 8)

,customer_id_hashed,transaction_dt,sales_instore,sales_online,trans_instore,trans_online,email_address_hash,Group
0,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-20,13.9,0.0,2,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test
1,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-24,0.0,0.0,1,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test

In [37]:
df_POS_all['Period']=np.where(((df_POS_all['transaction_dt']>=P1_range[0]) & (df_POS_all['transaction_dt']<=P1_range[1])),"P1: 10/21-11/2",
                              np.where(((df_POS_all['transaction_dt']>=P2_range[0]) & (df_POS_all['transaction_dt']<=P2_range[1])),"P2: 11/3-11/7","Others")
                             )

In [38]:
df_POS_all.to_csv("./BL_df_detail_3_weeks_POS_instore_and_online_JL_"+str(datetime.datetime.now().date())+".csv",index="False")

In [39]:
df_POS_all.head(2)

,customer_id_hashed,transaction_dt,sales_instore,sales_online,trans_instore,trans_online,email_address_hash,Group,Period
0,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-20,13.9,0.0,2,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test,Others
1,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-24,0.0,0.0,1,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test,P1: 10/21-11/2

In [40]:
agg_func={"email_address_hash":"nunique","sales_instore":"sum","sales_online":"sum","trans_instore":"sum","trans_online":"sum"}
df_summary=df_POS_all.groupby(["Group","Period"]).agg(agg_func).reset_index()
df_summary.shape

(6, 7)

In [41]:
df_summary

,Group,Period,email_address_hash,sales_instore,sales_online,trans_instore,trans_online
0,control,Others,2577,1.144999e+05,527.99,3073,4
1,control,P1: 10/21-11/2,8565,3.746067e+05,1548.32,11787,28
2,control,P2: 11/3-11/7,3542,1.442753e+05,979.87,4311,16
3,test,Others,556396,2.492274e+07,93779.01,650008,967
4,test,P1: 10/21-11/2,1846352,7.826776e+07,934945.41,2495528,9966
5,test,P2: 11/3-11/7,741595,3.028138e+07,166440.88,885993,2060

In [42]:
df_total_id=df_FB_id_email_all.groupby("Group")['email_address_hash'].nunique().to_frame().reset_index()
df_total_id

     Group  email_address_hash
0  control               99979
1     test            21403336

In [43]:
writer=pd.ExcelWriter("./BL_output_FB_offer_result_by_store_type_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_summary.to_excel(writer,"performance",index=False)
df_total_id.to_excel(writer,"total_id",index=False)
writer.save()