In [1]:
import pandas as pd
import datetime
import datetime
import os
from haversine import haversine
import glob
import json

zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))

IRI_Selected_18=['LOS ANGELES','DALLAS/FT WORTH','NEW YORK','HOUSTON','WEST TEX/NEW MEXICO','PHOENIX/TUCSON','SOUTH CAROLINA',
                'BIRMINGHAM/MONTGOMERY','MISSISSIPPI','BALTIMORE/WASHINGTON','NEW ORLEANS/MOBILE',
                 'CHICAGO','ATLANTA','DETROIT','MIAMI/FT LAUDERDALE','HARRISBURG/SCRANTON','BOSTON',"ROANOKE"] #'RALEIGH/GREENSBORO','DENVER'
len(IRI_Selected_18)

18

# IRI zips for the 18 Mkts

In [2]:
IRI_Counties_both=pd.read_excel("/home/jian/SunnyD/Otherinput/DMA_to_IRI_Pctg/match_counties.xlsx",sheetname='Sheet1',dtype=str)
IRI_Counties_IRI=pd.read_excel("/home/jian/SunnyD/Otherinput/DMA_to_IRI_Pctg/match_counties.xlsx",sheetname='IRI',dtype=str,usecols=[0,1])
IRI_Counties_Nielsen=pd.read_excel("/home/jian/SunnyD/Otherinput/DMA_to_IRI_Pctg/match_counties.xlsx",sheetname='Nielsen',dtype=str,usecols=[0,1])
IRI_Counties_Nielsen.columns=[['County','cleaned_name']]
IRI_Counties_both=IRI_Counties_both[(IRI_Counties_both['IRI_Label']!='nan') & (IRI_Counties_both['Nielsen_Label']!='nan')]

IRI_Counties_both=IRI_Counties_both[['County','County']]
IRI_Counties_both.columns=['County','cleaned_name']

Nielsen_counties=IRI_Counties_both.append(IRI_Counties_Nielsen).drop_duplicates().reset_index()
IRI_counties=IRI_Counties_both.append(IRI_Counties_IRI).drop_duplicates().reset_index()

del Nielsen_counties['index']
del IRI_counties['index']

In [3]:
All_DMA_zips=pd.read_excel("/home/jian/Docs/Geo_mapping/Zips by DMA by County16-17 nielsen.xlsx",dtype=str,skiprows=1)
All_DMA_zips=All_DMA_zips.iloc[:,[0,2,6,9]]
All_DMA_zips.columns=['zip_code','DMA','State','County']
All_DMA_zips['County']=All_DMA_zips['County']+"|"+All_DMA_zips['State']
All_DMA_zips['County']=All_DMA_zips['County'].apply(lambda x: x.replace(" ","").lower())
All_DMA_zips=All_DMA_zips[~All_DMA_zips['State'].isin(['AK','HI'])]

In [4]:
All_IRI_counties=pd.read_excel("/home/jian/SunnyD/Otherinput/Total_US_counties_IRI_markets_and_regions_cr_12272016.xlsx",dtype=str,sheetname='U.S. Counties',skiprows=1)
All_IRI_counties=All_IRI_counties[['County Name','State','IRI Market']]
All_IRI_counties['County']=All_IRI_counties['County Name']+"|"+All_IRI_counties['State']
All_IRI_counties['County']=All_IRI_counties['County'].apply(lambda x: x.replace(" ","").lower())
All_IRI_counties=pd.merge(All_IRI_counties,IRI_counties,on="County",how="left")
All_IRI_counties=All_IRI_counties[['IRI Market','cleaned_name']]

In [5]:
All_DMA_zips=pd.merge(All_DMA_zips,Nielsen_counties,on="County",how="left")
All_DMA_zips=All_DMA_zips[['zip_code','DMA','County','cleaned_name']].rename(columns={"County":"Nielsen_County"})
All_DMA_zips_merge=pd.merge(All_DMA_zips,All_IRI_counties,on="cleaned_name",how="left")

In [6]:
IRI_Zip_with_dup=All_DMA_zips_merge[['IRI Market','zip_code']].drop_duplicates()

In [7]:
IRI_Zip_18=IRI_Zip_with_dup[IRI_Zip_with_dup['IRI Market'].isin(IRI_Selected_18)]
print(IRI_Zip_18.shape)
print(IRI_Zip_18['IRI Market'].nunique())
print(IRI_Zip_18['zip_code'].nunique())

(10157, 2)
18
10149

# Walmarts in the zips above from SafeGraph

In [8]:
latest_SG_brand_info=pd.read_csv("/home/jian/Docs/SafeGraph/places_20190629/brand_info/part-00000-tid-3844431843075532209-d890661b-f976-44e8-9678-725e8cd08c6f-119-c000.csv.gz",
                                dtype=str,compression="gzip",sep="|")
[x for x in latest_SG_brand_info['brand_name'].unique().tolist() if "almart" in x.lower()]

['Walmart', 'Walmart inc']

In [9]:
POI_data=glob.glob("/home/jian/Docs/SafeGraph/places_20190629/poi/*csv.gz")
POI_data

['/home/jian/Docs/SafeGraph/places_20190629/poi/part-00001-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-112-c000.csv.gz',
 '/home/jian/Docs/SafeGraph/places_20190629/poi/part-00003-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-114-c000.csv.gz',
 '/home/jian/Docs/SafeGraph/places_20190629/poi/part-00000-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-111-c000.csv.gz',
 '/home/jian/Docs/SafeGraph/places_20190629/poi/part-00004-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-115-c000.csv.gz',
 '/home/jian/Docs/SafeGraph/places_20190629/poi/part-00002-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-113-c000.csv.gz',
 '/home/jian/Docs/SafeGraph/places_20190629/poi/part-00005-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-116-c000.csv.gz',
 '/home/jian/Docs/SafeGraph/places_20190629/poi/part-00007-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-118-c000.csv.gz',
 '/home/jian/Docs/SafeGraph/places_20190629/poi/part-00006-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-117-c000.csv.gz']

In [10]:
all_SG_WMT_POI=pd.DataFrame()
all_SG_WMTinc_POI=pd.DataFrame()

for file in POI_data:
    df=pd.read_csv(file,dtype=str,compression="gzip",sep="|")
    df_Walmart=df[df['brands']=="Walmart"]
    df_Walmartinc=df[df['brands']=="Walmart inc"]
    
    all_SG_WMT_POI=all_SG_WMT_POI.append(df_Walmart)
    all_SG_WMTinc_POI=all_SG_WMTinc_POI.append(df_Walmartinc)
    
    print(datetime.datetime.now(),file)

2019-08-12 12:19:15.721731 /home/jian/Docs/SafeGraph/places_20190629/poi/part-00001-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-112-c000.csv.gz
2019-08-12 12:19:26.204347 /home/jian/Docs/SafeGraph/places_20190629/poi/part-00003-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-114-c000.csv.gz
2019-08-12 12:19:37.361299 /home/jian/Docs/SafeGraph/places_20190629/poi/part-00000-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-111-c000.csv.gz
2019-08-12 12:19:47.535780 /home/jian/Docs/SafeGraph/places_20190629/poi/part-00004-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-115-c000.csv.gz
2019-08-12 12:19:58.005909 /home/jian/Docs/SafeGraph/places_20190629/poi/part-00002-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-113-c000.csv.gz
2019-08-12 12:20:08.060610 /home/jian/Docs/SafeGraph/places_20190629/poi/part-00005-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-116-c000.csv.gz
2019-08-12 12:20:17.794158 /home/jian/Docs/SafeGraph/places_20190629/poi/part-00007-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-118-c000.csv.gz
2019-08-12 12:20:27.718350 /home/jian/Docs/SafeGraph/places_20190629/poi/part-00006-tid-9006125908719184114-1808d564-228a-44d4-8710-c00fc4c1b790-117-c000.csv.gz

In [11]:
print(all_SG_WMT_POI.shape)
print(all_SG_WMTinc_POI.shape)

# all_SG_WMT_POI

(4669, 20)
(0, 20)

In [12]:
all_SG_WMT_POI['brands'].unique()

array(['Walmart'], dtype=object)

In [13]:
df_slicing_Wmts=all_SG_WMT_POI.groupby("location_name")['safegraph_place_id'].count().to_frame().reset_index().sort_values("safegraph_place_id")
included_location_names_list=df_slicing_Wmts[df_slicing_Wmts['safegraph_place_id']>=10]['location_name'].tolist()
print(included_location_names_list)

all_SG_WMT_POI=all_SG_WMT_POI[all_SG_WMT_POI["location_name"].isin(included_location_names_list)]
all_SG_WMT_POI['zip_code']=all_SG_WMT_POI['zip_code'].apply(lambda x: x.zfill(5))
all_SG_WMT_POI.shape

['Walmart Supercenter', 'Wal Mart Supercenter', 'Walmart']

(4653, 20)

In [14]:
df_zip_by_18_mkt_count=IRI_Zip_18.groupby("zip_code")['IRI Market'].nunique().to_frame().reset_index().rename(columns={"IRI Market":"count_mkts"}).sort_values("count_mkts",ascending=False)
df_zip_by_18_mkt_list=IRI_Zip_18.groupby("zip_code")['IRI Market'].apply(list).to_frame().reset_index()

df_zip_by_18_mkts=pd.merge(df_zip_by_18_mkt_count,df_zip_by_18_mkt_list,on="zip_code",how="outer")
df_zip_by_18_mkts.shape

(10149, 3)

In [15]:
walmarts_with_IRIs=pd.merge(all_SG_WMT_POI,df_zip_by_18_mkts,on="zip_code",how="left")
walmarts_with_IRIs['IRI Market']=walmarts_with_IRIs['IRI Market'].fillna("['Others_out_18']")
walmarts_with_IRIs['IRI Market']=walmarts_with_IRIs['IRI Market'].astype(str)
walmarts_with_IRIs['IRI Market']=walmarts_with_IRIs['IRI Market'].apply(eval)
walmarts_with_IRIs['latitude']=walmarts_with_IRIs['latitude'].astype(float)
walmarts_with_IRIs['longitude']=walmarts_with_IRIs['longitude'].astype(float)

walmarts_with_IRIs.head(2)

,safegraph_place_id,parent_safegraph_place_id,safegraph_brand_ids,location_name,brands,top_category,sub_category,naics_code,latitude,longitude,...,state,zip_code,open_hours,polygon_wkt,polygon_class,phone_number,is_synthetic,includes_parking_lot,count_mkts,IRI Market
0,sg:3d14eae49ae24306a6db19a386c658b0,sg:5c052cee6ebf4ba0acc781a7218470ab,SG_BRAND_04a8ca7bf49e7ecb4a32451676e929f0,Walmart,Walmart,"General Merchandise Stores, including Warehous...",All Other General Merchandise Stores,452319,38.660866,-121.763446,...,ca,95776,"{ ""Mon"": [[""6:00"", ""24:00""]], ""Tue"": [[""6:00"",...",POLYGON ((-121.76448965459713 38.6618353425036...,OWNED_POLYGON,NaN,false,NaN,NaN,[Others_out_18]
1,sg:a34b1824bf7c4d758634a35173905c85,NaN,SG_BRAND_04a8ca7bf49e7ecb4a32451676e929f0,Walmart,Walmart,"General Merchandise Stores, including Warehous...",All Other General Merchandise Stores,452319,28.055297,-80.623241,...,fl,32901,"{ ""Mon"": [[""9:00"", ""18:00""]], ""Tue"": [[""9:00"",...","POLYGON ((-80.6234859 28.055599800000003, -80....",OWNED_POLYGON,NaN,false,NaN,NaN,[Others_out_18]

In [16]:
walmarts_with_IRIs.shape

(4653, 22)

In [17]:
walmarts_with_IRIs['safegraph_place_id'].nunique()

4653

In [18]:
walmarts_with_IRIs_iter=walmarts_with_IRIs[['safegraph_place_id','latitude','longitude']]

In [19]:
df_mapping_store_10_zips=pd.DataFrame()
for ind,row in walmarts_with_IRIs_iter.iterrows():
    store_coor=[row['latitude'],row['longitude']]
    store_id=row['safegraph_place_id']
    for zip_cd in zip_centers.keys():
        
        dist=haversine(store_coor,zip_centers[zip_cd],miles=True)
        if dist<=10:
            df=pd.DataFrame({"zip_cd":zip_cd,"dist_miles":dist},index=[store_id])
            df_mapping_store_10_zips=df_mapping_store_10_zips.append(df)

In [20]:
df_mapping_store_10_zips=df_mapping_store_10_zips.reset_index().rename(columns={"index":"safegraph_place_id"})

In [21]:
df_output=pd.merge(walmarts_with_IRIs,df_mapping_store_10_zips,on="safegraph_place_id",how="left")
df_output=df_output.rename(columns={"zip_code":"store_zip"})

df_output.head(2)

,safegraph_place_id,parent_safegraph_place_id,safegraph_brand_ids,location_name,brands,top_category,sub_category,naics_code,latitude,longitude,...,open_hours,polygon_wkt,polygon_class,phone_number,is_synthetic,includes_parking_lot,count_mkts,IRI Market,dist_miles,zip_cd
0,sg:3d14eae49ae24306a6db19a386c658b0,sg:5c052cee6ebf4ba0acc781a7218470ab,SG_BRAND_04a8ca7bf49e7ecb4a32451676e929f0,Walmart,Walmart,"General Merchandise Stores, including Warehous...",All Other General Merchandise Stores,452319,38.660866,-121.763446,...,"{ ""Mon"": [[""6:00"", ""24:00""]], ""Tue"": [[""6:00"",...",POLYGON ((-121.76448965459713 38.6618353425036...,OWNED_POLYGON,NaN,false,NaN,NaN,[Others_out_18],7.889054,95618
1,sg:3d14eae49ae24306a6db19a386c658b0,sg:5c052cee6ebf4ba0acc781a7218470ab,SG_BRAND_04a8ca7bf49e7ecb4a32451676e929f0,Walmart,Walmart,"General Merchandise Stores, including Warehous...",All Other General Merchandise Stores,452319,38.660866,-121.763446,...,"{ ""Mon"": [[""6:00"", ""24:00""]], ""Tue"": [[""6:00"",...",POLYGON ((-121.76448965459713 38.6618353425036...,OWNED_POLYGON,NaN,false,NaN,NaN,[Others_out_18],1.005072,95776

In [22]:
df_output=df_output[['IRI Market','safegraph_place_id','zip_cd','dist_miles']+[x for x in df_output.columns.tolist() if x not in ['IRI Market','safegraph_place_id','zip_cd','dist_miles'] ]]
df_output['iri_list_str']=df_output['IRI Market'].astype(str)
df_output=df_output.sort_values(['iri_list_str','safegraph_place_id','dist_miles'])
df_output.shape

(96993, 25)

In [87]:
df_output_unique_zip_by_IRI=df_output[['iri_list_str','zip_cd']].drop_duplicates()
df_output_unique_zip_by_IRI=df_output_unique_zip_by_IRI[pd.notnull(df_output_unique_zip_by_IRI['zip_cd'])]
df_output_unique_zip_by_IRI['iri_list_str']=df_output_unique_zip_by_IRI['iri_list_str'].apply(eval)
df_output_unique_zip_by_IRI_agg=pd.DataFrame()
for ind,row in df_output_unique_zip_by_IRI.iterrows():
    df=pd.DataFrame({"IRI_mkt_of_walmart":row['iri_list_str'],"zip_cd":row['zip_cd']*len(row['iri_list_str'])},index=[x for x in range(len(row['iri_list_str']))])
    df_output_unique_zip_by_IRI_agg=df_output_unique_zip_by_IRI_agg.append(df)
    
df_output_unique_zip_by_IRI_agg.shape

(24490, 2)

In [88]:
df_output_unique_zip_by_IRI_agg=df_output_unique_zip_by_IRI_agg.sort_values("IRI_mkt_of_walmart").drop_duplicates(["IRI_mkt_of_walmart","zip_cd"])

In [89]:
df_national_zips_18=df_output_unique_zip_by_IRI_agg[df_output_unique_zip_by_IRI_agg['IRI_mkt_of_walmart']!="Others_out_18"]
df_national_zips_18['IRI_mkt_of_walmart']="Selected_18_Mkts"
df_national_zips_18=df_national_zips_18.drop_duplicates()
df_national_zips_others=df_output_unique_zip_by_IRI_agg[df_output_unique_zip_by_IRI_agg['IRI_mkt_of_walmart']=="Others_out_18"]
df_national_zips_others=df_national_zips_others[~df_national_zips_others['zip_cd'].isin(df_national_zips_18['zip_cd'].tolist())]
df_national_zips_others=df_national_zips_others.drop_duplicates()
df_output_national=df_national_zips_18.append(df_national_zips_others)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Add demo

In [97]:
df_EASI_A=pd.read_csv("/home/jian/Docs/EASI/2018-07-19/ZIP4_18_DATA_A2_CSV/ZIP4_18_DATA_A2.CSV",
                      skiprows=1,usecols=['ZIP_CODE','ZIP4','POP18','HH18','AVGHHINC'])
df_EASI_A['ZIP_CODE']=df_EASI_A['ZIP_CODE'].astype(str).apply(lambda x: x.zfill(5))
df_EASI_A['ZIP4']=df_EASI_A['ZIP4'].astype(str).apply(lambda x: x.zfill(4))
df_EASI_A['total_income_HH_avg']=df_EASI_A['AVGHHINC']*df_EASI_A['HH18']

df_zip_income=df_EASI_A.groupby(["ZIP_CODE"])['total_income_HH_avg','HH18','POP18'].sum().reset_index()
df_zip_income['HH_inc_avg']=df_zip_income['total_income_HH_avg']/df_zip_income['HH18']
df_zip_income.shape

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(39602, 5)

In [1]:
del df_EASI_A
import gc
gc.collect()

NameError: name 'df_EASI_A' is not defined

In [99]:
df_EASI_C=pd.read_csv("/home/jian/Docs/EASI/2018-07-19/ZIP4_18_DATA_C2_CSV/ZIP4_18_DATA_C2.CSV",
                      skiprows=1,usecols=['ZIP_CODE','ZIP4','HH18','PCTHHL25','PCTHH25_34','PCTHH35_44','PCTHH45_54','PCTMARC','PCTSPARC'])
df_EASI_C['ZIP_CODE']=df_EASI_C['ZIP_CODE'].astype(str).apply(lambda x: x.zfill(5))
df_EASI_C['ZIP4']=df_EASI_C['ZIP4'].astype(str).apply(lambda x: x.zfill(4))

df_EASI_C['HH_0_25']=df_EASI_C['HH18']*df_EASI_C['PCTHHL25']/100
df_EASI_C['HH_25_34']=df_EASI_C['HH18']*df_EASI_C['PCTHH25_34']/100
df_EASI_C['HH_35_44']=df_EASI_C['HH18']*df_EASI_C['PCTHH35_44']/100
df_EASI_C['HH_45_54']=df_EASI_C['HH18']*df_EASI_C['PCTHH45_54']/100
df_EASI_C['HH_25_54']=df_EASI_C['HH_25_34']+df_EASI_C['HH_35_44']+df_EASI_C['HH_45_54']

df_EASI_C['HH_MARC']=df_EASI_C['HH18']*df_EASI_C['PCTMARC']/100
df_EASI_C['HH_SPARC']=df_EASI_C['HH18']*df_EASI_C['PCTSPARC']/100
df_EASI_C['HH_Children']=df_EASI_C['HH_MARC']+df_EASI_C['HH_SPARC']

df_zip_HH=df_EASI_C.groupby(["ZIP_CODE"])['HH18','HH_MARC','HH_SPARC','HH_Children','HH_25_54','HH_0_25'].sum().reset_index()

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [100]:
del df_zip_income['HH18']
del df_zip_income['total_income_HH_avg']

df_zip_demo=pd.merge(df_zip_income,df_zip_HH,on="ZIP_CODE",how="outer")

In [101]:
df_zip_demo['teenager_population']=df_zip_demo['POP18']*df_zip_demo['HH_0_25']/df_zip_demo['HH18']
df_zip_demo['mother_population']=df_zip_demo['POP18']*0.52*df_zip_demo['HH_25_54']/df_zip_demo['HH18']*(df_zip_demo['HH_MARC']+df_zip_demo['HH_SPARC'])/df_zip_demo['HH18']

In [102]:
df_zip_demo['mother/teenager_ratio']=df_zip_demo['mother_population']/df_zip_demo['teenager_population']

In [103]:
df_zip_demo_map=df_zip_demo[['ZIP_CODE','POP18','HH18','HH_inc_avg','teenager_population','mother_population']].rename(columns={"ZIP_CODE":"zip_cd"})

In [104]:
df_output_national=pd.merge(df_output_national,df_zip_demo_map,on="zip_cd",how="left")
df_output_unique_zip_by_IRI_agg=pd.merge(df_output_unique_zip_by_IRI_agg,df_zip_demo_map,on="zip_cd",how="left")

In [105]:
writer=pd.ExcelWriter("./df_zips_10_miles_around_all_walmarts_labled_IRI_JL_"+str(datetime.datetime.now())+".xlsx",engine="xlsxwriter")
df_output_national.to_excel(writer,"unique_zips_all_10miles_wmt",index=False)
df_output_unique_zip_by_IRI_agg.to_excel(writer,"unique_zips_by_wmt_IRI",index=False)
df_output.to_excel(writer,"all_zips_with_store_info_POI",index=False)
df_zip_demo_map.to_excel(writer,"Demo_by_zip_calulated_EASI",index=False)
writer.save()

In [107]:
test_zip_48825=df_EASI_C[df_EASI_C['ZIP_CODE']=="48825"]
for col in test_zip_48825.columns.tolist()[2:]:
    print(col,test_zip_48825[col].unique())

HH18 [ 0.   0.3]
PCTMARC [ 0.]
PCTSPARC [ 0.]
PCTHHL25 [   0.  100.]
PCTHH25_34 [ 0.]
PCTHH35_44 [ 0.]
PCTHH45_54 [ 0.]
HH_0_25 [ 0.   0.3]
HH_25_34 [ 0.]
HH_35_44 [ 0.]
HH_45_54 [ 0.]
HH_25_54 [ 0.]
HH_MARC [ 0.]
HH_SPARC [ 0.]
HH_Children [ 0.]

In [108]:
df_EASI_C.shape

(40306307, 17)

In [109]:
df_EASI_C.head(2)

,ZIP_CODE,ZIP4,HH18,PCTMARC,PCTSPARC,PCTHHL25,PCTHH25_34,PCTHH35_44,PCTHH45_54,HH_0_25,HH_25_34,HH_35_44,HH_45_54,HH_25_54,HH_MARC,HH_SPARC,HH_Children
0,00501,0001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00501,0002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [110]:
df_EASI_C['HH18'].max()

2220.0

In [111]:
df_EASI_C[df_EASI_C['HH18']==2220]

,ZIP_CODE,ZIP4,HH18,PCTMARC,PCTSPARC,PCTHHL25,PCTHH25_34,PCTHH35_44,PCTHH45_54,HH_0_25,HH_25_34,HH_35_44,HH_45_54,HH_25_54,HH_MARC,HH_SPARC,HH_Children
2775923,10462,0652,2220.0,10.27,13.06,2.7,17.25,17.07,24.32,59.94,382.95,378.954,539.904,1301.808,227.994,289.932,517.926

In [112]:
df_EASI_A=pd.read_csv("/home/jian/Docs/EASI/2018-07-19/ZIP4_18_DATA_A2_CSV/ZIP4_18_DATA_A2.CSV",
                      skiprows=1,usecols=['ZIP_CODE','ZIP4','POP18','HH18','AVGHHINC'])

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [113]:
df_EASI_A['POP18'].max()

10470.0

In [116]:
df_EASI_A[df_EASI_A['POP18']==10470]

         ZIP_CODE  ZIP4    POP18  HH18  AVGHHINC
2818142     10474  7512  10470.0   0.0         0

In [119]:
df_EASI_A[df_EASI_A['ZIP_CODE']==10474]

         ZIP_CODE  ZIP4  POP18  HH18  AVGHHINC
2816911     10474     1   52.2  15.2     29492
2816912     10474     2   47.7  13.8     29492
2816913     10474     3   45.4  13.2     29492
2816914     10474     4   63.6  18.5     29492
2816915     10474     5   45.4  13.2     29492
2816916     10474     6   56.8  16.5     29492
2816917     10474     7   52.2  15.2     29492
2816918     10474     8   15.9   4.6     29492
2816919     10474     9   11.4   3.3     29492
2816920     10474    10   20.4   5.9     29492
2816921     10474    11   11.4   3.3     29492
2816922     10474    12    0.0   0.0         0
2816923     10474    13    0.0   0.0         0
2816924     10474    14    0.0   0.0         0
2816925     10474    15    0.0   0.0         0
2816926     10474    16    0.0   0.0         0
2816927     10474    17    0.0   0.0         0
2816928     10474    18    0.0   0.0         0
2816929     10474    19    0.0   0.0         0
2816930     10474    20    0.0   0.0         0
2816931     10474    21    0.0   0.0         0
2816932     10474    22    0.0   0.0         0
2816933     10474    23    0.0   0.0         0
2816934     10474    24    0.0   0.0         0
2816935     10474    25    0.0   0.0         0
2816936     10474    26    0.0   0.0         0
2816937     10474    27    0.0   0.0         0
2816938     10474    28    0.0   0.0         0
2816939     10474    29    0.0   0.0         0
2816940     10474    30    0.0   0.0         0
...           ...   ...    ...   ...       ...
2818166     10474  9400    0.0   0.0         0
2818167     10474  9401    0.0   0.0         0
2818168     10474  9402    0.0   0.0         0
2818169     10474  9403    0.0   0.0         0
2818170     10474  9404    0.0   0.0         0
2818171     10474  9405    0.0   0.0         0
2818172     10474  9406    0.0   0.0         0
2818173     10474  9407    0.0   0.0         0
2818174     10474  9408    0.0   0.0         0
2818175     10474  9409    0.0   0.0         0
2818176     10474  9410    0.0   0.0         0
2818177     10474  9411    0.0   0.0         0
2818178     10474  9412    0.0   0.0         0
2818179     10474  9413    0.0   0.0         0
2818180     10474  9414    0.0   0.0         0
2818181     10474  9415    0.0   0.0         0
2818182     10474  9416    0.0   0.0         0
2818183     10474  9417    0.0   0.0         0
2818184     10474  9418    0.0   0.0         0
2818185     10474  9419    0.0   0.0         0
2818186     10474  9420    0.0   0.0         0
2818187     10474  9421    0.0   0.0         0
2818188     10474  9422    0.0   0.0         0
2818189     10474  9423    0.0   0.0         0
2818190     10474  9424    0.0   0.0         0
2818191     10474  9425   15.8   4.8     62089
2818192     10474  9426    0.0   0.0         0
2818193     10474  9427    0.0   0.0         0
2818194     10474  9900    0.1   0.1     40849
2818195     10474  9998    0.0   0.0         0

[1285 rows x 5 columns]

In [114]:
df_EASI_A['AVGHHINC'].max()

1160204

In [115]:
df_EASI_C[df_EASI_C['ZIP_CODE']=="10462"]

,ZIP_CODE,ZIP4,HH18,PCTMARC,PCTSPARC,PCTHHL25,PCTHH25_34,PCTHH35_44,PCTHH45_54,HH_0_25,HH_25_34,HH_35_44,HH_45_54,HH_25_54,HH_MARC,HH_SPARC,HH_Children
2775805,10462,0001,10.1,23.63,26.22,3.52,20.78,23.31,20.85,0.35552,2.09878,2.35431,2.10585,6.55894,2.38663,2.64822,5.03485
2775806,10462,0061,7.9,23.63,26.22,3.52,20.78,23.31,20.85,0.27808,1.64162,1.84149,1.64715,5.13026,1.86677,2.07138,3.93815
2775807,10462,0121,8.2,23.63,26.22,3.52,20.78,23.31,20.85,0.28864,1.70396,1.91142,1.70970,5.32508,1.93766,2.15004,4.08770
2775808,10462,0181,9.5,23.63,26.22,3.52,20.78,23.31,20.85,0.33440,1.97410,2.21445,1.98075,6.16930,2.24485,2.49090,4.73575
2775809,10462,0241,7.9,23.63,26.22,3.52,20.78,23.31,20.85,0.27808,1.64162,1.84149,1.64715,5.13026,1.86677,2.07138,3.93815
2775810,10462,0301,9.5,23.63,26.22,3.52,20.78,23.31,20.85,0.33440,1.97410,2.21445,1.98075,6.16930,2.24485,2.49090,4.73575
2775811,10462,0361,7.3,23.63,26.22,3.52,20.78,23.31,20.85,0.25696,1.51694,1.70163,1.52205,4.74062,1.72499,1.91406,3.63905
2775812,10462,0421,8.8,23.63,26.22,3.52,20.78,23.31,20.85,0.30976,1.82864,2.05128,1.83480,5.71472,2.07944,2.30736,4.38680
2775813,10462,0481,6.6,23.63,26.22,3.52,20.78,23.31,20.85,0.23232,1.37148,1.53846,1.37610,4.28604,1.55958,1.73052,3.29010
2775814,10462,0521,0.6,23.63,26.22,3.52,20.78,23.31,20.85,0.02112,0.12468,0.13986,0.12510,0.38964,0.14178,0.15732,0.29910
2775815,10462,0541,4.6,23.63,26.22,3.52,20.78,23.31,20.85,0.16192,0.95588,1.07226,0.95910,2.98724,1.08698,1.20612,2.29310
2775816,10462,0542,3.9,23.63,26.22,3.52,20.78,23.31,20.85,0.13728,0.81042,0.90909,0.81315,2.53266,0.92157,1.02258,1.94415
2775817,10462,0543,5.7,23.63,26.22,3.52,20.78,23.31,20.85,0.20064,1.18446,1.32867,1.18845,3.70158,1.34691,1.49454,2.84145
2775818,10462,0544,4.4,23.63,26.22,3.52,20.78,23.31,20.85,0.15488,0.91432,1.02564,0.91740,2.85736,1.03972,1.15368,2.19340
2775819,10462,0545,3.2,23.63,26.22,3.52,20.78,23.31,20.85,0.11264,0.66496,0.74592,0.66720,2.07808,0.75616,0.83904,1.59520
2775820,10462,0546,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2775821,10462,0547,4.9,23.63,26.22,3.52,20.78,23.31,20.85,0.17248,1.01822,1.14219,1.02165,3.18206,1.15787,1.28478,2.44265
2775822,10462,0548,3.5,23.63,26.22,3.52,20.78,23.31,20.85,0.12320,0.72730,0.81585,0.72975,2.27290,0.82705,0.91770,1.74475
2775823,10462,0549,4.1,23.63,26.22,3.52,20.78,23.31,20.85,0.14432,0.85198,0.95571,0.85485,2.66254,0.96883,1.07502,2.04385
2775824,10462,0550,5.1,23.63,26.22,3.52,20.78,23.31,20.85,0.17952,1.05978,1.18881,1.06335,3.31194,1.20513,1.33722,2.54235
2775825,10462,0551,3.5,23.63,26.22,3.52,20.78,23.31,20.85,0.12320,0.72730,0.81585,0.72975,2.27290,0.82705,0.91770,1.74475
2775826,10462,0552,4.3,23.63,26.22,3.52,20.78,23.31,20.85,0.15136,0.89354,1.00233,0.89655,2.79242,1.01609,1.12746,2.14355
2775827,10462,0553,4.3,23.63,26.22,3.52,20.78,23.31,20.85,0.15136,0.89354,1.00233,0.89655,2.79242,1.01609,1.12746,2.14355
2775828,10462,0554,3.8,23.63,26.22,3.52,20.78,23.31,20.85,0.13376,0.78964,0.88578,0.79230,2.46772,0.89794,0.99636,1.89430
2775829,10462,0555,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2775830,10462,0556,4.6,23.63,26.22,3.52,20.78,23.31,20.85,0.16192,0.95588,1.07226,0.95910,2.98724,1.08698,1.20612,2.29310
2775831,10462,0557,6.2,15.34,11.09,1.03,15.47,20.53,25.45,0.06386,0.95914,1.27286,1.57790,3.80990,0.95108,0.68758,1.63866
2775832,10462,0558,4.6,23.63,26.22,3.52,20.78,23.31,20.85,0.16192,0.95588,1.07226,0.95910,2.98724,1.08698,1.20612,2.29310
2775833,10462,0559,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2775834,10462,0560,5.1,23.63,26.22,3.52,20.78,23.31,20.85,0.17952,1.05978,1.18881,1.06335,3.31194,1.20513,1.33722,2.54235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2780993,10462,9263,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2780994,10462,9264,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2780995,10462,9265,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2780996,10462,9266,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2780997,10462,9600,21.2,14.52,15.43,1.90,22.23,19.78,21.30,0.40280,4.71276,4.19336,4.51560,13.42172,3.07824,3.27116,6.34940
2780998,10462,9601,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2780999,10462,9602,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781000,10462,9603,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781001,10462,9604,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781002,10462,9605,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781003,10462,9606,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781004,10462,9607,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781005,10462,9608,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781006,10462,9609,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781007,10462,9610,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781008,10462,9611,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781009,10462,9612,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781010,10462,9613,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781011,10462,9614,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781012,10462,9615,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781013,10462,9616,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781014,10462,9617,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781015,10462,9618,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781016,10462,9800,12.1,26.03,15.60,3.18,16.28,19.50,21.95,0.38478,1.96988,2.35950,2.65595,6.98533,3.14963,1.88760,5.03723
2781017,10462,9880,0.2,21.21,18.50,0.00,29.58,32.70,18.58,0.00000,0.05916,0.06540,0.03716,0.16172,0.04242,0.03700,0.07942
2781018,10462,9911,12.1,26.03,15.60,3.18,16.28,19.50,21.95,0.38478,1.96988,2.35950,2.65595,6.98533,3.14963,1.88760,5.03723
2781019,10462,9991,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781020,10462,9992,21.2,14.53,15.41,1.90,22.23,19.77,21.29,0.40280,4.71276,4.19124,4.51348,13.41748,3.08036,3.26692,6.34728
2781021,10462,9993,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2781022,10462,9998,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000