In [1]:
import pandas as pd
import numpy as np
import json
import googlemaps
from haversine import haversine
import os
import datetime

zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))

print(datetime.datetime.now())
os.getcwd()

2020-02-09 17:51:48.767973

'/home/jian/Projects/Jared'

In [2]:
df_J_store_list=pd.ExcelFile("./Jared Store List January 2020.xlsx")
df_J_store_list=df_J_store_list.parse("jared_the_galleria_of_jewelry_2",dtype=str)
df_J_store_list['zip_code']=df_J_store_list['zip_code'].apply(lambda x: x.zfill(5))
df_J_store_list.head(4)

# df_J_store_list.sheet_names

,store_number,store_name,Type Of Jared,Type of store,address,address_line_2,city,state,zip_code,phone_number,store_hours,website_address,latitude,longitude,country,country_code,county,geo_accuracy
0,4214,Jared Vault Palm Beach Outlets,Jared Vault,Outlet,1781 Palm Beach Lakes Blvd,Suite W225,West Palm Beach,FL,33401,(561) 687-9503,Please call to confirm store hours message.,https://www.jared.com/store/WestPalmBeach-FL-4214,26.725109,-80.087857,United States,US,Palm Beach County,PREMISE: ROOFTOP
1,4213,Jared Vault St. Louis Premium Outlets,Jared Vault,Outlet,18527 Outlet Blvd,Suite 745,Chesterfield,MO,63005,(636) 778-2306,Please call to confirm store hours message.,https://www.jared.com/store/Chesterfield-MO-4213,38.678155,-90.661474,United States,US,St. Louis County,PREMISE: ROOFTOP
2,4210,Jared Vault The Outlet Shoppes At Atlanta,Jared Vault,Outlet,915 Ridgewalk Parkway,Suite 500,Woodstock,GA,30188,(770) 591-8169,Please call to confirm store hours message.,https://www.jared.com/store/Woodstock-GA-4210,34.121737,-84.523912,United States,US,Cherokee County,PREMISE: ROOFTOP
3,4205,Jared Vault Tanger Outlet Houston,Jared Vault,Outlet,5885 Gulf Expressway,Ste. 330,Texas City,TX,77591,(281) 337-1912,Please call to confirm store hours message.,https://www.jared.com/store/TexasCity-TX-4205,29.424539650588,-95.0589665889072,United States,US,Galveston County,AGGDATA_VERIFIED: ROOFTOP

In [3]:
df_J_store_list['search_key']=df_J_store_list['address']+", "+df_J_store_list['city']+", "+df_J_store_list['state']+", "+df_J_store_list['zip_code']
df_J_store_list.head(2)

,store_number,store_name,Type Of Jared,Type of store,address,address_line_2,city,state,zip_code,phone_number,store_hours,website_address,latitude,longitude,country,country_code,county,geo_accuracy,search_key
0,4214,Jared Vault Palm Beach Outlets,Jared Vault,Outlet,1781 Palm Beach Lakes Blvd,Suite W225,West Palm Beach,FL,33401,(561) 687-9503,Please call to confirm store hours message.,https://www.jared.com/store/WestPalmBeach-FL-4214,26.725109,-80.087857,United States,US,Palm Beach County,PREMISE: ROOFTOP,"1781 Palm Beach Lakes Blvd, West Palm Beach, F..."
1,4213,Jared Vault St. Louis Premium Outlets,Jared Vault,Outlet,18527 Outlet Blvd,Suite 745,Chesterfield,MO,63005,(636) 778-2306,Please call to confirm store hours message.,https://www.jared.com/store/Chesterfield-MO-4213,38.678155,-90.661474,United States,US,St. Louis County,PREMISE: ROOFTOP,"18527 Outlet Blvd, Chesterfield, MO, 63005"

In [4]:
key='AIzaSyDxp8O8JKOvbuB6F5DfqyyJMYPPKwIXLdY'
gmaps = googlemaps.Client(key=key)
df_J_store_list['Google_Address']=np.nan
df_J_store_list['Google_lat']=np.nan
df_J_store_list['Google_lng']=np.nan
for i,row in df_J_store_list.iterrows():
    search_kw=row['search_key']
    response=gmaps.geocode(search_kw)[0]
    google_address=response['formatted_address']
    google_lat=response['geometry']['location']['lat']
    google_lng=response['geometry']['location']['lng']
    
    df_J_store_list.loc[i,'Google_Address']=google_address
    df_J_store_list.loc[i,'Google_lat']=google_lat
    df_J_store_list.loc[i,'Google_lng']=google_lng

In [5]:
df_J_store_list['latitude']=df_J_store_list['latitude'].astype(float)
df_J_store_list['longitude']=df_J_store_list['longitude'].astype(float)

df_J_store_list['qc_dist_metter']=np.nan

for i,row in df_J_store_list.iterrows():
    YG_center=(row['latitude'],row['longitude'])
    Google_center=(row['Google_lat'],row['Google_lng'])
    
    df_J_store_list.loc[i,'qc_dist_metter']=haversine(YG_center,Google_center,unit="m")

In [6]:
df_J_store_list['qc_dist_metter'].min()

0.0

In [7]:
df_J_store_list['qc_dist_metter'].max()

1159474.715936236

In [8]:
df_qc=df_J_store_list[df_J_store_list['qc_dist_metter']>1000][['store_number','search_key','Google_Address',
                                                              'latitude','longitude','Google_lat','Google_lng','qc_dist_metter']]

df_qc.shape

(5, 8)

In [26]:
df_qc

,store_number,search_key,Google_Address,latitude,longitude,Google_lat,Google_lng,qc_dist_metter
6,4201,"4342 Baldwin Rd., Auburn Hills, MI, 48326","4342 Baldwin Rd, Auburn Hills, MI 48326, USA",38.643326,-77.296142,42.702222,-83.305981,6.783367e+05
15,4054,"2700 Potomac Mills Circle, Prince William, VA,...","2700 Potomac Mills Cir, Woodbridge, VA 22192, USA",38.677471,-90.661665,38.643362,-77.296183,1.159475e+06
19,4020,"6170 W. Grand Ave, Gurnee, IL, 60031","6170 W Grand Ave, Gurnee, IL 60031, USA",35.152239,-80.832060,42.389929,-87.959322,1.013804e+06
142,2435,"17327 W Interstate 10, San Antonio, TX, 78257","I-10, San Antonio, TX 78257, USA",29.605790,-98.600216,29.630861,-98.612137,3.016532e+03
177,496,"5928 South State St., Salt Lake City, UT, 84107","5928 S State St, Murray, UT 84107, USA",40.642691,-111.889307,40.629427,-111.890274,1.477142e+03

In [9]:

# lat/lng used
'''
if dist <=1000 m, use clients
if >1000, use google's
if the add returned incorrect, use clients's with check # 2435 store_number
'''
list_4_stores_use_google=df_qc[df_qc['store_number']!="2435"]['store_number'].tolist()

df_J_store_list['used_lat']=np.where(df_J_store_list['store_number'].isin(list_4_stores_use_google),
                                     df_J_store_list['latitude'],df_J_store_list['Google_lat'])

df_J_store_list['used_lng']=np.where(df_J_store_list['store_number'].isin(list_4_stores_use_google),
                                     df_J_store_list['longitude'],df_J_store_list['Google_lng'])

In [10]:
df_J_store_list.shape

(251, 25)

In [11]:
df_J_store_list['zip_list_0_10']=np.nan
df_J_store_list['zip_list_10_20']=np.nan
df_J_store_list['zip_list_20_30']=np.nan

for i, row in df_J_store_list.iterrows():
    store_center=(row['used_lat'],row['used_lng'])
    list_0_10=[]
    list_10_20=[]
    list_20_30=[]
    
    for zip_cd,v in zip_centers.items():
        dist=haversine(store_center,v,unit="mi")
        if dist<=10:
            list_0_10.append(zip_cd)
            
        elif dist<=20:
            list_10_20.append(zip_cd)

        elif dist<=30:
            list_20_30.append(zip_cd)
            
    df_J_store_list.loc[i,'zip_list_0_10']=str(list_0_10)
    df_J_store_list.loc[i,'zip_list_10_20']=str(list_10_20)
    df_J_store_list.loc[i,'zip_list_20_30']=str(list_20_30)

In [12]:
pd.options.display.max_columns=99
df_J_store_list.head(4)

,store_number,store_name,Type Of Jared,Type of store,address,address_line_2,city,state,zip_code,phone_number,store_hours,website_address,latitude,longitude,country,country_code,county,geo_accuracy,search_key,Google_Address,Google_lat,Google_lng,qc_dist_metter,used_lat,used_lng,zip_list_0_10,zip_list_10_20,zip_list_20_30
0,4214,Jared Vault Palm Beach Outlets,Jared Vault,Outlet,1781 Palm Beach Lakes Blvd,Suite W225,West Palm Beach,FL,33401,(561) 687-9503,Please call to confirm store hours message.,https://www.jared.com/store/WestPalmBeach-FL-4214,26.725109,-80.087857,United States,US,Palm Beach County,PREMISE: ROOFTOP,"1781 Palm Beach Lakes Blvd, West Palm Beach, F...","1781 Palm Beach Lakes Blvd, West Palm Beach, F...",26.725304,-80.087888,21.915748,26.725304,-80.087888,"['33418', '33410', '33411', '33413', '33415', ...","['33449', '33446', '33445', '33444', '33412', ...","['33481', '33448', '33443', '33442', '33441', ..."
1,4213,Jared Vault St. Louis Premium Outlets,Jared Vault,Outlet,18527 Outlet Blvd,Suite 745,Chesterfield,MO,63005,(636) 778-2306,Please call to confirm store hours message.,https://www.jared.com/store/Chesterfield-MO-4213,38.678155,-90.661474,United States,US,St. Louis County,PREMISE: ROOFTOP,"18527 Outlet Blvd, Chesterfield, MO, 63005","18527 Outlet Blvd, Chesterfield, MO 63005, USA",38.678027,-90.661482,14.238375,38.678027,-90.661482,"['63024', '63022', '63017', '63011', '63376', ...","['63025', '63348', '63127', '63126', '63114', ...","['63023', '63129', '63110', '63111', '63112', ..."
2,4210,Jared Vault The Outlet Shoppes At Atlanta,Jared Vault,Outlet,915 Ridgewalk Parkway,Suite 500,Woodstock,GA,30188,(770) 591-8169,Please call to confirm store hours message.,https://www.jared.com/store/Woodstock-GA-4210,34.121737,-84.523912,United States,US,Cherokee County,PREMISE: ROOFTOP,"915 Ridgewalk Parkway, Woodstock, GA, 30188","915 Ridgewalk Pkwy, Woodstock, GA 30188, USA",34.120278,-84.526534,290.823380,34.120278,-84.526534,"['30075', '30144', '30114', '30115', '30062', ...","['30338', '30339', '30077', '30076', '30069', ...","['30334', '30336', '30331', '30332', '30333', ..."
3,4205,Jared Vault Tanger Outlet Houston,Jared Vault,Outlet,5885 Gulf Expressway,Ste. 330,Texas City,TX,77591,(281) 337-1912,Please call to confirm store hours message.,https://www.jared.com/store/TexasCity-TX-4205,29.424540,-95.058967,United States,US,Galveston County,AGGDATA_VERIFIED: ROOFTOP,"5885 Gulf Expressway, Texas City, TX, 77591","5885 Gulf Fwy, Dickinson, TX 77539, USA",29.425591,-95.056033,307.226739,29.425591,-95.056033,"['77573', '77565', '77591', '77590', '77598', ...","['77062', '77578', '77577', '77572', '77034', ...","['77061', '77262', '77261', '77266', '77233', ..."

In [13]:
dict_store_20_zips={}

for i, row in df_J_store_list.iterrows():
    store=row['store_number']
    zip_list_20=eval(row['zip_list_0_10'])+eval(row['zip_list_10_20'])
    dict_store_20_zips.update({store:zip_list_20})

In [14]:
list_all_stores=list(dict_store_20_zips.keys())
list_pairs=[]
list_unique_stores_in_pair=[]
for i in range(len(list_all_stores)):
    store_i=list_all_stores[i]
    for j in range(i,len(list_all_stores)):
        store_j=list_all_stores[j]
        
        set_i=set(dict_store_20_zips[store_i])
        set_j=set(dict_store_20_zips[store_j])
        
        set_overlap=set_i.intersection(set_j)
        
        if len(set_overlap)/min(len(set_i),len(set_j))>=0.5:
            list_pairs.append([store_i,store_j])
            list_unique_stores_in_pair.append(store_i)
            list_unique_stores_in_pair.append(store_j)
            list_unique_stores_in_pair=list(set(list_unique_stores_in_pair))
        
print(len(list_unique_stores_in_pair))

251

In [15]:
dict_store_TA_old={}
for i in range(len(list_unique_stores_in_pair)):
    dict_store_TA_old.update({list_unique_stores_in_pair[i]:i})
dict_store_TA_new={}
len_old_ta=len(set(dict_store_TA_old.values()))
len_new_ta=len(set(dict_store_TA_new.values()))

i_counter_loop=0
while len_old_ta>len_new_ta:
    i_counter_loop+=1
    # temp_old=dict_store_TA_old.copy()
    dict_store_TA_new=dict_store_TA_old.copy()
    for pair in list_pairs:
        min_ta=min([dict_store_TA_old[pair[0]],dict_store_TA_old[pair[1]]])
        for store_num in pair:
            dict_store_TA_new.update({store_num:min_ta})
    len_old_ta=len(set(dict_store_TA_old.values()))
    len_new_ta=len(set(dict_store_TA_new.values()))
    dict_store_TA_old=dict_store_TA_new.copy()
    
    print(i_counter_loop,datetime.datetime.now())

1 2020-02-09 17:54:09.111590
2 2020-02-09 17:54:09.112348
3 2020-02-09 17:54:09.113043
4 2020-02-09 17:54:09.113727

In [16]:
len(set(dict_store_TA_new.values()))

193

In [17]:
df_J_store_list['TA']=df_J_store_list['store_number'].apply(lambda x: dict_store_TA_new[x])

In [31]:
dict_update_TA_name=df_J_store_list.groupby("TA")['store_number'].nunique().to_frame().reset_index()
dict_update_TA_name=dict_update_TA_name.sort_values("store_number",ascending=False)
dict_update_TA_name['new_TA']=[str(x+1) for x in range(len(dict_update_TA_name))]
dict_update_TA_name['new_TA']=np.where(dict_update_TA_name['store_number']>1,
                                       "multiple_"+dict_update_TA_name['new_TA'],
                                       "single_"+dict_update_TA_name['new_TA'])
dict_update_TA_name=dict_update_TA_name.set_index("TA").to_dict()['new_TA']
df_J_store_list['TA']=df_J_store_list['TA'].apply(lambda x: dict_update_TA_name[x])

In [39]:
dma_zip=pd.read_excel("/home/jian/Docs/Geo_mapping/Zips by DMA by County16-17 nielsen.xlsx",dtype=str,skiprows=1)
dma_zip=dma_zip.iloc[:,[0,2]].drop_duplicates()
dma_zip.columns=['zip_code','DMA']
dma_zip=dma_zip.groupby("zip_code")['DMA'].apply(list).to_frame().reset_index()

In [42]:
df_J_store_list=pd.merge(df_J_store_list,dma_zip,on="zip_code",how="left")

In [44]:
dict_ta_zips={}
for i, row in df_J_store_list.iterrows():
    zip_10=eval(row['zip_list_0_10'])
    zip_20=zip_10+eval(row['zip_list_0_10'])
    ta=row['TA']
    if ta in dict_ta_zips.keys():
        dict_ta_zips.update({ta:list(set(dict_ta_zips[ta]+zip_20))})
    else:
        dict_ta_zips.update({ta:zip_20})

In [45]:
df_output_TA_view=df_J_store_list.groupby("TA")['store_number'].apply(list).to_frame().reset_index()
df_output_TA_view['zip_cd_20']=df_output_TA_view['TA'].apply(lambda x: dict_ta_zips[x])
df_output_TA_view['store_count']=df_output_TA_view['store_number'].apply(len)
df_output_TA_view['zip_count']=df_output_TA_view['zip_cd_20'].apply(len)
df_output_TA_view.head(5)

,TA,store_number,zip_cd_20,store_count,zip_count
0,multiple_1,"[4210, 2557, 468, 467, 460, 459, 436, 435]","[30168, 30011, 30319, 30350, 31156, 31146, 305...",8,137
1,multiple_10,"[4098, 499, 439]","[77491, 77231, 77079, 77236, 77270, 77469, 772...",3,104
2,multiple_11,"[2418, 489, 485]","[32793, 32822, 32818, 32794, 32704, 32766, 347...",3,83
3,multiple_12,"[4020, 426, 425]","[28242, 28236, 28226, 28211, 29716, 28246, 280...",3,79
4,multiple_13,"[2439, 2438]","[45406, 45431, 45403, 45409, 45430, 45402, 454...",2,52

In [47]:
df_output_TA_view['ta_num']=df_output_TA_view['TA'].apply(lambda x: int(x.split("_")[1]))
df_output_TA_view=df_output_TA_view.sort_values("ta_num")

In [50]:
df_output_zip_view=pd.DataFrame()
for i,row in df_J_store_list.iterrows():
    zip_10=eval(row['zip_list_0_10'])
    zip_20=eval(row['zip_list_10_20'])
    
    df_10=pd.DataFrame({"zip_cd":zip_10})
    df_10['zip_type']="dist_0_10"
    df_20=pd.DataFrame({"zip_cd":zip_20})
    df_20['zip_type']="dist_10_20"
    
    df=df_10.append(df_20)
    df['store_num']=row['store_number']
    df['TA']=row['TA']
    
    df_output_zip_view=df_output_zip_view.append(df)
    
df_output_zip_view=df_output_zip_view.sort_values(["store_num","zip_cd"])

In [53]:
df_unique_zip_footprint=df_output_zip_view[['zip_cd']].drop_duplicates()

In [55]:
writer=pd.ExcelWriter("./Jared_TA_first_creation_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_unique_zip_footprint.to_excel(writer,"all_ta_zips",index=False)
df_J_store_list.to_excel(writer,"view_by_store",index=False)
df_output_TA_view.to_excel(writer,"view_by_TA",index=False)
df_output_zip_view.to_excel(writer,"detail_zip_TA",index=False)
writer.save()