In [1]:
import pandas as pd
import datetime
import glob
import os


os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2018_Q4/URL_Pages/Top_5_Activities_Comb_Exclude_1_AdID'

In [5]:
file_list=glob.glob('/home/jian/Projects/Big_Lots/Analysis/2018_Q4/URL_Pages/DCM_5_Top_URLs/*tsv.gz')
len(file_list)

31

In [6]:
df_all_activities=pd.DataFrame()

for file_path in file_list:
    df=pd.read_csv(file_path,sep="\t",dtype=str)
    df_all_activities=df_all_activities.append(df)

In [7]:
df_all_activities.shape

(759355, 105)

In [8]:
df_all_activities.head(2)

,Event Time,User ID,Advertiser ID,Campaign ID,Ad ID,Rendering ID,Creative Version,Site ID (DCM),Placement ID,Country Code,...,DBM Media Fee 4 (Advertiser Currency),DBM Media Fee 5 (USD),DBM Media Fee 5 (Partner Currency),DBM Media Fee 5 (Advertiser Currency),DBM Data Fees (USD),DBM Data Fees (Partner Currency),DBM Data Fees (Advertiser Currency),DBM Billable Cost (USD),DBM Billable Cost (Partner Currency),DBM Billable Cost (Advertiser Currency)
0,1544544701799544,AMsySZbSawfibPv5dTepx6irbone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,...,0,0,0,0,0,0,0,0,0,0
1,1544541048920801,AMsySZYHFIoo8xJxAIkrg2BgeWKy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,...,0,0,0,0,0,0,0,0,0,0

In [36]:
# df_all_activities.iloc[:1000,].to_csv('/home/jian/Projects/Big_Lots/Analysis/2018_Q4/URL_Pages/Top_5_Activities_Comb_Exclude_1_AdID/BL_Dec_Activities_to_be_uploaded_Sample.csv',index=False)
df_all_activities.to_csv('/home/jian/Projects/Big_Lots/Analysis/2018_Q4/URL_Pages/Top_5_Activities_Comb_Exclude_1_AdID/dcm_account7252_activity_20181201_20181231_bl_DecTop5urls.tsv.gz',
                         sep = '\t',compression = 'gzip',index = False)

In [30]:
import numpy as np
date_list=df_all_activities['Event Time'].apply(lambda x: datetime.datetime.utcfromtimestamp(int(np.round(int(x)/1000000))).strftime('%Y-%m-%d %H:%M:%S'))

In [33]:
max(date_list)

'2019-01-01 04:59:57'

In [35]:
min(date_list)

'2018-12-01 06:03:59'

In [37]:
df_all_activities['Activity ID'].unique()

array(['7945971', '7945980', '8001727', '8001451', '7945974'], dtype=object)

In [38]:
df_all_activities['TRAN Value'].unique()

array([nan], dtype=object)

In [39]:
len(df_all_activities['User ID'].unique())

446717