In [17]:
import pandas as pd
import numpy as np

In [18]:
Walmart_Zips=pd.read_csv("/home/jian/SunnyD/Otherinput/walmart_stores_with_zip.csv")
Walmart_Zips=Walmart_Zips[pd.notnull(Walmart_Zips['zip within 5 miles'])]

In [19]:
Walmart_Zips['zip within 5 miles']=Walmart_Zips['zip within 5 miles'].apply(lambda x: x.replace("[",""))
Walmart_Zips['zip within 5 miles']=Walmart_Zips['zip within 5 miles'].apply(lambda x: x.replace("]",""))
Walmart_Zips['zip within 5 miles']=Walmart_Zips['zip within 5 miles'].apply(lambda x: x.replace("u",""))
Walmart_Zips['zip code']=Walmart_Zips['zip code'].astype(int)

In [20]:
all_zips_in_IRI=pd.read_excel("/home/jian/SunnyD/Otherinput/All_IRI_Mkt_with_Zips.xlsx")

In [21]:
Walmart_Zips_In_Selected_MKTs=Walmart_Zips
Walmart_Zips_In_Selected_MKTs.reset_index(inplace=True)
del Walmart_Zips_In_Selected_MKTs['index']

In [22]:
walmart_zips_in_selected_mkt=pd.DataFrame(columns=['Zip_Code','address_of_walmart','city_of_walmart','zip_of_walmart','number_of_walmart','state_of_walmart',
                            'latitude_of_walmart','longitude_of_walmart'])
for i in range(len(Walmart_Zips_In_Selected_MKTs)):
    zips_for_WalMart_store=Walmart_Zips_In_Selected_MKTs['zip within 5 miles'][i]
    df=pd.DataFrame(columns=['zips_in_5_miles','address_of_walmart','city_of_walmart','zip_of_walmart','number_of_walmart','state_of_walmart',
                            'latitude_of_walmart','longitude_of_walmart'])
    zips_for_WalMart_store=zips_for_WalMart_store.split(', ')
    #for j in range(len(zips_for_WalMart_store)):
        #df['zips_in_5_miles'][j]=zips_for_WalMart_store[j]
    df['Zip_Code']=zips_for_WalMart_store
    df['address_of_walmart']=Walmart_Zips_In_Selected_MKTs['address'][i]
    df['city_of_walmart']=Walmart_Zips_In_Selected_MKTs['city'][i]
    df['zip_of_walmart']=Walmart_Zips_In_Selected_MKTs['zip code'][i]
    df['number_of_walmart']=Walmart_Zips_In_Selected_MKTs['number'][i]
    df['state_of_walmart']=Walmart_Zips_In_Selected_MKTs['state'][i]
    df['latitude_of_walmart']=Walmart_Zips_In_Selected_MKTs['lat'][i]
    df['longitude_of_walmart']=Walmart_Zips_In_Selected_MKTs['lng'][i]
    walmart_zips_in_selected_mkt=walmart_zips_in_selected_mkt.append(df)
    
walmart_zips_in_selected_mkt.reset_index(inplace=True)
del walmart_zips_in_selected_mkt['index']  
walmart_zips_in_selected_mkt['Zip_Code']=walmart_zips_in_selected_mkt['Zip_Code'].apply(lambda x: x.replace("'",""))
walmart_zips_in_selected_mkt['Zip_Code']=walmart_zips_in_selected_mkt['Zip_Code'].astype(int)

In [23]:
walmart_zips_in_selected_mkt.to_excel("/home/jian/SunnyD/Otherinput/all_walmart_zips_in_5_miles.xlsx")

In [24]:
walmart_zips_in_selected_mkt.head()

,Zip_Code,address_of_walmart,city_of_walmart,latitude_of_walmart,longitude_of_walmart,number_of_walmart,state_of_walmart,zip_of_walmart,zips_in_5_miles
0,99523,8900 OLD SEWARD HWY,ANCHORAGE,61.14022809999999,-149.8699692,2071,AK,99515,NaN
1,99599,8900 OLD SEWARD HWY,ANCHORAGE,61.14022809999999,-149.8699692,2071,AK,99515,NaN
2,99519,8900 OLD SEWARD HWY,ANCHORAGE,61.14022809999999,-149.8699692,2071,AK,99515,NaN
3,99518,8900 OLD SEWARD HWY,ANCHORAGE,61.14022809999999,-149.8699692,2071,AK,99515,NaN
4,99515,8900 OLD SEWARD HWY,ANCHORAGE,61.14022809999999,-149.8699692,2071,AK,99515,NaN

# Count Stores in Markets

In [57]:
Walmart_Zips=pd.read_csv("/home/jian/SunnyD/Otherinput/walmart_stores_with_zip.csv")
Walmart_Zips=Walmart_Zips[pd.notnull(Walmart_Zips['zip within 5 miles'])]
Walmart_Zips['zip code']=Walmart_Zips['zip code'].astype(int)

In [58]:
all_zips_in_IRI=pd.read_excel("/home/jian/SunnyD/Otherinput/All_IRI_Mkt_with_Zips.xlsx")
all_zips_in_IRI=all_zips_in_IRI[['zip_cd','IRI_Market']]
all_zips_in_IRI.columns=['zip code','IRI_Market']

In [59]:
Walmart_Zips_IRI=pd.merge(Walmart_Zips,all_zips_in_IRI,on="zip code",how="inner")
Walmart_Zips_IRI=Walmart_Zips_IRI[['number','IRI_Market','zip code']]
Walmart_Zips_IRI=Walmart_Zips_IRI.drop_duplicates()

In [60]:
Walmart_Store_Coutns=Walmart_Zips_IRI.groupby(['IRI_Market'])['number'].apply(len).to_frame()
Walmart_Store_Coutns.reset_index(inplace=True)
Walmart_Store_Coutns.to_excel("/home/jian/SunnyD/Otherinput/Walmart_Counts_In_IRI_Markets.xlsx",index=False)

In [63]:
Walmart_Zips_IRI[Walmart_Zips_IRI['IRI_Market']=='NEW YORK']

      number IRI_Market  zip code
982     5414   NEW YORK      8734
983     3795   NEW YORK      7047
1034    1810   NEW YORK     12524
1048    2531   NEW YORK     10547

In [62]:
Walmart_Zips_IRI['IRI_Market'].unique()

array(['BIRMINGHAM/MONTGOMERY', 'NEW ORLEANS/MOBILE', 'LITTLE ROCK',
       'MEMPHIS', 'PHOENIX/TUCSON', 'LOS ANGELES', 'SAN DIEGO',
       'SACRAMENTO', 'SAN FRANCISCO/OAKLAND', 'DENVER',
       'HARTFORD/SPRINGFIELD', 'PHILADELPHIA', 'ORLANDO',
       'TAMPA/ST PETERSBURG', 'MIAMI/FT LAUDERDALE', 'JACKSONVILLE',
       'ATLANTA', 'SOUTH CAROLINA', 'DES MOINES', 'OMAHA', 'BOISE',
       'SPOKANE', 'CHICAGO', 'ST LOUIS', 'PEORIA/SPRINGFIELD',
       'INDIANAPOLIS', 'CINCINNATI/DAYTON', 'LOUISVILLE', 'WICHITA',
       'KANSAS CITY', 'NASHVILLE', 'BOSTON', 'BALTIMORE/WASHINGTON',
       'NEW ENGLAND', 'GRAND RAPIDS', 'DETROIT', 'MINNEAPOLIS/ST PAUL',
       'MISSISSIPPI', 'CHARLOTTE', 'RALEIGH/GREENSBORO', 'NEW YORK',
       'WEST TEX/NEW MEXICO', 'BUFFALO/ROCHESTER', 'SYRACUSE', 'ALBANY',
       'TOLEDO', 'CLEVELAND', 'COLUMBUS', 'TULSA', 'OKLAHOMA CITY',
       'PORTLAND', 'HARRISBURG/SCRANTON', 'PITTSBURGH', 'PROVIDENCE',
       'KNOXVILLE', 'ROANOKE', 'SAN ANTONIO/CORPUS CHRISTI', 'HOUSTON',
       'DALLAS/FT WORTH', 'SALT LAKE CITY', 'RICHMOND/NORFOLK',
       'SEATTLE/TACOMA', 'GREEN BAY', 'MILWAUKEE'], dtype=object)