In [1]:
import pandas as pd

In [2]:
site_name=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q2/Email_Analysis/mapping/sites_mapping_JL_20180813_201811032019-07-23.csv",
                      dtype=str,usecols=['Site ID (DCM)','Site (DCM)']).drop_duplicates()

df_all_DCM_LR_click=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q2/Email_Analysis/dcm_lr_logs/df_click_file_all_matched_dict_JL_2019-07-23.csv",
                          dtype=str)
df_all_DCM_LR_impr=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q2/Email_Analysis/dcm_lr_logs/df_impr_file_all_matched_dict_JL_2019-07-23.csv",
                          dtype=str)

In [3]:
df_all_DCM_LR_click=pd.merge(df_all_DCM_LR_click,site_name,on="Site ID (DCM)",how="left")
df_all_DCM_LR_impr=pd.merge(df_all_DCM_LR_impr,site_name,on="Site ID (DCM)",how="left")

In [5]:
df_click=df_all_DCM_LR_click.groupby(['Site (DCM)'])['Event Time'].count().to_frame().reset_index().sort_values("Event Time")

In [6]:
df_impr=df_all_DCM_LR_impr.groupby(['Site (DCM)'])['Event Time'].count().to_frame().reset_index().sort_values("Event Time")

In [7]:
df_click

                       Site (DCM)  Event Time
9                    Tremor Video           1
6                  Pinterest Inc.           8
4                        Hulu.com          26
5                         Pandora          65
7                         Spotify         351
10                    YouTube.com        2648
3   Facebook Inc – Instagram, LLC        6661
8                  The Trade Desk       69433
0                          Criteo      137070
2                        Facebook      154535
1            DART Search : Google     1429507

In [8]:
df_impr

       Site (DCM)  Event Time
6    Tremor Video          12
4         Spotify         653
3         Pandora        9858
2        Hulu.com       17129
5  The Trade Desk    14357396
0   Big Lots News    15048035
1          Criteo    18799459