In [1]:
import pandas as pd
import datetime
import os
weeklist=['27','28','29','30','31','32','33']

In [2]:
data_2017=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz - FY 2017.xlsx",dtype=str,skiprows=27)
weekly_sales_cols=[]
for week in weeklist:
    col="2017"+week+" Weekly COMP Store Sales"
    weekly_sales_cols=weekly_sales_cols+[col]
data_2017=data_2017[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2017[col]=data_2017[col].astype(float)
    data_2017=data_2017.rename(columns={col:col[:6]+"_sales"})
data_2017_long=pd.melt(data_2017, id_vars=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'], 
                       value_vars=['201727_sales','201728_sales','201729_sales','201730_sales','201731_sales','201732_sales','201733_sales'])

In [3]:
data_2018_pre=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz - FY 2018 w.e. Aug 10.xlsx",dtype=str,skiprows=22)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_pre.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_pre=data_2018_pre[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_pre=data_2018_pre.rename(columns={col:col[:6]+"_sales"})

In [4]:
data_2018_29=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz WM Wk 201829.xlsx",dtype=str,skiprows=16)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_29.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_29=data_2018_29[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_29=data_2018_29.rename(columns={col:col[:6]+"_sales"})

In [5]:
data_2018_30=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz WM Wk 201830.xlsx",dtype=str,skiprows=16)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_30.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_30=data_2018_30[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_30=data_2018_30.rename(columns={col:col[:6]+"_sales"})

In [6]:
data_2018_31=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz WM Wk 201831.xlsx",dtype=str,skiprows=16)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_31.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_31=data_2018_31[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_31=data_2018_31.rename(columns={col:col[:6]+"_sales"})

In [7]:
data_2018_32=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz WM Wk 201832.xlsx",dtype=str,skiprows=16)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_32.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_32=data_2018_32[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_32=data_2018_32.rename(columns={col:col[:6]+"_sales"})

In [8]:
data_2018_33=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz WM Wk 201833.xlsx",dtype=str,skiprows=16)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_33.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_33=data_2018_33[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_33=data_2018_33.rename(columns={col:col[:6]+"_sales"})

In [9]:
# 7 Weeks

data_2018_4_weeks=pd.merge(data_2018_pre,data_2018_29,on=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'],how="outer")
data_2018_4_weeks=pd.merge(data_2018_4_weeks,data_2018_30,on=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'],how="outer")
data_2018_4_weeks=pd.merge(data_2018_4_weeks,data_2018_31,on=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'],how="outer")
data_2018_4_weeks=pd.merge(data_2018_4_weeks,data_2018_32,on=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'],how="outer")
data_2018_4_weeks=pd.merge(data_2018_4_weeks,data_2018_33,on=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'],how="outer")

sales_col=[x for x in data_2018_4_weeks.columns.tolist() if "sales" in x]
for col in sales_col:
    data_2018_4_weeks[col]=data_2018_4_weeks[col].astype(float)
    data_2018_4_weeks[col]=data_2018_4_weeks[col].fillna(0)

In [10]:
data_2018_long=pd.melt(data_2018_4_weeks, id_vars=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'], 
                       value_vars=['201827_sales','201828_sales','201829_sales','201830_sales','201831_sales','201832_sales','201833_sales'])

In [11]:
def func(x):
    y=len(list(set(x)))
    return y
df_YoY=data_2018_long.append(data_2017_long)
df_YoY=df_YoY.rename(columns={"variable":"week_num","value":"sales"})
df_YoY['week_num']=df_YoY['week_num'].apply(lambda x: x[:6])
df_YoY=df_YoY[df_YoY['sales']!=0]
all_available_store=df_YoY.groupby(['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'])['week_num'].agg(func).to_frame()
all_available_store=all_available_store.reset_index()
keep_store_nbr=all_available_store[all_available_store['week_num']==14]['Store Nbr'].unique().tolist()

In [12]:
df_YoY=df_YoY[df_YoY['Store Nbr'].isin(keep_store_nbr)]
df_YoY['Year']=df_YoY['week_num'].apply(lambda x: x[:4])
df_YoY_compare=df_YoY.groupby(['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc','Year','week_num'])['sales'].sum().to_frame().reset_index()

In [13]:
Zip_IRI_mapping=pd.read_excel("/home/jian/SunnyD/Otherinput/All_IRI_Mkt_with_Zips_0430.xlsx",dtype=str)
Zip_IRI_mapping=Zip_IRI_mapping.rename(columns={"zip_cd":"Zip Code"})

In [14]:
df_YoY_compare=pd.merge(df_YoY_compare,Zip_IRI_mapping,on="Zip Code",how="left")
df_YoY_compare['IRI Market']=df_YoY_compare['IRI Market'].fillna("NO MARKET")

In [15]:
Markets_18=['BIRMINGHAM/MONTGOMERY','NEW ORLEANS/MOBILE','PHOENIX/TUCSON','LOS ANGELES','DENVER','MIAMI/FT LAUDERDALE',
            'ATLANTA','SOUTH CAROLINA','CHICAGO','BOSTON','BALTIMORE/WASHINGTON','DETROIT','MISSISSIPPI','RALEIGH/GREENSBORO',
            'NEW YORK','WEST TEX/NEW MEXICO','HOUSTON','DALLAS/FT WORTH']

In [16]:
def In_18(x):
    if x in Markets_18:
        y="In_18_Mkts"
    else:
        y="Other"
    return y
df_YoY_compare['18_Mkt_Ind']=df_YoY_compare['IRI Market'].apply(lambda x: In_18(x))

In [17]:
WM_Denver=df_YoY_compare[df_YoY_compare['IRI Market']=="MIAMI/FT LAUDERDALE"]
WM_Denver=WM_Denver.groupby(['18_Mkt_Ind','Year','week_num'])['sales'].sum().reset_index()
WM_Denver['week_num']=WM_Denver['week_num'].apply(lambda x: x[4:])

In [18]:
def YoY_summary_df(df):
    df_2017_sales=df[df['Year']=='2017'].rename(columns={"sales":"sales_2017"})
    df_2018_sales=df[df['Year']=='2018'].rename(columns={"sales":"sales_2018"})

    del df_2017_sales['Year']
    del df_2018_sales['Year']
    sales_yoy=pd.merge(df_2017_sales,df_2018_sales,on=["18_Mkt_Ind",'week_num'],how="left")

    sales_yoy['sales_yoy']=(sales_yoy['sales_2018']-sales_yoy['sales_2017'])/sales_yoy['sales_2017']

    return sales_yoy

In [19]:
WM_Denver=YoY_summary_df(WM_Denver)
WM_Denver

   18_Mkt_Ind week_num  sales_2017  sales_2018  sales_yoy
0  In_18_Mkts       27     7197.12     7306.32   0.015173
1  In_18_Mkts       28     7589.88     7506.64  -0.010967
2  In_18_Mkts       29     7640.64     7482.78  -0.020661
3  In_18_Mkts       30     7643.60     7336.76  -0.040143
4  In_18_Mkts       31     7384.40     7044.72  -0.046000
5  In_18_Mkts       32    13798.24     7601.98  -0.449062
6  In_18_Mkts       33     1489.44     7566.12   4.079842

In [25]:
df_YoY_compare_summary=df_YoY_compare.groupby(['18_Mkt_Ind','Year','week_num'])['sales'].sum().reset_index()
df_YoY_compare_summary['week_num']=df_YoY_compare_summary['week_num'].apply(lambda x: x[4:])

In [26]:
df_YoY_compare_summary.to_csv("/home/jian/SunnyD/On_Going_WM_KG/Walmart/output/SunnyD_Walmart_4_weeks_YoY_"+str(datetime.datetime.now().date())+".csv",index=False)

In [27]:
len(keep_store_nbr)

4345

In [28]:
len(set(keep_store_nbr))

4345

In [29]:
df_YoY_compare_summary

    18_Mkt_Ind  Year week_num      sales
0   In_18_Mkts  2017       27  177696.95
1   In_18_Mkts  2017       28  186556.23
2   In_18_Mkts  2017       29  180089.03
3   In_18_Mkts  2017       30  174324.42
4   In_18_Mkts  2017       31  172589.10
5   In_18_Mkts  2017       32  218320.31
6   In_18_Mkts  2017       33  199397.37
7   In_18_Mkts  2018       27  175149.39
8   In_18_Mkts  2018       28  188124.57
9   In_18_Mkts  2018       29  180798.94
10  In_18_Mkts  2018       30  165749.87
11  In_18_Mkts  2018       31  162799.52
12  In_18_Mkts  2018       32  178357.37
13  In_18_Mkts  2018       33  180399.97
14       Other  2017       27  395788.08
15       Other  2017       28  402497.11
16       Other  2017       29  386051.63
17       Other  2017       30  370058.31
18       Other  2017       31  379730.56
19       Other  2017       32  466665.34
20       Other  2017       33  409640.33
21       Other  2018       27  389710.01
22       Other  2018       28  415430.32
23       Other  2018       29  398715.56
24       Other  2018       30  368903.05
25       Other  2018       31  365246.42
26       Other  2018       32  410208.64
27       Other  2018       33  387382.48