In [9]:
import pandas as pd
import numpy as np

In [10]:
Jay_Compelet_DF=pd.read_csv('/home/jian/Projects/Big Lots/QC Jay/sales_by_zip_completed.csv')

In [11]:
Jay_Compelet_DF.shape

(1634909, 14)

In [12]:
Jay_Compelet_DF['transactions'].sum()

14993708

In [32]:
df = pd.read_csv('/home/jian/BigLots/By Zip/MediaStorm Sales by Zip fiscal 2016/MediaStorm Sales by Zip - Feb-May 2016.txt',sep = ',',dtype = 'str')
df2 = pd.read_csv('/home/jian/BigLots/By Zip/MediaStorm Sales by Zip fiscal 2016/MediaStorm Sales by Zip - Oct 2016 -Jan 2017.txt',sep = ',',dtype = 'str')
df3 = pd.read_csv('/home/jian/BigLots/By Zip/MediaStorm Sales by Zip fiscal 2016/MediaStorm Sales by Zip - Jun-Sep 2016.txt',sep = ',',dtype = 'str')

df = df.append(df2, ignore_index=True)
df = df.append(df3, ignore_index=True)

In [33]:
del df2
del df3

In [34]:
df['zip']=df['zip_cd'].apply(lambda x: x[0:5])

In [37]:
df['zip_len']=df['zip_cd'].apply(len)

In [38]:
df=df[df['zip_len']>=5]

In [39]:
df['zip_1']=df['zip_cd'].apply(lambda x: x[0])
df['zip_2']=df['zip_cd'].apply(lambda x: x[1])
df['zip_3']=df['zip_cd'].apply(lambda x: x[2])
df['zip_4']=df['zip_cd'].apply(lambda x: x[3])
df['zip_5']=df['zip_cd'].apply(lambda x: x[4])

In [40]:
num_list = ['0','1','2','3','4','5','6','7','8','9']

In [41]:
df.shape

(15655073, 11)

In [42]:
df = df[df['zip_1'].isin(num_list)]
df = df[df['zip_2'].isin(num_list)]
df = df[df['zip_3'].isin(num_list)]
df = df[df['zip_4'].isin(num_list)]
df = df[df['zip_5'].isin(num_list)]
df.shape

(15655070, 11)

In [43]:
del df['zip_1']
del df['zip_2']
del df['zip_3']
del df['zip_4']
del df['zip_5']
del df['zip_len']

In [45]:
df['zip']=df['zip'].astype('int')

In [ ]:
df['zip']=df[df['zip']!=0]

In [46]:
store_list = pd.read_csv('/home/jian/BigLots/static_files/MediaStormStoreList_Nov15.txt',sep = '|',dtype = 'str')

In [47]:
df = df[df['location_id'].isin(store_list['location_id'])]

In [48]:
df['net_transaction_amt']=df['net_transaction_amt'].astype(float)

In [49]:
df.drop_duplicates(inplace=True)

In [51]:
df.shape

(15218174, 5)

In [52]:
def f(x):
    d = {}
    d['net_transaction_amt'] = x['net_transaction_amt'].sum()
    d['transactions'] = x['net_transaction_amt'].count()
    return pd.Series(d, index=['net_transaction_amt', 'transactions'])

In [53]:
df_agg = df.groupby(['location_id','zip']).apply(f)

In [54]:
df_agg.reset_index(inplace=True)

In [64]:
df_agg['location_id']=df_agg['location_id'].astype(int)
df_agg['zip']=df_agg['zip'].astype(int)

Jay_Compelet_DF['zip']=Jay_Compelet_DF['zip'].astype(int)
Jay_Compelet_DF['location_id']=Jay_Compelet_DF['location_id'].astype(int)

In [66]:
df_agg['location_id']=df_agg['location_id'].astype(str)
df_agg['zip']=df_agg['zip'].astype(str)

Jay_Compelet_DF['zip']=Jay_Compelet_DF['zip'].astype(str)
Jay_Compelet_DF['location_id']=Jay_Compelet_DF['location_id'].astype(str)

In [67]:
Jay_Compelet_DF['Key']=Jay_Compelet_DF['location_id']+'|'+Jay_Compelet_DF['zip']

In [68]:
df_agg['Key']=df_agg['location_id']+'|'+df_agg['zip']

In [69]:
Jay_Compelet_DF.shape

(1634909, 15)

In [70]:
df_agg.shape

(1674151, 7)

In [71]:
df_agg_inmy=df_agg[~df_agg['Key'].isin(Jay_Compelet_DF['Key'])]

In [72]:
df_agg_inmy.shape

(39242, 7)

In [75]:
df_agg_inmy=df_agg_inmy[df_agg_inmy['zip']!='0']
df_agg_inmy.head()

,location_id,zip,net_transaction_amt,transactions,revenue_flag,transaction_flag,Key
212,1,31100,68.89,1.0,P,T,1|31100
213,1,31115,12.78,2.0,T,P,1|31115
320,1,40354,854.99,3.0,P,P,1|40354
342,1,42110,196.45,5.0,P,P,1|42110
344,1,42209,28.65,1.0,S,T,1|42209

In [103]:
df_us_zip_neilson = pd.read_csv('/home/jian/Projects/Big Lots/QC Jay/US_Zip_from_Neilson.csv',dtype='str')

In [104]:
df_us_zip_neilson.head()

,ZIP,DMA,DMA.1,ADDITIONAL_DMA,ST.CODE,CTY_CODE,ST,COUNTY,CTY_SIZE,NMR_TERR.,NOT_USED,DMA_RANK,METRO_INDIC.
0,501,501,NEW YORK,NaN,31,103,NY,SUFFOLK,6,1,NaN,1,M
1,544,501,NEW YORK,NaN,31,103,NY,SUFFOLK,6,1,NaN,1,M
2,1001,543,SPRINGFIELD-HOLYOKE,NaN,20,13,MA,HAMPDEN,7,1,NaN,114,M
3,1002,543,SPRINGFIELD-HOLYOKE,#,20,11,MA,FRANKLIN,7,1,NaN,114,NaN
4,1002,543,SPRINGFIELD-HOLYOKE,#,20,15,MA,HAMPSHIRE,7,1,NaN,114,M

In [105]:
df_agg=df_agg[df_agg['zip'].isin(df_us_zip_neilson['ZIP'])]
df_agg=df_agg[df_agg['zip']!='0']

In [106]:
df_agg.shape

(1635207, 7)

In [107]:
Jay_Compelet_DF.shape

(1634909, 15)

In [120]:
df_agg=df_agg[df_agg['Key'].isin(Jay_Compelet_DF['Key'])]

In [122]:
df_agg=df_agg.sort_values(['location_id','zip'])

In [123]:
Jay_Compelet_DF=Jay_Compelet_DF.sort_values(['location_id','zip'])

In [130]:
Jay_Compelet_DF.head()

,zip,city,state,zip_lat,zip_lng,store_zip,location_id,store_lat,store_lng,distance_to_store,net_transaction_amt,transactions,revenue_flag,transaction_flag,Key
632,10454,set(['BRONX']),set(['New York']),40.807740,-73.918452,False,1,39.913636,-82.914789,477.432399,6.45,1,T,T,1|10454
339,10467,set(['BRONX']),set(['New York']),40.873658,-73.871631,False,1,39.913636,-82.914789,480.247994,259.59,3,T,T,1|10467
140,10469,set(['BRONX']),set(['New York']),40.870917,-73.849413,False,1,39.913636,-82.914789,481.388058,191.19,8,T,T,1|10469
739,10977,set(['ROCKLAND']),set(['New York']),41.120201,-74.041619,False,1,39.913636,-82.914789,473.245766,65.15,1,T,T,1|10977
114,11238,set(['KINGS']),set(['New York']),40.679620,-73.962926,False,1,39.913636,-82.914789,474.493161,426.17,10,T,T,1|11238

In [124]:
df_agg.head()

,location_id,zip,net_transaction_amt,transactions,revenue_flag,transaction_flag,Key
19,1,10454,6.45,1.0,T,T,1|10454
20,1,10467,259.59,3.0,P,P,1|10467
21,1,10469,191.19,8.0,P,P,1|10469
22,1,10977,65.15,1.0,P,T,1|10977
23,1,11238,426.17,10.0,P,P,1|11238

In [131]:
Jay_Compelet_DF['transactions'].sum()-df_agg['transactions'].sum()

-2962.0

In [132]:
Jay_Compelet_DF['net_transaction_amt'].sum()-df_agg['net_transaction_amt'].sum()

-103109.88999843597

In [127]:
Jay_Compelet_DF.shape

(1634909, 15)

In [128]:
df_agg.shape

(1634909, 7)