In [41]:
import pandas as pd
import os
import datetime

os.getcwd()

'/home/jian/Projects/Smoothie_King/weekly_TA_updates/output_20190325'

In [42]:
DMA_zip=pd.read_excel("/home/jian/Docs/Geo_mapping/Zips by DMA by County16-17 nielsen.xlsx",skiprows=1,dtype=str,usecols=[0,2])
DMA_zip=DMA_zip.drop_duplicates()
DMA_zip=DMA_zip.rename(columns={"CODE":"zip","NAME":"DMA"})
DMA_zip=DMA_zip.groupby(['zip'])['DMA'].apply(set).to_frame().reset_index()
DMA_zip.head(2)

     zip         DMA
0  00501  {NEW YORK}
1  00544  {NEW YORK}

In [43]:
df_TA_data_by_store=pd.ExcelFile("/home/jian/Projects/Smoothie_King/weekly_TA_updates/output_20190325/SmoothieKing_TA_of_3_miles_zips_JL_2019-03-26.xlsx")
df_TA_data_by_store.sheet_names

['summary_by_TA', 'output_TA_by_store', 'zip_TA', 'summary_by_store_count']

In [44]:
df_TA_data_by_store=df_TA_data_by_store.parse("output_TA_by_store",dtype=str)
del df_TA_data_by_store['used_lat']
del df_TA_data_by_store['used_long']
df_TA_data_by_store['zip'].apply(lambda x: len(x)).unique()

array([5, 8])

In [45]:
df_TA_data_by_store[df_TA_data_by_store['zip'].apply(lambda x: len(x))==8]

,storenumber,Address,city,state,zip,StoreOpenDate,Latitude,Longitude,Ownership,Franchisee_Name,IPAddress,DriveThru,status,StoreCloseDate,zips_3_miles,TA
899,1719,3251 VANDERCAR WAY,CINCINNATI,OH,45209DMA,2019-03-11 00:00:00,39.1582807,-84.4271971,Franchised,John Clancy & Bob Hamilton,nan,Y,New,nan,"['45213', '45212', '45226', '45209DMA', '45207...","2_['0522', '1719']"

In [46]:
df_TA_data_by_store['zip']=df_TA_data_by_store['zip'].apply(lambda x: x[:5])
df_TA_data_by_store.shape

(907, 16)

In [47]:
df_TA_data_by_store=pd.merge(df_TA_data_by_store,DMA_zip,on="zip",how="left")
df_TA_data_by_store.shape

(907, 17)

In [48]:
writer=pd.ExcelWriter("/home/jian/Projects/Smoothie_King/weekly_TA_updates/output_20190325/SK_stores_in_TA_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_TA_data_by_store.to_excel(writer,"stores_in_TA",index=False)
writer.save()