In [18]:
import paramiko
import os
import datetime

os.getcwd()

'/home/jian/BigLots'

In [19]:
folderpath = '/home/jian/BiglotsCode/outputs/'
lastweeksdate=str(datetime.datetime.now().date()-datetime.timedelta(days=datetime.datetime.now().date().weekday()-1+10))

Tuesday_StampDate_Str=str(datetime.datetime.now().date()-datetime.timedelta(days=datetime.datetime.now().date().weekday()-1))
Tuesday_today_str =Tuesday_StampDate_Str[0:4]+Tuesday_StampDate_Str[5:7]+Tuesday_StampDate_Str[8:10]
thisweeksdate=str(datetime.datetime.now().date()-datetime.timedelta(days=datetime.datetime.now().date().weekday()-1+3))

today_str=str(datetime.datetime.now().date())
# logging.basicConfig(filename='celery.log', level=logging.INFO)


# In[2]:

recent_weekly_data_folder="/home/jian/BigLots/MediaStorm_"+thisweeksdate+"/"
Simeng_recent_weekly_data_folder="/home/simeng/outputs_"+thisweeksdate+"/"

Saturday_str=str(datetime.datetime.now().date()-datetime.timedelta(days=datetime.datetime.now().date().weekday()-1+3-7))

In [20]:
del Saturday_str
    
try:
    os.stat(recent_weekly_data_folder)
except:
    os.mkdir(recent_weekly_data_folder)

try:
    os.stat(Simeng_recent_weekly_data_folder)
except:
    os.mkdir(Simeng_recent_weekly_data_folder)

# logging.info(str(datetime.datetime.now())+": Start Running")
# In[3]:

host = "64.237.51.251" #hard-coded
port = 22
transport = paramiko.Transport((host, port))

password = "bwRi3V6fgZsfJrMl" #hard-coded
username = "client" #hard-coded
transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)


Client_Today_STR=str(datetime.datetime.now().date())
Client_Today_NUM_STR =Client_Today_STR[0:4]+Client_Today_STR[5:7]+Client_Today_STR[8:10]

new_weekly_file_list=sftp.listdir("/mnt/drv5/biglots_data/")
new_weekly_file_list=["/mnt/drv5/biglots_data/"+x for x in new_weekly_file_list if Client_Today_NUM_STR in x]

for new_weekly_file in new_weekly_file_list:
    localpath=recent_weekly_data_folder+new_weekly_file.split("/")[len(new_weekly_file.split("/"))-1]
    try:
        os.stat(localpath)
    except:
        sftp.get(new_weekly_file,localpath)

sftp.close()
transport.close()

In [21]:
host = "64.237.51.251" #hard-coded
port = 22
transport = paramiko.Transport((host, port))

password = "bwRi3V6fgZsfJrMl" #hard-coded
username = "client" #hard-coded
transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)

In [22]:
Client_Today_NUM_STR

'20191212'

In [23]:
new_weekly_file_list=sftp.listdir("/mnt/drv5/biglots_data/")
new_weekly_file_list=["/mnt/drv5/biglots_data/"+x for x in new_weekly_file_list if "20191211" in x]

for new_weekly_file in new_weekly_file_list:
    localpath=recent_weekly_data_folder+new_weekly_file.split("/")[len(new_weekly_file.split("/"))-1]
    try:
        os.stat(localpath)
    except:
        sftp.get(new_weekly_file,localpath)

In [25]:
remote_path_POS="/mnt/drv5/biglots_data/MediaStormDailySales.txt"

In [26]:
localpath=recent_weekly_data_folder+remote_path_POS.split("/")[len(remote_path_POS.split("/"))-1]
print(localpath)

/home/jian/BigLots/MediaStorm_2019-12-07/MediaStormDailySales.txt

In [27]:
sftp.get(remote_path_POS,localpath)

In [28]:
sftp.close()
transport.close()

In [29]:
localpath

'/home/jian/BigLots/MediaStorm_2019-12-07/MediaStormDailySales.txt'

In [30]:
import pandas as pd
df=pd.read_csv(localpath,dtype=str,nrows=100000,sep="|")
df

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt
0,1875,2019-12-01,7520,NaN,25002,1,810447954,1,00000000000012.0000
1,346,2019-12-04,1871,f33fa8063dab3f143fcc3b569f2eedb57871d2dec8bb31...,33002,4,810349920,1,00000000000003.5000
2,1635,2019-12-06,8491,NaN,13002,1,810442749,1,00000000000003.5000
3,4562,2019-12-01,3864,986afd09182d81d7047458f7dd5b70a85356d1034488ce...,36001,8,810117887,1,00000000000005.0000
4,5345,2019-12-07,5116,f8cd6553d490c3149b7adaa36d08514b066fe64bec9242...,11004,1,810212056,1,00000000000002.5000
...,...,...,...,...,...,...,...,...,...
99995,4539,2019-12-01,7603,NaN,27005,3,810220381,1,00000000000004.0000
99996,4150,2019-12-01,108,NaN,36007,2,360027452,1,00000000000012.0000
99997,4263,2019-12-04,5807,NaN,48001,3,810446346,1,00000000000005.0000
99998,4595,2019-12-03,6022,4ce73362c79d4c4c973ae82761ddd70bece07adc24458d...,16003,2,810437966,1,00000000000009.9900
99999,1589,2019-12-01,2902,3a4f3b9c402ea271af548b366242290412756d8aa96a50...,35084,5,810360280,1,00000000000004.0000

In [31]:
df['transaction_dt'].max()

'2019-12-07'

In [32]:
df['transaction_dt'].min()

'2019-12-01'