In [1]:
import pandas as pd
import os
import glob
os.getcwd()

'/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update/Answer Bruce Questions'

In [34]:
apply_func={"total_transaction_amt":['median','mean','max','min']}

In [38]:
df=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update/crm_newscore_0922/dfrfm.csv",
                 usecols=['frmindex','total_transaction_amt'])
summary_Q4_Segment_by_Decile=df.groupby(['frmindex'])['total_transaction_amt'].agg(apply_func).reset_index()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

In [39]:
HML_dict={1:"High",2:"Good",3:"High",4:"Low",5:"Good",6:"Low",7:"Good",8:"Low",9:"Good",10:"Low"}
df['Value_Group']=df['frmindex'].apply(lambda x: HML_dict[x])
summary_Q4_Segment_by_HML=df.groupby(['Value_Group'])['total_transaction_amt'].agg(apply_func).reset_index()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

In [40]:
summary_Q4_Segment_by_Decile.to_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update/Answer Bruce Questions/values_summary_by_decile.csv",index=False)
summary_Q4_Segment_by_HML.to_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update/Answer Bruce Questions/values_summary_by_value_group.csv",index=False)

In [41]:
summary_Q4_Segment_by_HML

  Value_Group total_transaction_amt
                             median        mean         max        min
0        Good                133.38  228.313258   810412.37 -480522.12
1        High                434.81  632.181535  1002469.42   -3175.00
2         Low                 30.80   60.273584    70092.41   -3552.85