In [1]:
import glob
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
import logging
logging.basicConfig(filename='impr_to_sql.log', 
                    level=logging.INFO, 
                    format='%(asctime)s %(message)s')

import json
files_in_mysql = json.load(open('impr_files_in_mysql.json', 'r'))

files = glob.glob('/home/jubauser1/jzou/dcm_account7252/impression/*')
files = [x for x in files if x not in files_in_mysql]
files.sort()

engine = create_engine('mysql://root:JubaPlus-2017@localhost/dcm_account7252')

for f in files:
    try:
        df = pd.read_csv(f, index_col=['Campaign ID', 'Event Time'])
        df['file_name'] = f

        df.to_sql('impression', con=engine, if_exists='append')

        files_in_mysql.append(f)
        logging.info(f)
        del df
    except Exception as e:
        logging.warning('file: %s, warning:%s'%(f, e))

json.dump(files_in_mysql, open('impr_files_in_mysql.json', 'w'))

In [2]:
pd.options.display.max_rows=6

In [3]:
f = '/home/jubauser1/jzou/dcm_account7252/impression/dcm_account7252_impression_2017082022_20170821_001749_599244388.csv.gz'
df = pd.read_csv(f)

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df = df[df['Campaign ID'] == 11527750]
df

,Event Time,User ID,Advertiser ID,Campaign ID,Ad ID,Rendering ID,Creative Version,Site ID (DCM),Placement ID,Country Code,...,DBM Media Fee 5 (Advertiser Currency),DBM Data Fees (USD),DBM Data Fees (Partner Currency),DBM Data Fees (Advertiser Currency),DBM Billable Cost (USD),DBM Billable Cost (Partner Currency),DBM Billable Cost (Advertiser Currency),Active View: Eligible Impressions,Active View: Measurable Impressions,Active View: Viewable Impressions
0,1503267418945400,0,6171870,11527750,403334882,91990901,1,2991547,153659856,US,...,0,500000,500000,500000,588400,588400,588400,0,0,0
3,1503267047139806,0,6171870,11527750,403284425,92056578,1,2991547,153665266,US,...,0,500000,500000,500000,684535,684535,684535,1,1,0
7,1503269529693207,0,6171870,11527750,403334882,91990907,1,2991547,153659856,US,...,0,500000,500000,500000,5399570,5399570,5399570,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413122,1503269077188607,AMsySZacnnPmE1khDBXeHGbx9AsV,6171870,11527750,323569542,90185938,1,1718006,153375379,US,...,0,0,0,0,0,0,0,1,1,1
413125,1503270329335807,AMsySZb-0D-t92If0aJp15daFV88,6171870,11527750,323569542,90185938,1,2278085,153379581,US,...,0,0,0,0,0,0,0,0,0,0
413130,1503269139471297,0,6171870,11527750,403334882,91990907,1,2991547,153659856,US,...,0,250000,250000,250000,559400,559400,559400,1,1,1

In [5]:
df['file_name'] = f

In [6]:
df

,Event Time,User ID,Advertiser ID,Campaign ID,Ad ID,Rendering ID,Creative Version,Site ID (DCM),Placement ID,Country Code,...,DBM Data Fees (USD),DBM Data Fees (Partner Currency),DBM Data Fees (Advertiser Currency),DBM Billable Cost (USD),DBM Billable Cost (Partner Currency),DBM Billable Cost (Advertiser Currency),Active View: Eligible Impressions,Active View: Measurable Impressions,Active View: Viewable Impressions,file_name
0,1503267418945400,0,6171870,11527750,403334882,91990901,1,2991547,153659856,US,...,500000,500000,500000,588400,588400,588400,0,0,0,/home/jubauser1/jzou/dcm_account7252/impressio...
3,1503267047139806,0,6171870,11527750,403284425,92056578,1,2991547,153665266,US,...,500000,500000,500000,684535,684535,684535,1,1,0,/home/jubauser1/jzou/dcm_account7252/impressio...
7,1503269529693207,0,6171870,11527750,403334882,91990907,1,2991547,153659856,US,...,500000,500000,500000,5399570,5399570,5399570,0,0,0,/home/jubauser1/jzou/dcm_account7252/impressio...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413122,1503269077188607,AMsySZacnnPmE1khDBXeHGbx9AsV,6171870,11527750,323569542,90185938,1,1718006,153375379,US,...,0,0,0,0,0,0,1,1,1,/home/jubauser1/jzou/dcm_account7252/impressio...
413125,1503270329335807,AMsySZb-0D-t92If0aJp15daFV88,6171870,11527750,323569542,90185938,1,2278085,153379581,US,...,0,0,0,0,0,0,0,0,0,/home/jubauser1/jzou/dcm_account7252/impressio...
413130,1503269139471297,0,6171870,11527750,403334882,91990907,1,2991547,153659856,US,...,250000,250000,250000,559400,559400,559400,1,1,1,/home/jubauser1/jzou/dcm_account7252/impressio...

In [14]:
import sys
sys.getsizeof(df)

264550706

In [13]:
engine = create_engine('mysql://root:JubaPlus-2017@localhost/dcm7252?unix_socket=/home/mysql/mysql/mysql.sock')

In [14]:
df.to_sql('impression_campaign_11527750', con=engine, if_exists='append', index=False)

In [19]:
sql = 'select `Event Time`, `User ID` from impression_campaign_11527750;'
df2 = pd.read_sql(sql, con=engine)

In [20]:
df2

              Event Time                       User ID
0       1503267418945400                             0
1       1503267047139806                             0
2       1503269529693207                             0
...                  ...                           ...
135849  1503269077188607  AMsySZacnnPmE1khDBXeHGbx9AsV
135850  1503270329335807  AMsySZb-0D-t92If0aJp15daFV88
135851  1503269139471297                             0

[135852 rows x 2 columns]

In [17]:
import json
files_in_mysql = [f]#json.load(open('impr_files_in_mysql.json', 'r'))

In [18]:
json.dump(files_in_mysql, open('/home/jubauser1/jzou/dcm_account7252/scripts/winery/impr_files_in_mysql.json', 'w'))