In [7]:
import pandas as pd
import datetime

In [8]:
week_list=["2018-02-17","2018-02-24","2018-03-03","2018-03-10","2018-03-17","2018-03-24","2018-03-31","2018-04-07"]

In [9]:
folder_list=["/home/jian/BigLots/2018 by weeks/MediaStorm "+week+"/MediaStormTrafficWeekly.txt" for week in week_list]

In [10]:
df_traffic=pd.read_excel("/home/jian/Projects/Big_Lots/Weather/Q1_Weeks/BL_Weather_8weeks_5ivs_YoY_Dollar.xlsx")
df_traffic=df_traffic[['location_id','zip_cd']]
for file in folder_list:
    date=file[44:54]
    df=pd.read_csv(file,dtype=str,sep="|")

    day1=datetime.datetime.strptime(date,"%Y-%m-%d").date()+datetime.timedelta(days=-6+0)
    day2=datetime.datetime.strptime(date,"%Y-%m-%d").date()+datetime.timedelta(days=-6+1)
    day3=datetime.datetime.strptime(date,"%Y-%m-%d").date()+datetime.timedelta(days=-6+2)
    day4=datetime.datetime.strptime(date,"%Y-%m-%d").date()+datetime.timedelta(days=-6+3)
    day5=datetime.datetime.strptime(date,"%Y-%m-%d").date()+datetime.timedelta(days=-6+4)
    day6=datetime.datetime.strptime(date,"%Y-%m-%d").date()+datetime.timedelta(days=-6+5)
    day7=datetime.datetime.strptime(date,"%Y-%m-%d").date()+datetime.timedelta(days=-6+6)
    df.rename(columns={'traffic_day_1': str(day1), 'traffic_day_2': str(day2),'traffic_day_3': str(day3),'traffic_day_4': str(day4),
                      'traffic_day_5': str(day5),'traffic_day_6': str(day6),'traffic_day_7': str(day7)}, inplace=True)
    df=df[["location_id",str(day1),str(day2),str(day3),str(day4),str(day5),str(day6),str(day7)]]    
    for col in df.columns:
        df[col]=df[col].astype(int)
    df_traffic=pd.merge(df_traffic,df,on="location_id",how="left")

In [11]:
df_traffic.head(2)

,location_id,zip_cd,2018-02-11,2018-02-12,2018-02-13,2018-02-14,2018-02-15,2018-02-16,2018-02-17,2018-02-18,...,2018-03-29,2018-03-30,2018-03-31,2018-04-01,2018-04-02,2018-04-03,2018-04-04,2018-04-05,2018-04-06,2018-04-07
0,1493,1060,452.0,482.0,467.0,429.0,394.0,449.0,621.0,437.0,...,474.0,637.0,795.0,366.0,470.0,414.0,427.0,528.0,388.0,1135.0
1,1863,1089,652.0,671.0,697.0,615.0,591.0,757.0,955.0,667.0,...,645.0,927.0,1164.0,621.0,232.0,646.0,600.0,641.0,674.0,1354.0

In [12]:
df_traffic.to_csv("/home/jian/Projects/Big_Lots/Weather/Q1_Weeks/Traffic_Q1.csv",index=False)