In [53]:
import pymysql

def createdataset():
    con = pymysql.connect('localhost','root', 'JubaPlus-2017', "biglotsdata", unix_socket="/var/lib/mysql/mysql.sock")
    with con:  
        cur = con.cursor()
        cur.execute("DROP TABLE IF EXISTS detail_store_sales")
        cur.execute("CREATE TABLE detail_store_sales(location_id VARCHAR(10),\
                     week_end_dt DATE,\
                     fiscal_week_nbr INT(5),\
                     gross_sales_amt DECIMAL(20,2),\
                     gross_transaction_cnt INT(10),\
                     class_code_id VARCHAR(20),\
                     class_gross_sales_amt DECIMAL(20,2))")
    print("1:An empty TABLE detail_store_sales has been created.")

In [54]:
createdataset()

1:An empty TABLE detail_store_sales has been created.

In [55]:
import logging
import datetime
import os
import datetime
import gc
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine('mysql://root:JubaPlus-2017@localhost/biglotsdata')
logging.basicConfig(filename='Log_Read_Detail_Store_Sales.log', level=logging.INFO)
logging.info('biglotslog')
logging.info(datetime.datetime.now())



filepath = ['/home/jubauser1/BigLots/MediaStormDataExtract/MediaStorm Data Extract - Detail Store Sales1 (stores up to 1000).txt',
'/home/jubauser1/BigLots/MediaStormDataExtract/MediaStorm Data Extract - Detail Store Sales2 (stores 1001 to 1450).txt',
           '/home/jubauser1/BigLots/MediaStormDataExtract/MediaStorm Data Extract - Detail Store Sales3 (stores 1451 to 1750).txt',
           '/home/jubauser1/BigLots/MediaStormDataExtract/MediaStorm Data Extract - Detail Store Sales4 (stores 1751 to 2000).txt',
           '/home/jubauser1/BigLots/MediaStormDataExtract/MediaStorm Data Extract - Detail Store Sales5 (stores 2001 to 4500).txt',
           '/home/jubauser1/BigLots/MediaStormDataExtract/MediaStorm Data Extract - Detail Store Sales6 (stores 4501 to 5000).txt',
           '/home/jubauser1/BigLots/MediaStormDataExtract/MediaStorm Data Extract - Detail Store Sales7 (stores 5001 to 6990).txt'] 

for i in filepath:
    df_detail_store_sales = pd.read_table(i,sep = '|',na_values=['?'])
    df_detail_store_sales['week_end_dt'] = pd.to_datetime(df_detail_store_sales['week_end_dt'])
    df_detail_store_sales.to_sql(name='detail_store_sales', con=engine, if_exists = 'append', index=False, chunksize=1000)
    logging.info(i)

In [43]:
df_detail_store_sales = pd.read_table(i,sep = '|',na_values=['?'])
df_detail_store_sales['week_end_dt'] = pd.to_datetime(df_detail_store_sales['week_end_dt'])

In [44]:
print(df_detail_store_sales)

         location_id week_end_dt  fiscal_week_nbr  gross_sales_amt  \
0                  1  2015-05-09               14         82990.37
1                  1  2015-05-16               15         69965.91
2                  1  2015-05-23               16         84370.89
3                  1  2015-05-23               16         84370.89
4                  1  2015-05-23               16         84370.89
5                  1  2015-05-23               16         84370.89
6                  1  2015-05-23               16         84370.89
7                  1  2015-05-23               16         84370.89
8                  1  2015-05-23               16         84370.89
9                  1  2015-05-23               16         84370.89
10                 1  2015-05-23               16         84370.89
11                 1  2015-05-23               16         84370.89
12                 1  2015-05-23               16         84370.89
13                 1  2015-05-23               16         84370.89
14                 1  2015-05-23               16         84370.89
15                 1  2015-05-23               16         84370.89
16                 1  2015-05-23               16         84370.89
17                 1  2015-05-23               16         84370.89
18                 1  2015-05-23               16         84370.89
19                 1  2015-05-23               16         84370.89
20                 1  2015-05-23               16         84370.89
21                 1  2015-05-23               16         84370.89
22                 1  2015-05-23               16         84370.89
23                 1  2015-05-23               16         84370.89
24                 1  2015-05-23               16         84370.89
25                 1  2015-05-23               16         84370.89
26                 1  2015-05-23               16         84370.89
27                 1  2015-05-23               16         84370.89
28                 1  2015-05-23               16         84370.89
29                 1  2015-05-23               16         84370.89
...              ...         ...              ...              ...
5562910          849  2017-04-29               13         70525.69
5562911          849  2017-04-29               13         70525.69
5562912          849  2017-04-29               13         70525.69
5562913          849  2017-04-29               13         70525.69
5562914          849  2017-04-29               13         70525.69
5562915          849  2017-04-29               13         70525.69
5562916          849  2017-04-29               13         70525.69
5562917          849  2017-04-29               13         70525.69
5562918          849  2017-04-29               13         70525.69
5562919          849  2017-04-29               13         70525.69
5562920          849  2017-04-29               13         70525.69
5562921          849  2017-04-29               13         70525.69
5562922          849  2017-04-29               13         70525.69
5562923          849  2017-04-29               13         70525.69
5562924          849  2017-04-29               13         70525.69
5562925          849  2017-04-29               13         70525.69
5562926          849  2017-04-29               13         70525.69
5562927          849  2017-04-29               13         70525.69
5562928          849  2017-04-29               13         70525.69
5562929          849  2017-04-29               13         70525.69
5562930          849  2017-04-29               13         70525.69
5562931          849  2017-04-29               13         70525.69
5562932          849  2017-04-29               13         70525.69
5562933          849  2017-04-29               13         70525.69
5562934          849  2017-04-29               13         70525.69
5562935          849  2017-04-29               13         70525.69
5562936          849  2017-04-29               13         70525.69
5562937          849  2017-04-29               13         70525.69
5562938          849  2017-04-29               13         70525.69
5562939          849  2017-04-29               13         70525.69

         gross_transaction_cnt  class_code_id  class_gross_sales_amt
0                         2977            NaN                    NaN
1                         2652            NaN                    NaN
2                         2823        11001.0                1235.16
3                         2823        11002.0                   2.25
4                         2823        11003.0                2626.67
5                         2823        11004.0                1647.35
6                         2823        11005.0                1016.30
7                         2823        11006.0                 340.83
8                         2823        11007.0                1118.58
9                         2823        11008.0                1774.26
10                        2823        11009.0                1200.56
11                        2823        11011.0                  60.24
12                        2823        11012.0                 201.84
13                        2823        11013.0                 388.40
14                        2823        11014.0                 390.01
15                        2823        11101.0                1328.39
16                        2823        11102.0                  52.25
17                        2823        11103.0                 152.55
18                        2823        11104.0                 260.98
19                        2823        11105.0                 217.07
20                        2823        11106.0                 123.20
21                        2823        11107.0                 108.17
22                        2823        11401.0                 161.06
23                        2823        11402.0                  47.15
24                        2823        11403.0                 461.36
25                        2823        12002.0                 108.40
26                        2823        12003.0                  47.00
27                        2823        12004.0                 378.08
28                        2823        12005.0                 382.60
29                        2823        12006.0                1105.08
...                        ...            ...                    ...
5562910                   1694        52002.0                  73.97
5562911                   1694        52003.0                  43.33
5562912                   1694        52004.0                   0.88
5562913                   1694        52008.0                   0.05
5562914                   1694        53001.0                 160.75
5562915                   1694        54002.0                   4.00
5562916                   1694        55002.0                  15.00
5562917                   1694        55003.0                 236.62
5562918                   1694        55004.0                 106.76
5562919                   1694        55005.0                  42.99
5562920                   1694        55006.0                 126.44
5562921                   1694        55008.0                  83.72
5562922                   1694        55011.0                 550.50
5562923                   1694        55012.0                 185.12
5562924                   1694        56001.0                   0.05
5562925                   1694        60801.0                7477.29
5562926                   1694        60803.0                 709.77
5562927                   1694        61001.0                 136.33
5562928                   1694        61002.0                 550.12
5562929                   1694        61003.0                  99.99
5562930                   1694        61004.0                  85.78
5562931                   1694        61005.0                 116.28
5562932                   1694        61201.0                2448.92
5562933                   1694        61202.0                1153.52
5562934                   1694        61203.0                 469.95
5562935                   1694        61204.0                 175.23
5562936                   1694        61501.0                 685.68
5562937                   1694        61503.0                3094.38
5562938                   1694        61505.0                 214.37
5562939                   1694        71010.0                  60.58

[5562940 rows x 7 columns]

In [51]:
from sqlalchemy import create_engine