In [1]:
import pandas as pd
import numpy as np
import os
import datetime
os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2018_Q3/Recent_52_weeks_shoppers_Upto_End_of_Circ_Test'

In [2]:
end_date=datetime.date(2018,11,17)
start_date=end_date-datetime.timedelta(days=52*7-1)

In [3]:
historical_2017=pd.read_csv("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/From_Sp/combinedtransactions_0811.csv",
                            dtype=str,usecols=['customer_id_hashed','transaction_date','location_id','total_transaction_amt','merch_cat'])
historical_2017=historical_2017[historical_2017['merch_cat']!="80040410"]
historical_2017['total_transaction_amt']=historical_2017['total_transaction_amt'].astype(float)
historical_2017=historical_2017.drop_duplicates()
historical_2017=historical_2017[historical_2017['total_transaction_amt']>-400000]
historical_2017['transaction_date']=historical_2017['transaction_date'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
historical_2017=historical_2017[historical_2017['transaction_date']>=start_date]
historical_2017.head(2)

,customer_id_hashed,transaction_date,location_id,total_transaction_amt,merch_cat
0,bc45d2747297addd8bcad579da77756b007d27cd634c71...,2018-03-20,5158,22.25,12006001
1,f627e56e080cb699864d9c488345aee82c98fa66ebc2f2...,2018-03-10,186,16.00,55003009

In [4]:
def count_unique(x):
    y=len(set(x))
    return y

In [6]:
historical_2017['transaction_date'].max()

datetime.date(2018, 8, 11)

In [7]:
historical_2017=historical_2017[['customer_id_hashed','transaction_date','location_id']].drop_duplicates()

In [25]:
rewards_2018=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/MediaStormSalesBiWeekly20180828-131144-584.txt",
                             dtype=str,sep="|",usecols=['customer_id_hashed','location_id','transaction_dt','total_transaction_amt','merch_cat'])
rewards_2018=rewards_2018[rewards_2018['merch_cat']!='80040410']
rewards_2018['total_transaction_amt']=rewards_2018['total_transaction_amt'].astype(float)
rewards_2018=rewards_2018[rewards_2018['total_transaction_amt']>=-400000]
rewards_2018['transaction_dt']=rewards_2018['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
rewards_2018=rewards_2018[rewards_2018['transaction_dt']>historical_2017['transaction_date'].max()]

In [26]:
rewards_2018_1=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/MediaStormSalesBiWeekly20180911-133008-590.txt",
                             dtype=str,sep="|",usecols=['customer_id_hashed','location_id','transaction_dt','total_transaction_amt','merch_cat'])
rewards_2018_1=rewards_2018_1[rewards_2018_1['merch_cat']!='80040410']
rewards_2018_1['total_transaction_amt']=rewards_2018_1['total_transaction_amt'].astype(float)
rewards_2018_1=rewards_2018_1[rewards_2018_1['total_transaction_amt']>=-400000]
rewards_2018_1['transaction_dt']=rewards_2018_1['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
rewards_2018_1=rewards_2018_1[rewards_2018_1['transaction_dt']>rewards_2018['transaction_dt'].max()]
rewards_2018=rewards_2018.append(rewards_2018_1)

In [27]:
rewards_2018_1=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/MediaStormSalesBiWeekly20180925-132958-543.txt",
                             dtype=str,sep="|",usecols=['customer_id_hashed','location_id','transaction_dt','total_transaction_amt','merch_cat'])
rewards_2018_1=rewards_2018_1[rewards_2018_1['merch_cat']!='80040410']
rewards_2018_1['total_transaction_amt']=rewards_2018_1['total_transaction_amt'].astype(float)
rewards_2018_1=rewards_2018_1[rewards_2018_1['total_transaction_amt']>=-400000]
rewards_2018_1['transaction_dt']=rewards_2018_1['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
rewards_2018_1=rewards_2018_1[rewards_2018_1['transaction_dt']>rewards_2018['transaction_dt'].max()]
rewards_2018=rewards_2018.append(rewards_2018_1)

In [28]:
rewards_2018_1=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/MediaStormSalesBiWeekly20181009-132856-945.txt",
                             dtype=str,sep="|",usecols=['customer_id_hashed','location_id','transaction_dt','total_transaction_amt','merch_cat'])
rewards_2018_1=rewards_2018_1[rewards_2018_1['merch_cat']!='80040410']
rewards_2018_1['total_transaction_amt']=rewards_2018_1['total_transaction_amt'].astype(float)
rewards_2018_1=rewards_2018_1[rewards_2018_1['total_transaction_amt']>=-400000]
rewards_2018_1['transaction_dt']=rewards_2018_1['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
rewards_2018_1=rewards_2018_1[rewards_2018_1['transaction_dt']>rewards_2018['transaction_dt'].max()]
rewards_2018=rewards_2018.append(rewards_2018_1)

In [29]:
rewards_2018_1=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/MediaStormSalesBiWeekly20181023-132316-829.txt",
                             dtype=str,sep="|",usecols=['customer_id_hashed','location_id','transaction_dt','total_transaction_amt','merch_cat'])
rewards_2018_1=rewards_2018_1[rewards_2018_1['merch_cat']!='80040410']
rewards_2018_1['total_transaction_amt']=rewards_2018_1['total_transaction_amt'].astype(float)
rewards_2018_1=rewards_2018_1[rewards_2018_1['total_transaction_amt']>=-400000]
rewards_2018_1['transaction_dt']=rewards_2018_1['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
rewards_2018_1=rewards_2018_1[rewards_2018_1['transaction_dt']>rewards_2018['transaction_dt'].max()]
rewards_2018=rewards_2018.append(rewards_2018_1)

In [30]:
rewards_2018_1=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/MediaStormSalesBiWeekly20181106-132358-296.txt",
                             dtype=str,sep="|",usecols=['customer_id_hashed','location_id','transaction_dt','total_transaction_amt','merch_cat'])
rewards_2018_1=rewards_2018_1[rewards_2018_1['merch_cat']!='80040410']
rewards_2018_1['total_transaction_amt']=rewards_2018_1['total_transaction_amt'].astype(float)
rewards_2018_1=rewards_2018_1[rewards_2018_1['total_transaction_amt']>=-400000]
rewards_2018_1['transaction_dt']=rewards_2018_1['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
rewards_2018_1=rewards_2018_1[rewards_2018_1['transaction_dt']>rewards_2018['transaction_dt'].max()]
rewards_2018=rewards_2018.append(rewards_2018_1)

In [31]:
rewards_2018_1=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/MediaStormSalesBiWeekly20181120-132652-284.txt",
                             dtype=str,sep="|",usecols=['customer_id_hashed','location_id','transaction_dt','total_transaction_amt','merch_cat'])
rewards_2018_1=rewards_2018_1[rewards_2018_1['merch_cat']!='80040410']
rewards_2018_1['total_transaction_amt']=rewards_2018_1['total_transaction_amt'].astype(float)
rewards_2018_1=rewards_2018_1[rewards_2018_1['total_transaction_amt']>=-400000]
rewards_2018_1['transaction_dt']=rewards_2018_1['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
rewards_2018_1=rewards_2018_1[rewards_2018_1['transaction_dt']>rewards_2018['transaction_dt'].max()]
rewards_2018=rewards_2018.append(rewards_2018_1)

In [32]:
rewards_2018['transaction_dt'].max()

datetime.date(2018, 11, 17)

In [33]:
rewards_2018['transaction_dt'].min()

datetime.date(2018, 8, 12)

In [34]:
rewards_2018=rewards_2018[['customer_id_hashed','transaction_dt','location_id']].rename(columns={"transaction_dt":"transaction_date"})
rewards_2018=rewards_2018.drop_duplicates()

In [35]:
import gc
gc.collect()

1871

In [47]:
recent_52_weeks_id_date=historical_2017.append(rewards_2018)

stores_rewards_date_counts=recent_52_weeks_id_date.groupby(['location_id'])['transaction_date'].apply(count_unique).to_frame().reset_index()
stores_rewards_date_counts=stores_rewards_date_counts.rename(columns={"transaction_date":"day_counts"})

stores_rewards_id_counts=recent_52_weeks_id_date.groupby(['location_id'])['customer_id_hashed'].apply(count_unique).to_frame().reset_index()
stores_rewards_id_counts=stores_rewards_id_counts.rename(columns={"customer_id_hashed":"rewards_id_counts"})

In [53]:
output=pd.merge(stores_rewards_date_counts,stores_rewards_id_counts,on="location_id",how="left")
output['location_id']=output['location_id'].astype(int)
output=output.sort_values('location_id')

In [56]:
writer=pd.ExcelWriter("/home/jian/Projects/Big_Lots/Analysis/2018_Q3/Recent_52_weeks_shoppers_Upto_End_of_Circ_Test/BL_recent_52_weeks_ids_by_Store_to_20181117_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
output.to_excel(writer,"rewards_shoppers_by_store",index=False)
writer.save()

In [50]:
stores_rewards_id_counts.head(2)

  location_id  rewards_id_counts
0           1              16761
1        1001               8611

In [52]:
stores_rewards_date_counts.head(20)

   location_id  day_counts
0            1         363
1         1001         363
2         1003         362
3         1005         362
4         1006         160
5         1007         363
6         1009         363
7         1011         363
8         1012         362
9         1013         363
10        1016         362
11        1017         363
12        1018         363
13        1019         363
14        1020         363
15        1021         362
16        1022         363
17        1027         363
18        1037         363
19        1038         362