In [42]:
import pandas as pd
import numpy as np
import datetime

# National

In [55]:
TMR_Data=pd.read_csv("/home/jian/Projects/Big_Lots/TMR/Data Cleaning/ALL MEDIA 0222_csv.csv")

In [56]:
# Remove 1 row with na date
TMR_Data=TMR_Data[~pd.isnull(TMR_Data['week date'])]
TMR_Data=TMR_Data[TMR_Data['week date']!="12/31/2017"]
TMR_Data=TMR_Data[TMR_Data['week date']!="09/25/2016"]
TMR_Data['week_start_date']=TMR_Data['week date'].apply(lambda x: datetime.datetime.strptime(x, '%m/%d/%Y').date())
TMR_Data['week_end_date']=TMR_Data['week_start_date']+ datetime.timedelta(days=6)
del TMR_Data['week date']

In [57]:
TMR_Data_National_submedia=TMR_Data['week_start_date','week_end_date','media','submedia','placement','placement','cleaned dma','']

In [58]:
TMR_Data_National_placement

,media,submedia,placement,cleaned dma,impression,click,cost,week_start_date,week_end_date
0,Cinema,xx,xx,"Albany-Schenectady-Troy, NY",19610.20632,0.0,583.306421,2017-11-12,2017-11-18
1,Cinema,xx,xx,"Albuquerque-Santa Fe, NM",35222.84050,0.0,1408.913620,2017-11-12,2017-11-18

In [53]:
TMR_Data=TMR_Data[TMR_Data['week date']!="09/25/2016"]