In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import hashlib
os.getcwd()

'/home/jian/Projects/Big_Lots/Loyal_members/loyalty_register_data'

In [6]:
test=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_register_data/MediaStormCustTot-hashed-email.txt",
                     dtype=str,sep=",",nrows=10).drop_duplicates()
test

,43449831,9a636febd7cdd10fcb4d2dd8a716cd5278cf51f36835034ce56c3aeada0623f1,2017-04-01,STORE,4672,98403,000000000000001.,0000000000000036.68,0,0.1,STORES,N,N.1
0,40000364,60573729f6ecad9eed81fe50100e601f78a314d9e3f83f...,2016-05-29,STORE,5103,21218,000000000000004.,0000000000000411.69,5,1,STORES,N,N
1,43862041,f852912b8baf39056f1d7c6b56bc19b3e0c0a5dd769fc3...,2017-05-12,STORE,1516,78570,000000000000003.,0000000000000063.00,0,0,STORES,N,N
2,29572119,c1c9ec45f0a10b2c4325b51070c884849097123829314b...,2013-05-01,ONLINE,0,NaN,000000000000001.,0000000000000020.00,0,0,STORES,N,N
3,34921710,e66d79d1835bde471e12fc73195da3602a89b0416a3f68...,2014-12-06,STORE,1586,03054,000000000000004.,0000000000000181.53,6,5,STORES,N,N
4,9197042,c6394ae23492e5ce876ce1bb29e03887ace4dbbeb9dbe9...,2010-02-12,ONLINE,0,93065,000000000000001.,0000000000000190.76,0,0,STORES,N,N
5,37683897,4ede8d1a3d496d3cdcc5d8cfbfc9f0cb3d27f92327d798...,2015-11-09,STORE,1754,19604,000000000000003.,0000000000000100.00,5,1,STORES,N,N
6,40376570,6277049b701b6a8cb415fe4ececd5896d7f6df446a32c1...,2016-07-07,STORE,206,28304,000000000000001.,0000000000000017.45,1,1,STORES,N,N
7,29991369,fe973aa6a6a7333c0a11c2e3d6e06d3ddc39afd47524a7...,2013-06-06,STORE,1799,35226,000000000000002.,0000000000000080.00,4,5,STORES,N,N
8,44911603,a8e0761ea89e2bf93e189d39e94e571bdc814d7e484c74...,2017-08-18,STORE,333,35661,000000000000001.,0000000000000010.00,0,0,STORES,N,N
9,24699750,5fdb8e722c8a8561ec88ab4c4787fdb785620673ca4b53...,2012-06-01,STORE,1069,23231,000000000000010.,0000000000000384.44,1,1,STORES,N,N

In [8]:
data_0=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_register_data/MediaStorm_Lapsed_Reward_Member_Master_from2014-08-26to2017-02-26.zip",
                     dtype=str,sep="|",usecols=['customer_id_hashed','email_address_hash','sign_up_location']).drop_duplicates()
data_0=data_0.drop_duplicates(['customer_id_hashed'])
data_0=data_0.drop_duplicates(['email_address_hash'])
len(data_0['customer_id_hashed'].unique())

1873387

In [3]:
data_1=pd.read_csv("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_register_data/MediaStormCustTot-hashed-email.txt",
                     dtype=str,header=None,usecols=[0,1,4])
data_1.columns=['customer_id_hashed','email_address_hash','sign_up_location']
data_1=data_1[data_1['sign_up_location'].apply(lambda x: len(x))<=4]
data_1['customer_id_hashed']=data_1['customer_id_hashed'].apply(lambda x: hashlib.sha256(x.encode('utf-8')).hexdigest())
data_1=data_1.drop_duplicates(['customer_id_hashed'])
data_1=data_1.drop_duplicates(['email_address_hash'])
print(len(data_1['sign_up_location'].unique()))
data_0=data_1.append(data_0)

2864

In [4]:
data_1 = pd.read_csv('/home/jian/Projects/Big_Lots/Loyal_members/loyalty_register_data/'+'MediaStormCustomerTransactionTotals_2018-01-09_2018-03-31.txt',
                     sep = ',',dtype = str,usecols=['customer_id_hashed','email_address_hash','sign_up_location'])
data_0=data_1.append(data_0)

#
data_1 = pd.read_csv('/home/jian/Projects/Big_Lots/Loyal_members/loyalty_register_data/'+'Existing Reward Member Master as of 2018-06-05.txt',
                     dtype = str,sep = '|',usecols=['customer_id_hashed','email_address_hash','sign_up_location'])
data_0=data_1.append(data_0)

#
data_1 = pd.read_csv('/home/jian/Projects/Big_Lots/Loyal_members/loyalty_register_data/'+'New Reward Member Master as of 2018-06-05.txt',
                     dtype = str,sep = '|',usecols=['customer_id_hashed','email_address_hash','sign_up_location'])
data_0=data_1.append(data_0)

In [5]:
def recursive_file_gen(my_root_dir):
    for root, dirs, files in os.walk(my_root_dir):
        for file in files:
            yield os.path.join(root, file)

walk_through_master_list=list(recursive_file_gen("/home/jian/BigLots/2018_by_weeks/"))
walk_through_master_list=[x for x in walk_through_master_list if "Master" in x]

i_counter=0
for file_path in walk_through_master_list:
    df=pd.read_csv(file_path,dtype = str,sep = '|',usecols=['customer_id_hashed','email_address_hash','sign_up_location'])
    data_0=df.append(data_0)
    i_counter+=1
    print(i_counter,datetime.datetime.now())

1 2019-01-18 15:37:19.105697
2 2019-01-18 15:37:22.355891
3 2019-01-18 15:37:25.365589
4 2019-01-18 15:37:28.599411
5 2019-01-18 15:37:31.850376
6 2019-01-18 15:37:35.049976
7 2019-01-18 15:37:38.282267
8 2019-01-18 15:37:41.727005
9 2019-01-18 15:37:44.969922
10 2019-01-18 15:37:48.161887
11 2019-01-18 15:37:51.558556
12 2019-01-18 15:37:55.165969
13 2019-01-18 15:37:58.417894
14 2019-01-18 15:38:01.848674

In [6]:
data_0=data_0.drop_duplicates(['customer_id_hashed']).drop_duplicates("email_address_hash")
data_0['sign_up_location']=data_0['sign_up_location'].fillna("0")

In [12]:

data_0.to_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update/crm_newscore_20190107/BL_id_by_register_store_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [6]:
import pandas as pd
x=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update/crm_newscore_20190107/BL_id_by_register_store_JL_2019-01-18.csv",usecols=['customer_id_hashed'])
x.shape

(23834022, 1)

In [7]:
len(x['customer_id_hashed'].unique())

23834022