In [1]:
import pandas as pd

In [8]:
data_A=pd.read_csv("/home/jian/Docs/EASI/2018-06-25/ZIP4_18_DATA_A2_CSV/ZIP4_18_DATA_A2.CSV",skiprows=1,dtype=str,usecols=['ZIP_CODE','ZIP4','CRRTTYPE','HH18','POP18'])
data_A['HH18']=data_A['HH18'].astype(float)
data_A['POP18']=data_A['POP18'].astype(float)

sum_df=data_A.groupby(['ZIP_CODE'])['HH18','POP18'].sum().reset_index()

In [17]:
sum_df.to_csv("/home/jian/Docs/EASI/2018-06-25/ZIP4_18_DATA_A2_CSV/Total_HH_POP_by_Zip_JL_20180723.csv",index=False)

In [2]:
data_A=pd.read_csv("/home/jian/Docs/EASI/2018-06-25/ZIP4_18_DATA_A2_CSV/ZIP4_18_DATA_A2.CSV",skiprows=1,dtype=str,usecols=['ZIP_CODE','ZIP4','CRRTTYPE','HH18','POP18'])

In [3]:
data_A['HH18']=data_A['HH18'].astype(float)
data_A['POP18']=data_A['POP18'].astype(float)

In [4]:
data_A.head(4)

  ZIP_CODE  ZIP4 CRRTTYPE  POP18  HH18
0    00501  0001        C    0.0   0.0
1    00501  0002        C    0.0   0.0
2    01001  0001        B  114.2  45.6
3    01001  0121        B  102.5  40.9

In [10]:
data_A_10044=data_A[data_A['ZIP_CODE']=="10044"]

In [11]:
data_A_10044['POP18'].sum()

10250.199999999999

In [9]:
data_A_10013=data_A[data_A['ZIP_CODE']=="10013"]
data_A_10013['POP18'].sum()

27183.299999999999

In [12]:
data_A['POP18'].sum()

326868762.3999995