In [2]:
import pandas as pd
import os
os.getcwd()

'/home/jian/Projects/C21/data'

In [ ]:
test_transactions=pd.read_table("/home/jian/Projects/C21/data/POS_Transaction_Data_02152019.txt.xz",sep="|",compression="xz")

In [ ]:
test_master=pd.read_table("/home/jian/Projects/C21/data/Loyalty_ID_Master_File_02152019.txt.xz",sep="|",compression="xz",nrows=10)

In [7]:
test['Loyalty_ID                                                                                                         '][1]

'                                                                                                                                             '

In [8]:
test

,Transaction_number,Store_number,Transaction_Date,TransactionTime,Item_SKU,Price,Quantity,Loyalty_ID
0,7-30-64001-01/03/2019,7,03-JAN-19,21:02:00,7669-9821001,9.99,1,...
1,7-30-64001-01/03/2019,7,03-JAN-19,21:02:00,7669-9821001,9.99,1,...
2,7-35-60623-01/03/2019,7,03-JAN-19,20:31:00,2332-1575003,19.99,1,...
3,7-21-19141-01/03/2019,7,03-JAN-19,20:04:00,9562-2631000,14.99,1,...
4,7-34-65222-01/03/2019,7,03-JAN-19,21:19:00,5125-6808007,34.99,1,...
5,7-37-52921-01/03/2019,7,03-JAN-19,14:16:00,4151-1891001,18.99,1,...
6,7-228-4244-01/03/2019,7,03-JAN-19,15:19:00,3167-3234003,11.99,1,...
7,7-31-54407-01/03/2019,7,03-JAN-19,15:33:00,7199-7411001,3.99,1,...
8,7-31-54473-01/03/2019,7,03-JAN-19,20:06:00,7199-7411001,3.99,1,...
9,7-32-52805-01/03/2019,7,03-JAN-19,15:21:00,1621-3416002,29.99,1,...