In [1]:
import pandas as pd
import datetime
import numpy as np

In [40]:
data=pd.read_excel("/home/jian/Projects/Big_Lots/Combined_Circ_News/output/BL_circula data_JL_20180507.xlsx",dtype=str,na_values="")
data=data.replace('nan',np.nan)

In [41]:
data.head(2)

,zip_cd,revenue_flag,store_1_in_zip,store_2_in_zip,HH15,Female_25_54,loyal_members,col_2016-02-07_store_circ,col_2016-02-14_store_circ,col_2016-02-21_store_circ,...,col_2018-03-25_newspaper,col_2018-03-25_store_circ,col_2018-04-08_newspaper,col_2018-04-08_store_circ,col_2018-04-15_newspaper,col_2018-04-15_store_circ,col_2018-04-22_newspaper,col_2018-04-22_store_circ,col_2018-04-29_newspaper,col_2018-04-29_store_circ
0,00501,NaN,NaN,NaN,0,0,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01001,P,NaN,NaN,6872.6,3604,1934,NaN,NaN,NaN,...,2394.565960154682,NaN,2394.565960154682,NaN,2394.565960154682,NaN,2394.565960154682,NaN,2394.565960154682,NaN

In [42]:
store_circ_col=[col for col in data.columns.tolist() if "_newspaper" in col]
newspaper_col=[col for col in data.columns.tolist() if "_store_circ" in col]
fix_col=[col for col in data.columns.tolist() if "col_" not in col]

In [44]:
num_col=['HH15','Female_25_54','loyal_members']+store_circ_col+newspaper_col
for col in num_col:
    data[col]=data[col].fillna(0)
    data[col]=data[col].apply(lambda x: int(np.ceil(float(x))))

In [50]:
newspaper_days=[datetime.datetime.strptime(col[4:14],"%Y-%m-%d").date() for col in newspaper_col]

In [56]:
newspaper_days_weekday=[date for date in newspaper_days if date.weekday()==3]

In [59]:
To do: isolate the closed stores

['col_2016-08-28_newspaper',
 'col_2016-09-04_newspaper',
 'col_2016-09-25_newspaper',
 'col_2016-10-09_newspaper',
 'col_2016-10-23_newspaper',
 'col_2016-10-30_newspaper',
 'col_2016-11-06_newspaper',
 'col_2016-11-13_newspaper',
 'col_2016-11-20_newspaper',
 'col_2016-11-23_newspaper',
 'col_2016-11-24_newspaper',
 'col_2016-11-27_newspaper',
 'col_2016-12-04_newspaper',
 'col_2016-12-11_newspaper',
 'col_2016-12-18_newspaper',
 'col_2017-01-08_newspaper',
 'col_2017-02-05_newspaper',
 'col_2017-02-12_newspaper',
 'col_2017-02-19_newspaper',
 'col_2017-03-05_newspaper',
 'col_2017-03-12_newspaper',
 'col_2017-03-19_newspaper',
 'col_2017-04-02_newspaper',
 'col_2017-04-09_newspaper',
 'col_2017-04-23_newspaper',
 'col_2017-04-30_newspaper',
 'col_2017-05-21_newspaper',
 'col_2017-05-28_newspaper',
 'col_2017-06-11_newspaper',
 'col_2017-06-25_newspaper',
 'col_2017-07-16_newspaper',
 'col_2017-07-30_newspaper',
 'col_2017-08-27_newspaper',
 'col_2017-09-03_newspaper',
 'col_2017-09-24_newspaper',
 'col_2017-10-08_newspaper',
 'col_2017-10-22_newspaper',
 'col_2017-10-29_newspaper',
 'col_2017-11-05_newspaper',
 'col_2017-11-12_newspaper',
 'col_2017-11-19_newspaper',
 'col_2017-11-22_newspaper',
 'col_2017-11-23_newspaper',
 'col_2017-11-26_newspaper',
 'col_2017-12-03_newspaper',
 'col_2017-12-10_newspaper',
 'col_2017-12-17_newspaper',
 'col_2018-01-07_newspaper',
 'col_2018-02-11_newspaper',
 'col_2018-02-18_newspaper',
 'col_2018-02-25_newspaper',
 'col_2018-03-04_newspaper',
 'col_2018-03-18_newspaper',
 'col_2018-03-25_newspaper',
 'col_2018-04-08_newspaper',
 'col_2018-04-15_newspaper',
 'col_2018-04-22_newspaper',
 'col_2018-04-29_newspaper']