In [16]:
import pandas as pd
import numpy as np
import datetime

In [17]:
store_list_20181201=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20181201-135231-415.txt",dtype=str,sep="|")

In [18]:
store_list_1=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20181201-135231-415.txt",dtype=str,sep="|")

store_list_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20181101-134628-331.txt",dtype=str,sep="|")
store_list_2=store_list_2[store_list_1.columns.tolist()]
store_list_2=store_list_2[~store_list_2['location_id'].isin(store_list_1['location_id'])]
store_list_1=store_list_1.append(store_list_2)

store_list_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20181001-135417-132.txt",dtype=str,sep="|")
store_list_2=store_list_2[store_list_1.columns.tolist()]
store_list_2=store_list_2[~store_list_2['location_id'].isin(store_list_1['location_id'])]
store_list_1=store_list_1.append(store_list_2)

store_list_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20180901-133640-935.txt",dtype=str,sep="|")
store_list_2=store_list_2[store_list_1.columns.tolist()]
store_list_2=store_list_2[~store_list_2['location_id'].isin(store_list_1['location_id'])]
store_list_1=store_list_1.append(store_list_2)

store_list_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20180801-133641-576.txt",dtype=str,sep="|")
store_list_2=store_list_2[store_list_1.columns.tolist()]
store_list_2=store_list_2[~store_list_2['location_id'].isin(store_list_1['location_id'])]
store_list_1=store_list_1.append(store_list_2)

store_list_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20180703.txt",dtype=str,sep="|")
store_list_2=store_list_2[store_list_1.columns.tolist()]
store_list_2=store_list_2[~store_list_2['location_id'].isin(store_list_1['location_id'])]
store_list_1=store_list_1.append(store_list_2)

store_list_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20171115.txt",dtype=str,sep="|")
# store_list_2=store_list_2[store_list_1.columns.tolist()]
store_list_2=store_list_2[~store_list_2['location_id'].isin(store_list_1['location_id'])]
store_list_1=store_list_1.append(store_list_2)

store_list_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20170913.txt",dtype=str,sep="|")
# store_list_2=store_list_2[store_list_1.columns.tolist()]
store_list_2=store_list_2[~store_list_2['location_id'].isin(store_list_1['location_id'])]
store_list_1=store_list_1.append(store_list_2)

In [19]:
store_list_1=store_list_1[store_list_20181201.columns.tolist()]
store_list_1.head(2)

,location_id,location_desc,open_dt,close_dt,address_line_1,address_line_2,city_nm,state_nm,zip_cd,longitude_meas,latitude_meas,sales_square_feet,furniture_sales_square_feet
0,1,BERWICK SHOPPING CENTER,1983-09-15,NaN,2837 WINCHESTER PIKE,NaN,COLUMBUS,OH,43232-9301,-000000000082.914789,000000000039.913636,00000000029217.0000,00000000006692.0000
1,29,ATHENS SHOPPING CENTER,1984-03-26,NaN,918 E STATE ST,NaN,ATHENS,OH,45701-2188,-000000000082.069765,000000000039.337172,00000000026545.0000,00000000005694.0000

In [22]:

writer=pd.ExcelWriter('/home/jian/BigLots/static_files/Store_list/all_store_list_JL_'+str(datetime.datetime.now().date())+'.xlsx',engine="xlsxwriter")
store_list_20181201.to_excel(writer,"latest_Dec01_list",index=False)
store_list_1.to_excel(writer,"cumalated_store_lists",index=False)
writer.save()