In [1]:
import pandas as pd
import datetime
import os
weeklist=['27','28','29','30','31','32','33']

In [2]:
data_2017=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz - FY 2017.xlsx",dtype=str,skiprows=27)
weekly_sales_cols=[]
for week in weeklist:
    col="2017"+week+" Weekly COMP Store Sales"
    weekly_sales_cols=weekly_sales_cols+[col]
data_2017=data_2017[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2017[col]=data_2017[col].astype(float)
    data_2017=data_2017.rename(columns={col:col[:6]+"_sales"})
data_2017_long=pd.melt(data_2017, id_vars=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'], 
                       value_vars=['201727_sales','201728_sales','201729_sales','201730_sales','201731_sales','201732_sales','201733_sales'])

In [3]:
data_2018_pre=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz - FY 2018 w.e. Aug 10.xlsx",dtype=str,skiprows=22)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_pre.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_pre=data_2018_pre[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_pre=data_2018_pre.rename(columns={col:col[:6]+"_sales"})

In [4]:
data_2018_29=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz WM Wk 201829.xlsx",dtype=str,skiprows=16)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_29.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_29=data_2018_29[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_29=data_2018_29.rename(columns={col:col[:6]+"_sales"})

In [5]:
data_2018_30=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz WM Wk 201830.xlsx",dtype=str,skiprows=16)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_30.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_30=data_2018_30[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_30=data_2018_30.rename(columns={col:col[:6]+"_sales"})

In [6]:
data_2018_31=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz WM Wk 201831.xlsx",dtype=str,skiprows=16)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_31.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_31=data_2018_31[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_31=data_2018_31.rename(columns={col:col[:6]+"_sales"})

In [7]:
data_2018_32=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz WM Wk 201832.xlsx",dtype=str,skiprows=16)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_32.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_32=data_2018_32[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_32=data_2018_32.rename(columns={col:col[:6]+"_sales"})

In [8]:
data_2018_33=pd.read_excel("/home/jian/SunnyD/On_Going_WM_KG/Walmart/data/WM D90 Tangy 128oz WM Wk 201833.xlsx",dtype=str,skiprows=16)
weekly_sales_cols=[]
for week in weeklist:
    col="2018"+week+" Weekly COMP Store Sales"
    if col in data_2018_33.columns.tolist():
        weekly_sales_cols=weekly_sales_cols+[col]
data_2018_33=data_2018_33[['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc']+weekly_sales_cols]
for col in weekly_sales_cols:
    data_2018_33=data_2018_33.rename(columns={col:col[:6]+"_sales"})

In [9]:
# 7 Weeks

data_2018_4_weeks=pd.merge(data_2018_pre,data_2018_29,on=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'],how="outer")
data_2018_4_weeks=pd.merge(data_2018_4_weeks,data_2018_30,on=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'],how="outer")
data_2018_4_weeks=pd.merge(data_2018_4_weeks,data_2018_31,on=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'],how="outer")
data_2018_4_weeks=pd.merge(data_2018_4_weeks,data_2018_32,on=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'],how="outer")
data_2018_4_weeks=pd.merge(data_2018_4_weeks,data_2018_33,on=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'],how="outer")

sales_col=[x for x in data_2018_4_weeks.columns.tolist() if "sales" in x]
for col in sales_col:
    data_2018_4_weeks[col]=data_2018_4_weeks[col].astype(float)
    data_2018_4_weeks[col]=data_2018_4_weeks[col].fillna(0)

In [10]:
data_2018_long=pd.melt(data_2018_4_weeks, id_vars=['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'], 
                       value_vars=['201827_sales','201828_sales','201829_sales','201830_sales','201831_sales','201832_sales','201833_sales'])

In [11]:
def func(x):
    y=len(list(set(x)))
    return y
df_YoY=data_2018_long.append(data_2017_long)
df_YoY=df_YoY.rename(columns={"variable":"week_num","value":"sales"})
df_YoY['week_num']=df_YoY['week_num'].apply(lambda x: x[:6])
df_YoY=df_YoY[df_YoY['sales']!=0]
all_available_store=df_YoY.groupby(['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc'])['week_num'].agg(func).to_frame()
all_available_store=all_available_store.reset_index()
keep_store_nbr=all_available_store[all_available_store['week_num']==14]['Store Nbr'].unique().tolist()

In [12]:
df_YoY=df_YoY[df_YoY['Store Nbr'].isin(keep_store_nbr)]
df_YoY['Year']=df_YoY['week_num'].apply(lambda x: x[:4])
df_YoY_compare=df_YoY.groupby(['Store Nbr','City','State','Zip Code','Prime Item Nbr','Item Desc 1','Size Desc','Year','week_num'])['sales'].sum().to_frame().reset_index()

In [13]:
Zip_DMA_mapping=pd.read_excel("/home/jian/Docs/Geo_mapping/Zips by DMA by County16-17 nielsen.xlsx",dtype=str,skiprows=2)
Zip_DMA_mapping=Zip_DMA_mapping.iloc[:,[0,2]]
Zip_DMA_mapping.columns=['Zip Code','DMA']
Zip_DMA_mapping=Zip_DMA_mapping.drop_duplicates('Zip Code')
Zip_DMA_mapping.shape

(40811, 2)

In [14]:
df_YoY_compare=pd.merge(df_YoY_compare,Zip_DMA_mapping,on="Zip Code",how="left")
df_YoY_compare['DMA']=df_YoY_compare['DMA'].fillna("Missing_DMA")

In [15]:
DMA_15=['DALLAS-FT. WORTH','LOS ANGELES','ATLANTA','NEW YORK','CHICAGO','HOUSTON','PHOENIX (PRESCOTT)','CHARLOTTE',
            'WASHINGTON, DC (HAGRSTWN)','DENVER','PHILADELPHIA','GREENVLL-SPART-ASHEVLL-AND','BOSTON (MANCHESTER)',
            'DETROIT','MIAMI-FT. LAUDERDALE']

In [16]:
def In_18(x):
    if x in DMA_15:
        y="In_15_DMAs"
    else:
        y="Other"
    return y
df_YoY_compare['15_DMA_Ind']=df_YoY_compare['DMA'].apply(lambda x: In_18(x))

In [19]:
WM_Denver=df_YoY_compare[df_YoY_compare['DMA']=="MIAMI-FT. LAUDERDALE"]
WM_Denver=WM_Denver.groupby(['15_DMA_Ind','Year','week_num'])['sales'].sum().reset_index()
WM_Denver['week_num']=WM_Denver['week_num'].apply(lambda x: x[4:])

In [20]:
def YoY_summary_df(df):
    df_2017_sales=df[df['Year']=='2017'].rename(columns={"sales":"sales_2017"})
    df_2018_sales=df[df['Year']=='2018'].rename(columns={"sales":"sales_2018"})

    del df_2017_sales['Year']
    del df_2018_sales['Year']
    sales_yoy=pd.merge(df_2017_sales,df_2018_sales,on=["15_DMA_Ind",'week_num'],how="left")

    sales_yoy['sales_yoy']=(sales_yoy['sales_2018']-sales_yoy['sales_2017'])/sales_yoy['sales_2017']

    return sales_yoy

In [21]:
WM_Denver=YoY_summary_df(WM_Denver)
WM_Denver

   15_DMA_Ind week_num  sales_2017  sales_2018  sales_yoy
0  In_15_DMAs       27     5238.72     5285.88   0.009002
1  In_15_DMAs       28     5663.08     5217.00  -0.078770
2  In_15_DMAs       29     5633.28     5274.60  -0.063672
3  In_15_DMAs       30     5725.52     5340.16  -0.067306
4  In_15_DMAs       31     5457.68     4970.64  -0.089239
5  In_15_DMAs       32    10434.32     5527.90  -0.470219
6  In_15_DMAs       33      973.92     5387.74   4.532015

In [22]:
df_YoY_compare_summary=df_YoY_compare.groupby(['15_DMA_Ind','Year','week_num'])['sales'].sum().reset_index()
df_YoY_compare_summary['week_num']=df_YoY_compare_summary['week_num'].apply(lambda x: x[4:])

In [23]:
df_YoY_compare_summary.to_csv("/home/jian/SunnyD/On_Going_WM_KG/Walmart/output/SunnyD_Walmart_DMA_level_YoY_"+str(datetime.datetime.now().date())+".csv",index=False)

In [24]:
len(keep_store_nbr)

4345

In [25]:
len(set(keep_store_nbr))

4345

In [26]:
df_YoY_compare_summary

    15_DMA_Ind  Year week_num      sales
0   In_15_DMAs  2017       27  138089.87
1   In_15_DMAs  2017       28  142816.35
2   In_15_DMAs  2017       29  138048.06
3   In_15_DMAs  2017       30  137951.03
4   In_15_DMAs  2017       31  138029.91
5   In_15_DMAs  2017       32  173286.19
6   In_15_DMAs  2017       33  157542.49
7   In_15_DMAs  2018       27  136703.74
8   In_15_DMAs  2018       28  145317.64
9   In_15_DMAs  2018       29  139860.01
10  In_15_DMAs  2018       30  129421.59
11  In_15_DMAs  2018       31  128944.79
12  In_15_DMAs  2018       32  138170.45
13  In_15_DMAs  2018       33  140353.20
14       Other  2017       27  435395.16
15       Other  2017       28  446236.99
16       Other  2017       29  428092.60
17       Other  2017       30  406431.70
18       Other  2017       31  414289.75
19       Other  2017       32  511699.46
20       Other  2017       33  451495.21
21       Other  2018       27  428155.66
22       Other  2018       28  458237.25
23       Other  2018       29  439654.49
24       Other  2018       30  405231.33
25       Other  2018       31  399101.15
26       Other  2018       32  450395.56
27       Other  2018       33  427429.25