In [1]:
import pandas as pd
import os
import glob
import datetime
import numpy as np
import sqlalchemy
import gc
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

os.getcwd()

'/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/uploading_to_all_M1'

In [2]:
df_all_rewards_id=pd.read_sql("select customer_id_hashed,email_address_hash,sign_up_date, customer_zip_code from BL_Rewards_Master",con=BL_engine)
print(df_all_rewards_id.shape,df_all_rewards_id['customer_id_hashed'].nunique(),df_all_rewards_id['email_address_hash'].nunique())

df_all_rewards_id=df_all_rewards_id.sort_values(['customer_id_hashed','sign_up_date'],ascending=[True,False])
df_all_rewards_id=df_all_rewards_id.drop_duplicates("customer_id_hashed")
# the email dedup at the end

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

(34891499, 4) 34891446 34883002

In [3]:
df_0_18_detail=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/df_details_0_18.csv",
                    dtype=str,usecols=['customer_id_hashed','Status','Store_Type','zip_type','HML_Group'])

print(df_0_18_detail.shape,df_0_18_detail['customer_id_hashed'].nunique())
df_0_18_detail.head(2)

(20585548, 5) 20585548

,customer_id_hashed,Status,Store_Type,zip_type,HML_Group
0,14ead851c502456a1d1fcfdcba52486e2fb624f7e1dd37...,Active,Legacy,T,H
1,6fe1f723789ee0663ab91cfd28989322e815a2f8d05f4d...,Active,Legacy,P,H

In [4]:
df_19_48_detail=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/df_details_19_48.csv",
                    dtype=str,usecols=['customer_id_hashed','Status','Store_Type','zip_type'])
df_19_48_detail['HML_Group']="NotScored_1948"
df_19_48_detail=df_19_48_detail[['customer_id_hashed','Status','Store_Type','zip_type','HML_Group']]
print(df_19_48_detail.shape,df_19_48_detail['customer_id_hashed'].nunique())
df_19_48_detail.head(2)

(8726071, 5) 8726071

,customer_id_hashed,Status,Store_Type,zip_type,HML_Group
0,d66b069d8075e9db9e8424f501f002fcb3fcd57d7011e3...,Lapsed1948,Legacy,T,NotScored_1948
1,077dd9455d333b27872044b7f4dbc9f7e70a56d56d695d...,Lapsed1948,Legacy,S,NotScored_1948

In [5]:
df_all_in_48=df_0_18_detail.append(df_19_48_detail)
print(df_all_in_48.shape,df_all_in_48['customer_id_hashed'].nunique())

del df_0_18_detail
del df_19_48_detail

(29311619, 5) 29311619

In [6]:
df_all_rewards_id=pd.merge(df_all_rewards_id,df_all_in_48,on="customer_id_hashed",how="outer")
print(df_all_rewards_id.shape,df_all_rewards_id['customer_id_hashed'].nunique())

(34891446, 8) 34891446

In [7]:
df_all_rewards_id['customer_zip_code']=df_all_rewards_id['customer_zip_code'].fillna("00000")
df_all_rewards_id['customer_zip_code']=df_all_rewards_id['customer_zip_code'].apply(lambda x: x.split("-")[0].split(" ")[0].zfill(5))

In [8]:
TA_zips=pd.ExcelFile("/home/jian/Projects/Big_Lots/New_TA/TA_created_in_201906/final_output_20190718/BL_final_TA_updated_JL_2019-07-18.xlsx")
TA_zips=TA_zips.parse("view_by_store",dtype=str)
TA_zips.head(2)

,TA_num,ta_name,location_id,address_line_1,address_line_2,zip_cd,city_nm,state_nm,latitude_meas,longitude_meas,DMA,CTY,all_trans_P_zips,all_trans_S_zips,zips_in_10,trans_P_zips_70_within_TA,trans_S_zips_70_within_TA
0,1,multiple_1,1949,3178 LAVON DR,NaN,75040,GARLAND,TX,32.945015,-96.619194,{'DALLAS-FT. WORTH'},{'DALLAS'},"['75040', '75044', '75048', '75098']","['75089', '75042', '75043', '75041', '75088', ...",[],"['75040', '75098', '75044', '75048']","['75088', '75042', '75082', '75043', '75089', ..."
1,1,multiple_1,1255,1418 W MOORE AVE,NaN,75160,TERRELL,TX,32.738772,-96.299877,{'DALLAS-FT. WORTH'},"{'HUNT', 'KAUFMAN', 'ROCKWALL'}","['75160', '75126', '75161']","['75142', '75169', '75474', '75143', '75114', ...",[],"['75126', '75161', '75160']","['75142', '75169', '75150', '75117', '75143', ..."

In [9]:
df_temporary=TA_zips[['location_id','trans_P_zips_70_within_TA','trans_S_zips_70_within_TA','zips_in_10']]
df_zip_by_store=pd.DataFrame()

for ind,row in df_temporary.iterrows():
    location_id=row['location_id']
    P_zips=eval(row['trans_P_zips_70_within_TA'])
    S_zips=eval(row['trans_S_zips_70_within_TA'])
    zip_10=eval(row['zips_in_10'])
    

    df_P=pd.DataFrame(zip([location_id]*len(P_zips),P_zips))
    if len(df_P)>0:
        df_P.columns=['location_id','zip_cd']
        df_P['zip_type']="P"
        
    df_S=pd.DataFrame(zip([location_id]*len(S_zips),S_zips))
    if len(df_S)>0:
        df_S.columns=['location_id','zip_cd']
        df_S['zip_type']="S"
    
    df_10=pd.DataFrame(zip([location_id]*len(zip_10),zip_10))
    if len(df_10)>0:
        df_10.columns=['location_id','zip_cd']
        df_10['zip_type']="zip_10"
    
    df_zip_by_store=df_zip_by_store.append(df_P).append(df_S).append(df_10)

In [10]:
df_store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200501-152115-660.txt",
                           dtype=str,sep="|",usecols=['location_id','latitude_meas','longitude_meas'])
df_store_list=df_store_list[['location_id','latitude_meas','longitude_meas']]
df_store_list['latitude_meas']=df_store_list['latitude_meas'].astype(float)
df_store_list['longitude_meas']=df_store_list['longitude_meas'].astype(float)
df_store_list=df_store_list[df_store_list['location_id']!="6990"]
df_store_list=df_store_list[df_store_list['location_id']!="145"]
df_store_list[df_store_list['latitude_meas']==0]
df_store_list.loc[df_store_list['location_id']=="5416","latitude_meas"]=38.9092776
df_store_list.loc[df_store_list['location_id']=="5416","longitude_meas"]=-78.1831735

In [11]:
df_zip_by_store=pd.merge(df_store_list,df_zip_by_store,on="location_id",how="left")
df_zip_by_store_existing=df_zip_by_store[pd.notnull(df_zip_by_store['zip_type'])]
df_zip_by_store_new=df_zip_by_store[pd.isnull(df_zip_by_store['zip_type'])]

In [12]:
df_zip_by_store_existing['zip_type'].unique()

array(['P', 'S', 'zip_10'], dtype=object)

In [13]:
df_zip_by_store_new=df_zip_by_store_new.reset_index()
del df_zip_by_store_new['index']

del df_zip_by_store_new['zip_cd']
del df_zip_by_store_new['zip_type']

import json
from haversine import haversine

zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))

In [14]:
df_all_new_10_zips=pd.DataFrame()

for i, row in df_zip_by_store_new.iterrows():
    store_center=[row['latitude_meas'],row['longitude_meas']]
    store_num=row['location_id']
    list_10_zips=[]
    for zip_cd,v in zip_centers.items():
        dist=haversine(store_center,v,unit="mi")
        if dist<=10:
            list_10_zips.append(zip_cd)
    df=pd.DataFrame({"location_id":[store_num]*len(list_10_zips)},index=list_10_zips).reset_index().rename(columns={"index":"zip_cd"})
    df['zip_type']="zip_10"
    df_all_new_10_zips=df_all_new_10_zips.append(df)
df_all_new_10_zips=df_all_new_10_zips[['location_id','zip_cd','zip_type']]
df_all_new_10_zips.shape,df_all_new_10_zips['location_id'].nunique(),df_all_new_10_zips['zip_cd'].nunique()

((857, 3), 36, 857)

In [15]:
df_zip_by_store_new=pd.merge(df_zip_by_store_new,df_all_new_10_zips,on="location_id",how="left")
df_zip_by_store=df_zip_by_store_existing.append(df_zip_by_store_new)

# "10_zip" changed to S
df_zip_by_store['zip_type']=df_zip_by_store['zip_type'].replace("zip_10","S")
df_zip_by_store=df_zip_by_store[['zip_cd','zip_type']].drop_duplicates()
df_zip_by_store=df_zip_by_store.sort_values(["zip_cd","zip_type"])
df_unique_zip_type=df_zip_by_store.drop_duplicates("zip_cd")

In [16]:
dict_zip_type=df_unique_zip_type.set_index("zip_cd").to_dict()['zip_type']

In [17]:
df_all_rewards_id.head(2)

,customer_id_hashed,email_address_hash,sign_up_date,customer_zip_code,Status,Store_Type,zip_type,HML_Group
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,2016-02-10,36081,Active,Legacy,T,H
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,2018-09-22,93722,Active,SOTF,P,M

In [18]:
df_all_rewards_id['zip_type']=np.where(pd.notnull(df_all_rewards_id['zip_type']),df_all_rewards_id['zip_type'],
                                       df_all_rewards_id['customer_zip_code'].apply(lambda x: dict_zip_type[x] if x in dict_zip_type.keys() else "T")
                                      )

In [19]:
df_all_rewards_id.groupby("Status")['customer_id_hashed'].count().to_frame().reset_index()

       Status  customer_id_hashed
0      Active            17297442
1  Lapsed1318             3288106
2  Lapsed1948             8726071

In [20]:
df_all_rewards_id.groupby("zip_type")['customer_id_hashed'].count().to_frame().reset_index()

  zip_type  customer_id_hashed
0        P            19139177
1        S             7684936
2        T             8067333

In [21]:
df_all_rewards_id.groupby("Store_Type")['customer_id_hashed'].count().to_frame().reset_index()

  Store_Type  customer_id_hashed
0     Legacy            19514459
1       SOTF             9797160

In [22]:
df_all_rewards_id.groupby("HML_Group")['customer_id_hashed'].count().to_frame().reset_index()

        HML_Group  customer_id_hashed
0               H             8234220
1               L             6175663
2               M             6175665
3  NotScored_1948             8726071

In [23]:
df_all_rewards_id.shape

(34891446, 8)

In [24]:
df_all_rewards_id['Rewards_BL']=1

df_all_rewards_id['Status']=df_all_rewards_id['Status'].fillna("others")
df_all_rewards_id['Q2_Segment_up_to_48']=np.where(df_all_rewards_id['Status']!="others",1,0)

# 1
df_all_rewards_id['Q2_status_0_12_Active']=np.where(df_all_rewards_id['Status']=="Active",1,0)
df_all_rewards_id['Q2_status_13_18_Lapsed']=np.where(df_all_rewards_id['Status']=="Lapsed1318",1,0)
df_all_rewards_id['Q2_status_19_48_Lapsed']=np.where(df_all_rewards_id['Status']=="Lapsed1948",1,0)
df_all_rewards_id['Q2_status_49_plus_Others']=np.where(df_all_rewards_id['Status']=="others",1,0)

# 2
df_all_rewards_id['zip_type']=df_all_rewards_id['zip_type'].fillna("T")
df_all_rewards_id['Q2_zip_P']=np.where(df_all_rewards_id['zip_type']=="P",1,0)
df_all_rewards_id['Q2_zip_S']=np.where(df_all_rewards_id['zip_type']=="S",1,0)
df_all_rewards_id['Q2_zip_T']=np.where(df_all_rewards_id['zip_type']=="T",1,0)

# 3
df_all_rewards_id['Store_Type']=df_all_rewards_id['Store_Type'].fillna("others")
df_all_rewards_id['Q2_Store_Legacy']=np.where(df_all_rewards_id['Store_Type']=="Legacy",1,0)
df_all_rewards_id['Q2_Store_SOTF']=np.where(df_all_rewards_id['Store_Type']=="SOTF",1,0)
df_all_rewards_id['Q2_Store_others']=np.where(df_all_rewards_id['Store_Type']=="others",1,0)

# 4
df_all_rewards_id['HML_Group']=df_all_rewards_id['HML_Group'].fillna("NotScored_1948")
df_all_rewards_id['Q2_Score_H']=np.where(df_all_rewards_id['HML_Group']=="H",1,0)
df_all_rewards_id['Q2_Score_M']=np.where(df_all_rewards_id['HML_Group']=="M",1,0)
df_all_rewards_id['Q2_Score_L']=np.where(df_all_rewards_id['HML_Group']=="L",1,0)
df_all_rewards_id['Q2_Score_others']=np.where(df_all_rewards_id['HML_Group']=="NotScored_1948",1,0)

In [26]:
del df_all_rewards_id['customer_id_hashed']
del df_all_rewards_id['sign_up_date']
del df_all_rewards_id['customer_zip_code']
del df_all_rewards_id['Status']
del df_all_rewards_id['Store_Type']
del df_all_rewards_id['zip_type']
del df_all_rewards_id['HML_Group']

gc.collect()

0

In [27]:
df_all_rewards_id.head(5)

,email_address_hash,Rewards_BL,Q2_Segment_up_to_48,Q2_status_0_12_Active,Q2_status_13_18_Lapsed,Q2_status_19_48_Lapsed,Q2_status_49_plus_Others,Q2_zip_P,Q2_zip_S,Q2_zip_T,Q2_Store_Legacy,Q2_Store_SOTF,Q2_Store_others,Q2_Score_H,Q2_Score_M,Q2_Score_L,Q2_Score_others
0,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,1,1,1,0,0,0,0,0,1,1,0,0,1,0,0,0
1,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,1,1,1,0,0,0,1,0,0,0,1,0,0,1,0,0
2,4765e094d9c921485df3befed517927f7119980982e000...,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1
3,d461fd1bb5f270aaa66016cc60bf6aa16a521565360e41...,1,1,1,0,0,0,1,0,0,1,0,0,0,1,0,0
4,21620c4342292086ec48d349207620e54a528273c7ad3d...,1,1,1,0,0,0,1,0,0,0,1,0,0,1,0,0

In [28]:
df_all_rewards_id=df_all_rewards_id.rename(columns={"email_address_hash":"Email_Address"})
df_all_rewards_id['Email_Address'].apply(len).unique()

array([64])

In [29]:
for col in df_all_rewards_id.columns.tolist()[1:]:
    print(col,df_all_rewards_id[col].apply(type).unique(),df_all_rewards_id[col].unique())

Rewards_BL [<class 'int'>] [1]
Q2_Segment_up_to_48 [<class 'int'>] [1 0]
Q2_status_0_12_Active [<class 'int'>] [1 0]
Q2_status_13_18_Lapsed [<class 'int'>] [0 1]
Q2_status_19_48_Lapsed [<class 'int'>] [0 1]
Q2_status_49_plus_Others [<class 'int'>] [0 1]
Q2_zip_P [<class 'int'>] [0 1]
Q2_zip_S [<class 'int'>] [0 1]
Q2_zip_T [<class 'int'>] [1 0]
Q2_Store_Legacy [<class 'int'>] [1 0]
Q2_Store_SOTF [<class 'int'>] [0 1]
Q2_Store_others [<class 'int'>] [0 1]
Q2_Score_H [<class 'int'>] [1 0]
Q2_Score_M [<class 'int'>] [0 1]
Q2_Score_L [<class 'int'>] [0 1]
Q2_Score_others [<class 'int'>] [0 1]

In [30]:
file_base_name="./BL_SHA256EMAIL_"+str(datetime.datetime.now().date()).replace("-","")+".txt"
file_base_name

'./BL_SHA256EMAIL_20200507.txt'

In [31]:
df_all_rewards_id.head(1000).to_csv(path_or_buf="./"+"sample_1000_"+file_base_name[2:],
                         sep='\t',
                         encoding='utf-8',
                         line_terminator="\n",
                         header=True,
                         index=False)

In [32]:
df_all_rewards_id.to_csv(path_or_buf=file_base_name,
                         sep='\t',
                         encoding='utf-8',
                         line_terminator="\n",
                         header=True,
                         index=False)

In [33]:
df_all_rewards_id.shape

(34891446, 17)

# push to 107

In [35]:
remote_folder="/mnt/drv5/jian/Big_Lots/BL_all_rewards_M1/"

import paramiko

host = "107.191.32.220" #hard-coded
port = 22
transport = paramiko.Transport((host, port))

password = "juba-jl1" #hard-coded
username = "jian" #hard-coded
transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)

In [36]:
file_path_1="./BL_SHA256EMAIL_20200507.txt"
file_path_2="./sample_1000_BL_SHA256EMAIL_20200507.txt"

In [37]:
for local_file in [file_path_1,file_path_2]:
    sftp.put(local_file,remote_folder+os.path.basename(local_file))
sftp.close()
transport.close()