In [1]:
# upto 20200111
# merge email first
# then calculate decile
# Remove 18+
# XX segments in total
# The allocated store mapping is done throught the other code

import pandas as pd
import numpy as np
import os
import datetime
import logging
import hashlib
import gc
import glob
logging.basicConfig(filename='BL_CRM_Scoring_LR_Quarterly_upto_20200111_2020Q1_'+str(datetime.datetime.now().date())+'.log', level=logging.INFO)
logging.info('Started')

samplerows=None

samplerows = None

lastdate_date = datetime.date(2020,1,11) # Recent Saturday
Beginning_12_months_ago = str(lastdate_date-datetime.timedelta(days=52*7-1)) # Sunday
Beginning_18_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*1.5-1)) # Sunday
Beginning_48_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*4-1)) # Sunday

lastdate_str=str(lastdate_date)
print("Active Start on: "+Beginning_12_months_ago) #>=
print("Lapsed & Store_allocation Start on: "+Beginning_18_months_ago) #>=
print("Lapsed 19-48 Start on: "+Beginning_48_months_ago) #>=

def recursive_file_gen(root_folder):
    for root, dirs, files in os.walk(root_folder):
        for file in files:
            yield os.path.join(root, file)
'''        
folder_write = '/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1/output_'+str(datetime.datetime.now().date()-datetime.timedelta(days=1))+'/'
try:
    os.stat(folder_write)
except:
    os.mkdir(folder_write)
'''

folder_write='/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1/output_2020-01-15/'
os.getcwd()

Active Start on: 2019-01-13
Lapsed & Store_allocation Start on: 2018-07-15
Lapsed 19-48 Start on: 2016-01-17

'/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1'

In [2]:
# Should run
df_transactions_18_months=pd.read_csv(folder_write+"BL_sales_trans_by_id_date_JL_"+str(datetime.datetime.now().date())+".csv")

df_transactions_18_months_head10000=df_transactions_18_months.head(10000)

for col in df_transactions_18_months_head10000.columns.tolist():
    print(col,df_transactions_18_months_head10000[col].apply(lambda x: type(x)).unique())
    
del df_transactions_18_months_head10000
gc.collect()

customer_id_hashed [<class 'str'>]
transaction_dt [<class 'str'>]
sales [<class 'float'>]
trans [<class 'int'>]

0

In [3]:
print(df_transactions_18_months.shape)
df_transactions_18_months=df_transactions_18_months.rename(columns={"transaction_dt":"transaction_date"})
df_transactions_18_months.head(5)

(112329010, 4)

,customer_id_hashed,transaction_date,sales,trans
0,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,2018-07-18,504.96,1
1,00002227290330cf6112d04470e512057ba4b50ab64c9f...,2018-07-20,5.78,1
2,00002720a80afaa651b3f1b68cde156578c739162add16...,2018-07-16,180.48,1
3,00002aefc68cab7c1791bc92aec859ae35ca5cc319c6b6...,2018-07-17,-10.00,1
4,0000358fbc9f7162c1acbfc88f1211ebec1245400631f1...,2018-07-21,24.75,1

In [4]:
###get recency
dfrecency=df_transactions_18_months[['customer_id_hashed','transaction_date']].sort_values("transaction_date",ascending=False).drop_duplicates()#Allready combined

print (min(dfrecency['transaction_date']))
print (max(dfrecency['transaction_date']))
dfrecency=dfrecency.drop_duplicates('customer_id_hashed')
dfrecency.to_csv(folder_write + 'dfrecency_id_with_last_transaction_date.csv',index=False)

2018-07-15
2020-01-11

In [14]:
dfrecency=df_transactions_18_months[['customer_id_hashed','transaction_date']].sort_values("transaction_date",ascending=False).drop_duplicates()#Allready combined
dfrecency=dfrecency.drop_duplicates('customer_id_hashed')

In [16]:
dfrecency.head(2)

                                          customer_id_hashed transaction_date
111853877  a039072d394dacb635319b20ea0619483832b3f80ae0de...       2020-01-11
111743535  8a02a04e17c2dcaa329a9ee51d3d0733f156699d2d5712...       2020-01-11

In [17]:
dfrecency['transaction_date']=pd.to_datetime(dfrecency['transaction_date']).dt.date
dfrecency['recency']= lastdate_date - dfrecency['transaction_date']
dfrecency['recency']=dfrecency['recency'].apply(lambda x:x.days)
dfrecency['recency']=np.ceil((dfrecency['recency']+1)/30)
# recency as the np.floor month

dfrecency=dfrecency[['customer_id_hashed','recency','transaction_date']]
dfrecency=dfrecency.drop_duplicates('customer_id_hashed')
dfrecency=dfrecency.rename(columns={"transaction_date":"last_transaction_date"})
dfrecency.to_csv(folder_write + 'dfrecency_id_with_last_transaction_date_and_days_difference.csv',index=False)

dfrecency.shape

(22578085, 3)

In [18]:
print("df_transactions_18_months['customer_id_hashed'].nunique(): "+str(df_transactions_18_months['customer_id_hashed'].nunique()))
print("dfrecency['customer_id_hashed'].nunique(): "+str(dfrecency['customer_id_hashed'].nunique()))

dftotal=df_transactions_18_months.groupby('customer_id_hashed')['sales','trans'].sum().reset_index().rename(columns={"trans":"transactions"})
print("dftotal['customer_id_hashed'].nunique(): "+str(dftotal['customer_id_hashed'].nunique()))
print("dftotal.shape: "+str(dftotal.shape))

dftotal=pd.merge(dftotal,dfrecency,on='customer_id_hashed',how='outer')
print("dftotal.shape: "+str(dftotal.shape))

df_transactions_18_months['customer_id_hashed'].nunique(): 22578085
dfrecency['customer_id_hashed'].nunique(): 22578085
dftotal['customer_id_hashed'].nunique(): 22578085
dftotal.shape: (22578085, 3)
dftotal.shape: (22578085, 5)

In [19]:
del dfrecency
del df_transactions_18_months
gc.collect()

dftotal.shape

(22578085, 5)

In [20]:
dftotal.head(2)

,customer_id_hashed,sales,transactions,recency,last_transaction_date
0,000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...,3.80,1,5.0,2019-08-29
1,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,211.78,3,15.0,2018-10-30

In [21]:
# The blow is corrected, due to the ascending & decending for each KPI. The higher the better, or the lower the better
dftotal=dftotal.sort_values(['transactions','recency','sales'],ascending=[0,1,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'Transindex'})

dftotal=dftotal.sort_values(['sales','recency','transactions'],ascending=[0,1,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'Amtindex'})

dftotal=dftotal.sort_values(['recency','transactions','sales'],ascending=[1,0,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'recencyindex'})

c_ids=len(dftotal.index)
logging.info('total customers from transaction and amt: ')
logging.info(c_ids)
c_ids=np.ceil(c_ids/5.0)

dftotal['Transindex']=np.ceil((dftotal['Transindex']+1)/c_ids)
dftotal['Amtindex']=np.ceil((dftotal['Amtindex']+1)/c_ids)
dftotal['recencyindex']=np.ceil((dftotal['recencyindex']+1)/c_ids)

dftotal['RFM']=dftotal['recencyindex']*100 + dftotal['Transindex']*10 + dftotal['Amtindex']

In [22]:
dftotal.head(4)

,recencyindex,Amtindex,Transindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,94195.92,6032,1.0,2020-01-11,111.0
1,1.0,1.0,1.0,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,109287.17,4586,1.0,2020-01-11,111.0
2,1.0,1.0,1.0,af1a67def27b7a4812c299f88c9128d1f1471df969ee7c...,91054.07,4435,1.0,2020-01-11,111.0
3,1.0,1.0,1.0,bfd2e98c3c7cccf2f0d432f8d02d951479311150e4a540...,70894.57,4248,1.0,2019-12-23,111.0

In [23]:
dftotal.to_csv(folder_write+"dftotal_with_index_all_EmailNotMergedYet.csv",index=False)

In [24]:
dftotal=pd.read_csv(folder_write+"dftotal_with_index_all_EmailNotMergedYet.csv")

In [25]:
print(dftotal.shape)

dftotal.head(2)

(22578085, 9)

,recencyindex,Amtindex,Transindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,94195.92,6032,1.0,2020-01-11,111.0
1,1.0,1.0,1.0,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,109287.17,4586,1.0,2020-01-11,111.0

# Merge in Emails, ZipLabels & Closest Stores

In [26]:
import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [27]:
dfiddetail=pd.read_sql('select customer_id_hashed,email_address_hash,customer_zip_code from BL_Rewards_Master',con=BL_engine)
print("dfiddetail.shape "+str(dfiddetail.shape))
print("dfiddetail['customer_id_hashed'].nunique() "+str(dfiddetail['customer_id_hashed'].nunique()))
print("dfiddetail['email_address_hash'].nunique() "+str(dfiddetail['email_address_hash'].nunique()))

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

dfiddetail.shape (32637363, 3)
dfiddetail['customer_id_hashed'].nunique() 32637360
dfiddetail['email_address_hash'].nunique() 32629736

In [28]:
gc.collect()

0

In [30]:
dfiddetail=dfiddetail.drop_duplicates()
print("dfiddetail.shape "+str(dfiddetail.shape))

dfiddetail=dfiddetail.drop_duplicates("customer_id_hashed") # drop the only 1 duplicated

dfiddetail.shape (32637361, 3)

In [33]:
customer_unique_zip_cd=dfiddetail[['customer_zip_code']].drop_duplicates()
customer_unique_zip_cd=customer_unique_zip_cd[~pd.isnull(customer_unique_zip_cd['customer_zip_code'])]
customer_unique_zip_cd['cleaned_zip_cd']=customer_unique_zip_cd['customer_zip_code'].apply(lambda x: x.split("-")[0][:5].zfill(5))

In [49]:
store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200101-135601-098.txt",
                        dtype=str,sep="|")
store_list=store_list[['location_id','latitude_meas','longitude_meas']]
store_list=store_list[store_list['location_id']!="6990"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
store_list['store_coor']=store_list[['latitude_meas','longitude_meas']].values.tolist()
dict_store_lat=store_list.set_index("location_id").to_dict()['store_coor']

store_list.shape

(1421, 4)

In [40]:
df_unique_zip5=customer_unique_zip_cd[['cleaned_zip_cd']].drop_duplicates()
df_unique_zip5.shape

(70253, 1)

In [43]:
df_unique_zip5.head(2)

  cleaned_zip_cd
0          36081
1          93722

In [59]:
import json
from haversine import haversine
zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))

def allocated_closet_store_to_zip(zip_input):
    try:
        zip_c=zip_centers[zip_input]
    except:
        return np.nan
    min_dist=np.inf
    for store,v in dict_store_lat.items():
        dist=haversine(zip_c,v,unit="mi")
        if dist<min_dist:
            min_dist=dist
            closet_store=store
    return closet_store

df_unique_zip5['closet_store']=df_unique_zip5['cleaned_zip_cd'].apply(lambda x: allocated_closet_store_to_zip(x))
customer_unique_zip_cd=pd.merge(customer_unique_zip_cd,df_unique_zip5,on="cleaned_zip_cd",how="left")

In [68]:
dfiddetail=pd.merge(dfiddetail,customer_unique_zip_cd,on="customer_zip_code",how="left")
print(dfiddetail.shape)

dfiddetail.head(5)

(32637360, 5)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closet_store
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,36081,36081,1292
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,93722,93722,4684
2,000002c86b9805b916f2a04b7a0031bb9ee03224e98221...,4765e094d9c921485df3befed517927f7119980982e000...,22560,22560,1585
3,000003066bafc6b19c55d3be5fc646a253c659e9e6baea...,d461fd1bb5f270aaa66016cc60bf6aa16a521565360e41...,21229,21229,5116
4,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,21620c4342292086ec48d349207620e54a528273c7ad3d...,14094,14094,831

In [92]:
del df_unique_zip5
del customer_unique_zip_cd
gc.collect()

0

In [70]:
del dfiddetail['customer_zip_code']

gc.collect()

0

In [72]:
df_store_for_id_from_sales=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1/output_2020-01-15/BL_allocated_store_by_id_shoppers_18_months_JL_20180715_20200111_JL_2020-01-15 12:54:19.307649.csv",
                                      dtype=str,usecols=['customer_id_hashed','location_id'])
print(df_store_for_id_from_sales.shape,df_store_for_id_from_sales['customer_id_hashed'].nunique())
df_store_for_id_from_sales=df_store_for_id_from_sales.rename(columns={"location_id":"top_sales_store"})
df_store_for_id_from_sales.head(5)

(22512566, 2) 22512566

                                  customer_id_hashed top_sales_store
0  000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...            1606
1  00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...            5309
2  000001dadc0265bf9d250566d74e0006323f18b5826641...            4061
3  000003066bafc6b19c55d3be5fc646a253c659e9e6baea...            5116
4  0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...            1852

In [80]:
print(dftotal.shape,dftotal['customer_id_hashed'].nunique())
dftotal.head(2)

(22578085, 9) 22578085

,recencyindex,Amtindex,Transindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,94195.92,6032,1.0,2020-01-11,111.0
1,1.0,1.0,1.0,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,109287.17,4586,1.0,2020-01-11,111.0

In [81]:
print(df_store_for_id_from_sales.shape,df_store_for_id_from_sales['customer_id_hashed'].nunique())
df_store_for_id_from_sales.head(2)

(22512566, 2) 22512566

                                  customer_id_hashed top_sales_store
0  000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...            1606
1  00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...            5309

In [82]:
print(dfiddetail.shape,dfiddetail['customer_id_hashed'].nunique())
dfiddetail.head(2)

(32637360, 4) 32637360

,customer_id_hashed,email_address_hash,cleaned_zip_cd,closet_store
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,36081,1292
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,93722,4684

In [83]:
dftotal=pd.merge(dftotal,df_store_for_id_from_sales,on="customer_id_hashed",how="left")
del df_store_for_id_from_sales
gc.collect()

117

In [85]:
dftotal=pd.merge(dftotal,dfiddetail,on="customer_id_hashed",how="left")

del dfiddetail
gc.collect()
dftotal.head(2)

,recencyindex,Amtindex,Transindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,94195.92,6032,1.0,2020-01-11,111.0,1684,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684
1,1.0,1.0,1.0,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,109287.17,4586,1.0,2020-01-11,111.0,1753,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,11726,1753

In [86]:
dftotal['allocated_store']=np.where(pd.notnull(dftotal['top_sales_store']),
                                    dftotal['top_sales_store'],
                                    dftotal['closet_store'])

In [89]:
# Remove no email ids
print(dftotal.shape)
dftotal=dftotal[pd.notnull(dftotal['email_address_hash'])]
print(dftotal.shape)

(22578085, 14)
(20341431, 14)

In [94]:
dftotal.to_csv(folder_write+"BL_scored_ids_with_email_and_stores_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [95]:
gc.collect()
dftotal.head(2)

,recencyindex,Amtindex,Transindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store,allocated_store
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,94195.92,6032,1.0,2020-01-11,111.0,1684,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684,1684
1,1.0,1.0,1.0,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,109287.17,4586,1.0,2020-01-11,111.0,1753,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,11726,1753,1753

In [96]:
print(datetime.datetime.now())

2020-01-15 17:52:16.949749

In [ ]:
# To continue

# read the dataframe above, with columns needed only

# 1. add the active group 0-12, 13-18, 18-48
# 2. add the zip_type, need to fill new stores
# 3. add the store type (SOTF / Legacy)
# 4. Density Group abandoned
# 5. Calculate decile D01-D10, then HML
# 6. Experian group, fill na with "Unknown", email Friday, January 10, 2020 at 3:36 PM, from BR

In [2]:
dftotal=pd.read_csv(folder_write+"BL_scored_ids_with_email_and_stores_JL_2020-01-15"+""+".csv",
                    dtype=str,usecols=['customer_id_hashed','last_transaction_date','email_address_hash','allocated_store','RFM','recency','transactions',
                               'sales','cleaned_zip_cd'])
print(dftotal.shape,dftotal['customer_id_hashed'].nunique(),dftotal['email_address_hash'].nunique())
print("/n")
print(dftotal['last_transaction_date'].min())
print("Beginning_12_months_ago",Beginning_12_months_ago)

dftotal['Status']=np.where(dftotal['last_transaction_date']>=Beginning_12_months_ago,"Active","Lapsed1318")

(20341431, 9) 20341431 20339880
/n
2018-07-15
Beginning_12_months_ago 2019-01-13

In [3]:
df_store_type=pd.ExcelFile("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1/other_input/BL Store List Report from Dom 12.20.19.xlsx")
df_store_type=df_store_type.parse("Store List",dtype=str)
df_store_type=df_store_type[["Store",'SOTF']]
df_store_type=df_store_type[df_store_type['SOTF']=="Yes"]
df_store_type=df_store_type[df_store_type['Store']!="TBD"]
print(len(df_store_type),df_store_type['Store'].nunique())
df_store_type=df_store_type.rename(columns={"Store":"allocated_store","SOTF":"Store_Type"})
df_store_type.head(2)

479 479

  allocated_store Store_Type
0               1        Yes
8              49        Yes

In [4]:
dftotal=pd.merge(dftotal,df_store_type,on="allocated_store",how="left")
dftotal['Store_Type']=dftotal['Store_Type'].fillna("Legacy")

In [5]:
TA_excel=pd.ExcelFile("/home/jian/Projects/Big_Lots/New_TA/TA_created_in_201906/final_output_20190718/BL_final_TA_updated_JL_2019-07-18.xlsx")
print(TA_excel.sheet_names)

df_zip_type=TA_excel.parse("unique_zips_full_footprint",dtype=str)
df_store_existing_TA=TA_excel.parse("view_by_store",dtype=str,usecols=["location_id"])

['unique_zips_full_footprint', 'view_by_TA', 'view_by_store', 'view_for_Tableau']

In [6]:
df_zip_type.head(2)

  zip_type zip_cd
0  trans_P  75040
1  trans_P  20743

In [7]:
store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200101-135601-098.txt",
                         dtype=str,sep="|",usecols=['location_id','latitude_meas','longitude_meas'])
store_list=store_list[store_list['location_id']!="6990"]
store_list=store_list[store_list['location_id']!="145"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
df_new_stores=store_list[~store_list['location_id'].isin(df_store_existing_TA['location_id'].tolist())]
print(df_new_stores.shape)
df_new_stores['store_location']=df_new_stores[['latitude_meas','longitude_meas']].values.tolist()
dict_new_stores=df_new_stores.set_index("location_id").to_dict()['store_location']

(30, 3)

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [8]:
import json
from haversine import haversine
zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))

zip_new_stores=[]
for k,v in dict_new_stores.items():
    for z, z_c in zip_centers.items():
        if haversine(v,z_c,unit="mi")<=10:
            zip_new_stores.append(z)
df_new_zips=pd.DataFrame({"zip_cd":list(set(zip_new_stores))})
df_new_zips['zip_type']="zips_10"
df_new_zips=df_new_zips[~df_new_zips['zip_cd'].isin(df_zip_type['zip_cd'].tolist())]

df_zip_type=df_zip_type.append(df_new_zips)
df_zip_type['zip_type']=df_zip_type['zip_type'].replace("zips_10","S")
df_zip_type['zip_type']=df_zip_type['zip_type'].replace("trans_P","P")
df_zip_type['zip_type']=df_zip_type['zip_type'].replace("trans_S","S")

print(df_zip_type.shape,df_zip_type['zip_cd'].nunique())
df_zip_type.head(2)

df_zip_type.to_csv("./BL_ta_zip_relabeled.csv",index=False)

(13373, 2) 13373

/home/jian/.local/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [9]:
df_zip_type=df_zip_type.rename(columns={"zip_cd":"cleaned_zip_cd"})
dftotal=pd.merge(dftotal,df_zip_type,on="cleaned_zip_cd",how="left")
dftotal['zip_type']=dftotal['zip_type'].fillna("T")

dftotal.head(4)

,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM,email_address_hash,cleaned_zip_cd,allocated_store,Status,Store_Type,zip_type
0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,94195.92,6032,1.0,2020-01-11,111.0,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684,Active,Legacy,P
1,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,109287.16999999995,4586,1.0,2020-01-11,111.0,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,11726,1753,Active,Yes,P
2,af1a67def27b7a4812c299f88c9128d1f1471df969ee7c...,91054.06999999996,4435,1.0,2020-01-11,111.0,d48d9bde483e3a6524f75f41209df8b6848c1cd6714aff...,47250,255,Active,Legacy,P
3,bfd2e98c3c7cccf2f0d432f8d02d951479311150e4a540...,70894.56999999995,4248,1.0,2019-12-23,111.0,bff5e20f383626e52c464341ad29b3b4e161b8b35de99d...,79938,1926,Active,Legacy,P

# Deciles and Scoring

In [10]:
dftotal = dftotal.sort_values(['RFM','recency','transactions',
                               'sales'],ascending = [1,1,0,0])

print(dftotal.shape)
dftotal=dftotal.drop_duplicates("email_address_hash") ####### Email duplications also dropped
print("drop_duplicates('email_address_hash')",dftotal.shape) 

dftotal.reset_index(drop = True, inplace = True)
dftotal.reset_index(inplace = True)

dftotal = dftotal.rename(columns = {'index':'frmindex'})
c_ids = len(dftotal.index)
c_ids = np.ceil(c_ids/10.0)
dftotal['frmindex'] = np.ceil((dftotal['frmindex']+1)/c_ids)

print("Done with the RFM scoring, "+str(datetime.datetime.now()))

dftotal['frmindex']=dftotal['frmindex'].apply(lambda x: "D"+str(int(float(x))).zfill(2))

(20341431, 12)
drop_duplicates('email_address_hash') (20339880, 12)
Done with the RFM scoring, 2020-01-22 11:57:25.630113

In [11]:
df_H=pd.DataFrame({"frmindex":['D01','D02','D03','D04']})
df_H['HML_Group']="H"

df_M=pd.DataFrame({"frmindex":['D05','D06','D07']})
df_M['HML_Group']="M"

df_L=pd.DataFrame({"frmindex":['D08','D09','D10']})
df_L['HML_Group']="L"

df_HML=df_H.append(df_M).append(df_L)
gc.collect()

0

In [12]:
dftotal=pd.merge(dftotal,df_HML,on='frmindex',how="left")
dftotal.shape

(20339880, 14)

In [13]:
dftotal.head(4)

,frmindex,customer_id_hashed,sales,transactions,recency,last_transaction_date,RFM,email_address_hash,cleaned_zip_cd,allocated_store,Status,Store_Type,zip_type,HML_Group
0,D01,1a50ebb983ad2140ad3ca66313845364bc13317863fdbe...,991.1800000000003,99,1.0,2019-12-16,111.0,0fdcafac9cba6eb64685c958c915e4353c10d984be6afe...,91780,4025,Active,Legacy,P,H
1,D01,3db1227444df33635a1e54b4849e4295e1027a53581fe9...,990.82,99,1.0,2020-01-11,111.0,bf9c9cf4de2cc6a40b471188ba12b05fd91d1480c476ee...,94547,1957,Active,Legacy,P,H
2,D01,1b89b0f890de65cfbea09999b02eba0bf3f0cb106b1c87...,989.2399999999997,99,1.0,2020-01-10,111.0,972c74c2ec4813e6ff25c564663df5ecd3597034c876a5...,07013,1950,Active,Yes,P,H
3,D01,82d9277708537553e2faf924bf89c6f61298e78a1d2b3e...,986.71,99,1.0,2020-01-05,111.0,1a1a94936f4f05f770c22712b2724e48099b33ec44e872...,06416,1748,Active,Yes,S,H

## Experian

In [14]:
Experian_mapping=pd.read_table("/home/jian/BigLots/Experian/data_20191016/Experian 2019 customer hashed.txt",
                            sep="|").rename(columns={"Customer_Num":"CustomerNumber","hashed_customer_num":"customer_id_hashed"})
Experian_data=pd.read_table("/home/jian/BigLots/Experian/data_20191016/Experian_20191001114500.txt",
                            sep="|",usecols=['CustomerNumber','IncomeDesc','LivesDesc'])
Experian_data=pd.merge(Experian_data,Experian_mapping,on="CustomerNumber",how="left")
del Experian_data['CustomerNumber']
print(Experian_data['IncomeDesc'].unique())
print(Experian_data['LivesDesc'].unique())
# Use LivesDesc only confirmed with JT 20200120, ignore "HomerentDesc"

print(Experian_data.shape)

del Experian_mapping
gc.collect()

['between $50k and $100k' '>= $100k' '< $50k' nan]
['single family home' 'multi family or condo']
(17626573, 3)

0

In [15]:
Experian_data.head(3)

,IncomeDesc,LivesDesc,customer_id_hashed
0,between $50k and $100k,single family home,19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebab...
1,>= $100k,single family home,59e19706d51d39f66711c2653cd7eb1291c94d9b55eb14...
2,between $50k and $100k,single family home,98010bd9270f9b100b6214a21754fd33bdc8d41b2bc9f9...

In [16]:
Experian_data['IncomeDesc']=Experian_data['IncomeDesc'].replace("between $50k and $100k","Above50K")
Experian_data['IncomeDesc']=Experian_data['IncomeDesc'].replace(">= $100k","Above50K")
Experian_data['IncomeDesc']=Experian_data['IncomeDesc'].replace("< $50k","Below50K")
Experian_data['IncomeDesc']=Experian_data['IncomeDesc'].fillna("Unknown")

Experian_data['LivesDesc']=Experian_data['LivesDesc'].replace("single family home","SingleFamily")
Experian_data['LivesDesc']=Experian_data['LivesDesc'].replace("multi family or condo","MultiFamilyOrCondo")
Experian_data['LivesDesc']=Experian_data['LivesDesc'].fillna("Unknown")

In [17]:
Experian_data.groupby(['IncomeDesc','LivesDesc'])['customer_id_hashed'].nunique().reset_index()

  IncomeDesc           LivesDesc  customer_id_hashed
0   Above50K  MultiFamilyOrCondo              817014
1   Above50K        SingleFamily            12290133
2   Below50K  MultiFamilyOrCondo              941010
3   Below50K        SingleFamily             3576986
4    Unknown        SingleFamily                1430

In [18]:
Experian_data.shape

(17626573, 3)

In [19]:
dftotal=pd.merge(dftotal,Experian_data,on="customer_id_hashed",how="left")

dftotal['IncomeDesc']=dftotal['IncomeDesc'].fillna("Unknown")
dftotal['LivesDesc']=dftotal['LivesDesc'].fillna("Unknown")

df_qc=dftotal.groupby(['IncomeDesc','LivesDesc'])['customer_id_hashed'].nunique().reset_index()
df_qc

  IncomeDesc           LivesDesc  customer_id_hashed
0   Above50K  MultiFamilyOrCondo              728783
1   Above50K        SingleFamily            11039853
2   Below50K  MultiFamilyOrCondo              830689
3   Below50K        SingleFamily             3166115
4    Unknown        SingleFamily                1231
5    Unknown             Unknown             4573209

In [20]:
df_qc[df_qc['LivesDesc']!="Unknown"]['customer_id_hashed'].sum()

15766671

In [21]:
del Experian_data
gc.collect()

0

# Store Competition

In [22]:
df_store_competition=pd.read_csv("./Competitor_Label/BL_competitor_count_JL_2020-01-21.csv",dtype=str)
df_store_competition=df_store_competition.rename(columns={"location_id":'allocated_store'})
del df_store_competition['competitor_count']
df_store_competition['competition_group']=df_store_competition['competition_group'].apply(lambda x:"Competitors"+x)

print(df_store_competition.shape,df_store_competition['allocated_store'].nunique())

(1438, 2) 1438

In [23]:
file_furinture_sales_label=pd.ExcelFile("./BL_output_store_type_furniture_3_months_JL_2020-01-16.xlsx")
df_store_furniture_label=file_furinture_sales_label.parse('store_type_recent_3_months',dtype=str)

df_store_furniture_label=df_store_furniture_label[['location_id','store_furniture_group']]

print(df_store_furniture_label.shape,df_store_furniture_label['location_id'].nunique())

df_store_furniture_label=df_store_furniture_label.rename(columns={"location_id":"allocated_store"})
df_store_furniture_label['store_furniture_group']=df_store_furniture_label['store_furniture_group'].apply(lambda x: "Furiniture"+x)

(1426, 2) 1426

In [24]:
dftotal=pd.merge(dftotal,df_store_competition,on="allocated_store",how="left")
dftotal=pd.merge(dftotal,df_store_furniture_label,on="allocated_store",how="left")

In [25]:
dftotal['competition_group'].unique()

array(['CompetitorsLow/No', 'CompetitorsHigh', nan], dtype=object)

In [26]:
dftotal['store_furniture_group'].unique()

array(['FurinitureLow', 'FurinitureHigh', nan], dtype=object)

In [27]:
dftotal['competition_group']=dftotal['competition_group'].fillna("CompetitorsLow/No")
dftotal['store_furniture_group']=dftotal['store_furniture_group'].fillna("FurinitureLow")

# SOTF

In [28]:
df_SOTF=pd.ExcelFile("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1/SOTF/BL Store List Report from Dom 12.20.19.xlsx")
df_SOTF=df_SOTF.parse("Store List",dtype=str)
df_SOTF=df_SOTF[['Store','SOTF']]
print(df_SOTF['SOTF'].unique())
df_SOTF=df_SOTF[df_SOTF['SOTF']=="Yes"]
df_SOTF=df_SOTF[df_SOTF['Store']!="TBD"]
df_SOTF['SOTF']="SOTF"
df_SOTF=df_SOTF.rename(columns={"Store":"allocated_store"})

['Yes' 'No' 'Yes 2020' nan]

In [29]:
dftotal=pd.merge(dftotal,df_SOTF,on="allocated_store",how="left")
dftotal['SOTF']=dftotal['SOTF'].fillna("Legacy")

In [32]:
dftotal.to_csv("./BL_LR_audience_18_months_details_2020Q1_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

# Lapsed 19-48

In [2]:
print("Active Start on: "+Beginning_12_months_ago) #>=
print("Lapsed & Store_allocation Start on: "+Beginning_18_months_ago) #>=
print("Lapsed 19-48 Start on: "+Beginning_48_months_ago) #>=

# Need to keep store

Active Start on: 2019-01-13
Lapsed & Store_allocation Start on: 2018-07-15
Lapsed 19-48 Start on: 2016-01-17

In [3]:
subclass_file_list=glob.glob("/home/jian/BigLots/hist_daily_data_subclasslevel/*.txt")
df_subclass_file=pd.DataFrame({"file_path":subclass_file_list})
df_subclass_file['week_end_dt']=df_subclass_file['file_path'].apply(lambda x: x.split("es_week_ending_")[1][:10])
df_subclass_file=df_subclass_file[df_subclass_file['week_end_dt']>=Beginning_48_months_ago]
df_subclass_file=df_subclass_file[df_subclass_file['week_end_dt']<Beginning_18_months_ago]
df_subclass_file=df_subclass_file.sort_values("week_end_dt")
print(df_subclass_file['week_end_dt'].min(),df_subclass_file['week_end_dt'].max())

min_date_sub_data=df_subclass_file['week_end_dt'].min()
print("min_date_sub_data",min_date_sub_data)

################
daily_sub_file=list(recursive_file_gen("/home/jian/BigLots/2018_by_weeks/"))
daily_sub_file=[x for x in daily_sub_file if "dailysales" in x.lower()]
daily_sub_file=[x for x in daily_sub_file if "eks/MediaStorm_" in x]
df_daily_sub_file=pd.DataFrame({"file_path":daily_sub_file})

df_daily_sub_file['week_end_dt']=df_daily_sub_file['file_path'].apply(lambda x: x.split("s/MediaStorm_")[1][:10])
df_daily_sub_file=df_daily_sub_file[df_daily_sub_file['week_end_dt']>=df_subclass_file['week_end_dt'].max()]
df_daily_sub_file=df_daily_sub_file[df_daily_sub_file['week_end_dt']<Beginning_18_months_ago]
df_daily_sub_file=df_daily_sub_file.sort_values("week_end_dt")

print(df_daily_sub_file['week_end_dt'].min(),df_daily_sub_file['week_end_dt'].max())


################
df_sub_data_files=df_subclass_file.append(df_daily_sub_file)
df_sub_data_files=df_sub_data_files.sort_values("week_end_dt")
del df_subclass_file
del df_daily_sub_file

print(df_sub_data_files['week_end_dt'].min(),df_sub_data_files['week_end_dt'].max())

min_date_sub_data=df_sub_data_files['week_end_dt'].min()

2016-07-02 2018-06-09
min_date_sub_data 2016-07-02
2018-06-16 2018-07-14
2016-07-02 2018-07-14

In [4]:
# No need since the above weekly data is as week end date
# Use the closest stores based on customer zip code

In [5]:
# 1 out of the 2

lapsed_part0=pd.read_table("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/lapsed20140826_20170226/MediaStormLapsedCustDtl.txt",
                     sep=",",usecols=['customer_id_hashed','transaction_date'],dtype=str)

lapsed_part0=lapsed_part0[(lapsed_part0['transaction_date']>=Beginning_48_months_ago) & (lapsed_part0['transaction_date']<"2016-06-26")] # as the Sunday of the 1st week in the subclass level data
print(lapsed_part0['transaction_date'].min(),lapsed_part0['transaction_date'].max())

lapsed_part0=lapsed_part0[['customer_id_hashed']].drop_duplicates()

2016-01-17 2016-06-25

In [6]:
# 2 out of the 2

i_counter=0
list_historical_19_48_weekly_ids=[]
for file in df_sub_data_files['file_path'].tolist():
    df=pd.read_table(file,dtype=str,sep="|",usecols=['customer_id_hashed'])
    df=df[pd.notnull(df['customer_id_hashed'])].drop_duplicates()
    
    list_historical_19_48_weekly_ids.append(df)
    i_counter+=1
    if i_counter%10==1:
        print(i_counter,datetime.datetime.now())
lapsed_part1=pd.concat(list_historical_19_48_weekly_ids)
del list_historical_19_48_weekly_ids
gc.collect()

1 2020-01-27 20:56:21.812593
11 2020-01-27 21:00:18.695038
21 2020-01-27 21:11:07.802445
31 2020-01-27 21:33:21.218892
41 2020-01-27 21:38:39.587703
51 2020-01-27 21:40:50.002727
61 2020-01-27 21:43:17.737822
71 2020-01-27 21:45:58.861443
81 2020-01-27 21:51:29.003640
91 2020-01-27 21:54:11.540662
101 2020-01-27 21:56:50.297442

0

In [7]:
df_lapsed_1948_ids=lapsed_part0.append(lapsed_part1).drop_duplicates()
del lapsed_part0
del lapsed_part1

gc.collect()

0

In [8]:
dftotal=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1/BL_LR_audience_18_months_details_2020Q1_JL_2020-01-22.csv")

list_unique_18_ids=dftotal['customer_id_hashed'].unique().tolist()
df_lapsed_1948_ids=df_lapsed_1948_ids[~df_lapsed_1948_ids['customer_id_hashed'].isin(list_unique_18_ids)]

In [9]:
# Repeated above

import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [10]:
dfiddetail=pd.read_sql('select customer_id_hashed,email_address_hash,customer_zip_code from BL_Rewards_Master',con=BL_engine)
print("dfiddetail.shape "+str(dfiddetail.shape))
print("dfiddetail['customer_id_hashed'].nunique() "+str(dfiddetail['customer_id_hashed'].nunique()))
print("dfiddetail['email_address_hash'].nunique() "+str(dfiddetail['email_address_hash'].nunique()))

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

dfiddetail.shape (32739887, 3)
dfiddetail['customer_id_hashed'].nunique() 32739883
dfiddetail['email_address_hash'].nunique() 32732216

In [11]:
dfiddetail=dfiddetail.drop_duplicates()
print("dfiddetail.shape "+str(dfiddetail.shape))

dfiddetail=dfiddetail.drop_duplicates("customer_id_hashed") # drop the only 1 duplicated

dfiddetail.shape (32739884, 3)

In [12]:
customer_unique_zip_cd=dfiddetail[['customer_zip_code']].drop_duplicates()
customer_unique_zip_cd=customer_unique_zip_cd[~pd.isnull(customer_unique_zip_cd['customer_zip_code'])]
customer_unique_zip_cd['cleaned_zip_cd']=customer_unique_zip_cd['customer_zip_code'].apply(lambda x: x.split("-")[0][:5].zfill(5))

In [13]:
store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200101-135601-098.txt",
                        dtype=str,sep="|")
store_list=store_list[['location_id','latitude_meas','longitude_meas']]
store_list=store_list[store_list['location_id']!="6990"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
store_list['store_coor']=store_list[['latitude_meas','longitude_meas']].values.tolist()
dict_store_lat=store_list.set_index("location_id").to_dict()['store_coor']

store_list.shape

(1421, 4)

In [14]:
df_unique_zip5=customer_unique_zip_cd[['cleaned_zip_cd']].drop_duplicates()
df_unique_zip5.shape

(70336, 1)

In [15]:
import json
from haversine import haversine
zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))

def allocated_closet_store_to_zip(zip_input):
    try:
        zip_c=zip_centers[zip_input]
    except:
        return np.nan
    min_dist=np.inf
    for store,v in dict_store_lat.items():
        dist=haversine(zip_c,v,unit="mi")
        if dist<min_dist:
            min_dist=dist
            closet_store=store
    return closet_store

df_unique_zip5['closet_store']=df_unique_zip5['cleaned_zip_cd'].apply(lambda x: allocated_closet_store_to_zip(x))
customer_unique_zip_cd=pd.merge(customer_unique_zip_cd,df_unique_zip5,on="cleaned_zip_cd",how="left")

In [16]:
dfiddetail=pd.merge(dfiddetail,customer_unique_zip_cd,on="customer_zip_code",how="left")
print(dfiddetail.shape)

dfiddetail.head(5)

(32739883, 5)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closet_store
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,36081,36081,1292
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,93722,93722,4684
2,000002c86b9805b916f2a04b7a0031bb9ee03224e98221...,4765e094d9c921485df3befed517927f7119980982e000...,22560,22560,1585
3,000003066bafc6b19c55d3be5fc646a253c659e9e6baea...,d461fd1bb5f270aaa66016cc60bf6aa16a521565360e41...,21229,21229,5116
4,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,21620c4342292086ec48d349207620e54a528273c7ad3d...,14094,14094,831

In [17]:
del df_unique_zip5
del customer_unique_zip_cd
gc.collect()

0

In [18]:
df_lapsed_1948_ids.head(2)

                                   customer_id_hashed
7   2f816ecb3c8c342311a4aae16e8514a6a1198df5e6e0fc...
10  d66b069d8075e9db9e8424f501f002fcb3fcd57d7011e3...

In [19]:
print(df_lapsed_1948_ids.shape,df_lapsed_1948_ids['customer_id_hashed'].nunique())

(8405281, 1) 8405281

In [20]:
dfiddetail.head(2)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closet_store
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,36081,36081,1292
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,93722,93722,4684

In [21]:
df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,dfiddetail,on="customer_id_hashed",how="left")
df_lapsed_1948_ids=df_lapsed_1948_ids[pd.notnull(df_lapsed_1948_ids['email_address_hash'])]
print(df_lapsed_1948_ids.shape,df_lapsed_1948_ids['customer_id_hashed'].nunique())

(8081577, 5) 8081577

In [22]:
df_lapsed_1948_ids=df_lapsed_1948_ids.rename(columns={"closet_store":"closest_store"})
df_lapsed_1948_ids.head(2)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closest_store
0,2f816ecb3c8c342311a4aae16e8514a6a1198df5e6e0fc...,e93f7358aded86cc5782f6c8dccce8ed97256c67fb5ee3...,14150,14150,1629
1,d66b069d8075e9db9e8424f501f002fcb3fcd57d7011e3...,3e85db544f2d18a74624320567a5e358b48cb055dd8cdc...,31350,31350,NaN

In [23]:
df_SOTF=pd.ExcelFile("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1/SOTF/BL Store List Report from Dom 12.20.19.xlsx")
df_SOTF=df_SOTF.parse("Store List",dtype=str)
df_SOTF=df_SOTF[['Store','SOTF']]
print(df_SOTF['SOTF'].unique())
df_SOTF=df_SOTF[df_SOTF['SOTF']=="Yes"]
df_SOTF=df_SOTF[df_SOTF['Store']!="TBD"]
df_SOTF['SOTF']="SOTF"
df_SOTF=df_SOTF.rename(columns={"Store":"closest_store"})

df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,df_SOTF,on="closest_store",how="left")
df_lapsed_1948_ids['SOTF']=df_lapsed_1948_ids['SOTF'].fillna("Legacy")

['Yes' 'No' 'Yes 2020' nan]

In [24]:
df_store_competition=pd.read_csv("./Competitor_Label/BL_competitor_count_JL_2020-01-21.csv",dtype=str)
df_store_competition=df_store_competition.rename(columns={"location_id":'closest_store'})
del df_store_competition['competitor_count']
df_store_competition['competition_group']=df_store_competition['competition_group'].apply(lambda x:"Competitors"+x)

print(df_store_competition.shape,df_store_competition['closest_store'].nunique())

(1438, 2) 1438

In [25]:
file_furinture_sales_label=pd.ExcelFile("./BL_output_store_type_furniture_3_months_JL_2020-01-16.xlsx")
df_store_furniture_label=file_furinture_sales_label.parse('store_type_recent_3_months',dtype=str)

df_store_furniture_label=df_store_furniture_label[['location_id','store_furniture_group']]

print(df_store_furniture_label.shape,df_store_furniture_label['location_id'].nunique())

df_store_furniture_label=df_store_furniture_label.rename(columns={"location_id":"closest_store"})
df_store_furniture_label['store_furniture_group']=df_store_furniture_label['store_furniture_group'].apply(lambda x: "Furiniture"+x)

(1426, 2) 1426

In [26]:
df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,df_store_competition,on="closest_store",how="left")
df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,df_store_furniture_label,on="closest_store",how="left")
df_lapsed_1948_ids.head(2)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closest_store,SOTF,competition_group,store_furniture_group
0,2f816ecb3c8c342311a4aae16e8514a6a1198df5e6e0fc...,e93f7358aded86cc5782f6c8dccce8ed97256c67fb5ee3...,14150,14150,1629,SOTF,CompetitorsLow/No,FurinitureHigh
1,d66b069d8075e9db9e8424f501f002fcb3fcd57d7011e3...,3e85db544f2d18a74624320567a5e358b48cb055dd8cdc...,31350,31350,NaN,Legacy,NaN,NaN

In [27]:
df_lapsed_1948_ids['competition_group']=df_lapsed_1948_ids['competition_group'].fillna("CompetitorsLow/No")
df_lapsed_1948_ids['store_furniture_group']=df_lapsed_1948_ids['store_furniture_group'].fillna("FurinitureLow")
df_lapsed_1948_ids['Status']="Lapsed1948"

In [28]:
df_zip_type=pd.read_csv("./BL_ta_zip_relabeled.csv",dtype=str)
df_zip_type['zip_cd']=df_zip_type['zip_cd'].apply(lambda x: x.zfill(5))
df_zip_type=df_zip_type.rename(columns={"zip_cd":"cleaned_zip_cd"})

df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,df_zip_type,on="cleaned_zip_cd",how="left")
df_lapsed_1948_ids['zip_type']=df_lapsed_1948_ids['zip_type'].fillna("T")

In [29]:
del dfiddetail
gc.collect()

6296

In [30]:
dftotal['competition_group']=dftotal['competition_group'].replace('CompetitorsLow/No','CompetitorsLow')
df_lapsed_1948_ids['competition_group']=df_lapsed_1948_ids['competition_group'].replace('CompetitorsLow/No','CompetitorsLow')

In [31]:
dftotal['segment']=dftotal['SOTF']+"_"+dftotal['Status']+"_"+dftotal['HML_Group']+"_"+dftotal['zip_type']+"_"+ \
dftotal['IncomeDesc']+"_"+dftotal['LivesDesc']+"_"+dftotal['competition_group']+"_"+dftotal['store_furniture_group']+"_RFM20Q1"

df_lapsed_1948_ids['segment']=df_lapsed_1948_ids['SOTF']+"_"+df_lapsed_1948_ids['Status']+"_"+'NA'+"_"+df_lapsed_1948_ids['zip_type']+"_"+ \
"NA"+"_"+"NA"+"_"+df_lapsed_1948_ids['competition_group']+"_"+df_lapsed_1948_ids['store_furniture_group']+"_RFM20Q1"

In [32]:
folder_details="./final_details_output_"+str(datetime.datetime.now().date())+"/"
# checked no empty emails
try:
    os.stat(folder_details)
except:
    os.mkdir(folder_details)
dftotal.to_csv(folder_details+"BL_2020Q1_0_to_18_details_JL_"+str(datetime.datetime.now().date())+".csv",index=False) 
df_lapsed_1948_ids.to_csv(folder_details+"BL_2020Q1_19_to_48_details_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [33]:
# to continue with the saved file above

In [36]:
print(datetime.datetime.now())

2020-01-27 22:53:58.852906

In [34]:
df_summary_0_18=dftotal.groupby(['segment','SOTF','Status','HML_Group','zip_type','IncomeDesc','LivesDesc','competition_group','store_furniture_group'])['customer_id_hashed','email_address_hash'].nunique().reset_index()
df_summary_0_18=df_summary_0_18.rename(columns={"customer_id_hashed":"unique_ids","email_address_hash":"unique_emails"})


df_summary_19_48=df_lapsed_1948_ids.groupby(['segment','SOTF','Status','zip_type','competition_group','store_furniture_group'])['customer_id_hashed','email_address_hash'].nunique().reset_index()
df_summary_19_48=df_summary_19_48.rename(columns={"customer_id_hashed":"unique_ids","email_address_hash":"unique_emails"})

In [35]:
writer=pd.ExcelWriter("./BL_2020Q1_segmentation_summary_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_summary_0_18.to_excel(writer,"aud_0_to_18_months",index=False)
df_summary_19_48.to_excel(writer,"aud_19_to_48_months",index=False)
writer.save()