In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import glob
from haversine import haversine

import gc
import sqlalchemy
import json
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [71]:
folder_store_list="/home/jian/BigLots/static_files/Store_list/"
folder_email_unsubscription="/home/jian/BigLots/unsubscribe/"

path_json_zip_centers="/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json"
output_folder="./output_%s/"%(datetime.datetime.now().date())
path_excel_ta="/home/jian/Projects/Big_Lots/New_TA/package_to_run_TA_every_quarter/output_2020-07-22/BL_final_TA_updated_JL_2020-07-22.xlsx"
dict_update_location_latlng={}
path_SOTF_dom="/home/jian/BigLots/static_files/store_list_from_Dom/Store List Report 07.10.20 425PM.xlsx"
try:
    os.stat(output_folder)
except:
    os.mkdir(output_folder)

In [28]:
zip_centers=json.load(open(path_json_zip_centers,"r"))

latest_store_list=glob.glob(folder_store_list+"*.txt")
latest_store_list=sorted(latest_store_list,key=lambda x: os.stat(x).st_mtime)
latest_store_list=latest_store_list[-1]

def revise_store_lat_lng(path_store_list_input=latest_store_list):
    df=pd.read_csv(path_store_list_input,sep="|",dtype=str)
    df['latitude_meas']=df['latitude_meas'].astype(float)
    df=df[~df['location_id'].isin(['145','6990'])]
    df=df[df['latitude_meas']==0]
    print("type in lat and lng: %d, %d")
    for i,row in df.iterrows():
        store_num=row['location_id']
        address=row['address_line_1']+", "+row['city_nm']+", "+row['state_nm']+", "+row['zip_cd']+", US"
        print(address)
        
        google_lat_long=str(input())
        lat=eval(google_lat_long)[0]
        lng=eval(google_lat_long)[1]
        dict_update_location_latlng.update({store_num:{"lat":lat,"lng":lng}})
    print("dict_update_location_latlng: \n %s"%dict_update_location_latlng)
        
revise_store_lat_lng()

type in lat and lng: %d, %d
4525 N ORACLE RD, TUCSON, AZ, 85705-1637, US
32.2885745,-110.9797533
260 REMOUNT RD, FRONT ROYAL, VA, 22630-2145, US
38.9093159,-78.1832176
dict_update_location_latlng:
 {'4715': {'lat': 32.2885745, 'lng': -110.9797533}, '5416': {'lat': 38.9093159, 'lng': -78.1832176}}

In [2]:
lastdate_date = pd.read_sql("select max(transaction_dt) from Pred_POS_Department;",con=BL_engine).iloc[0,0]
Beginning_12_months_ago = str(lastdate_date-datetime.timedelta(days=52*7-1)) # Sunday
Beginning_18_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*1.5-1)) # Sunday
Beginning_48_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*4-1)) # Sunday

folder_write='/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q3/output_%s/'%str(datetime.datetime.now().date())
try:
    os.stat(folder_write)
except:
    os.mkdir(folder_write)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [3]:
lastdate_str=str(lastdate_date)
print("lastdate_date: %s"%lastdate_str)
print("Active Start on: %s"%Beginning_12_months_ago) #>=
print("Lapsed & Store_allocation Start on: %s"%Beginning_18_months_ago) #>=
print("Lapsed 19-48 Start on: %s"%Beginning_48_months_ago) #>=

lastdate_date: 2020-07-18
Active Start on: 2019-07-21
Lapsed & Store_allocation Start on: 2019-01-20
Lapsed 19-48 Start on: 2016-07-24

In [4]:
str_sql_Beginning_18_months_ago="'"+Beginning_18_months_ago+"'"
str_sql_Beginning_18_months_ago

"'2019-01-20'"

In [5]:
rfm_query="select customer_id_hashed, max(transaction_dt) as max_trans_date, sum(sales) as sales, count(distinct trans_order_since_18Q1) as transactions \
from Pred_POS_Department \
where transaction_dt>=%s \
group by customer_id_hashed;"%str_sql_Beginning_18_months_ago
print("rfm_query: \n"+rfm_query)

rfm_query:
select customer_id_hashed, max(transaction_dt) as max_trans_date, sum(sales) as sales, count(distinct trans_order_since_18Q1) as transactions from Pred_POS_Department where transaction_dt>='2019-01-20' group by customer_id_hashed;

In [6]:
print("query started: ",datetime.datetime.now())
dftotal=pd.read_sql(rfm_query,con=BL_engine)
dftotal=dftotal[pd.notnull(dftotal['customer_id_hashed'])]
print("query done: ",datetime.datetime.now())

query started:  2020-07-23 00:33:24.411358
query done:  2020-07-23 03:27:14.327466

In [7]:
dftotal.to_csv(folder_write + 'dftotal.csv',index=False)

In [8]:
dftotal=pd.read_csv(folder_write + 'dftotal.csv')

In [9]:
dftotal['max_trans_date']=pd.to_datetime(dftotal['max_trans_date']).dt.date

In [10]:
dftotal['recency']=lastdate_date - dftotal['max_trans_date']
dftotal['recency']=dftotal['recency'].apply(lambda x:x.days)
dftotal['recency']=np.ceil((dftotal['recency']+1)/30)

In [11]:
# The blow is corrected, due to the ascending & decending for each KPI. The higher the better, or the lower the better

dftotal=dftotal.sort_values(['transactions','recency','sales'],ascending=[0,1,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'Transindex'})

dftotal=dftotal.sort_values(['sales','recency','transactions'],ascending=[0,1,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'Amtindex'})

dftotal=dftotal.sort_values(['recency','transactions','sales'],ascending=[1,0,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'recencyindex'})

c_ids=len(dftotal.index)

c_ids=np.ceil(c_ids/5.0)

dftotal['Transindex']=np.ceil((dftotal['Transindex']+1)/c_ids)
dftotal['Amtindex']=np.ceil((dftotal['Amtindex']+1)/c_ids)
dftotal['recencyindex']=np.ceil((dftotal['recencyindex']+1)/c_ids)

dftotal['RFM']=dftotal['recencyindex']*100 + dftotal['Transindex']*10 + dftotal['Amtindex']

In [12]:
dftotal.to_csv(folder_write+"dftotal_with_index_all_EmailNotMergedYet.csv",index=False)

In [20]:
print(dftotal['max_trans_date'].min(),dftotal['max_trans_date'].max())

2019-01-20 2020-07-18

In [22]:
print(datetime.datetime.now())
dfiddetail=pd.read_sql('select customer_id_hashed,email_address_hash,customer_zip_code from BL_Rewards_Master order by sign_up_date desc',con=BL_engine)
dfiddetail=dfiddetail.drop_duplicates("customer_id_hashed")
print("dfiddetail.shape "+str(dfiddetail.shape))
print("dfiddetail['customer_id_hashed'].nunique() "+str(dfiddetail['customer_id_hashed'].nunique()))
print("dfiddetail['email_address_hash'].nunique() "+str(dfiddetail['email_address_hash'].nunique()))
print(datetime.datetime.now())

2020-07-23 10:39:04.803955
dfiddetail.shape (37118435, 3)
dfiddetail['customer_id_hashed'].nunique() 37118435
dfiddetail['email_address_hash'].nunique() 37109259
2020-07-23 11:36:51.171764

In [31]:
df_store_type=pd.ExcelFile(path_SOTF_dom)
df_store_type=df_store_type.parse("Store List",dtype=str)
df_store_type=df_store_type[["Store",'SOTF']]
df_store_type=df_store_type[df_store_type['SOTF'].str.lower()=="yes"]
df_store_type=df_store_type[df_store_type['Store']!="TBD"]
print(len(df_store_type),df_store_type['Store'].nunique())
df_store_type=df_store_type.rename(columns={"Store":"allocated_store","SOTF":"Store_Type"})
df_store_type['Store_Type']="SOTF"
df_store_type.head(2)

491 491

  allocated_store Store_Type
0               1       SOTF
7              49       SOTF

In [29]:
customer_unique_zip_cd=dfiddetail[['customer_zip_code']].drop_duplicates()
customer_unique_zip_cd=customer_unique_zip_cd[~pd.isnull(customer_unique_zip_cd['customer_zip_code'])]
customer_unique_zip_cd['cleaned_zip_cd']=customer_unique_zip_cd['customer_zip_code'].apply(lambda x: x.split("-")[0][:5].zfill(5))
customer_unique_zip_cd.shape

(258899, 2)

In [32]:
df_unique_zip5=customer_unique_zip_cd[['cleaned_zip_cd']].drop_duplicates()
df_unique_zip5.shape

(73449, 1)

In [34]:
store_list=pd.read_table(latest_store_list,
                        dtype=str,sep="|")
store_list=store_list[['location_id','latitude_meas','longitude_meas']]
store_list=store_list[store_list['location_id']!="6990"]
store_list=store_list[store_list['location_id']!="145"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
store_list['store_coor']=store_list[['latitude_meas','longitude_meas']].values.tolist()
dict_store_lat=store_list.set_index("location_id").to_dict()['store_coor']

store_list.shape

(1402, 4)

In [35]:
def allocated_closet_store_to_zip(zip_input):
    try:
        zip_c=zip_centers[zip_input]
    except:
        return np.nan
    min_dist=np.inf
    for store,v in dict_store_lat.items():
        dist=haversine(zip_c,v,unit="mi")
        if dist<min_dist:
            min_dist=dist
            closet_store=store
    return closet_store

df_unique_zip5['closet_store']=df_unique_zip5['cleaned_zip_cd'].apply(lambda x: allocated_closet_store_to_zip(x))
customer_unique_zip_cd=pd.merge(customer_unique_zip_cd,df_unique_zip5,on="cleaned_zip_cd",how="left")

In [39]:
dfiddetail=pd.merge(dfiddetail,customer_unique_zip_cd,on="customer_zip_code",how="left")
print(dfiddetail.shape)
del df_unique_zip5
del customer_unique_zip_cd
del dfiddetail['customer_zip_code']

gc.collect()

(37118435, 5)

8615

In [42]:
dfiddetail.to_csv(output_folder+"dfiddetail.csv")

In [45]:
# stores of top sales
query_top_store_per_id="select customer_id_hashed, location_id, count(distinct trans_order_since_18Q1) as trans, sum(sales) as sales \
from Pred_POS_Department \
where transaction_dt>=%s \
group by customer_id_hashed, location_id;"%str_sql_Beginning_18_months_ago

df_top_store_per_id=pd.read_sql(query_top_store_per_id,con=BL_engine)
df_top_store_per_id=df_top_store_per_id.sort_values(["customer_id_hashed","trans","sales"],ascending=[True,False,False])
df_top_store_per_id=df_top_store_per_id.drop_duplicates("customer_id_hashed")
del df_top_store_per_id['trans']
del df_top_store_per_id['sales']
gc.collect()
df_top_store_per_id.columns=['customer_id_hashed','top_sales_store']

In [46]:
print(datetime.datetime.now())

2020-07-23 14:02:18.834640

In [48]:
df_top_store_per_id.to_csv(output_folder+'df_top_store_per_id.csv')

In [49]:
gc.collect()

0

In [50]:
df_top_store_per_id.head(2)

                                     customer_id_hashed  top_sales_store
1467  000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...             1606
1468  00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...              563

In [51]:
dfiddetail.head(2)

,customer_id_hashed,email_address_hash,cleaned_zip_cd,closet_store
0,6eda8691dfa43b24667d029fd49f53573d71d5ee73f5f2...,eb198f52d4f3700c0d89055afb85c451e565e34bbb4104...,NaN,NaN
1,598821b25589bbb82103c4fb6cdbe81b82945ece95afbc...,b52ebdabf65ff5da91156e03016764ec83edab5573e5d8...,45330,1118

In [53]:
dftotal.head(2)

,recencyindex,Amtindex,Transindex,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM
0,1.0,1.0,1.0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,2020-07-15,114265.03,7369,1.0,111.0
1,1.0,1.0,1.0,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,2020-07-06,152169.41,6575,1.0,111.0

In [54]:
print(dftotal.shape,dftotal['customer_id_hashed'].nunique())
print(dfiddetail.shape,dfiddetail['customer_id_hashed'].nunique())
print(df_top_store_per_id.shape,df_top_store_per_id['customer_id_hashed'].nunique())

(23101395, 9) 23101395
(37118435, 4) 37118435
(23101396, 2) 23101395

In [55]:
del dftotal['recencyindex']
del dftotal['Amtindex']
del dftotal['Transindex']
gc.collect()

0

In [56]:
dftotal=pd.merge(dftotal,dfiddetail,on="customer_id_hashed",how="left")
del dfiddetail
gc.collect()
dftotal=pd.merge(dftotal,df_top_store_per_id,on="customer_id_hashed",how="left")
del df_top_store_per_id
gc.collect()

0

In [61]:
dftotal['allocated_store']=np.where(pd.notnull(dftotal['top_sales_store']),
                                    dftotal['top_sales_store'],
                                    dftotal['closet_store'])
print(dftotal.shape)
dftotal.head(2)

(23101395, 11)

,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM,email_address_hash,cleaned_zip_cd,closet_store,top_sales_store,allocated_store
0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,2020-07-15,114265.03,7369,1.0,111.0,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684,1684,1684
1,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,2020-07-06,152169.41,6575,1.0,111.0,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,11726,1753,1753,1753

In [63]:
# Remove no email ids
print(dftotal.shape)
dftotal=dftotal[pd.notnull(dftotal['email_address_hash'])]
print(dftotal.shape)

(23101395, 11)
(20917437, 11)

In [69]:
dftotal['allocated_store']=dftotal['allocated_store'].astype(int)
df_store_type['allocated_store']=df_store_type['allocated_store'].astype(int)
dftotal=pd.merge(dftotal,df_store_type,on="allocated_store",how="left")
dftotal['Store_Type']=dftotal['Store_Type'].fillna("Legacy")
gc.collect()

93

In [79]:
excel=pd.ExcelFile(path_excel_ta)
df_zip_label=excel.parse("unique_zips_full_footprint",dtype=str)
print(df_zip_label['zip_type'].unique())
print(df_zip_label['zip_cd'].apply(len).unique())
df_zip_label=df_zip_label.rename(columns={"zip_cd":"cleaned_zip_cd"})
df_zip_label['zip_type']=df_zip_label['zip_type'].replace("zips_10","trans_P")
df_zip_label['zip_type']=df_zip_label['zip_type'].apply(lambda x: x.split("_")[1])
del excel
gc.collect()
print(df_zip_label['zip_type'].unique())

df_zip_label.head(5)

['trans_P' 'trans_S' 'zips_10']
[5]
['P' 'S']

  zip_type cleaned_zip_cd
0        P          76248
1        P          23185
2        P          23168
3        P          23608
4        P          23607

In [80]:
dftotal=pd.merge(dftotal,df_zip_label,on="cleaned_zip_cd",how="left")
dftotal['zip_type']=dftotal['zip_type'].fillna("T")
print(dftotal.shape)
dftotal.head(3)

(20917437, 13)

,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM,email_address_hash,cleaned_zip_cd,closet_store,top_sales_store,allocated_store,Store_Type,zip_type
0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,2020-07-15,114265.03,7369,1.0,111.0,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684,1684,1684,Legacy,P
1,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,2020-07-06,152169.41,6575,1.0,111.0,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,11726,1753,1753,1753,SOTF,P
2,02cdd41af5ee82b39607416b74290152b00183fbce3068...,2020-07-18,179698.84,6110,1.0,111.0,295e2ee597ca9fce3fa6fd8abbd947a93bb4eb4732e6e2...,14075,1839,1839,1839,SOTF,P

In [85]:
date_Beginning_12_months_ago=datetime.datetime.strptime(Beginning_12_months_ago,"%Y-%m-%d").date()

dftotal['Status']=np.where(dftotal['max_trans_date']>=date_Beginning_12_months_ago,"Active","Lapsed1318")
dftotal.head(2)

,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM,email_address_hash,cleaned_zip_cd,closet_store,top_sales_store,allocated_store,Store_Type,zip_type,Status
0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,2020-07-15,114265.03,7369,1.0,111.0,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684,1684,1684,Legacy,P,Active
1,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,2020-07-06,152169.41,6575,1.0,111.0,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,11726,1753,1753,1753,SOTF,P,Active

In [86]:
dftotal = dftotal.sort_values(['RFM','recency','transactions',
                               'sales'],ascending = [1,1,0,0])

print(dftotal.shape)
dftotal=dftotal.drop_duplicates("email_address_hash") ####### Email duplications also dropped
print("drop_duplicates('email_address_hash')",dftotal.shape) 

dftotal.reset_index(drop = True, inplace = True)
dftotal.reset_index(inplace = True)

dftotal = dftotal.rename(columns = {'index':'frmindex'})
c_ids = len(dftotal.index)
c_ids = np.ceil(c_ids/10.0)
dftotal['frmindex'] = np.ceil((dftotal['frmindex']+1)/c_ids)

print("Done with the RFM scoring, "+str(datetime.datetime.now()))

dftotal['frmindex']=dftotal['frmindex'].apply(lambda x: "D"+str(int(float(x))).zfill(2))

(20917437, 14)
drop_duplicates('email_address_hash') (20915869, 14)
Done with the RFM scoring, 2020-07-23 15:58:14.174661

In [89]:
df_H=pd.DataFrame({"frmindex":['D01','D02','D03','D04']})
df_H['HML_Group']="H"

df_M=pd.DataFrame({"frmindex":['D05','D06','D07']})
df_M['HML_Group']="M"

df_L=pd.DataFrame({"frmindex":['D08','D09','D10']})
df_L['HML_Group']="L"

df_HML=df_H.append(df_M).append(df_L)
gc.collect()

38

In [90]:
dftotal=pd.merge(dftotal,df_HML,on='frmindex',how="left")

dftotal.to_csv(output_folder+"dftotal_details_full.csv",index=False)
del df_HML
gc.collect()

0

In [91]:
dftotal.head(2)

,frmindex,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM,email_address_hash,cleaned_zip_cd,closet_store,top_sales_store,allocated_store,Store_Type,zip_type,Status,HML_Group
0,D01,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,2020-07-15,114265.03,7369,1.0,111.0,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,1684,1684,1684,Legacy,P,Active,H
1,D01,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,2020-07-06,152169.41,6575,1.0,111.0,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,11726,1753,1753,1753,SOTF,P,Active,H

# Restart for lapsed 18-49, checkpoint 1

In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import glob
from haversine import haversine

import gc
import sqlalchemy
import json
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )
str_ending="RFM20Q3"

folder_store_list="/home/jian/BigLots/static_files/Store_list/"
folder_email_unsubscription="/home/jian/BigLots/unsubscribe/"
path_json_zip_centers="/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json"
output_folder="./output_%s/"%(datetime.datetime.now().date())
path_excel_ta="/home/jian/Projects/Big_Lots/New_TA/package_to_run_TA_every_quarter/output_2020-07-22/BL_final_TA_updated_JL_2020-07-22.xlsx"
dict_update_location_latlng={}
path_SOTF_dom="/home/jian/BigLots/static_files/store_list_from_Dom/Store List Report 07.10.20 425PM.xlsx"


output_folder="./output_%s/"%(datetime.datetime.now().date())
lastdate_date = pd.read_sql("select max(transaction_dt) from Pred_POS_Department;",con=BL_engine).iloc[0,0]
Beginning_12_months_ago = str(lastdate_date-datetime.timedelta(days=52*7-1)) # Sunday
Beginning_18_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*1.5-1)) # Sunday
Beginning_48_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*4-1)) # Sunday


zip_centers=json.load(open(path_json_zip_centers,"r"))

latest_store_list=glob.glob(folder_store_list+"*.txt")
latest_store_list=sorted(latest_store_list,key=lambda x: os.stat(x).st_mtime)
latest_store_list=latest_store_list[-1]
########
def revise_store_lat_lng(path_store_list_input=latest_store_list):
    df=pd.read_csv(path_store_list_input,sep="|",dtype=str)
    df['latitude_meas']=df['latitude_meas'].astype(float)
    df=df[~df['location_id'].isin(['145','6990'])]
    df=df[df['latitude_meas']==0]
    print("type in lat and lng: %d, %d")
    for i,row in df.iterrows():
        store_num=row['location_id']
        address=row['address_line_1']+", "+row['city_nm']+", "+row['state_nm']+", "+row['zip_cd']+", US"
        print(address)
        
        google_lat_long=str(input())
        lat=eval(google_lat_long)[0]
        lng=eval(google_lat_long)[1]
        dict_update_location_latlng.update({store_num:{"lat":lat,"lng":lng}})
    print("dict_update_location_latlng: \n %s"%dict_update_location_latlng)
        
        
def update_store_location(df):
    for store_num, store_revised_loc in dict_update_location_latlng.items():

        df.loc[df['location_id']==store_num,'latitude_meas']=store_revised_loc['lat']
        df.loc[df['location_id']==store_num,'longitude_meas']=store_revised_loc['lng']
    
    return df

########
store_list=pd.read_table(latest_store_list,
                        dtype=str,sep="|")
store_list=store_list[['location_id','latitude_meas','longitude_meas']]
store_list=store_list[store_list['location_id']!="6990"]
store_list=store_list[store_list['location_id']!="145"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
store_list=update_store_location(store_list)


store_list['store_coor']=store_list[['latitude_meas','longitude_meas']].values.tolist()
dict_store_lat=store_list.set_index("location_id").to_dict()['store_coor']

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [3]:
lastdate_str=str(lastdate_date)
print("lastdate_date: %s"%lastdate_str)
print("Active Start on: %s"%Beginning_12_months_ago) #>=
print("Lapsed & Store_allocation Start on: %s"%Beginning_18_months_ago) #>=
print("Lapsed 19-48 Start on: %s"%Beginning_48_months_ago) #>=

def recursive_file_gen(root_folder):
    for root, dirs, files in os.walk(root_folder):
        for file in files:
            yield os.path.join(root, file)
            
            
            
first_date_mysql = pd.read_sql("select min(transaction_dt) from Pred_POS_Department;",con=BL_engine).iloc[0,0]
print("first_date_mysql: %s"%first_date_mysql)

lastdate_date: 2020-07-18
Active Start on: 2019-07-21
Lapsed & Store_allocation Start on: 2019-01-20
Lapsed 19-48 Start on: 2016-07-24
first_date_mysql: 2018-02-04

In [9]:
subclass_file_list=glob.glob("/home/jian/BigLots/hist_daily_data_subclasslevel/*.txt")
df_subclass_file=pd.DataFrame({"file_path":subclass_file_list})
df_subclass_file['week_end_dt']=df_subclass_file['file_path'].apply(lambda x: x.split("es_week_ending_")[1][:10])
df_subclass_file=df_subclass_file[df_subclass_file['week_end_dt']>=Beginning_48_months_ago]
df_subclass_file=df_subclass_file[df_subclass_file['week_end_dt']<str(first_date_mysql)]

df_subclass_file=df_subclass_file.sort_values("week_end_dt")
print(df_subclass_file['week_end_dt'].min(),df_subclass_file['week_end_dt'].max())

min_date_sub_data=df_subclass_file['week_end_dt'].min()
print("min_date_sub_data",min_date_sub_data)

################
daily_sub_file=list(recursive_file_gen("/home/jian/BigLots/2018_by_weeks/"))
daily_sub_file=[x for x in daily_sub_file if "dailysales" in x.lower()]
daily_sub_file=[x for x in daily_sub_file if "eks/MediaStorm_" in x]
df_daily_sub_file=pd.DataFrame({"file_path":daily_sub_file})

df_daily_sub_file['week_end_dt']=df_daily_sub_file['file_path'].apply(lambda x: x.split("s/MediaStorm_")[1][:10])
df_daily_sub_file=df_daily_sub_file[df_daily_sub_file['week_end_dt']>=df_subclass_file['week_end_dt'].max()]
df_daily_sub_file=df_daily_sub_file[df_daily_sub_file['week_end_dt']<str(first_date_mysql)]
df_daily_sub_file=df_daily_sub_file.sort_values("week_end_dt")

print(df_daily_sub_file['week_end_dt'].min(),df_daily_sub_file['week_end_dt'].max())


################
df_sub_data_files=df_subclass_file.append(df_daily_sub_file)
df_sub_data_files=df_sub_data_files.sort_values("week_end_dt")
del df_subclass_file
del df_daily_sub_file

print(df_sub_data_files['week_end_dt'].min(),df_sub_data_files['week_end_dt'].max())

min_date_sub_data=df_sub_data_files['week_end_dt'].min()

print(df_sub_data_files.shape,df_sub_data_files['week_end_dt'].nunique())

2016-07-30 2018-02-03
min_date_sub_data 2016-07-30
nan nan
2016-07-30 2018-02-03
(80, 2) 80

In [17]:
#1 
list_historical_19_48_weekly_ids=[]
i_counter=0
for file in df_sub_data_files['file_path'].tolist():
    df=pd.read_table(file,dtype=str,sep="|",usecols=['customer_id_hashed'])
    df=df[pd.notnull(df['customer_id_hashed'])].drop_duplicates()
    
    list_historical_19_48_weekly_ids.append(df)
    i_counter+=1
    if i_counter%10==1:
        print(i_counter,datetime.datetime.now())
lapsed_part1=pd.concat(list_historical_19_48_weekly_ids).drop_duplicates()
del list_historical_19_48_weekly_ids
gc.collect()

1 2020-07-23 16:55:02.167015
11 2020-07-23 17:00:09.841604
21 2020-07-23 17:09:09.025228
31 2020-07-23 17:14:23.088793
41 2020-07-23 17:33:22.196739
51 2020-07-23 17:41:51.563652
61 2020-07-23 17:44:07.928797
71 2020-07-23 17:47:01.398079

80

In [18]:
#2
str_query_up_to="'"+str(Beginning_18_months_ago)+"'"
query="select distinct customer_id_hashed as customer_id_hashed from Pred_POS_Department where transaction_dt <%s"%str_query_up_to
lapsed_part2=pd.read_sql(query,con=BL_engine)

In [19]:
df_lapsed=lapsed_part1.append(lapsed_part2)
del lapsed_part1
del lapsed_part2
df_lapsed_1948_ids=df_lapsed_1948_ids.drop_duplicates()
gc.collect()

0

In [20]:
dftotal=pd.read_csv(output_folder+"dftotal_details_full.csv",
                    usecols=['customer_id_hashed','email_address_hash','Store_Type','Status','HML_Group','zip_type'])
dftotal.head(2)

,customer_id_hashed,email_address_hash,Store_Type,zip_type,Status,HML_Group
0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,Legacy,P,Active,H
1,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,SOTF,P,Active,H

In [22]:
list_unique_18_ids=dftotal['customer_id_hashed'].tolist()
df_lapsed_1948_ids=df_lapsed_1948_ids[~df_lapsed_1948_ids['customer_id_hashed'].isin(list_unique_18_ids)]
del list_unique_18_ids

gc.collect()

0

In [21]:
print(datetime.datetime.now())
dfiddetail=pd.read_sql('select customer_id_hashed,email_address_hash,customer_zip_code from BL_Rewards_Master order by sign_up_date desc',con=BL_engine)
dfiddetail=dfiddetail.drop_duplicates("customer_id_hashed")
print("dfiddetail.shape "+str(dfiddetail.shape))
print("dfiddetail['customer_id_hashed'].nunique() "+str(dfiddetail['customer_id_hashed'].nunique()))
print("dfiddetail['email_address_hash'].nunique() "+str(dfiddetail['email_address_hash'].nunique()))
print(datetime.datetime.now())

2020-07-23 20:46:04.976713
dfiddetail.shape (37118435, 3)
dfiddetail['customer_id_hashed'].nunique() 37118435
dfiddetail['email_address_hash'].nunique() 37109259
2020-07-23 21:07:06.877399

In [23]:
customer_unique_zip_cd=dfiddetail[['customer_zip_code']].drop_duplicates()
customer_unique_zip_cd=customer_unique_zip_cd[~pd.isnull(customer_unique_zip_cd['customer_zip_code'])]
customer_unique_zip_cd['cleaned_zip_cd']=customer_unique_zip_cd['customer_zip_code'].apply(lambda x: x.split("-")[0][:5].zfill(5))

In [25]:
df_unique_zip5=customer_unique_zip_cd[['cleaned_zip_cd']].drop_duplicates()
df_unique_zip5.shape

(73449, 1)

In [26]:
def allocated_closet_store_to_zip(zip_input):
    try:
        zip_c=zip_centers[zip_input]
    except:
        return np.nan
    min_dist=np.inf
    for store,v in dict_store_lat.items():
        dist=haversine(zip_c,v,unit="mi")
        if dist<min_dist:
            min_dist=dist
            closet_store=store
    return closet_store

df_unique_zip5['closest_store']=df_unique_zip5['cleaned_zip_cd'].apply(lambda x: allocated_closet_store_to_zip(x))
customer_unique_zip_cd=pd.merge(customer_unique_zip_cd,df_unique_zip5,on="cleaned_zip_cd",how="left")

In [28]:
dfiddetail=pd.merge(dfiddetail,customer_unique_zip_cd,on="customer_zip_code",how="left")
print(dfiddetail.shape)

del df_unique_zip5
del customer_unique_zip_cd
gc.collect()

(37118435, 5)

0

In [29]:
df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,dfiddetail,on="customer_id_hashed",how="left")
df_lapsed_1948_ids=df_lapsed_1948_ids[pd.notnull(df_lapsed_1948_ids['email_address_hash'])]
print(df_lapsed_1948_ids.shape,df_lapsed_1948_ids['customer_id_hashed'].nunique())

(9492336, 5) 9492336

In [31]:
df_store_type=pd.ExcelFile(path_SOTF_dom)
df_store_type=df_store_type.parse("Store List",dtype=str)
df_store_type=df_store_type[["Store",'SOTF']]
df_store_type=df_store_type[df_store_type['SOTF'].str.lower()=="yes"]
df_store_type=df_store_type[df_store_type['Store']!="TBD"]
print(len(df_store_type),df_store_type['Store'].nunique())
df_store_type=df_store_type.rename(columns={"Store":"closest_store","SOTF":"Store_Type"})
df_store_type['Store_Type']="SOTF"
df_store_type.head(2)

491 491

  closest_store Store_Type
0             1       SOTF
7            49       SOTF

In [32]:
df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,df_store_type,on="closest_store",how="left")
df_lapsed_1948_ids['Store_Type']=df_lapsed_1948_ids['Store_Type'].fillna("Legacy")
df_lapsed_1948_ids.head(3)

,customer_id_hashed,email_address_hash,customer_zip_code,cleaned_zip_cd,closest_store,Store_Type
0,2faa361a6ca66e22bcd73d3279434a188ae8ec3f5dd9f4...,8a3ed6d103341b01977ee50f96e404ca40fe68e70f0f46...,16858,16858,1725,Legacy
1,90f72bf4728e737900cc459a97b248fd01327e3b523e61...,3e022296a6aadeefc9681a7a3cfff13ed82c33ed220574...,30907,30907,5299,Legacy
2,c85a2c338c6910677c11769ef9397e1fb248b972218b49...,5f7888169c354c078d89246cbc59db9b3a7557bcb4d684...,18201,18201,1741,SOTF

In [33]:
excel=pd.ExcelFile(path_excel_ta)
df_zip_label=excel.parse("unique_zips_full_footprint",dtype=str)
print(df_zip_label['zip_type'].unique())
print(df_zip_label['zip_cd'].apply(len).unique())
df_zip_label=df_zip_label.rename(columns={"zip_cd":"cleaned_zip_cd"})
df_zip_label['zip_type']=df_zip_label['zip_type'].replace("zips_10","trans_P")
df_zip_label['zip_type']=df_zip_label['zip_type'].apply(lambda x: x.split("_")[1])
del excel
gc.collect()
print(df_zip_label['zip_type'].unique())

df_zip_label.head(5)

['trans_P' 'trans_S' 'zips_10']
[5]
['P' 'S']

  zip_type cleaned_zip_cd
0        P          76248
1        P          23185
2        P          23168
3        P          23608
4        P          23607

In [34]:
df_lapsed_1948_ids=pd.merge(df_lapsed_1948_ids,df_zip_label,on="cleaned_zip_cd",how="left")
df_lapsed_1948_ids['zip_type']=df_lapsed_1948_ids['zip_type'].fillna("T")
df_lapsed_1948_ids['Status']="Lapsed1948"
print(df_lapsed_1948_ids.shape)

(9492336, 7)

In [39]:
dftotal['segment']=dftotal['Store_Type']+"_"+dftotal['Status']+"_"+dftotal['HML_Group']+"_"+dftotal['zip_type']+"_"+str_ending
df_lapsed_1948_ids['segment']=df_lapsed_1948_ids['Store_Type']+"_"+df_lapsed_1948_ids['Status']+"_"+['NA']+"_"+df_lapsed_1948_ids['zip_type']+"_"+str_ending

In [41]:
dftotal.to_csv(output_folder+"dftotal_with_segment.csv",index=False)
df_lapsed_1948_ids.to_csv(output_folder+"df_lapsed_1948_ids_with_segment.csv",index=False)

In [66]:
dftotal=pd.read_csv(output_folder+"dftotal_with_segment.csv")
df_lapsed_1948_ids=pd.read_csv(output_folder+"df_lapsed_1948_ids_with_segment.csv")

dftotal['segment']=dftotal['segment'].apply(lambda x: x.replace("__","_"))
df_lapsed_1948_ids['segment']=df_lapsed_1948_ids['segment'].apply(lambda x: x.replace("__","_"))

dftotal.to_csv(output_folder+"dftotal_with_segment.csv",index=False)
df_lapsed_1948_ids.to_csv(output_folder+"df_lapsed_1948_ids_with_segment.csv",index=False)

In [67]:
df_summary_0_18=dftotal.groupby(['segment','Store_Type','Status','HML_Group','zip_type'])['customer_id_hashed','email_address_hash'].nunique().reset_index()
df_summary_0_18=df_summary_0_18.rename(columns={"customer_id_hashed":"unique_ids","email_address_hash":"unique_emails"})

df_summary_19_48=df_lapsed_1948_ids.groupby(['segment','Store_Type','Status','zip_type'])['customer_id_hashed','email_address_hash'].nunique().reset_index()
df_summary_19_48=df_summary_19_48.rename(columns={"customer_id_hashed":"unique_ids","email_address_hash":"unique_emails"})

In [68]:
writer=pd.ExcelWriter("BL_%s_segmentation_summary_before_splitTandC_JL_%s"%(str_ending,str(datetime.datetime.now().date()))+".xlsx",engine="xlsxwriter")
df_summary_0_18.to_excel(writer,"aud_0_to_18_months",index=False)
df_summary_19_48.to_excel(writer,"aud_19_to_48_months",index=False)
writer.save()

In [69]:
print(df_summary_0_18['unique_emails'].sum())
print(df_summary_19_48['unique_emails'].sum())

20915869
9491704

# Restart for Email subsription, checkpoint 2

In [15]:
# Load the libraries above
print(datetime.datetime.now())
sample_rows=None
old_output_folder='./output_2020-07-23/'
list_col=['customer_id_hashed','email_address_hash','Store_Type','HML_Group','Status']
dftotal=pd.read_csv(old_output_folder+"dftotal_with_segment.csv",nrows=sample_rows,
                    usecols=['customer_id_hashed','email_address_hash','Store_Type','HML_Group','Status'])
df_lapsed_1948_ids=pd.read_csv(old_output_folder+"df_lapsed_1948_ids_with_segment.csv",
                               nrows=sample_rows,usecols=['customer_id_hashed','email_address_hash','Store_Type','Status'])
df_lapsed_1948_ids['HML_Group']="NA"

df_all_ids=dftotal.append(df_lapsed_1948_ids)
df_all_ids=df_all_ids[list_col]
print(datetime.datetime.now())
print(df_all_ids.shape,df_all_ids['customer_id_hashed'].nunique(),df_all_ids['email_address_hash'].nunique())
df_all_ids=df_all_ids.drop_duplicates("customer_id_hashed").drop_duplicates("email_address_hash")

2020-07-24 12:09:49.665235
2020-07-24 12:20:26.805446
(30408205, 5) 30408205 30402577

In [16]:
path_latest_unsub=glob.glob(folder_email_unsubscription+"*.csv")
path_latest_unsub=[x for x in path_latest_unsub if "unsubscriber" in x.lower() and "refresh" in x.lower()]
path_latest_unsub=sorted(path_latest_unsub, key=lambda x: os.stat(x).st_mtime)
path_latest_unsub=path_latest_unsub[-1]

In [17]:
df_unsub=pd.read_csv(path_latest_unsub,usecols=['customersummary_emailhash','customersummary_c_primaryscnhash'])
list_unsub_id=df_unsub['customersummary_c_primaryscnhash'].to_list()
list_unsub_email=df_unsub['customersummary_emailhash'].to_list()

In [18]:
df_all_ids['EmailSub']=np.where(df_all_ids['customer_id_hashed'].isin(list_unsub_id),"N",
                               np.where(df_all_ids['email_address_hash'].isin(list_unsub_email),"N","Y"))
df_all_ids.head(2)

,customer_id_hashed,email_address_hash,Store_Type,HML_Group,Status,EmailSub
0,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,Legacy,H,Active,Y
1,cea60a4c9703abd6cd8081bfae9f2420e7e5bd8bba0fd4...,04e179d3e08f65382d320eaff61a2eb3edc874ea355003...,SOTF,H,Active,Y

In [19]:
df_all_ids['Status'].unique()

array(['Active', 'Lapsed1318', 'Lapsed1948'], dtype=object)

In [20]:
dftotal=df_all_ids[df_all_ids['Status']!="Lapsed1948"]
df_lapsed_1948_ids=df_all_ids[df_all_ids['Status']=="Lapsed1948"]
del df_all_ids
gc.collect()

976

In [21]:
dftotal['segment']=dftotal['Store_Type']+"_"+dftotal['HML_Group']+"_"+dftotal['Status']+"_"+dftotal['EmailSub']
df_lapsed_1948_ids['segment']=df_lapsed_1948_ids['Store_Type']+"_"+df_lapsed_1948_ids['HML_Group']+"_"+df_lapsed_1948_ids['Status']+"_"+df_lapsed_1948_ids['EmailSub']

# Split T vs C

In [22]:
df_0_to_18_count_PS=dftotal.groupby("segment")['customer_id_hashed'].count().to_frame().reset_index()
df_19_to_48_count_P=df_lapsed_1948_ids.groupby("segment")['customer_id_hashed'].count().to_frame().reset_index()
df_0_to_18_count_PS=df_0_to_18_count_PS.sort_values("segment")
df_19_to_48_count_P=df_19_to_48_count_P.sort_values("segment")

list_seg_small_0_to_18=df_0_to_18_count_PS[df_0_to_18_count_PS['customer_id_hashed']<=3600]['segment'].unique().tolist()
list_seg_small_19_to_48=df_19_to_48_count_P[df_19_to_48_count_P['customer_id_hashed']<=3600]['segment'].unique().tolist()
print("len(list_seg_small_0_to_18)",len(list_seg_small_0_to_18))
print("len(list_seg_small_19_to_48)",len(list_seg_small_19_to_48))

len(list_seg_small_0_to_18) 0
len(list_seg_small_19_to_48) 0

In [23]:
import random
print(datetime.datetime.now(),"start splitting")
random.seed(0)

df_test_all=pd.DataFrame()
df_control_all=pd.DataFrame()

2020-07-24 12:37:15.838883 start splitting

In [24]:
count_control_0_to_18=500000
count_control_19_to_48=100000
pctg_0_18=np.round(count_control_0_to_18/dftotal.shape[0],6)
print("pctg_0_18",pctg_0_18)
pctg_19_48=np.round(count_control_19_to_48/df_lapsed_1948_ids.shape[0],6)
print("pctg_19_48",pctg_19_48)

pctg_0_18 0.023905
pctg_19_48 0.010541

In [25]:
writer_folder_all_wanted="/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_20%s/wanted_segment_files/"%str_ending[-4:]
try:
    os.stat(writer_folder_all_wanted)
except:
    os.mkdir(writer_folder_all_wanted)

In [26]:
df_test_all=pd.DataFrame()
df_control_all=pd.DataFrame()
i=0
for seg, group in dftotal.groupby("segment"):
    group=group.reset_index()
    del group['index']
    group=group.reset_index()
    len_group=len(group)
    
    ind_control=random.sample(range(len_group),int(len_group*pctg_0_18))
    df_group_T=group[~group['index'].isin(ind_control)]
    df_group_C=group[group['index'].isin(ind_control)]
    
    del df_group_T['index']
    del df_group_C['index']
    
    new_T_seg="T_"+seg
    new_C_seg="C_"+seg
    del df_group_T['segment']
    del df_group_C['segment']
    df_group_T['segment_20%s'%str_ending[-4:]]=new_T_seg
    df_group_C['segment_20%s'%str_ending[-4:]]=new_C_seg
    
    df_test_all=df_test_all.append(df_group_T)
    df_control_all=df_control_all.append(df_group_C)
    
    df_group_T.to_csv(writer_folder_all_wanted+new_T_seg+".csv",index=False)
    df_group_C.to_csv(writer_folder_all_wanted+new_C_seg+".csv",index=False)
    print(new_T_seg,df_group_T.shape)
    print(new_C_seg,df_group_C.shape)
    del df_group_T
    del df_group_C
    i+=1
    if i%10==1:
        print(i,datetime.datetime.now())
        
i=0
for seg, group in df_lapsed_1948_ids.groupby("segment"):
    group=group.reset_index()
    del group['index']
    group=group.reset_index()
    len_group=len(group)
    
    ind_control=random.sample(range(len_group),int(len_group*pctg_19_48))
    df_group_T=group[~group['index'].isin(ind_control)]
    df_group_C=group[group['index'].isin(ind_control)]
    
    del df_group_T['index']
    del df_group_C['index']
    
    new_T_seg="T_"+seg
    new_C_seg="C_"+seg
    
    del df_group_T['segment']
    del df_group_C['segment']
    df_group_T['segment_20%s'%str_ending[-4:]]=new_T_seg
    df_group_C['segment_20%s'%str_ending[-4:]]=new_C_seg
    
    df_test_all=df_test_all.append(df_group_T)
    df_control_all=df_control_all.append(df_group_C)
    
    df_group_T.to_csv(writer_folder_all_wanted+new_T_seg+".csv",index=False)
    df_group_C.to_csv(writer_folder_all_wanted+new_C_seg+".csv",index=False)

    print(new_T_seg,df_group_T.shape)
    print(new_C_seg,df_group_C.shape)
    
    del df_group_T
    del df_group_C
    i+=1
    if i%10==1:
        print(i,datetime.datetime.now())

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

T_Legacy_H_Active_N (714213, 7)
C_Legacy_H_Active_N (17491, 7)
1 2020-07-24 12:38:34.980738
T_Legacy_H_Active_Y (4566738, 7)
C_Legacy_H_Active_Y (111841, 7)
T_Legacy_L_Active_N (337171, 7)
C_Legacy_L_Active_N (8257, 7)
T_Legacy_L_Active_Y (1777547, 7)
C_Legacy_L_Active_Y (43532, 7)
T_Legacy_L_Lapsed1318_N (333765, 7)
C_Legacy_L_Lapsed1318_N (8174, 7)
T_Legacy_L_Lapsed1318_Y (1655051, 7)
C_Legacy_L_Lapsed1318_Y (40532, 7)
T_Legacy_M_Active_N (608266, 7)
C_Legacy_M_Active_N (14896, 7)
T_Legacy_M_Active_Y (3407990, 7)
C_Legacy_M_Active_Y (83463, 7)
T_SOTF_H_Active_N (392898, 7)
C_SOTF_H_Active_N (9622, 7)
T_SOTF_H_Active_Y (2492503, 7)
C_SOTF_H_Active_Y (61042, 7)
T_SOTF_L_Active_N (180215, 7)
C_SOTF_L_Active_N (4413, 7)
11 2020-07-24 12:42:49.197853
T_SOTF_L_Active_Y (917122, 7)
C_SOTF_L_Active_Y (22460, 7)
T_SOTF_L_Lapsed1318_N (161690, 7)
C_SOTF_L_Lapsed1318_N (3959, 7)
T_SOTF_L_Lapsed1318_Y (762206, 7)
C_SOTF_L_Lapsed1318_Y (18666, 7)
T_SOTF_M_Active_N (322793, 7)
C_SOTF_M_Active_N (7905, 7)
T_SOTF_M_Active_Y (1785716, 7)
C_SOTF_M_Active_Y (43732, 7)

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

T_Legacy_NA_Lapsed1948_N (1055428, 7)
C_Legacy_NA_Lapsed1948_N (11243, 7)
1 2020-07-24 12:44:24.650689
T_Legacy_NA_Lapsed1948_Y (5259772, 7)
C_Legacy_NA_Lapsed1948_Y (56033, 7)
T_SOTF_NA_Lapsed1948_N (534504, 7)
C_SOTF_NA_Lapsed1948_N (5694, 7)
T_SOTF_NA_Lapsed1948_Y (2537007, 7)
C_SOTF_NA_Lapsed1948_Y (27027, 7)

In [27]:
df_summary_test=df_test_all.groupby(['segment_20%s'%str_ending[-4:]])['customer_id_hashed','email_address_hash'].nunique().reset_index()
df_summary_control=df_control_all.groupby(['segment_20%s'%str_ending[-4:]])['customer_id_hashed','email_address_hash'].nunique().reset_index()

for col in df_summary_test.columns.tolist():
    df_summary_test=df_summary_test.rename(columns={col:"T_"+col})
    
for col in df_summary_control.columns.tolist():
    df_summary_control=df_summary_control.rename(columns={col:"C_"+col})

In [28]:
df_summary_test.insert(0,"segment",df_summary_test['T_segment_2020Q3'].apply(lambda x: x[2:]))
df_summary_test['T/C_group']=df_summary_test['T_segment_2020Q3'].apply(lambda x: x.split("_")[0])
df_summary_test['Store_Type']=df_summary_test['T_segment_2020Q3'].apply(lambda x: x.split("_")[1])
df_summary_test['RFM_group']=df_summary_test['T_segment_2020Q3'].apply(lambda x: x.split("_")[2])
df_summary_test['status']=df_summary_test['T_segment_2020Q3'].apply(lambda x: x.split("_")[3])
df_summary_test['Email_Sub']=df_summary_test['T_segment_2020Q3'].apply(lambda x: x.split("_")[4])

df_summary_test=df_summary_test.rename(columns={"T_segment_2020Q3":"audience_name","T_customer_id_hashed":"unique_id_count","T_email_address_hash":"unique_email_count"})
###
df_summary_control.insert(0,"segment",df_summary_control['C_segment_2020Q3'].apply(lambda x: x[2:]))
df_summary_control['T/C_group']=df_summary_control['C_segment_2020Q3'].apply(lambda x: x.split("_")[0])
df_summary_control['Store_Type']=df_summary_control['C_segment_2020Q3'].apply(lambda x: x.split("_")[1])
df_summary_control['RFM_group']=df_summary_control['C_segment_2020Q3'].apply(lambda x: x.split("_")[2])
df_summary_control['status']=df_summary_control['C_segment_2020Q3'].apply(lambda x: x.split("_")[3])
df_summary_control['Email_Sub']=df_summary_control['C_segment_2020Q3'].apply(lambda x: x.split("_")[4])

df_summary_control=df_summary_control.rename(columns={"C_segment_2020Q3":"audience_name","C_customer_id_hashed":"unique_id_count","C_email_address_hash":"unique_email_count"})

In [31]:
df_summary=df_summary_test.append(df_summary_control)
df_summary=df_summary.sort_values("audience_name")

writer=pd.ExcelWriter(output_folder+"BL_summary_20%s_rewards_audience_JL_%s.xlsx"%(str_ending[-4:],str(datetime.datetime.now().date())),engine="xlsxwriter")
df_summary.to_excel(writer,"summary_both",index=False)
df_summary_test.to_excel(writer,"summary_T",index=False)
df_summary_control.to_excel(writer,"summary_C",index=False)
writer.save()