In [1]:
import paramiko

In [2]:
host = "107.191.32.220" #hard-coded
port = 22
transport = paramiko.Transport((host, port))

password = "vgn5UucsUNHL4n9R" #hard-coded
username = "biglots_data" #hard-coded
transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)

In [3]:
remote_file="/mnt/drv5/biglots_data/9_Grid_MS 62420.zip"
local_file="./9_Grid_MS 62420.zip"
sftp.get(remote_file,local_file)
sftp.close()
transport.close()

In [4]:
import zipfile
with zipfile.ZipFile(local_file, 'r') as zip_ref:
    zip_ref.extractall("./")

In [1]:
import pandas as pd
import numpy as np
import datetime
import glob
import os

In [2]:
list_new_7_audience=glob.glob("./files for MS 62420/*")
list_new_7_audience

['./files for MS 62420/high_low.txt',
 './files for MS 62420/high_med.txt',
 './files for MS 62420/low_high.txt',
 './files for MS 62420/low_low.txt',
 './files for MS 62420/low_med.txt',
 './files for MS 62420/med_high.txt',
 './files for MS 62420/med_low.txt']

In [3]:
df_all_7_new=pd.DataFrame(columns={"hashed_email_address"})

for file in list_new_7_audience:
    seg_name=os.path.basename(file).split(".")[0]
    df=pd.read_table(file,dtype=str,sep="\t",usecols=["hashed_email_address"]).drop_duplicates()
    df['BL_Rewards_2020_Q2_%s'%seg_name]=1
    df_all_7_new=pd.merge(df_all_7_new,df,on="hashed_email_address",how="outer")

In [4]:
df_all_7_new.head(2)

,hashed_email_address,BL_Rewards_2020_Q2_high_low,BL_Rewards_2020_Q2_high_med,BL_Rewards_2020_Q2_low_high,BL_Rewards_2020_Q2_low_low,BL_Rewards_2020_Q2_low_med,BL_Rewards_2020_Q2_med_high,BL_Rewards_2020_Q2_med_low
0,423f405e0847f7f7c80ece75bfc3955afd55eaa1b49ddb...,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,940897f0ef4ac120001f924752a010a69c966364c37de0...,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_all_7_new=df_all_7_new.fillna(0)
for col in df_all_7_new.columns.tolist()[1:]:
    df_all_7_new[col]=df_all_7_new[col].astype(int)
df_all_7_new=df_all_7_new.rename(columns={"hashed_email_address":"Email_Address"})

In [6]:
df_all_7_new.tail(3)

,Email_Address,BL_Rewards_2020_Q2_high_low,BL_Rewards_2020_Q2_high_med,BL_Rewards_2020_Q2_low_high,BL_Rewards_2020_Q2_low_low,BL_Rewards_2020_Q2_low_med,BL_Rewards_2020_Q2_med_high,BL_Rewards_2020_Q2_med_low
6201527,fe54541fddb5042fa26d7bb029df386860824fe2565955...,0,0,0,0,0,0,1
6201528,eeb54e6d28841391e715e90cbb2c93436856bb9c9ae864...,0,0,0,0,0,0,1
6201529,d72c6b778db27dc1059da2188b324a1a2190b45e1ea51b...,0,0,0,0,0,0,1

In [7]:
df_all_7_new.shape,df_all_7_new['Email_Address'].nunique()

((6201530, 8), 6201530)

In [8]:
df_all_7_new.to_csv(path_or_buf="./"+"BL_SHA256EMAIL_Rewards2020Q2_BL_7_out_of_9_Grid_"+str(datetime.datetime.now().date())+".txt",
                         sep='\t',
                         encoding='utf-8',
                         line_terminator="\n",
                         header=True,
                         index=False)

In [9]:
df_all_7_new.columns[3]

'BL_Rewards_2020_Q2_low_high'

In [ ]:
BL_Rewards_2020_Q2_med_med