In [1]:
import pandas as pd
import numpy as np

In [4]:
df_daily=pd.read_table("/home/jian/BigLots/MediaStorm_2019-02-16/MediaStormDailySales20190219-113605-481.txt",sep="|",dtype=str)
df_daily['item_transaction_amt']=df_daily['item_transaction_amt'].astype(float)
df_daily['item_transaction_units']=df_daily['item_transaction_units'].astype(int)

In [5]:
df_daily_store_1012=df_daily[df_daily['location_id']=="1012"]
df_daily_store_1012['item_transaction_amt'].sum()

56718.770000000004

In [15]:
df_daily_store_1012[['location_id','transaction_id']].drop_duplicates().shape

(1898, 2)

In [13]:
df_daily_store_1012.head(2)

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt
2,1012,2019-02-10,4867,f56a202e1bbdca986d3a2e70cb760ab099740c4561b3c7...,15004,2,810297158,1,1.90
775,1012,2019-02-15,6153,f2febe03ab7da55141632ba431a7e6d6cac187adc01ac9...,11014,23,810375101,1,2.95