In [1]:
import os
os.getcwd()

'/mnt/clients/juba/hqjubaapp02/sharefolder/Automation/BL_MySQL/Weekly_Update_MySQL'

In [2]:
# Update MySQL: Pred_CRM_table

import pandas as pd
import datetime
import os
import numpy as np
import hashlib
import gc
import logging
import sqlalchemy
import glob
import paramiko

logging.basicConfig(filename='/mnt/clients/juba/hqjubaapp02/sharefolder/Automation/BL_MySQL/Weekly_Update_MySQL/POS_weekly_update.log', level=logging.INFO)

BL_SQL_CONNECTION= 'mysql+pymysql://jliang:H1Dswk&Fxz@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

# Pred_POS_Department

In [3]:
file_product_taxonomy=glob.glob("/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/static_files/ProductTaxonomy/*.txt")
file_product_taxonomy=[x for x in file_product_taxonomy if "taxonomy" in x.lower()]
file_product_taxonomy.sort()
file_product_taxonomy=file_product_taxonomy[-1]

print(file_product_taxonomy)

df_prod_taxo_dep=pd.read_csv(file_product_taxonomy,dtype=str,sep="|")
df_prod_taxo_dep=df_prod_taxo_dep[['department_id','class_code_id','subclass_id']].drop_duplicates()

/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/static_files/ProductTaxonomy/MediaStormProductTaxonomy20201207-141734-234.txt

In [4]:
def recursive_file_gen(my_root_dir):
    for root, dirs, files in os.walk(my_root_dir):
        for file in files:
            yield os.path.join(root, file)

MySQL_max_date_POSDepart_before=pd.read_sql("select max(transaction_dt) from Pred_POS_Department;",con=BL_engine)
MySQL_max_date_POSDepart_before=str(MySQL_max_date_POSDepart_before.iloc[0,0])

print("MySQL_max_date_POSDepart_before: "+MySQL_max_date_POSDepart_before)
logging.info("MySQL_max_date_POSDepart_before: "+MySQL_max_date_POSDepart_before)

files_item_POS_plain=list(recursive_file_gen("/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/"))
files_item_POS_plain=[x for x in files_item_POS_plain if x[-4:]==".txt" and "dailysales" in x.lower() and "/MediaStorm_" in x]
files_item_POS_plain=[x for x in files_item_POS_plain if x.split("/MediaStorm_")[1][:10]>MySQL_max_date_POSDepart_before]
print(files_item_POS_plain)

logging.info(files_item_POS_plain)

MySQL_max_date_POSDepart_before: 2020-12-05
['/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-12/MediaStormDailySales20201215-113305-572.txt']

In [5]:
files_item_POS_plain.sort()
files_item_POS_plain

['/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-12/MediaStormDailySales20201215-113305-572.txt']

In [6]:
col_list=pd.read_sql("select * from Pred_POS_Department limit 2;",con=BL_engine).columns.tolist()
print("start_extract_max_order: "+str(datetime.datetime.now()))
logging.info("start_extract_max_order: "+str(datetime.datetime.now()))

df_trans_order_by_id=pd.read_sql("select customer_id_hashed, max(trans_order_since_18Q1) as trans_order_since_18Q1 from Pred_POS_Department \
group by customer_id_hashed;",con=BL_engine)

print("done_extract_max_order: "+str(datetime.datetime.now()))
logging.info("done_extract_max_order: "+str(datetime.datetime.now()))

start_extract_max_order: 2020-12-15 15:26:38.635957
done_extract_max_order: 2020-12-15 20:31:02.171295

In [7]:
print("df_trans_order_by_id.shape",df_trans_order_by_id.shape)
logging.info("df_trans_order_by_id.shape: "+str(df_trans_order_by_id.shape))

df_trans_order_by_id.shape (30994965, 2)

In [8]:
total_sales=0
i_counter=0
for file in files_item_POS_plain:
    print(datetime.datetime.now(),"start",file)
    logging.info(str(datetime.datetime.now())+" | start | "+file)
    
    df=pd.read_csv(file,dtype=str,nrows=None,sep="|")
    df=df.rename(columns={"subclass_transaction_amt":"sales"})
    df=df.rename(columns={"item_transaction_amt":"sales"})
    
    df=df.rename(columns={"subclass_transaction_units":"units"})
    df=df.rename(columns={"item_transaction_units":"units"})
    
    df['sales']=df['sales'].astype(float)
    df['units']=df['units'].astype(int)
    
    
    df=pd.merge(df,df_prod_taxo_dep,on=['class_code_id','subclass_id'],how="left")
    df['department_id']=df['department_id'].fillna("-1")
    df['customer_id_hashed']=df['customer_id_hashed'].fillna("non_rewards")
    
    df=df.groupby(['location_id','transaction_dt','transaction_id','customer_id_hashed','department_id'])['sales','units'].sum().reset_index()
    df=df.sort_values(['customer_id_hashed','transaction_dt','location_id','transaction_id','department_id'])
    
    # add the transaction_order
    df_order_this_week_rewards=df[df['customer_id_hashed']!="non_rewards"]
    df_order_this_week_rewards=df_order_this_week_rewards[['customer_id_hashed','transaction_dt','location_id','transaction_id']].drop_duplicates()
    df_order_this_week_rewards=df_order_this_week_rewards.sort_values(['customer_id_hashed','transaction_dt','location_id','transaction_id'])
    df_order_this_week_rewards['trans_order_in_week']=pd.Categorical(df_order_this_week_rewards['customer_id_hashed']+ '_'+\
                                                                     df_order_this_week_rewards['transaction_dt']+ '_'+\
                                                                     df_order_this_week_rewards['location_id']+ '_'+\
                                                                     df_order_this_week_rewards['transaction_id']
                                                                    ).codes

    df_min_index_per_id=df_order_this_week_rewards[['customer_id_hashed','trans_order_in_week']].sort_values(['customer_id_hashed','trans_order_in_week'],ascending=[True,True]).drop_duplicates("customer_id_hashed")
    df_min_index_per_id=df_min_index_per_id.rename(columns={"trans_order_in_week":"min_order"})
    df_order_this_week_rewards=pd.merge(df_order_this_week_rewards,df_min_index_per_id,on="customer_id_hashed",how="left")
    df_order_this_week_rewards['trans_order_in_week']=df_order_this_week_rewards['trans_order_in_week']-df_order_this_week_rewards['min_order']+1
    
    df_order_this_week_rewards=pd.merge(df_order_this_week_rewards,df_trans_order_by_id,on='customer_id_hashed',how="left")
    df_order_this_week_rewards['trans_order_since_18Q1']=df_order_this_week_rewards['trans_order_since_18Q1'].fillna(0)
    df_order_this_week_rewards['trans_order_since_18Q1']=df_order_this_week_rewards['trans_order_since_18Q1']+df_order_this_week_rewards['trans_order_in_week']
    df_order_this_week_rewards=df_order_this_week_rewards[['customer_id_hashed','transaction_dt','location_id','transaction_id','trans_order_since_18Q1']]
    df=pd.merge(df,df_order_this_week_rewards,on=['customer_id_hashed','transaction_dt','location_id','transaction_id'],how="left")

    #
    df_order_this_week_rewards=df_order_this_week_rewards[['customer_id_hashed','trans_order_since_18Q1']].sort_values(["customer_id_hashed","trans_order_since_18Q1"],ascending=[True,False]).drop_duplicates("customer_id_hashed")
    df_trans_order_by_id=df_order_this_week_rewards.append(df_trans_order_by_id).drop_duplicates("customer_id_hashed")
    
    # format
    df['location_id']=df['location_id'].astype(int)
    df['transaction_dt']=pd.to_datetime(df['transaction_dt'],format="%Y-%m-%d").dt.date
    df['customer_id_hashed']=df['customer_id_hashed'].replace("non_rewards",np.nan)
    df=df.round({'sales': 2})
    
    print(df['transaction_dt'].min(),df['transaction_dt'].max(),datetime.datetime.now())
    logging.info("df['transaction_dt'].min(),df['transaction_dt'].max(),datetime.datetime.now()")
    logging.info(str(df['transaction_dt'].min())+" | "+str(df['transaction_dt'].max())+" | "+str(datetime.datetime.now()))
    

    df.to_sql("Pred_POS_Department",if_exists='append', con=BL_engine, index=False,chunksize=300000,
                    dtype={
                        'location_id':sqlalchemy.types.INTEGER(),
                        'transaction_dt':sqlalchemy.Date(), 
                        'transaction_id':sqlalchemy.types.VARCHAR(length=16),
                        'customer_id_hashed':sqlalchemy.types.VARCHAR(length=64),
                        'department_id':sqlalchemy.types.VARCHAR(length=16),
                        'sales':sqlalchemy.types.DECIMAL(precision=10,scale=2,asdecimal=True),
                        'units':sqlalchemy.types.INTEGER()
                    })

    
    i_counter+=1
    print("done of file: ",i_counter,file)
    logging.info("done of file: "+str(i_counter)+" | "+file)

    total_sales+=df['sales'].sum()
    print(datetime.datetime.now(),"done",file)
    logging.info(str(datetime.datetime.now())+" | done | "+file)

2020-12-15 20:31:02.233825 start /mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-12/MediaStormDailySales20201215-113305-572.txt

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

2020-12-06 2020-12-12 2020-12-15 20:38:04.517994
done of file:  1 /mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-12/MediaStormDailySales20201215-113305-572.txt
2020-12-15 21:22:03.699531 done /mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-12/MediaStormDailySales20201215-113305-572.txt

In [9]:
print("done of write to sql: "+str(datetime.datetime.now()))
logging.info("done of write to sql: "+str(datetime.datetime.now()))
print('total_sales',total_sales)
logging.info('total_sales'+str(total_sales))

done of write to sql: 2020-12-15 21:22:03.706230
total_sales 157753642.36999977

In [10]:
MySQL_max_date_POSDepart_after=MySQL_max_date_POSDepart=pd.read_sql("select max(transaction_dt) from Pred_POS_Department;",con=BL_engine)
MySQL_max_date_POSDepart_after=str(MySQL_max_date_POSDepart_after.iloc[0,0])

print("MySQL_max_date_POSDepart_after: "+MySQL_max_date_POSDepart_after)
logging.info("MySQL_max_date_POSDepart_after: "+MySQL_max_date_POSDepart_after)

MySQL_max_date_POSDepart_after: 2020-12-12

In [11]:
df_output_confirmation=pd.DataFrame({"date_before_run":[MySQL_max_date_POSDepart_before]*len(files_item_POS_plain),
                                     "date_after_run":[MySQL_max_date_POSDepart_after]*len(files_item_POS_plain),
                                    "files_used":files_item_POS_plain},index=[0]*len(files_item_POS_plain))
df_output_confirmation=df_output_confirmation.reset_index()
del df_output_confirmation['index']
df_output_confirmation

,date_before_run,date_after_run,files_used
0,2020-12-05,2020-12-12,/mnt/clients/juba/hqjubaapp02/sharefolder/bigl...

In [12]:
df_output_confirmation['files_used'].tolist()

['/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-12/MediaStormDailySales20201215-113305-572.txt']

In [13]:
# to crontab on 2020-05-06
print(datetime.datetime.now())

2020-12-15 21:22:03.797572

In [14]:
MySQL_max_date_POSDepart_after

'2020-12-12'

In [15]:
write_folder="./folder_check_with_successful_run/"
try:
    os.stat(write_folder)
except:
    os.mkdir(write_folder)
    
df_output_confirmation.to_csv(write_folder+"done_in_crontab_"+MySQL_max_date_POSDepart_before+"_to_"+MySQL_max_date_POSDepart_after+"_run_on_"+str(datetime.datetime.now().date())+".csv",index=False)

In [16]:
pd.read_sql("desc Pred_POS_Department;",con=BL_engine)

                    Field           Type Null  Key Default Extra
0             location_id        int(11)  YES  MUL    None
1          transaction_dt           date  YES  MUL    None
2          transaction_id    varchar(16)  YES         None
3      customer_id_hashed       char(64)  YES  MUL    None
4           department_id    varchar(16)  YES  MUL    None
5                   sales  decimal(10,2)  YES         None
6                   units        int(11)  YES         None
7  trans_order_since_18Q1        int(11)  YES  MUL    None

In [20]:
df_qc=pd.read_sql("select * from Pred_POS_Department where transaction_dt='2020-12-10' limit 200;",con=BL_engine)
list_qc_ids=df_qc['customer_id_hashed'].unique().tolist()

In [23]:
i=1

str_id="'"+list_qc_ids[i]+"'"
str_id

"'000085ed9db2fadfe10b31f49b3b57590254866de6eed5f76b6fc6b99bb01a9f'"

In [24]:
df_res_id=pd.read_sql("select * from Pred_POS_Department where customer_id_hashed=%s;"%str_id,con=BL_engine)
df_res_id.tail(20)

,location_id,transaction_dt,transaction_id,customer_id_hashed,department_id,sales,units,trans_order_since_18Q1
33,4068,2020-08-10,6308,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,110,2.65,1,15
34,4068,2020-08-10,6308,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,120,3.00,1,15
35,4068,2020-08-10,6308,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,140,10.00,1,15
36,4068,2020-08-10,6308,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,150,9.40,5,15
37,4068,2020-10-30,3598,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,108,2.00,2,16
38,4068,2020-10-30,3598,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,111,8.85,3,16
39,4068,2020-10-30,3598,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,170,8.00,1,16
40,4068,2020-10-30,3598,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,360,2.50,1,16
41,4068,2020-11-21,6244,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,150,7.90,4,17
42,4068,2020-11-21,6244,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,710,0.20,2,17
43,4068,2020-11-27,7224,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,150,7.00,1,18
44,4068,2020-11-27,7224,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,320,8.00,1,18
45,4068,2020-11-27,7224,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,360,14.25,3,18
46,4068,2020-12-09,5313,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,111,2.29,1,19
47,4068,2020-12-09,5313,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,330,5.50,1,19
48,4068,2020-12-09,5313,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,355,21.00,1,19
49,4128,2020-12-10,4129,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,108,5.98,3,20
50,4128,2020-12-10,4129,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,111,2.25,1,20
51,4128,2020-12-10,4129,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,160,4.99,1,20
52,4128,2020-12-10,4129,000085ed9db2fadfe10b31f49b3b57590254866de6eed5...,360,4.80,1,20

# Pred_CRM_table

In [ ]:
# No need to update

In [10]:
Q1_2018_Start_Date="'2018-02-03'"
df_all_since_18Q1=pd.read_sql("select customer_id_hashed, email_address_hash, sign_up_date, sign_up_channel, \
sign_up_location, customer_zip_code from BL_Rewards_Master \
where sign_up_date >= %s\
order by customer_id_hashed, sign_up_date desc;" %Q1_2018_Start_Date,con=BL_engine)
print(df_all_since_18Q1.shape)
df_all_since_18Q1=df_all_since_18Q1.drop_duplicates("customer_id_hashed")
print(df_all_since_18Q1.shape)

(13338163, 6)
(13338147, 6)

In [11]:
print(df_all_since_18Q1['sign_up_date'].min(),df_all_since_18Q1['sign_up_date'].max())
print(df_all_since_18Q1['customer_id_hashed'].nunique())

2018-02-03 2020-02-29
13338147

In [12]:
df_all_since_18Q1['Registration_Online']=np.where(df_all_since_18Q1['sign_up_channel']=="Online",1,0)

In [13]:
df_all_since_18Q1.to_sql("Pred_CRM_table",if_exists='replace', con=BL_engine, index=False,chunksize=300000,
                    dtype={
                        'customer_id_hashed':sqlalchemy.types.VARCHAR(length=64),
                        'email_address_hash':sqlalchemy.types.VARCHAR(length=64),
                        'sign_up_date':sqlalchemy.Date(),
                        'sign_up_channel':sqlalchemy.types.VARCHAR(length=64),
                        'sign_up_location':sqlalchemy.types.INTEGER(),
                        'customer_zip_code':sqlalchemy.types.VARCHAR(length=16),
                        'Registration_Online':sqlalchemy.types.INTEGER()
                    })

In [14]:
print(datetime.datetime.now())
logging.info("Pred_CRM_also_updated: "+str(datetime.datetime.now()))

2020-03-04 19:12:38.725712

In [15]:
pd.read_sql("select min(sign_up_date), max(sign_up_date), count(customer_id_hashed), count(distinct customer_id_hashed) from Pred_CRM_table;",con=BL_engine)

,min(sign_up_date),max(sign_up_date),count(customer_id_hashed),count(distinct customer_id_hashed)
0,2018-02-03,2020-02-29,13338147,13338147