In [1]:
import pandas as pd
import os
import numpy as np
import datetime
import logging
import sqlalchemy

os.getcwd()

'/mnt/clients/juba/hqjubaapp02/sharefolder/Automation/BL_MySQL/Weekly_Update_MySQL'

In [2]:
logging.basicConfig(filename='/mnt/clients/juba/hqjubaapp02/sharefolder/Automation/BL_MySQL/Weekly_Update_MySQL/weekly_mysql_update_Master_manually.log',level="INFO")

def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root,file)
            
BL_SQL_CONNECTION= 'mysql+pymysql://jliang:H1Dswk&Fxz@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [3]:
samplerows=None


existing_tables=pd.read_sql("show tables;",con=BL_engine)
existing_tables

                               Tables_in_BigLots
0                                  BL_CCPA_email
1                                    BL_POS_Item
2                              BL_Rewards_Master
3                    NEall_id_pos_until_20201017
4                    NEall_id_pos_until_20201024
5                    NEall_id_pos_until_20201031
6                    NEall_id_pos_until_20201107
7                    NEall_id_pos_until_20201114
8                            Pred_POS_Department
9   all_NEall_id_pred_pos_2_1_pos_until_20201017
10  all_NEall_id_pred_pos_2_1_pos_until_20201024
11  all_NEall_id_pred_pos_2_1_pos_until_20201031
12  all_NEall_id_pred_pos_2_1_pos_until_20201107
13  all_NEall_id_pred_pos_2_1_pos_until_20201114
14  all_NEall_id_pred_pos_2_2_pos_until_20201017
15  all_NEall_id_pred_pos_2_2_pos_until_20201024
16  all_NEall_id_pred_pos_2_2_pos_until_20201031
17  all_NEall_id_pred_pos_2_2_pos_until_20201107
18  all_NEall_id_pred_pos_2_2_pos_until_20201114
19               crm_NEall_id_pos_until_20201017
20               crm_NEall_id_pos_until_20201024
21               crm_NEall_id_pos_until_20201031
22               crm_NEall_id_pos_until_20201107
23               crm_NEall_id_pos_until_20201114
24               crm_table_id_list_test_20201017
25               crm_table_id_list_test_20201024
26               crm_table_id_list_test_20201031
27               crm_table_id_list_test_20201107
28               crm_table_id_list_test_20201114
29              crm_table_id_list_train_20201017
30              crm_table_id_list_train_20201024
31              crm_table_id_list_train_20201031
32              crm_table_id_list_train_20201107
33              crm_table_id_list_train_20201114
34         max_trans_NEall_id_pos_until_20201017
35         max_trans_NEall_id_pos_until_20201024
36         max_trans_NEall_id_pos_until_20201031
37         max_trans_NEall_id_pos_until_20201107
38         max_trans_NEall_id_pos_until_20201114
39     pred_pos_dept_NEall_id_pos_until_20201017
40     pred_pos_dept_NEall_id_pos_until_20201024
41     pred_pos_dept_NEall_id_pos_until_20201031
42     pred_pos_dept_NEall_id_pos_until_20201107
43     pred_pos_dept_NEall_id_pos_until_20201114
44               table_pred_1_crm_up_to_20201017
45               table_pred_1_crm_up_to_20201024
46               table_pred_1_crm_up_to_20201031
47               table_pred_1_crm_up_to_20201107
48               table_pred_1_crm_up_to_20201114
49     view_extract_max_transorder_PredPosDepart
50                  view_pred_pos_2_2_first_week
51                  view_pred_pos_2_2_recent_one
52                  view_pred_pos_2_2_recent_two

In [4]:
pd.read_sql("desc BL_Rewards_Master;", con=BL_engine)

                            Field           Type Null  Key Default Extra
0              customer_id_hashed    varchar(64)  YES  MUL    None
1              email_address_hash    varchar(64)  YES  MUL    None
2                    sign_up_date           date  YES  MUL    None
3                 sign_up_channel    varchar(64)  YES  MUL    None
4                sign_up_location        int(11)  YES  MUL    None
5               customer_zip_code    varchar(16)  YES  MUL    None
6               transaction_count        int(11)  YES         None
7              transaction_amount  decimal(10,2)  YES         None
8          experian_multi_cluster    varchar(32)  YES         None
9           experian_demo_cluster    varchar(32)  YES         None
10               purchase_channel    varchar(32)  YES         None
11    email_unsubscribe_indicator     varchar(2)  YES         None
12  email_undeliverable_indicator     varchar(2)  YES         None
13                      file_path   varchar(256)  YES  MUL    None

In [5]:
max_date_already_in_SQL=pd.read_sql("select max(sign_up_date) from BL_Rewards_Master;", con=BL_engine)
max_date_already_in_SQL

  max(sign_up_date)
0        2020-12-05

In [6]:
last_week_start=str(max_date_already_in_SQL.iloc[0,0]-datetime.timedelta(days=6))
last_week_start="'"+last_week_start+"'"
last_week_start

"'2020-11-29'"

In [7]:
df_last_week_in_SQL=pd.read_sql("select sign_up_date, \
count(distinct sign_up_date) as day_counts, \
count(distinct customer_id_hashed) as unique_new_sign_ups \
from BL_Rewards_Master \
where sign_up_date>=%s \
group by sign_up_date;" % last_week_start,con=BL_engine)

df_last_week_in_SQL

  sign_up_date  day_counts  unique_new_sign_ups
0   2020-11-29           1                39974
1   2020-11-30           1                32640
2   2020-12-01           1                39584
3   2020-12-02           1                42293
4   2020-12-03           1                36550
5   2020-12-04           1                50288
6   2020-12-05           1                71313

In [8]:
df_last_week_in_SQL['unique_new_sign_ups'].sum()

312642

In [9]:
col_list=pd.read_sql("select * from BL_Rewards_Master limit 1;",con=BL_engine)
col_list=col_list.columns.tolist()
col_list

['customer_id_hashed',
 'email_address_hash',
 'sign_up_date',
 'sign_up_channel',
 'sign_up_location',
 'customer_zip_code',
 'transaction_count',
 'transaction_amount',
 'experian_multi_cluster',
 'experian_demo_cluster',
 'purchase_channel',
 'email_unsubscribe_indicator',
 'email_undeliverable_indicator',
 'file_path']

In [10]:
files_item_POS_plain=list(recursive_file_gen("/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/"))
files_item_POS_plain=[x for x in files_item_POS_plain if x[-4:]==".txt" and "master" in x.lower() and "/MediaStorm_" in x]
files_item_POS_plain=[x for x in files_item_POS_plain if x.split("/MediaStorm_")[1][:10]>str(max_date_already_in_SQL.iloc[0,0])]
files_item_POS_plain.sort()
files_item_POS_plain

['/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/2020_by_weeks/MediaStorm_2020-12-12/MediaStormMasterWeekly20201215-113441-115.txt']

In [11]:
df_new_sign_ups=pd.DataFrame()

for file in files_item_POS_plain:
    df=pd.read_csv(file,dtype=str,nrows=samplerows,sep="|")
    
    df['file_path']=file
    print(os.path.basename(file),datetime.datetime.now(),df.columns.tolist()==col_list)
    df_new_sign_ups=df_new_sign_ups.append(df)
    
print(df_new_sign_ups.shape)

MediaStormMasterWeekly20201215-113441-115.txt 2020-12-15 15:17:38.012172 True
(239070, 14)

In [12]:
# Clean dataframe column value types

df_new_sign_ups['sign_up_date']=pd.to_datetime(df_new_sign_ups['sign_up_date'],format="%Y-%m-%d").dt.date

#
df_new_sign_ups['sign_up_location']=df_new_sign_ups['sign_up_location'].fillna(-999).astype(int)
df_new_sign_ups['sign_up_location']=df_new_sign_ups['sign_up_location'].replace(-999,np.nan)

df_new_sign_ups['transaction_count']=df_new_sign_ups['transaction_count'].astype(float)
df_new_sign_ups['transaction_amount']=df_new_sign_ups['transaction_amount'].astype(float)
df_new_sign_ups['experian_multi_cluster']=df_new_sign_ups['experian_multi_cluster'].astype(float)
df_new_sign_ups['experian_demo_cluster']=df_new_sign_ups['experian_demo_cluster'].astype(float)

In [13]:
print("check headers: ",df_new_sign_ups.columns.tolist()==col_list)

check headers:  True

In [14]:
print("df_new_sign_ups.shape",df_new_sign_ups.shape)
print("df_new_sign_ups['customer_id_hashed'].nunique()",df_new_sign_ups['customer_id_hashed'].nunique())
print("df_new_sign_ups['email_address_hash'].nunique()",df_new_sign_ups['email_address_hash'].nunique())

df_new_sign_ups.shape (239070, 14)
df_new_sign_ups['customer_id_hashed'].nunique() 239066
df_new_sign_ups['email_address_hash'].nunique() 239065

In [15]:
df_new_sign_ups.to_sql("BL_Rewards_Master",if_exists='append', con=BL_engine, index=False,chunksize=300000)

In [16]:
pd.read_sql("select max(sign_up_date) from BL_Rewards_Master;", con=BL_engine)

  max(sign_up_date)
0        2020-12-12

# QC Master rows

In [17]:
new_last_date_in_sql=pd.read_sql("select max(sign_up_date) from BL_Rewards_Master;", con=BL_engine)
new_last_date_in_sql=str(new_last_date_in_sql.iloc[0,0]-datetime.timedelta(days=6))
new_last_date_in_sql="'"+new_last_date_in_sql+"'"
print("new_last_date_in_sql",new_last_date_in_sql)
new_ids_updated_this_week=pd.read_sql("select sign_up_date, \
count(distinct sign_up_date) as day_counts, \
count(distinct customer_id_hashed) as unique_new_sign_ups \
from BL_Rewards_Master \
where sign_up_date>=%s \
group by sign_up_date;" % new_last_date_in_sql,con=BL_engine)

new_last_date_in_sql '2020-12-06'

In [18]:
new_last_date_in_sql=pd.read_sql("select max(sign_up_date) from BL_Rewards_Master;", con=BL_engine)
new_last_date_in_sql

  max(sign_up_date)
0        2020-12-12

In [19]:
new_ids_updated_this_week

  sign_up_date  day_counts  unique_new_sign_ups
0   2020-12-06           1                52474
1   2020-12-07           1                39036
2   2020-12-08           1                32613
3   2020-12-09           1                26710
4   2020-12-10           1                25710
5   2020-12-11           1                28459
6   2020-12-12           1                34064

In [20]:
print("QC the txt count new ids == MySQL new rows: ",df_new_sign_ups.shape[0]==new_ids_updated_this_week['unique_new_sign_ups'].sum())

QC the txt count new ids == MySQL new rows:  False

In [21]:
df_new_sign_ups.shape[0]

239070

In [22]:
new_ids_updated_this_week['unique_new_sign_ups'].sum()

239066

In [ ]:
# Close enough