In [1]:
import pandas as pd
import numpy as np
import datetime
import dateutil.relativedelta
import os
import glob
from haversine import haversine

import gc
import sqlalchemy
import json
BL_SQL_CONNECTION= 'mysql+pymysql://jliang:H1Dswk&Fxz@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )
print(datetime.datetime.now())
print(os.getcwd())

2021-01-04 15:34:44.788321
/mnt/clients/juba/hqjubaapp02/sharefolder/Live_Ramp/Quarterly_Update_2020Q4

In [2]:
# Config for input

folder_store_list="/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/static_files/Store_list/"

path_json_zip_centers="/mnt/clients/juba/hqjubaapp02/sharefolder/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json"
output_folder="./output_%s/"%(datetime.datetime.now().date())
path_excel_ta="/mnt/clients/juba/hqjubaapp02/sharefolder/TraderArea/quarterly_TA_update/output_2020-10-08/BL_final_TA_updated_JL_2020-10-08.xlsx"
dict_update_location_latlng={}
path_SOTF_dom="/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/static_files/store_list_from_Dom/Store List Report 10.22.20 400PM.xlsx"

# output_folder="./output_2020-10-08/"
try:
    os.stat(output_folder)
except:
    os.mkdir(output_folder)

In [3]:
# update store location

zip_centers=json.load(open(path_json_zip_centers,"r"))

latest_store_list=glob.glob(folder_store_list+"*.txt")
latest_store_list=sorted(latest_store_list,key=lambda x: os.stat(x).st_mtime)
latest_store_list=latest_store_list[-1]
print(latest_store_list)
def revise_store_lat_lng(path_store_list_input=latest_store_list):
    df=pd.read_csv(path_store_list_input,sep="|",dtype=str)
    df['latitude_meas']=df['latitude_meas'].astype(float)
    df=df[~df['location_id'].isin(['145','6990'])]
    df=df[df['latitude_meas']==0]
    print("type in lat and lng: %d, %d")
    for i,row in df.iterrows():
        store_num=row['location_id']
        address=row['address_line_1']+", "+row['city_nm']+", "+row['state_nm']+", "+row['zip_cd']+", US"
        print(address)
        
        google_lat_long=str(input())
        lat=eval(google_lat_long)[0]
        lng=eval(google_lat_long)[1]
        dict_update_location_latlng.update({store_num:{"lat":lat,"lng":lng}})
    print("dict_update_location_latlng: \n %s"%dict_update_location_latlng)
        
revise_store_lat_lng()

/mnt/clients/juba/hqjubaapp02/sharefolder/biglots_data/static_files/Store_list/MediaStormStores20210101-135839-841.txt
type in lat and lng: %d, %d
4900 E DUBLIN GRANVILLE RD, COLUMBUS, OH, 43081-7651, US
40.0800729,-82.8604897
dict_update_location_latlng:
 {'6991': {'lat': 40.0800729, 'lng': -82.8604897}}

In [4]:
# define sql pulling range

lastdate_date = pd.read_sql("select max(transaction_dt) from Pred_POS_Department;",con=BL_engine).iloc[0,0]
Beginning_12_months_ago = str(lastdate_date-datetime.timedelta(days=52*7-1)) # Sunday
Beginning_18_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*1.5-1)) # Sunday
Beginning_30_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*2.5-1)) # Sunday

folder_write='./output_%s/'%str(datetime.datetime.now().date())
try:
    os.stat(folder_write)
except:
    os.mkdir(folder_write)

In [5]:
# check range

lastdate_str=str(lastdate_date)
print("lastdate_date: %s"%lastdate_str)
print("Active Start on: %s"%Beginning_12_months_ago) #>=
print("Lapsed & Store_allocation Start on: %s"%Beginning_18_months_ago) #>=
print("Lapsed 19-30 Start on: %s"%Beginning_30_months_ago) #>=

lastdate_date: 2020-12-26
Active Start on: 2019-12-29
Lapsed & Store_allocation Start on: 2019-06-30
Lapsed 19-30 Start on: 2018-07-01

In [6]:
str_sql_Beginning_18_months_ago="'"+Beginning_18_months_ago+"'"
str_sql_Beginning_18_months_ago

"'2019-06-30'"

In [7]:
# format sql string
rfm_query="select customer_id_hashed, max(transaction_dt) as max_trans_date, sum(sales) as sales, count(distinct trans_order_since_18Q1) as transactions \
from Pred_POS_Department \
where transaction_dt>=%s \
group by customer_id_hashed;"%str_sql_Beginning_18_months_ago
print("rfm_query: \n"+rfm_query)

rfm_query:
select customer_id_hashed, max(transaction_dt) as max_trans_date, sum(sales) as sales, count(distinct trans_order_since_18Q1) as transactions from Pred_POS_Department where transaction_dt>='2019-06-30' group by customer_id_hashed;

In [8]:
# call query
print("query started: ",datetime.datetime.now())
dftotal=pd.read_sql(rfm_query,con=BL_engine)
dftotal=dftotal[pd.notnull(dftotal['customer_id_hashed'])]
print("query done: ",datetime.datetime.now())

query started:  2021-01-03 13:39:08.653400
query done:  2021-01-03 16:53:16.401848

In [9]:
# write out intermidate file
dftotal.to_csv(folder_write + 'dftotal.csv',index=False)

In [10]:
# reload if needed
dftotal=pd.read_csv(folder_write + 'dftotal.csv')

In [11]:
# change datetime format
dftotal['max_trans_date']=pd.to_datetime(dftotal['max_trans_date']).dt.date

In [12]:
# define recency to X months basedo the RFM defination inititated by Spencer with YG
dftotal['recency']=lastdate_date - dftotal['max_trans_date']
dftotal['recency']=dftotal['recency'].apply(lambda x:x.days)
dftotal['recency']=np.ceil((dftotal['recency']+1)/30)

In [13]:
# Based on the ascending & decending for each KPI, define the index of R, F, M respective into 5 baskets
# The higher the better, or the lower the better

dftotal=dftotal.sort_values(['transactions','recency','sales'],ascending=[0,1,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'Transindex'})

dftotal=dftotal.sort_values(['sales','recency','transactions'],ascending=[0,1,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'Amtindex'})

dftotal=dftotal.sort_values(['recency','transactions','sales'],ascending=[1,0,0])
dftotal.reset_index(drop=True, inplace=True)
dftotal.reset_index(inplace=True)
dftotal=dftotal.rename(columns={'index':'recencyindex'})

c_ids=len(dftotal.index)

c_ids=np.ceil(c_ids/5.0)

dftotal['Transindex']=np.ceil((dftotal['Transindex']+1)/c_ids)
dftotal['Amtindex']=np.ceil((dftotal['Amtindex']+1)/c_ids)
dftotal['recencyindex']=np.ceil((dftotal['recencyindex']+1)/c_ids)

dftotal['RFM']=dftotal['recencyindex']*100 + dftotal['Transindex']*10 + dftotal['Amtindex']

In [14]:
# write out intermidate file

dftotal.to_csv(folder_write+"dftotal_with_index_all_EmailNotMergedYet.csv",index=False)
# dftotal=pd.read_csv(folder_write+"dftotal_with_index_all_EmailNotMergedYet.csv")

In [15]:
# Check range 0-18 months
print(dftotal['max_trans_date'].min(),dftotal['max_trans_date'].max())

2019-06-30 2020-12-26

In [16]:
# Deduplicate 1 to many CRM mapping
print(datetime.datetime.now())
dfiddetail=pd.read_sql('select customer_id_hashed,email_address_hash,customer_zip_code from BL_Rewards_Master order by sign_up_date desc',con=BL_engine)
dfiddetail=dfiddetail.drop_duplicates("customer_id_hashed")
print("dfiddetail.shape "+str(dfiddetail.shape))
print("dfiddetail['customer_id_hashed'].nunique() "+str(dfiddetail['customer_id_hashed'].nunique()))
print("dfiddetail['email_address_hash'].nunique() "+str(dfiddetail['email_address_hash'].nunique()))
print(datetime.datetime.now())

2021-01-03 17:07:26.541670
dfiddetail.shape (41453742, 3)
dfiddetail['customer_id_hashed'].nunique() 41453742
dfiddetail['email_address_hash'].nunique() 41443059
2021-01-03 17:20:34.997224

In [17]:
# Load Store type
df_store_type=pd.ExcelFile(path_SOTF_dom)
df_store_type=df_store_type.parse("Store List",dtype=str)
df_store_type=df_store_type[["Store",'SOTF']]
df_store_type=df_store_type[df_store_type['SOTF'].str.lower()=="yes"]
df_store_type=df_store_type[df_store_type['Store']!="TBD"]
print(len(df_store_type),df_store_type['Store'].nunique())
df_store_type=df_store_type.rename(columns={"Store":"allocated_store","SOTF":"Store_Type"})
df_store_type['Store_Type']="SOTF"
df_store_type.head(2)

491 491

  allocated_store Store_Type
0               1       SOTF
6              49       SOTF

In [18]:
# Take unique zip code for customers
customer_unique_zip_cd=dfiddetail[['customer_zip_code']].drop_duplicates()
customer_unique_zip_cd=customer_unique_zip_cd[~pd.isnull(customer_unique_zip_cd['customer_zip_code'])]
customer_unique_zip_cd['cleaned_zip_cd']=customer_unique_zip_cd['customer_zip_code'].apply(lambda x: x.split("-")[0][:5].zfill(5))
customer_unique_zip_cd.shape

(273551, 2)

In [19]:
# Dedup
df_unique_zip5=customer_unique_zip_cd[['cleaned_zip_cd']].drop_duplicates()
df_unique_zip5.shape

(77774, 1)

In [20]:
# Load store list
store_list=pd.read_table(latest_store_list,
                        dtype=str,sep="|")
store_list=store_list[['location_id','latitude_meas','longitude_meas']]
store_list=store_list[store_list['location_id']!="6990"]
store_list=store_list[store_list['location_id']!="145"]
store_list['latitude_meas']=store_list['latitude_meas'].astype(float)
store_list['longitude_meas']=store_list['longitude_meas'].astype(float)
store_list['store_coor']=store_list[['latitude_meas','longitude_meas']].values.tolist()
dict_store_lat=store_list.set_index("location_id").to_dict()['store_coor']

store_list.shape

(1412, 4)

In [21]:
# Find out the nearest store for each zipcd in order to supplying the top1 store for each id, if no historical purchase recorded
def allocated_closet_store_to_zip(zip_input):
    try:
        zip_c=zip_centers[zip_input]
    except:
        return np.nan
    min_dist=np.inf
    for store,v in dict_store_lat.items():
        dist=haversine(zip_c,v,unit="mi")
        if dist<min_dist:
            min_dist=dist
            closet_store=store
    return closet_store

df_unique_zip5['closet_store']=df_unique_zip5['cleaned_zip_cd'].apply(lambda x: allocated_closet_store_to_zip(x))
customer_unique_zip_cd=pd.merge(customer_unique_zip_cd,df_unique_zip5,on="cleaned_zip_cd",how="left")

In [22]:
# Add in nearest store based on zip to customer df
dfiddetail=pd.merge(dfiddetail,customer_unique_zip_cd,on="customer_zip_code",how="left")
print(dfiddetail.shape)
del df_unique_zip5
del customer_unique_zip_cd
del dfiddetail['customer_zip_code']

gc.collect()

(41453742, 5)

5016

In [23]:
# write out intermidate file

dfiddetail.to_csv(output_folder+"dfiddetail.csv")
# dfiddetail=pd.read_csv(output_folder+"dfiddetail.csv")

In [24]:
# stores of top sales
# The first condition to assign a store to an ID
query_top_store_per_id="select customer_id_hashed, location_id, count(distinct trans_order_since_18Q1) as trans, sum(sales) as sales \
from Pred_POS_Department \
where transaction_dt>=%s \
group by customer_id_hashed, location_id;"%str_sql_Beginning_18_months_ago

df_top_store_per_id=pd.read_sql(query_top_store_per_id,con=BL_engine)
df_top_store_per_id=df_top_store_per_id.sort_values(["customer_id_hashed","trans","sales"],ascending=[True,False,False])
df_top_store_per_id=df_top_store_per_id.drop_duplicates("customer_id_hashed")
del df_top_store_per_id['trans']
del df_top_store_per_id['sales']
gc.collect()
df_top_store_per_id.columns=['customer_id_hashed','top_sales_store']

In [25]:
print(datetime.datetime.now())

2021-01-03 18:39:54.540570

In [26]:
# write out intermidate file

df_top_store_per_id.to_csv(output_folder+'df_top_store_per_id.csv')
# df_top_store_per_id=pd.read_csv(output_folder+'df_top_store_per_id.csv')

In [27]:
# garbage collection
gc.collect()

60

In [28]:
# in case to remove the index
try:
    del df_top_store_per_id['Unnamed: 0']
except:
    pass
df_top_store_per_id.head(2)

                                     customer_id_hashed  top_sales_store
1465  000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...             1606
1466  00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...              563

In [29]:
dfiddetail.head(2)

,customer_id_hashed,email_address_hash,cleaned_zip_cd,closet_store
0,8bac8918fa54db3f97ae8be7a60d3bd2b076769769cca9...,b083364d02a03d64a05acc38d01a6217c184f847ebb199...,NaN,NaN
1,3cfcadb8bb35c712e4cd92d375eb5e3c879caec3f99b67...,47ca48560e59c1700ad24282baad4e1a551dea1229de20...,95776,1934

In [30]:
dftotal.head(2)

,recencyindex,Amtindex,Transindex,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM
0,1.0,1.0,1.0,681869d76dbbf47685b2e2b2c247064ae83194cc5c5f80...,2020-12-26,154042.42,7466,1.0,111.0
1,1.0,1.0,1.0,84e657f1f656952fb9412a63022017769d59a70cc36883...,2020-12-24,168901.86,7284,1.0,111.0

In [31]:
# QC and review sizing
print(dftotal.shape,dftotal['customer_id_hashed'].nunique())
print(dfiddetail.shape,dfiddetail['customer_id_hashed'].nunique())
print(df_top_store_per_id.shape,df_top_store_per_id['customer_id_hashed'].nunique())

(24890946, 9) 24890946
(41453742, 4) 41453742
(24890947, 2) 24890946

In [32]:
# Only the final combined RFM Index needed
del dftotal['recencyindex']
del dftotal['Amtindex']
del dftotal['Transindex']
gc.collect()

40

In [33]:
# Merge in email, zip and top store from sales
dftotal=pd.merge(dftotal,dfiddetail,on="customer_id_hashed",how="left")
del dfiddetail
gc.collect()
dftotal=pd.merge(dftotal,df_top_store_per_id,on="customer_id_hashed",how="left")
del df_top_store_per_id
gc.collect()

0

In [34]:
# Assign the top1 store either from sales or nearest distance
dftotal['allocated_store']=np.where(pd.notnull(dftotal['top_sales_store']),
                                    dftotal['top_sales_store'],
                                    dftotal['closet_store'])
print(dftotal.shape)
dftotal.head(2)

(24890946, 11)

,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM,email_address_hash,cleaned_zip_cd,closet_store,top_sales_store,allocated_store
0,681869d76dbbf47685b2e2b2c247064ae83194cc5c5f80...,2020-12-26,154042.42,7466,1.0,111.0,e12683b2ec8b57ddab043609795d36246df869be353af7...,01702,5194,5194,5194
1,84e657f1f656952fb9412a63022017769d59a70cc36883...,2020-12-24,168901.86,7284,1.0,111.0,64048ee5fbef6db265cf2890276f25c71029da14e7749b...,14701,1018,1018,1018

In [35]:
# Remove no email ids
print(dftotal.shape)
dftotal=dftotal[pd.notnull(dftotal['email_address_hash'])]
print(dftotal.shape)

(24890946, 11)
(22615467, 11)

In [36]:
# Format and merge in the final assigned stores
dftotal['allocated_store']=dftotal['allocated_store'].astype(int)
df_store_type['allocated_store']=df_store_type['allocated_store'].astype(int)
dftotal=pd.merge(dftotal,df_store_type,on="allocated_store",how="left")
dftotal['Store_Type']=dftotal['Store_Type'].fillna("Legacy")
gc.collect()

60

In [37]:
# Load TA zip label
excel=pd.ExcelFile(path_excel_ta)
df_zip_label=excel.parse("unique_zips_full_footprint",dtype=str)
print(df_zip_label['zip_type'].unique())
print(df_zip_label['zip_cd'].apply(len).unique())
df_zip_label=df_zip_label.rename(columns={"zip_cd":"cleaned_zip_cd"})
df_zip_label['zip_type']=df_zip_label['zip_type'].replace("zips_10","trans_P")
df_zip_label['zip_type']=df_zip_label['zip_type'].apply(lambda x: x.split("_")[1])
del excel
gc.collect()
print(df_zip_label['zip_type'].unique())

df_zip_label.head(5)

['trans_P' 'trans_S' 'zips_10']
[5]
['P' 'S']

  zip_type cleaned_zip_cd
0        P          75028
1        P          48317
2        P          48094
3        P          48315
4        P          48316

In [38]:
# Merge in TA label
dftotal=pd.merge(dftotal,df_zip_label,on="cleaned_zip_cd",how="left")
dftotal['zip_type']=dftotal['zip_type'].fillna("T")
print(dftotal.shape)
dftotal.head(3)

(22615467, 13)

,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM,email_address_hash,cleaned_zip_cd,closet_store,top_sales_store,allocated_store,Store_Type,zip_type
0,681869d76dbbf47685b2e2b2c247064ae83194cc5c5f80...,2020-12-26,154042.42,7466,1.0,111.0,e12683b2ec8b57ddab043609795d36246df869be353af7...,01702,5194,5194,5194,Legacy,P
1,84e657f1f656952fb9412a63022017769d59a70cc36883...,2020-12-24,168901.86,7284,1.0,111.0,64048ee5fbef6db265cf2890276f25c71029da14e7749b...,14701,1018,1018,1018,SOTF,P
2,3efc4531caf1e69c86e49f007901c143d81df33086abe7...,2020-12-26,166296.28,7042,1.0,111.0,79fc174d2b4e651ffdd8cc69fde21d61ce27dc65d32e68...,38930,1021,1021,1021,Legacy,P

In [39]:
# Sort and assign Decile 1-10, based on the RFM

dftotal = dftotal.sort_values(['RFM','recency','transactions',
                               'sales'],ascending = [1,1,0,0])

print(dftotal.shape)
dftotal=dftotal.drop_duplicates("email_address_hash") ####### Email duplications also dropped
print("drop_duplicates('email_address_hash')",dftotal.shape) 

dftotal.reset_index(drop = True, inplace = True)
dftotal.reset_index(inplace = True)

dftotal = dftotal.rename(columns = {'index':'frmindex'})
c_ids = len(dftotal.index)
c_ids = np.ceil(c_ids/10.0)
dftotal['frmindex'] = np.ceil((dftotal['frmindex']+1)/c_ids)

print("Done with the RFM scoring, "+str(datetime.datetime.now()))

dftotal['frmindex']=dftotal['frmindex'].apply(lambda x: "D"+str(int(float(x))).zfill(2))

(22615467, 13)
drop_duplicates('email_address_hash') (22613616, 13)
Done with the RFM scoring, 2021-01-03 18:51:43.748264

In [40]:
# Define H/M/L group from Decile
df_H=pd.DataFrame({"frmindex":['D01','D02','D03','D04']})
df_H['HML_Group']="H"

df_M=pd.DataFrame({"frmindex":['D05','D06','D07']})
df_M['HML_Group']="M"

df_L=pd.DataFrame({"frmindex":['D08','D09','D10']})
df_L['HML_Group']="L"

df_HML=df_H.append(df_M).append(df_L)
gc.collect()

20

In [41]:
# add in HML

dftotal=pd.merge(dftotal,df_HML,on='frmindex',how="left")

dftotal.to_csv(output_folder+"dftotal_details_full.csv",index=False)
del df_HML
gc.collect()

20

In [42]:
# Write out 0-18 output with RFM
dftotal=pd.read_csv(output_folder+"dftotal_details_full.csv")
dftotal.head(2)

,frmindex,customer_id_hashed,max_trans_date,sales,transactions,recency,RFM,email_address_hash,cleaned_zip_cd,closet_store,top_sales_store,allocated_store,Store_Type,zip_type,HML_Group
0,D01,681869d76dbbf47685b2e2b2c247064ae83194cc5c5f80...,2020-12-26,154042.42,7466,1.0,111.0,e12683b2ec8b57ddab043609795d36246df869be353af7...,1702.0,5194.0,5194,5194,Legacy,P,H
1,D01,84e657f1f656952fb9412a63022017769d59a70cc36883...,2020-12-24,168901.86,7284,1.0,111.0,64048ee5fbef6db265cf2890276f25c71029da14e7749b...,14701.0,1018.0,1018,1018,SOTF,P,H

In [43]:
dftotal['max_trans_date']=dftotal['max_trans_date'].astype(str)

# Lapsed 18-30

In [44]:
# Write date range
# 2. About to Lapse X to 12 mo
date_last_2020Q4=datetime.date(2021,1,31)
time_span=(date_last_2020Q4.month-lastdate_date.month)+12*(date_last_2020Q4.year-lastdate_date.year)+1
X=12-time_span
print("X",X)
print("time_span",time_span)
# 2
date_max_X_to_12=date_last_2020Q4-dateutil.relativedelta.relativedelta(months=12)
date_min_X_to_12=date_max_X_to_12-dateutil.relativedelta.relativedelta(months=time_span)+datetime.timedelta(days=1)
print("#2", date_min_X_to_12,date_max_X_to_12,'\n')
# 3
date_max_13_to_18=date_min_X_to_12-datetime.timedelta(days=1)
date_min_13_to_18=date_min_X_to_12-dateutil.relativedelta.relativedelta(months=5)
date_min_13_to_18_adapted=datetime.datetime.strptime(Beginning_18_months_ago,"%Y-%m-%d").date()
print("#3", date_min_13_to_18,date_max_13_to_18,'\n')
# 4
date_max_19_to_24=date_min_13_to_18_adapted-datetime.timedelta(days=1)
date_min_19_to_24=date_min_13_to_18-dateutil.relativedelta.relativedelta(months=6)
print("#4", date_min_19_to_24,date_max_19_to_24,'\n')
# 5
date_max_25_to_30=date_min_19_to_24-datetime.timedelta(days=1)
date_min_25_to_30=date_min_19_to_24-dateutil.relativedelta.relativedelta(months=6)
print("#5", date_min_25_to_30,date_max_25_to_30,'\n')

X 10
time_span 2
#2 2019-12-01 2020-01-31

#3 2019-07-01 2019-11-30

#4 2019-01-01 2019-06-29

#5 2018-07-01 2018-12-31

In [45]:
# load sql engine
BL_SQL_CONNECTION= 'mysql+pymysql://jliang:H1Dswk&Fxz@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [46]:
# pull 18-30
str_sql_date_min_25_to_30="'"+str(date_min_25_to_30)+"'"
str_sql_date_max_19_to_24="'"+str(date_max_19_to_24)+"'"

query_top_store_per_id_18_30="select customer_id_hashed, location_id, max(transaction_dt) as max_trans_date, count(distinct trans_order_since_18Q1) as trans, sum(sales) as sales \
from Pred_POS_Department \
where transaction_dt between %s and %s \
group by customer_id_hashed, location_id;"%(str(str_sql_date_min_25_to_30),str(str_sql_date_max_19_to_24))
print(query_top_store_per_id_18_30)

select customer_id_hashed, location_id, max(transaction_dt) as max_trans_date, count(distinct trans_order_since_18Q1) as trans, sum(sales) as sales from Pred_POS_Department where transaction_dt between '2018-07-01' and '2019-06-29' group by customer_id_hashed, location_id;

In [47]:
# call the query and split into 2 dfs
print(datetime.datetime.now())
df_top_store_per_id_18_30=pd.read_sql(query_top_store_per_id_18_30,con=BL_engine)
print(datetime.datetime.now())
# 1 hour

df_ids_with_date_18_30=df_top_store_per_id_18_30[['customer_id_hashed','max_trans_date']].sort_values(["customer_id_hashed",'max_trans_date'],ascending=['True','False']).drop_duplicates("customer_id_hashed")
df_ids_with_date_18_30=df_ids_with_date_18_30[~df_ids_with_date_18_30['customer_id_hashed'].isin(dftotal['customer_id_hashed'].tolist())]

df_top_store_per_id_18_30=df_top_store_per_id_18_30.sort_values(["customer_id_hashed","trans","sales"],ascending=[True,False,False])
df_top_store_per_id_18_30=df_top_store_per_id_18_30.drop_duplicates("customer_id_hashed")
del df_top_store_per_id_18_30['trans']
del df_top_store_per_id_18_30['sales']
del df_top_store_per_id_18_30['max_trans_date']
gc.collect()
df_top_store_per_id_18_30.columns=['customer_id_hashed','top_sales_store']
df_ids_with_date_18_30=pd.merge(df_ids_with_date_18_30,df_top_store_per_id_18_30,on="customer_id_hashed",how="left")
print(datetime.datetime.now())

2021-01-03 18:58:58.981182
2021-01-03 19:44:32.544228
2021-01-03 19:51:42.087947

In [48]:
# check sizing
del df_top_store_per_id_18_30
print(df_ids_with_date_18_30.shape,df_ids_with_date_18_30['customer_id_hashed'].nunique())
print(datetime.datetime.now())
df_ids_with_date_18_30.head(2)

(6072367, 3) 6072366
2021-01-03 19:51:52.719307

,customer_id_hashed,max_trans_date,top_sales_store
0,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,2018-11-18,1852
1,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,2019-03-22,829

In [49]:
# write out
dfiddetail=pd.read_csv(output_folder+"dfiddetail.csv")
print(dfiddetail.shape,dfiddetail['customer_id_hashed'].nunique())
dfiddetail.head(2)

(41453742, 5) 41453742

,Unnamed: 0,customer_id_hashed,email_address_hash,cleaned_zip_cd,closet_store
0,0,8bac8918fa54db3f97ae8be7a60d3bd2b076769769cca9...,b083364d02a03d64a05acc38d01a6217c184f847ebb199...,NaN,NaN
1,1,3cfcadb8bb35c712e4cd92d375eb5e3c879caec3f99b67...,47ca48560e59c1700ad24282baad4e1a551dea1229de20...,95776.0,1934.0

In [50]:
# format and remove nan
del dfiddetail['Unnamed: 0']
df_ids_with_date_18_30=pd.merge(df_ids_with_date_18_30,dfiddetail,on="customer_id_hashed",how="left")
df_ids_with_date_18_30=df_ids_with_date_18_30[pd.notnull(df_ids_with_date_18_30['email_address_hash'])]
df_ids_with_date_18_30['closet_store']=df_ids_with_date_18_30['closet_store'].fillna(-1)
df_ids_with_date_18_30['closet_store']=df_ids_with_date_18_30['closet_store'].astype(int).astype(str)
print(df_ids_with_date_18_30.shape,df_ids_with_date_18_30['customer_id_hashed'].nunique(),df_ids_with_date_18_30['email_address_hash'].nunique())
df_ids_with_date_18_30.head(2)

(4423147, 6) 4423147 4423045

,customer_id_hashed,max_trans_date,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store
0,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,2018-11-18,1852,21620c4342292086ec48d349207620e54a528273c7ad3d...,14094.0,831
1,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,2019-03-22,829,8e5725c189f726fdcdb89b3f67295513375440360b18bc...,41179.0,42

In [51]:
gc.collect()

40

In [52]:
# Assign store to ID
df_ids_with_date_18_30['allocated_store']=np.where(pd.notnull(df_ids_with_date_18_30['top_sales_store']),
                                    df_ids_with_date_18_30['top_sales_store'],
                                    df_ids_with_date_18_30['closet_store'])
df_ids_with_date_18_30['allocated_store']=df_ids_with_date_18_30['allocated_store'].astype(int).astype(str)

In [53]:
# Load store type
df_store_type=pd.ExcelFile(path_SOTF_dom)
df_store_type=df_store_type.parse("Store List",dtype=str)
df_store_type=df_store_type[["Store",'SOTF']]
df_store_type=df_store_type[df_store_type['SOTF'].str.lower()=="yes"]
df_store_type=df_store_type[df_store_type['Store']!="TBD"]
print(len(df_store_type),df_store_type['Store'].nunique())
df_store_type=df_store_type.rename(columns={"Store":"allocated_store","SOTF":"Store_Type"})
df_store_type['Store_Type']="SOTF"
df_store_type.head(2)

491 491

  allocated_store Store_Type
0               1       SOTF
6              49       SOTF

In [54]:
# Merge in store type
df_ids_with_date_18_30['allocated_store']=df_ids_with_date_18_30['allocated_store'].astype(int)
df_store_type['allocated_store']=df_store_type['allocated_store'].astype(int)
df_ids_with_date_18_30=pd.merge(df_ids_with_date_18_30,df_store_type,on="allocated_store",how="left")
df_ids_with_date_18_30['Store_Type']=df_ids_with_date_18_30['Store_Type'].fillna("Legacy")
gc.collect()

6504

In [55]:
# Load TA
excel=pd.ExcelFile(path_excel_ta)
df_zip_label=excel.parse("unique_zips_full_footprint",dtype=str)
print(df_zip_label['zip_type'].unique())
print(df_zip_label['zip_cd'].apply(len).unique())
df_zip_label=df_zip_label.rename(columns={"zip_cd":"cleaned_zip_cd"})
df_zip_label['zip_type']=df_zip_label['zip_type'].replace("zips_10","trans_P")
df_zip_label['zip_type']=df_zip_label['zip_type'].apply(lambda x: x.split("_")[1])
del excel
gc.collect()
print(df_zip_label['zip_type'].unique())

df_zip_label.head(5)

['trans_P' 'trans_S' 'zips_10']
[5]
['P' 'S']

  zip_type cleaned_zip_cd
0        P          75028
1        P          48317
2        P          48094
3        P          48315
4        P          48316

In [56]:
# Clear zip cd
df_ids_with_date_18_30['cleaned_zip_cd']=df_ids_with_date_18_30['cleaned_zip_cd'].fillna("0")
df_ids_with_date_18_30['cleaned_zip_cd']=df_ids_with_date_18_30['cleaned_zip_cd'].astype(int).astype(str)

In [57]:
# Fill in nan
df_ids_with_date_18_30=pd.merge(df_ids_with_date_18_30,df_zip_label,on="cleaned_zip_cd",how="left")
df_ids_with_date_18_30['zip_type']=df_ids_with_date_18_30['zip_type'].fillna("T")
print(df_ids_with_date_18_30.shape)
df_ids_with_date_18_30.head(3)

(4423147, 9)

,customer_id_hashed,max_trans_date,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store,allocated_store,Store_Type,zip_type
0,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,2018-11-18,1852,21620c4342292086ec48d349207620e54a528273c7ad3d...,14094,831,1852,SOTF,P
1,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,2019-03-22,829,8e5725c189f726fdcdb89b3f67295513375440360b18bc...,41179,42,829,Legacy,P
2,000008d9ceefd3dc5c250973c0686d2611db5eaad451db...,2018-11-21,4554,ce7fe194c4d21164816470508d40a5f27ae007fc97aae8...,92236,4554,4554,Legacy,S

In [58]:
# Write out
df_ids_with_date_18_30.to_csv(output_folder+"df_ids_with_date_18_30.csv",index=False)
print(datetime.datetime.now())

2021-01-03 19:57:46.043360

In [59]:
df_ids_with_date_18_30.head(2)

,customer_id_hashed,max_trans_date,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store,allocated_store,Store_Type,zip_type
0,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,2018-11-18,1852,21620c4342292086ec48d349207620e54a528273c7ad3d...,14094,831,1852,SOTF,P
1,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,2019-03-22,829,8e5725c189f726fdcdb89b3f67295513375440360b18bc...,41179,42,829,Legacy,P

In [60]:
# Reload if needed
df_ids_with_date_18_30=pd.read_csv(output_folder+"df_ids_with_date_18_30.csv")
df_ids_with_date_18_30.head(2)

,customer_id_hashed,max_trans_date,top_sales_store,email_address_hash,cleaned_zip_cd,closet_store,allocated_store,Store_Type,zip_type
0,0000034fec3c2cbbf7a2b38fbf80d84abc72d8bed269c4...,2018-11-18,1852,21620c4342292086ec48d349207620e54a528273c7ad3d...,14094,831,1852,SOTF,P
1,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,2019-03-22,829,8e5725c189f726fdcdb89b3f67295513375440360b18bc...,41179,42,829,Legacy,P

In [61]:
# append together
dftotal=dftotal[['customer_id_hashed','email_address_hash','max_trans_date','HML_Group','zip_type','Store_Type']]
df_ids_with_date_18_30=df_ids_with_date_18_30[['customer_id_hashed','email_address_hash','max_trans_date','zip_type','Store_Type']]
df_output=dftotal.append(df_ids_with_date_18_30)
print(df_output.shape,df_output['customer_id_hashed'].nunique(),df_output['email_address_hash'].nunique())
df_output.head(3)

(27036763, 6) 27036763 27034849

,customer_id_hashed,email_address_hash,max_trans_date,HML_Group,zip_type,Store_Type
0,681869d76dbbf47685b2e2b2c247064ae83194cc5c5f80...,e12683b2ec8b57ddab043609795d36246df869be353af7...,2020-12-26,H,P,Legacy
1,84e657f1f656952fb9412a63022017769d59a70cc36883...,64048ee5fbef6db265cf2890276f25c71029da14e7749b...,2020-12-24,H,P,SOTF
2,3efc4531caf1e69c86e49f007901c143d81df33086abe7...,79fc174d2b4e651ffdd8cc69fde21d61ce27dc65d32e68...,2020-12-26,H,P,Legacy

In [62]:
# remove duplications
del dftotal
del df_ids_with_date_18_30
df_output=df_output[['customer_id_hashed','email_address_hash','max_trans_date','HML_Group','zip_type','Store_Type']]
df_output['HML_Group']=df_output['HML_Group'].fillna("Unknown")
df_output=df_output.drop_duplicates("customer_id_hashed").drop_duplicates("email_address_hash")

In [63]:
gc.collect()

80

# Sign Up No purchase 1-12

In [64]:
# Last audience Sign up and no puchase
sign_up_start=lastdate_date-dateutil.relativedelta.relativedelta(months=12)
sign_up_end=lastdate_date-dateutil.relativedelta.relativedelta(months=1)-datetime.timedelta(days=1)
print(sign_up_start,sign_up_end)

str_sign_up_start="'"+str(sign_up_start)+"'"
str_sign_up_end="'"+str(sign_up_end)+"'"

2019-12-26 2020-11-25

In [65]:
# Write query: Pull data of new signs based on sign_up_date from CRM
query_crm_sign_up_range="select customer_id_hashed,sign_up_location, email_address_hash,customer_zip_code from BL_Rewards_Master \
where sign_up_date between %s and %s;"%(str_sign_up_start,str_sign_up_end)
print(query_crm_sign_up_range)

select customer_id_hashed,sign_up_location, email_address_hash,customer_zip_code from BL_Rewards_Master where sign_up_date between '2019-12-26' and '2020-11-25';

In [66]:
# Run query
print(datetime.datetime.now())
df_sign_no_purchase_2_12=pd.read_sql(query_crm_sign_up_range,con=BL_engine)
print(datetime.datetime.now())
df_sign_no_purchase_2_12=df_sign_no_purchase_2_12[~df_sign_no_purchase_2_12['customer_id_hashed'].isin(df_output['customer_id_hashed'].tolist())]
df_sign_no_purchase_2_12=df_sign_no_purchase_2_12[~df_sign_no_purchase_2_12['email_address_hash'].isin(df_output['email_address_hash'].tolist())]
print(df_sign_no_purchase_2_12.shape,df_sign_no_purchase_2_12['customer_id_hashed'].nunique(),df_sign_no_purchase_2_12['email_address_hash'].nunique())
df_sign_no_purchase_2_12=df_sign_no_purchase_2_12.drop_duplicates("customer_id_hashed").drop_duplicates("email_address_hash")
print(df_sign_no_purchase_2_12.shape,df_sign_no_purchase_2_12['customer_id_hashed'].nunique(),df_sign_no_purchase_2_12['email_address_hash'].nunique())
print(datetime.datetime.now())

2021-01-03 20:01:07.763547
2021-01-03 20:03:22.982430
(3581700, 4) 3581651 3581633
(3581632, 4) 3581632 3581632
2021-01-03 20:05:02.412253

In [67]:
# Most ID don't have a valid zip code, delete

del df_sign_no_purchase_2_12['customer_zip_code']
df_store_type_2=df_store_type.copy()
df_store_type_2=df_store_type_2.rename(columns={"allocated_store":"sign_up_location"})
df_store_type_2['sign_up_location']=df_store_type_2['sign_up_location'].astype(int)
df_sign_no_purchase_2_12['sign_up_location']=df_sign_no_purchase_2_12['sign_up_location'].astype(int)
df_sign_no_purchase_2_12=pd.merge(df_sign_no_purchase_2_12,df_store_type_2,on="sign_up_location",how="left")
df_sign_no_purchase_2_12['Store_Type']=np.where(df_sign_no_purchase_2_12['sign_up_location']==6990,"Online",df_sign_no_purchase_2_12['Store_Type'])
df_sign_no_purchase_2_12['Store_Type']=df_sign_no_purchase_2_12['Store_Type'].fillna("Legacy")
print(df_sign_no_purchase_2_12.shape)
df_sign_no_purchase_2_12.head(2)

(3581632, 4)

,customer_id_hashed,sign_up_location,email_address_hash,Store_Type
0,0002d92da292c488b833a52000d4b442744822ffac9bdf...,6990,0c1a67acfb96de5c81af40e3b617f0a9bb3fffa6226daa...,Online
1,000357d338a2fe47b0419252492e271a9e4c0680b354f1...,6990,5f45caa9e21b63fecf08b706658c20358642c9e5d676ec...,Online

In [68]:
# Still 90% are signed online with sign_up_location==6990, To delete
df_sign_no_purchase_2_12.groupby("Store_Type")['customer_id_hashed'].count()

Store_Type
Legacy     304741
Online    3139115
SOTF       137776
Name: customer_id_hashed, dtype: int64

In [69]:
# Keep consistent format and write in unknown here
del df_sign_no_purchase_2_12['sign_up_location']
df_sign_no_purchase_2_12['Store_Type']="Unknown"
df_sign_no_purchase_2_12['HML_Group']="Unknown"
df_sign_no_purchase_2_12['zip_type']="Unknown"
df_sign_no_purchase_2_12['ShopperStatus']="NoPurchase"

In [70]:
# Format date value
df_output['max_trans_date']=df_output['max_trans_date'].astype(str)
df_output['max_trans_date']=pd.to_datetime(df_output['max_trans_date'],format="%Y-%m-%d")
# df_output['max_trans_date'].apply(type).unique()
df_output['max_trans_date']=df_output['max_trans_date'].dt.date
# df_output['max_trans_date'].apply(type).unique()

In [71]:
# Define the shopper status
df_output['ShopperStatus']=np.where(df_output['max_trans_date']>date_max_X_to_12,"Active0X",
                                   np.where(df_output['max_trans_date']>=date_min_X_to_12,"ActiveX12",
                                            np.where(df_output['max_trans_date']>=date_min_13_to_18_adapted,"Lapsed1318",
                                                     np.where(df_output['max_trans_date']>=date_min_19_to_24,"Lapsed1924",'Lapsed2530'
                                                             )
                                                    )
                                           )
                                   )

In [72]:
# Summarize
func={"max_trans_date":['min','max'],'customer_id_hashed':"count"}
df_output.groupby("ShopperStatus")['max_trans_date','customer_id_hashed'].agg(func).reset_index()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

  ShopperStatus max_trans_date             customer_id_hashed
                           min         max              count
0      Active0X     2020-02-01  2020-12-26           18356280
1     ActiveX12     2019-12-01  2020-01-31            1565130
2    Lapsed1318     2019-06-30  2019-11-30            2692206
3    Lapsed1924     2019-01-01  2019-06-29            2075271
4    Lapsed2530     2018-07-01  2018-12-31            2345962

In [73]:
# Append together
del df_output['max_trans_date']
df_output=df_output.append(df_sign_no_purchase_2_12)
del df_sign_no_purchase_2_12
print(df_output.shape,df_output['customer_id_hashed'].nunique(),df_output['email_address_hash'].nunique())
gc.collect()

(30616481, 6) 30616481 30616481

20

In [74]:
df_output.head(2)

,customer_id_hashed,email_address_hash,HML_Group,zip_type,Store_Type,ShopperStatus
0,681869d76dbbf47685b2e2b2c247064ae83194cc5c5f80...,e12683b2ec8b57ddab043609795d36246df869be353af7...,H,P,Legacy,Active0X
1,84e657f1f656952fb9412a63022017769d59a70cc36883...,64048ee5fbef6db265cf2890276f25c71029da14e7749b...,H,P,SOTF,Active0X

In [75]:
df_output.tail(2)

,customer_id_hashed,email_address_hash,HML_Group,zip_type,Store_Type,ShopperStatus
3581630,99d8428c6419665b1732998c675a078b39483faf4b7158...,738276e0c708c08fd41d691e46b9407642646265b16680...,Unknown,Unknown,Unknown,NoPurchase
3581631,936512335884b0ec38fd80e2ca40ff593e6a4f88a34462...,e38d7f3a75615df588a6bdb03337f256be1ea2440dd782...,Unknown,Unknown,Unknown,NoPurchase

In [76]:
df_output['zip_type'].unique()

array(['P', 'S', 'T', 'Unknown'], dtype=object)

In [77]:
df_output[df_output['zip_type']=="Unknown"]['ShopperStatus'].unique()

array(['NoPurchase'], dtype=object)

In [78]:
# P&S zip customer were requested to combine
df_output['zip_label']=np.where(df_output['zip_type'].isin(['P','S']),"PS","T")

In [79]:
# write full segment name
df_output['segment_2020Q4_Refresh']=df_output['Store_Type']+"_"+df_output['ShopperStatus']+"_"+df_output['HML_Group']+"_"+df_output['zip_label']
df_output.head(2)

,customer_id_hashed,email_address_hash,HML_Group,zip_type,Store_Type,ShopperStatus,zip_label,segment_2020Q4_Refresh
0,681869d76dbbf47685b2e2b2c247064ae83194cc5c5f80...,e12683b2ec8b57ddab043609795d36246df869be353af7...,H,P,Legacy,Active0X,PS,Legacy_Active0X_H_PS
1,84e657f1f656952fb9412a63022017769d59a70cc36883...,64048ee5fbef6db265cf2890276f25c71029da14e7749b...,H,P,SOTF,Active0X,PS,SOTF_Active0X_H_PS

In [80]:
# Write out final result before removing initial controls
df_output.to_csv(output_folder+"df_output.csv",index=False)

In [81]:
# Summarize
df_summary_before_split=df_output.groupby("segment_2020Q4_Refresh")['email_address_hash'].count().to_frame().reset_index()

In [82]:
df_summary_before_split['Store_Type']=df_summary_before_split['segment_2020Q4_Refresh'].apply(lambda x: x.split("_")[0])
df_summary_before_split['ShopperStatus']=df_summary_before_split['segment_2020Q4_Refresh'].apply(lambda x: x.split("_")[1])
df_summary_before_split['HML_Group']=df_summary_before_split['segment_2020Q4_Refresh'].apply(lambda x: x.split("_")[2])
df_summary_before_split['zip_label']=df_summary_before_split['segment_2020Q4_Refresh'].apply(lambda x: x.split("_")[3])
df_summary_before_split=df_summary_before_split.sort_values(["Store_Type",'ShopperStatus','HML_Group','zip_label'])
df_summary_before_split.to_csv("df_summary_before_split.csv",index=False)

In [83]:
df_summary_before_split

,segment_2020Q4_Refresh,email_address_hash,Store_Type,ShopperStatus,HML_Group,zip_label
0,Legacy_Active0X_H_PS,5021849,Legacy,Active0X,H,PS
1,Legacy_Active0X_H_T,829740,Legacy,Active0X,H,T
2,Legacy_Active0X_L_PS,1323341,Legacy,Active0X,L,PS
3,Legacy_Active0X_L_T,312671,Legacy,Active0X,L,T
4,Legacy_Active0X_M_PS,3674799,Legacy,Active0X,M,PS
5,Legacy_Active0X_M_T,684892,Legacy,Active0X,M,T
6,Legacy_ActiveX12_L_PS,861001,Legacy,ActiveX12,L,PS
7,Legacy_ActiveX12_L_T,164288,Legacy,ActiveX12,L,T
8,Legacy_Lapsed1318_L_PS,1502693,Legacy,Lapsed1318,L,PS
9,Legacy_Lapsed1318_L_T,285670,Legacy,Lapsed1318,L,T
10,Legacy_Lapsed1924_Unknown_PS,1150651,Legacy,Lapsed1924,Unknown,PS
11,Legacy_Lapsed1924_Unknown_T,285660,Legacy,Lapsed1924,Unknown,T
12,Legacy_Lapsed2530_Unknown_PS,1322586,Legacy,Lapsed2530,Unknown,PS
13,Legacy_Lapsed2530_Unknown_T,330238,Legacy,Lapsed2530,Unknown,T
14,SOTF_Active0X_H_PS,2776616,SOTF,Active0X,H,PS
15,SOTF_Active0X_H_T,417243,SOTF,Active0X,H,T
16,SOTF_Active0X_L_PS,730347,SOTF,Active0X,L,PS
17,SOTF_Active0X_L_T,160387,SOTF,Active0X,L,T
18,SOTF_Active0X_M_PS,2075609,SOTF,Active0X,M,PS
19,SOTF_Active0X_M_T,348786,SOTF,Active0X,M,T
20,SOTF_ActiveX12_L_PS,465652,SOTF,ActiveX12,L,PS
21,SOTF_ActiveX12_L_T,74189,SOTF,ActiveX12,L,T
22,SOTF_Lapsed1318_L_PS,782769,SOTF,Lapsed1318,L,PS
23,SOTF_Lapsed1318_L_T,121074,SOTF,Lapsed1318,L,T
24,SOTF_Lapsed1924_Unknown_PS,537162,SOTF,Lapsed1924,Unknown,PS
25,SOTF_Lapsed1924_Unknown_T,101798,SOTF,Lapsed1924,Unknown,T
26,SOTF_Lapsed2530_Unknown_PS,591015,SOTF,Lapsed2530,Unknown,PS
27,SOTF_Lapsed2530_Unknown_T,102123,SOTF,Lapsed2530,Unknown,T
28,Unknown_NoPurchase_Unknown_T,3581632,Unknown,NoPurchase,Unknown,T

# Remove Initial Control

In [84]:
# Remove initial controls
df_quarter_initial_control=pd.read_csv("/mnt/clients/juba/hqjubaapp02/sharefolder/Live_Ramp/Quarterly_Update_2020Q4/uploaded_file_LR/BL_2020Q4_audience_Refreshable_JL_2020-10-14.csv",
                                        dtype=str)
df_quarter_initial_control=df_quarter_initial_control[df_quarter_initial_control['updated_Rewards_segment_Refresh'].apply(lambda x: "Control" in x)]
print(df_quarter_initial_control.shape,df_quarter_initial_control['customer_id_hashed'].nunique())

(504502, 3) 504502

In [85]:
df_quarter_initial_control_2=pd.read_csv("/mnt/clients/juba/hqjubaapp02/sharefolder/Live_Ramp/Quarterly_Update_2020Q4/uploaded_file_FB/output_2020-10-09/Control_segment_2020Q4.csv",
                                        dtype=str)
print(df_quarter_initial_control_2.shape,df_quarter_initial_control_2['customer_id_hashed'].nunique())

(580124, 3) 580124

In [86]:
df_quarter_initial_control_2.head(2)

,customer_id_hashed,email_address_hash,agg_seg_regardless_zip
0,17a4ab00dea207b996caa4e126942c67b0e0d53f8c41f2...,1f13ed588000f7bfe7c842b8d8904503e09d2860f0e614...,Control_segment_2020Q4
1,900dc9251d24d03fbbe1d205b9762536d1860e6a183b1f...,413f79c07906cff687de4220a483c53b831a7d238426e8...,Control_segment_2020Q4

In [87]:
# FB contain more controls, so, use the FB version
del df_quarter_initial_control
gc.collect()

100

In [88]:
print(df_output.shape)
list_control_id=df_quarter_initial_control_2['customer_id_hashed'].tolist()
list_control_emails=df_quarter_initial_control_2['email_address_hash'].tolist()

df_output=df_output[~df_output['customer_id_hashed'].isin(list_control_id)]
df_output=df_output[~df_output['email_address_hash'].isin(list_control_emails)]
print(df_output.shape)
del list_control_id
del list_control_emails
gc.collect()

(30616481, 8)
(30059100, 8)

20

In [89]:
# Write out final result before removing initial controls
df_output.to_csv(output_folder+"df_output_TestOnly_updated_on_%s.csv"%str(datetime.datetime.now().date()),index=False)

In [90]:
print(datetime.datetime.now())

2021-01-03 20:17:11.808747