In [17]:
import sqlalchemy
import pandas as pd
import datetime
import numpy as np
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

pd.read_sql("desc BL_Rewards_Master",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

                            Field           Type Null  Key Default Extra
0              customer_id_hashed    varchar(64)  YES  MUL    None
1              email_address_hash    varchar(64)  YES  MUL    None
2                    sign_up_date           date  YES  MUL    None
3                 sign_up_channel    varchar(64)  YES  MUL    None
4                sign_up_location        int(11)  YES  MUL    None
5               customer_zip_code    varchar(16)  YES  MUL    None
6               transaction_count        int(11)  YES         None
7              transaction_amount  decimal(10,2)  YES         None
8          experian_multi_cluster    varchar(32)  YES         None
9           experian_demo_cluster    varchar(32)  YES         None
10               purchase_channel    varchar(32)  YES         None
11    email_unsubscribe_indicator     varchar(2)  YES         None
12  email_undeliverable_indicator     varchar(2)  YES         None
13                      file_path   varchar(256)  YES  MUL    None

In [19]:
# Run on Tuesday
today=datetime.datetime.now().date()
last_week_saturday=today-datetime.timedelta(days=today.weekday()+2)
# last_week_saturday=datetime.date(2020,4,24)
str_last_week_saturday="'"+str(last_week_saturday)+"'"
df_new_sign_ups=pd.read_sql("select email_address_hash from BL_Rewards_Master where sign_up_date>%s;"%str_last_week_saturday,con=BL_engine)
df_new_sign_ups.shape

(46894, 1)

In [20]:
from facebookads.adobjects.customaudience import CustomAudience
from facebookads.adobjects.adaccount import AdAccount
from facebookads.api import FacebookAdsApi

BigLotsAccount_id="act_271491453638620"

jian_APP_ID="2537704939796694"# jian's fb marketing app id
jian_token="EAAkEB3l7ONYBAHsJtDc00ZBtZAW2ye9CRdKsy9ivLlzvgIMsEkZAyZA3mRpuGBF8IvZAR9obyYZCdzfw455nzMEW76A5ZBZBS6Fft2nQsUSs8sZCcGDZBZCbVeiCq0LMvekWjnnDZCuglkNihTAZAWIWTpvzaZBeZCKYywrPl0ZAsoWul36cyQZDZD"

facebook_audience_id_rewards=23844525980280265

In [21]:
FacebookAdsApi.init(access_token=jian_token, api_version='v6.0')
myAccount = AdAccount(BigLotsAccount_id)
fields = [
]



audience = CustomAudience(facebook_audience_id_rewards)
users = list(df_new_sign_ups["email_address_hash"])
listlen = len(users)
chunck_size=50000
count_uploaded=0

In [24]:
for i in range(int(np.ceil(listlen/chunck_size))):
    starti = i*50000
    if (i+1)*50000<listlen:
        endi = (i+1)*50000
    else:
        endi = listlen
    list0 = users[starti:endi]

    count_uploaded+=len(list0)
    audience.add_users(schema=CustomAudience.Schema.email_hash, users=list0)
    #print len(list0)   
print(facebook_audience_id_rewards,datetime.datetime.now(),"full rewards on FB","uploaded",count_uploaded)

23844525980280265 2020-04-29 17:11:59.580469 full rewards on FB uploaded 140682