In [1]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import *

import os
import shutil
import sqlalchemy
import gc
import sys
import json
import glob
from haversine import haversine

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

print(datetime.datetime.now())
print(os.getcwd())

2020-08-02 11:09:27.340613
/home/jian/Projects/Big_Lots/Predictive_Model/Aggregate_final_tables

In [2]:
path_config="/home/jian/Projects/Big_Lots/Predictive_Model/extract_from_MySQL/config.json"
folder_mysqloutfile="/home/mysql/mysqloutfile/"
folder_store_list="/home/jian/BigLots/static_files/Store_list/"
path_TA_excel="/home/jian/Projects/Big_Lots/New_TA/TA_created_in_201906/final_output_20190718/BL_final_TA_updated_JL_2019-07-18.xlsx"
path_json_zip_center="/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json"
dict_config=json.load(open(path_config,"r"))

In [3]:
high_date=datetime.datetime.strptime(dict_config['crm_end_date'],"%Y-%m-%d").date()
# sign_up_start_date=datetime.datetime.strptime(dict_config['crm_start_date'],"%Y-%m-%d").date()
POS_start_date=datetime.datetime.strptime(dict_config['pos_start_date'],"%Y-%m-%d").date()

sql_str_high_date="'%s'"%str(high_date)
sql_str_lastweekstart_date="'%s'"%str(high_date-datetime.timedelta(days=6))
# sql_sign_up_start_date="'%s'"%str(sign_up_start_date)
sql_POS_start_date="'%s'"%str(POS_start_date)

In [6]:
folder_tables="/home/jian/Projects/Big_Lots/Predictive_Model/Tables_for_modeling/POS_from_mysql/table_%s/"%str(datetime.datetime.now().date())
try:
    os.stat(folder_tables)
except:
    os.mkdir(folder_tables)

In [7]:
list_mysqltables=os.listdir(folder_mysqloutfile)
list_mysqltables=[x for x in list_mysqltables if "%s.csv"%str(high_date).replace("-","") in x]
if len(list_mysqltables)==3:
    df_POS_2_1=folder_mysqloutfile+[x for x in list_mysqltables if "2_1_pos" in x][0]
    df_POS_2_2=folder_mysqloutfile+[x for x in list_mysqltables if "2_2_pos" in x and "new_" in x][0]
else:
    raise ValueError("The outfiles from mysql don't match, please check for this highdate: %s" % high_date)

In [18]:
df_POS_2_1

'/home/mysql/mysqloutfile/all_NEall_id_pred_pos_2_1_pos_from_20180204_to_20200509.csv'

In [19]:
str_dig_8_month_first_date=str(high_date).replace("-","")[:6]+"01"
str_dig_8_prev_month_first_date=str(high_date-relativedelta(months=1)).replace("-","")[:6]+"01"

print("str_dig_8_month_first_date",str_dig_8_month_first_date)

list_store_list=glob.glob(folder_store_list+"*.txt")
path_store_list=[x for x in list_store_list if "MediaStormStores"+str_dig_8_month_first_date in x]
if len(path_store_list)==0:
    path_store_list=[x for x in list_store_list if "MediaStormStores"+str_dig_8_month_first_date[:6] in x]
if len(path_store_list)==0:
    path_store_list=[x for x in list_store_list if "MediaStormStores"+str_dig_8_prev_month_first_date in x]
if len(path_store_list)==0:
    path_store_list=[x for x in list_store_list if "MediaStormStores"+str_dig_8_prev_month_first_date[:6] in x]
try:
    path_store_list=path_store_list[0]
except:
    raise ValueError

str_dig_8_month_first_date 20200501

In [20]:
# store list of 20200201

df_store_list=pd.read_csv(path_store_list,sep="|")
df_store_list=df_store_list[['location_id','address_line_1','address_line_2','city_nm','state_nm','zip_cd','latitude_meas','longitude_meas']]
df_store_list['latitude_meas']=df_store_list['latitude_meas'].astype(float)
df_store_list['longitude_meas']=df_store_list['longitude_meas'].astype(float)
df_store_list['zip_cd']=df_store_list['zip_cd'].apply(lambda x: x.split("-")[0].zfill(5))
df_store_list=df_store_list[~df_store_list['location_id'].isin(['145','6990'])]
df_store_list['location_id']=df_store_list['location_id'].astype(str)

In [8]:
TA_zips=pd.ExcelFile(path_TA_excel)
TA_zips=TA_zips.parse("view_by_store",dtype=str)

df_temporary=TA_zips[['location_id','trans_P_zips_70_within_TA','trans_S_zips_70_within_TA','zips_in_10']]
df_zip_by_store=pd.DataFrame()

for ind,row in df_temporary.iterrows():
    location_id=str(row['location_id'])
    P_zips=eval(row['trans_P_zips_70_within_TA'])
    S_zips=eval(row['trans_S_zips_70_within_TA'])
    zip_10=eval(row['zips_in_10'])
    

    df_P=pd.DataFrame(zip([location_id]*len(P_zips),P_zips))
    if len(df_P)>0:
        df_P.columns=['location_id','zip_cd']
        df_P['zip_type']="P"
        
    df_S=pd.DataFrame(zip([location_id]*len(S_zips),S_zips))
    if len(df_S)>0:
        df_S.columns=['location_id','zip_cd']
        df_S['zip_type']="S"
    
    df_10=pd.DataFrame(zip([location_id]*len(zip_10),zip_10))
    if len(df_10)>0:
        df_10.columns=['location_id','zip_cd']
        df_10['zip_type']="zip_10"
    
    df_zip_by_store=df_zip_by_store.append(df_P).append(df_S).append(df_10)
df_zip_by_store['location_id']=df_zip_by_store['location_id'].astype(str)

In [9]:
df_store_list=df_store_list[['location_id','latitude_meas','longitude_meas']]
df_store_zip=pd.merge(df_store_list,df_zip_by_store,on="location_id",how="left")
df_store_zip.head(2)

  location_id  latitude_meas  longitude_meas zip_cd zip_type
0           3       33.42157      -82.018921  30906        P
1           3       33.42157      -82.018921  30904        S

In [10]:
df_store_zip_new=df_store_zip[pd.isnull(df_store_zip['zip_cd'])]
df_store_zip_existing=df_store_zip[pd.notnull(df_store_zip['zip_cd'])]

df_store_zip_new_no_loc=df_store_zip_new[df_store_zip_new['latitude_meas']==0]
df_store_zip_new_with_loc=df_store_zip_new[df_store_zip_new['latitude_meas']!=0]

In [11]:
if len(df_store_zip_new_no_loc)>0:
    store_list_later=[x for x in list_store_list if x.split("MediaStormStores")[1][:8]>str_dig_8_month_first_date]
    store_list_later=sorted(store_list_later,key=lambda x: os.stat(x).st_mtime)

In [12]:
df_store_zip_new_with_loc=df_store_zip_new_with_loc[['location_id','latitude_meas','longitude_meas']]
df_store_zip_new_no_loc=df_store_zip_new_no_loc[['location_id','latitude_meas','longitude_meas']]

for file in store_list_later:
    df=pd.read_csv(file,dtype=str,sep="|",usecols=['location_id','latitude_meas','longitude_meas'])
    df=df[['location_id','latitude_meas','longitude_meas']]
    df['latitude_meas']=df['latitude_meas'].astype(float)
    df['longitude_meas']=df['longitude_meas'].astype(float)
    df['location_id']=df['location_id'].astype(str)
    df=df[df['location_id'].isin(df_store_zip_new_no_loc['location_id'].tolist())]
    df=df[df['latitude_meas']!=0]
    df_store_zip_new_with_loc=df_store_zip_new_with_loc.append(df)
    df_store_zip_new_no_loc=df_store_zip_new_no_loc[~df_store_zip_new_no_loc['location_id'].isin(df['location_id'].tolist())]
    if len(df_store_zip_new_no_loc)==0:
        break
        
df_store_zip_new=df_store_zip_new_with_loc.reset_index()
del df_store_zip_new['index']

del df_store_zip_new_with_loc
del df_store_zip_new_no_loc

In [13]:


zip_centers=json.load(open(path_json_zip_center,"r"))

df_all_new_zip=pd.DataFrame()
for i,row in df_store_zip_new.iterrows():
    store_coor=(row['latitude_meas'],row['longitude_meas'])
    store_num=row['location_id']
    list_store_zip=[]
    for zip_cd, v in zip_centers.items():
        dist=haversine(store_coor,v,unit="mi")
        if dist<=10:
            list_store_zip.append(zip_cd)
    df=pd.DataFrame({"zip_cd":list_store_zip,"zip_type":["zip_10"]*len(list_store_zip)},index=[store_num]*len(list_store_zip))
    df=df.reset_index().rename(columns={"index":"location_id"})
    df_all_new_zip=df_all_new_zip.append(df)
    
df_store_zip_new=pd.merge(df_store_zip_new,df_all_new_zip,on="location_id",how="left")
df_store_zip_new.shape

(849, 5)

In [14]:
df_store_zip=df_store_zip_existing.append(df_store_zip_new)
df_zip_type=df_store_zip[['zip_cd','zip_type']].drop_duplicates()
df_zip_type=df_zip_type.sort_values(['zip_cd','zip_type'])
print(df_zip_type['zip_type'].unique().tolist())
df_unique_zip_type=df_zip_type.drop_duplicates("zip_cd")

list_P_zips=df_zip_type[df_zip_type['zip_type']=="P"]['zip_cd'].tolist()
list_S_zips=df_zip_type[df_zip_type['zip_type']=="S"]['zip_cd'].tolist()
list_10_zips=df_zip_type[df_zip_type['zip_type']=="zip_10"]['zip_cd'].tolist()

['P', 'S', 'zip_10']

In [15]:
df_store_list=df_store_zip[['location_id','latitude_meas','longitude_meas']].drop_duplicates().reset_index()
del df_store_list['index']
df_store_list.head(2)

  location_id  latitude_meas  longitude_meas
0           3      33.421570      -82.018921
1          30      41.363132      -83.650909

In [16]:
from multiprocessing import Pool
processors=20

list_all_zips=list(zip_centers.keys())
len_chunck=int(np.ceil(len(list_all_zips)/processors))
list_of_input_all_us_zip_list=[]

for i in range(processors):
    l=list_all_zips[i*len_chunck:(i+1)*len_chunck]
    list_of_input_all_us_zip_list.append(l)

def get_dist_output_df(input_zip_list):
    df_output=pd.DataFrame()
    
    for zip_cd in input_zip_list:
        z_centroid=zip_centers[zip_cd]
        min_dist=np.inf
        nearest_store=None
        
        for i,row in df_store_list.iterrows():
            store=row['location_id']
            store_loc=(row['latitude_meas'], row['longitude_meas'])
            dist=haversine(z_centroid,store_loc,unit="mi")
            if dist<=min_dist:
                min_dist=dist
                nearest_store=store
        df=pd.DataFrame({"nearest_BL_store":nearest_store,"nearest_BL_dist":min_dist},index=[zip_cd])
        df=df.reset_index().rename(columns={"index":"zip_cd"})
        df_output=df_output.append(df)
    return df_output

In [17]:
p = Pool(processors)
result=p.map(get_dist_output_df, list_of_input_all_us_zip_list)
df_zips_with_BL_store=pd.DataFrame()
for res in result:
    if res is not None:
        df_zips_with_BL_store=df_zips_with_BL_store.append(res)
p.close()
p.join()

In [18]:
print(df_zips_with_BL_store.shape,df_zips_with_BL_store['zip_cd'].nunique(),df_zips_with_BL_store['nearest_BL_store'].nunique())
df_zips_with_BL_store['zip_cd']=df_zips_with_BL_store['zip_cd'].astype(str)
df_zips_with_BL_store['zip_cd']=df_zips_with_BL_store['zip_cd'].apply(lambda x: x.zfill(5))

(39647, 3) 39647 1403

# IV_list

In [21]:
list_all_sql_tables=pd.read_sql('show tables;',con=BL_engine)['Tables_in_BigLots'].tolist()
list_new_tables=[x for x in list_all_sql_tables if x[-8:]==str(high_date).replace("-","")]
list_new_tables

['NEall_id_pos_from_20180204_to_20200509',
 'all_NEall_id_pred_pos_2_1_pos_from_20180204_to_20200509',
 'all_NEall_id_pred_pos_2_2_pos_from_20180204_to_20200509',
 'crm_NEall_id_pos_from_20180204_to_20200509',
 'max_trans_NEall_id_pos_from_20180204_to_20200509',
 'pred_pos_dept_NEall_id_pos_from_20180204_to_20200509']

In [22]:
pd.read_sql("select count(customer_id_hashed) from crm_NEall_id_pos_from_20180204_to_20200509;",con=BL_engine)

OperationalError: (pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query') [SQL: 'select count(customer_id_hashed) from crm_NEall_id_pos_from_20180204_to_20200509;']

In [20]:
str_mysql_table_commonid="crm_NEall_id_pos_from_%s_to_%s" %(str(sign_up_start_date).replace("-",""),str(high_date).replace("-",""))

In [21]:
print(datetime.datetime.now())
df_1=pd.read_sql("select t1.customer_id_hashed, t1.sign_up_date, sign_up_channel, sign_up_location, customer_zip_code from BL_Rewards_Master as t1 \
right join %s as t2 on t1.customer_id_hashed=t2.customer_id_hashed;"%str_mysql_table_commonid, con=BL_engine)


df_1_len=df_1.shape[0]
df_1_id_nunique=df_1['customer_id_hashed'].nunique()
print("df_1_len",df_1_len)
print("df_1_id_nunique",df_1_id_nunique)
print(datetime.datetime.now())
df_1.head(2)

2020-07-17 11:48:33.365844
df_1_len 10357098
df_1_id_nunique 10357062
2020-07-17 12:40:16.282412

,customer_id_hashed,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,2018-09-22,STORE,4061.0,93722
1,000004f194afdc2c2c26365032ea084974396ee79a7d37...,2019-05-16,ONLINE,6990.0,None

In [22]:
df_1['customer_zip_code']=df_1['customer_zip_code'].astype(str)
df_1['customer_zip_code']=df_1['customer_zip_code'].apply(lambda x: x.split("-")[0].split(" ")[0].zfill(5)[:5])
df_1['sign_up_date']=pd.to_datetime(df_1['sign_up_date'],format="%Y-%m-%d").dt.date
df_1['weeks_since_sign_up']=df_1['sign_up_date'].apply(lambda x: int(np.ceil((high_date-x).days/7)))
df_1['P_zip']=np.where(df_1['customer_zip_code'].isin(list_P_zips),1,0)
df_1['S_zip']=np.where(df_1['customer_zip_code'].isin(list_S_zips),1,0)
df_1['else_10_zip']=np.where(df_1['customer_zip_code'].isin(list_10_zips),1,0)
# del df_1['customer_zip_code']
df_1['signed_online']=np.where(df_1['sign_up_channel']=="STORE",0,1)
del df_1['sign_up_channel']

df_1['sign_up_location']=df_1['sign_up_location'].fillna("-1")
df_1['sign_up_location']=df_1['sign_up_location'].astype(float)
df_1['sign_up_location']=df_1['sign_up_location'].astype(int).astype(str)

print(datetime.datetime.now())
df_1.head(2)

2020-07-17 12:41:14.477560

,customer_id_hashed,sign_up_date,sign_up_location,customer_zip_code,weeks_since_sign_up,P_zip,S_zip,else_10_zip,signed_online
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,2018-09-22,4061,93722,85,1,1,1,0
1,000004f194afdc2c2c26365032ea084974396ee79a7d37...,2019-05-16,6990,0None,52,0,0,0,1

In [23]:
df_copy_sign_up=df_1[['sign_up_location','customer_zip_code']].drop_duplicates()

df_copy_sign_up=df_copy_sign_up.reset_index()
del df_copy_sign_up['index']

In [24]:
# distance to sign up stores
import glob
df_store_all=pd.DataFrame(columns=['location_id','latitude_meas','longitude_meas'])

list_all_stores=glob.glob("/home/jian/BigLots/static_files/Store_list/*.txt")
list_all_stores=[x for x in list_all_stores if "MediaStormStores" in x]
list_all_stores=sorted(list_all_stores,key=lambda x :x.split("MediaStormStores")[1][:8])
list_all_stores=[x for x in list_all_stores if x.split("MediaStormStores")[1][:8]<=str(high_date+datetime.timedelta(days=2)).replace("-","")]
list_all_stores.reverse()

for file in list_all_stores:
    df=pd.read_table(file,dtype=str,sep="|",usecols=['location_id','latitude_meas','longitude_meas'])
    df=df[['location_id','latitude_meas','longitude_meas']]
    df['latitude_meas']=df['latitude_meas'].astype(float)                   
    df['longitude_meas']=df['longitude_meas'].astype(float)   
    df=df[~df['location_id'].isin(['145','6990'])]
    df=df[~df['location_id'].isin(df_store_all['location_id'].tolist())]
    df_store_all=df_store_all.append(df)
df_store_all['store_coor']=df_store_all[['latitude_meas','longitude_meas']].values.tolist()                      
dict_store_all=df_store_all.set_index("location_id").to_dict()['store_coor']

In [25]:
df_copy_sign_up['distc_to_sign_up']=np.nan
for i,row in df_copy_sign_up.iterrows():
    try:
        store_coor=dict_store_all[row['sign_up_location']]
        zip_center=zip_centers[row['customer_zip_code']]
        dist=haversine(store_coor,zip_center,unit="mi")
        df_copy_sign_up.loc[i,"distc_to_sign_up"]=dist
        
    except:
        continue

In [26]:
df_1=pd.merge(df_1,df_copy_sign_up,on=['sign_up_location','customer_zip_code'],how="left")

In [31]:
print(datetime.datetime.now())

2020-07-17 13:37:41.366326

In [32]:
folder_unsub="/home/jian/BigLots/AgilOne/"
list_sunsub_files=glob.glob(folder_unsub+"*.csv")
list_sunsub_files

['/home/jian/BigLots/AgilOne/Division_9_Browse_BigLots_20200113073732.csv',
 '/home/jian/BigLots/AgilOne/BL_Email_UnSubscriber_File_Catchup__20200225014554.csv',
 '/home/jian/BigLots/AgilOne/BL_Email_Subscriber_File_Catchup__20200225094351.csv',
 '/home/jian/BigLots/AgilOne/BL_Email_UnSubscriber_File_Catchup__20200325040427.csv',
 '/home/jian/BigLots/AgilOne/BL_Email_Subscriber_File_Catchup__20200325040440.csv']

In [32]:
list_unsunsribe_ids=pd.read_csv("/home/jian/BigLots/AgilOne/BL_Email_UnSubscriber_File_Catchup__20200225014554.csv",
                         dtype=str,usecols=['customersummary_c_primaryscnhash'])['customersummary_c_primaryscnhash'].unique().tolist()

print(len(list_unsunsribe_ids))
df_1['email_unsub_2020Feb']=np.where(df_1['customer_id_hashed'].isin(list_unsunsribe_ids),1,0)

5858779

In [33]:
df_zips_with_BL_store=df_zips_with_BL_store.rename(columns={"zip_cd":"customer_zip_code"})
df_1=pd.merge(df_1,df_zips_with_BL_store,on="customer_zip_code",how="left")

In [34]:
print(df_1.shape,df_1['customer_id_hashed'].nunique())
print(df_1['sign_up_date'].min(),df_1['sign_up_date'].max())

(610122, 13) 610121
2018-02-04 2020-05-02

In [9]:
df_2_1.head(2)

                                                   0
0  6dbce6708a2577367de2e33fb1d0c98991c34dc28cf14b...
1  81a16c0a83300aae8a602afa537a6ccbcc16ebaf22c638...

In [13]:
cols_2_1=pd.read_sql("select * from all_NEall_id_pred_pos_2_1_pos_from_20180204_to_20200509 limit 1",con=BL_engine).columns.tolist()

df_2_1=pd.read_csv(df_POS_2_1,na_values='\\N',header=None,nrows=100)
df_2_1.columns=cols_2_1
df_2_1=df_2_1.rename(columns={"id":"customer_id_hashed"})
print(df_2_1.shape,df_2_1['customer_id_hashed'].nunique())
df_2_1.head(2)

(100, 62) 100

,customer_id_hashed,week_diff,total_trans_since_registration,total_items,total_sales,trans_in_store,unique_stores,trans_online,department_minus_one_trans,department_108_trans,...,department_530_trans,department_540_trans,department_550_trans,department_560_trans,department_608_trans,department_610_trans,department_612_trans,department_615_trans,department_710_trans,department_800_trans
0,6dbce6708a2577367de2e33fb1d0c98991c34dc28cf14b...,218,4,6,40.24,4,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,81a16c0a83300aae8a602afa537a6ccbcc16ebaf22c638...,526,1,1,12.00,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
df_2_2=pd.read_csv(df_POS_2_2,na_values='\\N',nrows=10**6)
df_2_2

In [39]:
df_2_2=pd.read_csv(folder_tables+os.path.basename(df_POS_2_2),na_values='\\N')
df_2_2=df_2_2.rename(columns={"id":"customer_id_hashed"})
print(df_2_2.shape,df_2_2['customer_id_hashed'].nunique())
df_2_2.head(2)

(610121, 359) 610121

,customer_id_hashed,week_1st_trans,purchase_channel_1st_trans,total_sales_1st_trans,total_units_1st_trans,department_minus_one_1st_trans,department_108_1st_trans,department_109_1st_trans,department_110_1st_trans,department_111_1st_trans,...,department_530_recent_five,department_540_recent_five,department_550_recent_five,department_560_recent_five,department_608_recent_five,department_610_recent_five,department_612_recent_five,department_615_recent_five,department_710_recent_five,department_800_recent_five
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,2018-09-22,1,58.70,7,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,00002cbd0c672091dbcf133a76fd1d8d01648daa3b6c94...,2018-11-20,1,23.64,7,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
df_2_POS=pd.merge(df_2_1,df_2_2,on="customer_id_hashed",how="outer")
print(df_2_POS.shape,df_2_POS['customer_id_hashed'].nunique())
df_2_POS.head(2)

(610121, 420) 610121

,customer_id_hashed,week_diff,total_trans_since_registration,total_items,total_sales,trans_in_store,unique_stores,trans_online,department_minus_one_trans,department_108_trans,...,department_530_recent_five,department_540_recent_five,department_550_recent_five,department_560_recent_five,department_608_recent_five,department_610_recent_five,department_612_recent_five,department_615_recent_five,department_710_recent_five,department_800_recent_five
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,49,6,40,229.05,6,2,1,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,00002cbd0c672091dbcf133a76fd1d8d01648daa3b6c94...,40,6,31,128.15,6,3,1,1,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
del df_2_1
del df_2_2
gc.collect()

121

In [42]:
print("sql_str_high_date: %s"%sql_str_high_date)
print("sql_str_lastweekstart_date: %s"%sql_str_lastweekstart_date)
print("sql_sign_up_start_date: %s"%sql_sign_up_start_date)
print("sql_POS_start_date: %s"%sql_POS_start_date)
print("sql_sign_up_end_date: %s"%sql_sign_up_end_date)

sql_str_high_date: '2020-01-18'
sql_str_lastweekstart_date: '2020-01-12'
sql_sign_up_start_date: '2018-02-04'
sql_POS_start_date: '2018-02-04'
sql_sign_up_end_date: '2019-10-26'

In [44]:
print(datetime.datetime.now())
df_3_Activity_last_week=pd.read_sql("select t_temp.customer_id_hashed as customer_id_hashed, date_est, session_sequence, activity_sequence \
from %s as t_temp left join Pred_ExpV2_Activity_BL_id as t_exp_act on t_temp.customer_id_hashed = t_exp_act.customer_id_hashed \
where date_est between %s and %s;"%(str_mysql_table_commonid,sql_str_lastweekstart_date,sql_str_high_date),con=BL_engine)
df_3_Activity_last_week=df_3_Activity_last_week.fillna(0)
print(df_3_Activity_last_week.shape,df_3_Activity_last_week['customer_id_hashed'].nunique())

agg_func={"session_sequence":"nunique","activity_sequence":"count"}

df_3_Activity_last_week=df_3_Activity_last_week.groupby(['customer_id_hashed'])['session_sequence','activity_sequence'].agg(agg_func).reset_index()
df_3_Activity_last_week=df_3_Activity_last_week.rename(columns={"session_sequence":"last_week_sessions","activity_sequence":"last_week_activities"})
print(df_3_Activity_last_week.shape,df_3_Activity_last_week['customer_id_hashed'].nunique())
print(datetime.datetime.now())

2020-07-05 17:45:12.254302
(108515, 4) 2732
(2732, 3) 2732
2020-07-05 17:45:36.768941

In [45]:
print(datetime.datetime.now())
df_3_Activity_total=pd.read_sql("select t_temp.customer_id_hashed as customer_id_hashed, date_est, session_sequence, activity_sequence \
from %s as t_temp left join Pred_ExpV2_Activity_BL_id as t_exp_act on t_temp.customer_id_hashed = t_exp_act.customer_id_hashed \
where t_exp_act.date_est <=%s;"%(str_mysql_table_commonid,sql_str_high_date),con=BL_engine)
df_3_Activity_total=df_3_Activity_total.fillna(0)

print(df_3_Activity_total.shape,df_3_Activity_total['customer_id_hashed'].nunique())
print(df_3_Activity_total['date_est'].min(),df_3_Activity_total['date_est'].max())
print(datetime.datetime.now())

#####
agg_func={"session_sequence":"nunique","activity_sequence":"count"}
df_3_Activity_total_agg=df_3_Activity_total.groupby(['customer_id_hashed'])['session_sequence','activity_sequence'].agg(agg_func).reset_index()
df_3_Activity_total_agg=df_3_Activity_total_agg.rename(columns={"session_sequence":"total_sessions","activity_sequence":"total_activities"})
print(df_3_Activity_total_agg.shape,df_3_Activity_total_agg['customer_id_hashed'].nunique())

#####

df_3_Activity=pd.merge(df_3_Activity_total_agg,df_3_Activity_last_week,on="customer_id_hashed",how="outer")
df_3_Activity=df_3_Activity.fillna(0)
df_3_Activity.head(2)

2020-07-05 17:45:36.779877
(7033836, 4) 116674
2018-05-23 2020-01-18
2020-07-05 19:07:55.423750
(116674, 3) 116674

,customer_id_hashed,total_sessions,total_activities,last_week_sessions,last_week_activities
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,8,68,0.0,0.0
1,00002cbd0c672091dbcf133a76fd1d8d01648daa3b6c94...,1,2,0.0,0.0

In [49]:
print(datetime.datetime.now())

df_4_Exposure=pd.read_sql("select t_exposure.customer_id_hashed as customer_id_hashed, week_end_dt, sum(impressions) as impressions, sum(clicks) as clicks \
from %s as t_temp left join Pred_ExposureV3_BL_id as t_exposure on t_temp.customer_id_hashed = t_exposure.customer_id_hashed \
where week_end_dt<=%s group by customer_id_hashed, week_end_dt;"%(str_mysql_table_commonid,sql_str_high_date),con=BL_engine)
print("df_4_Exposure.shape",df_4_Exposure.shape)
print("df_4_Exposure['customer_id_hashed'].nunique()",df_4_Exposure['customer_id_hashed'].nunique())
print(df_4_Exposure['week_end_dt'].min(),df_4_Exposure['week_end_dt'].max())
df_4_Exposure=df_4_Exposure.fillna(0)
print(datetime.datetime.now())
df_4_Exposure.head(2)

2020-07-05 19:32:05.802586
df_4_Exposure.shape (1952813, 4)
df_4_Exposure['customer_id_hashed'].nunique() 610121
2018-05-26 2020-01-18
2020-07-05 19:36:51.978542

,customer_id_hashed,week_end_dt,impressions,clicks
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,2018-11-10,1.0,0.0
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,2018-12-29,2.0,0.0

In [50]:
print("high_date",high_date)
print(datetime.datetime.now())

df_4_Exposure_last_week=df_4_Exposure[df_4_Exposure['week_end_dt']==high_date]
df_4_Exposure_last_week=df_4_Exposure_last_week.groupby(['customer_id_hashed'])['impressions','clicks'].sum().reset_index()
df_4_Exposure_last_week=df_4_Exposure_last_week.rename(columns={"impressions":"last_week_impr","clicks":"last_week_click"})
df_4_Exposure_last_week['last_week_impr']=df_4_Exposure_last_week['last_week_impr'].fillna(0)
df_4_Exposure_last_week['last_week_click']=df_4_Exposure_last_week['last_week_click'].fillna(0)
print(df_4_Exposure_last_week.shape,df_4_Exposure_last_week['customer_id_hashed'].nunique())

df_4_Exposure_total=df_4_Exposure.groupby("customer_id_hashed")['impressions','clicks'].sum().reset_index()
df_4_Exposure_total=df_4_Exposure_total.rename(columns={"impressions":"total_impr","clicks":"total_click"})
df_4_Exposure=pd.merge(df_4_Exposure_total,df_4_Exposure_last_week,on="customer_id_hashed",how="outer")
df_4_Exposure=df_4_Exposure.fillna(0)
print(df_4_Exposure.shape,df_4_Exposure['customer_id_hashed'].nunique())
print(datetime.datetime.now())

high_date 2020-01-18
2020-07-05 19:36:52.001705
(15080, 3) 15080
(610121, 5) 610121
2020-07-05 19:36:54.668669

In [51]:
df_1.to_csv(folder_tables+"df_1_CRM.csv",index=False)
df_2_POS.to_csv(folder_tables+"df_2_Exposure.csv",index=False)
df_3_Activity.to_csv(folder_tables+"df_3_Activity.csv",index=False)
df_4_Exposure.to_csv(folder_tables+"df_4_Exposure.csv",index=False)

In [52]:
df_ivs=pd.merge(df_1,df_2_POS,on="customer_id_hashed",how="left")
df_ivs=pd.merge(df_ivs,df_3_Activity,on="customer_id_hashed",how="left")
df_ivs=pd.merge(df_ivs,df_4_Exposure,on="customer_id_hashed",how="left")

del df_1
del df_2_POS
del df_3_Activity
del df_4_Exposure
gc.collect()

52

# DVs

In [53]:
list_ids=df_ivs['customer_id_hashed'].tolist()
str_high_date=str(high_date)

def recursive_file_gen(my_root_dir):
    for root, dirs, files in os.walk(my_root_dir):
        for file in files:
            yield os.path.join(root, file)
list_files_POS=list(recursive_file_gen("/home/jian/BigLots/"))
list_files_POS=[x for x in list_files_POS if "dailysales" in x.lower()]
list_files_POS=[x for x in list_files_POS if "s/mediastorm_" in x.lower()]
list_files_POS=[x for x in list_files_POS if x.split("s/MediaStorm_")[1][:10]>str_high_date]
list_files_POS.sort()
list_files_POS=list_files_POS[:4]
list_files_POS

['/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-01-25/MediaStormDailySales20200128-111758-074.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-01/MediaStormDailySales20200204-111741-091.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-08/MediaStormDailySales20200211-120911-483.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-02-15/MediaStormDailySales20200218-110927-085.txt']

In [54]:
week_i=1
df_sale_dv=df_ivs[['customer_id_hashed']]
for file in list_files_POS:
    df=pd.read_csv(file,dtype=str,sep="|",usecols=['location_id','transaction_dt','transaction_id','customer_id_hashed','item_transaction_amt'])
    df=df[pd.notnull(df['customer_id_hashed'])]
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    
    df=df.groupby(['location_id','transaction_dt','transaction_id','customer_id_hashed'])['item_transaction_amt'].sum().to_frame().reset_index()
    df=df[df['item_transaction_amt']>0]
    df=df[['customer_id_hashed']].drop_duplicates()
    df["DV_single_week_"+str(week_i)]=1
    df_sale_dv=pd.merge(df_sale_dv,df,on="customer_id_hashed",how="left")
    
    print(week_i,datetime.datetime.now())
    week_i+=1
df_sale_dv=df_sale_dv.fillna(0)
df_sale_dv.head(2)

1 2020-07-05 19:49:19.076408
2 2020-07-05 19:50:25.955737
3 2020-07-05 19:51:28.978131
4 2020-07-05 19:52:59.191687

,customer_id_hashed,DV_single_week_1,DV_single_week_2,DV_single_week_3,DV_single_week_4
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,0.0,0.0,0.0,0.0
1,00002cbd0c672091dbcf133a76fd1d8d01648daa3b6c94...,0.0,0.0,0.0,0.0

In [55]:
a=[]
for i in range(len(list_files_POS)):
    i_int_pos=i+1
    list_cum_i=[]
    for j in range(i_int_pos):
        list_cum_i.append('DV_single_week_'+str(j+1))
    a.append(list_cum_i)
    df_sale_dv['DV_cumulative_week_updated_'+str(i_int_pos)]=df_sale_dv[list_cum_i].sum(axis=1)
    df_sale_dv['DV_cumulative_week_updated_'+str(i_int_pos)]=np.where(df_sale_dv['DV_cumulative_week_updated_'+str(i_int_pos)]>0,1,0)

In [56]:
for col in df_sale_dv.columns.tolist():
    if "DV_cumulative" in col:
        print(col,df_sale_dv[df_sale_dv[col]>0].shape)

DV_cumulative_week_updated_1 (20230, 9)
DV_cumulative_week_updated_2 (35641, 9)
DV_cumulative_week_updated_3 (47872, 9)
DV_cumulative_week_updated_4 (59759, 9)

In [57]:
df_data_to_fit=pd.merge(df_sale_dv,df_ivs,on="customer_id_hashed",how="outer")
df_data_to_fit.shape

(610124, 448)

In [58]:
df_data_to_fit.head(2)

,customer_id_hashed,DV_single_week_1,DV_single_week_2,DV_single_week_3,DV_single_week_4,DV_cumulative_week_updated_1,DV_cumulative_week_updated_2,DV_cumulative_week_updated_3,DV_cumulative_week_updated_4,sign_up_date,...,department_710_recent_five,department_800_recent_five,total_sessions,total_activities,last_week_sessions,last_week_activities,total_impr,total_click,last_week_impr,last_week_click
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,0.0,0.0,0.0,0.0,0,0,0,0,2018-09-22,...,1.0,0.0,8.0,68.0,0.0,0.0,27.0,0.0,0.0,0.0
1,00002cbd0c672091dbcf133a76fd1d8d01648daa3b6c94...,0.0,0.0,0.0,0.0,0,0,0,0,2018-11-20,...,0.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0

In [59]:
print(df_data_to_fit['sign_up_date'].min(),df_data_to_fit['sign_up_date'].max())

2018-02-04 2020-05-02

In [60]:
list_cols_no_need=['week_diff','DV_single_week_1','DV_single_week_2','DV_single_week_3','DV_single_week_4',
                   'nearest_BL_store','email_address_hash','sign_up_date']
whole_list=df_data_to_fit.columns.tolist()
print(len(whole_list))
print("email_address_hash" in df_data_to_fit.columns.tolist())

list_use_cols=[x for x in whole_list if x not in list_cols_no_need]
print(len(list_use_cols))

448
False
441

In [61]:
df_new_competitor=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Predictive_Model_Building/final_tables_to_use_in_model/Competitor_from_CC/BL_Competitor_Store_Counts_ByZip_ByCategory_CC_20200511.csv")
df_new_competitor['zip']=df_new_competitor['zip'].apply(lambda x: str(x).zfill(5))
df_new_competitor=df_new_competitor.rename(columns={"zip":"customer_zip_code"})
df_new_competitor['customer_zip_code'].apply(len).unique()

array([5])

In [62]:
df_new_competitor.head(2)

,customer_zip_code,Consumer Goods Rental_All Other Consumer Goods Rental,Consumer Goods Rental_Consumer Electronics and Appliances Rental,Department Stores_Department Stores,Furniture Stores_Furniture Stores,Grocery Stores_Convenience Stores,Grocery Stores_Supermarkets and Other Grocery (except Convenience) Stores,Home Furnishings Stores_All Other Home Furnishings Stores,"Lawn and Garden Equipment and Supplies Stores_Nursery, Garden Center, and Farm Supply Stores","Office Supplies, Stationery, and Gift Stores_Gift, Novelty, and Souvenir Stores",Other Miscellaneous Store Retailers_All Other Miscellaneous Store Retailers (except Tobacco Stores),Other Miscellaneous Store Retailers_Pet and Pet Supplies Stores,Specialty Food Stores_All Other Specialty Food Stores,"Sporting Goods, Hobby, and Musical Instrument Stores_Hobby, Toy, and Game Stores"
0,00501,5,0,41,125,172,328,94,1,130,34,183,4,69
1,01001,5,0,33,112,72,259,46,7,75,24,112,1,47

In [63]:
df_data_to_fit.head(2)

,customer_id_hashed,DV_single_week_1,DV_single_week_2,DV_single_week_3,DV_single_week_4,DV_cumulative_week_updated_1,DV_cumulative_week_updated_2,DV_cumulative_week_updated_3,DV_cumulative_week_updated_4,sign_up_date,...,department_710_recent_five,department_800_recent_five,total_sessions,total_activities,last_week_sessions,last_week_activities,total_impr,total_click,last_week_impr,last_week_click
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,0.0,0.0,0.0,0.0,0,0,0,0,2018-09-22,...,1.0,0.0,8.0,68.0,0.0,0.0,27.0,0.0,0.0,0.0
1,00002cbd0c672091dbcf133a76fd1d8d01648daa3b6c94...,0.0,0.0,0.0,0.0,0,0,0,0,2018-11-20,...,0.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0

In [64]:
df_data_to_fit['customer_zip_code'].apply(len).unique()

array([5])

In [65]:
df_new_competitor['customer_zip_code'].apply(len).unique()

array([5])

In [66]:
df_data_to_fit=pd.merge(df_data_to_fit,df_new_competitor,on="customer_zip_code",how="left")

In [68]:
print(df_data_to_fit.shape,df_data_to_fit['customer_id_hashed'].nunique())

(610124, 461) 610121

In [69]:
df_data_to_fit.to_csv(folder_tables+"df_data_up_to_%s_With_DCM_JL_%s.csv"%(str_high_date,str(datetime.datetime.now().date())),index=False)

In [70]:
print(df_data_to_fit.shape,df_data_to_fit['customer_id_hashed'].nunique())

(610124, 461) 610121