In [1]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import *
import os
import sqlalchemy
import json
import glob
from haversine import haversine
print(datetime.datetime.now())
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

2020-08-07 11:16:09.073579

In [2]:
path_config="/home/jian/Projects/Big_Lots/Predictive_Model/extract_from_MySQL/config.json"
folder_mysqloutfile="/home/mysql/mysqloutfile/"
folder_store_list="/home/jian/BigLots/static_files/Store_list/"
folder_email_unsub="/home/jian/BigLots/Email_Subscription_Files/Unsubs/"
path_TA_excel="/home/jian/Projects/Big_Lots/New_TA/package_to_run_TA_every_quarter/output_2020-07-22/BL_final_TA_updated_JL_2020-07-22.xlsx"
path_json_zip_center="/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json"

dict_config=json.load(open(path_config,"r"))

In [9]:
high_date=datetime.datetime.strptime(dict_config['crm_end_date'],"%Y-%m-%d").date()
# sign_up_start_date=datetime.datetime.strptime(dict_config['crm_start_date'],"%Y-%m-%d").date()

if dict_config['recent_n_month']:
    recent_n_month=dict_config['recent_n_month']
    pos_start_date_id_filter = str(high_date-datetime.timedelta(days=int(np.ceil(365*recent_n_month/12))))
else:
    pos_start_date_id_filter = dict_config["pos_start_date"]
            
sql_str_high_date="'%s'"%str(high_date)
sql_str_lastweekstart_date="'%s'"%str(high_date-datetime.timedelta(days=6))
# sql_sign_up_start_date="'%s'"%str(sign_up_start_date)
sql_POS_start_date="'%s'"%str(pos_start_date_id_filter)

In [10]:
str_week_end_d=dict_config['pos_end_date'].replace("-","")
list_tables=pd.read_sql("show tables",con=BL_engine).iloc[:,0].values.tolist()
list_tables=[x for x in list_tables if x[-8:]==str_week_end_d]
list_tables

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

['NEall_id_pos_until_20200523',
 'all_NEall_id_pred_pos_2_1_pos_until_20200523',
 'all_NEall_id_pred_pos_2_2_pos_until_20200523',
 'crm_NEall_id_pos_until_20200523',
 'max_trans_NEall_id_pos_until_20200523',
 'pred_pos_dept_NEall_id_pos_until_20200523']

In [11]:
def get_table_name_contains(list_input_tables,pattern_unique):
    res=[x for x in list_tables if pattern_unique in x]
    if not res:
        raise ValueError("not table found with the pattern: %s" %pattern_unique)
    elif len(res)>1:
        raise ValueError("multiple tables found with the pattern: %s" %pattern_unique)
    else:
        return res[0]

In [12]:
t_2_1=get_table_name_contains(list_tables,"pos_2_1")
t_2_2=get_table_name_contains(list_tables,"pos_2_2")

t_crm_ids=get_table_name_contains(list_tables,"crm_")

In [54]:
t_crm_ids

'crm_NEall_id_pos_until_20200523'

In [14]:
# store list ahead and after the high date
path_store_list=glob.glob(folder_store_list+"*.txt")

path_store_list_ahead=[x for x in path_store_list if "MediaStormStores%s"%str_week_end_d[:6] in x][0]
path_store_list_after=[x for x in path_store_list if "MediaStormStores%s"%str(int(str_week_end_d[:6])+1) in x][0]
del path_store_list

In [15]:
df_store_list=pd.read_csv(path_store_list_ahead,sep="|")
df_store_list=df_store_list[['location_id','address_line_1','address_line_2','city_nm','state_nm','zip_cd','latitude_meas','longitude_meas']]
df_store_list['latitude_meas']=df_store_list['latitude_meas'].astype(float)
df_store_list['longitude_meas']=df_store_list['longitude_meas'].astype(float)
df_store_list['zip_cd']=df_store_list['zip_cd'].apply(lambda x: x.split("-")[0].zfill(5))
df_store_list=df_store_list[~df_store_list['location_id'].isin(['145','6990'])]
df_store_list['location_id']=df_store_list['location_id'].astype(str)

In [16]:
TA_zips=pd.ExcelFile(path_TA_excel)
TA_zips=TA_zips.parse("view_by_store",dtype=str)

df_temporary=TA_zips[['location_id','trans_P_zips_70_within_TA','trans_S_zips_70_within_TA','zips_in_10']]
df_zip_by_store=pd.DataFrame()

for ind,row in df_temporary.iterrows():
    location_id=str(row['location_id'])
    P_zips=eval(row['trans_P_zips_70_within_TA'])
    S_zips=eval(row['trans_S_zips_70_within_TA'])
    zip_10=eval(row['zips_in_10'])
    

    df_P=pd.DataFrame(zip([location_id]*len(P_zips),P_zips))
    if len(df_P)>0:
        df_P.columns=['location_id','zip_cd']
        df_P['zip_type']="P"
        
    df_S=pd.DataFrame(zip([location_id]*len(S_zips),S_zips))
    if len(df_S)>0:
        df_S.columns=['location_id','zip_cd']
        df_S['zip_type']="S"
    
    df_10=pd.DataFrame(zip([location_id]*len(zip_10),zip_10))
    if len(df_10)>0:
        df_10.columns=['location_id','zip_cd']
        df_10['zip_type']="zip_10"
    
    df_zip_by_store=df_zip_by_store.append(df_P).append(df_S).append(df_10)
df_zip_by_store['location_id']=df_zip_by_store['location_id'].astype(str)

In [17]:
df_store_list=df_store_list[['location_id','latitude_meas','longitude_meas']]
df_store_zip=pd.merge(df_store_list,df_zip_by_store,on="location_id",how="left")
df_store_zip.head(2)

  location_id  latitude_meas  longitude_meas zip_cd zip_type
0           3       33.42157      -82.018921  30906        P
1           3       33.42157      -82.018921  30901        S

In [18]:
df_store_zip_new=df_store_zip[pd.isnull(df_store_zip['zip_cd'])]
df_store_zip_existing=df_store_zip[pd.notnull(df_store_zip['zip_cd'])]

df_store_zip_new_no_loc=df_store_zip_new[df_store_zip_new['latitude_meas']==0]
df_store_zip_new_with_loc=df_store_zip_new[df_store_zip_new['latitude_meas']!=0]

In [19]:
df_store_zip_new_no_loc

Empty DataFrame
Columns: [location_id, latitude_meas, longitude_meas, zip_cd, zip_type]
Index: []

In [20]:
df_store_zip_new_with_loc=df_store_zip_new_with_loc[['location_id','latitude_meas','longitude_meas']]
df_store_zip_new_no_loc=df_store_zip_new_no_loc[['location_id','latitude_meas','longitude_meas']]

if len(df_store_zip_new_no_loc)>0:
    store_list_later=[x for x in list_store_list if x.split("MediaStormStores")[1][:6]>str_week_end_d]
    store_list_later=sorted(store_list_later,key=lambda x: os.stat(x).st_mtime)


    for file in store_list_later:
        df=pd.read_csv(file,dtype=str,sep="|",usecols=['location_id','latitude_meas','longitude_meas'])
        df=df[['location_id','latitude_meas','longitude_meas']]
        df['latitude_meas']=df['latitude_meas'].astype(float)
        df['longitude_meas']=df['longitude_meas'].astype(float)
        df['location_id']=df['location_id'].astype(str)
        df=df[df['location_id'].isin(df_store_zip_new_no_loc['location_id'].tolist())]
        df=df[df['latitude_meas']!=0]
        df_store_zip_new_with_loc=df_store_zip_new_with_loc.append(df)
        df_store_zip_new_no_loc=df_store_zip_new_no_loc[~df_store_zip_new_no_loc['location_id'].isin(df['location_id'].tolist())]
        if len(df_store_zip_new_no_loc)==0:
            break

    df_store_zip_new=df_store_zip_new_with_loc.reset_index()
    del df_store_zip_new['index']
    if df_store_zip_new_with_loc:
        del df_store_zip_new_with_loc
    if df_store_zip_new_no_loc:
        del df_store_zip_new_no_loc

In [21]:
df_store_zip_new

      location_id  latitude_meas  longitude_meas zip_cd zip_type
7272         1786      34.086376      -84.542847    NaN      NaN
14767        4329      32.278485     -110.980012    NaN      NaN
18775        4583      40.764858     -111.880348    NaN      NaN

In [22]:
zip_centers=json.load(open(path_json_zip_center,"r"))
if len(df_store_zip_new)>0:
    del df_store_zip_new['zip_cd']
    del df_store_zip_new['zip_type']
    
    df_all_new_zip=pd.DataFrame()
    for i,row in df_store_zip_new.iterrows():
        store_coor=(row['latitude_meas'],row['longitude_meas'])
        store_num=row['location_id']
        list_store_zip=[]
        for zip_cd, v in zip_centers.items():
            dist=haversine(store_coor,v,unit="mi")
            if dist<=10:
                list_store_zip.append(zip_cd)
        df=pd.DataFrame({"zip_cd":list_store_zip,"zip_type":["zip_10"]*len(list_store_zip)},index=[store_num]*len(list_store_zip))
        df=df.reset_index().rename(columns={"index":"location_id"})
        df_all_new_zip=df_all_new_zip.append(df)

    df_store_zip_new=pd.merge(df_store_zip_new,df_all_new_zip,on="location_id",how="left")
    
    df_store_zip=df_store_zip_existing.append(df_store_zip_new)
else:
    df_store_zip=df_store_zip_existing

In [23]:
df_zip_type=df_store_zip[['zip_cd','zip_type']].drop_duplicates()
df_zip_type=df_zip_type.sort_values(['zip_cd','zip_type'])
print(df_zip_type['zip_type'].unique().tolist())
df_unique_zip_type=df_zip_type.drop_duplicates("zip_cd")

list_P_zips=df_zip_type[df_zip_type['zip_type']=="P"]['zip_cd'].tolist()
list_S_zips=df_zip_type[df_zip_type['zip_type']=="S"]['zip_cd'].tolist()
list_10_zips=df_zip_type[df_zip_type['zip_type']=="zip_10"]['zip_cd'].tolist()

df_store_list=df_store_zip[['location_id','latitude_meas','longitude_meas']].drop_duplicates().reset_index()
del df_store_list['index']

['P', 'S', 'zip_10']

In [24]:
df_store_list=df_store_zip[['location_id','latitude_meas','longitude_meas']].drop_duplicates().reset_index()
del df_store_list['index']

In [25]:
from multiprocessing import Pool
processors=20

list_all_zips=list(zip_centers.keys())
len_chunck=int(np.ceil(len(list_all_zips)/processors))
list_of_input_all_us_zip_list=[]

for i in range(processors):
    l=list_all_zips[i*len_chunck:(i+1)*len_chunck]
    list_of_input_all_us_zip_list.append(l)

def get_dist_output_df(input_zip_list):
    df_output=pd.DataFrame()
    
    for zip_cd in input_zip_list:
        z_centroid=zip_centers[zip_cd]
        min_dist=np.inf
        nearest_store=None
        
        for i,row in df_store_list.iterrows():
            store=row['location_id']
            store_loc=(row['latitude_meas'], row['longitude_meas'])
            dist=haversine(z_centroid,store_loc,unit="mi")
            if dist<=min_dist:
                min_dist=dist
                nearest_store=store
        df=pd.DataFrame({"nearest_BL_store":nearest_store,"nearest_BL_dist":min_dist},index=[zip_cd])
        df=df.reset_index().rename(columns={"index":"zip_cd"})
        df_output=df_output.append(df)
    return df_output

In [26]:
p = Pool(processors)
result=p.map(get_dist_output_df, list_of_input_all_us_zip_list)
df_zips_with_BL_store=pd.DataFrame()
for res in result:
    if res is not None:
        df_zips_with_BL_store=df_zips_with_BL_store.append(res)
p.close()
p.join()

In [27]:
print(df_zips_with_BL_store.shape,df_zips_with_BL_store['zip_cd'].nunique(),df_zips_with_BL_store['nearest_BL_store'].nunique())
df_zips_with_BL_store['zip_cd']=df_zips_with_BL_store['zip_cd'].astype(str)
df_zips_with_BL_store['zip_cd']=df_zips_with_BL_store['zip_cd'].apply(lambda x: x.zfill(5))

(39647, 3) 39647 1403

# IVs

In [28]:
print(datetime.datetime.now())
df_1=pd.read_sql("select t1.customer_id_hashed, sign_up_channel, sign_up_location, customer_zip_code from BL_Rewards_Master as t1 \
right join %s as t2 on t1.customer_id_hashed=t2.customer_id_hashed;"%t_crm_ids, con=BL_engine)


df_1_len=df_1.shape[0]
df_1_id_nunique=df_1['customer_id_hashed'].nunique()
print("df_1_len",df_1_len)
print("df_1_id_nunique",df_1_id_nunique)
print(datetime.datetime.now())
df_1.head(2)

2020-08-07 11:32:13.555417
df_1_len 1172966
df_1_id_nunique 1172958
2020-08-07 11:41:21.146687

,customer_id_hashed,sign_up_channel,sign_up_location,customer_zip_code
0,0000089103600e124943b7df1c8068baefed3386fcdaf0...,ONLINE,6990.0,None
1,00001eef71930f854218976070d33255b485c7efb1d56e...,STORE,1927.0,87124

In [29]:
df_1['customer_zip_code']=df_1['customer_zip_code'].astype(str)
df_1['customer_zip_code']=df_1['customer_zip_code'].apply(lambda x: x.split("-")[0].split(" ")[0].zfill(5)[:5])
# df_1['sign_up_date']=pd.to_datetime(df_1['sign_up_date'],format="%Y-%m-%d").dt.date
# df_1['weeks_since_sign_up']=df_1['sign_up_date'].apply(lambda x: int(np.ceil((high_date-x).days/7)))
df_1['P_zip']=np.where(df_1['customer_zip_code'].isin(list_P_zips),1,0)
df_1['S_zip']=np.where(df_1['customer_zip_code'].isin(list_S_zips),1,0)
df_1['else_10_zip']=np.where(df_1['customer_zip_code'].isin(list_10_zips),1,0)
# del df_1['customer_zip_code']
df_1['signed_online']=np.where(df_1['sign_up_channel']=="STORE",0,1)
del df_1['sign_up_channel']

df_1['sign_up_location']=df_1['sign_up_location'].fillna("-1")
df_1['sign_up_location']=df_1['sign_up_location'].astype(float)
df_1['sign_up_location']=df_1['sign_up_location'].astype(int).astype(str)

print(datetime.datetime.now())
df_1.head(2)

2020-08-07 11:41:24.165152

,customer_id_hashed,sign_up_location,customer_zip_code,P_zip,S_zip,else_10_zip,signed_online
0,0000089103600e124943b7df1c8068baefed3386fcdaf0...,6990,0None,0,0,0,1
1,00001eef71930f854218976070d33255b485c7efb1d56e...,1927,87124,1,1,0,0

In [30]:
df_copy_sign_up=df_1[['sign_up_location','customer_zip_code']].drop_duplicates()

df_copy_sign_up=df_copy_sign_up.reset_index()
del df_copy_sign_up['index']

In [31]:
# distance to sign up stores
import glob
df_store_all=pd.DataFrame(columns=['location_id','latitude_meas','longitude_meas'])

list_all_stores=glob.glob("/home/jian/BigLots/static_files/Store_list/*.txt")
list_all_stores=[x for x in list_all_stores if "MediaStormStores" in x]
list_all_stores=sorted(list_all_stores,key=lambda x :x.split("MediaStormStores")[1][:8])
list_all_stores=[x for x in list_all_stores if x.split("MediaStormStores")[1][:8]<=str(high_date+datetime.timedelta(days=2)).replace("-","")]
list_all_stores.reverse()

for file in list_all_stores:
    df=pd.read_table(file,dtype=str,sep="|",usecols=['location_id','latitude_meas','longitude_meas'])
    df=df[['location_id','latitude_meas','longitude_meas']]
    df['latitude_meas']=df['latitude_meas'].astype(float)                   
    df['longitude_meas']=df['longitude_meas'].astype(float)   
    df=df[~df['location_id'].isin(['145','6990'])]
    df=df[~df['location_id'].isin(df_store_all['location_id'].tolist())]
    df_store_all=df_store_all.append(df)
df_store_all['store_coor']=df_store_all[['latitude_meas','longitude_meas']].values.tolist()                      
dict_store_all=df_store_all.set_index("location_id").to_dict()['store_coor']

In [32]:
df_copy_sign_up['distc_to_sign_up']=np.nan
for i,row in df_copy_sign_up.iterrows():
    try:
        store_coor=dict_store_all[row['sign_up_location']]
        zip_center=zip_centers[row['customer_zip_code']]
        dist=haversine(store_coor,zip_center,unit="mi")
        df_copy_sign_up.loc[i,"distc_to_sign_up"]=dist
        
    except:
        continue

In [33]:
df_1=pd.merge(df_1,df_copy_sign_up,on=['sign_up_location','customer_zip_code'],how="left")
print(datetime.datetime.now())

2020-08-07 11:43:57.090304

In [34]:
list_unsub=glob.glob(folder_email_unsub+"*.csv")
df_unsub_files=pd.DataFrame({"file_path":list_unsub})
df_unsub_files['date']=df_unsub_files['file_path'].apply(lambda x: x.split("ile_Refresh__")[1][:8])
df_unsub_files['date']=pd.to_datetime(df_unsub_files['date']).dt.date
df_unsub_files['day_diff']=abs(df_unsub_files['date']-high_date)
path_unsub=df_unsub_files[df_unsub_files['day_diff']==df_unsub_files['day_diff'].min()]['file_path'].values.tolist()[0]
###### 
list_unsunsribe_ids=pd.read_csv(path_unsub,
                         dtype=str,usecols=['customersummary_c_primaryscnhash'])['customersummary_c_primaryscnhash'].unique().tolist()

print(len(list_unsunsribe_ids))
df_1['email_unsub_2020Feb']=np.where(df_1['customer_id_hashed'].isin(list_unsunsribe_ids),1,0)
del list_unsunsribe_ids

6241656

In [35]:
df_zips_with_BL_store=df_zips_with_BL_store.rename(columns={"zip_cd":"customer_zip_code"})
df_1=pd.merge(df_1,df_zips_with_BL_store,on="customer_zip_code",how="left")

In [36]:
df_zips_with_BL_store.head(2)

  customer_zip_code nearest_BL_store  nearest_BL_dist
0             11542             1789         7.033755
0             11547             1789         1.454990

In [37]:
print(df_1.shape,df_1['customer_id_hashed'].nunique())

(1172966, 11) 1172958

In [38]:
df_1=df_1.reset_index()
del df_1['index']
df_1=df_1.reset_index()
del df_1['index']
df_1=df_1.reset_index()

# DVs

In [39]:
dv_start_date=high_date+datetime.timedelta(days=1)
dv_end_date=high_date+datetime.timedelta(days=28)

str_sql_dv_start_date="'"+str(dv_start_date)+"'"
str_sql_dv_end_date="'"+str(dv_end_date)+"'"
print(str_sql_dv_start_date,str_sql_dv_end_date)

'2020-05-24' '2020-06-20'

In [40]:
print(datetime.datetime.now())
df_dvs=pd.read_sql("select customer_id_hashed, transaction_dt from Pred_POS_Department \
where transaction_dt between %s and %s and sales >0"%(str_sql_dv_start_date,str_sql_dv_end_date),con=BL_engine).drop_duplicates()
print(datetime.datetime.now())

2020-08-07 11:44:19.736014
2020-08-07 11:53:29.481420

In [41]:
def week_end_dt(date_input):
    weekday_int=date_input.weekday()
    if weekday_int==6:
        return date_input+datetime.timedelta(days=6)
    else:
        return date_input+datetime.timedelta(days=5-weekday_int)

In [42]:
df_dvs['week_end_dt']=df_dvs['transaction_dt'].apply(week_end_dt)
df_dvs=df_dvs[['customer_id_hashed','week_end_dt']].drop_duplicates()

In [43]:
list_unique_weeks=df_dvs['week_end_dt'].unique().tolist()
list_unique_weeks.sort()
df_dv_binary=df_dvs[df_dvs['week_end_dt']==list_unique_weeks[0]][['customer_id_hashed']]
df_dv_binary['DV_cumulative_week_updated_1']=1
for i in range(1,4):
    w=list_unique_weeks[i]
    df=df_dvs[df_dvs['week_end_dt']<=w][['customer_id_hashed']].drop_duplicates()
    df['DV_cumulative_week_updated_%d'%(i+1)]=1
    df_dv_binary=pd.merge(df_dv_binary,df,on="customer_id_hashed",how="outer")
    print(w,datetime.datetime.now())
df_dv_binary=df_dv_binary.fillna(0)
df_dv_binary.head(2)

2020-06-06 2020-08-07 11:53:59.405235
2020-06-13 2020-08-07 11:54:16.288050
2020-06-20 2020-08-07 11:54:36.006655

,customer_id_hashed,DV_cumulative_week_updated_1,DV_cumulative_week_updated_2,DV_cumulative_week_updated_3,DV_cumulative_week_updated_4
0,000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...,1.0,1.0,1.0,1
1,0000358fbc9f7162c1acbfc88f1211ebec1245400631f1...,1.0,1.0,1.0,1

In [44]:
df_1=pd.merge(df_dv_binary,df_1,on="customer_id_hashed",how="right")

for i in range(4):
    df_1['DV_cumulative_week_updated_%d'%(i+1)]=df_1['DV_cumulative_week_updated_%d'%(i+1)].fillna(0)
    
print(df_1.shape,df_1['customer_id_hashed'].nunique())
df_1.head(4)

(1172966, 16) 1172958

,customer_id_hashed,DV_cumulative_week_updated_1,DV_cumulative_week_updated_2,DV_cumulative_week_updated_3,DV_cumulative_week_updated_4,index,sign_up_location,customer_zip_code,P_zip,S_zip,else_10_zip,signed_online,distc_to_sign_up,email_unsub_2020Feb,nearest_BL_store,nearest_BL_dist
0,000372a1070e1373197231102a69fab9a8d2bf6cf6dfdb...,1.0,1.0,1.0,1.0,59,257,47421,1,1,0,0,1.408254,1,257,1.408254
1,000d1836c039b39db82d7a526f95db5a592478a9144658...,1.0,1.0,1.0,1.0,236,0,92376,1,1,0,1,NaN,0,4274,0.625677
2,001115b5ab2638de783893a633cf3a58e4ee636f3b7727...,1.0,1.0,1.0,1.0,309,1775,08204,1,0,0,0,0.211743,0,1775,0.211743
3,002659929bebe1dead00862170de9e170cbef05e2ab53c...,1.0,1.0,1.0,1.0,659,4507,85015,1,1,0,0,1.248460,0,4507,1.248460

In [45]:
table_crm_id_list_train="crm_table_id_list_train_%s"%str_week_end_d
table_crm_id_list_test="crm_table_id_list_test_%s"%str_week_end_d
tabl_1="table_pred_1_crm_from_up_to_%s"%str_week_end_d

tablename_df_1

'table_pred_1_crm_from_up_to_20200523'

In [46]:
import random

In [47]:
10**6

1000000

In [48]:
import random

len_df_1=len(df_1)
train_sample_size=10**6
test_ratio=0.25
if len_df_1>train_sample_size/(1-test_ratio):
    list_ind_train=random.sample(range(len_df_1), train_sample_size)
else:
    list_ind_train=random.sample(range(len_df_1), int(len_df_1*(1-test_ratio)))

In [49]:
df_1_train=df_1[['customer_id_hashed']][df_1['index'].isin(list_ind_train)]
df_1_test=df_1[['customer_id_hashed']][~df_1['index'].isin(list_ind_train)]

print("df_1_train.shape",df_1_train.shape)
print("df_1_test.shape",df_1_test.shape)

df_1_train.shape (879724, 1)
df_1_test.shape (293242, 1)

In [50]:
print(datetime.datetime.now())

2020-08-07 12:05:09.704764

In [53]:
df_1_test.head(2)

                                  customer_id_hashed
0  000372a1070e1373197231102a69fab9a8d2bf6cf6dfdb...
1  000d1836c039b39db82d7a526f95db5a592478a9144658...

In [55]:
df_1.columns.tolist()

['customer_id_hashed',
 'DV_cumulative_week_updated_1',
 'DV_cumulative_week_updated_2',
 'DV_cumulative_week_updated_3',
 'DV_cumulative_week_updated_4',
 'index',
 'sign_up_location',
 'customer_zip_code',
 'P_zip',
 'S_zip',
 'else_10_zip',
 'signed_online',
 'distc_to_sign_up',
 'email_unsub_2020Feb',
 'nearest_BL_store',
 'nearest_BL_dist']

In [56]:
for col in df_1.columns.tolist():
    print(col,df_1[col].apply(type).unique())

customer_id_hashed [<class 'str'>]
DV_cumulative_week_updated_1 [<class 'float'>]
DV_cumulative_week_updated_2 [<class 'float'>]
DV_cumulative_week_updated_3 [<class 'float'>]
DV_cumulative_week_updated_4 [<class 'float'>]
index [<class 'int'>]
sign_up_location [<class 'str'>]
customer_zip_code [<class 'str'>]
P_zip [<class 'int'>]
S_zip [<class 'int'>]
else_10_zip [<class 'int'>]
signed_online [<class 'int'>]
distc_to_sign_up [<class 'float'>]
email_unsub_2020Feb [<class 'int'>]
nearest_BL_store [<class 'str'> <class 'float'>]
nearest_BL_dist [<class 'float'>]