In [1]:
import pandas as pd
input_file_path="/home/jian/Projects/Big_Lots/Predictive_Model/Tables_for_modeling/POS_from_mysql/table_2020-07-05/df_data_up_to_2020-01-18_With_DCM_JL_2020-07-05.csv"

df=pd.read_csv(input_file_path,nrows=100)

In [5]:
df[[x for x in df.columns.tolist() if x.strip()[:4].lower()=="week"]]

,weeks_since_sign_up,week_diff,week_1st_trans,week_recent_one_trans,week_counts_to_now_recent_one,week_recent_two_trans,week_counts_to_now_recent_two,week_recent_three_trans,week_counts_to_now_recent_three,week_recent_four_trans,week_counts_to_now_recent_four,week_recent_five_trans,week_counts_to_now_recent_five
0,69,49,2018-09-22,2019-11-10,-10,2019-10-12,-6.0,2019-10-11,-5.0,2018-12-21,37.0,2018-10-27,44.0
1,61,40,2018-11-20,2019-05-03,18,2019-02-27,27.0,2018-11-26,40.0,2018-11-23,41.0,2018-11-22,41.0
2,58,38,2018-12-08,2019-02-16,28,2018-12-12,38.0,2018-12-08,38.0,NaN,NaN,NaN,NaN
3,96,75,2018-03-23,2018-10-19,46,2018-03-23,76.0,2018-03-23,76.0,NaN,NaN,NaN,NaN
4,80,60,2018-07-07,2019-11-23,-12,2018-07-07,60.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,84,63,2018-06-13,2019-12-16,-15,2019-08-17,2.0,2018-11-20,41.0,2018-09-12,51.0,2018-06-13,64.0
96,26,5,2019-07-22,2019-07-25,6,2019-07-22,6.0,NaN,NaN,NaN,NaN,NaN,NaN
97,49,28,2019-02-15,2019-02-15,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,89,68,2018-05-09,2018-05-09,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,80,60,2018-07-07,2018-07-07,60,2018-07-07,60.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
import datetime
datetime.date(2018,3,31)+datetime.timedelta(days=7*94)

datetime.date(2020, 1, 18)