In [1]:
import pandas as pd

In [2]:
loyalty_sales_df=pd.read_csv("/home/jian/Projects/Big_Lots/Loyal_members/sales_of_loyalty_member/2018-06-20/sales_by_location_id_agg_2018-06-20.csv",dtype=str)
loyalty_sales_df['customer_zip_code']=loyalty_sales_df['customer_zip_code'].apply(lambda x: x.zfill(5))
loyalty_sales_df['non_loyalty_sales_zip']=loyalty_sales_df['non_loyalty_sales_zip'].astype(float)
loyalty_sales_df['loyal_sales_zip']=loyalty_sales_df['loyal_sales_zip'].astype(float)
loyalty_sales_df['total_sales_zip']=loyalty_sales_df['loyal_sales_zip']+loyalty_sales_df['non_loyalty_sales_zip']
loyalty_sales_df['loyal_sales_pctg']=loyalty_sales_df['loyal_sales_pctg'].astype(float)





non_loyalty_sales_by_zip=loyalty_sales_df.groupby(['customer_zip_code'])['non_loyalty_sales_zip','loyal_sales_zip','total_sales_zip'].sum().reset_index()
non_loyalty_sales_by_zip=non_loyalty_sales_by_zip.rename(columns={"customer_zip_code":"zip_cd",'non_loyalty_sales_zip':'non_loyalty_sales_46',
                                                                 'loyal_sales_zip':'loyal_sales_46','total_sales_zip':'total_sales_46'})
non_loyalty_sales_by_zip['Loyalty_Ratio']=non_loyalty_sales_by_zip['loyal_sales_46']/non_loyalty_sales_by_zip['total_sales_46']
#Exclude zips which loyalty sales >0.65 and <0 and all sales <0
non_loyalty_sales_by_zip_exclude=non_loyalty_sales_by_zip[(non_loyalty_sales_by_zip['non_loyalty_sales_46']<0) |\
                                                         (non_loyalty_sales_by_zip['loyal_sales_46']<0) |\
                                                         (non_loyalty_sales_by_zip['total_sales_46']<0) |\
                                                         (non_loyalty_sales_by_zip['Loyalty_Ratio']<0) |\
                                                         (non_loyalty_sales_by_zip['Loyalty_Ratio']>0.65)]
non_loyalty_sales_by_zip_include=non_loyalty_sales_by_zip[(non_loyalty_sales_by_zip['non_loyalty_sales_46']>=0) &\
                                                         (non_loyalty_sales_by_zip['loyal_sales_46']>=0) &\
                                                         (non_loyalty_sales_by_zip['total_sales_46']>=0) &\
                                                         (non_loyalty_sales_by_zip['Loyalty_Ratio']>=0) &\
                                                         (non_loyalty_sales_by_zip['Loyalty_Ratio']<=0.65)]

In [3]:
non_loyalty_sales_by_zip_include['non_loyalty_sales_by_zip_include']

  zip_cd  non_loyalty_sales_46  loyal_sales_46  total_sales_46  Loyalty_Ratio
0  00000          7.106392e+07     60325476.35    1.313894e+08       0.459135
1  00001          4.585397e+02          513.33    9.718697e+02       0.528188

In [5]:
len(non_loyalty_sales_by_zip_include['zip_cd'].unique())

54010

In [8]:
non_loyalty_sales_by_zip_include[non_loyalty_sales_by_zip_include['zip_cd']=="54914"]

,zip_cd,non_loyalty_sales_46,loyal_sales_46,total_sales_46,Loyalty_Ratio
31733,54914,330857.98593,263780.67,594638.65593,0.443598