In [2]:
import pandas as pd
import glob
import datetime
import numpy

In [3]:
# Extrac the cost PM from the RecbyStore
RecbyStore_folder="/home/jian/Projects/Big_Lots/Newspaper/RecbyStore/"
file_list=glob.glob(RecbyStore_folder+"*")

cost_df=pd.DataFrame()
check_cost_df=pd.DataFrame()

file_list[0]

'/home/jian/Projects/Big_Lots/Newspaper/RecbyStore/April 9 2017 RecByStore 4 STD for BL REPORTS.xlsx'

75

In [38]:
i=0
sum_cost=0

cost_df=pd.DataFrame()
check_cost_df=pd.DataFrame()

for file in file_list:
    df=pd.read_excel(file,sheetname=None,dtype=str)
    date_name=file.split("/")[len(file.split("/"))-1].split(" ")[0]+" "+file.split("/")[len(file.split("/"))-1].split(" ")[1]+" "+\
    file.split("/")[len(file.split("/"))-1].split(" ")[2]
    if len(date_name.split(" ")[0])==3:
        date_name=datetime.datetime.strptime(date_name,"%b %d %Y").date()
    else:
        date_name=datetime.datetime.strptime(date_name,"%B %d %Y").date()
    
    # print(str(date_name),df.keys())
    
    try:
        df=df[list(df.keys())[0]]
        df=df[~pd.isnull(df['DMA'])]
        df=df[~pd.isnull(df['PRODUCT ID'])]
        df=df[df['DMA']!='nan']
        df=df[df['PRODUCT ID']!='nan']
        df=df[['PRODUCT ID','STORE','CONFIRM MEDIA CPM','PRINT CPM']].drop_duplicates()
        df['Date']=date_name
    except:
        print(str(date_name))
    cost_df=cost_df.append(df)
    
    
    check_cost_df_app=pd.read_excel(file,sheetname=None,dtype=str)
    check_cost_df_app=check_cost_df_app[list(check_cost_df_app.keys())[0]]
    check_cost_df_app=check_cost_df_app[~pd.isnull(check_cost_df_app['DMA'])]
    check_cost_df_app=check_cost_df_app[~pd.isnull(check_cost_df_app['PRODUCT ID'])]
    check_cost_df_app=check_cost_df_app[check_cost_df_app['DMA']!='nan']
    check_cost_df_app=check_cost_df_app[check_cost_df_app['PRODUCT ID']!='nan']
    check_cost_df_app=check_cost_df_app[['PRODUCT ID','STORE','MEDIA COST','PRINT COST']]
    check_cost_df_app['MEDIA COST']=check_cost_df_app['MEDIA COST'].astype(float)
    check_cost_df_app['PRINT COST']=check_cost_df_app['PRINT COST'].astype(float)
    check_cost_df_app['cost']=check_cost_df_app['PRINT COST']+check_cost_df_app['MEDIA COST']
    
    
    check_cost_df_app['Date']=date_name
    check_cost_df=check_cost_df.append(check_cost_df_app)
    if (date_name>datetime.date(2017,5,10)) & (date_name<datetime.date(2018,5,10)):
        print(check_cost_df_app['cost'].sum()/1000000,date_name)
        sum_cost=sum_cost+check_cost_df_app['cost'].sum()
'''    
cost_df=cost_df.rename(columns={"PRODUCT ID":"productid",'STORE':'storeid',"CONFIRM MEDIA CPM":"media_cpm","PRINT CPM":"print_cpm"})
cost_df['media_cpm']=cost_df['media_cpm'].astype(float)
cost_df['print_cpm']=cost_df['print_cpm'].astype(float)
cost_df['productid']=cost_df['productid'].astype(str)
cost_df['storeid']=cost_df['storeid'].astype(str)
cost_df.shape

check_cost_df['MEDIA COST']=check_cost_df['MEDIA COST'].astype(float)
check_cost_df['PRINT COST']=check_cost_df['PRINT COST'].astype(float)
check_cost_df['cost']=check_cost_df['MEDIA COST']+check_cost_df['PRINT COST']
'''

0.73665465936 2017-08-27
1.00902238737 2017-12-03
1.00898639447 2017-12-10
0.84159800499 2017-12-17
0.704643113185 2018-01-07
0.663895562469 2017-07-16
0.791536985518 2017-07-30
0.80281680206 2017-06-11
0.84417082393 2017-06-25
0.760666466256 2017-05-21
0.84950308754 2017-05-28
0.81785757697 2017-11-05
0.80847657756 2017-11-12
1.83587826312 2017-11-19
1.99590809395 2017-11-23
1.15697498728 2017-11-26
0.80776257241 2017-10-08
0.8002405542 2017-10-22
0.82384388691 2017-09-03
0.65939704819 2017-09-24
0.766031779043 2018-04-08
0.76383725021 2018-04-15
0.76952988976 2018-04-22
0.7691771554 2018-04-29
0.74382372368 2018-02-11
0.99008561438 2018-02-18
0.78165733915 2018-02-25
0.64492931269 2018-03-04
0.77157134559 2018-03-18
0.77347288046 2018-03-25
0.80368383445 2017-10-29

'    \ncost_df=cost_df.rename(columns={"PRODUCT ID":"productid",\'STORE\':\'storeid\',"CONFIRM MEDIA CPM":"media_cpm","PRINT CPM":"print_cpm"})\ncost_df[\'media_cpm\']=cost_df[\'media_cpm\'].astype(float)\ncost_df[\'print_cpm\']=cost_df[\'print_cpm\'].astype(float)\ncost_df[\'productid\']=cost_df[\'productid\'].astype(str)\ncost_df[\'storeid\']=cost_df[\'storeid\'].astype(str)\ncost_df.shape\n\ncheck_cost_df[\'MEDIA COST\']=check_cost_df[\'MEDIA COST\'].astype(float)\ncheck_cost_df[\'PRINT COST\']=check_cost_df[\'PRINT COST\'].astype(float)\ncheck_cost_df[\'cost\']=check_cost_df[\'MEDIA COST\']+check_cost_df[\'PRINT COST\']\n'

In [39]:
sum_cost

27297633.972551096

In [8]:
check_cost_df.head(2)

  PRODUCT ID STORE  MEDIA COST  PRINT COST        Date       cost
0        572  4598   456.56124   181.45680  2017-04-09  638.01804
1        783    29   365.25650   144.10077  2017-04-09  509.35727

In [40]:
check_cost_df_ours_period=check_cost_df[(check_cost_df['Date']>=datetime.date(2017,5,10))& (check_cost_df['Date']<=datetime.date(2018,5,10))]
check_cost_df_ours_period['cost'].sum()

27297633.972551096

In [41]:
len(check_cost_df_ours_period['Date'].unique())

31

In [13]:
check_cost_df['Date'].apply(lambda x:type(x)).unique()

array([<class 'datetime.date'>], dtype=object)

In [17]:
check_cost_df_ours_period['Date'].min()

datetime.date(2017, 5, 21)

In [30]:
len(check_cost_df_ours_period['Date'].unique())

31

In [31]:
date_name

datetime.date(2017, 10, 29)