In [2]:
import pandas as pd
import googlemaps
from haversine import haversine
import json
import numpy as np
import datetime

zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/center_of_rentrak_zip.json","r"))

In [3]:
# Googled address 33.192385,-117.3630677
store="4676"
store_zip="92054"
store_center=(33.192385,-117.3630677)

In [4]:
i=0
output=pd.DataFrame()
for zip_cd in zip_centers.keys():
    dist=haversine(store_center,zip_centers[zip_cd],miles=True)
    if dist<=10:
        df=pd.DataFrame({"location_id":store,"store_zip":store_zip,"zip_cd":zip_cd,"Distance_Mile":dist},index=[i])
        i+=1
        output=output.append(df)

In [6]:
output=output[['location_id','store_zip','zip_cd','Distance_Mile']]

In [7]:
writer=pd.ExcelWriter("/home/jian/Projects/Big_Lots/New_TA/Store_Level_Zip_Selection/store_4676_10_miles_zips.xlsx",engine="xlsxwriter")
output.to_excel(writer,"zips_in_10_miels_4676",index=False)
writer.save()

In [8]:
output

   location_id store_zip zip_cd  Distance_Mile
0         4676     92054  92054       0.354695
1         4676     92054  92008       3.416156
2         4676     92054  92009       9.502922
3         4676     92054  92084       8.273758
4         4676     92054  92081       7.345805
5         4676     92054  92085       7.614556
6         4676     92054  92083       6.621464
7         4676     92054  92011       6.902525
8         4676     92054  92010       4.398186
9         4676     92054  92013       7.930476
10        4676     92054  92018       2.149791
11        4676     92054  92058       2.550575
12        4676     92054  92057       4.914153
13        4676     92054  92056       4.483126
14        4676     92054  92049       0.936665