In [1]:
import pandas as pd
import os
import datetime
import numpy as np
import gc
import glob
gc.collect()

datetime.datetime.now()

print(datetime.datetime.now())
os.getcwd()

2019-12-03 15:08:21.386175

'/home/jian/Projects/Big_Lots/Analysis/2019_Q3/Slice_ids_FB_Rewards_offers/ID_level_report_of_redeemers'

In [2]:
df_redeemers=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q3/Slice_ids_FB_Rewards_offers/ID_level_report_of_redeemers/hash_full_file_redeemers_1201.zip",
                        dtype=str,sep="|",compression="zip")
print(df_redeemers.shape,df_redeemers['hashed_customer_num'].nunique(),df_redeemers['hashed_email_address'].nunique())
df_redeemers.head(2)

(262870, 2) 262870 262821

,hashed_customer_num,hashed_email_address
0,41448b7946e03d434fb9efe139eff9d64d0a97b58ca15b...,2b575b29eb1a236c2e43ea4b8d07c09391773e401535e9...
1,dad71dc369858e4d71755b3b88701a3dea4de62eef8ac7...,28bb15e7436c23796ebf07a42e3787bfabf1ed8ad9eb3a...

In [3]:
df_FB_id_email_all=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q3/Slice_ids_FB_Rewards_offers/BL_all_ids_shopped_in_18_or_signed_in_12_with_emails_JL_2019-10-17.csv",dtype=str)
df_FB_id_email_all.shape

(21505499, 2)

In [4]:
print(df_FB_id_email_all['email_address_hash'].nunique())

21503336

In [5]:
df_test=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q3/Slice_ids_FB_Rewards_offers/BL_FB_5_offer_test_emails_JL_2019-10-17.csv",dtype=str)
df_control=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q3/Slice_ids_FB_Rewards_offers/BL_FB_5_offer_control_emails_JL_2019-10-17.csv",dtype=str)

df_test['Group']="test"
df_control['Group']="control"

df_email_group=df_test.append(df_control)
del df_test
del df_control
print(df_email_group.shape)

df_email_group.head(2)

(21503357, 2)

                                               Email Group
0  089bc373eda16a771e023d87ee368fb961c4ff9b36c7d6...  test
1  065edf59d0ed26bea352be5f44fd7a6f688a0fa28cddb3...  test

In [6]:
df_qc_duplicate=df_email_group.groupby("Email")['Group'].count().to_frame().sort_values("Group",ascending=False)

# 2 the max

In [7]:
df_qc_duplicate[df_qc_duplicate['Group']==2].shape

(21, 1)

In [8]:
df_qc_duplicate=df_qc_duplicate.reset_index()
Emails_list_21_in_both=df_qc_duplicate[df_qc_duplicate['Group']==2]['Email'].tolist()
df_email_group[df_email_group['Email'].isin(Emails_list_21_in_both)].sort_values(["Email","Group"])

                                                      Email    Group
95446     1152cb7e6f7bba4aea1a4a9543cefeb4e5f5fccd92a0c5...  control
2118993   1152cb7e6f7bba4aea1a4a9543cefeb4e5f5fccd92a0c5...     test
15843     12d0aded1a1810dd08e60ea3bb1d0b0d46b1a2c224a1e0...  control
14076876  12d0aded1a1810dd08e60ea3bb1d0b0d46b1a2c224a1e0...     test
30196     2b5aadd1188c83cfcd23d14e2578a1af92e41a7198ca1f...  control
19978211  2b5aadd1188c83cfcd23d14e2578a1af92e41a7198ca1f...     test
25126     33c21258cdfeaae52ea857b0af6a72975fb4963ee9f065...  control
20562300  33c21258cdfeaae52ea857b0af6a72975fb4963ee9f065...     test
85183     3f0373fa1412044927d83a5bd105abc584ee8a423607fc...  control
20870886  3f0373fa1412044927d83a5bd105abc584ee8a423607fc...     test
11507     4402ca627f1869163ece462532bd44f974f80c51d0c8dd...  control
11466462  4402ca627f1869163ece462532bd44f974f80c51d0c8dd...     test
10023     50d794aa359942f1706d37cac1215dc624b13abc45b975...  control
20925122  50d794aa359942f1706d37cac1215dc624b13abc45b975...     test
41303     7d0abaaa0ab532f58f8cd5d47394893ed73a22eb185d22...  control
4435661   7d0abaaa0ab532f58f8cd5d47394893ed73a22eb185d22...     test
889       867b3c78faf6860cb386795b358b80e2e9dc66fa587e71...  control
15194080  867b3c78faf6860cb386795b358b80e2e9dc66fa587e71...     test
16847     952f8098b11238ad2bf39b96a3b80d93f9515973835161...  control
8203810   952f8098b11238ad2bf39b96a3b80d93f9515973835161...     test
12861     9881444aff61ae7f80aa64e102ac1b605eb00b0721f620...  control
15010312  9881444aff61ae7f80aa64e102ac1b605eb00b0721f620...     test
28958     9a19a44e2c73da182a83c72f1b257ee63a52fa4bb4b4d4...  control
18469496  9a19a44e2c73da182a83c72f1b257ee63a52fa4bb4b4d4...     test
80143     9e9ee7a65738b02c17563dd34dd680587d0410b0e213e2...  control
3516350   9e9ee7a65738b02c17563dd34dd680587d0410b0e213e2...     test
21759     9ffa5c0e186cb71cf52a131c2b84d028deda2fc954cffa...  control
18657548  9ffa5c0e186cb71cf52a131c2b84d028deda2fc954cffa...     test
16606     cc227cd9db26773714bf6f2144719abdb647f90fbce775...  control
20885930  cc227cd9db26773714bf6f2144719abdb647f90fbce775...     test
79913     d692be9449bb6940fa114d77e5942fae261e176def3026...  control
4438880   d692be9449bb6940fa114d77e5942fae261e176def3026...     test
22182     e7956b4f1167ae6626c02266db8e7da931c94ad94b0bf2...  control
17059013  e7956b4f1167ae6626c02266db8e7da931c94ad94b0bf2...     test
16765     eb5cc7896ca68745d57a466889c60198307e4a87641e4b...  control
5426532   eb5cc7896ca68745d57a466889c60198307e4a87641e4b...     test
77489     f1d05452c81554316589ec3740564d13921712c6216932...  control
757133    f1d05452c81554316589ec3740564d13921712c6216932...     test
18594     fb205f9e3a19ff047cbf571f767ce79d2c24acd8d751d8...  control
9676211   fb205f9e3a19ff047cbf571f767ce79d2c24acd8d751d8...     test
30594     fcbdcaa8fe139cb943ddbf56184dde05d63597230e1c97...  control
16056437  fcbdcaa8fe139cb943ddbf56184dde05d63597230e1c97...     test

In [9]:
# The 21 emails are excluded from both test and control

del df_qc_duplicate
df_email_group=df_email_group[~df_email_group['Email'].isin(Emails_list_21_in_both)]
df_email_group=df_email_group.rename(columns={"Email":"email_address_hash"})

print(datetime.datetime.now(),df_FB_id_email_all.shape)
df_FB_id_email_all=pd.merge(df_FB_id_email_all,df_email_group,on="email_address_hash",how="left")
print(datetime.datetime.now(),df_FB_id_email_all.shape)

2019-12-03 15:12:44.104198 (21505499, 2)
2019-12-03 15:13:49.773511 (21505499, 3)

In [10]:
print(df_FB_id_email_all.shape,df_FB_id_email_all['customer_id_hashed'].nunique())

(21505499, 3) 21505499

In [11]:
list_redeamer_id=df_redeemers['hashed_customer_num'].tolist()
list_redeamer_email=df_redeemers['hashed_email_address'].tolist()
df_FB_id_email_all['redemption']=np.where((df_FB_id_email_all['customer_id_hashed'].isin(list_redeamer_id) | df_FB_id_email_all['email_address_hash'].isin(list_redeamer_id)),"redeemers","others" )

In [12]:
df_FB_id_email_all.shape

(21505499, 4)

In [13]:
df_redeemers_others=df_redeemers[~df_redeemers['hashed_customer_num'].isin(df_FB_id_email_all['customer_id_hashed'].tolist())]
df_redeemers_others=df_redeemers_others[~df_redeemers_others['hashed_email_address'].isin(df_FB_id_email_all['email_address_hash'].tolist())]
df_redeemers_others['Group']="Others_not_uploaded"
df_redeemers_others['redemption']="redeemers"

df_redeemers_others=df_redeemers_others.rename(columns={"hashed_customer_num":"customer_id_hashed","hashed_email_address":"email_address_hash"})
df_FB_id_email_all=df_FB_id_email_all.append(df_redeemers_others)

In [14]:
df_FB_id_email_all.shape

(21527083, 4)

In [15]:
df_FB_id_email_all.head(2)

,customer_id_hashed,email_address_hash,Group,redemption
0,9b7f9a1ba51dbae2a393c273ce8c9aa9bf610dc03410fd...,089bc373eda16a771e023d87ee368fb961c4ff9b36c7d6...,test,others
1,c2c5bd862113c4e77c918dd22a25744f2e1224ea63b166...,065edf59d0ed26bea352be5f44fd7a6f688a0fa28cddb3...,test,others

In [16]:
# del df_FB_id_email_all['hashed_customer_num']
# del df_FB_id_email_all['hashed_email_address']
gc.collect()

print(df_FB_id_email_all.shape,df_FB_id_email_all['customer_id_hashed'].nunique(),df_FB_id_email_all['email_address_hash'].nunique())

(21527083, 4) 21527083 21524913

In [20]:
df_FB_id_email_all=df_FB_id_email_all.drop_duplicates()
df_FB_id_email_all.shape

(21527083, 4)

In [21]:
df_test=df_FB_id_email_all[df_FB_id_email_all['redemption']=="redeemers"]
df_test.shape

(262852, 4)

In [22]:
# Sales

# POS data range
file_week_1="/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-10-26/MediaStormDailySales20191029-111155-920.txt"
file_week_2="/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-02/MediaStormDailySales20191105-111212-139.txt"
file_week_3="/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-11-09/MediaStormDailySales20191112-115210-002.txt"

POS_file_list=[file_week_1,file_week_2,file_week_3]

df_POS_all=pd.DataFrame()

for file in POS_file_list:
    df=pd.read_table(file,dtype=str,sep="|")
    df=df[pd.notnull(df['customer_id_hashed'])]
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    df['sales_instore']=np.where(df['location_id']!="6990",df['item_transaction_amt'],0)
    df['sales_online']=np.where(df['location_id']=="6990",df['item_transaction_amt'],0)
    
    df_trans=df[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
    df_trans['trans_instore']=np.where(df_trans['location_id']!="6990",1,0)
    df_trans['trans_online']=np.where(df_trans['location_id']=="6990",1,0)
    
    df_trans=df_trans.groupby(["customer_id_hashed","transaction_dt"])['trans_instore','trans_online'].sum().reset_index()
    
    df_sales=df.groupby(["customer_id_hashed","transaction_dt"])['sales_instore','sales_online'].sum().reset_index()
    
    df=pd.merge(df_sales,df_trans,on=["customer_id_hashed","transaction_dt"],how="outer")
    df_POS_all=df_POS_all.append(df)
    print(datetime.datetime.now(),df_POS_all.shape)
    
df_POS_all.shape
# earlier version doesn't devide the online vs instore

2019-12-03 15:18:37.024166 (1409778, 6)
2019-12-03 15:19:48.940125 (2907343, 6)
2019-12-03 15:21:01.076359 (4388465, 6)

(4388465, 6)

In [23]:
P1_range=["2019-10-21","2019-11-02"]
P2_range=["2019-11-03","2019-11-07"]

In [24]:
print(df_POS_all['transaction_dt'].min(),df_POS_all['transaction_dt'].max())

2019-10-20 2019-11-09

In [26]:
print(df_FB_id_email_all.shape)
df_FB_id_email_all.head(2)

(21527083, 4)

,customer_id_hashed,email_address_hash,Group,redemption
0,9b7f9a1ba51dbae2a393c273ce8c9aa9bf610dc03410fd...,089bc373eda16a771e023d87ee368fb961c4ff9b36c7d6...,test,others
1,c2c5bd862113c4e77c918dd22a25744f2e1224ea63b166...,065edf59d0ed26bea352be5f44fd7a6f688a0fa28cddb3...,test,others

In [28]:
df_FB_id_email_all.shape, df_FB_id_email_all['customer_id_hashed'].nunique()

((21527083, 4), 21527083)

In [29]:
# left merge into the POS
df_POS_all=pd.merge(df_POS_all,df_FB_id_email_all,on="customer_id_hashed",how="left")
print(df_POS_all.shape)
df_POS_all.head(2)

(4388465, 9)

,customer_id_hashed,transaction_dt,sales_instore,sales_online,trans_instore,trans_online,email_address_hash,Group,redemption
0,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-20,13.9,0.0,2,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test,redeemers
1,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-24,0.0,0.0,1,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test,redeemers

In [30]:
df_POS_all['Period']=np.where(((df_POS_all['transaction_dt']>=P1_range[0]) & (df_POS_all['transaction_dt']<=P1_range[1])),"P1: 10/21-11/2",
                              np.where(((df_POS_all['transaction_dt']>=P2_range[0]) & (df_POS_all['transaction_dt']<=P2_range[1])),"P2: 11/3-11/7","Others")
                             )

In [31]:
df_POS_all.to_csv("./BL_df_detail_3_weeks_POS_instore_and_online_with_redeemers_JL_"+str(datetime.datetime.now().date())+".csv",index="False")

In [32]:
agg_func={"email_address_hash":"nunique","sales_instore":"sum","sales_online":"sum","trans_instore":"sum","trans_online":"sum"}
df_summary=df_POS_all.groupby(["Group","Period","redemption"]).agg(agg_func).reset_index()
df_summary.shape

(15, 8)

In [33]:
df_total_id=df_FB_id_email_all.groupby(["Group","redemption"])['email_address_hash'].nunique().to_frame().reset_index()
df_total_id

                 Group redemption  email_address_hash
0  Others_not_uploaded  redeemers               21577
1              control     others               98897
2              control  redeemers                1082
3                 test     others            21163300
4                 test  redeemers              240181

In [35]:
df_unique_shoppers_both_periods=df_POS_all[df_POS_all['Period']!="Others"]
df_unique_shoppers_both_periods=df_unique_shoppers_both_periods.groupby(["Group","redemption"])['email_address_hash'].nunique().to_frame().reset_index()
df_unique_shoppers_both_periods.shape

(5, 3)

In [36]:
writer=pd.ExcelWriter("./BL_output_FB_offer_result_by_store_type_redemption_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_summary.to_excel(writer,"performance",index=False)
df_total_id.to_excel(writer,"total_id",index=False)
df_unique_shoppers_both_periods.to_excel(writer,"total_shoppers_both_P",index=False)
writer.save()

In [37]:
# QC

df_POS_all.head(2)

,customer_id_hashed,transaction_dt,sales_instore,sales_online,trans_instore,trans_online,email_address_hash,Group,redemption,Period
0,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-20,13.9,0.0,2,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test,redeemers,Others
1,00000950dea4a869e9fe70d823444d418c5abebbd8e830...,2019-10-24,0.0,0.0,1,0,3ec23725736314cdfdd3fec2dc33de427da23104623312...,test,redeemers,P1: 10/21-11/2

In [40]:
file_week_1="/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-10-26/MediaStormDailySales20191029-111155-920.txt"
df_week1_POS=pd.read_table(file_week_1,dtype=str,sep="|")
df_week1_POS=df_week1_POS[pd.notnull(df_week1_POS['customer_id_hashed'])]
df_week1_POS['item_transaction_amt']=df_week1_POS['item_transaction_amt'].astype(float)

In [43]:
df_week1_POS_redeemers=df_week1_POS[df_week1_POS['customer_id_hashed'].isin(list_redeamer_id)]
df_week1_POS_redeemers.shape

(1028688, 9)

In [64]:
df_week1_POS_redeemers

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt
11,1474,2019-10-26,4680,c2b13c2b848338ed0995d38410cfbc099c4015607d348b...,34013,1,810433518,1,4.50
18,4261,2019-10-26,4395,ab45b438d450bb4e982161fd42cbcef37e2db91711a985...,11002,4,810446092,1,1.41

In [44]:
df_week1_POS_redeemers.head(2)

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt
11,1474,2019-10-26,4680,c2b13c2b848338ed0995d38410cfbc099c4015607d348b...,34013,1,810433518,1,4.50
18,4261,2019-10-26,4395,ab45b438d450bb4e982161fd42cbcef37e2db91711a985...,11002,4,810446092,1,1.41

In [68]:
df_qc=df_week1_POS_redeemers[df_week1_POS_redeemers['item_transaction_amt']==0]
df_qc=df_qc[['location_id','transaction_dt','transaction_id','subclass_id','class_code_id']].drop_duplicates()
df_qc=df_qc.groupby(['subclass_id','class_code_id'])['transaction_id'].count().to_frame().reset_index().sort_values("transaction_id",ascending=False)

df_qc.head(10)

    subclass_id class_code_id  transaction_id
106           4         55006           19800
127           7         55006            9778
69            2         55006            5442
124           7         11001            1568
129           8         11001            1295
123           6         55006             669
52            2         11001             144
128         709         71010              76
90            4         11002              43
138           9         60801               5

In [69]:
subclass_name=pd.read_csv("/home/jian/BigLots/static_files/ProductTaxonomy/MediaStormProductTaxonomy20191201-133313-648.txt",
                         dtype=str,sep="|").drop_duplicates()

In [71]:
subclass_name[subclass_name['class_code_id']=="55006"]

     division_id department_id class_code_id subclass_id     subclass_desc
2184           6           550         55006           2           $3 DVDS
2185           6           550         55006           4          $5 DVD'S
2186           6           550         55006           6         TV ON DVD
2187           6           550         55006         999  Finance Use Only
2657           6           550         55006           1             Audio
2658           6           550         55006           3           $8 DVDS
2659           6           550         55006           5       Video Games
2660           6           550         55006           7        PROMO DVDS