In [1]:
import pandas as pd
import numpy as np
import datetime
import hashlib
import logging
import gc
logging.basicConfig(filename='BL_Store_Rewards_Stats'+str(datetime.datetime.now().date())+'.log', level=logging.INFO)


samplerows=None

In [2]:
# To add

# 1. zip+4 rolled up to zip then ta, total HH 25-54 #Done
# 2. Q2 rewards members count up to end of Q2 2017 #Done
# 3. 2017 Q2 rewards all variables #Done
# 4. rewards week by week Q2, yoy #Done
# 5. Split the compariable stores

In [3]:
EASI_C=pd.read_csv("/home/jian/Docs/EASI/2018-07-19/ZIP4_18_DATA_C2_CSV/ZIP4_18_DATA_C2.CSV",
                   dtype=str,skiprows=1,nrows=samplerows,usecols=['ZIP_CODE','ZIP4','HH18','PCTHH25_34','PCTHH35_44','PCTHH45_54'])
EASI_C['HH18']=EASI_C['HH18'].astype(float)

EASI_C['PCTHH25_34']=EASI_C['PCTHH25_34'].astype(float)
EASI_C['PCTHH35_44']=EASI_C['PCTHH35_44'].astype(float)
EASI_C['PCTHH45_54']=EASI_C['PCTHH45_54'].astype(float)

EASI_C['PCTHH25_54']=EASI_C['PCTHH25_34']+EASI_C['PCTHH35_44']+EASI_C['PCTHH45_54']

del EASI_C['PCTHH25_34']
del EASI_C['PCTHH35_44']
del EASI_C['PCTHH45_54']

EASI_C['HH_25_54']=EASI_C['HH18']*EASI_C['PCTHH25_54']/100
check_x=EASI_C['HH18'].sum()
EASI_C=EASI_C.groupby(['ZIP_CODE'])['HH_25_54'].sum().to_frame().reset_index()
EASI_C=EASI_C.rename(columns={"ZIP_CODE":"zip_cd"})

# 1, 4

In [4]:
store_info=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20180901-133640-935.txt",sep="|",dtype=str)
store_info=store_info[['location_id','city_nm','state_nm','zip_cd','open_dt']]

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20180801-133641-576.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20180703.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20171115.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20170913.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)
store_info['zip_cd']=store_info['zip_cd'].apply(lambda x: x.split("-")[0].zfill(5))


#

inclusion_stores_sales_data=pd.read_excel("/home/jian/BiglotsCode/outputs/Output_2018-09-01/wide_sales_date2018-09-01.xlsx",dtype=str,sheetname="sales")
inclusion_stores_trans_data=pd.read_excel("/home/jian/BiglotsCode/outputs/Output_2018-09-01/wide_sales_date2018-09-01.xlsx",dtype=str,sheetname="transactions")

inclusions_store_list=inclusion_stores_sales_data[inclusion_stores_sales_data['2018-09-01']!="0"]['location_id'].tolist()

inclusion_stores_sales_data=inclusion_stores_sales_data[inclusion_stores_sales_data['location_id'].isin(inclusions_store_list)]
inclusion_stores_trans_data=inclusion_stores_trans_data[inclusion_stores_trans_data['location_id'].isin(inclusions_store_list)]


#

Q2_Start_week_2018=datetime.date(2018,5,12)
Q2_End_week_2018=datetime.date(2018,8,4)
Q2_Start_week_2017=datetime.date(2017,5,13)
Q2_End_week_2017=datetime.date(2017,8,5)
Q2_2017_Weeks=[str(Q2_Start_week_2017+datetime.timedelta(days=7*i)) for i in range(13)]
Q2_2018_Weeks=[str(Q2_Start_week_2018+datetime.timedelta(days=7*i)) for i in range(13)]


#

inclusion_stores_sales_data=inclusion_stores_sales_data[['location_id']+Q2_2017_Weeks+Q2_2018_Weeks]
inclusion_stores_trans_data=inclusion_stores_trans_data[['location_id']+Q2_2017_Weeks+Q2_2018_Weeks]


#

for col in Q2_2017_Weeks+Q2_2018_Weeks:
    inclusion_stores_sales_data[col]=inclusion_stores_sales_data[col].astype(float)
    inclusion_stores_trans_data[col]=inclusion_stores_trans_data[col].astype(float)



#

inclusion_stores_trans_data['2017_Q2_Trans']=inclusion_stores_trans_data[Q2_2017_Weeks].sum(axis=1)
inclusion_stores_trans_data['2018_Q2_Trans']=inclusion_stores_trans_data[Q2_2018_Weeks].sum(axis=1)
inclusion_stores_sales_data['2017_Q2_Sales']=inclusion_stores_sales_data[Q2_2017_Weeks].sum(axis=1)
inclusion_stores_sales_data['2018_Q2_Sales']=inclusion_stores_sales_data[Q2_2018_Weeks].sum(axis=1)


#

Q2_Sales_Trans=pd.merge(inclusion_stores_trans_data[['location_id','2017_Q2_Trans','2018_Q2_Trans']],
                       inclusion_stores_sales_data[['location_id','2017_Q2_Sales','2018_Q2_Sales']],
                       on="location_id",how="outer")


#

DMA_Zip=pd.read_excel("/home/jian/Docs/Geo_mapping/Zips by DMA by County16-17 nielsen.xlsx",skiprows=1,dtype=str)
DMA_Zip=DMA_Zip.iloc[:,[0,2]]
DMA_Zip.columns=['zip_cd','DMA']
DMA_Zip=DMA_Zip.drop_duplicates(['zip_cd'])


#

store_info=pd.merge(store_info,DMA_Zip,on="zip_cd",how="left")


#

inclusion_store_list_set=set(Q2_Sales_Trans['location_id'].unique().tolist())

#

df_1=store_info.copy()
df_1=df_1[df_1['location_id'].isin(inclusion_store_list_set)]
df_4=Q2_Sales_Trans.copy()
del store_info
df_4['Q2_Sales_YoY']=(df_4['2018_Q2_Sales']-df_4['2017_Q2_Sales'])/df_4['2017_Q2_Sales']
df_4['Q2_Trans_YoY']=(df_4['2018_Q2_Trans']-df_4['2017_Q2_Trans'])/df_4['2017_Q2_Trans']
df_4=df_4[['location_id','Q2_Sales_YoY','Q2_Trans_YoY','2018_Q2_Sales','2017_Q2_Sales','2018_Q2_Trans','2017_Q2_Trans']]

gc.collect()

51424

# 2

In [5]:
folderpath = '/home/jian/Projects/Big_Lots/Loyal_members/loyalty_register_data/' # usecols=[0,1,5],
selected_columns = ['customer_id_hashed','sign_up_location','customer_zip_code','sign_up_date']
dfiddetail = pd.read_table(folderpath+"/MediaStormCustTot-hashed-email.txt",
                       header=None,nrows = samplerows,sep = ',',dtype = str,usecols=[0,2,4,5])
dfiddetail.columns=['customer_id','sign_up_date','sign_up_location','customer_zip_code']
dfiddetail['customer_id_hashed'] = dfiddetail['customer_id'].apply(lambda x: hashlib.sha256(x.encode('utf-8')).hexdigest())
dfiddetail=dfiddetail[selected_columns]
dfiddetail=dfiddetail[dfiddetail['sign_up_location'].isin(inclusion_store_list_set)]
#
dfiddetail2 = pd.read_csv(folderpath+'MediaStormCustomerTransactionTotals_2018-01-09_2018-03-31.txt',
                          nrows = samplerows,sep = ',',usecols=[0,2,4,5],dtype = str)
dfiddetail2=dfiddetail2[selected_columns]
dfiddetail2['sign_up_location']=dfiddetail2['sign_up_location'].fillna("nan")
dfiddetail2=dfiddetail2[dfiddetail2['sign_up_location'].isin(inclusion_store_list_set)]
dfiddetail = dfiddetail.append(dfiddetail2)

#
dfiddetail2 = pd.read_csv(folderpath+'Existing Reward Member Master as of 2018-06-05.txt',
                          nrows = samplerows,sep = '|',usecols=[0,2,4,5],dtype = str)
dfiddetail2=dfiddetail2[selected_columns]
dfiddetail2['sign_up_location']=dfiddetail2['sign_up_location'].fillna("nan")
dfiddetail2=dfiddetail2[dfiddetail2['sign_up_location'].isin(inclusion_store_list_set)]
dfiddetail = dfiddetail.append(dfiddetail2)

#
dfiddetail2 = pd.read_csv(folderpath+'New Reward Member Master as of 2018-06-05.txt',
                          nrows = samplerows,sep = '|',usecols=[0,2,4,5],dtype = str)
dfiddetail2=dfiddetail2[selected_columns]
dfiddetail2['sign_up_location']=dfiddetail2['sign_up_location'].fillna("nan")
dfiddetail2=dfiddetail2[dfiddetail2['sign_up_location'].isin(inclusion_store_list_set)]
dfiddetail = dfiddetail.append(dfiddetail2)

#
dfiddetail2 = pd.read_csv(folderpath+'New Reward Member Master as of 2018-07-03.txt',
                          nrows = samplerows,sep = '|',usecols=[0,2,4,5],dtype = str)
dfiddetail2=dfiddetail2[selected_columns]
dfiddetail2['sign_up_location']=dfiddetail2['sign_up_location'].fillna("nan")
dfiddetail2=dfiddetail2[dfiddetail2['sign_up_location'].isin(inclusion_store_list_set)]
dfiddetail = dfiddetail.append(dfiddetail2)

#
dfiddetail2 = pd.read_csv(folderpath+'MediaStormMasterBiWeekly20180717-132337-377.txt',
                          nrows = samplerows,sep = '|',usecols=[0,2,4,5],dtype = str)
dfiddetail2=dfiddetail2[selected_columns]
dfiddetail2['sign_up_location']=dfiddetail2['sign_up_location'].fillna("nan")
dfiddetail2=dfiddetail2[dfiddetail2['sign_up_location'].isin(inclusion_store_list_set)]
dfiddetail = dfiddetail.append(dfiddetail2)

#
dfiddetail2 = pd.read_csv(folderpath+'MediaStormMasterBiWeekly20180731-130714-098.txt',
                          nrows = samplerows,sep = '|',usecols=[0,2,4,5],dtype = str)
dfiddetail2=dfiddetail2[selected_columns]
dfiddetail2['sign_up_location']=dfiddetail2['sign_up_location'].fillna("nan")
dfiddetail2=dfiddetail2[dfiddetail2['sign_up_location'].isin(inclusion_store_list_set)]
dfiddetail = dfiddetail.append(dfiddetail2)

#
dfiddetail2 = pd.read_csv(folderpath+'MediaStormMasterBiWeekly20180814-130703-491.txt',
                          nrows = samplerows,sep = '|',usecols=[0,2,4,5],dtype = str)
dfiddetail2=dfiddetail2[selected_columns]
dfiddetail2['sign_up_location']=dfiddetail2['sign_up_location'].fillna("nan")
dfiddetail2=dfiddetail2[dfiddetail2['sign_up_location'].isin(inclusion_store_list_set)]
dfiddetail = dfiddetail.append(dfiddetail2)
del dfiddetail2
#
dfiddetail['customer_zip_code']=dfiddetail['customer_zip_code'].astype(str)
dfiddetail['customer_zip_code']=dfiddetail['customer_zip_code'].apply(lambda x: x.replace(" ",""))
dfiddetail['customer_zip_code']=dfiddetail['customer_zip_code'].apply(lambda x: x.replace(" ",""))
dfiddetail['customer_zip_code']=dfiddetail['customer_zip_code'].apply(lambda x: x.replace(" ",""))
dfiddetail['zip_cd']=dfiddetail['customer_zip_code'].apply(lambda x: str(x).split("-")[0].zfill(5))
del dfiddetail['customer_zip_code']

dfiddetail=dfiddetail[dfiddetail['sign_up_date'].apply(lambda x: len(x))==10]

dfiddetail['sign_up_date']=dfiddetail['sign_up_date'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
dfiddetail_2017_Q2=dfiddetail[dfiddetail['sign_up_date']<=Q2_End_week_2017]


dfiddetail=dfiddetail.sort_values(['sign_up_date'],ascending=False)
dfiddetail_2017_Q2=dfiddetail_2017_Q2.sort_values(['sign_up_date'],ascending=False)


dfiddetail=dfiddetail[['customer_id_hashed','sign_up_location','zip_cd','sign_up_date']].drop_duplicates('customer_id_hashed')
dfiddetail_2017_Q2=dfiddetail_2017_Q2[['customer_id_hashed','sign_up_location','zip_cd','sign_up_date']].drop_duplicates('customer_id_hashed')


logging.info("Finished read of singing up data, with rows of "+str(dfiddetail.shape[0]))

dfiddetail=dfiddetail[dfiddetail['zip_cd'].apply(lambda x: len(x)).isin([5,9])]
dfiddetail['zip_cd']=dfiddetail['zip_cd'].apply(lambda x: x[:5])

dfiddetail_2017_Q2=dfiddetail_2017_Q2[dfiddetail_2017_Q2['zip_cd'].apply(lambda x: len(x)).isin([5,9])]
dfiddetail_2017_Q2['zip_cd']=dfiddetail_2017_Q2['zip_cd'].apply(lambda x: x[:5])

#
gc.collect()

0

In [6]:

sign_up_id_by_zip=dfiddetail.groupby(['zip_cd'])['customer_id_hashed'].count().to_frame().reset_index()
sign_up_id_by_store=dfiddetail.groupby(['sign_up_location'])['customer_id_hashed'].count().to_frame().reset_index()
sign_up_id_by_store_2017_Q2=dfiddetail_2017_Q2.groupby(['sign_up_location'])['customer_id_hashed'].count().to_frame().reset_index()
sign_up_id_by_store_2017_Q2=sign_up_id_by_store_2017_Q2.rename(columns={"sign_up_location":"location_id","customer_id_hashed":"id_counts_signed_up_Q2End_2017"})
df_2=sign_up_id_by_store.copy()

df_2=df_2.rename(columns={"sign_up_location":"location_id","customer_id_hashed":"id_counts_signed_up_Q2End_2018"})

dfiddetail_2017_Q2=dfiddetail_2017_Q2.sort_values(['sign_up_date'],ascending=False)
dfiddetail_2017_Q2=dfiddetail_2017_Q2[['customer_id_hashed','sign_up_location','zip_cd','sign_up_date']].drop_duplicates('customer_id_hashed')
sign_up_id_by_store_2017_Q2=dfiddetail_2017_Q2.groupby(['sign_up_location'])['customer_id_hashed'].count().to_frame().reset_index()
sign_up_id_by_store_2017_Q2=sign_up_id_by_store_2017_Q2.rename(columns={"sign_up_location":"location_id","customer_id_hashed":"id_counts_signed_up_Q2End_2017"})

df_2=pd.merge(df_2,sign_up_id_by_store_2017_Q2,on="location_id",how="left")
del dfiddetail_2017_Q2
del sign_up_id_by_store
del sign_up_id_by_store_2017_Q2

gc.collect()
df_2.head(2)

  location_id  id_counts_signed_up_Q2End_2018  id_counts_signed_up_Q2End_2017
0           1                           11656                          9174.0
1        1001                            7400                          5566.0

# 3

In [7]:
ta_by_zip=pd.read_excel("/home/jian/Projects/Big_Lots/New_TA/zips_in_new_ta/BL_Zips in new TA (TA level)_JL_20180330.xlsx",
                       dtype=str,usecols=['location_id','zip_cd','revenue_flag','TA_of_zip','TA_of_store'])
TA_Zips=ta_by_zip[['zip_cd','TA_of_zip']].drop_duplicates()
TA_Store=ta_by_zip[['location_id','TA_of_store']].drop_duplicates()
TA_Store=TA_Store[TA_Store['location_id'].isin(inclusion_store_list_set)]

stores_not_in_TA=[x for x in inclusion_store_list_set if x not in ta_by_zip['location_id'].tolist()]
zips_for_new_store=df_1[df_1['location_id'].isin(stores_not_in_TA)]['zip_cd'].unique().tolist()
# 8 new stores not in TA, 7 of the 8 zips are found in TA and allocated to the TA
# 4675|02719 missing TA info, so no population
TA_new_store=TA_Zips[TA_Zips['zip_cd'].isin(zips_for_new_store)]

given_TA_7_New_store=df_1[df_1['location_id'].isin(stores_not_in_TA)]
given_TA_7_New_store=pd.merge(given_TA_7_New_store,TA_Zips,on="zip_cd",how="left")
given_TA_7_New_store=given_TA_7_New_store[['location_id','TA_of_zip']].rename(columns={"TA_of_zip":"TA_of_store"})
TA_Store=TA_Store.append(given_TA_7_New_store)

demo_F_25_54=pd.read_csv("/home/jian/Docs/Household_and_Population/2016/Demo_Dataset_2018EASI.csv",
                         dtype=str,usecols=['ZIP_CODE','Estimate; Female: - 25 to 29 years','Estimate; Female: - 30 to 34 years',
                                                    'Estimate; Female: - 35 to 39 years','Estimate; Female: - 40 to 44 years',
                                                     'Estimate; Female: - 45 to 49 years','Estimate; Female: - 50 to 54 years'])
for col in demo_F_25_54.columns.tolist()[1:]:
    demo_F_25_54[col]=demo_F_25_54[col].astype(float)
demo_F_25_54['ZIP_CODE']=demo_F_25_54['ZIP_CODE'].apply(lambda x: x.zfill(5))
demo_F_25_54['Pop_F_25_54']=demo_F_25_54[demo_F_25_54.columns.tolist()[1:]].sum(axis=1)
demo_F_25_54=demo_F_25_54.rename(columns={"ZIP_CODE":"zip_cd"})
demo_F_25_54=demo_F_25_54[['zip_cd','Pop_F_25_54']]

TA_Zips_POP=pd.merge(TA_Zips,demo_F_25_54,on="zip_cd",how="left")
TA_POP=TA_Zips_POP.groupby(['TA_of_zip'])['Pop_F_25_54'].sum().to_frame().reset_index()
TA_POP=TA_POP.rename(columns={"TA_of_zip":"TA"})
TA_Store=TA_Store.rename(columns={"TA_of_store":"TA"})
df_3=pd.merge(TA_Store,TA_POP,on="TA",how="left")

TA_Zips_HH_EASI=pd.merge(TA_Zips,EASI_C,on="zip_cd",how="left")
TA_HH_EASI=TA_Zips_HH_EASI.groupby(['TA_of_zip'])['HH_25_54'].sum().to_frame().reset_index()
TA_HH_EASI=TA_HH_EASI.rename(columns={"TA_of_zip":"TA"})

df_3=pd.merge(df_3,TA_HH_EASI,on="TA",how="left")

del EASI_C
gc.collect()

15259

# 5, 6

In [8]:
weird_id_removed="5efa406f90b87aee3110c8dcebfaddcc246364bc6817e83a8f2ef508ec42f597"
# store 5191
# date 2018-05-12
# sales: -480985.06


rewards_sales_from_SP=pd.read_csv("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/From_Sp/combinedtransactions_0811.csv",
                                 dtype=str,nrows=samplerows,usecols=['customer_id_hashed','transaction_date','transaction_id','location_id','total_transaction_amt'])
rewards_sales_from_SP=rewards_sales_from_SP[rewards_sales_from_SP['customer_id_hashed']!=weird_id_removed]
rewards_sales_from_SP=rewards_sales_from_SP[rewards_sales_from_SP['location_id'].isin(inclusion_store_list_set)]
rewards_sales_from_SP['transaction_date']=rewards_sales_from_SP['transaction_date'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
rewards_sales_from_SP_2017Q2=rewards_sales_from_SP[(rewards_sales_from_SP['transaction_date']>=Q2_Start_week_2017) & (rewards_sales_from_SP['transaction_date']<=Q2_End_week_2017)]
rewards_sales_from_SP=rewards_sales_from_SP[(rewards_sales_from_SP['transaction_date']>=Q2_Start_week_2018) & (rewards_sales_from_SP['transaction_date']<=Q2_End_week_2018)]

rewards_sales_from_SP=rewards_sales_from_SP.drop_duplicates()
rewards_sales_from_SP_2017Q2=rewards_sales_from_SP_2017Q2.drop_duplicates()

rewards_sales_from_SP['total_transaction_amt']=rewards_sales_from_SP['total_transaction_amt'].astype(float)
rewards_sales_from_SP_2017Q2['total_transaction_amt']=rewards_sales_from_SP_2017Q2['total_transaction_amt'].astype(float)

del rewards_sales_from_SP['transaction_id']
del rewards_sales_from_SP_2017Q2['transaction_id']

gc.collect()

def add_week_end_date(x):
    weekday_num=x.weekday()
    if weekday_num==6:
        y=x+datetime.timedelta(days=6)
    else:
        y=x+datetime.timedelta(days=5-weekday_num)
    return y

rewards_by_store_Q2_sales=rewards_sales_from_SP.groupby(['location_id'])['total_transaction_amt'].sum().to_frame().reset_index()
rewards_by_store_Q2_sales=rewards_by_store_Q2_sales.rename(columns={"total_transaction_amt":"Q2_rewards_sales_2018"})
rewards_by_store_Q2_trans=rewards_sales_from_SP.groupby(['location_id'])['total_transaction_amt'].count().to_frame().reset_index()
rewards_by_store_Q2_trans=rewards_by_store_Q2_trans.rename(columns={"total_transaction_amt":"Q2_rewards_trans_2018"})

rewards_by_store_Q2_sales_2017Q2=rewards_sales_from_SP_2017Q2.groupby(['location_id'])['total_transaction_amt'].sum().to_frame().reset_index()
rewards_by_store_Q2_sales_2017Q2=rewards_by_store_Q2_sales_2017Q2.rename(columns={"total_transaction_amt":"Q2_rewards_sales_2017"})
rewards_by_store_Q2_trans_2017Q2=rewards_sales_from_SP_2017Q2.groupby(['location_id'])['total_transaction_amt'].count().to_frame().reset_index()
rewards_by_store_Q2_trans_2017Q2=rewards_by_store_Q2_trans_2017Q2.rename(columns={"total_transaction_amt":"Q2_rewards_trans_2017"})

df_5=pd.merge(rewards_by_store_Q2_sales,rewards_by_store_Q2_trans,on="location_id",how="outer")
df_5['Q2_rewards_sales_share_2018']=np.nan
df_5['Q2_rewards_trans_share_2018']=np.nan
df_5['Rewards_AOV_2018']=df_5['Q2_rewards_sales_2018']/df_5['Q2_rewards_trans_2018']

df_5_2017=pd.merge(rewards_by_store_Q2_sales_2017Q2,rewards_by_store_Q2_trans_2017Q2,on="location_id",how="outer")
df_5_2017['Q2_rewards_sales_share_2017']=np.nan
df_5_2017['Q2_rewards_trans_share_2017']=np.nan
df_5_2017['Rewards_AOV_2017']=df_5_2017['Q2_rewards_sales_2017']/df_5_2017['Q2_rewards_trans_2017']

df_5=pd.merge(df_5,df_5_2017,on="location_id",how="left")

gc.collect()

7

In [9]:
#QC ID count

In [10]:
rewards_sales_from_SP['transaction_date'].max()

datetime.date(2018, 8, 4)

In [11]:
rewards_sales_from_SP['transaction_date'].min()

datetime.date(2018, 5, 12)

In [12]:
len(rewards_sales_from_SP['transaction_date'].unique())

85

In [13]:
rewards_sales_from_SP_2017Q2['transaction_date'].max()

datetime.date(2017, 8, 5)

In [14]:
rewards_sales_from_SP_2017Q2['transaction_date'].min()

datetime.date(2017, 5, 13)

In [15]:
len(rewards_sales_from_SP_2017Q2['transaction_date'].unique())

85

In [16]:
all_stores_2018_Q2_ID=rewards_sales_from_SP['customer_id_hashed'].unique().tolist()
all_stores_2017_Q2_ID=rewards_sales_from_SP_2017Q2['customer_id_hashed'].unique().tolist()

all_stores_existing_Q2_id=list(set(all_stores_2018_Q2_ID).intersection(set(all_stores_2017_Q2_ID)))
all_stores_new_Q2_id=set(all_stores_2018_Q2_ID).difference(set(all_stores_2017_Q2_ID))

In [17]:
len(all_stores_existing_Q2_id)

2819960

In [18]:
len(all_stores_new_Q2_id)

4515624

In [19]:
store5191_2018_Q2_ID=rewards_sales_from_SP[rewards_sales_from_SP['location_id']=="5191"]['customer_id_hashed'].unique().tolist()
store5191_2017_Q2_ID=rewards_sales_from_SP_2017Q2[rewards_sales_from_SP_2017Q2['location_id']=="5191"]['customer_id_hashed'].unique().tolist()

In [20]:
store5191_existing_Q2_id=set(store5191_2018_Q2_ID).intersection(all_stores_existing_Q2_id)
store5191_new_Q2_id=set(store5191_2018_Q2_ID).intersection(all_stores_new_Q2_id)

In [22]:
len(store5191_existing_Q2_id)

2132

In [23]:
len(store5191_new_Q2_id)

3091

In [24]:
sales_rewards_5191_2018=rewards_sales_from_SP[rewards_sales_from_SP['location_id']=="5191"]
sales_rewards_5191_2017=rewards_sales_from_SP_2017Q2[rewards_sales_from_SP_2017Q2['location_id']=="5191"]

sales_rewards_5191_2018_existing=sales_rewards_5191_2018[sales_rewards_5191_2018['customer_id_hashed'].isin(store5191_existing_Q2_id)]

In [25]:
sales_rewards_5191_2018_existing.head(4)

,customer_id_hashed,transaction_date,location_id,total_transaction_amt
18397923,0f1723ccc446067c7002f6342223dc5aa27eb0e93912bd...,2018-05-28,5191,9.95
18405227,cdab7a93fd9ec1bcf40f3c1d5b3ef39dccf08aad904ff1...,2018-05-15,5191,69.96
18411996,ff7811f2d70ca8069c244bceba22570af737ff55a6e335...,2018-05-27,5191,14.60
18412185,ff7811f2d70ca8069c244bceba22570af737ff55a6e335...,2018-05-28,5191,3.00

In [26]:
sales_rewards_5191_2018_existing['total_transaction_amt'].sum()

-323922.56999999995

In [28]:
len(sales_rewards_5191_2018_existing['transaction_date'].unique())

85

In [29]:
id_sales_5191=sales_rewards_5191_2018_existing.groupby(['customer_id_hashed'])['total_transaction_amt'].sum().to_frame().reset_index().sort_values(['total_transaction_amt'])

'5efa406f90b87aee3110c8dcebfaddcc246364bc6817e83a8f2ef508ec42f597'

In [32]:
sales_rewards_5191_2018_existing[sales_rewards_5191_2018_existing['customer_id_hashed']=='5efa406f90b87aee3110c8dcebfaddcc246364bc6817e83a8f2ef508ec42f597']

,customer_id_hashed,transaction_date,location_id,total_transaction_amt
24950370,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,2018-05-12,5191,-480985.06
24950559,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,2018-05-12,5191,17.00
36292916,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,2018-07-07,5191,12.62
37132988,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,2018-07-08,5191,44.46
138391398,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,2018-07-30,5191,13.27

In [34]:
rewards_sales_from_SP[rewards_sales_from_SP['customer_id_hashed']=='5efa406f90b87aee3110c8dcebfaddcc246364bc6817e83a8f2ef508ec42f597']

,customer_id_hashed,transaction_date,location_id,total_transaction_amt
24950370,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,2018-05-12,5191,-480985.06
24950559,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,2018-05-12,5191,17.00
36292916,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,2018-07-07,5191,12.62
37132988,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,2018-07-08,5191,44.46
138391398,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,2018-07-30,5191,13.27

In [35]:
rewards_sales_from_SP.groupby(['customer_id_hashed'])['total_transaction_amt'].sum().to_frame().reset_index().sort_values(['total_transaction_amt']).head(20)

,customer_id_hashed,total_transaction_amt
2720156,5efa406f90b87aee3110c8dcebfaddcc246364bc6817e8...,-480897.71
1517541,34f83aebb8720752de234f5a3a4ced0abff8f7b44e8cab...,-5730.24
3346534,74d7b3c1354edda2b1114030a67bedac9523b638e4e2e1...,-4400.20
1874649,4175452aebe4d096148328f3939d525ff48c4fcd8ed5f4...,-3152.01
177652,0630e0a7d22b4f3774ad68294e09f0862b167837cc8d18...,-2885.11
6945822,f264a36954aa465f22e1885f7adcf8628956bb5743a8b3...,-2871.94
6742881,eb504e9f36fee811f0c1be7d064f842be77dbb4451cb15...,-2711.97
4301291,961c997c8d220a4074597223e8640dc3649977ac89d328...,-2543.49
4401106,999a32af786110c8447006ff241fddc659b70c9399b9f3...,-2536.54
2027145,46c6e4edd53c39cba4614a289469d30f6b70f25ef5683d...,-2530.30
3271812,723c8ca272830620f2aa28d23c3e970bb087e85f21eecd...,-2291.70
122946,0446c6a7eebe7342685ebbe62c084754ebb0aeb2c491c0...,-2277.97
4401836,99a0f9863276d7e3ba06f210c820b927a84cae9e5c6711...,-2253.31
2942623,66b89c125f7a3d3a0ae2979b10608f5eca8980b170da0f...,-2104.17
2705304,5e763e52a9654e3be82e2ae9d560bb42b50082e1e5080f...,-2007.87
5840790,cbd51e67bf211713612c60fa2795b1948fb6eb77d15400...,-1957.08
5890943,cd94a84bef0f79657284bf509a18a6afb49c8a69d6acca...,-1889.94
2667726,5d2727b2d98abb42e0e1b39b9afb37955c99803a844cd9...,-1883.76
3792061,845a08b5a696d746263b66c81a31bf407cb0c3f1075b16...,-1868.54
1990087,457a64d55874090d81226b69c0947c7dee1932f66f82b5...,-1798.95

In [36]:
rewards_sales_from_SP_2017Q2.groupby(['customer_id_hashed'])['total_transaction_amt'].sum().to_frame().reset_index().sort_values(['total_transaction_amt']).head(20)

,customer_id_hashed,total_transaction_amt
4720026,c7cd02cc1bc4089a3c953859dc7a965236e4598ea98453...,-4383.03
4135653,af0b807e3e338513f8c00ade23149760c9eb5a12d8b55a...,-4047.01
2274884,6059a796b5abe534cbbe8fa280ae8ab689678806571fac...,-3354.96
3163802,85eb274aaa89d64f53c872b8a7941d20897df8f4df5602...,-3326.01
130202,0585c8cfd651cb89b67e6f63029f01fdc5f2d0a45362df...,-3124.79
2964234,7d7b6542019589e7e721e95b99bbc86ada87578fff75f8...,-2911.86
5337377,e1dcadb1442658fd52c437d5bfc0dfc3aa60a42d177097...,-2707.35
3225499,88851768ffba852f103e207edcd169b098f34b5426c347...,-2540.30
2427378,66cd1b9cbe0d3c1c53a22a16756a344830094bc5b4ddc8...,-2475.02
3191362,8713e65772173d5ee7632d2b9321e0f89c83c03693a593...,-2400.66
556763,17a1bb7b12b2f504989dc0f89b904f8f56549d2b361381...,-2369.55
4464625,bcff165074e89e265b6b39245180238daab0bf7febaa33...,-2284.45
3981629,a887649fc02d9c0d93af6df14e28ca4bf10756b96a48fc...,-2032.96
4595120,c286967ba6cfaaf86f896c616cc2f5702e633c3f8821e3...,-1999.96
1484109,3ee668e7042d9e43a34b5564475601c8ccf38048f4924c...,-1996.70
1741605,49caeed35f75ec95bd9e948045074e7238264040b081f9...,-1992.76
1193339,3290783e03d3ddfe2b82ce3eaaa4e9242f5839a23b2059...,-1967.73
130346,058734ac134b5964860b94c6e4f7efb3b3ab0c2c8d81e9...,-1962.11
152554,067a53e665a25b5e9c86bbc7091fbb1893bfe5821cbb47...,-1958.00
913060,26ba3be605296dedd17679008bcd098cffe85548b48825...,-1946.98

In [18]:
existing_id_df_2018=rewards_sales_from_SP[['customer_id_hashed']].drop_duplicates()
existing_id_df_2018['id_shopped_2018']=1
existing_id_df_2017=rewards_sales_from_SP_2017Q2[['customer_id_hashed']].drop_duplicates()
existing_id_df_2017['id_shopped_2017']=1

existing_ind_df=pd.merge(existing_id_df_2018,existing_id_df_2017,on="customer_id_hashed",how="outer")
existing_ind_df=existing_ind_df.fillna(0)
existing_ind_df['both_existing']=existing_ind_df['id_shopped_2018']*existing_ind_df['id_shopped_2017']
existing_ind_df['new_2018']=existing_ind_df['id_shopped_2018']-existing_ind_df['id_shopped_2017']
existing_ind_df['new_2018']=np.where(existing_ind_df['new_2018']==1,1,0)
existing_ind_df=existing_ind_df[['customer_id_hashed','both_existing','new_2018']]

del existing_id_df_2018
del existing_id_df_2017

In [25]:
rewards_sales_from_SP=pd.merge(rewards_sales_from_SP,existing_ind_df,on="customer_id_hashed",how="left")
rewards_sales_from_SP=rewards_sales_from_SP.fillna(0)
rewards_sales_from_SP_2017Q2=pd.merge(rewards_sales_from_SP_2017Q2,existing_ind_df,on="customer_id_hashed",how="left")
rewards_sales_from_SP_2017Q2=rewards_sales_from_SP_2017Q2.fillna(0)

rewards_sales_from_SP_existing=rewards_sales_from_SP[rewards_sales_from_SP['both_existing']==1]
rewards_sales_from_SP_new=rewards_sales_from_SP[rewards_sales_from_SP['new_2018']==1]

rewards_sales_from_SP_existing_2017=rewards_sales_from_SP_2017Q2[rewards_sales_from_SP_2017Q2['both_existing']==1]
rewards_sales_from_SP_new_2017=rewards_sales_from_SP_2017Q2[rewards_sales_from_SP_2017Q2['new_2018']==1]

rewards_by_store_Q2_sales_existing=rewards_sales_from_SP_existing.groupby(['location_id'])['total_transaction_amt'].sum().to_frame().reset_index()
rewards_by_store_Q2_sales_existing=rewards_by_store_Q2_sales_existing.rename(columns={"total_transaction_amt":"Q2_existing_rewards_sales_2018"})
rewards_by_store_Q2_trans_existing=rewards_sales_from_SP_existing.groupby(['location_id'])['total_transaction_amt'].count().to_frame().reset_index()
rewards_by_store_Q2_trans_existing=rewards_by_store_Q2_trans_existing.rename(columns={"total_transaction_amt":"Q2_existing_rewards_trans_2018"})

rewards_by_store_Q2_sales_existing_2017Q2=rewards_sales_from_SP_existing_2017.groupby(['location_id'])['total_transaction_amt'].sum().to_frame().reset_index()
rewards_by_store_Q2_sales_existing_2017Q2=rewards_by_store_Q2_sales_existing_2017Q2.rename(columns={"total_transaction_amt":"Q2_existing_rewards_sales_2017"})
rewards_by_store_Q2_trans_existing_2017Q2=rewards_sales_from_SP_existing_2017.groupby(['location_id'])['total_transaction_amt'].count().to_frame().reset_index()
rewards_by_store_Q2_trans_existing_2017Q2=rewards_by_store_Q2_trans_existing_2017Q2.rename(columns={"total_transaction_amt":"Q2_existing_rewards_trans_2017"})

rewards_by_store_Q2_sales_new=rewards_sales_from_SP_new.groupby(['location_id'])['total_transaction_amt'].sum().to_frame().reset_index()
rewards_by_store_Q2_sales_new=rewards_by_store_Q2_sales_new.rename(columns={"total_transaction_amt":"Q2_new_rewards_sales_2018"})
rewards_by_store_Q2_trans_new=rewards_sales_from_SP_new.groupby(['location_id'])['total_transaction_amt'].count().to_frame().reset_index()
rewards_by_store_Q2_trans_new=rewards_by_store_Q2_trans_new.rename(columns={"total_transaction_amt":"Q2_new_rewards_trans_2018"})

rewards_by_store_Q2_sales_new_2017Q2=rewards_sales_from_SP_new_2017.groupby(['location_id'])['total_transaction_amt'].sum().to_frame().reset_index()
rewards_by_store_Q2_sales_new_2017Q2=rewards_by_store_Q2_sales_new_2017Q2.rename(columns={"total_transaction_amt":"Q2_new_rewards_sales_2017"})
rewards_by_store_Q2_trans_new_2017Q2=rewards_sales_from_SP_new_2017.groupby(['location_id'])['total_transaction_amt'].count().to_frame().reset_index()
rewards_by_store_Q2_trans_new_2017Q2=rewards_by_store_Q2_trans_new_2017Q2.rename(columns={"total_transaction_amt":"Q2_new_rewards_trans_2017"})


del rewards_sales_from_SP['both_existing']
del rewards_sales_from_SP['new_2018']

del rewards_sales_from_SP_2017Q2['both_existing']
del rewards_sales_from_SP_2017Q2['new_2018']

In [27]:
def unique_id_count(x):
    y=len(set(x))
    return y

In [28]:
rewards_by_store_Q2_unique_id_existing=rewards_sales_from_SP_existing.groupby(['location_id'])['customer_id_hashed'].agg(unique_id_count).to_frame().reset_index()
rewards_by_store_Q2_unique_id_existing=rewards_by_store_Q2_unique_id_existing.rename(columns={"customer_id_hashed":"Q2_existing_id_counts_2018"})
rewards_by_store_Q2_unique_id_existing_2017=rewards_sales_from_SP_existing_2017.groupby(['location_id'])['customer_id_hashed'].agg(unique_id_count).to_frame().reset_index()
rewards_by_store_Q2_unique_id_existing_2017=rewards_by_store_Q2_unique_id_existing_2017.rename(columns={"customer_id_hashed":"Q2_existing_id_counts_2017"})

rewards_by_store_Q2_unique_id_new=rewards_sales_from_SP_new.groupby(['location_id'])['customer_id_hashed'].agg(unique_id_count).to_frame().reset_index()
rewards_by_store_Q2_unique_id_new=rewards_by_store_Q2_unique_id_new.rename(columns={"customer_id_hashed":"Q2_new_id_counts_2018"})
rewards_by_store_Q2_unique_id_new_2017=rewards_sales_from_SP_new_2017.groupby(['location_id'])['customer_id_hashed'].agg(unique_id_count).to_frame().reset_index()
rewards_by_store_Q2_unique_id_new_2017=rewards_by_store_Q2_unique_id_new_2017.rename(columns={"customer_id_hashed":"Q2_new_id_counts_2017"})

In [31]:
df_5=pd.merge(df_5,rewards_by_store_Q2_sales_existing,on="location_id",how="left")
df_5=pd.merge(df_5,rewards_by_store_Q2_trans_existing,on="location_id",how="left")
df_5=pd.merge(df_5,rewards_by_store_Q2_sales_existing_2017Q2,on="location_id",how="left")
df_5=pd.merge(df_5,rewards_by_store_Q2_trans_existing_2017Q2,on="location_id",how="left")
df_5=pd.merge(df_5,rewards_by_store_Q2_unique_id_existing,on="location_id",how="left")
df_5=pd.merge(df_5,rewards_by_store_Q2_unique_id_existing_2017,on="location_id",how="left")

df_5=pd.merge(df_5,rewards_by_store_Q2_sales_new,on="location_id",how="left")
df_5=pd.merge(df_5,rewards_by_store_Q2_trans_new,on="location_id",how="left")
df_5=pd.merge(df_5,rewards_by_store_Q2_sales_new_2017Q2,on="location_id",how="left")
df_5=pd.merge(df_5,rewards_by_store_Q2_trans_new_2017Q2,on="location_id",how="left")
df_5=pd.merge(df_5,rewards_by_store_Q2_unique_id_new,on="location_id",how="left")
df_5=pd.merge(df_5,rewards_by_store_Q2_unique_id_new_2017,on="location_id",how="left")

# 7

In [ ]:
df_7=inclusion_stores_sales_data[['location_id']+Q2_2017_Weeks+Q2_2018_Weeks]
for col in Q2_2018_Weeks:
    week_2018=col
    week_2017=str(datetime.datetime.strptime(col,"%Y-%m-%d").date()-datetime.timedelta(days=52*7))
    df_7["YoY_"+col]=np.round((df_7[week_2018]-df_7[week_2017])/df_7[week_2017],6)
df_7=df_7[["location_id"]+["YoY_"+x for x in Q2_2018_Weeks]]

# In[8]:

store_level_output=pd.merge(df_1,df_2,on="location_id",how="left")
store_level_output=pd.merge(store_level_output,df_3,on="location_id",how="left")
store_level_output=pd.merge(store_level_output,df_4,on="location_id",how="left")
store_level_output=pd.merge(store_level_output,df_5,on="location_id",how="left")
store_level_output=pd.merge(store_level_output,df_7,on="location_id",how="left")


# In[9]:

store_level_output['Q2_rewards_sales_share_2018']=store_level_output['Q2_rewards_sales_2018']/store_level_output['2018_Q2_Sales']
store_level_output['Q2_rewards_trans_share_2018']=store_level_output['Q2_rewards_trans_2018']/store_level_output['2018_Q2_Trans']

store_level_output['Q2_rewards_sales_share_2017']=store_level_output['Q2_rewards_sales_2017']/store_level_output['2017_Q2_Sales']
store_level_output['Q2_rewards_trans_share_2017']=store_level_output['Q2_rewards_trans_2017']/store_level_output['2017_Q2_Trans']

# 8

In [ ]:
# New from YG request
# Week by week of rewards members YoY

In [ ]:
count_k=0
rewards_week_by_week=store_level_output[['location_id']]
for week in Q2_2017_Weeks:
    week_end=datetime.datetime.strptime(week,"%Y-%m-%d").date()
    week_start=week_end-datetime.timedelta(days=6)
    df=rewards_sales_from_SP_2017Q2[(rewards_sales_from_SP_2017Q2['transaction_date']>=week_start) &\
                                   (rewards_sales_from_SP_2017Q2['transaction_date']<=week_end)]
    df=df.groupby(['location_id'])['total_transaction_amt'].sum().to_frame().reset_index()
    df=df.rename(columns={"total_transaction_amt":"Rewards_Sales_"+week})
    rewards_week_by_week=pd.merge(rewards_week_by_week,df,on="location_id",how="left")
    
    count_k+=1
    print(count_k,week,datetime.datetime.now())

In [ ]:
count_k=0
for week in Q2_2018_Weeks:
    week_end=datetime.datetime.strptime(week,"%Y-%m-%d").date()
    week_start=week_end-datetime.timedelta(days=6)
    df=rewards_sales_from_SP[(rewards_sales_from_SP['transaction_date']>=week_start) &\
                                   (rewards_sales_from_SP['transaction_date']<=week_end)]
    df=df.groupby(['location_id'])['total_transaction_amt'].sum().to_frame().reset_index()
    df=df.rename(columns={"total_transaction_amt":"Rewards_Sales_"+week})
    rewards_week_by_week=pd.merge(rewards_week_by_week,df,on="location_id",how="left")
    
    count_k+=1
    print(count_k,week,datetime.datetime.now())

In [ ]:
selected_YoY=["location_id"]
for week in Q2_2018_Weeks:
    col_2018="Rewards_Sales_"+week
    col_2017="Rewards_Sales_"+str(datetime.datetime.strptime(week,"%Y-%m-%d").date()-datetime.timedelta(days=52*7))
    new_col="Rewards_Sales_YoY_"+week
    rewards_week_by_week[new_col]=(rewards_week_by_week[col_2018]-rewards_week_by_week[col_2017])/rewards_week_by_week[col_2017]
    selected_YoY=selected_YoY+[new_col]
    
df_8=rewards_week_by_week[selected_YoY] #df_8 not used, using the whole rewards_week_by_week

In [ ]:
store_level_output=pd.merge(store_level_output,rewards_week_by_week,on="location_id",how="left")

# 9

In [ ]:
# Zip level
del dfiddetail['sign_up_date']
rewards_sales_from_SP=pd.merge(rewards_sales_from_SP,dfiddetail,on="customer_id_hashed",how="left")
rewards_sales_from_SP['zip_cd']=rewards_sales_from_SP['zip_cd'].fillna("zip_missing")

Store_level_PST=pd.read_csv("/home/jian/Projects/Big_Lots/New_TA/zips_in_new_ta/sales_by_zip (Store level).csv",dtype=str)
Store_level_PST=Store_level_PST[Store_level_PST['location_id'].isin(inclusion_store_list_set)]

Store_level_P_Zips=Store_level_PST[Store_level_PST['revenue_flag']=="P"].groupby(['location_id'])['zip'].apply(set).to_frame().reset_index()
Store_level_S_Zips=Store_level_PST[Store_level_PST['revenue_flag']=="S"].groupby(['location_id'])['zip'].apply(set).to_frame().reset_index()
Store_level_T_Zips=Store_level_PST[Store_level_PST['revenue_flag']=="T"].groupby(['location_id'])['zip'].apply(set).to_frame().reset_index()

Store_level_P_Zips_Dict=Store_level_P_Zips.set_index(['location_id']).to_dict()['zip']
Store_level_S_Zips_Dict=Store_level_S_Zips.set_index(['location_id']).to_dict()['zip']
Store_level_T_Zips_Dict=Store_level_T_Zips.set_index(['location_id']).to_dict()['zip']

store_list_with_PST=Store_level_PST['location_id'].unique().tolist()


df_SP_July_Decile=pd.read_csv("/home/jian/Projects/Big_Lots/Loyal_members/Segment_Movement_analysis/Data_From_Sp/df_crm_finalscore_0714data.csv",
                              dtype=str,usecols=['customer_id_hashed','frmindex','zipcodegroup','customer_zip_code'])
df_SP_July_Decile=df_SP_July_Decile.drop_duplicates(['customer_id_hashed'])
decile_list=df_SP_July_Decile['frmindex'].unique().tolist()
len(df_SP_July_Decile['customer_id_hashed'].unique())


# In[16]:

dfiddetail=pd.merge(dfiddetail,df_SP_July_Decile[['customer_id_hashed','frmindex']],on="customer_id_hashed",how="left")
dfiddetail_id_count_by_signup_zip_decile=dfiddetail.groupby(['sign_up_location','zip_cd','frmindex'])['customer_id_hashed'].count().to_frame().reset_index()
dfiddetail_id_count_by_signup_zip_decile=dfiddetail_id_count_by_signup_zip_decile.rename(columns={"customer_id_hashed":"id_count"})


# In[17]:

rewards_sales_by_store=rewards_sales_from_SP.groupby('location_id')['total_transaction_amt'].sum().to_frame().reset_index()
rewards_sales_by_store_dict=rewards_sales_by_store.set_index(['location_id']).to_dict()['total_transaction_amt']

rewards_sales_by_customer_zip_store=rewards_sales_from_SP.groupby(['location_id','zip_cd'])['total_transaction_amt'].sum().to_frame().reset_index()
rewards_trans_by_customer_zip_store=rewards_sales_from_SP.groupby(['location_id','zip_cd'])['total_transaction_amt'].count().to_frame().reset_index()

sign_up_id_by_store_zip=dfiddetail.groupby(['sign_up_location','zip_cd'])['customer_id_hashed'].count().to_frame().reset_index()

In [ ]:
output_zip_level=pd.DataFrame()
k=0
for store in store_list_with_PST:
    total_rewards_sales_store=rewards_sales_by_store_dict[store]
    store_rewards_sales_by_customer_zip_store=rewards_sales_by_customer_zip_store[rewards_sales_by_customer_zip_store['location_id']==store]
    store_rewards_trans_by_customer_zip_store=rewards_trans_by_customer_zip_store[rewards_trans_by_customer_zip_store['location_id']==store]
    store_dfiddetail_id_count_by_signup_zip_decile=dfiddetail_id_count_by_signup_zip_decile[dfiddetail_id_count_by_signup_zip_decile['sign_up_location']==store]
    store_sign_up_id_by_store_zip=sign_up_id_by_store_zip[sign_up_id_by_store_zip['sign_up_location']==store]
    
    for label in ["P","S","T"]:
        zips_store_label=locals()["Store_level_"+label+"_Zips_Dict"][store]
        
        id_count_store_label_all_zips=sign_up_id_by_zip[sign_up_id_by_zip['zip_cd'].isin(zips_store_label)]['customer_id_hashed'].sum()
        id_count_store_label_store_only=store_sign_up_id_by_store_zip[store_sign_up_id_by_store_zip['zip_cd'].isin(zips_store_label)]['customer_id_hashed'].sum()
        
        sales_store_label=store_rewards_sales_by_customer_zip_store[store_rewards_sales_by_customer_zip_store['zip_cd'].isin(zips_store_label)]['total_transaction_amt'].sum()
        trans_store_label=store_rewards_trans_by_customer_zip_store[store_rewards_trans_by_customer_zip_store['zip_cd'].isin(zips_store_label)]['total_transaction_amt'].sum()
        
        AOV_store_label=sales_store_label/trans_store_label
        sales_share_label=sales_store_label/total_rewards_sales_store
        
        trans_to_id=trans_store_label/id_count_store_label_store_only
        
        for D_decile in decile_list:
            locals()[D_decile+"_store_label"]=store_dfiddetail_id_count_by_signup_zip_decile[(store_dfiddetail_id_count_by_signup_zip_decile['frmindex']==D_decile) &                                                                                             (store_dfiddetail_id_count_by_signup_zip_decile['zip_cd'].isin(zips_store_label))]['id_count'].sum()
            
        locals()['df_app_'+label]=pd.DataFrame({"location_id":store,label+"_id_counts":id_count_store_label_all_zips,
                                                label+"_id_counts_singed_store":id_count_store_label_store_only,label+"_sales_share":sales_share_label,
                                                label+"_AOV":AOV_store_label,label+"_trans_per_id_avg":trans_to_id,
                                                label+"_D1":locals()["D01_store_label"],label+"_D2":locals()["D02_store_label"],
                                                label+"_D3":locals()["D03_store_label"],label+"_D4":locals()["D04_store_label"],
                                                label+"_D5":locals()["D05_store_label"],label+"_D6":locals()["D06_store_label"],
                                                label+"_D7":locals()["D07_store_label"],label+"_D8":locals()["D08_store_label"],
                                                label+"_D9":locals()["D09_store_label"],label+"_D10":locals()["D10_store_label"],
                                               },index=[store])
    df_app_3_lable=pd.merge(df_app_P,df_app_S,on="location_id",how="left")
    df_app_3_lable=pd.merge(df_app_3_lable,df_app_T,on="location_id",how="left")
    df_app_3_lable=df_app_3_lable[['location_id','P_id_counts','P_id_counts_singed_store','P_sales_share','P_AOV','P_trans_per_id_avg','P_D1','P_D2','P_D3','P_D4','P_D5','P_D6','P_D7','P_D8','P_D9','P_D10',
                                   'S_id_counts','S_id_counts_singed_store','S_sales_share','S_AOV','S_trans_per_id_avg','S_D1','S_D2','S_D3','S_D4','S_D5','S_D6','S_D7','S_D8','S_D9','S_D10',
                                   'T_id_counts','T_id_counts_singed_store','T_sales_share','T_AOV','T_trans_per_id_avg','T_D1','T_D2','T_D3','T_D4','T_D5','T_D6','T_D7','T_D8','T_D9','T_D10']]
    output_zip_level=output_zip_level.append(df_app_3_lable)
    k+=1
    if k %100==1:
        print(store,datetime.datetime.now())
        logging.info(str(k)+"|"+store+"|"+str(datetime.datetime.now()))

    if k %100==23:
        print(store,datetime.datetime.now())
        logging.info(str(k)+"|"+store+"|"+str(datetime.datetime.now()))

# All_Rewards_regardless_of_Zips_New_Columns

In [ ]:
def unique_id_count(x):
    y=len(set(x))
    return y
    
Sep_12_new_request=rewards_sales_from_SP.groupby(['location_id'])['customer_id_hashed'].apply(unique_id_count).to_frame().reset_index()
Sep_12_new_request=Sep_12_new_request.rename(columns={"customer_id_hashed":"2018_Q2_rewards_id_shopped"})

Sep_12_new_request_2017=rewards_sales_from_SP_2017Q2.groupby(['location_id'])['customer_id_hashed'].apply(unique_id_count).to_frame().reset_index()
Sep_12_new_request_2017=Sep_12_new_request_2017.rename(columns={"customer_id_hashed":"2017_Q2_rewards_id_shopped"})

Sep_12_new_request=pd.merge(Sep_12_new_request,Sep_12_new_request_2017,on="location_id",how="left")
Sep_12_new_request['Q2_rewards_trans_per_id']=np.nan

# In[61]:

rewards_sales_from_SP_Decile=rewards_sales_from_SP[['customer_id_hashed','location_id']].drop_duplicates()
sp_decile=df_SP_July_Decile[['customer_id_hashed','frmindex']]
rewards_sales_from_SP_Decile=pd.merge(rewards_sales_from_SP_Decile,sp_decile,on="customer_id_hashed",how="left")


# In[66]:

count_k=0
Sep_12_new_request_Decile=pd.DataFrame()
for store,group in rewards_sales_from_SP_Decile.groupby(['location_id']):
    for i in range(10):
        frmindex_str="D"+str(i+1).zfill(2)
        locals()[frmindex_str]=len(group[group['frmindex']==frmindex_str])
    df_app=pd.DataFrame({"location_id":store,"D01_July":D01,"D02_July":D02,"D03_July":D03,"D04_July":D04,"D05_July":D05,
                        "D06_July":D06,"D07_July":D07,"D08_July":D08,"D09_July":D09,"D10_July":D10},index=[store])
    Sep_12_new_request_Decile=Sep_12_new_request_Decile.append(df_app)
    count_k+=1
    if count_k %100==1:
        print(count_k,store,datetime.datetime.now())
        logging.info(str(count_k)+"|"+store+"|"+str(datetime.datetime.now()))

    if count_k %100==23:
        print(count_k,store,datetime.datetime.now())
        logging.info(str(count_k)+"|"+store+"|"+str(datetime.datetime.now()))
        
    
Sep_12_new_request=pd.merge(Sep_12_new_request,Sep_12_new_request_Decile,on="location_id",how="left")

logging.info("Done of the new request | "+str(datetime.datetime.now()))

In [ ]:
'''
# QC
rewards_sales_from_SP=pd.read_csv("/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/From_Sp/combinedtransactions_0811.csv",
                                 dtype=str,nrows=samplerows,usecols=['customer_id_hashed','transaction_date','transaction_id','location_id','total_transaction_amt'])
rewards_sales_from_SP=rewards_sales_from_SP[rewards_sales_from_SP['location_id'].isin(inclusion_store_list_set)]
rewards_sales_from_SP['transaction_date']=rewards_sales_from_SP['transaction_date'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
'''

In [ ]:
rewards_sales_from_SP_2017Q2['transaction_date'].unique()

In [ ]:
df_qc=rewards_sales_from_SP_2017Q2[rewards_sales_from_SP_2017Q2['location_id']=="1553"]

In [ ]:
df_qc=df_qc.drop_duplicates()

In [ ]:
df_qc.head(2)

In [ ]:
df_qc['total_transaction_amt'].astype(float).sum()

In [ ]:
1+1

# Final_Output

In [19]:
final_output=pd.merge(store_level_output,output_zip_level,on="location_id",how="left")
logging.info("Merge1 | "+str(datetime.datetime.now()))
final_output=pd.merge(final_output,Sep_12_new_request,on="location_id",how="left")
logging.info("Merge2 | "+str(datetime.datetime.now()))
final_output['Q2_rewards_AOV_2018']=final_output['Q2_rewards_sales_2018']/final_output['Q2_rewards_trans_2018']
logging.info("3 | "+str(datetime.datetime.now()))
final_output['Q2_rewards_trans_per_id']=final_output['Q2_rewards_trans_2018']/final_output['2018_Q2_rewards_id_shopped']
logging.info("4 | "+str(datetime.datetime.now()))

In [20]:
sales_weekly=pd.read_excel("/home/jian/BiglotsCode/outputs/Output_2018-09-08/wide_sales_date2018-09-08.xlsx",
                          dtype=str,sheetname="sales")
sales_weekly=sales_weekly[['location_id']+Q2_2017_Weeks+Q2_2018_Weeks]
for col in sales_weekly.columns.tolist()[1:]:
    sales_weekly[col]=sales_weekly[col].astype(float)

In [21]:
sales_weekly['inclusion_index']=np.where(((sales_weekly['2017-05-13']>0) &\
                                          (sales_weekly['2017-05-20']>0) &\
                                          (sales_weekly['2017-05-27']>0) &\
                                          (sales_weekly['2017-06-03']>0) &\
                                          (sales_weekly['2017-06-10']>0) &\
                                          (sales_weekly['2017-06-17']>0) &\
                                          (sales_weekly['2017-06-24']>0) &\
                                          (sales_weekly['2017-07-01']>0) &\
                                          (sales_weekly['2017-07-08']>0) &\
                                          (sales_weekly['2017-07-15']>0) &\
                                          (sales_weekly['2017-07-22']>0) &\
                                          (sales_weekly['2017-07-29']>0) &\
                                          (sales_weekly['2017-08-05']>0) &\
                                          (sales_weekly['2018-05-12']>0) &\
                                          (sales_weekly['2018-05-19']>0) &\
                                          (sales_weekly['2018-05-26']>0) &\
                                          (sales_weekly['2018-06-02']>0) &\
                                          (sales_weekly['2018-06-09']>0) &\
                                          (sales_weekly['2018-06-16']>0) &\
                                          (sales_weekly['2018-06-23']>0) &\
                                          (sales_weekly['2018-06-30']>0) &\
                                          (sales_weekly['2018-07-07']>0) &\
                                          (sales_weekly['2018-07-14']>0) &\
                                          (sales_weekly['2018-07-21']>0) &\
                                          (sales_weekly['2018-07-28']>0) &\
                                          (sales_weekly['2018-08-04']>0)),1,0)
sales_weekly_inclusion_df=sales_weekly[['location_id','inclusion_index']]

In [22]:
final_output=pd.merge(final_output,sales_weekly_inclusion_df,on="location_id",how="left")

In [23]:
final_output.to_csv("/home/jian/Projects/Big_Lots/Analysis/Store_Stats_201809/BL_Store_Rewards_Stats_JL_"+str(datetime.datetime.now().date())+".csv",index=False)

In [24]:
writer=pd.ExcelWriter("/home/jian/Projects/Big_Lots/Analysis/Store_Stats_201809/BL_Store_Rewards_Stats_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")

In [25]:
inclusion_df=final_output[final_output['inclusion_index']==1]
exclusion_df=final_output[final_output['inclusion_index']==0]

inclusion_df.to_excel(writer,"inclusion",index=False)
exclusion_df.to_excel(writer,"exclusion",index=False)
writer.save()