In [7]:
import pandas as pd
import numpy as np
import datetime
import os
import paramiko
import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [8]:
pd.read_sql("show tables;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

   Tables_in_BigLots
0        BL_POS_Item
1    BL_POS_Subclass
2  BL_Rewards_Master

In [10]:
df_master=pd.read_sql("select * from BL_Rewards_Master limit 1;",con=BL_engine)
df_master

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,transaction_count,transaction_amount,experian_multi_cluster,experian_demo_cluster,purchase_channel,email_unsubscribe_indicator,email_undeliverable_indicator,file_path
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,2016-02-10,STORE,5309.0,36081,1.0,32.8,0.0,0.0,STORES,N,N,/home/jian/Projects/Big_Lots/Loyal_members/loy...

In [2]:
df_Experian=pd.read_csv("/home/jian/BigLots/Experian/data_20191016/Experian_20191001114500.txt",dtype=str,sep="|")
df_Experian.shape

(17626573, 19)

In [3]:
df_Experian_mapping=pd.read_csv("/home/jian/BigLots/Experian/data_20191016/Experian 2019 customer hashed.txt",dtype=str,sep="|")
df_Experian_mapping.shape

(17626573, 2)

In [4]:
df_Experian_mapping.head(2)

  Customer_Num                                hashed_customer_num
0          812  313c938e0103b56b43632b702e3e63447fab1f90a4fe89...
1          983  fbe10beedf9d29cf53137ba38859ffd1dbe7642cedb7ef...

In [5]:
df_Experian.head(2)

,CustomerNumber,PhaseYear,Geo/HH,MultiCluster,MultiClusterDesc,DemoCluster,DemoClusterDesc,IncomeId,IncomeDesc,AgeId,AgeDesc,HomerentId,HomerentDesc,Child1Id,Child1Desc,Child2Id,Child2Desc,LivesId,LivesDesc
0,9,2019,Geo,5,Home Focused,NaN,NaN,2,between $50k and $100k,2,between 35 and 50,1,own house,0,NaN,0,NaN,0,single family home
1,28,2019,HH,6,Holiday Shoppers,3,Married no Children,3,>= $100k,3,>= 50,1,own house,0,NaN,0,NaN,0,single family home

In [11]:
df_Experian_mapping=df_Experian_mapping.rename(columns={"Customer_Num":"CustomerNumber","hashed_customer_num":"customer_id_hashed"})

In [12]:
df_Experian=pd.merge(df_Experian,df_Experian_mapping,on="CustomerNumber",how="left")
print(df_Experian.shape)

(17626573, 20)

In [13]:
df_Experian.head(2)

,CustomerNumber,PhaseYear,Geo/HH,MultiCluster,MultiClusterDesc,DemoCluster,DemoClusterDesc,IncomeId,IncomeDesc,AgeId,AgeDesc,HomerentId,HomerentDesc,Child1Id,Child1Desc,Child2Id,Child2Desc,LivesId,LivesDesc,customer_id_hashed
0,9,2019,Geo,5,Home Focused,NaN,NaN,2,between $50k and $100k,2,between 35 and 50,1,own house,0,NaN,0,NaN,0,single family home,19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebab...
1,28,2019,HH,6,Holiday Shoppers,3,Married no Children,3,>= $100k,3,>= 50,1,own house,0,NaN,0,NaN,0,single family home,59e19706d51d39f66711c2653cd7eb1291c94d9b55eb14...

In [34]:
df_all_children=df_Experian[df_Experian['Child1Id']=="1"][['customer_id_hashed','Child1Id','Child1Desc']]
print(df_all_children.shape)

(3729820, 3)

In [15]:
df_master_email_zip=pd.read_sql("select customer_id_hashed, email_address_hash, customer_zip_code from BL_Rewards_Master;", con=BL_engine)
print(df_master_email_zip.shape,df_master_email_zip['customer_id_hashed'].nunique())

(32295287, 3) 32295287

In [35]:
df_all_children=pd.merge(df_all_children,df_master_email_zip,on="customer_id_hashed",how="left")
print(df_all_children.shape)

df_all_children.head(2)

(3729820, 5)

,customer_id_hashed,Child1Id,Child1Desc,email_address_hash,customer_zip_code
0,d029fa3a95e174a19934857f535eb9427d967218a36ea0...,1,age between 0-6,0128ef54695157d5bfe184c19e41fcdd9dd9213af68335...,77088
1,ec2e990b934dde55cb87300629cedfc21b15cd28bbcf77...,1,age between 0-6,7b28325dadbb674c33a43a4f71dacbd92c86bb70b0ce37...,85022

In [37]:
df_unique_zip=df_all_children[['customer_zip_code']].drop_duplicates()
df_unique_zip[df_unique_zip['customer_zip_code'].apply(type)==float]

   customer_zip_code
11               NaN

In [53]:
zip_labels=pd.ExcelFile("/home/jian/Projects/Big_Lots/New_TA/TA_created_in_201906/final_output_20190718/BL_final_TA_updated_JL_2019-07-18.xlsx")
zip_labels.sheet_names

['unique_zips_full_footprint',
 'view_by_TA',
 'view_by_store',
 'view_for_Tableau']

In [54]:
zip_labels=zip_labels.parse("unique_zips_full_footprint",dtype=str)
zip_labels.shape

(12980, 2)

In [55]:
zip_labels['zip_type'].unique()

array(['trans_P', 'trans_S', 'zips_10'], dtype=object)

In [56]:
zip_labels['zip_label']=np.where(zip_labels['zip_type']=="trans_P","P",
                                np.where(zip_labels['zip_type']=="trans_S","S",
                                         np.where(zip_labels['zip_type']=="zips_10","S",np.nan)
                                        )
                                )
zip_labels=zip_labels[['zip_cd','zip_label']]
zip_labels=zip_labels.rename(columns={"zip_cd":"customer_zip_code"})

In [57]:
print(zip_labels.shape,zip_labels['customer_zip_code'].nunique())

(12980, 2) 12980

In [58]:
df_all_children.head(2)

,customer_id_hashed,Child1Id,Child1Desc,email_address_hash,customer_zip_code
0,d029fa3a95e174a19934857f535eb9427d967218a36ea0...,1,age between 0-6,0128ef54695157d5bfe184c19e41fcdd9dd9213af68335...,77088
1,ec2e990b934dde55cb87300629cedfc21b15cd28bbcf77...,1,age between 0-6,7b28325dadbb674c33a43a4f71dacbd92c86bb70b0ce37...,85022

In [59]:
print(df_all_children.shape)
df_all_children=pd.merge(df_all_children,zip_labels,on="customer_zip_code",how="left")
df_all_children['zip_label']=df_all_children['zip_label'].fillna("T")
print(df_all_children.shape)

(3729820, 5)
(3729820, 6)

In [60]:
df_all_children.head(2)

,customer_id_hashed,Child1Id,Child1Desc,email_address_hash,customer_zip_code,zip_label
0,d029fa3a95e174a19934857f535eb9427d967218a36ea0...,1,age between 0-6,0128ef54695157d5bfe184c19e41fcdd9dd9213af68335...,77088,P
1,ec2e990b934dde55cb87300629cedfc21b15cd28bbcf77...,1,age between 0-6,7b28325dadbb674c33a43a4f71dacbd92c86bb70b0ce37...,85022,P

In [73]:
for zip_label,df_group in df_all_children.groupby("zip_label"):
    df=df_group[['email_address_hash','zip_label']]
    df=df.rename(columns={"zip_label":"segment"})
    df['segment']=df['segment']+"_child_0_6"
    df=df[pd.notnull(df['email_address_hash'])]
    df.to_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Experian_Audience/Child_Audience_20191230/uploaded/"+"BL_Experian_Child_0_6_"+zip_label+".csv",index=False)
    print(zip_label,df.shape)

P (2093498, 2)
S (827585, 2)
T (407160, 2)

# Uploading

In [76]:
import glob
local_audience_files=glob.glob("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Experian_Audience/Child_Audience_20191230/uploaded/*.csv")
local_audience_files

['/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Experian_Audience/Child_Audience_20191230/uploaded/BL_Experian_Child_0_6_P.csv',
 '/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Experian_Audience/Child_Audience_20191230/uploaded/BL_Experian_Child_0_6_S.csv',
 '/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Experian_Audience/Child_Audience_20191230/uploaded/BL_Experian_Child_0_6_T.csv']

In [69]:
# LR
host = "files.liveramp.com"
port = 22
password = "Biglots2018!"
username = "lr-big-lots"

transport = paramiko.Transport((host, port))

transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)

In [70]:
for local_file in local_audience_files:
    basename=os.path.basename(local_file)
    remote_path="/uploads/big_lots_onboarding/"+basename
    sftp.put(local_file,remote_path)
sftp.close()
transport.close()

In [74]:
df.head(4)

                                   email_address_hash      segment
4   a9abdecae758b3c183a6bac6fb83d384bcf722bab5655c...  T_child_0_6
16  660a375367e0eeeead9d6f336447429f09a977bc0e824a...  T_child_0_6
19  cdae3efbfd060a5f48d99af0ff2d3dd5008817a7d155c5...  T_child_0_6
47  b802031ac23440663a2abdde2735cec911804b7f84576f...  T_child_0_6

In [72]:
# FB

import pandas as pd
import numpy as np
from facebookads.adobjects.customaudience import CustomAudience
from facebookads.adobjects.adaccount import AdAccount
from facebookads.api import FacebookAdsApi
import datetime
import os
import glob
BigLotsAccount_id="act_271491453638620"

jian_APP_ID="2537704939796694"# jian's fb marketing app id
jian_token="EAAkEB3l7ONYBALOwTjZA6ZA69KGshjjZCghKd2FhqZCVvcZCxcQZCglQshts2EZCZBccbvwUddxKlje4ZCz3w8qkLWICYdS8cZCAw2e8VZCs9VHEt7sg5gR6gc4o8TVV73OAABUf7zKqoXLyeREavx7Viz8ArwVQxsDfMVSJK7o5qOqiQZDZD"

def creatfbaudience(file_path,ACCESS_TOKEN,accountid,description,audience_name):
    '''
    input:
    file_path: str, full_path, basename as the audience name on FB
        make sure the columns contains the "email_address_hash", use this col only
    
    ACCESS_TOKEN: personal token #app id not needed
    accountid: account_id starting with "act_", followed by the id str
    as Nov. 20, 2019, latest verision is 'v5.0'
    '''
    FacebookAdsApi.init(access_token=ACCESS_TOKEN, api_version='v5.0')
    myAccount = AdAccount(accountid)
    fields = []
    fbname=audience_name
    params = {
      'name': fbname,
      'subtype': 'CUSTOM',
      'description': description,
      'customer_file_source': 'USER_PROVIDED_ONLY',
    }
    fbname = myAccount.create_custom_audience(
      fields=fields,
      params=params,
    )['id']
    
    df=pd.read_csv(file_path,dtype=str,)
    listlen = df.shape[0]
    requestUrl = 'https://graph.facebook.com/v5.0/'+ fbname + '/users'
    
    chunck_size=50000
    i_counter=0
    for df_chunck in pd.read_csv(file_path,chunksize=chunck_size,dtype=str,usecols=["email_address_hash"]):
        payload = {}
        payload['schema'] = ['EMAIL']
        df_chunck=df_chunck.rename(columns={"email_address_hash":"EMAIL"})
        df_chunck=df_chunck.drop_duplicates()
        payload_data=df_chunck['EMAIL'].apply(lambda x: [x]).tolist()

        payload['data'] = payload_data
        params = {}
        params ={'payload':payload} 
        CustomAudience(fbname).create_user(
                      fields=fields,
                      params=params,
        )
        i_counter+=1
        print(i_counter,datetime.datetime.now())
  

    return 'All done: '+str(datetime.datetime.now())

In [77]:
for local_file in local_audience_files:

    creatfbaudience(file_path=local_file,
                    ACCESS_TOKEN=jian_token,
                    accountid=BigLotsAccount_id,
                    description="id_list_in_Experian_20191016_childid_value_1_and_zip_labeled_as_"+local_file[-5],
                    audience_name=os.path.basename(local_file).split(".")[0]
                   )

1 2019-12-30 16:21:28.226461
2 2019-12-30 16:21:33.469392
3 2019-12-30 16:21:36.031704
4 2019-12-30 16:21:43.201563
5 2019-12-30 16:21:49.796270
6 2019-12-30 16:21:56.494068
7 2019-12-30 16:21:59.260315
8 2019-12-30 16:22:03.048632
9 2019-12-30 16:22:06.024244
10 2019-12-30 16:22:13.300182
11 2019-12-30 16:22:20.339527
12 2019-12-30 16:22:23.397139
13 2019-12-30 16:22:30.449146
14 2019-12-30 16:22:37.326155
15 2019-12-30 16:22:40.158275
16 2019-12-30 16:22:42.868919
17 2019-12-30 16:22:50.017223
18 2019-12-30 16:22:52.343099
19 2019-12-30 16:22:59.206445
20 2019-12-30 16:23:01.625463
21 2019-12-30 16:23:04.283435
22 2019-12-30 16:23:11.198779
23 2019-12-30 16:23:13.691018
24 2019-12-30 16:23:20.535604
25 2019-12-30 16:23:27.615397
26 2019-12-30 16:23:34.144952
27 2019-12-30 16:23:41.264333
28 2019-12-30 16:23:48.068314
29 2019-12-30 16:23:54.577622
30 2019-12-30 16:23:57.077329
31 2019-12-30 16:23:59.747760
32 2019-12-30 16:24:06.420566
33 2019-12-30 16:24:09.176605
34 2019-12-30 16:24:12.878201
35 2019-12-30 16:24:15.681631
36 2019-12-30 16:24:22.458496
37 2019-12-30 16:24:29.422681
38 2019-12-30 16:24:31.940786
39 2019-12-30 16:24:39.089103
40 2019-12-30 16:24:46.124911
41 2019-12-30 16:24:52.950812
42 2019-12-30 16:24:55.142306
1 2019-12-30 16:25:00.127323
2 2019-12-30 16:25:03.039199
3 2019-12-30 16:25:06.154317
4 2019-12-30 16:25:08.735997
5 2019-12-30 16:25:11.100599
6 2019-12-30 16:25:18.422088
7 2019-12-30 16:25:20.886690
8 2019-12-30 16:25:23.223702
9 2019-12-30 16:25:30.307613
10 2019-12-30 16:25:37.552055
11 2019-12-30 16:25:39.962320
12 2019-12-30 16:25:47.221105
13 2019-12-30 16:25:49.977685
14 2019-12-30 16:25:56.659571
15 2019-12-30 16:26:03.511418
16 2019-12-30 16:26:10.423207
17 2019-12-30 16:26:14.637300
1 2019-12-30 16:26:22.477978
2 2019-12-30 16:26:29.305940
3 2019-12-30 16:26:31.823945
4 2019-12-30 16:26:38.882844
5 2019-12-30 16:26:41.698217
6 2019-12-30 16:26:44.374326
7 2019-12-30 16:26:51.600795
8 2019-12-30 16:26:58.671978
9 2019-12-30 16:26:59.527464