In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import sqlalchemy
import glob
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )
pd.read_sql("show tables;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

   Tables_in_BigLots
0        BL_POS_Item
1    BL_POS_Subclass
2  BL_Rewards_Master
3     Pred_CRM_table

In [2]:
def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root,file)

In [3]:
date_range_POS_Subclass=pd.read_sql("select min(transaction_dt),max(transaction_dt) from BL_POS_Subclass;",con=BL_engine)
date_range_POS_Subclass

  min(transaction_dt) max(transaction_dt)
0          2016-06-26          2018-08-04

In [4]:
date_range_POS_Item=pd.read_sql("select min(transaction_dt),max(transaction_dt) from BL_POS_Item;",con=BL_engine)
date_range_POS_Item

  min(transaction_dt) max(transaction_dt)
0          2018-08-05          2019-12-28

In [5]:
pd.read_sql("desc BL_POS_Subclass;",con=BL_engine)

                        Field           Type Null  Key Default Extra
0                 location_id        int(11)  YES  MUL    None
1              transaction_dt           date  YES  MUL    None
2              transaction_id    varchar(16)  YES         None
3          customer_id_hashed       char(64)  YES  MUL    None
4               class_code_id    varchar(16)  YES  MUL    None
5                 subclass_id    varchar(16)  YES         None
6  subclass_transaction_units        int(11)  YES         None
7    subclass_transaction_amt  decimal(10,2)  YES         None

In [6]:
pd.read_sql("desc BL_POS_Item;",con=BL_engine)

                    Field           Type Null  Key Default Extra
0             location_id        int(11)  YES  MUL    None
1          transaction_dt           date  YES  MUL    None
2          transaction_id    varchar(16)  YES         None
3      customer_id_hashed       char(64)  YES  MUL    None
4           class_code_id    varchar(16)  YES  MUL    None
5             subclass_id    varchar(16)  YES         None
6                 item_id    varchar(16)  YES         None
7  item_transaction_units        int(11)  YES         None
8    item_transaction_amt  decimal(10,2)  YES         None

# 2018

In [7]:
# Read from each file

list_file_subclass=glob.glob("/home/jian/BigLots/hist_daily_data_subclasslevel/*.txt")
list_file_subclass=[x for x in list_file_subclass if x.split("_ending_")[1][:10]>="2018-01-01"]
list_file_subclass.sort()
print(list_file_subclass[0])
print(list_file_subclass[-1])

/home/jian/BigLots/hist_daily_data_subclasslevel/MediaStormDailySales_week_ending_2018-01-06.txt
/home/jian/BigLots/hist_daily_data_subclasslevel/MediaStormDailySales_week_ending_2018-06-09.txt

In [8]:
list_file_subclass_weekly=list(recursive_file_gen("/home/jian/BigLots/2018_by_weeks/"))
list_file_subclass_weekly=[x for x in list_file_subclass_weekly if "dailysales" in x.lower()]
list_file_subclass_weekly=[x for x in list_file_subclass_weekly if x[-4:]==".txt"]
list_file_subclass_weekly=[x for x in list_file_subclass_weekly if x.split("s/MediaStorm_")[1][:10]<="2018-08-04"]
list_file_subclass_weekly.sort()
list_file_subclass_weekly

['/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-06-16/MediaStormDailySales.txt',
 '/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-06-23/MediaStormDailySales.txt',
 '/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-06-30/MediaStormDailySales.txt',
 '/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-07-07/MediaStormDailySales.txt',
 '/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-07-14/MediaStormDailySales20180717-113630-767.txt',
 '/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-07-21/MediaStormDailySales20180724-113327-741.txt',
 '/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-07-28/MediaStormDailySales20180731-111804-489.txt',
 '/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-08-04/MediaStormDailySales20180807-111637-702.txt']

In [9]:
list_file_item=glob.glob("/home/jian/BigLots/hist_daily_data_itemlevel_decompressed/*.txt")
list_file_item.sort()
print(list_file_item[0])
print(list_file_item[-1])

/home/jian/BigLots/hist_daily_data_itemlevel_decompressed/MediaStormDailySalesHistory20180811.txt
/home/jian/BigLots/hist_daily_data_itemlevel_decompressed/MediaStormDailySalesHistory20190209.txt

In [10]:
list_file_item_weekly=list(recursive_file_gen("/home/jian/BigLots/2019_by_weeks/"))
list_file_item_weekly=[x for x in list_file_item_weekly if "dailysales" in x.lower()]
list_file_item_weekly=[x for x in list_file_item_weekly if x[-4:]==".txt"]
list_file_item_weekly=[x for x in list_file_item_weekly if x.split("/MediaStorm_")[1][:10]>="2019-02-16"]
list_file_item_weekly.sort()
print(list_file_item_weekly[0])
print(list_file_item_weekly[-1])

/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-02-16/MediaStormDailySales20190219-113605-481.txt
/home/jian/BigLots/2019_by_weeks/MediaStorm_2019-12-28/MediaStormDailySales20191231-112945-515.txt

In [11]:
list_all_weekly_data=list_file_subclass+list_file_subclass_weekly+list_file_item+list_file_item_weekly
print(len(list_all_weekly_data))

104

In [21]:
list_df_by_week_day_summary=[]
df_shoppers_online_2018=pd.DataFrame()
df_shoppers_instore_2018=pd.DataFrame()

df_shoppers_online_2019=pd.DataFrame()
df_shoppers_instore_2019=pd.DataFrame()

i_counter=0
for file in list_all_weekly_data:
    df=pd.read_csv(file,dtype=str,nrows=None,sep="|")
    df=df.rename(columns={"subclass_transaction_amt":"sales"})
    df=df.rename(columns={"item_transaction_amt":"sales"})
    df['sales']=df['sales'].astype(float)
    
    df_total_non_rewards_summary=df[pd.isnull(df['customer_id_hashed'])]
    df_total_non_rewards_summary=df_total_non_rewards_summary.groupby(['location_id','transaction_dt','transaction_id'])['sales'].sum().to_frame().reset_index()
    df_total_non_rewards_summary['trans']=1
    df_total_non_rewards_summary=df_total_non_rewards_summary.groupby(["transaction_dt","location_id"])['sales','trans'].sum().reset_index()
    df_total_non_rewards_summary=df_total_non_rewards_summary.rename(columns={"sales":"non_rewards_sales","trans":"non_rewards_trans"})

    df_rewards=df[pd.notnull(df['customer_id_hashed'])]
    df_rewards_summary=df_rewards.groupby(['location_id','transaction_dt','transaction_id','customer_id_hashed'])['sales'].sum().to_frame().reset_index()
    df_rewards_shoppers=df_rewards_summary[df_rewards_summary['sales']>0]
    
    df_rewards_summary['trans']=1
    df_rewards_summary=df_rewards_summary.groupby(["transaction_dt","location_id"])['sales','trans'].sum().reset_index()
    df_rewards_summary=df_rewards_summary.rename(columns={"sales":"rewards_sales","trans":"rewards_trans"})
    df_rewards_shoppers=df_rewards_shoppers[['location_id','transaction_dt','customer_id_hashed']].drop_duplicates()
    
    df_summary=pd.merge(df_rewards_summary,df_total_non_rewards_summary,on=["transaction_dt","location_id"],how="outer")
    df_summary=df_summary.fillna(0)
    df_summary['total_sales']=df_summary['rewards_sales']+df_summary['non_rewards_sales']
    df_summary['total_trans']=df_summary['rewards_trans']+df_summary['non_rewards_trans']
    
    
    list_df_by_week_day_summary.append(df_summary)
    
    df_rewards_shoppers_2018=df_rewards_shoppers[(df_rewards_shoppers['transaction_dt']>="2018-01-01") & (df_rewards_shoppers['transaction_dt']<="2018-12-28")]
    df_rewards_shoppers_2019=df_rewards_shoppers[(df_rewards_shoppers['transaction_dt']>="2019-01-01") & (df_rewards_shoppers['transaction_dt']<="2019-12-28")]
    
    df_rewards_shoppers_2018_online=df_rewards_shoppers_2018[df_rewards_shoppers_2018['location_id']=="6990"][['customer_id_hashed']].drop_duplicates()
    df_rewards_shoppers_2018_instore=df_rewards_shoppers_2018[df_rewards_shoppers_2018['location_id']!="6990"][['customer_id_hashed']].drop_duplicates()
    df_rewards_shoppers_2019_online=df_rewards_shoppers_2019[df_rewards_shoppers_2019['location_id']=="6990"][['customer_id_hashed']].drop_duplicates()
    df_rewards_shoppers_2019_instore=df_rewards_shoppers_2019[df_rewards_shoppers_2019['location_id']!="6990"][['customer_id_hashed']].drop_duplicates()
    
    
    df_shoppers_online_2018=df_shoppers_online_2018.append(df_rewards_shoppers_2018_online)
    df_shoppers_instore_2018=df_shoppers_instore_2018.append(df_rewards_shoppers_2018_instore)
    df_shoppers_online_2019=df_shoppers_online_2019.append(df_rewards_shoppers_2019_online)
    df_shoppers_instore_2019=df_shoppers_instore_2019.append(df_rewards_shoppers_2019_instore)
    
    i_counter+=1
    print(i_counter,df_rewards_summary['transaction_dt'].min(),df_rewards_summary['transaction_dt'].max(),datetime.datetime.now())
    
    if i_counter%10==0:
        df_shoppers_online_2018=df_shoppers_online_2018.drop_duplicates()
        df_shoppers_instore_2018=df_shoppers_instore_2018.drop_duplicates()
        df_shoppers_online_2019=df_shoppers_online_2019.drop_duplicates()
        df_shoppers_instore_2019=df_shoppers_instore_2019.drop_duplicates()

1 2017-12-31 2018-01-06 2020-01-06 15:54:42.095180
2 2018-01-07 2018-01-13 2020-01-06 15:55:28.079022
3 2018-01-14 2018-01-20 2020-01-06 15:56:22.518049
4 2018-01-21 2018-01-27 2020-01-06 15:57:15.969551
5 2018-01-28 2018-02-03 2020-01-06 15:58:01.856461
6 2018-02-04 2018-02-10 2020-01-06 15:58:45.741114
7 2018-02-11 2018-02-17 2020-01-06 15:59:34.610612
8 2018-02-18 2018-02-24 2020-01-06 16:00:26.820323
9 2018-02-25 2018-03-03 2020-01-06 16:01:21.958228
10 2018-03-04 2018-03-10 2020-01-06 16:02:18.134614
11 2018-03-11 2018-03-17 2020-01-06 16:03:29.155627
12 2018-03-18 2018-03-24 2020-01-06 16:04:21.520768
13 2018-03-25 2018-03-31 2020-01-06 16:05:21.516233
14 2018-04-01 2018-04-07 2020-01-06 16:06:25.290431
15 2018-04-08 2018-04-14 2020-01-06 16:07:42.672208
16 2018-04-15 2018-04-21 2020-01-06 16:08:42.022206
17 2018-04-22 2018-04-28 2020-01-06 16:09:36.001675
18 2018-04-29 2018-05-05 2020-01-06 16:10:30.441204
19 2018-05-06 2018-05-12 2020-01-06 16:11:21.996038
20 2018-05-13 2018-05-19 2020-01-06 16:12:10.344722
21 2018-05-20 2018-05-26 2020-01-06 16:13:36.547821
22 2018-05-27 2018-06-02 2020-01-06 16:14:30.995837
23 2018-06-03 2018-06-09 2020-01-06 16:15:22.843689
24 2018-06-10 2018-06-16 2020-01-06 16:16:16.423451
25 2018-06-17 2018-06-23 2020-01-06 16:17:09.579838
26 2018-06-24 2018-06-30 2020-01-06 16:18:06.544739
27 2018-07-01 2018-07-07 2020-01-06 16:19:18.826093
28 2018-07-08 2018-07-14 2020-01-06 16:20:27.964165
29 2018-07-15 2018-07-21 2020-01-06 16:21:20.271739
30 2018-07-22 2018-07-28 2020-01-06 16:22:14.111088
31 2018-07-29 2018-08-04 2020-01-06 16:23:52.087493
32 2018-08-05 2018-08-11 2020-01-06 16:25:17.729186
33 2018-08-12 2018-08-18 2020-01-06 16:26:43.316334
34 2018-08-19 2018-08-25 2020-01-06 16:28:04.914113
35 2018-08-26 2018-09-01 2020-01-06 16:29:22.829865
36 2018-09-02 2018-09-08 2020-01-06 16:30:41.754765
37 2018-09-09 2018-09-15 2020-01-06 16:32:05.113075
38 2018-09-16 2018-09-22 2020-01-06 16:33:17.147783
39 2018-09-23 2018-09-29 2020-01-06 16:35:07.048934
40 2018-09-30 2018-10-06 2020-01-06 16:37:14.422068
41 2018-10-07 2018-10-13 2020-01-06 16:39:34.048651
42 2018-10-14 2018-10-20 2020-01-06 16:41:09.288327
43 2018-10-21 2018-10-27 2020-01-06 16:42:47.418161
44 2018-10-28 2018-11-03 2020-01-06 16:44:43.806494
45 2018-11-04 2018-11-10 2020-01-06 16:46:57.163795
46 2018-11-11 2018-11-17 2020-01-06 16:49:20.156801
47 2018-11-18 2018-11-24 2020-01-06 16:52:54.874018
48 2018-11-25 2018-12-01 2020-01-06 16:56:32.047988
49 2018-12-02 2018-12-08 2020-01-06 17:00:35.289122
50 2018-12-09 2018-12-15 2020-01-06 17:05:08.527804
51 2018-12-16 2018-12-22 2020-01-06 17:10:29.679233
52 2018-12-23 2018-12-29 2020-01-06 17:12:20.241168
53 2018-12-30 2019-01-05 2020-01-06 17:13:34.374578
54 2019-01-06 2019-01-12 2020-01-06 17:15:03.508985
55 2019-01-13 2019-01-19 2020-01-06 17:17:07.998690
56 2019-01-20 2019-01-26 2020-01-06 17:18:47.344343
57 2019-01-27 2019-02-02 2020-01-06 17:20:06.046282
58 2019-02-03 2019-02-09 2020-01-06 17:21:22.915272
59 2019-02-10 2019-02-16 2020-01-06 17:22:53.438033
60 2019-02-17 2019-02-23 2020-01-06 17:24:18.088661
61 2019-02-24 2019-03-02 2020-01-06 17:27:14.184937
62 2019-03-03 2019-03-09 2020-01-06 17:29:04.999927
63 2019-03-10 2019-03-16 2020-01-06 17:30:41.044738
64 2019-03-17 2019-03-23 2020-01-06 17:31:59.658286
65 2019-03-24 2019-03-30 2020-01-06 17:33:22.764270
66 2019-03-31 2019-04-06 2020-01-06 17:34:58.601732
67 2019-04-07 2019-04-13 2020-01-06 17:36:37.612825
68 2019-04-14 2019-04-20 2020-01-06 17:38:01.323350
69 2019-04-21 2019-04-27 2020-01-06 17:39:14.775890
70 2019-04-28 2019-05-04 2020-01-06 17:40:37.299871
71 2019-05-05 2019-05-11 2020-01-06 17:43:23.388373
72 2019-05-12 2019-05-18 2020-01-06 17:44:41.625091
73 2019-05-19 2019-05-25 2020-01-06 17:46:06.483264
74 2019-05-26 2019-06-01 2020-01-06 17:47:31.653895
75 2019-06-02 2019-06-08 2020-01-06 17:48:57.925618
76 2019-06-09 2019-06-15 2020-01-06 17:50:19.041992
77 2019-06-16 2019-06-22 2020-01-06 17:51:37.420736
78 2019-06-23 2019-06-29 2020-01-06 17:52:55.691411
79 2019-06-30 2019-07-06 2020-01-06 17:54:24.152998
80 2019-07-07 2019-07-13 2020-01-06 17:56:01.016416
81 2019-07-14 2019-07-20 2020-01-06 17:59:31.606355
82 2019-07-21 2019-07-27 2020-01-06 18:00:54.056637
83 2019-07-28 2019-08-03 2020-01-06 18:02:20.342977
84 2019-08-04 2019-08-10 2020-01-06 18:04:54.332132
85 2019-08-11 2019-08-17 2020-01-06 18:06:51.310043
86 2019-08-18 2019-08-24 2020-01-06 18:09:17.386589
87 2019-08-25 2019-08-31 2020-01-06 18:11:49.450002
88 2019-09-01 2019-09-07 2020-01-06 18:13:34.825174
89 2019-09-08 2019-09-14 2020-01-06 18:15:02.892503
90 2019-09-15 2019-09-21 2020-01-06 18:16:29.986844
91 2019-09-22 2019-09-28 2020-01-06 18:20:18.392227
92 2019-09-29 2019-10-05 2020-01-06 18:22:37.974193
93 2019-10-06 2019-10-12 2020-01-06 18:24:23.276444
94 2019-10-13 2019-10-19 2020-01-06 18:26:08.159711
95 2019-10-20 2019-10-26 2020-01-06 18:27:34.761850
96 2019-10-27 2019-11-02 2020-01-06 18:29:16.813187
97 2019-11-03 2019-11-09 2020-01-06 18:30:56.734825
98 2019-11-10 2019-11-16 2020-01-06 18:32:38.703136
99 2019-11-17 2019-11-23 2020-01-06 18:34:56.083407
100 2019-11-24 2019-11-30 2020-01-06 18:37:48.498366
101 2019-12-01 2019-12-07 2020-01-06 18:42:24.061166
102 2019-12-08 2019-12-14 2020-01-06 18:44:51.250112
103 2019-12-15 2019-12-21 2020-01-06 18:47:35.301830
104 2019-12-22 2019-12-28 2020-01-06 18:49:45.846829

In [22]:
df_summary_overall=pd.concat(list_df_by_week_day_summary)

df_summary_overall_2018=df_summary_overall[(df_summary_overall['transaction_dt']>="2018-01-01") & (df_summary_overall['transaction_dt']<="2018-12-28")]
df_summary_overall_2019=df_summary_overall[(df_summary_overall['transaction_dt']>="2019-01-01") & (df_summary_overall['transaction_dt']<="2019-12-28")]

In [25]:
df_summary_overall_2018.head(2)

,transaction_dt,location_id,rewards_sales,rewards_trans,non_rewards_sales,non_rewards_trans,total_sales,total_trans
1427,2018-01-01,1,3202.84,102.0,3505.50,140.0,6708.34,242.0
1428,2018-01-01,1001,586.68,18.0,2421.34,103.0,3008.02,121.0

In [26]:
df_summary_overall_2018.shape

(509719, 8)

In [32]:
print(df_summary_overall_2018['transaction_dt'].min(),df_summary_overall_2018['transaction_dt'].max(),df_summary_overall_2018['transaction_dt'].nunique())
print(df_summary_overall_2019['transaction_dt'].min(),df_summary_overall_2019['transaction_dt'].max(),df_summary_overall_2019['transaction_dt'].nunique())

2018-01-01 2018-12-28 362
2019-01-01 2019-12-28 362

In [29]:
df_shoppers_online_2018=df_shoppers_online_2018.drop_duplicates()
df_shoppers_instore_2018=df_shoppers_instore_2018.drop_duplicates()

df_shoppers_online_2019=df_shoppers_online_2019.drop_duplicates()
df_shoppers_instore_2019=df_shoppers_instore_2019.drop_duplicates()

In [30]:
df_shoppers_both_2018=df_shoppers_online_2018.append(df_shoppers_instore_2018).drop_duplicates()
df_shoppers_both_2019=df_shoppers_online_2019.append(df_shoppers_instore_2019).drop_duplicates()

print("df_shoppers_online_2018.shape",df_shoppers_online_2018.shape)
print("df_shoppers_instore_2018.shape",df_shoppers_instore_2018.shape)
print("df_shoppers_online_2019.shape",df_shoppers_online_2019.shape)
print("df_shoppers_instore_2019.shape",df_shoppers_instore_2019.shape)
print("df_shoppers_both_2018.shape",df_shoppers_both_2018.shape)
print("df_shoppers_both_2019.shape",df_shoppers_both_2019.shape)

df_shoppers_online_2018.shape (161513, 1)
df_shoppers_instore_2018.shape (16797520, 1)
df_shoppers_online_2019.shape (177586, 1)
df_shoppers_instore_2019.shape (18832382, 1)
df_shoppers_both_2018.shape (16847413, 1)
df_shoppers_both_2019.shape (18884602, 1)

In [34]:
df_shoppers=pd.DataFrame()
df_shoppers=df_shoppers.append(pd.DataFrame({"type":['df_shoppers_online_2018'],"unique_id_count":df_shoppers_online_2018.shape[0]}))
df_shoppers=df_shoppers.append(pd.DataFrame({"type":['df_shoppers_instore_2018'],"unique_id_count":df_shoppers_instore_2018.shape[0]}))
df_shoppers=df_shoppers.append(pd.DataFrame({"type":['df_shoppers_online_2019'],"unique_id_count":df_shoppers_online_2019.shape[0]}))
df_shoppers=df_shoppers.append(pd.DataFrame({"type":['df_shoppers_instore_2019'],"unique_id_count":df_shoppers_instore_2019.shape[0]}))
df_shoppers=df_shoppers.append(pd.DataFrame({"type":['df_shoppers_both_2018'],"unique_id_count":df_shoppers_both_2018.shape[0]}))
df_shoppers=df_shoppers.append(pd.DataFrame({"type":['df_shoppers_both_2019'],"unique_id_count":df_shoppers_both_2019.shape[0]}))
df_shoppers

                       type  unique_id_count
0   df_shoppers_online_2018           161513
0  df_shoppers_instore_2018         16797520
0   df_shoppers_online_2019           177586
0  df_shoppers_instore_2019         18832382
0     df_shoppers_both_2018         16847413
0     df_shoppers_both_2019         18884602

In [36]:
df_summary_overall_2018['max_date']=df_summary_overall_2018['transaction_dt'].max()
df_summary_overall_2018['min_date']=df_summary_overall_2018['transaction_dt'].min()
df_summary_overall_2019['max_date']=df_summary_overall_2019['transaction_dt'].max()
df_summary_overall_2019['min_date']=df_summary_overall_2019['transaction_dt'].min()
df_summary_overall_2018['store_type']=np.where(df_summary_overall_2018['location_id']=="6990","online","instore")
df_summary_overall_2019['store_type']=np.where(df_summary_overall_2019['location_id']=="6990","online","instore")
df_2018=df_summary_overall_2018.groupby(['store_type','min_date','max_date'])['total_sales','total_trans','rewards_sales','rewards_trans','non_rewards_sales','non_rewards_trans'].sum().reset_index()
df_2019=df_summary_overall_2019.groupby(['store_type','min_date','max_date'])['total_sales','total_trans','rewards_sales','rewards_trans','non_rewards_sales','non_rewards_trans'].sum().reset_index()

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
del df_summary_overall_2018['max_date']
del df_summary_overall_2018['min_date']
del df_summary_overall_2019['max_date']
del df_summary_overall_2019['min_date']

In [47]:
writer=pd.ExcelWriter("./BL_sales_summary_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_2018.to_excel(writer,"sales_2018",index=False)
df_2019.to_excel(writer,"sales_2019",index=False)
df_summary_overall_2018.to_excel(writer,"sales_2018_by_store",index=False)
df_summary_overall_2019.to_excel(writer,"sales_2019_by_store",index=False)
df_shoppers.to_excel(writer,"shoppers",index=False)
writer.save()