In [1]:
# Table 1

In [1]:
# ID Level spec from Yoram, modified on 20191115
# Email 20191115 6:30 p.m.
import pandas as pd
import numpy as np
import datetime
import os
import paramiko
import sqlalchemy
import logging
import glob
import gc
logging.basicConfig(filename='/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Predictive_Model_Building/predictive_dataset_building.log',level="INFO")

print(datetime.datetime.now())
print(os.getcwd())

# IDs to include since 2018Q1

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

2020-01-07 17:14:22.061286
/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Predictive_Model_Building

In [2]:
pd.read_sql("show tables;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

   Tables_in_BigLots
0        BL_POS_Item
1    BL_POS_Subclass
2  BL_Rewards_Master
3     Pred_CRM_table

In [4]:
df=pd.read_sql("select customer_id_hashed, email_address_hash, customer_zip_code from BL_Rewards_Master limit 100;",con=BL_engine)
for col in df.columns.tolist():
    print(col,df[col].apply(type).unique())

customer_id_hashed [<class 'str'>]
email_address_hash [<class 'str'>]
customer_zip_code [<class 'str'> <class 'NoneType'>]

# Initiate Table

In [7]:
pd.read_sql("desc BL_Rewards_Master;",con=BL_engine)

                            Field           Type Null  Key Default Extra
0              customer_id_hashed    varchar(64)  YES  MUL    None
1              email_address_hash    varchar(64)  YES  MUL    None
2                    sign_up_date           date  YES  MUL    None
3                 sign_up_channel    varchar(64)  YES  MUL    None
4                sign_up_location        int(11)  YES  MUL    None
5               customer_zip_code    varchar(16)  YES  MUL    None
6               transaction_count        int(11)  YES         None
7              transaction_amount  decimal(10,2)  YES         None
8          experian_multi_cluster    varchar(32)  YES         None
9           experian_demo_cluster    varchar(32)  YES         None
10               purchase_channel    varchar(32)  YES         None
11    email_unsubscribe_indicator     varchar(2)  YES         None
12  email_undeliverable_indicator     varchar(2)  YES         None
13                      file_path   varchar(256)  YES  MUL    None

In [8]:
last_date_available_master=pd.read_sql("select max(sign_up_date) from BL_Rewards_Master;",con=BL_engine)
last_date_available_master

  max(sign_up_date)
0        2019-12-28

In [10]:
df_historical_master=pd.read_sql("select customer_id_hashed,email_address_hash,sign_up_date,\
sign_up_channel,sign_up_location,customer_zip_code from BL_Rewards_Master;",con=BL_engine)
print("df_historical_master.shape",df_historical_master.shape)
print("df_historical_master['sign_up_date'].min()",df_historical_master['sign_up_date'].min())
print("df_historical_master['sign_up_date'].max()",df_historical_master['sign_up_date'].max())
df_historical_master.head(2)

df_historical_master.shape (32429970, 6)
df_historical_master['sign_up_date'].min() 2009-08-04
df_historical_master['sign_up_date'].max() 2019-12-28

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,2016-02-10,STORE,5309.0,36081
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,2018-09-22,STORE,4061.0,93722

In [11]:
print(df_historical_master['sign_up_channel'].unique())

['STORE' 'ONLINE']

In [12]:
df_sign_up_channel_location=df_historical_master[['sign_up_channel','sign_up_location']].drop_duplicates()
df_sign_up_channel_location.shape

(29876, 2)

In [17]:
df_historical_master['Registration_Online']=np.where(df_historical_master['sign_up_channel']=="ONLINE",1,
                                                    np.where(df_historical_master['sign_up_channel']=="STORE",0,9)
                                                    )

In [19]:
df_historical_master.head(2)

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,Registration_Online
0,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,4a1f9ca814426d0168b4ee9ac037be04151dff5631d78a...,2016-02-10,STORE,5309.0,36081,0
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,2018-09-22,STORE,4061.0,93722,0

In [21]:
for col in df_historical_master.columns.tolist():
    print(col,df_historical_master[col].apply(type).unique())

customer_id_hashed [<class 'str'>]
email_address_hash [<class 'str'>]
sign_up_date [<class 'datetime.date'>]
sign_up_channel [<class 'str'>]
sign_up_location [<class 'float'>]
customer_zip_code [<class 'str'> <class 'NoneType'>]
Registration_Online [<class 'int'>]

In [25]:
df_historical_master.shape

(32429970, 7)

# Create tables

In [23]:
import pymysql.cursors
engine_pymysql_db_BL = pymysql.connect(host='localhost',user='jian',
                         password='JubaPlus-2017',db='BigLots',
                         charset='utf8mb4',cursorclass=pymysql.cursors.DictCursor)

In [24]:
def create_BL_Pred_CRM_table():
    with engine_pymysql_db_BL.cursor() as cur:
        cur.execute("DROP TABLE IF EXISTS Pred_CRM_table")
        cur.execute("CREATE TABLE Pred_CRM_table \
        (\
        customer_id_hashed char(64), \
        email_address_hash char(64), \
        sign_up_date Date, \
        sign_up_channel varchar(64), \
        sign_up_location int, \
        customer_zip_code varchar(16), \
        Registration_Online int\
        );")
    print("1:An empty TABLE Pred_CRM_table has been created.",datetime.datetime.now())
 
 
create_BL_Pred_CRM_table()

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:323: Warning: (1051, "Unknown table 'BigLots.Pred_CRM_table'")
  self._do_get_result()

1:An empty TABLE Pred_CRM_table has been created. 2020-01-05 23:16:01.424186

In [26]:
df_historical_master.to_sql("Pred_CRM_table",if_exists='replace', con=BL_engine, index=False,chunksize=300000,
                    dtype={
                        'customer_id_hashed':sqlalchemy.types.VARCHAR(length=64),
                        'email_address_hash':sqlalchemy.types.VARCHAR(length=64),
                        'sign_up_date':sqlalchemy.Date(), 
                        'sign_up_channel':sqlalchemy.types.VARCHAR(length=64),
                        'sign_up_location':sqlalchemy.types.INTEGER(),
                        'customer_zip_code':sqlalchemy.types.VARCHAR(length=16),
                        'Registration_Online':sqlalchemy.types.INTEGER()
                    })

print(datetime.datetime.now(),"Done to sql")

2020-01-05 23:45:52.604802 Done to sql