In [1]:
# ID Level spec from Yoram, modified on 20191115
# Email 20191115 6:30 p.m.
import pandas as pd
import numpy as np
import datetime
import os
import paramiko
import sqlalchemy
import logging
import glob
import gc
logging.basicConfig(filename='/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Predictive_Model_Building/predictive_dataset_building.log',level="INFO")

print(datetime.datetime.now())
print(os.getcwd())

# IDs to include since 2018Q1

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

2019-12-31 10:23:39.697742
/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Predictive_Model_Building

In [2]:
pd.read_sql("show tables;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

   Tables_in_BigLots
0        BL_POS_Item
1    BL_POS_Subclass
2  BL_Rewards_Master

In [3]:
start_date_sign_up_sql="'2018-02-04'"
str_start_date='2018-02-04'
df_master_ids=pd.read_sql("select customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code \
from BL_Rewards_Master where sign_up_date >=%s;" % start_date_sign_up_sql,con=BL_engine)

In [4]:
print(df_master_ids.shape,df_master_ids['customer_id_hashed'].nunique())

(12293796, 14) 12293796

In [5]:
df_id_list=df_master_ids[['customer_id_hashed','sign_up_date']].drop_duplicates()
df_id_list['sign_up_date']=df_id_list['sign_up_date'].astype(str)

In [6]:
# POS from each weekly file due to memory space

In [7]:
def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root, file)

In [8]:
import glob
weekly_subclass=glob.glob("/home/jian/BigLots/hist_daily_data_subclasslevel/*.txt")
weekly_subclass.sort()
weekly_subclass=[x for x in weekly_subclass if x.split("/MediaStormDailySales_week_ending_")[1][:10]>=str_start_date]

weekly_subclass_2=list(recursive_file_gen("/home/jian/BigLots/2018_by_weeks/"))
weekly_subclass_2=[x for x in weekly_subclass_2 if x[-4:]==".txt" and "dailysales" in x.lower()]
weekly_subclass_2=[x for x in weekly_subclass_2 if x.split("ks/MediaStorm_")[1][:10]>"2018-06-09" and x.split("ks/MediaStorm_")[1][:10]<"2018-08-11"]
weekly_subclass_2.sort()
weekly_subclass_2

weekly_subclass=weekly_subclass+weekly_subclass_2
del weekly_subclass_2

In [9]:
weekly_item=glob.glob("/home/jian/BigLots/hist_daily_data_itemlevel_decompressed/*.txt")
weekly_item.sort()
weekly_item_2=list(recursive_file_gen("/home/jian/BigLots/"))
weekly_item_2=[x for x in weekly_item_2 if x[-4:]==".txt" and "dailysales" in x.lower() and "/MediaStorm_" in x]
weekly_item_2=[x for x in weekly_item_2 if x.split("/MediaStorm_")[1][:10]>="2019-02-16"]
weekly_item_2.sort()

weekly_item=weekly_item+weekly_item_2
del weekly_item_2

In [10]:
all_weekly_sales_files=weekly_subclass+weekly_item
samplerows=None
print(len(all_weekly_sales_files))

98

In [11]:
df_department_mapping=pd.read_csv("/home/jian/BigLots/static_files/ProductTaxonomy/MediaStormProductTaxonomy20191201-133313-648.txt",dtype=str,sep="|")
df_department_mapping=df_department_mapping[['department_id','class_code_id','subclass_id']].drop_duplicates()
# checked combine (department_id,division_id) count = department_id nunique

In [13]:
i_counter=0

df_total_by_trans=pd.DataFrame()
df_total_by_id_depart_trans=pd.DataFrame()

for file in all_weekly_sales_files:
    try:
        df=pd.read_csv(file,dtype=str,nrows=samplerows,sep="|",
                       usecols=['location_id','transaction_dt','transaction_id','customer_id_hashed',
                                'class_code_id','subclass_id','subclass_transaction_units','subclass_transaction_amt'])
        df=df.rename(columns={"subclass_transaction_units":"units",'subclass_transaction_amt':"sales"})
    except:
        df=pd.read_csv(file,dtype=str,nrows=samplerows,sep="|",
                       usecols=['location_id','transaction_dt','transaction_id','customer_id_hashed',
                                'class_code_id','subclass_id','item_transaction_units','item_transaction_amt'])
        df=df.rename(columns={"item_transaction_units":"units",'item_transaction_amt':"sales"})
    df['sales']=df['sales'].astype(float)
    df['units']=df['units'].astype(int)
    
    
    df=pd.merge(df,df_id_list,on="customer_id_hashed",how="inner")  
    df=df[df['transaction_dt']>=df['sign_up_date']]

    df=pd.merge(df,df_department_mapping,on=['class_code_id','subclass_id'])
    
    df_sales=df.groupby(["customer_id_hashed","location_id","transaction_dt","transaction_id"])['units','sales'].sum().reset_index()
    
    # df_sales['InStore_Trans']=np.where(df_sales['location_id']=="6990",0,1)
    # df_sales['Ecomerce_Trans']=np.where(df_sales['location_id']=="6990",1,0)
    
    df_department=df.groupby(["customer_id_hashed","location_id","transaction_dt","department_id"])['transaction_id'].nunique().to_frame().reset_index()
    
    i_counter+=1
    print(i_counter,datetime.datetime.now())
    
    df_total_by_trans=df_total_by_trans.append(df_sales)
    df_total_by_id_depart_trans=df_total_by_id_depart_trans.append(df_department)

1 2019-12-31 10:41:11.384253
2 2019-12-31 10:42:40.747482
3 2019-12-31 10:44:03.835741
4 2019-12-31 10:45:35.550707
5 2019-12-31 10:47:15.095852
6 2019-12-31 10:48:33.076661
7 2019-12-31 10:49:57.106644
8 2019-12-31 10:51:14.820585
9 2019-12-31 10:52:52.138885
10 2019-12-31 10:54:34.728789
11 2019-12-31 10:55:48.135978
12 2019-12-31 10:57:11.134356
13 2019-12-31 10:58:40.362971
14 2019-12-31 10:59:56.683807
15 2019-12-31 11:01:19.517379
16 2019-12-31 11:02:51.689899
17 2019-12-31 11:04:12.507038
18 2019-12-31 11:05:30.726710
19 2019-12-31 11:06:53.028170
20 2019-12-31 11:08:14.800841
21 2019-12-31 11:09:38.915679
22 2019-12-31 11:11:49.526774
23 2019-12-31 11:13:44.094742
24 2019-12-31 11:15:04.189221
25 2019-12-31 11:16:23.464548
26 2019-12-31 11:17:47.612303
27 2019-12-31 11:19:21.158009
28 2019-12-31 11:21:02.071489
29 2019-12-31 11:22:47.420049
30 2019-12-31 11:24:59.537976
31 2019-12-31 11:26:40.655893
32 2019-12-31 11:28:18.983291
33 2019-12-31 11:29:53.478376
34 2019-12-31 11:31:49.979843
35 2019-12-31 11:33:45.527893
36 2019-12-31 11:35:21.638807
37 2019-12-31 11:36:56.105879
38 2019-12-31 11:38:34.348680
39 2019-12-31 11:40:16.034287
40 2019-12-31 11:42:05.416424
41 2019-12-31 11:44:07.353978
42 2019-12-31 11:46:38.992154
43 2019-12-31 11:49:08.484828
44 2019-12-31 11:51:50.107775
45 2019-12-31 11:54:32.697322
46 2019-12-31 11:57:36.990674
47 2019-12-31 11:59:54.991985
48 2019-12-31 12:01:44.490573
49 2019-12-31 12:03:32.756247
50 2019-12-31 12:05:38.819773
51 2019-12-31 12:07:40.069568
52 2019-12-31 12:09:26.992158
53 2019-12-31 12:11:16.248058
54 2019-12-31 12:13:10.327296
55 2019-12-31 12:15:05.899832
56 2019-12-31 12:17:11.569629
57 2019-12-31 12:19:16.218617
58 2019-12-31 12:21:18.051410
59 2019-12-31 12:23:21.047781
60 2019-12-31 12:25:22.027603
61 2019-12-31 12:27:50.645179
62 2019-12-31 12:30:09.582741
63 2019-12-31 12:32:17.524306
64 2019-12-31 12:34:12.864938
65 2019-12-31 12:36:19.934781
66 2019-12-31 12:38:21.658491
67 2019-12-31 12:40:20.942076
68 2019-12-31 12:42:28.799067
69 2019-12-31 12:44:37.083417
70 2019-12-31 12:46:43.541797
71 2019-12-31 12:48:50.713938
72 2019-12-31 12:50:54.761836
73 2019-12-31 12:53:07.246402
74 2019-12-31 12:55:24.993107
75 2019-12-31 12:58:02.229993
76 2019-12-31 13:00:36.912689
77 2019-12-31 13:02:59.404324
78 2019-12-31 13:05:23.668814
79 2019-12-31 13:07:38.917015
80 2019-12-31 13:09:58.927584
81 2019-12-31 13:12:24.373557
82 2019-12-31 13:14:49.210608
83 2019-12-31 13:16:49.731642
84 2019-12-31 13:19:10.403927
85 2019-12-31 13:21:30.492341
86 2019-12-31 13:24:13.616800
87 2019-12-31 13:26:55.415307
88 2019-12-31 13:29:16.227782
89 2019-12-31 13:32:04.188652
90 2019-12-31 13:34:35.496329
91 2019-12-31 13:37:22.242201
92 2019-12-31 13:40:13.209995
93 2019-12-31 13:43:10.118090
94 2019-12-31 13:46:10.135450
95 2019-12-31 13:50:09.381995
96 2019-12-31 13:53:55.724396
97 2019-12-31 13:57:50.893540
98 2019-12-31 14:02:09.288626

In [17]:
print(df_total_by_id_depart_trans.shape)
df_total_by_id_depart_trans.head(2)

(95024764, 5)

,customer_id_hashed,location_id,transaction_dt,department_id,transaction_id
0,00007ec4ed190457b3f336327cdaa39e98bb818c6ef907...,4393,2018-02-08,110,1
1,00007ec4ed190457b3f336327cdaa39e98bb818c6ef907...,4393,2018-02-08,410,1

In [18]:
print(df_total_by_trans.shape)
df_total_by_trans.head(2)

(34546900, 6)

,customer_id_hashed,location_id,transaction_dt,transaction_id,units,sales
0,00007ec4ed190457b3f336327cdaa39e98bb818c6ef907...,4393,2018-02-08,3696,3,5.65
1,0000e30ee51a30cb60121a4e47e7750a506ec8982c401c...,5292,2018-02-05,6292,1,8.00

In [20]:
df_total_by_id_depart_trans=df_total_by_id_depart_trans.sort_values(["customer_id_hashed","transaction_dt"]).rename(columns={"transaction_id":"transaction_count"})

In [21]:
df_total_by_trans.to_csv("./df_total_trans_by_id_long_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
df_total_by_id_depart_trans.to_csv("./df_total_by_id_depart_trans_long_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
gc.collect()

8

In [23]:
df_total_by_id_depart_trans.head(2)

,customer_id_hashed,location_id,transaction_dt,department_id,transaction_count
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-09-22,110,1
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-09-22,130,1

In [24]:
df_total_by_id_depart_trans=df_total_by_id_depart_trans.groupby(['customer_id_hashed','department_id'])['transaction_count'].sum().to_frame().reset_index()
df_total_by_id_depart_trans=df_total_by_id_depart_trans.pivot(index="customer_id_hashed",columns="department_id",values="transaction_count")
df_total_by_id_depart_trans=df_total_by_id_depart_trans.reset_index()
df_total_by_id_depart_trans=df_total_by_id_depart_trans.fillna(0)

In [25]:
df_total_by_id_depart_trans.to_csv("./df_total_by_id_depart_trans_wide_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
gc.collect()

8

In [27]:
df_total_by_id_depart_trans

department_id,customer_id_hashed,108,109,110,111,114,115,120,130,140,...,530,540,550,560,608,610,612,615,710,800
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,1.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
1,000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd07...,0.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0000095241ba6a94ec0d4b481d2fafd22598cf8cad3399...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,000009e0ff428cd05649d579c6b188ad41635b662f79f5...,5.0,1.0,10.0,0.0,9.0,0.0,5.0,3.0,4.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8789937,fffff4c45bf7488d7dbdefa4153d50df18a1cbae49fe46...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
8789938,fffff4f2a96ce6f3f40c923e7a467425603a9d3b52bbaa...,0.0,0.0,3.0,3.0,5.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8789939,fffff80e3639be44b2527e8cb2c4d912da000ae7ae11b2...,0.0,0.0,1.0,1.0,2.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8789940,fffffa25c037a63d3f22039021725f20a1515393d74a62...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8789941,fffffdd86393c459f4f475c08fe9b1d84e8468e240aa01...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
df_total_by_id_depart_trans['customer_id_hashed'].nunique(),df_total_by_id_depart_trans.shape

(8789942, (8789942, 54))

In [29]:
df_total_by_trans.shape

(34546900, 6)

In [31]:
df_total_by_trans['customer_id_hashed'].nunique()

8789942

In [32]:
df_total_by_trans.head(3)

,customer_id_hashed,location_id,transaction_dt,transaction_id,units,sales
0,00007ec4ed190457b3f336327cdaa39e98bb818c6ef907...,4393,2018-02-08,3696,3,5.65
1,0000e30ee51a30cb60121a4e47e7750a506ec8982c401c...,5292,2018-02-05,6292,1,8.00
2,00010d2d98db3cdafc04cefe7ebf18f48454ea9432f03b...,4583,2018-02-04,9755,2,9.95