In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import gc
print(datetime.datetime.now())
os.getcwd()

2020-01-02 11:11:20.983668

'/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Predictive_Model_Building'

In [2]:
import sqlalchemy


BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [3]:
start_date_sign_up_sql="'2018-02-04'"
str_start_date='2018-02-04'
df_master_ids=pd.read_sql("select customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code from BL_Rewards_Master where sign_up_date >=%s;" % start_date_sign_up_sql,con=BL_engine)
del df_master_ids['file_path']
gc.collect()

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [66]:
df_master_ids=df_master_ids[['customer_id_hashed','email_address_hash','sign_up_date','sign_up_channel','sign_up_location','customer_zip_code']]

In [67]:
print(df_master_ids.shape,df_master_ids['customer_id_hashed'].nunique())

(12293796, 6) 12293796

In [68]:
gc.collect()

118

In [5]:
df_id_list=df_master_ids[['customer_id_hashed','sign_up_date']].drop_duplicates()
df_id_list['sign_up_date']=df_id_list['sign_up_date'].astype(str)

In [49]:
pd.options.display.max_columns=111
df_master_ids.head(2)

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,transaction_count,transaction_amount,experian_multi_cluster,experian_demo_cluster,purchase_channel,email_unsubscribe_indicator,email_undeliverable_indicator
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,2018-09-22,STORE,4061.0,93722,NaN,NaN,NaN,NaN,None,N,N
1,000004f194afdc2c2c26365032ea084974396ee79a7d37...,0ccd11d3b25023903ea6ed1c9a0e6d44c2965d55eaf8e2...,2019-05-16,ONLINE,6990.0,None,NaN,NaN,NaN,NaN,None,N,N

In [6]:
# Up to here

In [7]:
df_POS_long_total=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Predictive_Model_Building/df_total_trans_by_id_long_JL_2019-12-31.csv",dtype=str)
print(df_POS_long_total.shape,df_POS_long_total['transaction_dt'].min(),df_POS_long_total['transaction_dt'].max())

(34546900, 6) 2018-02-04 2019-12-21

In [12]:
df_POS_long_total['units']=df_POS_long_total['units'].astype(int)
df_POS_long_total['sales']=df_POS_long_total['sales'].astype(float)

df_POS_long_total.head(2)

print(df_POS_long_total[['customer_id_hashed','location_id','transaction_dt','transaction_id']].drop_duplicates().shape)

(34546900, 4)

In [24]:
print(df_POS_long_total['customer_id_hashed'].nunique())

8789942

In [30]:
agg_func={"transaction_dt":"count","units":"sum","sales":"sum"}
df_LTV_1=df_POS_long_total.groupby("customer_id_hashed").agg(agg_func).reset_index()
df_LTV_1=df_LTV_1.rename(columns={"transaction_dt":"transactions"})

'''
LTV:  Total transactions since registration
LTV:  Total Items since registration
LTV:  Total Amount since registration
LTV:  Total Trans in-store
LTV:  Total different stores
LTV:  Total Trans BL.com ecommerce


'''

,customer_id_hashed,transaction_dt,units,sales
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,6,40,229.05
1,000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd07...,5,31,173.20
2,000007eccbfdc528a745aea90d34404b4fae9fbad2525f...,1,9,15.44

In [33]:
df_LTV_2=df_POS_long_total[df_POS_long_total['location_id']=="6990"].groupby("customer_id_hashed")['transaction_id'].count().to_frame().reset_index().rename(columns={"transaction_id":"online_trans"})
df_LTV_3=df_POS_long_total[df_POS_long_total['location_id']!="6990"].groupby("customer_id_hashed")['transaction_id'].count().to_frame().reset_index().rename(columns={"transaction_id":"instore_trans"})

df_LTV=pd.merge(df_LTV_1,df_LTV_2,on="customer_id_hashed",how="left")
df_LTV=pd.merge(df_LTV,df_LTV_3,on="customer_id_hashed",how="left")
print(df_LTV.shape)

(8789942, 6)

In [35]:
del df_LTV_1
del df_LTV_2
del df_LTV_3
gc.collect()

0

In [47]:
gc.collect()

0

In [46]:
df_LTV_4=df_POS_long_total[["customer_id_hashed",'location_id']].drop_duplicates()
df_LTV_4=df_LTV_4.groupby(['customer_id_hashed'])['location_id'].apply(list).to_frame().reset_index().rename(columns={"location_id":"store_list"})

In [42]:
df_LTV_4['location_id'][0].tolist()

['4393']

In [51]:
print(df_LTV_4.shape)
gc.collect()

df_LTV_4.head(2)

(8789942, 2)

                                  customer_id_hashed    store_list
0  000001dadc0265bf9d250566d74e0006323f18b5826641...  [4061, 4682]
1  000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd07...        [1216]

In [52]:
df_LTV=pd.merge(df_LTV,df_LTV_4,on="customer_id_hashed",how="left")
del df_LTV_4
gc.collect()

0

In [64]:
df_LTV['store_count']=df_LTV['store_list'].apply(len)
df_LTV.head(2)

,customer_id_hashed,transactions,units,sales,online_trans,instore_trans,store_list,store_count
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,6,40,229.05,0.0,6.0,"[4061, 4682]",2
1,000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd07...,5,31,173.20,0.0,5.0,[1216],1

In [10]:
df_POS_wide_department=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q4/Predictive_Model_Building/df_total_by_id_depart_trans_wide_JL_2019-12-31.csv",dtype=str)
print(df_POS_wide_department.shape)
df_POS_wide_department.head(2)

(8789942, 54)

,customer_id_hashed,108,109,110,111,114,115,120,130,140,...,530,540,550,560,608,610,612,615,710,800
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,1.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
1,000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd07...,0.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
'''
for col in df_POS_wide_department.columns.tolist()[1:]:
    df_POS_wide_department[col]=df_POS_wide_department[col].astype(float).astype(int)
    print(col, df_POS_wide_department[col].sum())
'''

'\nfor col in df_POS_wide_department.columns.tolist()[1:]:\n    df_POS_wide_department[col]=df_POS_wide_department[col].astype(float).astype(int)\n    print(col, df_POS_wide_department[col].sum())\n'

In [69]:
df_master_ids.head(2)

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,2018-09-22,STORE,4061.0,93722
1,000004f194afdc2c2c26365032ea084974396ee79a7d37...,0ccd11d3b25023903ea6ed1c9a0e6d44c2965d55eaf8e2...,2019-05-16,ONLINE,6990.0,None

In [70]:
print(datetime.datetime.now())
df_master_ids=pd.merge(df_master_ids,df_LTV,on="customer_id_hashed",how="left")
print(datetime.datetime.now())
df_master_ids=pd.merge(df_master_ids,df_POS_wide_department,on="customer_id_hashed",how="left")
print(datetime.datetime.now())
df_master_ids.head(2)

2020-01-02 15:47:00.995801
2020-01-02 15:47:53.843146
2020-01-02 15:49:06.753983

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,transactions,units,sales,online_trans,instore_trans,store_list,store_count,108,109,110,111,114,115,120,130,140,150,160,170,210,230,250,270,310,320,330,340,350,351,352,353,354,355,360,361,362,363,364,365,366,367,370,410,425,470,480,510,520,521,526,530,540,550,560,608,610,612,615,710,800
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,2018-09-22,STORE,4061.0,93722,6.0,40.0,229.05,0.0,6.0,"[4061, 4682]",2.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
1,000004f194afdc2c2c26365032ea084974396ee79a7d37...,0ccd11d3b25023903ea6ed1c9a0e6d44c2965d55eaf8e2...,2019-05-16,ONLINE,6990.0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df_master_ids.shape

(12293796, 66)

In [77]:
del df_output_table_1
gc.collect()

0

In [78]:
df_master_ids.to_csv("./output/table_1.csv",index=False)
gc.collect()

2397

In [81]:
df_department_long=pd.read_csv("./df_total_by_id_depart_trans_long_JL_2019-12-31.csv",nrows=10)
df_department_long

,customer_id_hashed,location_id,transaction_dt,department_id,transaction_count
0,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-09-22,110,1
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-09-22,130,1
2,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-09-22,140,1
3,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-09-22,170,1
4,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-09-22,360,1
5,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-09-22,710,1
6,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-10-27,108,1
7,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-10-27,120,1
8,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-10-27,363,1
9,000001dadc0265bf9d250566d74e0006323f18b5826641...,4061,2018-10-27,710,1

# Table 2

In [80]:
# Since also need item department, go to raw data file per week and rolling to choose top 1 and tail 5 transactions

,customer_id_hashed,location_id,transaction_dt,transaction_id,units,sales
0,00007ec4ed190457b3f336327cdaa39e98bb818c6ef907...,4393,2018-02-08,3696,3,5.65
1,0000e30ee51a30cb60121a4e47e7750a506ec8982c401c...,5292,2018-02-05,6292,1,8.00