In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
import datetime
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [2]:
pd.read_sql("show tables;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

        Tables_in_BigLots
0             BL_POS_Item
1         BL_POS_Subclass
2       BL_Rewards_Master
3     Pred_Activity_BL_id
4     Pred_Activity_GU_id
5          Pred_CRM_table
6   Pred_ExposureV2_BL_id
7   Pred_ExposureV2_GU_id
8     Pred_Exposure_BL_id
9     Pred_Exposure_GU_id
10    Pred_POS_Department
11                   test

In [3]:
df_sample_impr_click=pd.read_sql("select * from Pred_ExposureV2_BL_id limit 100",con=BL_engine)
df_sample_impr_click.head(2)

,User_ID,Customer_Link,customer_id_hashed,date_est,Advertiser_ID,Campaign_ID,Ad_ID,Site_ID,Placement_ID,impressions,clicks,week_end_dt
0,AMsySZY--7hn008j6fjiCy11vt3q,XY1468WOEd7fhcs0lsVomTsliofe46CbjVTOH8T9LTTzyBUM8,528b3251826564054555cac167499c6752e084b177528d...,2018-05-23,8095847,20826194,414765814,3446099,217843580,12,1,2018-05-26
1,AMsySZY--7hn008j6fjiCy11vt3q,XY1468WOEd7fhcs0lsVomTsliofe46CbjVTOH8T9LTTzyBUM8,528b3251826564054555cac167499c6752e084b177528d...,2018-05-23,8095847,20836313,414888750,1234535,215929001,0,1,2018-05-26

In [4]:
df_total_impr_click=pd.read_sql("select customer_id_hashed, sum(impressions) as total_impressions, sum(clicks) as total_clicks from Pred_ExposureV2_BL_id group by customer_id_hashed",con=BL_engine)
df_total_impr_click.shape

(4121749, 3)

In [7]:
date_max=pd.read_sql("select max(date_est) as max_date from Pred_ExposureV2_BL_id",con=BL_engine)
date_max_str="'"+str(date_max.values[0][0])+"'"
date_max_str

"'2019-12-21'"

In [8]:
last_week_start="'2019-12-15'"
last_week_end="'2019-12-21'"

df_lastweek_impr_click=pd.read_sql("select customer_id_hashed, sum(impressions) as lastweek_impressions, sum(clicks) as lastweek_clicks from Pred_ExposureV2_BL_id \
where date_est between %s and %s group by customer_id_hashed;"%(last_week_start,last_week_end),con=BL_engine)

In [9]:
df_impr_click_to_use=pd.merge(df_total_impr_click,df_lastweek_impr_click,on="customer_id_hashed",how="left")
df_impr_click_to_use=df_impr_click_to_use.fillna(0)

In [10]:
writer=pd.ExcelWriter("./BL_data_sample_imprs_clicks_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_sample_impr_click.to_excel(writer,"impr_click_stored_sample",index=False)
df_impr_click_to_use.head(100).to_excel(writer,"impr_click_to_use",index=False)
writer.save()