In [42]:
import pandas as pd
import datetime
import numpy as np
import glob
import os
os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2018_Q4/URL_Pages'

In [43]:
sp_list=sorted(glob.glob('/home/jian/Projects/Big_Lots/Analysis/2018_Q4/URL_Pages/DCM_From_Sp/*.gz'))
len(sp_list)

31

In [44]:
DMA_data=pd.DataFrame()
for file_path in sp_list:
    df=pd.read_table(file_path,delimiter='\t',dtype=str)
    df['Event Time']=df['Event Time'].astype(int)
    df['Event Time']=df['Event Time'].apply(lambda x: datetime.datetime.utcfromtimestamp(x/1000000).strftime('%Y-%m-%d %H:%M:%S'))
    DMA_data=DMA_data.append(df)
DMA_data=DMA_data.sort_values('Event Time')

In [45]:
DMA_data_by_URL=DMA_data.groupby(['Activity ID'])['User ID'].count().to_frame().reset_index().rename(columns={"User ID":"PageViews"})
DMA_data_by_URL=DMA_data_by_URL.sort_values('PageViews',ascending=False)
DMA_data_by_URL.to_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/URL_Pages/BL_PageViews_From_DCM_by_Activity_ID_JL_"+str(datetime.datetime.now().date())+".csv")

In [46]:
DMA_data.head(2)

,Event Time,User ID,Advertiser ID,Campaign ID,Ad ID,Rendering ID,Creative Version,Site ID (DCM),Placement ID,Country Code,...,DBM Media Fee 4 (Advertiser Currency),DBM Media Fee 5 (USD),DBM Media Fee 5 (Partner Currency),DBM Media Fee 5 (Advertiser Currency),DBM Data Fees (USD),DBM Data Fees (Partner Currency),DBM Data Fees (Advertiser Currency),DBM Billable Cost (USD),DBM Billable Cost (Partner Currency),DBM Billable Cost (Advertiser Currency)
47,2018-12-01 06:03:46,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,...,0,0,0,0,0,0,0,0,0,0
91,2018-12-01 06:03:58,AMsySZYqLryRwbqGFc5a7yZRbVxm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,...,0,0,0,0,0,0,0,0,0,0