In [1]:

import pandas as pd
import numpy as np
import datetime
import os
import glob

In [2]:
daily_data=pd.read_table("/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-12-08/MediaStormDailySales20181211-115638-766.txt",dtype=str,sep="|",usecols=['location_id','transaction_dt','customer_id_hashed'])
total_rewards_members=len(daily_data['customer_id_hashed'].unique().tolist())-1

In [3]:
total_rewards_members

1830986

In [4]:
def count_unique(x):
    y=len(set(x))
    return y

In [5]:
unique_shoppers_by_store=daily_data.groupby(['location_id'])['customer_id_hashed'].apply(count_unique).to_frame().reset_index()

In [6]:
unique_shoppers_by_store.shape

(1421, 2)

In [7]:
unique_shoppers_by_store.head(5)

  location_id  customer_id_hashed
0           1                1581
1        1001                 795
2        1003                1331
3        1005                 908
4        1006                1095

In [8]:
unique_shoppers_by_store['customer_id_hashed'].mean()

1327.0197044334975

In [11]:
daily_data_sample=pd.read_table("/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-12-08/MediaStormDailySales20181211-115638-766.txt",dtype=str,sep="|",nrows=10)
daily_data_sample

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,subclass_transaction_units,subclass_transaction_amt
0,1408,2018-12-03,7690,1e2f77cbafe06ae017e87529164fd9898a7698a1424fc5...,24002,8,2,00000000000004.0000
1,5217,2018-12-04,202,c94e7df0657fd188ef5be2123cd66d5a2f6494f4a6bbb8...,15003,1,1,00000000000005.0800
2,1706,2018-12-08,527,NaN,33008,4,2,00000000000010.0000
3,1493,2018-12-07,8514,e856258b4216d1cd3a5d236745b4eec069243284dd1afa...,31004,6,0,-00000000000005.0000
4,472,2018-12-08,9289,e3f43a8e4109eba28ff3239ff4bb7f93123dc23f6d4925...,11101,4,6,00000000000005.2800
5,474,2018-12-05,9996,NaN,48001,3,1,00000000000005.0000
6,4449,2018-12-08,3549,d541e6200cc8082060b18ad737638fdbb10c96dd047e78...,11012,1,1,00000000000001.0000
7,4081,2018-12-06,7669,52911c9b88c1e3403e32ba195e0b3488c42ebe7bbd8592...,11007,1,1,00000000000001.2500
8,4292,2018-12-08,5154,0c0113addb455d77c2335acad20bf7469b74be3712226d...,12005,1,1,00000000000003.0000
9,571,2018-12-07,3595,a8d3b3df8b082eb025cbfa1bc48546a18b71dabe0fc5f0...,11404,4,8,00000000000078.0000