In [1]:
import pandas as pd
import datetime
import glob
import os
import numpy as np
print(os.getcwd())
print(datetime.datetime.now())

/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing
2020-05-15 17:05:22.133492

In [40]:
list_MID_mapping[0]

'/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/Mobile_ID_mapping/CL_BigLots_Control_seg_3_nonfurn_visitor_20200506_125127_0000.psv.gz'

In [41]:
df_after_upload=pd.read_csv('/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/Mobile_ID_mapping/CL_BigLots_Control_seg_3_nonfurn_visitor_20200506_125127_0000.psv.gz',
                           dtype=str,sep="|",compression="gzip")
df_after_upload.shape

(209014, 2)

In [42]:
df_before_upload=pd.read_csv('/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/sliced_ids_by_segments/Control_seg_3_nonfurn_visitor.csv',
                           dtype=str)
df_before_upload.shape

(208580, 2)

In [2]:
list_MID_mapping=glob.glob("/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/Mobile_ID_mapping/*.psv.gz")
df_all_MID_mapping=pd.DataFrame()
for file in list_MID_mapping:   
    df=pd.read_csv(file,dtype=str,sep="|",compression="gzip")
    print(os.path.basename(file),df.shape)
    
    df=df[df['Customer_Link']!="UNMATCHED"]
    df_all_MID_mapping=df_all_MID_mapping.append(df)

CL_BigLots_Control_seg_3_nonfurn_visitor_20200506_125127_0000.psv.gz (209014, 2)
CL_BigLots_Control_seg_2_BL_vacinity_20200506_125123_0000.psv.gz (188331, 2)
CL_BigLots_Test_Phase1_seg_3_nonfurn_visitor_20200506_125118_0000.psv.gz (2438789, 2)
CL_BigLots_Test_Phase1_seg_2_BL_vacinity_20200506_125119_0000.psv.gz (941686, 2)
CL_BigLots_Control_seg_1_BL_visitor_20200506_125120_0000.psv.gz (226718, 2)
CL_BigLots_Test_Phase1_seg_1_BL_visitor_20200506_125118_0000.psv.gz (1813679, 2)
CL_BigLots_Test_Phase1_seg_4_grocery_visitor_20200506_125130_0000.psv.gz (717394, 2)
CL_BigLots_Control_seg_4_grocery_visitor_20200506_124917_0000.psv.gz (215200, 2)

In [43]:
df_all_MID_mapping.head(2)

,Customer_Link,group
3,XY1468ZMmHorxsaQEtWSi3mu754Pv6tCVkIrI7ws_2aZtYPpQ,Control_seg_3_nonfurn_visitor
4,XY1468m9CtSDGkmx778U3C0GxuxFuhzhBCSgOQpDkqwenKpls,Control_seg_3_nonfurn_visitor

In [4]:
df_summary_of_matched_id_count=df_all_MID_mapping.groupby("group")['Customer_Link'].count().to_frame().reset_index().rename(columns={"Customer_Link":"matched_id_counts"})
df_summary_of_matched_id_nunique=df_all_MID_mapping.groupby("group")['Customer_Link'].nunique().to_frame().reset_index().rename(columns={"Customer_Link":"matched_id_nunique"})
df_summary_of_matched_id=pd.merge(df_summary_of_matched_id_count,df_summary_of_matched_id_nunique,on="group",how="outer")
df_summary_of_matched_id

                               group  matched_id_counts  matched_id_nunique
0           Control_seg_1_BL_visitor             148181              148031
1          Control_seg_2_BL_vacinity             116961              116923
2      Control_seg_3_nonfurn_visitor             111088              111031
3      Control_seg_4_grocery_visitor              83827               83788
4       Test_Phase1_seg_1_BL_visitor            1183468             1174588
5      Test_Phase1_seg_2_BL_vacinity             586171              584856
6  Test_Phase1_seg_3_nonfurn_visitor            1296452             1288883
7  Test_Phase1_seg_4_grocery_visitor             278817              278454

In [5]:
df_BL_id_mapping=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Mapping_Files/all_LR_returned/CL_BigLots_BL_mapping_file_2020Q1_JL_2020-05-13_20200514_172449_0000.psv.gz",
                            dtype=str,sep="|",compression="gzip")
df_BL_id_mapping.head(2)

,Customer_Link,customer_id_hashed,segment
0,XY1468JYDucT7nAHqbP0nTwx2g2YXFd7oE-Ns_ksNkqyDyJrw,fb06e28fae22be4687038ceb72eed543b7d7af4a6cbbfc...,T_Legacy_Lapsed1318_L_P_Above50K_SingleFamily_...
1,Xi1468LHmoTx2mIkTbbURLh3KFxI3Hmvm6WQhQTQlSj8ha...,65abd0f8c70be4af489bee446cf0901059f5ab8338b490...,T_Legacy_Active_H_P_Above50K_SingleFamily_Comp...

In [6]:
df_all_MID_mapping.head(2)

,Customer_Link,group
3,XY1468ZMmHorxsaQEtWSi3mu754Pv6tCVkIrI7ws_2aZtYPpQ,Control_seg_3_nonfurn_visitor
4,XY1468m9CtSDGkmx778U3C0GxuxFuhzhBCSgOQpDkqwenKpls,Control_seg_3_nonfurn_visitor

In [7]:
df_ID_matched_both=pd.merge(df_BL_id_mapping,df_all_MID_mapping,on="Customer_Link",how="inner")
df_ID_matched_both.shape

(415072, 4)

In [8]:
df_ID_matched_both.head(2)

,Customer_Link,customer_id_hashed,segment,group
0,XY14689s57KIYMgOXfS7veEmam_FtKe3UJ9t3xhd6RsDsun3I,7c4dad94921c6df2dc592b1fdcaa7df2f100096656bcdf...,T_Legacy_Active_M_S_Below50K_SingleFamily_Comp...,Test_Phase1_seg_3_nonfurn_visitor
1,XY1468Rf6AJsCYN-CX7FMjUqeLmM578xjoOL3K6EY2gvP2IFs,8bf996a56a791ccd383ba7bb0c2432703701814e56817f...,T_Legacy_Active_M_S_Below50K_SingleFamily_Comp...,Test_Phase1_seg_3_nonfurn_visitor

In [9]:
def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root,file)

In [10]:
import sqlalchemy
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

df_all_rewards=pd.read_sql("select customer_id_hashed, sign_up_date from BL_Rewards_Master where sign_up_date>='2020-04-05';",con=BL_engine).drop_duplicates()
print(df_all_rewards.shape)
df_all_rewards.head(2)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

(1227218, 2)

                                  customer_id_hashed sign_up_date
0  62eeb3cf77f140b209f6244e2a0855d7a7d47e25fec5c1...   2020-04-05
1  7e3806ccc3e3e6ce08992023f9a3a4965fe094751f7d9b...   2020-04-05

In [11]:
print(df_all_rewards['sign_up_date'].min(),df_all_rewards['sign_up_date'].max(),df_all_rewards['sign_up_date'].nunique())
(df_all_rewards['sign_up_date'].max()-df_all_rewards['sign_up_date'].min()).days

2020-04-05 2020-05-09 35

34

In [12]:
list_pos_sales=list(recursive_file_gen("/home/jian/BigLots/2020_by_weeks/"))
list_pos_sales=[x for x in list_pos_sales if "daily" in x.lower()]
list_pos_sales=[x for x in list_pos_sales if x[-4:]==".txt"]
# list_pos_sales=[x for x in list_pos_sales if x.split("MediaStorm_")[1][:10]<="2020-05-02"]
list_pos_sales=[x for x in list_pos_sales if x.split("MediaStorm_")[1][:10]>="2020-04-05"]

In [13]:
list_pos_sales

['/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-04-11/MediaStormDailySales20200414-120340-722.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-04-18/MediaStormDailySales20200421-111910-356.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-04-25/MediaStormDailySales20200428-111922-148.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-05-02/MediaStormDailySales20200505-111805-965.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-05-09/MediaStormDailySales20200512-121042-623.txt']

In [14]:
df_all_pos_5_weeks_rewards=pd.DataFrame()
df_all_pos_5_weeks_nonrewards=pd.DataFrame()

i_counter=0
for file in list_pos_sales:
    df=pd.read_csv(file,dtype=str,sep="|")
    week_end_dt=df['transaction_dt'].max()
    df['week_end_dt']=week_end_dt
    
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    df['item_transaction_units']=df['item_transaction_units'].astype(int)

    df_rewards=df[pd.notnull(df['customer_id_hashed'])]
    df_nonrewards=df[pd.isnull(df['customer_id_hashed'])]
        
    df_all_pos_5_weeks_rewards=df_all_pos_5_weeks_rewards.append(df_rewards)
    df_all_pos_5_weeks_nonrewards=df_all_pos_5_weeks_nonrewards.append(df_nonrewards)
    
    i_counter+=1
    print(i_counter,datetime.datetime.now(),week_end_dt)

1 2020-05-15 17:08:59.964605 2020-04-11
2 2020-05-15 17:09:53.984408 2020-04-18
3 2020-05-15 17:11:00.822613 2020-04-25
4 2020-05-15 17:12:22.820335 2020-05-02
5 2020-05-15 17:14:00.224286 2020-05-09

In [15]:
print(df_all_pos_5_weeks_rewards.shape)
df_all_pos_5_weeks_rewards.head(2)

(48507486, 10)

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt,week_end_dt
0,1169,2020-04-11,5747,8aa7541e68e450579b1f7584a8eec2c0c48d097733818b...,34022,1,810432978,1,5.99,2020-04-11
4,1017,2020-04-09,4146,df02877b5345876ee3828580ef80324cdc73fd4b96a259...,11003,18,810083056,2,4.07,2020-04-11

In [16]:
print(df_all_pos_5_weeks_nonrewards.shape)
df_all_pos_5_weeks_nonrewards.head(2)

(27530519, 10)

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt,week_end_dt
1,5202,2020-04-11,4529,NaN,51016,1,510023456,1,7.5,2020-04-11
2,86,2020-04-09,9903,NaN,12006,1,810364352,1,3.0,2020-04-11

In [17]:
df_all_pos_5_weeks_rewards['store_type']=np.where(df_all_pos_5_weeks_rewards['location_id']=="6990","online","instore")
# 
df_all_pos_5_weeks_rewards_by_week=df_all_pos_5_weeks_rewards.groupby(["customer_id_hashed","store_type","week_end_dt"])['item_transaction_amt'].sum().to_frame().reset_index()
df_all_pos_5_weeks_rewards_by_week_trans=df_all_pos_5_weeks_rewards[["customer_id_hashed","store_type","week_end_dt","location_id","transaction_dt","transaction_id"]].drop_duplicates()
df_all_pos_5_weeks_rewards_by_week_trans=df_all_pos_5_weeks_rewards_by_week_trans.groupby(["customer_id_hashed","store_type","week_end_dt"])['transaction_id'].count().to_frame().reset_index()

df_all_pos_5_weeks_rewards_by_week=pd.merge(df_all_pos_5_weeks_rewards_by_week,df_all_pos_5_weeks_rewards_by_week_trans,on=["customer_id_hashed","store_type","week_end_dt"],how="outer")
df_all_pos_5_weeks_rewards_by_week=df_all_pos_5_weeks_rewards_by_week.fillna(0)

df_all_pos_5_weeks_rewards_by_week=df_all_pos_5_weeks_rewards_by_week.pivot_table(index=['customer_id_hashed'],columns=['week_end_dt','store_type'],values=['item_transaction_amt','transaction_id'])
df_all_pos_5_weeks_rewards_by_week=df_all_pos_5_weeks_rewards_by_week.fillna(0)


df_all_pos_5_weeks_rewards_by_week.head(2)

                                                   item_transaction_amt  \
week_end_dt                                                  2020-04-11
store_type                                                      instore
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...                 89.5
000008146a15884db40b753f8829c6887be71e51368303c...                  0.0

                                                                             \
week_end_dt                                               2020-04-18
store_type                                         online    instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...    0.0        0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...    0.0        0.0    0.0

                                                                      \
week_end_dt                                        2020-04-25
store_type                                            instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...        0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...        0.0    0.0

                                                                      \
week_end_dt                                        2020-05-02
store_type                                            instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...        0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...        0.0    0.0

                                                                      \
week_end_dt                                        2020-05-09
store_type                                            instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...        0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...       98.7    0.0

                                                   transaction_id         \
week_end_dt                                            2020-04-11
store_type                                                instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...            1.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...            0.0    0.0

                                                                      \
week_end_dt                                        2020-04-18
store_type                                            instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...        0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...        0.0    0.0

                                                                      \
week_end_dt                                        2020-04-25
store_type                                            instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...        0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...        0.0    0.0

                                                                      \
week_end_dt                                        2020-05-02
store_type                                            instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...        0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...        0.0    0.0


week_end_dt                                        2020-05-09
store_type                                            instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...        0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...        1.0    0.0

In [18]:
list_cols_new=[]
for col_tuple in df_all_pos_5_weeks_rewards_by_week.columns.tolist():
    col_new="_".join(col_tuple).replace("item_transaction_amt","sales").replace("transaction_id","trans")
    print(col_new,col_tuple)
    list_cols_new.append(col_new)
df_all_pos_5_weeks_rewards_by_week=df_all_pos_5_weeks_rewards_by_week.reset_index()
df_all_pos_5_weeks_rewards_by_week.columns=['customer_id_hashed']+list_cols_new

sales_2020-04-11_instore ('item_transaction_amt', '2020-04-11', 'instore')
sales_2020-04-11_online ('item_transaction_amt', '2020-04-11', 'online')
sales_2020-04-18_instore ('item_transaction_amt', '2020-04-18', 'instore')
sales_2020-04-18_online ('item_transaction_amt', '2020-04-18', 'online')
sales_2020-04-25_instore ('item_transaction_amt', '2020-04-25', 'instore')
sales_2020-04-25_online ('item_transaction_amt', '2020-04-25', 'online')
sales_2020-05-02_instore ('item_transaction_amt', '2020-05-02', 'instore')
sales_2020-05-02_online ('item_transaction_amt', '2020-05-02', 'online')
sales_2020-05-09_instore ('item_transaction_amt', '2020-05-09', 'instore')
sales_2020-05-09_online ('item_transaction_amt', '2020-05-09', 'online')
trans_2020-04-11_instore ('transaction_id', '2020-04-11', 'instore')
trans_2020-04-11_online ('transaction_id', '2020-04-11', 'online')
trans_2020-04-18_instore ('transaction_id', '2020-04-18', 'instore')
trans_2020-04-18_online ('transaction_id', '2020-04-18', 'online')
trans_2020-04-25_instore ('transaction_id', '2020-04-25', 'instore')
trans_2020-04-25_online ('transaction_id', '2020-04-25', 'online')
trans_2020-05-02_instore ('transaction_id', '2020-05-02', 'instore')
trans_2020-05-02_online ('transaction_id', '2020-05-02', 'online')
trans_2020-05-09_instore ('transaction_id', '2020-05-09', 'instore')
trans_2020-05-09_online ('transaction_id', '2020-05-09', 'online')

In [20]:
df_seg_group=df_ID_matched_both[['customer_id_hashed','segment','group']].drop_duplicates()
print(df_seg_group[['customer_id_hashed','segment']].drop_duplicates().shape)
print(df_seg_group.shape,df_seg_group['customer_id_hashed'].nunique())

df_id_by_group=df_seg_group[['customer_id_hashed','segment']].drop_duplicates()

for group_name,df_group in df_seg_group.groupby("group"):
    df_group=df_group[['customer_id_hashed','group']].drop_duplicates()
    df_group=df_group.rename(columns={"group":group_name})
    df_group[group_name]=1
    df_id_by_group=pd.merge(df_id_by_group,df_group,on="customer_id_hashed",how="left")
df_id_by_group=df_id_by_group.fillna(0)

(403857, 2)
(411040, 3) 403857

In [21]:
df_id_by_group=pd.merge(df_id_by_group,df_all_pos_5_weeks_rewards_by_week,on="customer_id_hashed",how="left")
df_id_by_group=df_id_by_group.fillna(0)
# 
df_id_by_group=pd.merge(df_all_rewards,df_id_by_group,on="customer_id_hashed",how="right")

In [22]:
print(df_id_by_group[pd.notnull(df_id_by_group['sign_up_date'])]['sign_up_date'].min(),df_id_by_group[pd.notnull(df_id_by_group['sign_up_date'])]['sign_up_date'].max())

2020-04-05 2020-05-02

In [23]:
list_mobile_group=df_ID_matched_both['group'].unique().tolist()

cols_sum_agg=[x for x in df_id_by_group.columns.tolist() if "-" in x]
df_rewards_matched=pd.DataFrame()

for mobile_seg in list_mobile_group:
    df=df_id_by_group[df_id_by_group[mobile_seg]==1]
    df['sign_up_group']=np.where(pd.isnull(df['sign_up_date']),"old_rewards","new_signed_rewards")
    df_count_matched=df.groupby(['sign_up_group'])['customer_id_hashed'].count().to_frame().reset_index()
    df_sales_trans=df.groupby(['sign_up_group'])[cols_sum_agg].sum().reset_index()
    df=pd.merge(df_count_matched,df_sales_trans,on="sign_up_group",how="outer")
    df.insert(0,"group",mobile_seg)
    df_rewards_matched=df_rewards_matched.append(df)
df_rewards_matched=df_rewards_matched.rename(columns={"customer_id_hashed":"matched_id_count"})

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
list_new_signed_id=df_id_by_group[pd.notnull(df_id_by_group['sign_up_date'])]['customer_id_hashed'].unique().tolist()
df_all_pos_5_weeks_rewards['sign_up_group']=np.where(df_all_pos_5_weeks_rewards['customer_id_hashed'].isin(list_new_signed_id),"new_signed_rewards","old_rewards")

df_shopper_id_week_store_type_seg=df_all_pos_5_weeks_rewards[['customer_id_hashed','week_end_dt','store_type','sign_up_group']].drop_duplicates()
df_shopper_id_week_store_type_seg=pd.merge(df_shopper_id_week_store_type_seg,df_seg_group,on="customer_id_hashed",how="left")

df_shoppers_by_week_store_type=df_shopper_id_week_store_type_seg[['group','customer_id_hashed','week_end_dt','store_type','sign_up_group']]
df_shoppers_by_week_store_type=df_shoppers_by_week_store_type.groupby(['group','sign_up_group',"week_end_dt","store_type"])['customer_id_hashed'].nunique().to_frame().reset_index()

df_shoppers_by_week_both_storetype=df_shopper_id_week_store_type_seg[['group','customer_id_hashed','week_end_dt','sign_up_group']].drop_duplicates()
df_shoppers_by_week_both_storetype=df_shoppers_by_week_both_storetype.groupby(['group','sign_up_group',"week_end_dt"])['customer_id_hashed'].nunique().to_frame().reset_index()

In [26]:
df_shoppers_by_week_store_type=df_shoppers_by_week_store_type.pivot_table(index=['group','sign_up_group'],columns=['week_end_dt','store_type'],values=['customer_id_hashed'])
df_shoppers_by_week_store_type=df_shoppers_by_week_store_type.fillna(0)
df_shoppers_by_week_store_type=df_shoppers_by_week_store_type.reset_index()
list_cols_new=[]
for col_tuple in df_shoppers_by_week_store_type.columns.tolist():
    col_new="_".join(col_tuple).replace("item_transaction_amt","sales").replace("transaction_id","trans").replace("__","")
    print(col_new,col_tuple)
    list_cols_new.append(col_new)
df_shoppers_by_week_store_type.columns=list_cols_new

group ('group', '', '')
sign_up_group ('sign_up_group', '', '')
customer_id_hashed_2020-04-11_instore ('customer_id_hashed', '2020-04-11', 'instore')
customer_id_hashed_2020-04-11_online ('customer_id_hashed', '2020-04-11', 'online')
customer_id_hashed_2020-04-18_instore ('customer_id_hashed', '2020-04-18', 'instore')
customer_id_hashed_2020-04-18_online ('customer_id_hashed', '2020-04-18', 'online')
customer_id_hashed_2020-04-25_instore ('customer_id_hashed', '2020-04-25', 'instore')
customer_id_hashed_2020-04-25_online ('customer_id_hashed', '2020-04-25', 'online')
customer_id_hashed_2020-05-02_instore ('customer_id_hashed', '2020-05-02', 'instore')
customer_id_hashed_2020-05-02_online ('customer_id_hashed', '2020-05-02', 'online')
customer_id_hashed_2020-05-09_instore ('customer_id_hashed', '2020-05-09', 'instore')
customer_id_hashed_2020-05-09_online ('customer_id_hashed', '2020-05-09', 'online')

In [27]:
df_shoppers_by_week_both_storetype['store_type']="bothOnlineInstore"
df_shoppers_by_week_both_storetype=df_shoppers_by_week_both_storetype.pivot_table(index=['group','sign_up_group'],columns=['week_end_dt','store_type'],values=['customer_id_hashed'])
df_shoppers_by_week_both_storetype=df_shoppers_by_week_both_storetype.fillna(0)
df_shoppers_by_week_both_storetype=df_shoppers_by_week_both_storetype.reset_index()
list_cols_new=[]
for col_tuple in df_shoppers_by_week_both_storetype.columns.tolist():
    col_new="_".join(col_tuple).replace("item_transaction_amt","sales").replace("transaction_id","trans").replace("__","")
    print(col_new,col_tuple)
    list_cols_new.append(col_new)
df_shoppers_by_week_both_storetype.columns=list_cols_new

group ('group', '', '')
sign_up_group ('sign_up_group', '', '')
customer_id_hashed_2020-04-11_bothOnlineInstore ('customer_id_hashed', '2020-04-11', 'bothOnlineInstore')
customer_id_hashed_2020-04-18_bothOnlineInstore ('customer_id_hashed', '2020-04-18', 'bothOnlineInstore')
customer_id_hashed_2020-04-25_bothOnlineInstore ('customer_id_hashed', '2020-04-25', 'bothOnlineInstore')
customer_id_hashed_2020-05-02_bothOnlineInstore ('customer_id_hashed', '2020-05-02', 'bothOnlineInstore')
customer_id_hashed_2020-05-09_bothOnlineInstore ('customer_id_hashed', '2020-05-09', 'bothOnlineInstore')

In [30]:
df_shoppers_by_both_storetype_all_5_weeks=df_shopper_id_week_store_type_seg.groupby(["group",'sign_up_group'])['customer_id_hashed'].nunique().to_frame().reset_index()
df_shoppers_by_both_storetype_all_5_weeks=df_shoppers_by_both_storetype_all_5_weeks.rename(columns={"customer_id_hashed":"shopper_count_5_weeks"})

#
df_shoppers_by_both_storetype_first_4_weeks=df_shopper_id_week_store_type_seg[df_shopper_id_week_store_type_seg['week_end_dt']!="2020-05-09"]
df_shoppers_by_both_storetype_first_4_weeks=df_shoppers_by_both_storetype_first_4_weeks.groupby(["group",'sign_up_group'])['customer_id_hashed'].nunique().to_frame().reset_index()
df_shoppers_by_both_storetype_first_4_weeks=df_shoppers_by_both_storetype_first_4_weeks.rename(columns={"customer_id_hashed":"shopper_count_first_4_weeks"})

#
df_shoppers_by_both_storetype_mid_3_weeks=df_shopper_id_week_store_type_seg[df_shopper_id_week_store_type_seg['week_end_dt']!="2020-04-11"]
df_shoppers_by_both_storetype_mid_3_weeks=df_shoppers_by_both_storetype_mid_3_weeks[df_shoppers_by_both_storetype_mid_3_weeks['week_end_dt']!="2020-05-09"]
df_shoppers_by_both_storetype_mid_3_weeks=df_shoppers_by_both_storetype_mid_3_weeks.groupby(["group",'sign_up_group'])['customer_id_hashed'].nunique().to_frame().reset_index()
df_shoppers_by_both_storetype_mid_3_weeks=df_shoppers_by_both_storetype_mid_3_weeks.rename(columns={"customer_id_hashed":"shopper_count_mid_3_weeks"})

#
df_shoppers_by_both_storetype_last_4_weeks=df_shopper_id_week_store_type_seg[df_shopper_id_week_store_type_seg['week_end_dt']!="2020-04-11"]
df_shoppers_by_both_storetype_last_4_weeks=df_shoppers_by_both_storetype_last_4_weeks.groupby(["group",'sign_up_group'])['customer_id_hashed'].nunique().to_frame().reset_index()
df_shoppers_by_both_storetype_last_4_weeks=df_shoppers_by_both_storetype_last_4_weeks.rename(columns={"customer_id_hashed":"shopper_count_last_4_weeks"})


df_agg_shopper_count=pd.merge(df_shoppers_by_both_storetype_all_5_weeks,df_shoppers_by_both_storetype_first_4_weeks,on=["group",'sign_up_group'],how="outer")
df_agg_shopper_count=pd.merge(df_agg_shopper_count,df_shoppers_by_both_storetype_mid_3_weeks,on=["group",'sign_up_group'],how="outer")
df_agg_shopper_count=pd.merge(df_agg_shopper_count,df_shoppers_by_both_storetype_last_4_weeks,on=["group",'sign_up_group'],how="outer")

In [31]:
df_output=pd.merge(df_rewards_matched,df_agg_shopper_count,on=["group",'sign_up_group'])
df_output

,group,sign_up_group,matched_id_count,sales_2020-04-11_instore,sales_2020-04-11_online,sales_2020-04-18_instore,sales_2020-04-18_online,sales_2020-04-25_instore,sales_2020-04-25_online,sales_2020-05-02_instore,...,trans_2020-04-25_instore,trans_2020-04-25_online,trans_2020-05-02_instore,trans_2020-05-02_online,trans_2020-05-09_instore,trans_2020-05-09_online,shopper_count_5_weeks,shopper_count_first_4_weeks,shopper_count_mid_3_weeks,shopper_count_last_4_weeks
0,Test_Phase1_seg_3_nonfurn_visitor,new_signed_rewards,4468,32948.63,279.99,42339.61,1305.18,62565.33,2168.95,87978.42,...,496.0,13.0,734.0,29.0,295.0,18.0,1387,1319,1152,1228
1,Test_Phase1_seg_3_nonfurn_visitor,old_rewards,104709,248315.02,4247.48,309423.92,2921.73,346009.19,5672.78,390935.56,...,6355.0,56.0,7130.0,57.0,7446.0,61.0,18392,15144,12675,16255
2,Test_Phase1_seg_1_BL_visitor,new_signed_rewards,5173,31775.81,361.47,81170.16,54.88,90565.42,1705.79,118009.63,...,672.0,11.0,1032.0,32.0,606.0,28.0,1720,1628,1433,1538
3,Test_Phase1_seg_1_BL_visitor,old_rewards,176788,722102.21,12263.67,883781.21,15052.35,943989.37,16277.40,1039305.77,...,17183.0,153.0,18563.0,145.0,19840.0,109.0,45132,37941,31935,40123
4,Test_Phase1_seg_2_BL_vacinity,new_signed_rewards,2052,15683.52,2189.94,29360.06,912.06,30766.97,127.49,35656.62,...,264.0,1.0,300.0,9.0,120.0,6.0,625,597,527,560
5,Test_Phase1_seg_2_BL_vacinity,old_rewards,48454,139040.62,1945.38,182017.09,3356.29,191602.14,5078.79,198753.54,...,3289.0,37.0,3432.0,17.0,3712.0,17.0,9002,7460,6220,7946
6,Control_seg_4_grocery_visitor,new_signed_rewards,250,870.96,0.00,2353.81,0.00,2214.31,0.00,5024.86,...,34.0,0.0,45.0,0.0,17.0,1.0,81,79,72,74
7,Control_seg_4_grocery_visitor,old_rewards,5956,12964.35,109.77,18033.62,117.60,19444.89,686.75,24392.94,...,373.0,6.0,415.0,4.0,428.0,5.0,1061,884,737,940
8,Control_seg_1_BL_visitor,new_signed_rewards,590,5289.95,0.00,7420.28,118.18,15259.84,0.00,9651.27,...,86.0,0.0,110.0,0.0,40.0,0.0,221,216,193,198
9,Control_seg_1_BL_visitor,old_rewards,22528,90663.21,785.21,107804.88,654.34,112386.56,1210.86,125355.32,...,2131.0,18.0,2382.0,30.0,2574.0,19.0,5774,4816,4007,5087
10,Control_seg_3_nonfurn_visitor,new_signed_rewards,327,1890.25,0.00,1466.45,165.74,5952.95,170.47,4214.33,...,41.0,2.0,51.0,1.0,31.0,1.0,104,100,86,90
11,Control_seg_3_nonfurn_visitor,old_rewards,9042,26840.35,1805.53,26057.80,1036.87,36594.10,131.58,32388.01,...,564.0,2.0,648.0,13.0,659.0,4.0,1667,1370,1142,1471
12,Test_Phase1_seg_4_grocery_visitor,new_signed_rewards,840,4602.78,0.00,10875.31,1095.98,12233.14,129.19,16164.11,...,110.0,1.0,123.0,1.0,38.0,4.0,250,239,200,212
13,Test_Phase1_seg_4_grocery_visitor,old_rewards,19710,43312.23,489.15,65423.47,1377.62,67338.01,963.50,68003.16,...,1322.0,12.0,1264.0,11.0,1407.0,11.0,3524,2942,2468,3110
14,Control_seg_2_BL_vacinity,new_signed_rewards,439,2751.22,0.00,7376.02,55.99,10085.72,373.59,11783.66,...,53.0,1.0,76.0,1.0,26.0,0.0,134,131,118,123
15,Control_seg_2_BL_vacinity,old_rewards,9714,24465.30,1085.95,32711.91,145.38,37535.20,288.33,41359.87,...,644.0,5.0,712.0,4.0,692.0,5.0,1764,1472,1238,1546

In [46]:
df_output['group_name']=df_output['group'].str.replace("Test_Phase1_","")
df_output['group_name']=df_output['group_name'].str.replace("Control_","")

df_output['Test/Control']=df_output['group'].apply(lambda x: x.split("_")[0])

In [48]:
df_output=df_output.sort_values(['sign_up_group','group_name','Test/Control'])
df_output

,group,sign_up_group,matched_id_count,sales_2020-04-11_instore,sales_2020-04-11_online,sales_2020-04-18_instore,sales_2020-04-18_online,sales_2020-04-25_instore,sales_2020-04-25_online,sales_2020-05-02_instore,...,trans_2020-05-02_instore,trans_2020-05-02_online,trans_2020-05-09_instore,trans_2020-05-09_online,shopper_count_5_weeks,shopper_count_first_4_weeks,shopper_count_mid_3_weeks,shopper_count_last_4_weeks,group_name,Test/Control
8,Control_seg_1_BL_visitor,new_signed_rewards,590,5289.95,0.00,7420.28,118.18,15259.84,0.00,9651.27,...,110.0,0.0,40.0,0.0,221,216,193,198,seg_1_BL_visitor,Control
2,Test_Phase1_seg_1_BL_visitor,new_signed_rewards,5173,31775.81,361.47,81170.16,54.88,90565.42,1705.79,118009.63,...,1032.0,32.0,606.0,28.0,1720,1628,1433,1538,seg_1_BL_visitor,Test
14,Control_seg_2_BL_vacinity,new_signed_rewards,439,2751.22,0.00,7376.02,55.99,10085.72,373.59,11783.66,...,76.0,1.0,26.0,0.0,134,131,118,123,seg_2_BL_vacinity,Control
4,Test_Phase1_seg_2_BL_vacinity,new_signed_rewards,2052,15683.52,2189.94,29360.06,912.06,30766.97,127.49,35656.62,...,300.0,9.0,120.0,6.0,625,597,527,560,seg_2_BL_vacinity,Test
10,Control_seg_3_nonfurn_visitor,new_signed_rewards,327,1890.25,0.00,1466.45,165.74,5952.95,170.47,4214.33,...,51.0,1.0,31.0,1.0,104,100,86,90,seg_3_nonfurn_visitor,Control
0,Test_Phase1_seg_3_nonfurn_visitor,new_signed_rewards,4468,32948.63,279.99,42339.61,1305.18,62565.33,2168.95,87978.42,...,734.0,29.0,295.0,18.0,1387,1319,1152,1228,seg_3_nonfurn_visitor,Test
6,Control_seg_4_grocery_visitor,new_signed_rewards,250,870.96,0.00,2353.81,0.00,2214.31,0.00,5024.86,...,45.0,0.0,17.0,1.0,81,79,72,74,seg_4_grocery_visitor,Control
12,Test_Phase1_seg_4_grocery_visitor,new_signed_rewards,840,4602.78,0.00,10875.31,1095.98,12233.14,129.19,16164.11,...,123.0,1.0,38.0,4.0,250,239,200,212,seg_4_grocery_visitor,Test
9,Control_seg_1_BL_visitor,old_rewards,22528,90663.21,785.21,107804.88,654.34,112386.56,1210.86,125355.32,...,2382.0,30.0,2574.0,19.0,5774,4816,4007,5087,seg_1_BL_visitor,Control
3,Test_Phase1_seg_1_BL_visitor,old_rewards,176788,722102.21,12263.67,883781.21,15052.35,943989.37,16277.40,1039305.77,...,18563.0,145.0,19840.0,109.0,45132,37941,31935,40123,seg_1_BL_visitor,Test
15,Control_seg_2_BL_vacinity,old_rewards,9714,24465.30,1085.95,32711.91,145.38,37535.20,288.33,41359.87,...,712.0,4.0,692.0,5.0,1764,1472,1238,1546,seg_2_BL_vacinity,Control
5,Test_Phase1_seg_2_BL_vacinity,old_rewards,48454,139040.62,1945.38,182017.09,3356.29,191602.14,5078.79,198753.54,...,3432.0,17.0,3712.0,17.0,9002,7460,6220,7946,seg_2_BL_vacinity,Test
11,Control_seg_3_nonfurn_visitor,old_rewards,9042,26840.35,1805.53,26057.80,1036.87,36594.10,131.58,32388.01,...,648.0,13.0,659.0,4.0,1667,1370,1142,1471,seg_3_nonfurn_visitor,Control
1,Test_Phase1_seg_3_nonfurn_visitor,old_rewards,104709,248315.02,4247.48,309423.92,2921.73,346009.19,5672.78,390935.56,...,7130.0,57.0,7446.0,61.0,18392,15144,12675,16255,seg_3_nonfurn_visitor,Test
7,Control_seg_4_grocery_visitor,old_rewards,5956,12964.35,109.77,18033.62,117.60,19444.89,686.75,24392.94,...,415.0,4.0,428.0,5.0,1061,884,737,940,seg_4_grocery_visitor,Control
13,Test_Phase1_seg_4_grocery_visitor,old_rewards,19710,43312.23,489.15,65423.47,1377.62,67338.01,963.50,68003.16,...,1264.0,11.0,1407.0,11.0,3524,2942,2468,3110,seg_4_grocery_visitor,Test

In [49]:
writer=pd.ExcelWriter("./BL_FB_April_Offer_Performance_Measurement_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_output.to_excel(writer,"summary_table",index=False)
df_shoppers_by_week_both_storetype.to_excel(writer,"shopper_by_store_type",index=False)
df_shoppers_by_week_store_type.to_excel(writer,"shopper_by_week",index=False)
df_summary_of_matched_id.to_excel(writer,"IDL_matched",index=False)
writer.save()