In [1]:
# Monday, April 13, 2020 3:47 PM
# Big Lots Q1 Dynamic Landing Page Test Brief

# Merge P zip ids only

import pandas as pd
import numpy as np
import datetime
import os
import sqlalchemy

BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )
print(datetime.datetime.now())
print(os.getcwd())

2020-04-15 18:00:33.817740
/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/BR_audience_mobile_dynamic_landing_page_20200413

In [2]:
pd.read_sql("show tables;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

                 Tables_in_BigLots
0                      BL_POS_Item
1                  BL_POS_Subclass
2                BL_Rewards_Master
3              Pred_Activity_BL_id
4              Pred_Activity_GU_id
5                   Pred_CRM_table
6            Pred_ExposureV2_BL_id
7            Pred_ExposureV2_GU_id
8              Pred_Exposure_BL_id
9              Pred_Exposure_GU_id
10             Pred_POS_Department
11                    dept_id_list
12                    pred_pos_2_1
13                    pred_pos_2_2
14         pred_pos_2_2_first_week
15        pred_pos_2_2_recent_five
16        pred_pos_2_2_recent_four
17         pred_pos_2_2_recent_one
18       pred_pos_2_2_recent_three
19         pred_pos_2_2_recent_two
20                        test_pos
21               test_pred_pos_2_1
22               test_pred_pos_2_2
23    test_pred_pos_2_2_first_week
24   test_pred_pos_2_2_recent_five
25   test_pred_pos_2_2_recent_four
26    test_pred_pos_2_2_recent_one
27  test_pred_pos_2_2_recent_three
28    test_pred_pos_2_2_recent_two

In [3]:
date_max=pd.read_sql("select max(transaction_dt) from Pred_POS_Department",con=BL_engine)
date_max=date_max.values[0][0]
date_max_year_ago=date_max-datetime.timedelta(days=365)
str_date_max=str(date_max)
str_date_max_year_ago=str(date_max_year_ago)

str_date_max,str_date_max_year_ago

('2020-04-11', '2019-04-12')

In [4]:
qc_sales_recent_year=pd.read_sql("select sum(sales) from Pred_POS_Department where transaction_dt>='2019-04-12';",con=BL_engine)
qc_sales_recent_year

     sum(sales)
0  5.322330e+09

In [5]:
print(datetime.datetime.now())
df_id_list_recent_year_shopper=pd.read_sql("select customer_id_hashed,max(transaction_dt) as max_transaction_dt, count(distinct trans_order_since_18Q1) as total_transaction, sum(sales) as total_sales \
from Pred_POS_Department where transaction_dt>='2019-04-12' group by customer_id_hashed;",con=BL_engine)

print(df_id_list_recent_year_shopper.shape)
df_id_list_recent_year_shopper.head(3)
print(datetime.datetime.now())

2020-04-15 18:42:23.474206
(19039444, 4)
2020-04-15 20:42:42.805212

In [6]:
df_id_list_recent_year_shopper=df_id_list_recent_year_shopper[pd.notnull(df_id_list_recent_year_shopper['customer_id_hashed'])]
df_id_list_recent_year_shopper.head(2)

,customer_id_hashed,max_transaction_dt,total_transaction,total_sales
1,000000ebcf6c6a2f4302291cc9babb0760208fc683b3b5...,2019-08-29,1,3.80
2,00000135f48c68690ad3d5fc9ada41bb5cd687452007e8...,2020-03-10,1,41.14

In [7]:
pd.read_sql("desc BL_Rewards_Master",con=BL_engine)

                            Field           Type Null  Key Default Extra
0              customer_id_hashed    varchar(64)  YES  MUL    None
1              email_address_hash    varchar(64)  YES  MUL    None
2                    sign_up_date           date  YES  MUL    None
3                 sign_up_channel    varchar(64)  YES  MUL    None
4                sign_up_location        int(11)  YES  MUL    None
5               customer_zip_code    varchar(16)  YES  MUL    None
6               transaction_count        int(11)  YES         None
7              transaction_amount  decimal(10,2)  YES         None
8          experian_multi_cluster    varchar(32)  YES         None
9           experian_demo_cluster    varchar(32)  YES         None
10               purchase_channel    varchar(32)  YES         None
11    email_unsubscribe_indicator     varchar(2)  YES         None
12  email_undeliverable_indicator     varchar(2)  YES         None
13                      file_path   varchar(256)  YES  MUL    None

In [9]:
df_store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200401-135137-445.txt",
                           dtype=str,sep="|",usecols=['location_id'])
df_store_list=df_store_list[~df_store_list['location_id'].isin(['145','6990'])]
#########

TA_zips=pd.ExcelFile("/home/jian/Projects/Big_Lots/New_TA/TA_created_in_201906/final_output_20190718/BL_final_TA_updated_JL_2019-07-18.xlsx")
TA_zips=TA_zips.parse("view_by_store",dtype=str)

df_temporary=TA_zips[['location_id','trans_P_zips_70_within_TA','trans_S_zips_70_within_TA','zips_in_10']]
df_zip_by_store=pd.DataFrame()

for ind,row in df_temporary.iterrows():
    location_id=row['location_id']
    P_zips=eval(row['trans_P_zips_70_within_TA'])
    S_zips=eval(row['trans_S_zips_70_within_TA'])
    zip_10=eval(row['zips_in_10'])
    

    df_P=pd.DataFrame(zip([location_id]*len(P_zips),P_zips))
    if len(df_P)>0:
        df_P.columns=['location_id','zip_cd']
        df_P['zip_type']="P"
        
    df_S=pd.DataFrame(zip([location_id]*len(S_zips),S_zips))
    if len(df_S)>0:
        df_S.columns=['location_id','zip_cd']
        df_S['zip_type']="S"
    
    df_10=pd.DataFrame(zip([location_id]*len(zip_10),zip_10))
    if len(df_10)>0:
        df_10.columns=['location_id','zip_cd']
        df_10['zip_type']="zip_10"
    
    df_zip_by_store=df_zip_by_store.append(df_P).append(df_S).append(df_10)
df_zip_by_store=df_zip_by_store[df_zip_by_store['zip_type']=="P"]
df_zip_by_store=df_zip_by_store[df_zip_by_store['location_id'].isin(df_store_list['location_id'].tolist())]
df_P_zips=df_zip_by_store[['zip_cd','zip_type']].drop_duplicates()
print(df_P_zips.shape,df_P_zips['zip_cd'].nunique())

(4686, 2) 4686

In [20]:
df_P_zips['zip_cd'].apply(len).unique()

array([5])

In [21]:
# Merge P zip ids only
df_mapping_id_email_zip=pd.read_sql("select customer_id_hashed, email_address_hash,customer_zip_code from BL_Rewards_Master",con=BL_engine).drop_duplicates("customer_id_hashed")
df_mapping_id_email_zip=df_mapping_id_email_zip[pd.notnull(df_mapping_id_email_zip['customer_zip_code'])]
df_mapping_id_email_zip['customer_zip_code'].apply(len).unique()

array([ 5, 10,  9,  4,  6,  1,  3,  8,  2])

In [22]:
df_mapping_id_email_zip['customer_zip_code']=df_mapping_id_email_zip['customer_zip_code'].apply(lambda x: x.split("-")[0].split(" ")[0].zfill(5))

df_mapping_id_email_zip.shape,df_mapping_id_email_zip['customer_id_hashed'].nunique(),df_mapping_id_email_zip['email_address_hash'].nunique()

((29148759, 3), 29148759, 29143692)

In [23]:
# Merge P zip ids only
df_mapping_id_email_zip=df_mapping_id_email_zip.rename(columns={"customer_zip_code":"zip_cd"})
df_mapping_id_email_zip=pd.merge(df_mapping_id_email_zip,df_P_zips,on="zip_cd",how="left")
df_mapping_id_email_zip=df_mapping_id_email_zip[pd.notnull(df_mapping_id_email_zip['zip_type'])]

print(df_mapping_id_email_zip.shape,df_mapping_id_email_zip['customer_id_hashed'].nunique(),df_mapping_id_email_zip['email_address_hash'].nunique())
df_mapping_id_email_zip.head(2)

(18580289, 4) 18580289 18577444

,customer_id_hashed,email_address_hash,zip_cd,zip_type
1,000001dadc0265bf9d250566d74e0006323f18b5826641...,26454de1f315ee0c13c8c9033f372f50a3f02a16691849...,93722,P
3,000003066bafc6b19c55d3be5fc646a253c659e9e6baea...,d461fd1bb5f270aaa66016cc60bf6aa16a521565360e41...,21229,P

In [24]:
df_id_list_recent_year_shopper=pd.merge(df_id_list_recent_year_shopper,df_mapping_id_email_zip,on="customer_id_hashed",how="left")
df_id_list_recent_year_shopper=df_id_list_recent_year_shopper[pd.notnull(df_id_list_recent_year_shopper['email_address_hash'])]
df_id_list_recent_year_shopper=df_id_list_recent_year_shopper[pd.notnull(df_id_list_recent_year_shopper['zip_type'])]

list_duplicated_emails=df_id_list_recent_year_shopper[df_id_list_recent_year_shopper['email_address_hash'].duplicated()]['email_address_hash'].tolist()
print(len(list_duplicated_emails))

df_id_list_recent_year_shopper=df_id_list_recent_year_shopper[~df_id_list_recent_year_shopper['email_address_hash'].isin(list_duplicated_emails)]
print(df_id_list_recent_year_shopper.shape,df_id_list_recent_year_shopper['customer_id_hashed'].nunique(),df_id_list_recent_year_shopper['email_address_hash'].nunique())

335
(10807348, 7) 10807348 10807348

In [25]:
print(datetime.datetime.now())

2020-04-15 21:26:55.166189

In [26]:
df_id_list_recent_year_shopper=df_id_list_recent_year_shopper.sort_values(["max_transaction_dt","total_transaction","total_sales"],ascending=[True,False,False])
df_id_list_recent_year_shopper=df_id_list_recent_year_shopper.reset_index()
del df_id_list_recent_year_shopper['index']
df_id_list_recent_year_shopper=df_id_list_recent_year_shopper.reset_index()

In [27]:
len_total=len(df_id_list_recent_year_shopper)
count_emails=135000
import random
random.seed(0)

ind_test=random.sample(range(len_total),count_emails)
df_test=df_id_list_recent_year_shopper[df_id_list_recent_year_shopper['index'].isin(ind_test)]
df_remainging=df_id_list_recent_year_shopper[~df_id_list_recent_year_shopper['index'].isin(ind_test)]

del df_remainging['index']
df_remainging=df_remainging.reset_index()
del df_remainging['index']
df_remainging=df_remainging.reset_index()

ind_control=random.sample(range(len(df_remainging)),count_emails)
df_control=df_remainging[df_remainging['index'].isin(ind_control)]

In [28]:
print(df_test.shape,df_control.shape)

(135000, 8) (135000, 8)

In [29]:
df_qc=pd.merge(df_test,df_control,on="email_address_hash",how="inner")
df_qc

Empty DataFrame
Columns: [index_x, customer_id_hashed_x, max_transaction_dt_x, total_transaction_x, total_sales_x, email_address_hash, zip_cd_x, zip_type_x, index_y, customer_id_hashed_y, max_transaction_dt_y, total_transaction_y, total_sales_y, zip_cd_y, zip_type_y]
Index: []

In [30]:
os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/BR_audience_mobile_dynamic_landing_page_20200413'

In [31]:
df_control.head(2)

,index,customer_id_hashed,max_transaction_dt,total_transaction,total_sales,email_address_hash,zip_cd,zip_type
16,16,671d5759a29f2173b5e1d11bec742a7311991e784e0646...,2019-04-12,4,63.97,e2563bc4a2e07e785e6a47cd6e6baec958e408b3e260ce...,97526,P
211,211,e3626b2cd2dd0e676f5f1441f83e8879f0ab07520e1127...,2019-04-12,2,124.49,45d88e8f30dccfa619a0c2c5845286472e7493efa1f7f4...,38127,P

In [38]:
write_folder="/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/BR_audience_mobile_dynamic_landing_page_20200413/dynamic_landing_page_audience/"
try:
    os.stat(write_folder)
except:
    os.mkdir(write_folder)

df_control.to_csv(write_folder+"AudienceBL_DynamicLP_Rewards_L12_PZip_Control.csv",index=False)
df_test.to_csv(write_folder+"AudienceBL_DynamicLP_Rewards_L12_PZip_Test.csv",index=False)

In [39]:
df_control.head(2)

,index,customer_id_hashed,max_transaction_dt,total_transaction,total_sales,email_address_hash,zip_cd,zip_type
16,16,671d5759a29f2173b5e1d11bec742a7311991e784e0646...,2019-04-12,4,63.97,e2563bc4a2e07e785e6a47cd6e6baec958e408b3e260ce...,97526,P
211,211,e3626b2cd2dd0e676f5f1441f83e8879f0ab07520e1127...,2019-04-12,2,124.49,45d88e8f30dccfa619a0c2c5845286472e7493efa1f7f4...,38127,P

# Prospect Mobile IDs

In [33]:
df_phase2_remainging_seg=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/sliced_ids_by_segments/Remaing_Phase2seg_1_BL_visitor.csv",dtype=str)
print(df_phase2_remainging_seg.shape)
df_phase2_remainging_seg.head(2)

(226185, 2)

  index                                 ad_id
0     1  eb7f3ace-b3a6-4d4b-931a-9d59041e405c
1    13  688c669e-33c5-4bbb-ad8c-a8a86f470c9b

In [34]:
del df_phase2_remainging_seg['index']
df_phase2_remainging_seg=df_phase2_remainging_seg.reset_index()
total_len=len(df_phase2_remainging_seg)
print("total_len",total_len)

total_len 226185

In [35]:
random.seed(0)

ind_test=random.sample(range(total_len),int(np.ceil(total_len/2)))

df_control_prospect=df_phase2_remainging_seg[~df_phase2_remainging_seg['index'].isin(ind_test)]
df_test_prospect=df_phase2_remainging_seg[df_phase2_remainging_seg['index'].isin(ind_test)]
print(df_control_prospect.shape,df_test_prospect.shape)

(113092, 2) (113093, 2)

In [36]:
df_control_prospect.to_csv(write_folder+"AudienceBL_DynamicLP_Prospect_BL_MobileVisitor_Control.csv",index=False)
df_test_prospect.to_csv(write_folder+"AudienceBL_DynamicLP_Prospect_BL_MobileVisitor_Test.csv",index=False)

In [37]:
df_qc=pd.merge(df_control_prospect,df_test_prospect,on="ad_id",how='inner')
df_qc

Empty DataFrame
Columns: [index_x, ad_id, index_y]
Index: []