In [2]:
import pandas as pd
import numpy as np
import datetime
import os
print(datetime.datetime.now())
os.getcwd()

2020-02-07 10:34:45.968567

'/home/jian/Projects/Big_Lots/Analysis/2020_Q1/plannder_requests/BR_shoppers_id_count_by_zip_type'

In [7]:
df_scored_0_18_details=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1/final_details_output_2020-01-27/BL_2020Q1_0_to_18_details_JL_2020-01-27.csv",
                                  dtype=str,usecols=['customer_id_hashed','zip_type','Status'])
print(df_scored_0_18_details.shape)
df_count=df_scored_0_18_details.groupby(["zip_type",'Status'])['customer_id_hashed'].nunique().to_frame().reset_index()
print(df_count['customer_id_hashed'].sum())

(20339880, 3)
20339880

In [8]:
df_count

  zip_type      Status  customer_id_hashed
0        P      Active            11029535
1        P  Lapsed1318             1861216
2        S      Active             4166588
3        S  Lapsed1318              797062
4        T      Active             2075703
5        T  Lapsed1318              409776

In [9]:
df_count_pivot=df_count.pivot_table(index="zip_type",columns="Status",values="customer_id_hashed")

In [11]:
df_count_pivot

Status      Active  Lapsed1318
zip_type
P         11029535     1861216
S          4166588      797062
T          2075703      409776

In [12]:
writer=pd.ExcelWriter("./BL_total_shopper_count_by_zip_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_count_pivot.to_excel(writer,"total_shopper_count_18mo",index=True)
writer.save()