In [1]:
import datetime
import pandas as pd
import os
import numpy as np
import glob

os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2019_Q2/ID_Migration'

In [2]:
def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in file:
            yield os.path.join(root,file)

In [3]:
chunksize_num = 10**7
filename='/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2019Q1/crm_newscore_0922/combinedtransactions_0922.csv'
dftrans_before_20180922=pd.DataFrame()
count_i=0

for chunk in pd.read_csv(filename, chunksize=chunksize_num,dtype=str,usecols=['customer_id_hashed','transaction_date']):
    chunk = chunk.drop_duplicates()
    # chunk=chunk[chunk['transaction_date']>=str(lapsed_date_begin)]
    dftrans_before_20180922=dftrans_before_20180922.append(chunk)
    count_i+=1
    print(count_i,datetime.datetime.now())
dftrans_before_20180922=dftrans_before_20180922.drop_duplicates()    

print("min_date",dftrans_before_20180922['transaction_date'].min())
print("max_date",dftrans_before_20180922['transaction_date'].max())

1 2019-05-20 10:57:52.449725
2 2019-05-20 10:58:40.921403
3 2019-05-20 10:59:17.990653
4 2019-05-20 11:00:14.339865
5 2019-05-20 11:00:57.265452
6 2019-05-20 11:01:44.332685
7 2019-05-20 11:02:29.923540
8 2019-05-20 11:03:12.621100
9 2019-05-20 11:03:42.866887
10 2019-05-20 11:04:13.337456
11 2019-05-20 11:04:44.038568
12 2019-05-20 11:05:17.588390
13 2019-05-20 11:05:51.871385
14 2019-05-20 11:06:26.521830
15 2019-05-20 11:06:58.613787
min_date 2016-06-26
max_date 2018-09-22

In [4]:
print("min_date",dftrans_before_20180922['transaction_date'].min())
print("max_date",dftrans_before_20180922['transaction_date'].max())

min_date 2016-06-26
max_date 2018-09-22

In [7]:
Quarter_Start_Date_2017_Q4="2017-11-05"
End_Date_2017_Q4="2018-02-03"
Year_Start_Date_2017_Q4=str((datetime.datetime.strptime(End_Date_2017_Q4,"%Y-%m-%d")-datetime.timedelta(days=364)).date())


Start_Date_2018_Q1="2018-02-04"
End_Date_2018_Q1="2018-05-05"
Year_Start_Date_2018_Q1=str((datetime.datetime.strptime(End_Date_2018_Q1,"%Y-%m-%d")-datetime.timedelta(days=364)).date())

print(Year_Start_Date_2017_Q4)
print(End_Date_2017_Q4)

print(Year_Start_Date_2018_Q1)
print(End_Date_2018_Q1)

2017-02-04
2018-02-03
2017-05-06
2018-05-05

In [8]:
dftrans_before_20180922.head(2)

                                  customer_id_hashed transaction_date
0  bc45d2747297addd8bcad579da77756b007d27cd634c71...       2018-03-20
1  f627e56e080cb699864d9c488345aee82c98fa66ebc2f2...       2018-03-10

In [9]:
Act_count_2017Q4=dftrans_before_20180922[(dftrans_before_20180922['transaction_date']>=Year_Start_Date_2017_Q4) & (dftrans_before_20180922['transaction_date']<=End_Date_2017_Q4)]
Act_count_2018Q1=dftrans_before_20180922[(dftrans_before_20180922['transaction_date']>=Year_Start_Date_2018_Q1) & (dftrans_before_20180922['transaction_date']<=End_Date_2018_Q1)]

print("End of 2017 Q4 - 12 Month active count ONLY: "+str(Act_count_2017Q4['customer_id_hashed'].nunique()))
print("End of 2018 Q1 - 12 Month active count ONLY: "+str(Act_count_2018Q1['customer_id_hashed'].nunique()))

End of 2017 Q4 - 12 Month active count ONLY: 14874345
End of 2018 Q1 - 12 Month active count ONLY: 15262456