In [8]:
s="aaaba"
s.count("aa")

1

In [9]:
import pandas as pd

In [12]:
mapping=pd.read_csv("/home/jian/Docs/Geo_mapping/Canadian_Postal_Codes/canada-postal-code-database-BUSINESS-CSV/canada-postal-code-database-BUSINESS.csv",
                   dtype=str,nrows=None,usecols=['PostalCode','Latitude','Longitude'])
mapping.shape

(1115041, 3)

In [14]:
mapping[mapping['PostalCode']=="L9N 0T1"][['Latitude','Longitude']].drop_duplicates()

         Latitude   Longitude
621108  42.962845  -81.315177

In [16]:
from haversine import haversine
haversine((42.962845,-81.315177),(42.982652,-81.290252),miles=True)

1.860276204648603

In [21]:
df=mapping[mapping['PostalCode'].apply(lambda x: x.split(" ")[0]=="L9N")]
df['Latitude']=df['Latitude'].astype(float)
df['Longitude']=df['Longitude'].astype(float)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
df['Latitude'].max(),df['Latitude'].min()

(44.458849000000001, 42.962845000000002)

In [29]:
df['Longitude'].max(),df['Longitude'].min()

(-76.141332000000006, -81.315177000000006)

In [26]:
df=df[df["Longitude"]!=0]

In [30]:
df.head(2)

       PostalCode   Latitude  Longitude
620904    L9N 0A1  44.104795 -79.514168
620905    L9N 0A2  44.075101 -79.484767

In [31]:
df['Latitude'].min()

42.962845000000002