In [2]:
import datetime
import pandas as pd
import datetime
import os
os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2018_Q3/Mattress_Since_Aug'

In [35]:
daily_last_year=pd.read_table("/home/jian/Projects/Big_Lots/Analysis/2018_Q4/Mattress/MediaStorm Matress Sales (subclasses 61501 - 61505) by Subclass 2017-06-03 - 2018-02-03.txt",sep="|",dtype=str)
daily_last_year['transaction_dt']=daily_last_year['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())
daily_last_year['subclass_transaction_amt']=daily_last_year['subclass_transaction_amt'].astype(float)
daily_last_year.head(2)

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,subclass_transaction_units,subclass_transaction_amt
0,4007,2017-09-01,6970,ca7fa7970955bde966c430d37432525b2b40c07c0ab418...,61501,2,1,169.99
1,4518,2018-01-25,3443,488625487d69d74618fece655ecc3312cf4e19765b8321...,61503,3,1,469.99

In [3]:
check_SP_impr=pd.read_csv("/home/jian/Projects/Big_Lots/Analysis/2018_Q3/Mattress_Since_Aug/Mattress_Product/data_impression_serta.csv",dtype=str)
check_SP_impr.head(2)

,Customer_Link,Event Time,Advertiser ID,Campaign ID,Ad ID,Rendering ID,Creative Version,Site ID (DCM),Placement ID,Impression ID,event_timestamp2,date,customer_id_hashed
0,XY1468MJBmcGikkmK9V0KF5fiit9Ix08hMDsRwAYZmE5_i5GI,1535854848150147,8095847,21629904,425863300,105161003,1,2479413,227812038,IZydWiFXpndFhFQJ,2018-09-01 22:20:48.150147,2018-09-01,7120d3ffc69d3267aad0d03db389a562d942845dd31efa...
1,XY1468MJBmcGikkmK9V0KF5fiit9Ix08hMDsRwAYZmE5_i5GI,1535854902200671,8095847,21629904,425863300,105160214,1,2479413,227812038,0fR-jj8Y1IJ9IEjO,2018-09-01 22:21:42.200671,2018-09-01,7120d3ffc69d3267aad0d03db389a562d942845dd31efa...

In [5]:
check_SP_impr['Advertiser ID'].unique()

array(['8095847'], dtype=object)

In [4]:
product_taxnomy=pd.read_table("/home/jian/BigLots/static_files/ProductTaxonomy/MediaStormProductTaxonomy20181001-135417-040.txt",sep="|")
product_taxnomy.head(2)
product_taxnomy

,division_id,department_id,class_code_id,subclass_id,subclass_desc
0,1,108,11001,2,Non-Chocolate Bagged
1,1,108,11001,4,Single Non-Chocolate

In [21]:
class_name=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Class Names.txt",dtype=str,sep="|",encoding="ISO-8859-1")
class_name.shape

(751, 2)

In [10]:
class_name.head(3)

   class_code_id class_code_desc
0          11000               .
1          11001           CANDY
2          11002  SEASONAL CANDY

In [13]:
class_name.tail(2)

     class_code_id   class_code_desc
749          80099  finance use only
750          99900           finance

In [22]:
from fuzzywuzzy import fuzz
class_name['class_code_desc']=class_name['class_code_desc'].apply(lambda x: x.lower())
class_name['fuzz']=class_name['class_code_desc'].apply(lambda x: fuzz.ratio("mattress",x))

In [15]:
class_name['fuzz']

70

In [23]:
class_name[class_name['fuzz']>60]

    class_code_id   class_code_desc  fuzz
60          11560             meats    62
413         36011             trees    62
469         36501             trees    62
727         61501   twin mattresses    70
728         61502   full mattresses    70
729         61503  queen mattresses    67
730         61504   king mattresses    70
732         61506        mtress sbt    67

In [27]:
class_name[class_name['class_code_id'].isin(["61501","61502","61503","61504","61505","61506"])]

    class_code_id   class_code_desc  fuzz
727         61501   twin mattresses    70
728         61502   full mattresses    70
729         61503  queen mattresses    67
730         61504   king mattresses    70
731         61505        bed frames    33
732         61506        mtress sbt    67

In [10]:
sales_2017=pd.read_table("/home/jian/BigLots/MediaStorm Data Extract June-August 2017/MediaStorm Data Extract - Detail Store Sales June-August 2017.txt",sep="|",dtype=str)
sales_2017['week_end_dt']=sales_2017['week_end_dt'].apply(lambda x: datetime.datetime.strptime(x,"%Y-%m-%d").date())

In [11]:
sales_2017['week_end_dt'].min()

datetime.date(2017, 6, 3)

In [12]:
sales_2017['week_end_dt'].max()

datetime.date(2017, 9, 2)

In [ ]:
sales_2018=pd.read_table("/home/jian/BigLots/2018 by weeks/")