In [1]:
import pandas as pd
import numpy as np
import datetime
import glob
import os
import sqlalchemy
from haversine import haversine
import gc
import json
zip_centers=json.load(open("/home/jian/Docs/Geo_mapping/updated_zip_centers_JL_2019-05-23.json","r"))
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
    BL_SQL_CONNECTION, 
    pool_recycle=1800
)

print(datetime.datetime.now())

2020-07-02 11:18:30.857050

In [3]:
client_M1_audience_folder_1="/home/jian/BigLots/M1_audience/audience_from_client_2020-06-08/"
client_M1_audience_folder_2="/home/jian/BigLots/M1_audience/files for MS 62420/"

files_1=glob.glob(client_M1_audience_folder_1+"*")
files_2=glob.glob(client_M1_audience_folder_2+"*")
files=files_1+files_2
files

['/home/jian/BigLots/M1_audience/audience_from_client_2020-06-08/med_med.txt',
 '/home/jian/BigLots/M1_audience/audience_from_client_2020-06-08/high_high.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/high_low.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/high_med.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/low_high.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/low_low.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/low_med.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/med_high.txt',
 '/home/jian/BigLots/M1_audience/files for MS 62420/med_low.txt']

In [5]:
df_M1=pd.DataFrame()
for file in files:
    name=os.path.basename(file).split(".")[0]
    df=pd.read_csv(file,
                    usecols=['hashed_customer_num'],dtype=str,sep="\t").rename(columns={"hashed_customer_num":"customer_id_hashed"})
    df['group']=name
    df=df.drop_duplicates()
    df_M1=df_M1.append(df)
gc.collect()
print(df_M1.shape,df_M1['customer_id_hashed'].nunique())

(11474157, 2) 11474157

In [6]:
df_3_active_balance=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q2/final_details_output_2020-04-25/df_details_0_18.csv",
                              dtype=str,usecols=['customer_id_hashed','Status'])
print(df_3_active_balance.shape,df_3_active_balance['customer_id_hashed'].nunique())
print(df_3_active_balance['Status'].unique())

(20585548, 2) 20585548
['Active' 'Lapsed1318']

In [7]:
df_3_active_balance=df_3_active_balance[df_3_active_balance['Status']=="Active"]
del df_3_active_balance['Status']
print(df_3_active_balance.shape)
df_3_active_balance=df_3_active_balance[~df_3_active_balance['customer_id_hashed'].isin(df_M1['customer_id_hashed'].tolist())]
df_3_active_balance['group']="active_balance_as_Q2_aud"
print(df_3_active_balance.shape)

(17297442, 1)
(6629289, 2)

In [8]:
df_all_ids=df_M1.append(df_3_active_balance)
print(df_all_ids.shape,df_all_ids['customer_id_hashed'].nunique())
del df_M1
del df_3_active_balance
gc.collect()

(18103446, 2) 18103446

0

In [9]:
df_all_id_zips=pd.read_sql("select customer_id_hashed, customer_zip_code from BL_Rewards_Master;",con=BL_engine)
df_all_id_zips=df_all_id_zips.drop_duplicates("customer_id_hashed")
df_all_id_zips['customer_zip_code']=df_all_id_zips['customer_zip_code'].fillna("00000")
df_all_id_zips['cleaned_zip']=df_all_id_zips['customer_zip_code'].apply(lambda x: x.split(" ")[0].split("-")[0].zfill(5)[:5])

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [10]:
df_all_ids=pd.merge(df_all_ids,df_all_id_zips,on="customer_id_hashed",how="left")
print(df_all_ids.shape,df_all_ids['customer_id_hashed'].nunique())
df_all_ids['cleaned_zip']=df_all_ids['cleaned_zip'].fillna("00000")

(18103446, 4) 18103446

In [11]:
df_all_ids.head(2)

,customer_id_hashed,group,customer_zip_code,cleaned_zip
0,18013010398178a97b9bfc662ae8f7a74b13b49fd2c535...,med_med,NaN,00000
1,fb76f92d4a3e3131961186270d7865eb3f608bdf4649ea...,med_med,87571,87571

In [12]:
df_id_by_group_zip=df_all_ids.groupby(['group','cleaned_zip'])['customer_id_hashed'].count().to_frame().reset_index()
df_id_by_group_zip.shape,df_id_by_group_zip['customer_id_hashed'].sum()

((290827, 3), 18103446)

In [13]:
df_store_list=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20200601-134325-120.txt",
                            sep="|",dtype=str)
df_store_list=df_store_list[df_store_list['location_id']!="6990"]
df_store_list=df_store_list[df_store_list['location_id']!="145"]
df_store_list=df_store_list[['location_id','latitude_meas','longitude_meas']]
df_store_list['latitude_meas']=df_store_list['latitude_meas'].astype(float)
df_store_list['longitude_meas']=df_store_list['longitude_meas'].astype(float)

df_store_list.loc[df_store_list['location_id']=="5416",'latitude_meas']=38.9092794
df_store_list.loc[df_store_list['location_id']=="5416",'longitude_meas']=-78.1831506

In [14]:
TA_zips=pd.ExcelFile("/home/jian/Projects/Big_Lots/New_TA/TA_created_in_201906/final_output_20190718/BL_final_TA_updated_JL_2019-07-18.xlsx")
TA_zips=TA_zips.parse("view_by_store",dtype=str)
#
df_temporary=TA_zips[['location_id','trans_P_zips_70_within_TA','trans_S_zips_70_within_TA','zips_in_10']]
df_zip_by_store=pd.DataFrame()

for ind,row in df_temporary.iterrows():
    location_id=row['location_id']
    P_zips=eval(row['trans_P_zips_70_within_TA'])
    S_zips=eval(row['trans_S_zips_70_within_TA'])
    zip_10=eval(row['zips_in_10'])
    

    df_P=pd.DataFrame(zip([location_id]*len(P_zips),P_zips))
    if len(df_P)>0:
        df_P.columns=['location_id','zip_cd']
        df_P['zip_type']="P"
        
    df_S=pd.DataFrame(zip([location_id]*len(S_zips),S_zips))
    if len(df_S)>0:
        df_S.columns=['location_id','zip_cd']
        df_S['zip_type']="S"
    
    df_10=pd.DataFrame(zip([location_id]*len(zip_10),zip_10))
    if len(df_10)>0:
        df_10.columns=['location_id','zip_cd']
        df_10['zip_type']="zip_10"
    
    df_zip_by_store=df_zip_by_store.append(df_P).append(df_S).append(df_10)
    
#   
df_output=pd.merge(df_store_list,df_zip_by_store,on="location_id",how="left")
df_output_2=df_output[pd.isnull(df_output['zip_cd'])]
df_output_1=df_output[pd.notnull(df_output['zip_cd'])]
print(df_output_2.shape)

del df_output_2['zip_cd']
del df_output_2['zip_type']
#

df_10_zips_all_new_stores=pd.DataFrame()
for ind, row in df_output_2.iterrows():
    location_id=row['location_id']
    store_location=(row['latitude_meas'],row['longitude_meas'])
    for zip_cd,v in zip_centers.items():
        dist=haversine(store_location,v,unit="mi")
        if dist<=10:
            # print(location_id,zip_cd)
            df=pd.DataFrame({"location_id":[location_id],"zip_cd":[zip_cd],"dist":[dist]})
            df_10_zips_all_new_stores=df_10_zips_all_new_stores.append(df)
df_10_zips_all_new_stores['zip_type']="zip_10"
print(df_10_zips_all_new_stores['location_id'].nunique())
#

(36, 5)
36

In [15]:
print([x for x in df_output_2['location_id'].unique().tolist() if x not in df_10_zips_all_new_stores['location_id'].tolist()])
df_new_store_zips=df_10_zips_all_new_stores[['location_id','zip_cd','zip_type']]
df_output_2=pd.merge(df_output_2,df_new_store_zips,how="left")
df_output=df_output_1.append(df_output_2)

df_output['zip_type']=df_output['zip_type'].replace("zip_10","P")

[]

In [16]:
df_output_zip_label=df_output[['zip_cd','zip_type']].drop_duplicates().sort_values(['zip_cd','zip_type']).drop_duplicates("zip_cd")
df_output_zip_label=df_output_zip_label.rename(columns={"zip_cd":"cleaned_zip"})

In [17]:
print(df_id_by_group_zip['cleaned_zip'].apply(len).unique())
print(df_output_zip_label['cleaned_zip'].apply(len).unique())
df_id_by_group_zip=pd.merge(df_id_by_group_zip,df_output_zip_label,on="cleaned_zip",how="left")
df_id_by_group_zip['zip_type']=df_id_by_group_zip['zip_type'].fillna("T")
df_id_by_group_zip.head(4)

[5]
[5]

                      group cleaned_zip  customer_id_hashed zip_type
0  active_balance_as_Q2_aud       00000              610591        T
1  active_balance_as_Q2_aud       00001                   2        T
2  active_balance_as_Q2_aud       00002                   1        T
3  active_balance_as_Q2_aud       00003                   3        T

In [18]:
agg_func={"cleaned_zip":"count","customer_id_hashed":"sum"}
df_output_2=df_id_by_group_zip.groupby(['group','zip_type'])['cleaned_zip','customer_id_hashed'].agg(agg_func).reset_index()
df_output_2

                       group zip_type  cleaned_zip  customer_id_hashed
0   active_balance_as_Q2_aud        P         5758             4052681
1   active_balance_as_Q2_aud        S         7392             1436797
2   active_balance_as_Q2_aud        T        37690             1139811
3                  high_high        P         5600             1259928
4                  high_high        S         7377              332255
5                  high_high        T        18034              194992
6                   high_low        P         4380               22210
7                   high_low        S         2891                5218
8                   high_low        T         1309                3619
9                   high_med        P         5552              866120
10                  high_med        S         7352              217292
11                  high_med        T        15863              129605
12                  low_high        P         4760               29772
13                  low_high        S         4956               12762
14                  low_high        T         3450               14437
15                   low_low        P         5598             1240952
16                   low_low        S         7387              435866
17                   low_low        T        22000              409464
18                   low_med        P         5428              316467
19                   low_med        S         7257              126292
20                   low_med        T        13773              122725
21                  med_high        P         5445              420088
22                  med_high        S         7302              156661
23                  med_high        T        13981              123188
24                   med_low        P         5612             1001446
25                   med_low        S         7375              305771
26                   med_low        T        19098              241636
27                   med_med        P         5656             2214001
28                   med_med        S         7392              732051
29                   med_med        T        25159              539339

In [19]:
df_id_by_group_zip.head(3)

                      group cleaned_zip  customer_id_hashed zip_type
0  active_balance_as_Q2_aud       00000              610591        T
1  active_balance_as_Q2_aud       00001                   2        T
2  active_balance_as_Q2_aud       00002                   1        T

In [20]:
df_id_by_group_zip['cleaned_zip'].apply(len).unique()

array([5])

In [21]:
df_unique_zips=df_id_by_group_zip[['cleaned_zip']].drop_duplicates()
print(df_unique_zips.shape)
df_unique_zips=df_unique_zips[df_unique_zips['cleaned_zip'].isin(zip_centers.keys())]
print(df_unique_zips.shape)

(59942, 1)
(37205, 1)

In [22]:
dict_BL_store_coor=df_store_list.copy()
dict_BL_store_coor['coor']=dict_BL_store_coor[['latitude_meas','longitude_meas']].values.tolist()
dict_BL_store_coor=dict_BL_store_coor.set_index("location_id").to_dict()['coor']

In [23]:
df_unique_zips=df_unique_zips.reset_index()
del df_unique_zips['index']
df_unique_zips['nearest_BL_store']=np.nan
df_unique_zips['nearest_BL_dist']=np.nan
i=0
for ind,row in df_unique_zips.iterrows():
    i+=1
    zip_cd=row['cleaned_zip']
    zip_coor=zip_centers[zip_cd]
    nearest_BL_store=None
    nearest_dist=np.inf
    for k,v in dict_BL_store_coor.items():
        dist=haversine(zip_coor,v,unit="mi")
        if dist<=nearest_dist:
            nearest_dist=dist
            nearest_BL_store=k
    df_unique_zips.loc[ind,'nearest_BL_store']=nearest_BL_store
    df_unique_zips.loc[ind,'nearest_BL_dist']=nearest_dist
    
    if i%1000==1:
        print(i,datetime.datetime.now())

1 2020-07-02 11:41:03.416590
1001 2020-07-02 11:41:11.212749
2001 2020-07-02 11:41:19.289375
3001 2020-07-02 11:41:27.489959
4001 2020-07-02 11:41:35.357323
5001 2020-07-02 11:41:43.146420
6001 2020-07-02 11:41:50.949950
7001 2020-07-02 11:41:58.761193
8001 2020-07-02 11:42:06.824560
9001 2020-07-02 11:42:14.867351
10001 2020-07-02 11:42:22.732288
11001 2020-07-02 11:42:30.588306
12001 2020-07-02 11:42:38.413104
13001 2020-07-02 11:42:46.256281
14001 2020-07-02 11:42:54.101977
15001 2020-07-02 11:43:01.937866
16001 2020-07-02 11:43:09.853841
17001 2020-07-02 11:43:17.749689
18001 2020-07-02 11:43:25.669046
19001 2020-07-02 11:43:33.582795
20001 2020-07-02 11:43:41.936617
21001 2020-07-02 11:43:50.297651
22001 2020-07-02 11:43:58.661296
23001 2020-07-02 11:44:07.010822
24001 2020-07-02 11:44:15.382387
25001 2020-07-02 11:44:23.727996
26001 2020-07-02 11:44:32.045897
27001 2020-07-02 11:44:40.093467
28001 2020-07-02 11:44:48.045573
29001 2020-07-02 11:44:56.323149
30001 2020-07-02 11:45:04.424430
31001 2020-07-02 11:45:12.845269
32001 2020-07-02 11:45:21.229203
33001 2020-07-02 11:45:29.711118
34001 2020-07-02 11:45:38.264972
35001 2020-07-02 11:45:46.381056
36001 2020-07-02 11:45:54.460335
37001 2020-07-02 11:46:02.534133

In [24]:
print(df_unique_zips.shape)
print(df_unique_zips['nearest_BL_dist'].min(),df_unique_zips['nearest_BL_dist'].max())
df_unique_zips.head(5)

(37205, 3)
0.005020937956034676 2452.123097243565

  cleaned_zip nearest_BL_store  nearest_BL_dist
0       01001             1863         1.599410
1       01002             1493         7.019248
2       01003             1493         6.701374
3       01004             1493         6.658010
4       01005             1802        11.513713

In [25]:
df_id_by_group_zip=pd.merge(df_id_by_group_zip,df_unique_zips,on="cleaned_zip",how="left")
df_id_by_group_zip.shape

(290827, 6)

In [26]:
df_output_1=df_id_by_group_zip[pd.notnull(df_id_by_group_zip['nearest_BL_store'])]
df_output_1['weighted_dist']=df_output_1['nearest_BL_dist']*df_output_1['customer_id_hashed']
df_output_1=df_output_1.groupby('group')['weighted_dist','customer_id_hashed'].sum().reset_index()
df_output_1['weighted_avg']=df_output_1['weighted_dist']/df_output_1['customer_id_hashed']
df_output_1

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                      group  weighted_dist  customer_id_hashed  weighted_avg
0  active_balance_as_Q2_aud   3.580498e+07             5987297      5.980157
1                 high_high   7.314471e+06             1680755      4.351896
2                  high_low   1.161230e+05               28801      4.031910
3                  high_med   4.860494e+06             1141011      4.259813
4                  low_high   3.173028e+05               47121      6.733787
5                   low_low   1.042042e+07             1819312      5.727672
6                   low_med   3.050893e+06              487289      6.260952
7                  med_high   3.686626e+06              627114      5.878718
8                   med_low   7.142219e+06             1398400      5.107422
9                   med_med   1.706225e+07             3171889      5.379207

In [27]:
df_output_1_PST=df_id_by_group_zip[pd.notnull(df_id_by_group_zip['nearest_BL_store'])]
df_output_1_PST['weighted_dist']=df_output_1_PST['nearest_BL_dist']*df_output_1_PST['customer_id_hashed']
df_output_1_PST=df_output_1_PST.groupby(['group','zip_type'])['weighted_dist','customer_id_hashed'].sum().reset_index()
df_output_1_PST['weighted_avg']=df_output_1_PST['weighted_dist']/df_output_1_PST['customer_id_hashed']
df_output_1_PST

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,group,zip_type,weighted_dist,customer_id_hashed,weighted_avg
0,active_balance_as_Q2_aud,P,1.165968e+07,4052681,2.877029
1,active_balance_as_Q2_aud,S,1.270558e+07,1436797,8.842986
2,active_balance_as_Q2_aud,T,1.143972e+07,497819,22.979677
3,high_high,P,3.115722e+06,1259928,2.472937
4,high_high,S,2.549526e+06,332255,7.673402
5,high_high,T,1.649223e+06,88572,18.620140
6,high_low,P,5.428920e+04,22210,2.444358
7,high_low,S,3.758912e+04,5218,7.203740
8,high_low,T,2.424471e+04,1373,17.658203
9,high_med,P,2.131490e+06,866120,2.460964
10,high_med,S,1.659463e+06,217292,7.637019
11,high_med,T,1.069541e+06,57599,18.568741
12,low_high,P,9.572195e+04,29772,3.215167
13,low_high,S,1.252694e+05,12762,9.815813
14,low_high,T,9.631144e+04,4587,20.996607
15,low_low,P,3.591374e+06,1240952,2.894048
16,low_low,S,3.826825e+06,435866,8.779819
17,low_low,T,3.002224e+06,142494,21.069122
18,low_med,P,9.620054e+05,316467,3.039828
19,low_med,S,1.140023e+06,126292,9.026882
20,low_med,T,9.488645e+05,44530,21.308433
21,med_high,P,1.251843e+06,420088,2.979955
22,med_high,S,1.407317e+06,156661,8.983199
23,med_high,T,1.027466e+06,50365,20.400396
24,med_low,P,2.740213e+06,1001446,2.736257
25,med_low,S,2.571383e+06,305771,8.409507
26,med_low,T,1.830622e+06,91183,20.076356
27,med_med,P,6.194568e+06,2214001,2.797907
28,med_med,S,6.226533e+06,732051,8.505601
29,med_med,T,4.641145e+06,225837,20.550862

In [28]:
writer=pd.ExcelWriter("./BL_M1_audience_9_grid_count_and_dist_JL_"+str(datetime.datetime.now().date())+".xlsx",engine='xlsxwriter')
df_output_1.to_excel(writer,"valid_zips_ids_by_group",index=False)
df_output_1_PST.to_excel(writer,"valid_zips_ids_by_group_PST",index=False)
df_output_2.to_excel(writer,"id_count_by_group",index=False)
writer.save()

In [29]:
df_output_2['group'].nunique()

10