In [1]:
import pandas as pd
import numpy as np
import os
import datetime

os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Planner_Request/Rewards_NonR_LawGardenPatio_JT_20190215'

In [2]:
taxonomy=pd.read_csv("/home/jian/BigLots/static_files/ProductTaxonomy/MediaStormProductTaxonomy20190201-133832-059.txt",dtype=str,sep="|")
taxonomy['subclass_id']=taxonomy['subclass_id'].apply(lambda x: x.zfill(3))
division_id_id_name=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Division Names.txt",dtype=str,sep="|")
department_id_name=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Department Names.txt",dtype=str,sep="|")
class_id_name=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Class Names.txt",dtype=str,sep="|",encoding ='ISO-8859-1')

Patio_RUGS_ClassID=class_id_name[class_id_name['class_code_desc']=="PATIO RUGS"]['class_code_id'].unique().tolist()
if len(Patio_RUGS_ClassID)==1:
    Patio_RUGS_ClassID=Patio_RUGS_ClassID[0]
else:
    Patio_RUGS_ClassID=np.nan
    
Patio_RUGS_ClassID

'35077'

In [4]:
df=pd.read_table("/home/jian/BigLots/2018_by_weeks/MediaStorm_2018-10-13/MediaStormDailySales20181016-120059-769.txt",sep="|",dtype=str)
df['subclass_transaction_amt']=df['subclass_transaction_amt'].astype(float)

df_non_rewards=df[pd.isnull(df['customer_id_hashed'])]

In [7]:
df_non_rewards=df_non_rewards[df_non_rewards['class_code_id']=="35077"]

In [9]:
df_non_rewards['subclass_transaction_amt'].sum()

-129.07999999999998

In [10]:
df_non_rewards

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,subclass_transaction_units,subclass_transaction_amt
917275,5359,2018-10-08,9011,NaN,35077,1,-1,-150.00
1376818,4155,2018-10-08,9458,NaN,35077,1,1,49.00
2865033,4397,2018-10-10,2888,NaN,35077,1,1,110.00
4331991,4557,2018-10-13,8035,NaN,35077,1,1,49.00
4783615,1314,2018-10-13,6655,NaN,35077,1,-1,-150.00
5525741,5213,2018-10-07,2364,NaN,35077,1,1,89.00
7564002,1075,2018-10-09,2224,NaN,35077,1,-1,-49.00
7684058,1075,2018-10-10,7079,NaN,35077,1,1,3.92
8062274,4088,2018-10-10,3768,NaN,35077,1,-1,-150.00
8918860,1854,2018-10-12,9301,NaN,35077,1,1,69.00