In [1]:
# 2019 Q1
import pandas as pd
import numpy as np
import datetime
import os
import glob
import gc
os.getcwd()

'/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Post_YoY'

In [2]:
store_info=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20190501-135143-036.txt",sep="|",dtype=str)
store_info=store_info[['location_id','city_nm','state_nm','zip_cd','open_dt']]

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20190401-134939-117.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20190301-134800-131.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20190201-133832-957.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20190101-135843-638.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20181201-135231-415.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20181101-134628-331.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20181001-135417-132.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20180901-133640-935.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20180801-133641-576.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20180703.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20171115.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)

store_info_2=pd.read_table("/home/jian/BigLots/static_files/Store_list/MediaStormStores20170913.txt",sep="|",dtype=str)
store_info_2=store_info_2[['location_id','city_nm','state_nm','zip_cd','open_dt']]
store_info_2=store_info_2[~store_info_2['location_id'].isin(store_info['location_id'].tolist())]
store_info=store_info.append(store_info_2)
store_info['zip_cd']=store_info['zip_cd'].apply(lambda x: x.split("-")[0].zfill(5))


DMA_Zip=pd.read_excel("/home/jian/Docs/Geo_mapping/Zips by DMA by County16-17 nielsen.xlsx",skiprows=1,dtype=str)
DMA_Zip=DMA_Zip.iloc[:,[0,2]]
DMA_Zip.columns=['zip_cd','DMA']
DMA_Zip=DMA_Zip.drop_duplicates(['zip_cd'])


store_info=pd.merge(store_info,DMA_Zip,on="zip_cd",how="left")

In [3]:
weeks_2019Q1=[datetime.date(2019,2,9)+datetime.timedelta(days=x*7) for x in range(13)]
weeks_2018Q1=[x-datetime.timedelta(days=52*7) for x in weeks_2019Q1]

In [4]:
weeks_2018Q1

[datetime.date(2018, 2, 10),
 datetime.date(2018, 2, 17),
 datetime.date(2018, 2, 24),
 datetime.date(2018, 3, 3),
 datetime.date(2018, 3, 10),
 datetime.date(2018, 3, 17),
 datetime.date(2018, 3, 24),
 datetime.date(2018, 3, 31),
 datetime.date(2018, 4, 7),
 datetime.date(2018, 4, 14),
 datetime.date(2018, 4, 21),
 datetime.date(2018, 4, 28),
 datetime.date(2018, 5, 5)]

In [5]:
def recursive_file_gen(my_root_dir):
    for root, dirs, files in os.walk(my_root_dir):
        for file in files:
            yield os.path.join(root, file)

In [6]:
Q1_files_2018="/home/jian/BigLots/2017_Daily_Sales_Weeks_Quarter_as_Transfer/2018_Q1/*.txt"
Q1_files_2018=glob.glob(Q1_files_2018)

len(Q1_files_2018)

13

In [10]:
folder_2019_by_week="/home/jian/BigLots/2019_by_weeks/"

Q1_files_2019_all_types=list(recursive_file_gen(folder_2019_by_week))
Q1_files_2019_all_types=[x for x in Q1_files_2019_all_types if "aily" in x]
Q1_files_2019=[]
for week_end_date in weeks_2019Q1:
    file_path=[x for x in Q1_files_2019_all_types if str(week_end_date) in x]
    Q1_files_2019=Q1_files_2019+file_path
    
print(len(Q1_files_2019))

13

In [7]:
def week_end_dt(x):
    if x.weekday()==6:
        y=x+datetime.timedelta(days=6)
    else:
        y=x+datetime.timedelta(days=(5-x.weekday()))
    return y

def count_unique(x):
    return len(set(x))

In [8]:
def load_and_agg_df_subclass(file_list):
    
    i_counter=0

    sales_agg_df=pd.DataFrame()
    ids_by_week_store=pd.DataFrame()

    for file_path in file_list:
        df=pd.read_table(file_path,dtype=str,sep="|",usecols=None,nrows=None)
        df=df[df['location_id']!="6990"]
        # print(df.shape)
        df=df.drop_duplicates()
        # print(df.shape)
        df['transaction_dt']=df['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").date())
        df['subclass_transaction_amt']=df['subclass_transaction_amt'].astype(float)

        df['rewards_label']=np.where(pd.isnull(df['customer_id_hashed']),"Non_Rewards","Rewards")

        date_max=df['transaction_dt'].max()
        date_min=df['transaction_dt'].min()

        # print(i_counter,date_max,date_min,datetime.datetime.now())

        if ((date_max-date_min).days==6) & (date_max.weekday()==5):
            df['week_end_dt']=date_max
            df_agg_sales=df.groupby(['location_id','week_end_dt','rewards_label'])['subclass_transaction_amt'].sum().to_frame().reset_index()
            df_agg_sales=df_agg_sales.rename(columns={"subclass_transaction_amt":"sales"})
            
            df=df[df['subclass_transaction_amt']>0]
            df_agg_trans=df[['location_id','transaction_dt','week_end_dt','transaction_id','customer_id_hashed','rewards_label']].drop_duplicates()
            df_agg_trans['transactions']=1
            df_agg_trans=df_agg_trans.groupby(['location_id','week_end_dt','rewards_label'])['transactions'].sum().to_frame().reset_index()
            
            df_agg_sales=pd.merge(df_agg_sales,df_agg_trans,on=['location_id','week_end_dt','rewards_label'],how="outer")
            
            df=df[df['rewards_label']=="Rewards"]
            df=df[['location_id','week_end_dt','customer_id_hashed']].drop_duplicates()

        else:
            print("Date in the data not 7 days",file_path)
            df=pd.DataFrame()
            df_agg_sales=pd.DataFrame()

        sales_agg_df=sales_agg_df.append(df_agg_sales)
        ids_by_week_store=ids_by_week_store.append(df)
        i_counter+=1

    return sales_agg_df,ids_by_week_store

In [15]:
pd.read_table(Q1_files_2019[1],nrows=10,dtype=str,sep="|")

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt
0,4645,2019-02-16,5694,NaN,12006,1,810216162,1,00000000000001.0000
1,1363,2019-02-13,861,6405a1a5e7c8e7eed6d6d85069660cfa31d4d635403dfd...,11009,2,110106912,2,00000000000001.6000
2,1012,2019-02-10,4867,f56a202e1bbdca986d3a2e70cb760ab099740c4561b3c7...,15004,2,810297158,1,00000000000001.9000
3,4554,2019-02-14,9977,NaN,14001,2,810155132,1,00000000000004.0000
4,1181,2019-02-10,6568,da6a24644efbdd4a773b59f6c15fbc1bc0550d10a4e4a6...,11003,4,810135555,1,00000000000000.8000
5,242,2019-02-16,9164,NaN,35046,6,810385788,1,00000000000005.0000
6,4295,2019-02-11,413,0c1be82404797e3b741177ea0ec45c1e4584b501a40f0d...,12006,14,810333370,1,00000000000003.5000
7,4551,2019-02-11,9643,NaN,12006,1,810216162,2,00000000000002.0000
8,4617,2019-02-15,7874,58a4f4c1783f49049b2d1ce5b86f7bfdebd8176eb15878...,11007,6,810363610,3,00000000000002.2500
9,461,2019-02-16,6863,6acaacee2b0e2ee082775abd4b94d67646b42877849f86...,48001,1,810348406,1,00000000000005.0000

In [17]:
def load_and_agg_df(file_list):
    
    i_counter=0

    sales_agg_df=pd.DataFrame()
    ids_by_week_store=pd.DataFrame()

    for file_path in file_list:
        df=pd.read_table(file_path,dtype=str,sep="|",usecols=None,nrows=None)
        df=df[df['location_id']!="6990"]
        # print(df.shape)
        df=df.drop_duplicates()
        # print(df.shape)
        
        
        if "subclass_transaction_amt" in df.columns.tolist():
        
            df['transaction_dt']=df['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").date())
            df['subclass_transaction_amt']=df['subclass_transaction_amt'].astype(float)

            df['rewards_label']=np.where(pd.isnull(df['customer_id_hashed']),"Non_Rewards","Rewards")

            date_max=df['transaction_dt'].max()
            date_min=df['transaction_dt'].min()

            # print(i_counter,date_max,date_min,datetime.datetime.now())

            if ((date_max-date_min).days==6) & (date_max.weekday()==5):
                df['week_end_dt']=date_max
                df_agg_sales=df.groupby(['location_id','week_end_dt','rewards_label'])['subclass_transaction_amt'].sum().to_frame().reset_index()
                df_agg_sales=df_agg_sales.rename(columns={"subclass_transaction_amt":"sales"})

                df=df[df['subclass_transaction_amt']>0]
                df_agg_trans=df[['location_id','transaction_dt','week_end_dt','transaction_id','customer_id_hashed','rewards_label']].drop_duplicates()
                df_agg_trans['transactions']=1
                df_agg_trans=df_agg_trans.groupby(['location_id','week_end_dt','rewards_label'])['transactions'].sum().to_frame().reset_index()

                df_agg_sales=pd.merge(df_agg_sales,df_agg_trans,on=['location_id','week_end_dt','rewards_label'],how="outer")

                df=df[df['rewards_label']=="Rewards"]
                df=df[['location_id','week_end_dt','customer_id_hashed']].drop_duplicates()

            else:
                print("Date in the data not 7 days",file_path)
                df=pd.DataFrame()
                df_agg_sales=pd.DataFrame()

            sales_agg_df=sales_agg_df.append(df_agg_sales)
            ids_by_week_store=ids_by_week_store.append(df)
            i_counter+=1
            
        elif "item_transaction_amt" in df.columns.tolist():
        
            df['transaction_dt']=df['transaction_dt'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").date())
            df['item_transaction_amt']=df['item_transaction_amt'].astype(float)

            df['rewards_label']=np.where(pd.isnull(df['customer_id_hashed']),"Non_Rewards","Rewards")

            date_max=df['transaction_dt'].max()
            date_min=df['transaction_dt'].min()

            # print(i_counter,date_max,date_min,datetime.datetime.now())

            if ((date_max-date_min).days==6) & (date_max.weekday()==5):
                df['week_end_dt']=date_max
                df_agg_sales=df.groupby(['location_id','week_end_dt','rewards_label'])['item_transaction_amt'].sum().to_frame().reset_index()
                df_agg_sales=df_agg_sales.rename(columns={"item_transaction_amt":"sales"})

                df=df[df['item_transaction_amt']>0]
                df_agg_trans=df[['location_id','transaction_dt','week_end_dt','transaction_id','customer_id_hashed','rewards_label']].drop_duplicates()
                df_agg_trans['transactions']=1
                df_agg_trans=df_agg_trans.groupby(['location_id','week_end_dt','rewards_label'])['transactions'].sum().to_frame().reset_index()

                df_agg_sales=pd.merge(df_agg_sales,df_agg_trans,on=['location_id','week_end_dt','rewards_label'],how="outer")

                df=df[df['rewards_label']=="Rewards"]
                df=df[['location_id','week_end_dt','customer_id_hashed']].drop_duplicates()

            else:
                print("Date in the data not 7 days",file_path)
                df=pd.DataFrame()
                df_agg_sales=pd.DataFrame()

            sales_agg_df=sales_agg_df.append(df_agg_sales)
            ids_by_week_store=ids_by_week_store.append(df)
            i_counter+=1
        else:
            print("Check",file_path)

    return sales_agg_df,ids_by_week_store

In [18]:
sales_agg_2018, ids_by_week_store_2018 = load_and_agg_df(Q1_files_2018)

sales_agg_2019, ids_by_week_store_2019 = load_and_agg_df(Q1_files_2019)

In [19]:
unique_id_2018_by_store=ids_by_week_store_2018.groupby('location_id')['customer_id_hashed'].apply(count_unique).to_frame().reset_index().rename(columns={"customer_id_hashed":"Q1_unique_id"})
unique_id_2019_by_store=ids_by_week_store_2019.groupby('location_id')['customer_id_hashed'].apply(count_unique).to_frame().reset_index().rename(columns={"customer_id_hashed":"Q1_unique_id"})
unique_id_2018_by_store['rewards_label']="Rewards"
unique_id_2019_by_store['rewards_label']="Rewards"


unique_id_2018_by_store_week=ids_by_week_store_2018.groupby(['location_id','week_end_dt'])['customer_id_hashed'].apply(count_unique).to_frame().reset_index().rename(columns={"customer_id_hashed":"Q1_unique_id"})
unique_id_2019_by_store_week=ids_by_week_store_2019.groupby(['location_id','week_end_dt'])['customer_id_hashed'].apply(count_unique).to_frame().reset_index().rename(columns={"customer_id_hashed":"Q1_unique_id"})
unique_id_2018_by_store_week['week_end_dt']=unique_id_2018_by_store_week['week_end_dt'].apply(lambda x: x.date())
unique_id_2019_by_store_week['week_end_dt']=unique_id_2019_by_store_week['week_end_dt'].apply(lambda x: x.date())
unique_id_2018_by_store_week['rewards_label']="Rewards"
unique_id_2019_by_store_week['rewards_label']="Rewards"

In [20]:
sales_agg_2018_with_id_by_week=pd.merge(sales_agg_2018,unique_id_2018_by_store_week,on=['location_id','week_end_dt','rewards_label'],how="outer")
sales_agg_2019_with_id_by_week=pd.merge(sales_agg_2019,unique_id_2019_by_store_week,on=['location_id','week_end_dt','rewards_label'],how="outer")

In [21]:
sales_agg_2018_with_id_by_week['location_id']=sales_agg_2018_with_id_by_week['location_id'].astype(int)
sales_agg_2019_with_id_by_week['location_id']=sales_agg_2019_with_id_by_week['location_id'].astype(int)
unique_id_2018_by_store['location_id']=unique_id_2018_by_store['location_id'].astype(int)
unique_id_2019_by_store['location_id']=unique_id_2019_by_store['location_id'].astype(int)

In [22]:
writer=pd.ExcelWriter("/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Post_YoY/BL_2019_Q1_post_data_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
sales_agg_2018_with_id_by_week.to_excel(writer,"sales_by_week_2018",index=False)
sales_agg_2019_with_id_by_week.to_excel(writer,"sales_by_week_2019",index=False)
unique_id_2018_by_store.to_excel(writer,"ids_by_store_quarter_2018",index=False)
unique_id_2019_by_store.to_excel(writer,"ids_by_store_quarter_2019",index=False)
writer.save()

In [23]:
ids_by_week_store_2018.to_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Post_YoY/BL_2019_Q1_ids_2018Q1_by_store_JL_"+str(datetime.datetime.now().date())+".csv",index=False)
ids_by_week_store_2019.to_csv("/home/jian/Projects/Big_Lots/Analysis/2019_Q1/Post_YoY/BL_2019_Q1_ids_2019Q1_by_store_JL_"+str(datetime.datetime.now().date())+".csv",index=False)