In [4]:
import pandas as pd
import ete3
import os

In [8]:
if not os.path.exists("/home/jian/Projects/LIFT/SEM/Original_hour_2017-09-25_2017-10-03.csv"):
    os.mkdir("/home/jian/Projects/LIFT/SEM/try")

In [22]:
data=pd.read_csv("/home/jian/Projects/Big_Lots/Browsing_Path/Full Paths Report for BigLots.com Commerce (Prod) - June 2018.csv",skiprows=23)
data=data.iloc[:,[0,1,2]]
data.columns=['Group','Site','Visits']
data=data.reset_index().rename(columns={"index":"row_num"})
data.index=data['Group']
data_dict_df=data[~pd.isnull(data['Group'])]

In [23]:
group_row_dict=data_dict_df[['row_num']].T.to_dict()

In [27]:
max(list(group_row_dict.keys()))

50000.0

In [14]:
for k in range(data['index'].max()):
    k_num=k+1
    df=

   index          Site    Visits
0    1.0  Entered Site  445936.0
1    NaN     weekly-ad       NaN
2    NaN   Exited Site       NaN
3    2.0  Entered Site  414645.0
4    NaN          home       NaN
5    NaN   Exited Site       NaN
6    3.0  Entered Site  221813.0
7    NaN          home       NaN
8    NaN        search       NaN
9    NaN   Exited Site       NaN

In [15]:
data.tail(10)

          index                                      Site  Visits
252124  49999.0                              Entered Site     8.0
252125      NaN  category:outdoor:pools &amp; accessories     NaN
252126      NaN                            pdp:p810304549     NaN
252127      NaN                            pdp:p810373402     NaN
252128      NaN                               Exited Site     NaN
252129  50000.0                              Entered Site     8.0
252130      NaN  category:outdoor:pools &amp; accessories     NaN
252131      NaN                            pdp:p810337686     NaN
252132      NaN                            pdp:p810337685     NaN
252133      NaN                               Exited Site     NaN