In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/home/jian/BigLots/MediaStorm_2020-04-18/MediaStormSalesWeekly20200421-112106-939.txt",sep="|")

In [3]:
df.head(2)

,location_id,week_end_dt,fiscal_week_nbr,gross_sales_amt,gross_transaction_cnt,class_code_id,subclass_id,subclass_gross_sales_amt
0,1,2020-04-18,11,148126.12,2442,11001,2,358.43
1,1,2020-04-18,11,148126.12,2442,11001,4,25.48

In [4]:
df=df[['location_id','week_end_dt','gross_sales_amt','gross_transaction_cnt']].drop_duplicates()

In [5]:
df

         location_id week_end_dt  gross_sales_amt  gross_transaction_cnt
0                  1  2020-04-18        148126.12                   2442
447                3  2020-04-18        120458.06                   2514
893               29  2020-04-18         79170.07                   1155
1288              30  2020-04-18         74665.86                   1256
1682              42  2020-04-18         91383.28                   1537
...              ...         ...              ...                    ...
1135866         5411  2020-04-18        112401.99                   2548
1136303         5412  2020-04-18        127750.71                   1829
1136723         5413  2020-04-18        135013.88                   1979
1137123         5414  2020-04-18        118983.07                   2040
1137544         6990  2020-04-18       2272223.84                  21395

[1399 rows x 4 columns]

In [6]:
df['gross_sales_amt'].sum()

129516917.91

In [8]:
df['gross_transaction_cnt'].sum()

2461460

In [9]:
df['AOV']=df['gross_sales_amt']/df['gross_transaction_cnt']

In [10]:
df

,location_id,week_end_dt,gross_sales_amt,gross_transaction_cnt,AOV
0,1,2020-04-18,148126.12,2442,60.657707
447,3,2020-04-18,120458.06,2514,47.914901
893,29,2020-04-18,79170.07,1155,68.545515
1288,30,2020-04-18,74665.86,1256,59.447341
1682,42,2020-04-18,91383.28,1537,59.455615
...,...,...,...,...,...
1135866,5411,2020-04-18,112401.99,2548,44.113811
1136303,5412,2020-04-18,127750.71,1829,69.847299
1136723,5413,2020-04-18,135013.88,1979,68.223284
1137123,5414,2020-04-18,118983.07,2040,58.325034
1137544,6990,2020-04-18,2272223.84,21395,106.203498

In [12]:
df[df['location_id']!=6990]['gross_transaction_cnt'].sum()

2440065

In [13]:
df[df['location_id']==6990]['gross_transaction_cnt'].sum()

21395